EffectsClientConfig={
[241] = {
	id = 241,
},
[242] = {
	id = 242,
},
[243] = {
	id = 243,
},
[244] = {
	id = 244,
},
[245] = {
	id = 245,
},
[321] = {
	id = 321,
},
[322] = {
	id = 322,
},
[323] = {
	id = 323,
},
[324] = {
	id = 324,
},
[325] = {
	id = 325,
},
[331] = {
	id = 331,
},
[332] = {
	id = 332,
},
[333] = {
	id = 333,
},
[334] = {
	id = 334,
},
[335] = {
	id = 335,
},
[341] = {
	id = 341,
},
[342] = {
	id = 342,
},
[343] = {
	id = 343,
},
[344] = {
	id = 344,
},
[345] = {
	id = 345,
},
[351] = {
	id = 351,
},
[352] = {
	id = 352,
},
[353] = {
	id = 353,
},
[354] = {
	id = 354,
},
[355] = {
	id = 355,
},
[991] = {
	id = 991,
},
[992] = {
	id = 992,
},
[993] = {
	id = 993,
},
[994] = {
	id = 994,
},
[995] = {
	id = 995,
},
}