--J-技能配置表.xlsx 神兵技能修正表
GWSkillReviseConfig={
[1] = {
	skill = 15,
	gwIndex = 9001,
	targetEff = {100101},
},
[2] = {
	skill = 15,
	gwIndex = 9002,
	targetEff = {100102},
},
[3] = {
	skill = 15,
	gwIndex = 9003,
	targetEff = {100103},
},
[4] = {
	skill = 15,
	gwIndex = 9004,
	targetEff = {100104},
},
[5] = {
	skill = 15,
	gwIndex = 9005,
	targetEff = {100105},
},
[6] = {
	skill = 15,
	gwIndex = 9006,
	targetEff = {100106},
},
[7] = {
	skill = 15,
	gwIndex = 9007,
	targetEff = {100107},
},
[8] = {
	skill = 15,
	gwIndex = 9008,
	targetEff = {100108},
},
[9] = {
	skill = 15,
	gwIndex = 9009,
	targetEff = {100109},
},
[10] = {
	skill = 15,
	gwIndex = 9010,
	targetEff = {100110},
},
[11] = {
	skill = 15,
	gwIndex = 9011,
	targetEff = {100111},
},
[12] = {
	skill = 15,
	gwIndex = 9012,
	targetEff = {100112},
},
[13] = {
	skill = 15,
	gwIndex = 9013,
	targetEff = {100113},
},
[14] = {
	skill = 15,
	gwIndex = 9014,
	targetEff = {100114},
},
[15] = {
	skill = 15,
	gwIndex = 9015,
	targetEff = {100115},
},
[16] = {
	skill = 15,
	gwIndex = 9016,
	targetEff = {100116},
},
[17] = {
	skill = 15,
	gwIndex = 9017,
	targetEff = {100117},
},
[18] = {
	skill = 15,
	gwIndex = 9018,
	targetEff = {100118},
},
[19] = {
	skill = 15,
	gwIndex = 9019,
	targetEff = {100119},
},
[20] = {
	skill = 15,
	gwIndex = 9020,
	targetEff = {100120},
},
[21] = {
	skill = 13,
	gwIndex = 3001,
	d = 300,
},
[22] = {
	skill = 13,
	gwIndex = 3002,
	d = 600,
},
[23] = {
	skill = 13,
	gwIndex = 3003,
	d = 900,
},
[24] = {
	skill = 13,
	gwIndex = 3004,
	d = 1200,
},
[25] = {
	skill = 13,
	gwIndex = 3005,
	d = 1500,
},
[26] = {
	skill = 13,
	gwIndex = 3006,
	d = 1800,
},
[27] = {
	skill = 13,
	gwIndex = 3007,
	d = 2100,
},
[28] = {
	skill = 13,
	gwIndex = 3008,
	d = 2400,
},
[29] = {
	skill = 13,
	gwIndex = 3009,
	d = 2700,
},
[30] = {
	skill = 13,
	gwIndex = 3010,
	d = 3000,
},
[31] = {
	skill = 13,
	gwIndex = 3011,
	d = 3300,
},
[32] = {
	skill = 13,
	gwIndex = 3012,
	d = 3600,
},
[33] = {
	skill = 13,
	gwIndex = 3013,
	d = 3900,
},
[34] = {
	skill = 13,
	gwIndex = 3014,
	d = 4200,
},
[35] = {
	skill = 13,
	gwIndex = 3015,
	d = 4500,
},
[36] = {
	skill = 13,
	gwIndex = 3016,
	d = 4800,
},
[37] = {
	skill = 13,
	gwIndex = 3017,
	d = 5100,
},
[38] = {
	skill = 13,
	gwIndex = 3018,
	d = 5400,
},
[39] = {
	skill = 13,
	gwIndex = 3019,
	d = 5700,
},
[40] = {
	skill = 13,
	gwIndex = 3020,
	d = 6000,
},
[41] = {
	skill = 14,
	gwIndex = 13001,
	selfEff = {100001},
},
[42] = {
	skill = 14,
	gwIndex = 13002,
	selfEff = {100002},
},
[43] = {
	skill = 14,
	gwIndex = 13003,
	selfEff = {100003},
},
[44] = {
	skill = 14,
	gwIndex = 13004,
	selfEff = {100004},
},
[45] = {
	skill = 14,
	gwIndex = 13005,
	selfEff = {100005},
},
[46] = {
	skill = 14,
	gwIndex = 13006,
	selfEff = {100006},
},
[47] = {
	skill = 14,
	gwIndex = 13007,
	selfEff = {100007},
},
[48] = {
	skill = 14,
	gwIndex = 13008,
	selfEff = {100008},
},
[49] = {
	skill = 14,
	gwIndex = 13009,
	selfEff = {100009},
},
[50] = {
	skill = 14,
	gwIndex = 13010,
	selfEff = {100010},
},
[51] = {
	skill = 24,
	gwIndex = 6001,
	args = {{type=6, vals = {0.2}}},
},
[52] = {
	skill = 24,
	gwIndex = 6002,
	args = {{type=6, vals = {0.4}}},
},
[53] = {
	skill = 24,
	gwIndex = 6003,
	args = {{type=6, vals = {0.6}}},
},
[54] = {
	skill = 24,
	gwIndex = 6004,
	args = {{type=6, vals = {0.8}}},
},
[55] = {
	skill = 24,
	gwIndex = 6005,
	args = {{type=6, vals = {1}}},
},
[56] = {
	skill = 24,
	gwIndex = 6006,
	args = {{type=6, vals = {1.2}}},
},
[57] = {
	skill = 24,
	gwIndex = 6007,
	args = {{type=6, vals = {1.4}}},
},
[58] = {
	skill = 24,
	gwIndex = 6008,
	args = {{type=6, vals = {1.6}}},
},
[59] = {
	skill = 24,
	gwIndex = 6009,
	args = {{type=6, vals = {1.8}}},
},
[60] = {
	skill = 24,
	gwIndex = 6010,
	args = {{type=6, vals = {2}}},
},
[61] = {
	skill = 24,
	gwIndex = 6011,
	args = {{type=6, vals = {2.2}}},
},
[62] = {
	skill = 24,
	gwIndex = 6012,
	args = {{type=6, vals = {2.4}}},
},
[63] = {
	skill = 24,
	gwIndex = 6013,
	args = {{type=6, vals = {2.6}}},
},
[64] = {
	skill = 24,
	gwIndex = 6014,
	args = {{type=6, vals = {2.8}}},
},
[65] = {
	skill = 24,
	gwIndex = 6015,
	args = {{type=6, vals = {3}}},
},
[66] = {
	skill = 24,
	gwIndex = 6016,
	args = {{type=6, vals = {3.2}}},
},
[67] = {
	skill = 24,
	gwIndex = 6017,
	args = {{type=6, vals = {3.4}}},
},
[68] = {
	skill = 24,
	gwIndex = 6018,
	args = {{type=6, vals = {3.6}}},
},
[69] = {
	skill = 24,
	gwIndex = 6019,
	args = {{type=6, vals = {3.8}}},
},
[70] = {
	skill = 24,
	gwIndex = 6020,
	args = {{type=6, vals = {4}}},
},
[71] = {
	skill = 25,
	gwIndex = 3001,
	d = 300,
},
[72] = {
	skill = 25,
	gwIndex = 3002,
	d = 600,
},
[73] = {
	skill = 25,
	gwIndex = 3003,
	d = 900,
},
[74] = {
	skill = 25,
	gwIndex = 3004,
	d = 1200,
},
[75] = {
	skill = 25,
	gwIndex = 3005,
	d = 1500,
},
[76] = {
	skill = 25,
	gwIndex = 3006,
	d = 1800,
},
[77] = {
	skill = 25,
	gwIndex = 3007,
	d = 2100,
},
[78] = {
	skill = 25,
	gwIndex = 3008,
	d = 2400,
},
[79] = {
	skill = 25,
	gwIndex = 3009,
	d = 2700,
},
[80] = {
	skill = 25,
	gwIndex = 3010,
	d = 3000,
},
[81] = {
	skill = 25,
	gwIndex = 3011,
	d = 3300,
},
[82] = {
	skill = 25,
	gwIndex = 3012,
	d = 3600,
},
[83] = {
	skill = 25,
	gwIndex = 3013,
	d = 3900,
},
[84] = {
	skill = 25,
	gwIndex = 3014,
	d = 4200,
},
[85] = {
	skill = 25,
	gwIndex = 3015,
	d = 4500,
},
[86] = {
	skill = 25,
	gwIndex = 3016,
	d = 4800,
},
[87] = {
	skill = 25,
	gwIndex = 3017,
	d = 5100,
},
[88] = {
	skill = 25,
	gwIndex = 3018,
	d = 5400,
},
[89] = {
	skill = 25,
	gwIndex = 3019,
	d = 5700,
},
[90] = {
	skill = 25,
	gwIndex = 3020,
	d = 6000,
},
[91] = {
	skill = 22,
	gwIndex = 9001,
	critDamage = 1000,
},
[92] = {
	skill = 22,
	gwIndex = 9002,
	critDamage = 2000,
},
[93] = {
	skill = 22,
	gwIndex = 9003,
	critDamage = 3000,
},
[94] = {
	skill = 22,
	gwIndex = 9004,
	critDamage = 4000,
},
[95] = {
	skill = 22,
	gwIndex = 9005,
	critDamage = 5000,
},
[96] = {
	skill = 22,
	gwIndex = 9006,
	critDamage = 6000,
},
[97] = {
	skill = 22,
	gwIndex = 9007,
	critDamage = 7000,
},
[98] = {
	skill = 22,
	gwIndex = 9008,
	critDamage = 8000,
},
[99] = {
	skill = 22,
	gwIndex = 9009,
	critDamage = 9000,
},
[100] = {
	skill = 22,
	gwIndex = 9010,
	critDamage = 10000,
},
[101] = {
	skill = 22,
	gwIndex = 9011,
	critDamage = 11000,
},
[102] = {
	skill = 22,
	gwIndex = 9012,
	critDamage = 12000,
},
[103] = {
	skill = 22,
	gwIndex = 9013,
	critDamage = 13000,
},
[104] = {
	skill = 22,
	gwIndex = 9014,
	critDamage = 14000,
},
[105] = {
	skill = 22,
	gwIndex = 9015,
	critDamage = 15000,
},
[106] = {
	skill = 22,
	gwIndex = 9016,
	critDamage = 16000,
},
[107] = {
	skill = 22,
	gwIndex = 9017,
	critDamage = 17000,
},
[108] = {
	skill = 22,
	gwIndex = 9018,
	critDamage = 18000,
},
[109] = {
	skill = 22,
	gwIndex = 9019,
	critDamage = 19000,
},
[110] = {
	skill = 22,
	gwIndex = 9020,
	critDamage = 20000,
},
[111] = {
	skill = 24,
	gwIndex = 15001,
	selfEff = {100201},
},
[112] = {
	skill = 24,
	gwIndex = 15002,
	selfEff = {100202},
},
[113] = {
	skill = 24,
	gwIndex = 15003,
	selfEff = {100203},
},
[114] = {
	skill = 24,
	gwIndex = 15004,
	selfEff = {100204},
},
[115] = {
	skill = 24,
	gwIndex = 15005,
	selfEff = {100205},
},
[116] = {
	skill = 24,
	gwIndex = 15006,
	selfEff = {100206},
},
[117] = {
	skill = 24,
	gwIndex = 15007,
	selfEff = {100207},
},
[118] = {
	skill = 24,
	gwIndex = 15008,
	selfEff = {100208},
},
[119] = {
	skill = 24,
	gwIndex = 15009,
	selfEff = {100209},
},
[120] = {
	skill = 24,
	gwIndex = 15010,
	selfEff = {100210},
},
[121] = {
	skill = 32,
	gwIndex = 6001,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.0375,4,3000}}},
},
[122] = {
	skill = 32,
	gwIndex = 6002,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.075,4,3000}}},
},
[123] = {
	skill = 32,
	gwIndex = 6003,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.1125,4,3000}}},
},
[124] = {
	skill = 32,
	gwIndex = 6004,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.15,4,3000}}},
},
[125] = {
	skill = 32,
	gwIndex = 6005,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.1875,4,3000}}},
},
[126] = {
	skill = 32,
	gwIndex = 6006,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.225,4,3000}}},
},
[127] = {
	skill = 32,
	gwIndex = 6007,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.2625,4,3000}}},
},
[128] = {
	skill = 32,
	gwIndex = 6008,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.3,4,3000}}},
},
[129] = {
	skill = 32,
	gwIndex = 6009,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.3375,4,3000}}},
},
[130] = {
	skill = 32,
	gwIndex = 6010,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.375,4,3000}}},
},
[131] = {
	skill = 32,
	gwIndex = 6011,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.4125,4,3000}}},
},
[132] = {
	skill = 32,
	gwIndex = 6012,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.45,4,3000}}},
},
[133] = {
	skill = 32,
	gwIndex = 6013,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.4875,4,3000}}},
},
[134] = {
	skill = 32,
	gwIndex = 6014,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.525,4,3000}}},
},
[135] = {
	skill = 32,
	gwIndex = 6015,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.5625,4,3000}}},
},
[136] = {
	skill = 32,
	gwIndex = 6016,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.6,4,3000}}},
},
[137] = {
	skill = 32,
	gwIndex = 6017,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.6375,4,3000}}},
},
[138] = {
	skill = 32,
	gwIndex = 6018,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.675,4,3000}}},
},
[139] = {
	skill = 32,
	gwIndex = 6019,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.7125,4,3000}}},
},
[140] = {
	skill = 32,
	gwIndex = 6020,
	affectRange = 3,
	affectCount = 2,
	args = {{type=8, vals = {23001,0,0.75,4,3000}}},
},
[141] = {
	skill = 31,
	gwIndex = 9001,
	critDamage = 300,
},
[142] = {
	skill = 31,
	gwIndex = 9002,
	critDamage = 600,
},
[143] = {
	skill = 31,
	gwIndex = 9003,
	critDamage = 900,
},
[144] = {
	skill = 31,
	gwIndex = 9004,
	critDamage = 1200,
},
[145] = {
	skill = 31,
	gwIndex = 9005,
	critDamage = 1500,
},
[146] = {
	skill = 31,
	gwIndex = 9006,
	critDamage = 1800,
},
[147] = {
	skill = 31,
	gwIndex = 9007,
	critDamage = 2100,
},
[148] = {
	skill = 31,
	gwIndex = 9008,
	critDamage = 2400,
},
[149] = {
	skill = 31,
	gwIndex = 9009,
	critDamage = 2700,
},
[150] = {
	skill = 31,
	gwIndex = 9010,
	critDamage = 3000,
},
[151] = {
	skill = 31,
	gwIndex = 9011,
	critDamage = 3300,
},
[152] = {
	skill = 31,
	gwIndex = 9012,
	critDamage = 3600,
},
[153] = {
	skill = 31,
	gwIndex = 9013,
	critDamage = 3900,
},
[154] = {
	skill = 31,
	gwIndex = 9014,
	critDamage = 4200,
},
[155] = {
	skill = 31,
	gwIndex = 9015,
	critDamage = 4500,
},
[156] = {
	skill = 31,
	gwIndex = 9016,
	critDamage = 4800,
},
[157] = {
	skill = 31,
	gwIndex = 9017,
	critDamage = 5100,
},
[158] = {
	skill = 31,
	gwIndex = 9018,
	critDamage = 5400,
},
[159] = {
	skill = 31,
	gwIndex = 9019,
	critDamage = 5700,
},
[160] = {
	skill = 31,
	gwIndex = 9020,
	critDamage = 6000,
},
[161] = {
	skill = 34,
	gwIndex = 3001,
	args = {{type=8, vals = {24001,0,0.02,5,0}},{type=8, vals = {99001,0,0.02,6,0}}},
},
[162] = {
	skill = 34,
	gwIndex = 3002,
	args = {{type=8, vals = {24001,0,0.04,5,0}},{type=8, vals = {99001,0,0.04,6,0}}},
},
[163] = {
	skill = 34,
	gwIndex = 3003,
	args = {{type=8, vals = {24001,0,0.06,5,0}},{type=8, vals = {99001,0,0.06,6,0}}},
},
[164] = {
	skill = 34,
	gwIndex = 3004,
	args = {{type=8, vals = {24001,0,0.08,5,0}},{type=8, vals = {99001,0,0.08,6,0}}},
},
[165] = {
	skill = 34,
	gwIndex = 3005,
	args = {{type=8, vals = {24001,0,0.1,5,0}},{type=8, vals = {99001,0,0.1,6,0}}},
},
[166] = {
	skill = 34,
	gwIndex = 3006,
	args = {{type=8, vals = {24001,0,0.12,5,0}},{type=8, vals = {99001,0,0.12,6,0}}},
},
[167] = {
	skill = 34,
	gwIndex = 3007,
	args = {{type=8, vals = {24001,0,0.14,5,0}},{type=8, vals = {99001,0,0.14,6,0}}},
},
[168] = {
	skill = 34,
	gwIndex = 3008,
	args = {{type=8, vals = {24001,0,0.16,5,0}},{type=8, vals = {99001,0,0.16,6,0}}},
},
[169] = {
	skill = 34,
	gwIndex = 3009,
	args = {{type=8, vals = {24001,0,0.18,5,0}},{type=8, vals = {99001,0,0.18,6,0}}},
},
[170] = {
	skill = 34,
	gwIndex = 3010,
	args = {{type=8, vals = {24001,0,0.2,5,0}},{type=8, vals = {99001,0,0.2,6,0}}},
},
[171] = {
	skill = 34,
	gwIndex = 3011,
	args = {{type=8, vals = {24001,0,0.22,5,0}},{type=8, vals = {99001,0,0.22,6,0}}},
},
[172] = {
	skill = 34,
	gwIndex = 3012,
	args = {{type=8, vals = {24001,0,0.24,5,0}},{type=8, vals = {99001,0,0.24,6,0}}},
},
[173] = {
	skill = 34,
	gwIndex = 3013,
	args = {{type=8, vals = {24001,0,0.26,5,0}},{type=8, vals = {99001,0,0.26,6,0}}},
},
[174] = {
	skill = 34,
	gwIndex = 3014,
	args = {{type=8, vals = {24001,0,0.28,5,0}},{type=8, vals = {99001,0,0.28,6,0}}},
},
[175] = {
	skill = 34,
	gwIndex = 3015,
	args = {{type=8, vals = {24001,0,0.3,5,0}},{type=8, vals = {99001,0,0.3,6,0}}},
},
[176] = {
	skill = 34,
	gwIndex = 3016,
	args = {{type=8, vals = {24001,0,0.32,5,0}},{type=8, vals = {99001,0,0.32,6,0}}},
},
[177] = {
	skill = 34,
	gwIndex = 3017,
	args = {{type=8, vals = {24001,0,0.34,5,0}},{type=8, vals = {99001,0,0.34,6,0}}},
},
[178] = {
	skill = 34,
	gwIndex = 3018,
	args = {{type=8, vals = {24001,0,0.36,5,0}},{type=8, vals = {99001,0,0.36,6,0}}},
},
[179] = {
	skill = 34,
	gwIndex = 3019,
	args = {{type=8, vals = {24001,0,0.38,5,0}},{type=8, vals = {99001,0,0.38,6,0}}},
},
[180] = {
	skill = 34,
	gwIndex = 3020,
	args = {{type=8, vals = {24001,0,0.4,5,0}},{type=8, vals = {99001,0,0.4,6,0}}},
},
[181] = {
	skill = 35,
	gwIndex = 13001,
	args = {{type=8, vals = {25001,0,500,0.05,10000}}},
},
[182] = {
	skill = 35,
	gwIndex = 13002,
	args = {{type=8, vals = {25001,0,500,0.08,10000}}},
},
[183] = {
	skill = 35,
	gwIndex = 13003,
	args = {{type=8, vals = {25001,0,500,0.11,10000}}},
},
[184] = {
	skill = 35,
	gwIndex = 13004,
	args = {{type=8, vals = {25001,0,500,0.14,10000}}},
},
[185] = {
	skill = 35,
	gwIndex = 13005,
	args = {{type=8, vals = {25001,0,500,0.17,10000}}},
},
[186] = {
	skill = 35,
	gwIndex = 13006,
	args = {{type=8, vals = {25001,0,500,0.2,10000}}},
},
[187] = {
	skill = 35,
	gwIndex = 13007,
	args = {{type=8, vals = {25001,0,500,0.23,10000}}},
},
[188] = {
	skill = 35,
	gwIndex = 13008,
	args = {{type=8, vals = {25001,0,500,0.26,10000}}},
},
[189] = {
	skill = 35,
	gwIndex = 13009,
	args = {{type=8, vals = {25001,0,500,0.29,10000}}},
},
[190] = {
	skill = 35,
	gwIndex = 13010,
	args = {{type=8, vals = {25001,0,500,0.32,10000}}},
},
}