--J-技能配置表.xlsx 角色技能升级配置
SkillsUpgradeConfig={
[1] = {
	level = 1,
	cost = 5000,
},
[2] = {
	level = 2,
	cost = 5500,
},
[3] = {
	level = 3,
	cost = 6000,
},
[4] = {
	level = 4,
	cost = 6500,
},
[5] = {
	level = 5,
	cost = 7000,
},
[6] = {
	level = 6,
	cost = 7500,
},
[7] = {
	level = 7,
	cost = 8000,
},
[8] = {
	level = 8,
	cost = 8500,
},
[9] = {
	level = 9,
	cost = 9000,
},
[10] = {
	level = 10,
	cost = 9500,
},
[11] = {
	level = 11,
	cost = 10000,
},
[12] = {
	level = 12,
	cost = 10500,
},
[13] = {
	level = 13,
	cost = 11000,
},
[14] = {
	level = 14,
	cost = 11500,
},
[15] = {
	level = 15,
	cost = 12000,
},
[16] = {
	level = 16,
	cost = 12500,
},
[17] = {
	level = 17,
	cost = 13000,
},
[18] = {
	level = 18,
	cost = 13500,
},
[19] = {
	level = 19,
	cost = 14000,
},
[20] = {
	level = 20,
	cost = 14500,
},
[21] = {
	level = 21,
	cost = 15000,
},
[22] = {
	level = 22,
	cost = 15500,
},
[23] = {
	level = 23,
	cost = 16000,
},
[24] = {
	level = 24,
	cost = 16500,
},
[25] = {
	level = 25,
	cost = 17000,
},
[26] = {
	level = 26,
	cost = 17500,
},
[27] = {
	level = 27,
	cost = 18000,
},
[28] = {
	level = 28,
	cost = 18500,
},
[29] = {
	level = 29,
	cost = 19000,
},
[30] = {
	level = 30,
	cost = 19500,
},
[31] = {
	level = 31,
	cost = 20000,
},
[32] = {
	level = 32,
	cost = 20500,
},
[33] = {
	level = 33,
	cost = 21000,
},
[34] = {
	level = 34,
	cost = 21500,
},
[35] = {
	level = 35,
	cost = 22000,
},
[36] = {
	level = 36,
	cost = 22500,
},
[37] = {
	level = 37,
	cost = 23000,
},
[38] = {
	level = 38,
	cost = 23500,
},
[39] = {
	level = 39,
	cost = 24000,
},
[40] = {
	level = 40,
	cost = 24500,
},
[41] = {
	level = 41,
	cost = 25000,
},
[42] = {
	level = 42,
	cost = 25500,
},
[43] = {
	level = 43,
	cost = 26000,
},
[44] = {
	level = 44,
	cost = 26500,
},
[45] = {
	level = 45,
	cost = 27000,
},
[46] = {
	level = 46,
	cost = 27500,
},
[47] = {
	level = 47,
	cost = 28000,
},
[48] = {
	level = 48,
	cost = 28500,
},
[49] = {
	level = 49,
	cost = 29000,
},
[50] = {
	level = 50,
	cost = 29500,
},
[51] = {
	level = 51,
	cost = 30000,
},
[52] = {
	level = 52,
	cost = 30500,
},
[53] = {
	level = 53,
	cost = 31000,
},
[54] = {
	level = 54,
	cost = 31500,
},
[55] = {
	level = 55,
	cost = 32000,
},
[56] = {
	level = 56,
	cost = 32500,
},
[57] = {
	level = 57,
	cost = 33000,
},
[58] = {
	level = 58,
	cost = 33500,
},
[59] = {
	level = 59,
	cost = 34000,
},
[60] = {
	level = 60,
	cost = 34500,
},
[61] = {
	level = 61,
	cost = 35000,
},
[62] = {
	level = 62,
	cost = 35500,
},
[63] = {
	level = 63,
	cost = 36000,
},
[64] = {
	level = 64,
	cost = 36500,
},
[65] = {
	level = 65,
	cost = 37000,
},
[66] = {
	level = 66,
	cost = 37500,
},
[67] = {
	level = 67,
	cost = 38000,
},
[68] = {
	level = 68,
	cost = 38500,
},
[69] = {
	level = 69,
	cost = 39000,
},
[70] = {
	level = 70,
	cost = 39500,
},
[71] = {
	level = 71,
	cost = 40000,
},
[72] = {
	level = 72,
	cost = 40500,
},
[73] = {
	level = 73,
	cost = 41000,
},
[74] = {
	level = 74,
	cost = 41500,
},
[75] = {
	level = 75,
	cost = 42000,
},
[76] = {
	level = 76,
	cost = 42500,
},
[77] = {
	level = 77,
	cost = 43000,
},
[78] = {
	level = 78,
	cost = 43500,
},
[79] = {
	level = 79,
	cost = 44000,
},
[80] = {
	level = 80,
	cost = 44500,
},
[81] = {
	level = 81,
	cost = 45000,
},
[82] = {
	level = 82,
	cost = 45500,
},
[83] = {
	level = 83,
	cost = 46000,
},
[84] = {
	level = 84,
	cost = 46500,
},
[85] = {
	level = 85,
	cost = 47000,
},
[86] = {
	level = 86,
	cost = 47500,
},
[87] = {
	level = 87,
	cost = 48000,
},
[88] = {
	level = 88,
	cost = 48500,
},
[89] = {
	level = 89,
	cost = 49000,
},
[90] = {
	level = 90,
	cost = 49500,
},
[91] = {
	level = 91,
	cost = 50000,
},
[92] = {
	level = 92,
	cost = 50500,
},
[93] = {
	level = 93,
	cost = 51000,
},
[94] = {
	level = 94,
	cost = 51500,
},
[95] = {
	level = 95,
	cost = 52000,
},
[96] = {
	level = 96,
	cost = 52500,
},
[97] = {
	level = 97,
	cost = 53000,
},
[98] = {
	level = 98,
	cost = 53500,
},
[99] = {
	level = 99,
	cost = 54000,
},
[100] = {
	level = 100,
	cost = 54500,
},
[101] = {
	level = 101,
	cost = 55000,
},
[102] = {
	level = 102,
	cost = 55500,
},
[103] = {
	level = 103,
	cost = 56000,
},
[104] = {
	level = 104,
	cost = 56500,
},
[105] = {
	level = 105,
	cost = 57000,
},
[106] = {
	level = 106,
	cost = 57500,
},
[107] = {
	level = 107,
	cost = 58000,
},
[108] = {
	level = 108,
	cost = 58500,
},
[109] = {
	level = 109,
	cost = 59000,
},
[110] = {
	level = 110,
	cost = 59500,
},
[111] = {
	level = 111,
	cost = 60000,
},
[112] = {
	level = 112,
	cost = 60500,
},
[113] = {
	level = 113,
	cost = 61000,
},
[114] = {
	level = 114,
	cost = 61500,
},
[115] = {
	level = 115,
	cost = 62000,
},
[116] = {
	level = 116,
	cost = 62500,
},
[117] = {
	level = 117,
	cost = 63000,
},
[118] = {
	level = 118,
	cost = 63500,
},
[119] = {
	level = 119,
	cost = 64000,
},
[120] = {
	level = 120,
	cost = 64500,
},
[121] = {
	level = 121,
	cost = 65000,
},
[122] = {
	level = 122,
	cost = 65500,
},
[123] = {
	level = 123,
	cost = 66000,
},
[124] = {
	level = 124,
	cost = 66500,
},
[125] = {
	level = 125,
	cost = 67000,
},
[126] = {
	level = 126,
	cost = 67500,
},
[127] = {
	level = 127,
	cost = 68000,
},
[128] = {
	level = 128,
	cost = 68500,
},
[129] = {
	level = 129,
	cost = 69000,
},
[130] = {
	level = 130,
	cost = 69500,
},
[131] = {
	level = 131,
	cost = 70000,
},
[132] = {
	level = 132,
	cost = 70500,
},
[133] = {
	level = 133,
	cost = 71000,
},
[134] = {
	level = 134,
	cost = 71500,
},
[135] = {
	level = 135,
	cost = 72000,
},
[136] = {
	level = 136,
	cost = 72500,
},
[137] = {
	level = 137,
	cost = 73000,
},
[138] = {
	level = 138,
	cost = 73500,
},
[139] = {
	level = 139,
	cost = 74000,
},
[140] = {
	level = 140,
	cost = 74500,
},
[141] = {
	level = 141,
	cost = 75000,
},
[142] = {
	level = 142,
	cost = 75500,
},
[143] = {
	level = 143,
	cost = 76000,
},
[144] = {
	level = 144,
	cost = 76500,
},
[145] = {
	level = 145,
	cost = 77000,
},
[146] = {
	level = 146,
	cost = 77500,
},
[147] = {
	level = 147,
	cost = 78000,
},
[148] = {
	level = 148,
	cost = 78500,
},
[149] = {
	level = 149,
	cost = 79000,
},
[150] = {
	level = 150,
	cost = 79500,
},
[151] = {
	level = 151,
	cost = 80000,
},
[152] = {
	level = 152,
	cost = 80500,
},
[153] = {
	level = 153,
	cost = 81000,
},
[154] = {
	level = 154,
	cost = 81500,
},
[155] = {
	level = 155,
	cost = 82000,
},
[156] = {
	level = 156,
	cost = 82500,
},
[157] = {
	level = 157,
	cost = 83000,
},
[158] = {
	level = 158,
	cost = 83500,
},
[159] = {
	level = 159,
	cost = 84000,
},
[160] = {
	level = 160,
	cost = 84500,
},
[161] = {
	level = 161,
	cost = 85000,
},
[162] = {
	level = 162,
	cost = 85500,
},
[163] = {
	level = 163,
	cost = 86000,
},
[164] = {
	level = 164,
	cost = 86500,
},
[165] = {
	level = 165,
	cost = 87000,
},
[166] = {
	level = 166,
	cost = 87500,
},
[167] = {
	level = 167,
	cost = 88000,
},
[168] = {
	level = 168,
	cost = 88500,
},
[169] = {
	level = 169,
	cost = 89000,
},
[170] = {
	level = 170,
	cost = 89500,
},
[171] = {
	level = 171,
	cost = 90000,
},
[172] = {
	level = 172,
	cost = 90500,
},
[173] = {
	level = 173,
	cost = 91000,
},
[174] = {
	level = 174,
	cost = 91500,
},
[175] = {
	level = 175,
	cost = 92000,
},
[176] = {
	level = 176,
	cost = 92500,
},
[177] = {
	level = 177,
	cost = 93000,
},
[178] = {
	level = 178,
	cost = 93500,
},
[179] = {
	level = 179,
	cost = 94000,
},
[180] = {
	level = 180,
	cost = 94500,
},
[181] = {
	level = 181,
	cost = 95000,
},
[182] = {
	level = 182,
	cost = 95500,
},
[183] = {
	level = 183,
	cost = 96000,
},
[184] = {
	level = 184,
	cost = 96500,
},
[185] = {
	level = 185,
	cost = 97000,
},
[186] = {
	level = 186,
	cost = 97500,
},
[187] = {
	level = 187,
	cost = 98000,
},
[188] = {
	level = 188,
	cost = 98500,
},
[189] = {
	level = 189,
	cost = 99000,
},
[190] = {
	level = 190,
	cost = 99500,
},
[191] = {
	level = 191,
	cost = 100000,
},
[192] = {
	level = 192,
	cost = 100500,
},
[193] = {
	level = 193,
	cost = 101000,
},
[194] = {
	level = 194,
	cost = 101500,
},
[195] = {
	level = 195,
	cost = 102000,
},
[196] = {
	level = 196,
	cost = 102500,
},
[197] = {
	level = 197,
	cost = 103000,
},
[198] = {
	level = 198,
	cost = 103500,
},
[199] = {
	level = 199,
	cost = 104000,
},
[200] = {
	level = 200,
	cost = 104500,
},
[201] = {
	level = 201,
	cost = 105000,
},
[202] = {
	level = 202,
	cost = 105500,
},
[203] = {
	level = 203,
	cost = 106000,
},
[204] = {
	level = 204,
	cost = 106500,
},
[205] = {
	level = 205,
	cost = 107000,
},
[206] = {
	level = 206,
	cost = 107500,
},
[207] = {
	level = 207,
	cost = 108000,
},
[208] = {
	level = 208,
	cost = 108500,
},
[209] = {
	level = 209,
	cost = 109000,
},
[210] = {
	level = 210,
	cost = 109500,
},
}