SkillsBreakUpgradeConfig={
[1] = {
	[1] = {
		[1] = {
			itemid = 260001,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260001,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260001,
			count = 5,
			itemidex = 260017,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260001,
			count = 10,
			itemidex = 260018,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260001,
			count = 20,
			itemidex = 260019,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[2] = {
		[1] = {
			itemid = 260002,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260002,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260002,
			count = 5,
			itemidex = 260020,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260002,
			count = 10,
			itemidex = 260021,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260002,
			count = 20,
			itemidex = 260022,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[3] = {
		[1] = {
			itemid = 260003,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260003,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260003,
			count = 5,
			itemidex = 260023,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260003,
			count = 10,
			itemidex = 260024,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260003,
			count = 20,
			itemidex = 260025,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[4] = {
		[1] = {
			itemid = 260004,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260004,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260004,
			count = 5,
			itemidex = 260026,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260004,
			count = 10,
			itemidex = 260027,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260004,
			count = 20,
			itemidex = 260028,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[5] = {
		[1] = {
			itemid = 260005,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260005,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260005,
			count = 5,
			itemidex = 260029,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260005,
			count = 10,
			itemidex = 260030,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260005,
			count = 20,
			itemidex = 260031,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
},
[2] = {
	[1] = {
		[1] = {
			itemid = 260006,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260006,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260006,
			count = 5,
			itemidex = 260032,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260006,
			count = 10,
			itemidex = 260033,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260006,
			count = 20,
			itemidex = 260034,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[2] = {
		[1] = {
			itemid = 260007,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260007,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260007,
			count = 5,
			itemidex = 260035,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260007,
			count = 10,
			itemidex = 260036,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260007,
			count = 20,
			itemidex = 260037,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[3] = {
		[1] = {
			itemid = 260008,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260008,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260008,
			count = 5,
			itemidex = 260038,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260008,
			count = 10,
			itemidex = 260039,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260008,
			count = 20,
			itemidex = 260040,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[4] = {
		[1] = {
			itemid = 260009,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260009,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260009,
			count = 5,
			itemidex = 260041,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260009,
			count = 10,
			itemidex = 260042,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260009,
			count = 20,
			itemidex = 260043,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[5] = {
		[1] = {
			itemid = 260010,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260010,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260010,
			count = 5,
			itemidex = 260044,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260010,
			count = 10,
			itemidex = 260045,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260010,
			count = 20,
			itemidex = 260046,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
},
[3] = {
	[1] = {
		[1] = {
			itemid = 260011,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260011,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260011,
			count = 5,
			itemidex = 260047,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260011,
			count = 10,
			itemidex = 260048,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260011,
			count = 20,
			itemidex = 260049,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[2] = {
		[1] = {
			itemid = 260012,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260012,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260012,
			count = 5,
			itemidex = 260050,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260012,
			count = 10,
			itemidex = 260051,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260012,
			count = 20,
			itemidex = 260052,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[3] = {
		[1] = {
			itemid = 260013,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260013,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260013,
			count = 5,
			itemidex = 260053,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260013,
			count = 10,
			itemidex = 260054,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260013,
			count = 20,
			itemidex = 260055,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[4] = {
		[1] = {
			itemid = 260014,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260014,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260014,
			count = 5,
			itemidex = 260056,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260014,
			count = 10,
			itemidex = 260057,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260014,
			count = 20,
			itemidex = 260058,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
	[5] = {
		[1] = {
			itemid = 260015,
			count = 1,
			itemidex = 0,
			countex = 0,
			power = 10000,
		},
		[2] = {
			itemid = 260015,
			count = 2,
			itemidex = 0,
			countex = 0,
			power = 30000,
		},
		[3] = {
			itemid = 260015,
			count = 5,
			itemidex = 260059,
			countex = 1,
			notice = 58,
			power = 70000,
		},
		[4] = {
			itemid = 260015,
			count = 10,
			itemidex = 260060,
			countex = 1,
			notice = 59,
			power = 130000,
		},
		[5] = {
			itemid = 260015,
			count = 20,
			itemidex = 260061,
			countex = 1,
			notice = 60,
			power = 210000,
		},
	},
},
}