--J-技能配置表.xlsx 技能参数描述配置
SkillsDescConfig={
[1] = {
	cd = 800,
	castRange = 1.3,
},
[2] = {
	cd = 5000,
	castRange = 1.3,
},
[3] = {
	cd = 800,
	castRange = 1.3,
},
[4] = {
	cd = 10000,
	castRange = 1.3,
},
[5] = {
	cd = 15000,
	castRange = 1.3,
},
[6] = {
	cd = 800,
	castRange = 3.5,
},
[7] = {
	cd = 5000,
	castRange = 3.5,
},
[8] = {
	cd = 11000,
	castRange = 1.55,
},
[9] = {
	cd = 10000,
	castRange = 3,
},
[10] = {
	cd = 800,
	castRange = 3.5,
},
[11] = {
	cd = 800,
	castRange = 3.5,
},
[12] = {
	cd = 11000,
	castRange = 20,
},
[13] = {
	cd = 5000,
	castRange = 3.5,
},
[14] = {
	cd = 30000,
	castRange = 3.5,
},
[15] = {
	cd = 1000,
	castRange = 3.5,
},
[16] = {
	cd = 500,
	castRange = 2,
},
[17] = {
	cd = 1500,
	castRange = 1.4,
},
[18] = {
	cd = 1000,
	castRange = 1.4,
},
[19] = {
	cd = 1500,
	castRange = 5,
},
[20] = {
	cd = 1000,
	castRange = 1.3,
},
[21] = {
	cd = 1000,
	castRange = 1.3,
},
[22] = {
	cd = 1000,
	castRange = 10,
},
[23] = {
	cd = 1000,
	castRange = 4,
},
[24] = {
	cd = 1000,
	castRange = 1.3,
},
[25] = {
	cd = 1000,
	castRange = 1.3,
},
[26] = {
	cd = 1000,
	castRange = 1.3,
},
[27] = {
	cd = 1000,
	castRange = 5,
},
[28] = {
	cd = 1000,
	castRange = 5,
},
[29] = {
	cd = 1000,
	castRange = 2,
},
[30] = {
	cd = 1000,
	castRange = 5,
},
[31] = {
	cd = 1000,
	castRange = 5,
},
[32] = {
	cd = 1000,
	castRange = 5,
},
[33] = {
	cd = 1000,
	castRange = 5,
},
[34] = {
	cd = 1000,
	castRange = 1,
},
[35] = {
	cd = 1000,
	castRange = 1,
},
[36] = {
	cd = 1000,
	castRange = 5,
},
[37] = {
	cd = 1000,
	castRange = 5,
},
[38] = {
	cd = 1000,
	castRange = 5,
},
[39] = {
	cd = 1000,
	castRange = 5,
},
[40] = {
	cd = 1000,
	castRange = 5,
},
[41] = {
	cd = 1000,
	castRange = 5,
},
[42] = {
	cd = 1000,
	castRange = 3,
},
[43] = {
	cd = 1000,
	castRange = 2,
},
[44] = {
	cd = 1000,
	castRange = 2,
},
[45] = {
	cd = 1000,
	castRange = 5,
},
[46] = {
	cd = 1000,
	castRange = 5,
},
[47] = {
	cd = 1000,
	castRange = 5,
},
[48] = {
	cd = 1000,
	castRange = 5,
},
[49] = {
	cd = 1000,
	castRange = 5,
},
[50] = {
	cd = 1000,
	castRange = 5,
},
[51] = {
	cd = 1000,
	castRange = 5,
},
[52] = {
	cd = 1000,
	castRange = 5,
},
[53] = {
	cd = 1000,
	castRange = 5,
},
[54] = {
	cd = 1000,
	castRange = 5,
},
[55] = {
	cd = 1000,
	castRange = 5,
},
[56] = {
	cd = 1000,
	castRange = 5,
},
[57] = {
	cd = 1000,
	castRange = 5,
},
[58] = {
	cd = 1000,
	castRange = 5,
},
[59] = {
	cd = 1000,
	castRange = 5,
},
[60] = {
	cd = 1000,
	castRange = 1,
},
[61] = {
	cd = 1000,
	castRange = 5,
},
[62] = {
	cd = 1000,
	castRange = 5,
},
[63] = {
	cd = 1000,
	castRange = 5,
},
[64] = {
	cd = 1000,
	castRange = 5,
},
[65] = {
	cd = 1000,
	castRange = 5,
},
[66] = {
	cd = 1000,
	castRange = 5,
},
[67] = {
	cd = 1000,
	castRange = 5,
},
[68] = {
	cd = 1000,
	castRange = 5,
},
[69] = {
	cd = 3000000,
	castRange = 4,
},
[70] = {
	cd = 3000000,
	castRange = 1,
},
[71] = {
	cd = 1000,
	castRange = 4,
},
[72] = {
	cd = 1000,
	castRange = 4,
},
[73] = {
	cd = 60000,
	castRange = 4.1,
	herdBossRate = 5,
	herdPlayerRate = 5,
},
[74] = {
	cd = 60000,
	castRange = 4.1,
	herdBossRate = 5,
	herdPlayerRate = 5,
},
[75] = {
	cd = 60000,
	castRange = 4.1,
	herdBossRate = 5,
	herdPlayerRate = 5,
},
[76] = {
	cd = 1000,
	castRange = 2,
},
[77] = {
	cd = 60000,
	castRange = 3,
},
[78] = {
	cd = 60000,
	castRange = 3,
},
[79] = {
	cd = 60000,
	castRange = 3,
},
[80] = {
	cd = 60000,
	castRange = 3,
},
[81] = {
	cd = 60000,
	castRange = 3,
},
[82] = {
	cd = 1000,
	castRange = 3,
},
[83] = {
	cd = 1000,
	castRange = 1,
},
[84] = {
	cd = 1000,
	castRange = 5,
},
[85] = {
	cd = 1000,
	castRange = 1.3,
},
[86] = {
	cd = 1000,
	castRange = 1.3,
},
[87] = {
	cd = 1000,
	castRange = 5,
},
[88] = {
	cd = 1000,
	castRange = 5,
},
[89] = {
	cd = 1000,
	castRange = 5,
},
[90] = {
	cd = 1000,
	castRange = 5,
},
[91] = {
	cd = 1000,
	castRange = 4,
},
[92] = {
	cd = 1000,
	castRange = 5,
},
[93] = {
	cd = 1500,
	castRange = 5,
},
[94] = {
	cd = 1500,
	castRange = 5,
},
[95] = {
	cd = 1500,
	castRange = 5,
},
[96] = {
	cd = 1000,
	castRange = 2,
},
[97] = {
	cd = 1000,
	castRange = 30,
},
[98] = {
	cd = 1000,
	castRange = 30,
},
[101] = {
	cd = 15000,
	castRange = 1.3,
	herdPlayerRate = 20,
},
[102] = {
	cd = 15000,
	castRange = 3.5,
},
[103] = {
	cd = 5000,
	castRange = 3.5,
},
[104] = {
	cd = 30000,
	castRange = 3,
},
[105] = {
	cd = 500,
	castRange = 2,
	herdPlayerRate = 5,
},
[106] = {
	cd = 30000,
	castRange = 1,
},
[201] = {
	cd = 5000,
	castRange = 1.3,
},
[202] = {
	cd = 8000,
	castRange = 1.3,
},
[203] = {
	cd = 15000,
	castRange = 1.3,
},
[204] = {
	cd = 1000,
	castRange = 3,
},
[205] = {
	cd = 5000,
	castRange = 3,
},
[206] = {
	cd = 1000,
	castRange = 2.2,
},
[207] = {
	cd = 5000,
	castRange = 2.2,
},
[208] = {
	cd = 8000,
	castRange = 2.2,
},
[209] = {
	cd = 10000,
	castRange = 2.2,
},
[210] = {
	cd = 12000,
	castRange = 4,
	herdPlayerRate = 5,
},
[211] = {
	cd = 11400,
	castRange = 4,
	herdPlayerRate = 5,
},
[212] = {
	cd = 10800,
	castRange = 4,
	herdPlayerRate = 5,
},
[213] = {
	cd = 10200,
	castRange = 4,
	herdPlayerRate = 5,
},
[214] = {
	cd = 9600,
	castRange = 4,
	herdPlayerRate = 5,
},
[215] = {
	cd = 9000,
	castRange = 4,
	herdPlayerRate = 5,
},
[216] = {
	cd = 8400,
	castRange = 4,
	herdPlayerRate = 5,
},
[217] = {
	cd = 7800,
	castRange = 4,
	herdPlayerRate = 5,
},
[218] = {
	cd = 7200,
	castRange = 4,
	herdPlayerRate = 5,
},
[219] = {
	cd = 6600,
	castRange = 4,
	herdPlayerRate = 5,
},
[220] = {
	cd = 6000,
	castRange = 4,
	herdPlayerRate = 5,
},
[221] = {
	cd = 12000,
	castRange = 4,
	herdPlayerRate = 5,
},
[222] = {
	cd = 11400,
	castRange = 4,
	herdPlayerRate = 5,
},
[223] = {
	cd = 10800,
	castRange = 4,
	herdPlayerRate = 5,
},
[224] = {
	cd = 10200,
	castRange = 4,
	herdPlayerRate = 5,
},
[225] = {
	cd = 9600,
	castRange = 4,
	herdPlayerRate = 5,
},
[226] = {
	cd = 9000,
	castRange = 4,
	herdPlayerRate = 5,
},
[227] = {
	cd = 8400,
	castRange = 4,
	herdPlayerRate = 5,
},
[228] = {
	cd = 7800,
	castRange = 4,
	herdPlayerRate = 5,
},
[229] = {
	cd = 7200,
	castRange = 4,
	herdPlayerRate = 5,
},
[230] = {
	cd = 6600,
	castRange = 4,
	herdPlayerRate = 5,
},
[231] = {
	cd = 6000,
	castRange = 4,
	herdPlayerRate = 5,
},
[232] = {
	cd = 12000,
	castRange = 4,
	herdPlayerRate = 5,
},
[233] = {
	cd = 11400,
	castRange = 4,
	herdPlayerRate = 5,
},
[234] = {
	cd = 10800,
	castRange = 4,
	herdPlayerRate = 5,
},
[235] = {
	cd = 10200,
	castRange = 4,
	herdPlayerRate = 5,
},
[236] = {
	cd = 9600,
	castRange = 4,
	herdPlayerRate = 5,
},
[237] = {
	cd = 9000,
	castRange = 4,
	herdPlayerRate = 5,
},
[238] = {
	cd = 8400,
	castRange = 4,
	herdPlayerRate = 5,
},
[239] = {
	cd = 7800,
	castRange = 4,
	herdPlayerRate = 5,
},
[240] = {
	cd = 7200,
	castRange = 4,
	herdPlayerRate = 5,
},
[241] = {
	cd = 6600,
	castRange = 4,
	herdPlayerRate = 5,
},
[242] = {
	cd = 6000,
	castRange = 4,
	herdPlayerRate = 5,
},
[251] = {
	cd = 45000,
	castRange = 3,
},
[252] = {
	cd = 60000,
	castRange = 3,
},
[253] = {
	cd = 45000,
	castRange = 3,
},
[254] = {
	cd = 45000,
	castRange = 3,
},
[261] = {
	cd = 1000,
	castRange = 2.2,
	herdMonRate = 100,
	herdBossRate = 100,
	herdPlayerRate = 100,
},
[262] = {
	cd = 1000,
	castRange = 2.2,
	herdMonRate = 100,
	herdBossRate = 100,
	herdPlayerRate = 100,
},
[263] = {
	cd = 1000,
	castRange = 2.2,
	herdMonRate = 100,
	herdBossRate = 100,
	herdPlayerRate = 100,
},
[264] = {
	cd = 1000,
	castRange = 2.2,
	herdMonRate = 100,
	herdBossRate = 100,
	herdPlayerRate = 100,
},
[265] = {
	cd = 1000,
	castRange = 2.2,
	herdMonRate = 100,
	herdBossRate = 100,
	herdPlayerRate = 100,
},
[270] = {
	cd = 10000,
	castRange = 4,
},
[271] = {
	cd = 10000,
	castRange = 4,
},
[272] = {
	cd = 10000,
	castRange = 4,
},
[273] = {
	cd = 10000,
	castRange = 4,
},
[274] = {
	cd = 10000,
	castRange = 4,
},
[275] = {
	cd = 10000,
	castRange = 4,
},
[276] = {
	cd = 10000,
	castRange = 4,
},
[277] = {
	cd = 10000,
	castRange = 4,
},
[278] = {
	cd = 10000,
	castRange = 4,
},
[279] = {
	cd = 10000,
	castRange = 4,
},
[280] = {
	cd = 10000,
	castRange = 4,
},
[281] = {
	cd = 10000,
	castRange = 4,
},
[282] = {
	cd = 10000,
	castRange = 4,
},
[300] = {
	cd = 3000,
	castRange = 3,
},
[301] = {
	cd = 3000,
	castRange = 3,
},
[302] = {
	cd = 5000,
	castRange = 3,
},
[303] = {
	cd = 1500,
	castRange = 5,
},
[304] = {
	cd = 2000,
	castRange = 5,
},
[305] = {
	cd = 5000,
	castRange = 5,
},
[306] = {
	cd = 4000,
	castRange = 5,
},
[307] = {
	cd = 1500,
	castRange = 2,
},
[308] = {
	cd = 15000,
	castRange = 5,
},
[309] = {
	cd = 1500,
	castRange = 1.5,
},
[310] = {
	cd = 1500,
	castRange = 1.5,
},
[311] = {
	cd = 1500,
	castRange = 1.5,
},
[312] = {
	cd = 5000,
	castRange = 4,
},
[313] = {
	cd = 5000,
	castRange = 5,
},
[314] = {
	cd = 1500,
	castRange = 5,
},
[315] = {
	cd = 10000,
	castRange = 5,
},
[316] = {
	cd = 1500,
	castRange = 5,
},
[317] = {
	cd = 5000,
	castRange = 5,
},
[318] = {
	cd = 1500,
	castRange = 5,
},
[319] = {
	cd = 5000,
	castRange = 5,
},
[320] = {
	cd = 15000,
	castRange = 5,
},
[321] = {
	cd = 5000,
	castRange = 1.5,
},
[322] = {
	cd = 5000,
	castRange = 1.5,
},
[323] = {
	cd = 1500,
	castRange = 2,
},
[324] = {
	cd = 1500,
	castRange = 1.5,
},
[325] = {
	cd = 60000,
	castRange = 5,
},
[326] = {
	cd = 10000,
	castRange = 5,
},
[327] = {
	cd = 10000,
	castRange = 5,
},
[328] = {
	cd = 30000,
	castRange = 5,
},
[329] = {
	cd = 10000,
	castRange = 5,
},
[400] = {
	cd = 1000,
	castRange = 3.5,
},
[401] = {
	cd = 60000,
	castRange = 3.5,
},
[403] = {
	cd = 60000,
	castRange = 3.5,
},
[404] = {
	cd = 1000,
	castRange = 3.5,
},
[405] = {
	cd = 60000,
	castRange = 3.5,
},
[406] = {
	cd = 1000,
	castRange = 3.5,
},
[407] = {
	cd = 1000,
	castRange = 3.5,
},
[408] = {
	cd = 1000,
	castRange = 3.5,
},
[409] = {
	cd = 1000,
	castRange = 3.5,
},
[410] = {
	cd = 1000,
	castRange = 3.5,
},
[411] = {
	cd = 1000,
	castRange = 3.5,
},
[412] = {
	cd = 1000,
	castRange = 3.5,
},
[600] = {
	cd = 0,
	castRange = 8,
},
[601] = {
	cd = 15000,
	castRange = 3,
},
[602] = {
	cd = 30000,
	castRange = 1.55,
},
}