--Z-装备点.xlsx 装备点阶级表
EquipPointRankConfig={
[1] = {
	[0] = {
		id = 1,
		rank = 0,
		rankUpProbability = 10000,
		rankUpItem = {id=200077,count=20},
	},
},
[2] = {
	[0] = {
		id = 2,
		rank = 0,
		rankUpProbability = 10000,
		rankUpItem = {id=200077,count=20},
	},
},
[3] = {
	[0] = {
		id = 3,
		rank = 0,
		rankUpProbability = 10000,
		rankUpItem = {id=200077,count=20},
	},
},
[4] = {
	[0] = {
		id = 4,
		rank = 0,
		rankUpProbability = 10000,
		rankUpItem = {id=200077,count=20},
	},
},
}