--Z-装备点.xlsx 装备点基本表
EquipPointBasicConfig={
[1] = {
	id = 1,
	activationLevel = 1080,
	activationItem = {id=200072,count=1},
},
[2] = {
	id = 2,
	activationLevel = 3080,
	activationItem = {id=200073,count=1},
},
[3] = {
	id = 3,
	activationLevel = 5080,
	activationItem = {id=200074,count=1},
},
[4] = {
	id = 4,
	activationLevel = 7080,
	activationItem = {id=200075,count=1},
},
}