--Z-装备点.xlsx 分解表
EquipPointResolveConfig={
[200072] = {
	itemId = 200072,
	materials = {{type = 1,id=200076,count=5}},
},
[200073] = {
	itemId = 200073,
	materials = {{type = 1,id=200076,count=5}},
},
[200074] = {
	itemId = 200074,
	materials = {{type = 1,id=200076,count=5}},
},
[200075] = {
	itemId = 200075,
	materials = {{type = 1,id=200076,count=5}},
},
}