TupoCostConfig={
[1] = {
	level = 1,
	itemId = 200012,
	count = 10,
	price = 25,
},
[2] = {
	level = 2,
	itemId = 200012,
	count = 15,
	price = 25,
},
[3] = {
	level = 3,
	itemId = 200012,
	count = 20,
	price = 25,
},
[4] = {
	level = 4,
	itemId = 200012,
	count = 25,
	price = 25,
},
[5] = {
	level = 5,
	itemId = 200012,
	count = 30,
	price = 25,
},
[6] = {
	level = 6,
	itemId = 200012,
	count = 35,
	price = 25,
},
[7] = {
	level = 7,
	itemId = 200012,
	count = 40,
	price = 25,
},
[8] = {
	level = 8,
	itemId = 200012,
	count = 45,
	price = 25,
},
[9] = {
	level = 9,
	itemId = 200012,
	count = 50,
	price = 25,
},
[10] = {
	level = 10,
	itemId = 200012,
	count = 60,
	price = 25,
},
[11] = {
	level = 11,
	itemId = 200012,
	count = 70,
	price = 25,
},
[12] = {
	level = 12,
	itemId = 200012,
	count = 80,
	price = 25,
},
[13] = {
	level = 13,
	itemId = 200012,
	count = 90,
	price = 25,
},
[14] = {
	level = 14,
	itemId = 200012,
	count = 100,
	price = 25,
},
[15] = {
	level = 15,
	itemId = 200012,
	count = 110,
	price = 25,
},
[16] = {
	level = 16,
	itemId = 200012,
	count = 120,
	price = 25,
},
[17] = {
	level = 17,
	itemId = 200012,
	count = 130,
	price = 25,
},
[18] = {
	level = 18,
	itemId = 200012,
	count = 140,
	price = 25,
},
[19] = {
	level = 19,
	itemId = 200012,
	count = 150,
	price = 25,
},
[20] = {
	level = 20,
	itemId = 200012,
	count = 170,
	price = 25,
},
[21] = {
	level = 21,
	itemId = 200012,
	count = 190,
	price = 25,
},
[22] = {
	level = 22,
	itemId = 200012,
	count = 210,
	price = 25,
},
[23] = {
	level = 23,
	itemId = 200012,
	count = 230,
	price = 25,
},
[24] = {
	level = 24,
	itemId = 200012,
	count = 250,
	price = 25,
},
[25] = {
	level = 25,
	itemId = 200012,
	count = 270,
	price = 25,
},
[26] = {
	level = 26,
	itemId = 200012,
	count = 290,
	price = 25,
},
[27] = {
	level = 27,
	itemId = 200012,
	count = 310,
	price = 25,
},
[28] = {
	level = 28,
	itemId = 200012,
	count = 330,
	price = 25,
},
[29] = {
	level = 29,
	itemId = 200012,
	count = 350,
	price = 25,
},
[30] = {
	level = 30,
	itemId = 200012,
	count = 380,
	price = 25,
},
[31] = {
	level = 31,
	itemId = 200012,
	count = 410,
	price = 25,
},
[32] = {
	level = 32,
	itemId = 200012,
	count = 440,
	price = 25,
},
[33] = {
	level = 33,
	itemId = 200012,
	count = 470,
	price = 25,
},
[34] = {
	level = 34,
	itemId = 200012,
	count = 500,
	price = 25,
},
[35] = {
	level = 35,
	itemId = 200012,
	count = 530,
	price = 25,
},
[36] = {
	level = 36,
	itemId = 200012,
	count = 560,
	price = 25,
},
}