--T-突破系统配置表--删除.xlsx 突破属性配置
TupoAttrConfig={
[1] = {
	index = 1,
	posId = 0,
	level = 1,
	attr = 10,
},
[2] = {
	index = 2,
	posId = 0,
	level = 2,
	attr = 20,
},
[3] = {
	index = 3,
	posId = 0,
	level = 3,
	attr = 30,
},
[4] = {
	index = 4,
	posId = 0,
	level = 4,
	attr = 40,
},
[5] = {
	index = 5,
	posId = 0,
	level = 5,
	attr = 50,
},
[6] = {
	index = 6,
	posId = 0,
	level = 6,
	attr = 60,
},
[7] = {
	index = 7,
	posId = 0,
	level = 7,
	attr = 70,
},
[8] = {
	index = 8,
	posId = 0,
	level = 8,
	attr = 80,
},
[9] = {
	index = 9,
	posId = 0,
	level = 9,
	attr = 90,
},
[10] = {
	index = 10,
	posId = 0,
	level = 10,
	attr = 100,
},
[11] = {
	index = 11,
	posId = 0,
	level = 11,
	attr = 105,
},
[12] = {
	index = 12,
	posId = 0,
	level = 12,
	attr = 110,
},
[13] = {
	index = 13,
	posId = 0,
	level = 13,
	attr = 115,
},
[14] = {
	index = 14,
	posId = 0,
	level = 14,
	attr = 120,
},
[15] = {
	index = 15,
	posId = 0,
	level = 15,
	attr = 125,
},
[16] = {
	index = 16,
	posId = 0,
	level = 16,
	attr = 130,
},
[17] = {
	index = 17,
	posId = 0,
	level = 17,
	attr = 135,
},
[18] = {
	index = 18,
	posId = 0,
	level = 18,
	attr = 140,
},
[19] = {
	index = 19,
	posId = 0,
	level = 19,
	attr = 145,
},
[20] = {
	index = 20,
	posId = 0,
	level = 20,
	attr = 150,
},
[21] = {
	index = 21,
	posId = 0,
	level = 21,
	attr = 155,
},
[22] = {
	index = 22,
	posId = 0,
	level = 22,
	attr = 160,
},
[23] = {
	index = 23,
	posId = 0,
	level = 23,
	attr = 165,
},
[24] = {
	index = 24,
	posId = 0,
	level = 24,
	attr = 170,
},
[25] = {
	index = 25,
	posId = 0,
	level = 25,
	attr = 175,
},
[26] = {
	index = 26,
	posId = 0,
	level = 26,
	attr = 180,
},
[27] = {
	index = 27,
	posId = 0,
	level = 27,
	attr = 185,
},
[28] = {
	index = 28,
	posId = 0,
	level = 28,
	attr = 190,
},
[29] = {
	index = 29,
	posId = 0,
	level = 29,
	attr = 195,
},
[30] = {
	index = 30,
	posId = 0,
	level = 30,
	attr = 200,
},
[31] = {
	index = 31,
	posId = 0,
	level = 31,
	attr = 205,
},
[32] = {
	index = 32,
	posId = 0,
	level = 32,
	attr = 210,
},
[33] = {
	index = 33,
	posId = 0,
	level = 33,
	attr = 215,
},
[34] = {
	index = 34,
	posId = 0,
	level = 34,
	attr = 220,
},
[35] = {
	index = 35,
	posId = 0,
	level = 35,
	attr = 225,
},
[36] = {
	index = 36,
	posId = 0,
	level = 36,
	attr = 230,
},
[37] = {
	index = 37,
	posId = 1,
	level = 1,
	attr = 10,
},
[38] = {
	index = 38,
	posId = 1,
	level = 2,
	attr = 20,
},
[39] = {
	index = 39,
	posId = 1,
	level = 3,
	attr = 30,
},
[40] = {
	index = 40,
	posId = 1,
	level = 4,
	attr = 40,
},
[41] = {
	index = 41,
	posId = 1,
	level = 5,
	attr = 50,
},
[42] = {
	index = 42,
	posId = 1,
	level = 6,
	attr = 60,
},
[43] = {
	index = 43,
	posId = 1,
	level = 7,
	attr = 70,
},
[44] = {
	index = 44,
	posId = 1,
	level = 8,
	attr = 80,
},
[45] = {
	index = 45,
	posId = 1,
	level = 9,
	attr = 90,
},
[46] = {
	index = 46,
	posId = 1,
	level = 10,
	attr = 100,
},
[47] = {
	index = 47,
	posId = 1,
	level = 11,
	attr = 105,
},
[48] = {
	index = 48,
	posId = 1,
	level = 12,
	attr = 110,
},
[49] = {
	index = 49,
	posId = 1,
	level = 13,
	attr = 115,
},
[50] = {
	index = 50,
	posId = 1,
	level = 14,
	attr = 120,
},
[51] = {
	index = 51,
	posId = 1,
	level = 15,
	attr = 125,
},
[52] = {
	index = 52,
	posId = 1,
	level = 16,
	attr = 130,
},
[53] = {
	index = 53,
	posId = 1,
	level = 17,
	attr = 135,
},
[54] = {
	index = 54,
	posId = 1,
	level = 18,
	attr = 140,
},
[55] = {
	index = 55,
	posId = 1,
	level = 19,
	attr = 145,
},
[56] = {
	index = 56,
	posId = 1,
	level = 20,
	attr = 150,
},
[57] = {
	index = 57,
	posId = 1,
	level = 21,
	attr = 155,
},
[58] = {
	index = 58,
	posId = 1,
	level = 22,
	attr = 160,
},
[59] = {
	index = 59,
	posId = 1,
	level = 23,
	attr = 165,
},
[60] = {
	index = 60,
	posId = 1,
	level = 24,
	attr = 170,
},
[61] = {
	index = 61,
	posId = 1,
	level = 25,
	attr = 175,
},
[62] = {
	index = 62,
	posId = 1,
	level = 26,
	attr = 180,
},
[63] = {
	index = 63,
	posId = 1,
	level = 27,
	attr = 185,
},
[64] = {
	index = 64,
	posId = 1,
	level = 28,
	attr = 190,
},
[65] = {
	index = 65,
	posId = 1,
	level = 29,
	attr = 195,
},
[66] = {
	index = 66,
	posId = 1,
	level = 30,
	attr = 200,
},
[67] = {
	index = 67,
	posId = 1,
	level = 31,
	attr = 205,
},
[68] = {
	index = 68,
	posId = 1,
	level = 32,
	attr = 210,
},
[69] = {
	index = 69,
	posId = 1,
	level = 33,
	attr = 215,
},
[70] = {
	index = 70,
	posId = 1,
	level = 34,
	attr = 220,
},
[71] = {
	index = 71,
	posId = 1,
	level = 35,
	attr = 225,
},
[72] = {
	index = 72,
	posId = 1,
	level = 36,
	attr = 230,
},
[73] = {
	index = 73,
	posId = 2,
	level = 1,
	attr = 10,
},
[74] = {
	index = 74,
	posId = 2,
	level = 2,
	attr = 20,
},
[75] = {
	index = 75,
	posId = 2,
	level = 3,
	attr = 30,
},
[76] = {
	index = 76,
	posId = 2,
	level = 4,
	attr = 40,
},
[77] = {
	index = 77,
	posId = 2,
	level = 5,
	attr = 50,
},
[78] = {
	index = 78,
	posId = 2,
	level = 6,
	attr = 60,
},
[79] = {
	index = 79,
	posId = 2,
	level = 7,
	attr = 70,
},
[80] = {
	index = 80,
	posId = 2,
	level = 8,
	attr = 80,
},
[81] = {
	index = 81,
	posId = 2,
	level = 9,
	attr = 90,
},
[82] = {
	index = 82,
	posId = 2,
	level = 10,
	attr = 100,
},
[83] = {
	index = 83,
	posId = 2,
	level = 11,
	attr = 105,
},
[84] = {
	index = 84,
	posId = 2,
	level = 12,
	attr = 110,
},
[85] = {
	index = 85,
	posId = 2,
	level = 13,
	attr = 115,
},
[86] = {
	index = 86,
	posId = 2,
	level = 14,
	attr = 120,
},
[87] = {
	index = 87,
	posId = 2,
	level = 15,
	attr = 125,
},
[88] = {
	index = 88,
	posId = 2,
	level = 16,
	attr = 130,
},
[89] = {
	index = 89,
	posId = 2,
	level = 17,
	attr = 135,
},
[90] = {
	index = 90,
	posId = 2,
	level = 18,
	attr = 140,
},
[91] = {
	index = 91,
	posId = 2,
	level = 19,
	attr = 145,
},
[92] = {
	index = 92,
	posId = 2,
	level = 20,
	attr = 150,
},
[93] = {
	index = 93,
	posId = 2,
	level = 21,
	attr = 155,
},
[94] = {
	index = 94,
	posId = 2,
	level = 22,
	attr = 160,
},
[95] = {
	index = 95,
	posId = 2,
	level = 23,
	attr = 165,
},
[96] = {
	index = 96,
	posId = 2,
	level = 24,
	attr = 170,
},
[97] = {
	index = 97,
	posId = 2,
	level = 25,
	attr = 175,
},
[98] = {
	index = 98,
	posId = 2,
	level = 26,
	attr = 180,
},
[99] = {
	index = 99,
	posId = 2,
	level = 27,
	attr = 185,
},
[100] = {
	index = 100,
	posId = 2,
	level = 28,
	attr = 190,
},
[101] = {
	index = 101,
	posId = 2,
	level = 29,
	attr = 195,
},
[102] = {
	index = 102,
	posId = 2,
	level = 30,
	attr = 200,
},
[103] = {
	index = 103,
	posId = 2,
	level = 31,
	attr = 205,
},
[104] = {
	index = 104,
	posId = 2,
	level = 32,
	attr = 210,
},
[105] = {
	index = 105,
	posId = 2,
	level = 33,
	attr = 215,
},
[106] = {
	index = 106,
	posId = 2,
	level = 34,
	attr = 220,
},
[107] = {
	index = 107,
	posId = 2,
	level = 35,
	attr = 225,
},
[108] = {
	index = 108,
	posId = 2,
	level = 36,
	attr = 230,
},
[109] = {
	index = 109,
	posId = 3,
	level = 1,
	attr = 10,
},
[110] = {
	index = 110,
	posId = 3,
	level = 2,
	attr = 20,
},
[111] = {
	index = 111,
	posId = 3,
	level = 3,
	attr = 30,
},
[112] = {
	index = 112,
	posId = 3,
	level = 4,
	attr = 40,
},
[113] = {
	index = 113,
	posId = 3,
	level = 5,
	attr = 50,
},
[114] = {
	index = 114,
	posId = 3,
	level = 6,
	attr = 60,
},
[115] = {
	index = 115,
	posId = 3,
	level = 7,
	attr = 70,
},
[116] = {
	index = 116,
	posId = 3,
	level = 8,
	attr = 80,
},
[117] = {
	index = 117,
	posId = 3,
	level = 9,
	attr = 90,
},
[118] = {
	index = 118,
	posId = 3,
	level = 10,
	attr = 100,
},
[119] = {
	index = 119,
	posId = 3,
	level = 11,
	attr = 105,
},
[120] = {
	index = 120,
	posId = 3,
	level = 12,
	attr = 110,
},
[121] = {
	index = 121,
	posId = 3,
	level = 13,
	attr = 115,
},
[122] = {
	index = 122,
	posId = 3,
	level = 14,
	attr = 120,
},
[123] = {
	index = 123,
	posId = 3,
	level = 15,
	attr = 125,
},
[124] = {
	index = 124,
	posId = 3,
	level = 16,
	attr = 130,
},
[125] = {
	index = 125,
	posId = 3,
	level = 17,
	attr = 135,
},
[126] = {
	index = 126,
	posId = 3,
	level = 18,
	attr = 140,
},
[127] = {
	index = 127,
	posId = 3,
	level = 19,
	attr = 145,
},
[128] = {
	index = 128,
	posId = 3,
	level = 20,
	attr = 150,
},
[129] = {
	index = 129,
	posId = 3,
	level = 21,
	attr = 155,
},
[130] = {
	index = 130,
	posId = 3,
	level = 22,
	attr = 160,
},
[131] = {
	index = 131,
	posId = 3,
	level = 23,
	attr = 165,
},
[132] = {
	index = 132,
	posId = 3,
	level = 24,
	attr = 170,
},
[133] = {
	index = 133,
	posId = 3,
	level = 25,
	attr = 175,
},
[134] = {
	index = 134,
	posId = 3,
	level = 26,
	attr = 180,
},
[135] = {
	index = 135,
	posId = 3,
	level = 27,
	attr = 185,
},
[136] = {
	index = 136,
	posId = 3,
	level = 28,
	attr = 190,
},
[137] = {
	index = 137,
	posId = 3,
	level = 29,
	attr = 195,
},
[138] = {
	index = 138,
	posId = 3,
	level = 30,
	attr = 200,
},
[139] = {
	index = 139,
	posId = 3,
	level = 31,
	attr = 205,
},
[140] = {
	index = 140,
	posId = 3,
	level = 32,
	attr = 210,
},
[141] = {
	index = 141,
	posId = 3,
	level = 33,
	attr = 215,
},
[142] = {
	index = 142,
	posId = 3,
	level = 34,
	attr = 220,
},
[143] = {
	index = 143,
	posId = 3,
	level = 35,
	attr = 225,
},
[144] = {
	index = 144,
	posId = 3,
	level = 36,
	attr = 230,
},
[145] = {
	index = 145,
	posId = 4,
	level = 1,
	attr = 10,
},
[146] = {
	index = 146,
	posId = 4,
	level = 2,
	attr = 20,
},
[147] = {
	index = 147,
	posId = 4,
	level = 3,
	attr = 30,
},
[148] = {
	index = 148,
	posId = 4,
	level = 4,
	attr = 40,
},
[149] = {
	index = 149,
	posId = 4,
	level = 5,
	attr = 50,
},
[150] = {
	index = 150,
	posId = 4,
	level = 6,
	attr = 60,
},
[151] = {
	index = 151,
	posId = 4,
	level = 7,
	attr = 70,
},
[152] = {
	index = 152,
	posId = 4,
	level = 8,
	attr = 80,
},
[153] = {
	index = 153,
	posId = 4,
	level = 9,
	attr = 90,
},
[154] = {
	index = 154,
	posId = 4,
	level = 10,
	attr = 100,
},
[155] = {
	index = 155,
	posId = 4,
	level = 11,
	attr = 105,
},
[156] = {
	index = 156,
	posId = 4,
	level = 12,
	attr = 110,
},
[157] = {
	index = 157,
	posId = 4,
	level = 13,
	attr = 115,
},
[158] = {
	index = 158,
	posId = 4,
	level = 14,
	attr = 120,
},
[159] = {
	index = 159,
	posId = 4,
	level = 15,
	attr = 125,
},
[160] = {
	index = 160,
	posId = 4,
	level = 16,
	attr = 130,
},
[161] = {
	index = 161,
	posId = 4,
	level = 17,
	attr = 135,
},
[162] = {
	index = 162,
	posId = 4,
	level = 18,
	attr = 140,
},
[163] = {
	index = 163,
	posId = 4,
	level = 19,
	attr = 145,
},
[164] = {
	index = 164,
	posId = 4,
	level = 20,
	attr = 150,
},
[165] = {
	index = 165,
	posId = 4,
	level = 21,
	attr = 155,
},
[166] = {
	index = 166,
	posId = 4,
	level = 22,
	attr = 160,
},
[167] = {
	index = 167,
	posId = 4,
	level = 23,
	attr = 165,
},
[168] = {
	index = 168,
	posId = 4,
	level = 24,
	attr = 170,
},
[169] = {
	index = 169,
	posId = 4,
	level = 25,
	attr = 175,
},
[170] = {
	index = 170,
	posId = 4,
	level = 26,
	attr = 180,
},
[171] = {
	index = 171,
	posId = 4,
	level = 27,
	attr = 185,
},
[172] = {
	index = 172,
	posId = 4,
	level = 28,
	attr = 190,
},
[173] = {
	index = 173,
	posId = 4,
	level = 29,
	attr = 195,
},
[174] = {
	index = 174,
	posId = 4,
	level = 30,
	attr = 200,
},
[175] = {
	index = 175,
	posId = 4,
	level = 31,
	attr = 205,
},
[176] = {
	index = 176,
	posId = 4,
	level = 32,
	attr = 210,
},
[177] = {
	index = 177,
	posId = 4,
	level = 33,
	attr = 215,
},
[178] = {
	index = 178,
	posId = 4,
	level = 34,
	attr = 220,
},
[179] = {
	index = 179,
	posId = 4,
	level = 35,
	attr = 225,
},
[180] = {
	index = 180,
	posId = 4,
	level = 36,
	attr = 230,
},
[181] = {
	index = 181,
	posId = 5,
	level = 1,
	attr = 10,
},
[182] = {
	index = 182,
	posId = 5,
	level = 2,
	attr = 20,
},
[183] = {
	index = 183,
	posId = 5,
	level = 3,
	attr = 30,
},
[184] = {
	index = 184,
	posId = 5,
	level = 4,
	attr = 40,
},
[185] = {
	index = 185,
	posId = 5,
	level = 5,
	attr = 50,
},
[186] = {
	index = 186,
	posId = 5,
	level = 6,
	attr = 60,
},
[187] = {
	index = 187,
	posId = 5,
	level = 7,
	attr = 70,
},
[188] = {
	index = 188,
	posId = 5,
	level = 8,
	attr = 80,
},
[189] = {
	index = 189,
	posId = 5,
	level = 9,
	attr = 90,
},
[190] = {
	index = 190,
	posId = 5,
	level = 10,
	attr = 100,
},
[191] = {
	index = 191,
	posId = 5,
	level = 11,
	attr = 105,
},
[192] = {
	index = 192,
	posId = 5,
	level = 12,
	attr = 110,
},
[193] = {
	index = 193,
	posId = 5,
	level = 13,
	attr = 115,
},
[194] = {
	index = 194,
	posId = 5,
	level = 14,
	attr = 120,
},
[195] = {
	index = 195,
	posId = 5,
	level = 15,
	attr = 125,
},
[196] = {
	index = 196,
	posId = 5,
	level = 16,
	attr = 130,
},
[197] = {
	index = 197,
	posId = 5,
	level = 17,
	attr = 135,
},
[198] = {
	index = 198,
	posId = 5,
	level = 18,
	attr = 140,
},
[199] = {
	index = 199,
	posId = 5,
	level = 19,
	attr = 145,
},
[200] = {
	index = 200,
	posId = 5,
	level = 20,
	attr = 150,
},
[201] = {
	index = 201,
	posId = 5,
	level = 21,
	attr = 155,
},
[202] = {
	index = 202,
	posId = 5,
	level = 22,
	attr = 160,
},
[203] = {
	index = 203,
	posId = 5,
	level = 23,
	attr = 165,
},
[204] = {
	index = 204,
	posId = 5,
	level = 24,
	attr = 170,
},
[205] = {
	index = 205,
	posId = 5,
	level = 25,
	attr = 175,
},
[206] = {
	index = 206,
	posId = 5,
	level = 26,
	attr = 180,
},
[207] = {
	index = 207,
	posId = 5,
	level = 27,
	attr = 185,
},
[208] = {
	index = 208,
	posId = 5,
	level = 28,
	attr = 190,
},
[209] = {
	index = 209,
	posId = 5,
	level = 29,
	attr = 195,
},
[210] = {
	index = 210,
	posId = 5,
	level = 30,
	attr = 200,
},
[211] = {
	index = 211,
	posId = 5,
	level = 31,
	attr = 205,
},
[212] = {
	index = 212,
	posId = 5,
	level = 32,
	attr = 210,
},
[213] = {
	index = 213,
	posId = 5,
	level = 33,
	attr = 215,
},
[214] = {
	index = 214,
	posId = 5,
	level = 34,
	attr = 220,
},
[215] = {
	index = 215,
	posId = 5,
	level = 35,
	attr = 225,
},
[216] = {
	index = 216,
	posId = 5,
	level = 36,
	attr = 230,
},
[217] = {
	index = 217,
	posId = 6,
	level = 1,
	attr = 10,
},
[218] = {
	index = 218,
	posId = 6,
	level = 2,
	attr = 20,
},
[219] = {
	index = 219,
	posId = 6,
	level = 3,
	attr = 30,
},
[220] = {
	index = 220,
	posId = 6,
	level = 4,
	attr = 40,
},
[221] = {
	index = 221,
	posId = 6,
	level = 5,
	attr = 50,
},
[222] = {
	index = 222,
	posId = 6,
	level = 6,
	attr = 60,
},
[223] = {
	index = 223,
	posId = 6,
	level = 7,
	attr = 70,
},
[224] = {
	index = 224,
	posId = 6,
	level = 8,
	attr = 80,
},
[225] = {
	index = 225,
	posId = 6,
	level = 9,
	attr = 90,
},
[226] = {
	index = 226,
	posId = 6,
	level = 10,
	attr = 100,
},
[227] = {
	index = 227,
	posId = 6,
	level = 11,
	attr = 105,
},
[228] = {
	index = 228,
	posId = 6,
	level = 12,
	attr = 110,
},
[229] = {
	index = 229,
	posId = 6,
	level = 13,
	attr = 115,
},
[230] = {
	index = 230,
	posId = 6,
	level = 14,
	attr = 120,
},
[231] = {
	index = 231,
	posId = 6,
	level = 15,
	attr = 125,
},
[232] = {
	index = 232,
	posId = 6,
	level = 16,
	attr = 130,
},
[233] = {
	index = 233,
	posId = 6,
	level = 17,
	attr = 135,
},
[234] = {
	index = 234,
	posId = 6,
	level = 18,
	attr = 140,
},
[235] = {
	index = 235,
	posId = 6,
	level = 19,
	attr = 145,
},
[236] = {
	index = 236,
	posId = 6,
	level = 20,
	attr = 150,
},
[237] = {
	index = 237,
	posId = 6,
	level = 21,
	attr = 155,
},
[238] = {
	index = 238,
	posId = 6,
	level = 22,
	attr = 160,
},
[239] = {
	index = 239,
	posId = 6,
	level = 23,
	attr = 165,
},
[240] = {
	index = 240,
	posId = 6,
	level = 24,
	attr = 170,
},
[241] = {
	index = 241,
	posId = 6,
	level = 25,
	attr = 175,
},
[242] = {
	index = 242,
	posId = 6,
	level = 26,
	attr = 180,
},
[243] = {
	index = 243,
	posId = 6,
	level = 27,
	attr = 185,
},
[244] = {
	index = 244,
	posId = 6,
	level = 28,
	attr = 190,
},
[245] = {
	index = 245,
	posId = 6,
	level = 29,
	attr = 195,
},
[246] = {
	index = 246,
	posId = 6,
	level = 30,
	attr = 200,
},
[247] = {
	index = 247,
	posId = 6,
	level = 31,
	attr = 205,
},
[248] = {
	index = 248,
	posId = 6,
	level = 32,
	attr = 210,
},
[249] = {
	index = 249,
	posId = 6,
	level = 33,
	attr = 215,
},
[250] = {
	index = 250,
	posId = 6,
	level = 34,
	attr = 220,
},
[251] = {
	index = 251,
	posId = 6,
	level = 35,
	attr = 225,
},
[252] = {
	index = 252,
	posId = 6,
	level = 36,
	attr = 230,
},
[253] = {
	index = 253,
	posId = 7,
	level = 1,
	attr = 10,
},
[254] = {
	index = 254,
	posId = 7,
	level = 2,
	attr = 20,
},
[255] = {
	index = 255,
	posId = 7,
	level = 3,
	attr = 30,
},
[256] = {
	index = 256,
	posId = 7,
	level = 4,
	attr = 40,
},
[257] = {
	index = 257,
	posId = 7,
	level = 5,
	attr = 50,
},
[258] = {
	index = 258,
	posId = 7,
	level = 6,
	attr = 60,
},
[259] = {
	index = 259,
	posId = 7,
	level = 7,
	attr = 70,
},
[260] = {
	index = 260,
	posId = 7,
	level = 8,
	attr = 80,
},
[261] = {
	index = 261,
	posId = 7,
	level = 9,
	attr = 90,
},
[262] = {
	index = 262,
	posId = 7,
	level = 10,
	attr = 100,
},
[263] = {
	index = 263,
	posId = 7,
	level = 11,
	attr = 105,
},
[264] = {
	index = 264,
	posId = 7,
	level = 12,
	attr = 110,
},
[265] = {
	index = 265,
	posId = 7,
	level = 13,
	attr = 115,
},
[266] = {
	index = 266,
	posId = 7,
	level = 14,
	attr = 120,
},
[267] = {
	index = 267,
	posId = 7,
	level = 15,
	attr = 125,
},
[268] = {
	index = 268,
	posId = 7,
	level = 16,
	attr = 130,
},
[269] = {
	index = 269,
	posId = 7,
	level = 17,
	attr = 135,
},
[270] = {
	index = 270,
	posId = 7,
	level = 18,
	attr = 140,
},
[271] = {
	index = 271,
	posId = 7,
	level = 19,
	attr = 145,
},
[272] = {
	index = 272,
	posId = 7,
	level = 20,
	attr = 150,
},
[273] = {
	index = 273,
	posId = 7,
	level = 21,
	attr = 155,
},
[274] = {
	index = 274,
	posId = 7,
	level = 22,
	attr = 160,
},
[275] = {
	index = 275,
	posId = 7,
	level = 23,
	attr = 165,
},
[276] = {
	index = 276,
	posId = 7,
	level = 24,
	attr = 170,
},
[277] = {
	index = 277,
	posId = 7,
	level = 25,
	attr = 175,
},
[278] = {
	index = 278,
	posId = 7,
	level = 26,
	attr = 180,
},
[279] = {
	index = 279,
	posId = 7,
	level = 27,
	attr = 185,
},
[280] = {
	index = 280,
	posId = 7,
	level = 28,
	attr = 190,
},
[281] = {
	index = 281,
	posId = 7,
	level = 29,
	attr = 195,
},
[282] = {
	index = 282,
	posId = 7,
	level = 30,
	attr = 200,
},
[283] = {
	index = 283,
	posId = 7,
	level = 31,
	attr = 205,
},
[284] = {
	index = 284,
	posId = 7,
	level = 32,
	attr = 210,
},
[285] = {
	index = 285,
	posId = 7,
	level = 33,
	attr = 215,
},
[286] = {
	index = 286,
	posId = 7,
	level = 34,
	attr = 220,
},
[287] = {
	index = 287,
	posId = 7,
	level = 35,
	attr = 225,
},
[288] = {
	index = 288,
	posId = 7,
	level = 36,
	attr = 230,
},
}