--Q-全民boss.xlsx boss配置
PublicBossConfig={
[1] = {
	id = 1,
	refreshTime = 2,
	level = 20,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 20000,
	soul = 3,
	fbId = 22001,
	bossId = 31001,
	dropId = 120002,
	rewards = 130002,
	mailTitle = LAN.MAIL.pubtitle002,
	mailContent = LAN.MAIL.pubcont002,
	enterPos = {posX=37,posY=21},
},
[2] = {
	id = 2,
	refreshTime = 5,
	level = 30,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 30000,
	soul = 6,
	fbId = 22002,
	bossId = 31002,
	dropId = 120003,
	rewards = 130003,
	mailTitle = LAN.MAIL.pubtitle003,
	mailContent = LAN.MAIL.pubcont003,
	enterPos = {posX=37,posY=21},
},
[3] = {
	id = 3,
	refreshTime = 10,
	level = 40,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 40000,
	soul = 6,
	fbId = 22003,
	bossId = 31003,
	dropId = 120004,
	rewards = 130004,
	mailTitle = LAN.MAIL.pubtitle004,
	mailContent = LAN.MAIL.pubcont004,
	enterPos = {posX=37,posY=21},
},
[4] = {
	id = 4,
	refreshTime = 15,
	level = 50,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 50000,
	soul = 10,
	fbId = 22004,
	bossId = 31004,
	dropId = 120005,
	rewards = 130005,
	mailTitle = LAN.MAIL.pubtitle005,
	mailContent = LAN.MAIL.pubcont005,
	enterPos = {posX=37,posY=21},
},
[5] = {
	id = 5,
	refreshTime = 20,
	level = 60,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 60000,
	soul = 10,
	fbId = 22005,
	bossId = 31005,
	dropId = 120006,
	rewards = 130006,
	mailTitle = LAN.MAIL.pubtitle006,
	mailContent = LAN.MAIL.pubcont006,
	enterPos = {posX=37,posY=21},
},
[6] = {
	id = 6,
	refreshTime = 25,
	level = 70,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 70000,
	soul = 15,
	fbId = 22006,
	bossId = 31006,
	dropId = 120007,
	rewards = 130007,
	mailTitle = LAN.MAIL.pubtitle007,
	mailContent = LAN.MAIL.pubcont007,
	enterPos = {posX=37,posY=21},
},
[7] = {
	id = 7,
	refreshTime = 30,
	level = 80,
	zsLevel = 0,
	goldRate = 0.25,
	goldMax = 80000,
	soul = 15,
	fbId = 22007,
	bossId = 31007,
	dropId = 120008,
	rewards = 130008,
	mailTitle = LAN.MAIL.pubtitle008,
	mailContent = LAN.MAIL.pubcont008,
	enterPos = {posX=37,posY=21},
},
[8] = {
	id = 8,
	refreshTime = 35,
	level = 80,
	zsLevel = 1,
	goldRate = 0.25,
	goldMax = 90000,
	soul = 20,
	fbId = 22008,
	bossId = 31008,
	dropId = 120009,
	rewards = 130009,
	mailTitle = LAN.MAIL.pubtitle009,
	mailContent = LAN.MAIL.pubcont009,
	enterPos = {posX=37,posY=21},
},
[9] = {
	id = 9,
	refreshTime = 40,
	level = 80,
	zsLevel = 2,
	goldRate = 0.25,
	goldMax = 100000,
	soul = 20,
	fbId = 22009,
	bossId = 31009,
	dropId = 120010,
	rewards = 130010,
	mailTitle = LAN.MAIL.pubtitle010,
	mailContent = LAN.MAIL.pubcont010,
	enterPos = {posX=37,posY=21},
},
[10] = {
	id = 10,
	refreshTime = 45,
	level = 80,
	zsLevel = 3,
	goldRate = 0.25,
	goldMax = 110000,
	soul = 30,
	fbId = 22010,
	bossId = 31010,
	dropId = 120011,
	rewards = 130011,
	mailTitle = LAN.MAIL.pubtitle011,
	mailContent = LAN.MAIL.pubcont011,
	enterPos = {posX=37,posY=21},
},
[11] = {
	id = 11,
	refreshTime = 50,
	level = 80,
	zsLevel = 4,
	goldRate = 0.25,
	goldMax = 120000,
	soul = 30,
	fbId = 22011,
	bossId = 31011,
	dropId = 120012,
	rewards = 130012,
	mailTitle = LAN.MAIL.pubtitle012,
	mailContent = LAN.MAIL.pubcont012,
	enterPos = {posX=37,posY=21},
},
[12] = {
	id = 12,
	refreshTime = 55,
	level = 80,
	zsLevel = 5,
	goldRate = 0.25,
	goldMax = 130000,
	soul = 40,
	fbId = 22012,
	bossId = 31012,
	dropId = 120013,
	rewards = 130013,
	mailTitle = LAN.MAIL.pubtitle013,
	mailContent = LAN.MAIL.pubcont013,
	enterPos = {posX=37,posY=21},
},
[13] = {
	id = 13,
	refreshTime = 60,
	level = 80,
	zsLevel = 6,
	goldRate = 0.25,
	goldMax = 140000,
	soul = 40,
	fbId = 22013,
	bossId = 31013,
	dropId = 120014,
	rewards = 130014,
	mailTitle = LAN.MAIL.pubtitle014,
	mailContent = LAN.MAIL.pubcont014,
	enterPos = {posX=37,posY=21},
},
[14] = {
	id = 14,
	refreshTime = 65,
	level = 80,
	zsLevel = 7,
	goldRate = 0.25,
	goldMax = 150000,
	soul = 50,
	fbId = 22014,
	bossId = 31014,
	dropId = 120015,
	rewards = 130015,
	mailTitle = LAN.MAIL.pubtitle015,
	mailContent = LAN.MAIL.pubcont015,
	enterPos = {posX=37,posY=21},
},
[15] = {
	id = 15,
	refreshTime = 70,
	level = 80,
	zsLevel = 8,
	goldRate = 0.25,
	goldMax = 160000,
	soul = 50,
	fbId = 22015,
	bossId = 31015,
	dropId = 120016,
	rewards = 130016,
	mailTitle = LAN.MAIL.pubtitle016,
	mailContent = LAN.MAIL.pubcont016,
	enterPos = {posX=37,posY=21},
},
[16] = {
	id = 16,
	refreshTime = 75,
	level = 80,
	zsLevel = 9,
	goldRate = 0.25,
	goldMax = 170000,
	soul = 60,
	fbId = 22016,
	bossId = 31016,
	dropId = 120017,
	rewards = 130017,
	mailTitle = LAN.MAIL.pubtitle017,
	mailContent = LAN.MAIL.pubcont017,
	enterPos = {posX=37,posY=21},
},
[17] = {
	id = 17,
	refreshTime = 80,
	level = 80,
	zsLevel = 10,
	goldRate = 0.25,
	goldMax = 180000,
	soul = 60,
	fbId = 22017,
	bossId = 31017,
	dropId = 120018,
	rewards = 130018,
	mailTitle = LAN.MAIL.pubtitle018,
	mailContent = LAN.MAIL.pubcont018,
	enterPos = {posX=37,posY=21},
},
[18] = {
	id = 18,
	refreshTime = 85,
	level = 80,
	zsLevel = 11,
	goldRate = 0.25,
	goldMax = 190000,
	soul = 70,
	fbId = 22018,
	bossId = 31018,
	dropId = 120019,
	rewards = 130019,
	mailTitle = LAN.MAIL.pubtitle019,
	mailContent = LAN.MAIL.pubcont019,
	enterPos = {posX=37,posY=21},
},
}