--S-商城系统配置.xlsx 功勋商店
FeatsStore={
[1] = {
	buyType = 2,
	goods = {{type=1,id=204076,count=100}},
	costMoney = {type=15,count=1000},
	use = LAN.SHOP.good024,
},
[2] = {
	buyType = 1,
	goods = {{type=1,id=204095,count=1}},
	costItem = {id=204076,count=1000},
	daycount = 1,
	use = LAN.SHOP.good025,
},
[3] = {
	buyType = 3,
	goods = {{type=1,id=220011,count=1}},
	costItem = {id=204076,count=10000},
	daycount = 5,
	use = LAN.SHOP.good026,
},
[4] = {
	buyType = 1,
	goods = {{type=1,id=200167,count=100}},
	costItem = {id=204076,count=75},
	daycount = 20,
	use = LAN.SHOP.good027,
},
[5] = {
	buyType = 1,
	goods = {{type=1,id=200208,count=20}},
	costItem = {id=204076,count=70},
	daycount = 20,
	use = LAN.SHOP.good028,
},
[6] = {
	buyType = 2,
	goods = {{type=1,id=200164,count=1}},
	costItem = {id=204076,count=70},
	use = LAN.SHOP.good029,
},
[7] = {
	buyType = 2,
	goods = {{type=1,id=500005,count=1}},
	costItem = {id=204076,count=75},
	use = LAN.SHOP.good030,
},
}