--S-商城系统配置.xlsx 贵族商店
IntegralStore={
[1] = {
	index = 1,
	type = 1,
	itemId = 200003,
	count = 1,
	price = 48,
	use = LAN.SHOP.good003,
},
[2] = {
	index = 2,
	type = 1,
	itemId = 200005,
	count = 1,
	price = 80,
	use = LAN.SHOP.good004,
},
[3] = {
	index = 3,
	type = 1,
	itemId = 200009,
	count = 1,
	price = 800,
	use = LAN.SHOP.good005,
},
[4] = {
	index = 4,
	type = 1,
	itemId = 200010,
	count = 1,
	price = 7999,
	use = LAN.SHOP.good005,
},
[5] = {
	index = 5,
	type = 1,
	itemId = 450001,
	count = 1,
	price = 7999,
	use = LAN.SHOP.good009,
},
[6] = {
	index = 6,
	type = 1,
	itemId = 200001,
	count = 1,
	price = 100,
	use = LAN.SHOP.good001,
},
[7] = {
	index = 7,
	type = 1,
	itemId = 200013,
	count = 1,
	price = 8888,
	use = LAN.SHOP.good011,
},
[8] = {
	index = 8,
	type = 1,
	itemId = 200014,
	count = 1,
	price = 8888,
	use = LAN.SHOP.good012,
},
}