--S-商城系统配置.xlsx 道具商店
ItemStoreConfig={
[1] = {
	index = 1,
	id = 1,
	itemId = 200003,
	use = LAN.SHOP.good003,
	price = 50,
},
[2] = {
	index = 2,
	id = 2,
	itemId = 200005,
	use = LAN.SHOP.good004,
	price = 100,
},
[3] = {
	index = 3,
	id = 3,
	itemId = 200009,
	use = LAN.SHOP.good005,
	price = 1000,
},
[4] = {
	index = 4,
	id = 4,
	itemId = 200010,
	use = LAN.SHOP.good005,
	price = 9998,
},
[5] = {
	index = 5,
	id = 5,
	itemId = 450001,
	use = LAN.SHOP.good009,
	price = 9998,
},
[6] = {
	index = 6,
	id = 6,
	itemId = 200001,
	use = LAN.SHOP.good001,
	price = 100,
},
[7] = {
	index = 7,
	id = 7,
	itemId = 200164,
	use = LAN.SHOP.good013,
	price = 200,
	vipLimit = {[0]=10,[1]=20,[2]=30,[3]=30,[4]=30,[5]=30,[6]=30,[7]=30,[8]=30,[9]=30,[10]=30,[11]=30,[12]=30,[13]=30,[14]=30,[15]=30},
},
[8] = {
	index = 8,
	id = 8,
	itemId = 201104,
	use = LAN.SHOP.good023,
	price = 1000,
},
[9] = {
	index = 9,
	id = 9,
	itemId = 201105,
	use = LAN.SHOP.good023,
	price = 9998,
},
[10] = {
	index = 10,
	id = 10,
	itemId = 205000,
	use = LAN.SHOP.good031,
	price = 80,
},
[11] = {
	index = 11,
	id = 11,
	itemId = 200165,
	use = LAN.SHOP.good032,
	price = 500,
},
[12] = {
	index = 12,
	id = 12,
	itemId = 200166,
	use = LAN.SHOP.good033,
	price = 200,
},
[13] = {
	index = 13,
	id = 13,
	itemId = 200300,
	use = LAN.SHOP.good034,
	price = 500,
},
[14] = {
	index = 14,
	id = 14,
	itemId = 200982,
	use = LAN.SHOP.good035,
	price = 500,
},
}