--D-锻造顺序配置表.xlsx 锻造顺序表
ForgeIndexConfig={
[1] = {
	index = 1,
	posId = 0,
	name = "武器",
},
[2] = {
	index = 2,
	posId = 1,
	name = "头盔",
},
[3] = {
	index = 3,
	posId = 2,
	name = "衣服",
},
[4] = {
	index = 4,
	posId = 3,
	name = "项链",
},
[5] = {
	index = 5,
	posId = 4,
	name = "手镯",
},
[6] = {
	index = 6,
	posId = 5,
	name = "手镯",
},
[7] = {
	index = 7,
	posId = 6,
	name = "戒指",
},
[8] = {
	index = 8,
	posId = 7,
	name = "戒指",
},
}