--L-聊天.xlsx 聊天等级配置
ChatLevelConfig={
[1] = {
	id = 1,
	chatSize = 0,
	power = 0,
},
[2] = {
	id = 2,
	chatSize = 5,
	power = 50000,
},
[3] = {
	id = 3,
	chatSize = 10,
	power = 100000,
},
[4] = {
	id = 4,
	chatSize = 20,
	power = 150000,
},
[5] = {
	id = 5,
	chatSize = 30,
	power = 300000,
},
[6] = {
	id = 6,
	chatSize = 999,
	power = 500000,
},
[7] = {
	id = 7,
	chatSize = 999999,
	power = 1000000,
},
}