--L-烈焰印记.xlsx 基础配置
FlameStamp={
	openLevel = 155,
	stampId = 1,
	activityRate = {[600]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}},[608]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}},[620]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}},[901]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}},[921]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}}},
}