--L-烈焰印记.xlsx 印记技能效果
FlameStampEffect={
[1] = {
	[1] = {
		id = 1,
		level = 1,
		stampLevel = 1,
		costItem = 0,
		costCount = 0,
		skillId = 64001,
		stamp = 2,
	},
},
[2] = {
	[1] = {
		id = 2,
		level = 1,
		stampLevel = 1,
		costItem = 200211,
		costCount = 1,
		exPower = 33333,
		skillId = 64002,
		stamp = 3,
	},
	[2] = {
		id = 2,
		level = 2,
		stampLevel = 1,
		costItem = 200211,
		costCount = 1,
		exPower = 66666,
		skillId = 64003,
		stamp = 4,
	},
	[3] = {
		id = 2,
		level = 3,
		stampLevel = 1,
		costItem = 200211,
		costCount = 1,
		exPower = 100000,
		skillId = 64004,
		stamp = 5,
	},
	[4] = {
		id = 2,
		level = 4,
		stampLevel = 1,
		costItem = 200211,
		costCount = 1,
		exPower = 133333,
		skillId = 64005,
		stamp = 6,
	},
	[5] = {
		id = 2,
		level = 5,
		stampLevel = 1,
		costItem = 200211,
		costCount = 1,
		exPower = 166666,
		skillId = 64006,
		stamp = 7,
	},
},
[3] = {
	[1] = {
		id = 3,
		level = 1,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 16666,
		reloadTime = 500,
	},
	[2] = {
		id = 3,
		level = 2,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 33333,
		reloadTime = 1000,
	},
	[3] = {
		id = 3,
		level = 3,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 50000,
		reloadTime = 1500,
	},
	[4] = {
		id = 3,
		level = 4,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 66666,
		reloadTime = 2000,
	},
	[5] = {
		id = 3,
		level = 5,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 83333,
		reloadTime = 2500,
	},
	[6] = {
		id = 3,
		level = 6,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 100000,
		reloadTime = 3000,
	},
	[7] = {
		id = 3,
		level = 7,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 116666,
		reloadTime = 3500,
	},
	[8] = {
		id = 3,
		level = 8,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 133333,
		reloadTime = 4000,
	},
	[9] = {
		id = 3,
		level = 9,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 150000,
		reloadTime = 4500,
	},
	[10] = {
		id = 3,
		level = 10,
		stampLevel = 1,
		costItem = 200212,
		costCount = 1,
		exPower = 166666,
		reloadTime = 5000,
	},
},
[4] = {
	[1] = {
		id = 4,
		level = 1,
		stampLevel = 100,
		effId = 67001,
		selfEffId = 72001,
		costItem = 0,
		costCount = 0,
		exPower = 33333,
	},
	[2] = {
		id = 4,
		level = 2,
		stampLevel = 300,
		effId = 67002,
		selfEffId = 72001,
		costItem = 0,
		costCount = 0,
		exPower = 66666,
	},
	[3] = {
		id = 4,
		level = 3,
		stampLevel = 400,
		effId = 67003,
		selfEffId = 72001,
		costItem = 0,
		costCount = 0,
		exPower = 100000,
	},
},
[5] = {
	[1] = {
		id = 5,
		level = 1,
		stampLevel = 50,
		effId = 68001,
		costItem = 0,
		costCount = 0,
		exPower = 33333,
	},
	[2] = {
		id = 5,
		level = 2,
		stampLevel = 150,
		effId = 68002,
		costItem = 0,
		costCount = 0,
		exPower = 66666,
	},
	[3] = {
		id = 5,
		level = 3,
		stampLevel = 250,
		effId = 68003,
		costItem = 0,
		costCount = 0,
		exPower = 100000,
	},
},
[6] = {
	[1] = {
		id = 6,
		level = 1,
		stampLevel = 200,
		effId = 69001,
		costItem = 0,
		costCount = 0,
		exPower = 33333,
	},
	[2] = {
		id = 6,
		level = 2,
		stampLevel = 350,
		effId = 69002,
		costItem = 0,
		costCount = 0,
		exPower = 66666,
	},
	[3] = {
		id = 6,
		level = 3,
		stampLevel = 450,
		effId = 69003,
		costItem = 0,
		costCount = 0,
		exPower = 100000,
	},
	[4] = {
		id = 6,
		level = 4,
		stampLevel = 500,
		effId = 69004,
		costItem = 0,
		costCount = 0,
		exPower = 133333,
	},
},
[7] = {
	[1] = {
		id = 7,
		level = 1,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 16666,
		bulletDamage = {a=0.1},
	},
	[2] = {
		id = 7,
		level = 2,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 33333,
		bulletDamage = {a=0.2},
	},
	[3] = {
		id = 7,
		level = 3,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 50000,
		bulletDamage = {a=0.3},
	},
	[4] = {
		id = 7,
		level = 4,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 66666,
		bulletDamage = {a=0.4},
	},
	[5] = {
		id = 7,
		level = 5,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 83333,
		bulletDamage = {a=0.5},
	},
	[6] = {
		id = 7,
		level = 6,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 100000,
		bulletDamage = {a=0.6},
	},
	[7] = {
		id = 7,
		level = 7,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 116666,
		bulletDamage = {a=0.7},
	},
	[8] = {
		id = 7,
		level = 8,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 133333,
		bulletDamage = {a=0.8},
	},
	[9] = {
		id = 7,
		level = 9,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 150000,
		bulletDamage = {a=0.9},
	},
	[10] = {
		id = 7,
		level = 10,
		stampLevel = 1,
		costItem = 200213,
		costCount = 1,
		exPower = 166666,
		bulletDamage = {a=1},
	},
},
}