--T-提示文字表.xlsx Sheet1
HintConfig={
[1] = {
	index = 1,
	type = 1,
},
[2] = {
	index = 2,
	type = 2,
},
[3] = {
	index = 3,
	type = 4,
},
[4] = {
	index = 4,
	type = 3,
},
[5] = {
	index = 5,
	type = 2,
},
[6] = {
	index = 6,
	type = 4,
},
[7] = {
	index = 7,
	type = 3,
},
[8] = {
	index = 8,
	type = 4,
},
[9] = {
	index = 9,
	type = 3,
},
[10] = {
	index = 10,
	type = 3,
},
[11] = {
	index = 11,
	type = 3,
},
[12] = {
	index = 12,
	type = 3,
},
[13] = {
	index = 13,
	type = 5,
},
[14] = {
	index = 14,
	type = 3,
},
[15] = {
	index = 15,
	type = 3,
},
[16] = {
	index = 16,
	type = 4,
},
[17] = {
	index = 17,
	type = 4,
},
[18] = {
	index = 18,
	type = 4,
},
[19] = {
	index = 19,
	type = 3,
},
}