--K-跨服3v3.xlsx 基础配置
CrossArenaBase={
	openDay = 30,
	openLevel = 30,
	lastTime = 180,
	countTime = 60,
	needGatherTime = 10,
	flagRefreshTime = 5,
	flagPos = {posX=26,posY=20},
	flagBossId = 87099,
	readyPos = {{posX=4,posY=35},{posX=49,posY=5}},
	fbId = 51031,
	gatherScore = 10,
	killScore = 20,
	instScore = 1000,
	winScore = 200,
	lowestScore = 300,
	joinCount = 5,
	maxJoinCount = 10,
	joinTitle = "魔界入侵参与奖励",
	joinContent = "恭喜您参与击杀入侵的魔君，下面是您的参与奖励，请您查收！",
	peakCountInfo = {winCount=500, loseCount=300, drawCount=300, firstKillCount=50, firstGatherCount=50, mvpCount=50},
	assistsTime = 10,
	DropIdInfo = {winDropId=151354, loseDropId=151354, drawDropId=151354},
	rebornCd = 20,
	firstGatherNoticeId = 426,
	firstKillNoticeId = 427,
	scoreMetal = {1000, 1500, 2000, 3000},
	peakAwards = {
 {count = 100, award = {{type=0,id=1,count=1}}},
 {count = 200, award = {{type=0,id=1,count=1}}},
 {count = 300, award = {{type=0,id=1,count=1}}},
},
	everyDayAward = {
 {metal = 1, award = {{type=0,id=1,count=1}}},
 {metal = 2, award = {{type=0,id=1,count=1}}},
 {metal = 3, award = {{type=0,id=1,count=1}}},
 {metal = 4, award = {{type=0,id=1,count=1}}},
},
	finalAward = {
 {metal = 1, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {metal = 2, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {metal = 3, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {metal = 4, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {metal = 5, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
},
	rankAward = {
 {rankIdx = 1, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {rankIdx = 5, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {rankIdx = 10, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {rankIdx = 30, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
 {rankIdx = 100, mail = {head = "1", context = "2", tAwardList = {{type=0,id=1,count=1}}}},
},
	teamScoreRange = 200,
	teamPoolScore = {100, 200, 300, 1000000},
	teamPoolTime = {10, 20, 30},
	enemyPoolScore = {100, 200, 300, 1000000},
	enemyPoolTime = {10, 20, 30},
	worldInvitationId = 425,
	zhuanshengLevel = 5,
	peakItemId = 204076,
	worldInvitationCd = 30,
	advanceNoticeId = 436,
	openNoticeId = 437,
}