--K-跨服3v3.xlsx 积分配置
CrossArenaScore={
[1] = {
	id = 1,
	minScore = 1000,
	MaxScore = 1200,
	winScore = 20,
	loseScore = -10,
	drawScore = 10,
	mvpScore = 20,
	firstKillScore = 10,
	firstGatherScore = 10,
	multiScore = {count=2,score=10},
	escapeScore = -10,
},
[2] = {
	id = 2,
	minScore = 1201,
	MaxScore = 1500,
	winScore = 15,
	loseScore = -15,
	drawScore = 5,
	mvpScore = 15,
	firstKillScore = 8,
	firstGatherScore = 8,
	multiScore = {count=2,score=11},
	escapeScore = -20,
},
}