--H-魂骨和挑战魂兽.xlsx 装备
HunGuEquip={
[280001] = {
	id = 280001,
	type = 0,
	stage = 1,
	attrs = {{type=4,value=7875},{type=5,value=2812},{type=2,value=102937}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280201,count=1}},
	nextId = 280002,
},
[280002] = {
	id = 280002,
	type = 0,
	stage = 2,
	attrs = {{type=4,value=23625},{type=5,value=8437},{type=2,value=308812}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280202,count=1}},
	nextId = 280003,
},
[280003] = {
	id = 280003,
	type = 0,
	stage = 3,
	attrs = {{type=4,value=47250},{type=5,value=16875},{type=2,value=617625}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280203,count=1}},
	nextId = 280004,
},
[280004] = {
	id = 280004,
	type = 0,
	stage = 4,
	attrs = {{type=4,value=78750},{type=5,value=28125},{type=2,value=1029375}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280204,count=1}},
	nextId = 280005,
},
[280005] = {
	id = 280005,
	type = 0,
	stage = 5,
	attrs = {{type=4,value=118125},{type=5,value=42187},{type=2,value=1544062}},
	hunyuNum = 5,
},
[280011] = {
	id = 280011,
	type = 1,
	stage = 1,
	attrs = {{type=4,value=7875},{type=6,value=2812},{type=2,value=102937}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280205,count=1}},
	nextId = 280012,
},
[280012] = {
	id = 280012,
	type = 1,
	stage = 2,
	attrs = {{type=4,value=23625},{type=6,value=8437},{type=2,value=308812}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280206,count=1}},
	nextId = 280013,
},
[280013] = {
	id = 280013,
	type = 1,
	stage = 3,
	attrs = {{type=4,value=47250},{type=6,value=16875},{type=2,value=617625}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280207,count=1}},
	nextId = 280014,
},
[280014] = {
	id = 280014,
	type = 1,
	stage = 4,
	attrs = {{type=4,value=78750},{type=6,value=28125},{type=2,value=1029375}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280208,count=1}},
	nextId = 280015,
},
[280015] = {
	id = 280015,
	type = 1,
	stage = 5,
	attrs = {{type=4,value=118125},{type=6,value=42187},{type=2,value=1544062}},
	hunyuNum = 5,
},
[280021] = {
	id = 280021,
	type = 2,
	stage = 1,
	attrs = {{type=4,value=2250},{type=5,value=937},{type=6,value=937},{type=2,value=32625}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280209,count=1}},
	nextId = 280022,
},
[280022] = {
	id = 280022,
	type = 2,
	stage = 2,
	attrs = {{type=4,value=6750},{type=5,value=2812},{type=6,value=2812},{type=2,value=97875}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280210,count=1}},
	nextId = 280023,
},
[280023] = {
	id = 280023,
	type = 2,
	stage = 3,
	attrs = {{type=4,value=13500},{type=5,value=5625},{type=6,value=5625},{type=2,value=195750}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280211,count=1}},
	nextId = 280024,
},
[280024] = {
	id = 280024,
	type = 2,
	stage = 4,
	attrs = {{type=4,value=22500},{type=5,value=9375},{type=6,value=9375},{type=2,value=326250}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280212,count=1}},
	nextId = 280025,
},
[280025] = {
	id = 280025,
	type = 2,
	stage = 5,
	attrs = {{type=4,value=33750},{type=5,value=14062},{type=6,value=14062},{type=2,value=489375}},
	hunyuNum = 5,
},
[280031] = {
	id = 280031,
	type = 3,
	stage = 1,
	attrs = {{type=4,value=2250},{type=5,value=937},{type=6,value=937},{type=2,value=32625}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280213,count=1}},
	nextId = 280032,
},
[280032] = {
	id = 280032,
	type = 3,
	stage = 2,
	attrs = {{type=4,value=6750},{type=5,value=2812},{type=6,value=2812},{type=2,value=97875}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280214,count=1}},
	nextId = 280033,
},
[280033] = {
	id = 280033,
	type = 3,
	stage = 3,
	attrs = {{type=4,value=13500},{type=5,value=5625},{type=6,value=5625},{type=2,value=195750}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280215,count=1}},
	nextId = 280034,
},
[280034] = {
	id = 280034,
	type = 3,
	stage = 4,
	attrs = {{type=4,value=22500},{type=5,value=9375},{type=6,value=9375},{type=2,value=326250}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280216,count=1}},
	nextId = 280035,
},
[280035] = {
	id = 280035,
	type = 3,
	stage = 5,
	attrs = {{type=4,value=33750},{type=5,value=14062},{type=6,value=14062},{type=2,value=489375}},
	hunyuNum = 5,
},
[280041] = {
	id = 280041,
	type = 4,
	stage = 1,
	attrs = {{type=4,value=2625},{type=5,value=937},{type=2,value=34312}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280217,count=1}},
	nextId = 280042,
},
[280042] = {
	id = 280042,
	type = 4,
	stage = 2,
	attrs = {{type=4,value=7875},{type=5,value=2812},{type=2,value=102937}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280218,count=1}},
	nextId = 280043,
},
[280043] = {
	id = 280043,
	type = 4,
	stage = 3,
	attrs = {{type=4,value=15750},{type=5,value=5625},{type=2,value=205875}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280219,count=1}},
	nextId = 280044,
},
[280044] = {
	id = 280044,
	type = 4,
	stage = 4,
	attrs = {{type=4,value=26250},{type=5,value=9375},{type=2,value=343125}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280220,count=1}},
	nextId = 280045,
},
[280045] = {
	id = 280045,
	type = 4,
	stage = 5,
	attrs = {{type=4,value=39375},{type=5,value=14062},{type=2,value=514687}},
	hunyuNum = 5,
},
[280051] = {
	id = 280051,
	type = 5,
	stage = 1,
	attrs = {{type=4,value=2625},{type=5,value=937},{type=2,value=34312}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280221,count=1}},
	nextId = 280052,
},
[280052] = {
	id = 280052,
	type = 5,
	stage = 2,
	attrs = {{type=4,value=7875},{type=5,value=2812},{type=2,value=102937}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280222,count=1}},
	nextId = 280053,
},
[280053] = {
	id = 280053,
	type = 5,
	stage = 3,
	attrs = {{type=4,value=15750},{type=5,value=5625},{type=2,value=205875}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280223,count=1}},
	nextId = 280054,
},
[280054] = {
	id = 280054,
	type = 5,
	stage = 4,
	attrs = {{type=4,value=26250},{type=5,value=9375},{type=2,value=343125}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280224,count=1}},
	nextId = 280055,
},
[280055] = {
	id = 280055,
	type = 5,
	stage = 5,
	attrs = {{type=4,value=39375},{type=5,value=14062},{type=2,value=514687}},
	hunyuNum = 5,
},
[280061] = {
	id = 280061,
	type = 6,
	stage = 1,
	attrs = {{type=4,value=2625},{type=6,value=937},{type=2,value=34312}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280225,count=1}},
	nextId = 280062,
},
[280062] = {
	id = 280062,
	type = 6,
	stage = 2,
	attrs = {{type=4,value=7875},{type=6,value=2812},{type=2,value=102937}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280226,count=1}},
	nextId = 280063,
},
[280063] = {
	id = 280063,
	type = 6,
	stage = 3,
	attrs = {{type=4,value=15750},{type=6,value=5625},{type=2,value=205875}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280227,count=1}},
	nextId = 280064,
},
[280064] = {
	id = 280064,
	type = 6,
	stage = 4,
	attrs = {{type=4,value=26250},{type=6,value=9375},{type=2,value=343125}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280228,count=1}},
	nextId = 280065,
},
[280065] = {
	id = 280065,
	type = 6,
	stage = 5,
	attrs = {{type=4,value=39375},{type=6,value=14062},{type=2,value=514687}},
	hunyuNum = 5,
},
[280071] = {
	id = 280071,
	type = 7,
	stage = 1,
	attrs = {{type=4,value=2625},{type=6,value=937},{type=2,value=34312}},
	hunyuNum = 2,
	addStageCost = {{type=1,id=280229,count=1}},
	nextId = 280072,
},
[280072] = {
	id = 280072,
	type = 7,
	stage = 2,
	attrs = {{type=4,value=7875},{type=6,value=2812},{type=2,value=102937}},
	hunyuNum = 3,
	addStageCost = {{type=1,id=280230,count=1}},
	nextId = 280073,
},
[280073] = {
	id = 280073,
	type = 7,
	stage = 3,
	attrs = {{type=4,value=15750},{type=6,value=5625},{type=2,value=205875}},
	hunyuNum = 4,
	addStageCost = {{type=1,id=280231,count=1}},
	nextId = 280074,
},
[280074] = {
	id = 280074,
	type = 7,
	stage = 4,
	attrs = {{type=4,value=26250},{type=6,value=9375},{type=2,value=343125}},
	hunyuNum = 5,
	addStageCost = {{type=1,id=280232,count=1}},
	nextId = 280075,
},
[280075] = {
	id = 280075,
	type = 7,
	stage = 5,
	attrs = {{type=4,value=39375},{type=6,value=14062},{type=2,value=514687}},
	hunyuNum = 5,
},
}