--H-魂骨和挑战魂兽.xlsx 共鸣
HunGuSuit={
[1] = {
	[2] = {
		[1] = {
			id = 1,
			count = 2,
			stage = 1,
			specialAttrs = 1000,
		},
		[2] = {
			id = 1,
			count = 2,
			stage = 2,
			specialAttrs = 2000,
		},
		[3] = {
			id = 1,
			count = 2,
			stage = 3,
			specialAttrs = 3000,
		},
		[4] = {
			id = 1,
			count = 2,
			stage = 4,
			specialAttrs = 4000,
		},
		[5] = {
			id = 1,
			count = 2,
			stage = 5,
			specialAttrs = 5000,
		},
	},
},
[2] = {
	[2] = {
		[1] = {
			id = 2,
			count = 2,
			stage = 1,
			attrs = {{type=4,value=1500},{type=5,value=375},{type=6,value=375},{type=2,value=20250}},
		},
		[2] = {
			id = 2,
			count = 2,
			stage = 2,
			attrs = {{type=4,value=4500},{type=5,value=1125},{type=6,value=1125},{type=2,value=60750}},
		},
		[3] = {
			id = 2,
			count = 2,
			stage = 3,
			attrs = {{type=4,value=9000},{type=5,value=2250},{type=6,value=2250},{type=2,value=121500}},
		},
		[4] = {
			id = 2,
			count = 2,
			stage = 4,
			attrs = {{type=4,value=15000},{type=5,value=3750},{type=6,value=3750},{type=2,value=202500}},
		},
		[5] = {
			id = 2,
			count = 2,
			stage = 5,
			attrs = {{type=4,value=22500},{type=5,value=5625},{type=6,value=5625},{type=2,value=303750}},
		},
	},
	[4] = {
		[1] = {
			id = 2,
			count = 4,
			stage = 1,
			attrs = {{type=4,value=3000},{type=5,value=750},{type=6,value=750},{type=2,value=40500}},
		},
		[2] = {
			id = 2,
			count = 4,
			stage = 2,
			attrs = {{type=4,value=9000},{type=5,value=2250},{type=6,value=2250},{type=2,value=121500}},
		},
		[3] = {
			id = 2,
			count = 4,
			stage = 3,
			attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		},
		[4] = {
			id = 2,
			count = 4,
			stage = 4,
			attrs = {{type=4,value=30000},{type=5,value=7500},{type=6,value=7500},{type=2,value=405000}},
		},
		[5] = {
			id = 2,
			count = 4,
			stage = 5,
			attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		},
	},
	[6] = {
		[1] = {
			id = 2,
			count = 6,
			stage = 1,
			attrs = {{type=79,value=1500},{type=80,value=5000},{type=81,value=20000}},
			expower = 300000,
		},
		[2] = {
			id = 2,
			count = 6,
			stage = 2,
			attrs = {{type=79,value=1500},{type=80,value=7500},{type=81,value=20000}},
			expower = 450000,
		},
		[3] = {
			id = 2,
			count = 6,
			stage = 3,
			attrs = {{type=79,value=1500},{type=80,value=10000},{type=81,value=20000}},
			expower = 600000,
		},
		[4] = {
			id = 2,
			count = 6,
			stage = 4,
			attrs = {{type=79,value=1500},{type=80,value=12500},{type=81,value=20000}},
			expower = 750000,
		},
		[5] = {
			id = 2,
			count = 6,
			stage = 5,
			attrs = {{type=79,value=1500},{type=80,value=15000},{type=81,value=20000}},
			expower = 900000,
		},
	},
},
}