--H-魂骨和挑战魂兽.xlsx 魂玉
HunYuEquip={
[1] = {
	[1] = {
		id = 1,
		level = 1,
		cost = {type=1,id=280000,count=100},
		attrs = {{type=4,value=40},{type=2,value=720}},
	},
	[2] = {
		id = 1,
		level = 2,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=80},{type=2,value=1440}},
	},
	[3] = {
		id = 1,
		level = 3,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=120},{type=2,value=2160}},
	},
	[4] = {
		id = 1,
		level = 4,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=160},{type=2,value=2880}},
	},
	[5] = {
		id = 1,
		level = 5,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=200},{type=2,value=3600}},
	},
	[6] = {
		id = 1,
		level = 6,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=240},{type=2,value=4320}},
	},
	[7] = {
		id = 1,
		level = 7,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=280},{type=2,value=5040}},
	},
	[8] = {
		id = 1,
		level = 8,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=320},{type=2,value=5760}},
	},
	[9] = {
		id = 1,
		level = 9,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=360},{type=2,value=6480}},
	},
	[10] = {
		id = 1,
		level = 10,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=400},{type=2,value=7200}},
	},
	[11] = {
		id = 1,
		level = 11,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=448},{type=2,value=8064}},
	},
	[12] = {
		id = 1,
		level = 12,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=496},{type=2,value=8928}},
	},
	[13] = {
		id = 1,
		level = 13,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=544},{type=2,value=9792}},
	},
	[14] = {
		id = 1,
		level = 14,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=592},{type=2,value=10656}},
	},
	[15] = {
		id = 1,
		level = 15,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=640},{type=2,value=11520}},
	},
	[16] = {
		id = 1,
		level = 16,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=688},{type=2,value=12384}},
	},
	[17] = {
		id = 1,
		level = 17,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=736},{type=2,value=13248}},
	},
	[18] = {
		id = 1,
		level = 18,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=784},{type=2,value=14112}},
	},
	[19] = {
		id = 1,
		level = 19,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=832},{type=2,value=14976}},
	},
	[20] = {
		id = 1,
		level = 20,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=880},{type=2,value=15840}},
	},
	[21] = {
		id = 1,
		level = 21,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=936},{type=2,value=16848}},
	},
	[22] = {
		id = 1,
		level = 22,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=992},{type=2,value=17856}},
	},
	[23] = {
		id = 1,
		level = 23,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1048},{type=2,value=18864}},
	},
	[24] = {
		id = 1,
		level = 24,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1104},{type=2,value=19872}},
	},
	[25] = {
		id = 1,
		level = 25,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1160},{type=2,value=20880}},
	},
	[26] = {
		id = 1,
		level = 26,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1216},{type=2,value=21888}},
	},
	[27] = {
		id = 1,
		level = 27,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1272},{type=2,value=22896}},
	},
	[28] = {
		id = 1,
		level = 28,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1328},{type=2,value=23904}},
	},
	[29] = {
		id = 1,
		level = 29,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1384},{type=2,value=24912}},
	},
	[30] = {
		id = 1,
		level = 30,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1440},{type=2,value=25920}},
	},
	[31] = {
		id = 1,
		level = 31,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1504},{type=2,value=27072}},
	},
	[32] = {
		id = 1,
		level = 32,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1568},{type=2,value=28224}},
	},
	[33] = {
		id = 1,
		level = 33,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1632},{type=2,value=29376}},
	},
	[34] = {
		id = 1,
		level = 34,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1696},{type=2,value=30528}},
	},
	[35] = {
		id = 1,
		level = 35,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1760},{type=2,value=31680}},
	},
	[36] = {
		id = 1,
		level = 36,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1824},{type=2,value=32832}},
	},
	[37] = {
		id = 1,
		level = 37,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1888},{type=2,value=33984}},
	},
	[38] = {
		id = 1,
		level = 38,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1952},{type=2,value=35136}},
	},
	[39] = {
		id = 1,
		level = 39,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=2016},{type=2,value=36288}},
	},
	[40] = {
		id = 1,
		level = 40,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=2080},{type=2,value=37440}},
	},
},
[2] = {
	[1] = {
		id = 2,
		level = 1,
		cost = {type=1,id=280000,count=100},
		attrs = {{type=4,value=40},{type=5,value=40},{type=2,value=360}},
	},
	[2] = {
		id = 2,
		level = 2,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=80},{type=5,value=80},{type=2,value=720}},
	},
	[3] = {
		id = 2,
		level = 3,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=120},{type=5,value=120},{type=2,value=1080}},
	},
	[4] = {
		id = 2,
		level = 4,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=160},{type=5,value=160},{type=2,value=1440}},
	},
	[5] = {
		id = 2,
		level = 5,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=200},{type=5,value=200},{type=2,value=1800}},
	},
	[6] = {
		id = 2,
		level = 6,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=240},{type=5,value=240},{type=2,value=2160}},
	},
	[7] = {
		id = 2,
		level = 7,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=280},{type=5,value=280},{type=2,value=2520}},
	},
	[8] = {
		id = 2,
		level = 8,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=320},{type=5,value=320},{type=2,value=2880}},
	},
	[9] = {
		id = 2,
		level = 9,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=360},{type=5,value=360},{type=2,value=3240}},
	},
	[10] = {
		id = 2,
		level = 10,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=400},{type=5,value=400},{type=2,value=3600}},
	},
	[11] = {
		id = 2,
		level = 11,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=448},{type=5,value=448},{type=2,value=4032}},
	},
	[12] = {
		id = 2,
		level = 12,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=496},{type=5,value=496},{type=2,value=4464}},
	},
	[13] = {
		id = 2,
		level = 13,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=544},{type=5,value=544},{type=2,value=4896}},
	},
	[14] = {
		id = 2,
		level = 14,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=592},{type=5,value=592},{type=2,value=5328}},
	},
	[15] = {
		id = 2,
		level = 15,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=640},{type=5,value=640},{type=2,value=5760}},
	},
	[16] = {
		id = 2,
		level = 16,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=688},{type=5,value=688},{type=2,value=6192}},
	},
	[17] = {
		id = 2,
		level = 17,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=736},{type=5,value=736},{type=2,value=6624}},
	},
	[18] = {
		id = 2,
		level = 18,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=784},{type=5,value=784},{type=2,value=7056}},
	},
	[19] = {
		id = 2,
		level = 19,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=832},{type=5,value=832},{type=2,value=7488}},
	},
	[20] = {
		id = 2,
		level = 20,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=880},{type=5,value=880},{type=2,value=7920}},
	},
	[21] = {
		id = 2,
		level = 21,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=936},{type=5,value=936},{type=2,value=8424}},
	},
	[22] = {
		id = 2,
		level = 22,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=992},{type=5,value=992},{type=2,value=8928}},
	},
	[23] = {
		id = 2,
		level = 23,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1048},{type=5,value=1048},{type=2,value=9432}},
	},
	[24] = {
		id = 2,
		level = 24,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1104},{type=5,value=1104},{type=2,value=9936}},
	},
	[25] = {
		id = 2,
		level = 25,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1160},{type=5,value=1160},{type=2,value=10440}},
	},
	[26] = {
		id = 2,
		level = 26,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1216},{type=5,value=1216},{type=2,value=10944}},
	},
	[27] = {
		id = 2,
		level = 27,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1272},{type=5,value=1272},{type=2,value=11448}},
	},
	[28] = {
		id = 2,
		level = 28,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1328},{type=5,value=1328},{type=2,value=11952}},
	},
	[29] = {
		id = 2,
		level = 29,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1384},{type=5,value=1384},{type=2,value=12456}},
	},
	[30] = {
		id = 2,
		level = 30,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1440},{type=5,value=1440},{type=2,value=12960}},
	},
	[31] = {
		id = 2,
		level = 31,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1504},{type=5,value=1504},{type=2,value=13536}},
	},
	[32] = {
		id = 2,
		level = 32,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1568},{type=5,value=1568},{type=2,value=14112}},
	},
	[33] = {
		id = 2,
		level = 33,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1632},{type=5,value=1632},{type=2,value=14688}},
	},
	[34] = {
		id = 2,
		level = 34,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1696},{type=5,value=1696},{type=2,value=15264}},
	},
	[35] = {
		id = 2,
		level = 35,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1760},{type=5,value=1760},{type=2,value=15840}},
	},
	[36] = {
		id = 2,
		level = 36,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1824},{type=5,value=1824},{type=2,value=16416}},
	},
	[37] = {
		id = 2,
		level = 37,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1888},{type=5,value=1888},{type=2,value=16992}},
	},
	[38] = {
		id = 2,
		level = 38,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1952},{type=5,value=1952},{type=2,value=17568}},
	},
	[39] = {
		id = 2,
		level = 39,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=2016},{type=5,value=2016},{type=2,value=18144}},
	},
	[40] = {
		id = 2,
		level = 40,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=2080},{type=5,value=2080},{type=2,value=18720}},
	},
},
[3] = {
	[1] = {
		id = 3,
		level = 1,
		cost = {type=1,id=280000,count=100},
		attrs = {{type=4,value=40},{type=6,value=40},{type=2,value=360}},
	},
	[2] = {
		id = 3,
		level = 2,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=80},{type=6,value=80},{type=2,value=720}},
	},
	[3] = {
		id = 3,
		level = 3,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=120},{type=6,value=120},{type=2,value=1080}},
	},
	[4] = {
		id = 3,
		level = 4,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=160},{type=6,value=160},{type=2,value=1440}},
	},
	[5] = {
		id = 3,
		level = 5,
		cost = {type=1,id=280000,count=80},
		attrs = {{type=4,value=200},{type=6,value=200},{type=2,value=1800}},
	},
	[6] = {
		id = 3,
		level = 6,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=240},{type=6,value=240},{type=2,value=2160}},
	},
	[7] = {
		id = 3,
		level = 7,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=280},{type=6,value=280},{type=2,value=2520}},
	},
	[8] = {
		id = 3,
		level = 8,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=320},{type=6,value=320},{type=2,value=2880}},
	},
	[9] = {
		id = 3,
		level = 9,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=360},{type=6,value=360},{type=2,value=3240}},
	},
	[10] = {
		id = 3,
		level = 10,
		cost = {type=1,id=280000,count=120},
		attrs = {{type=4,value=400},{type=6,value=400},{type=2,value=3600}},
	},
	[11] = {
		id = 3,
		level = 11,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=448},{type=6,value=448},{type=2,value=4032}},
	},
	[12] = {
		id = 3,
		level = 12,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=496},{type=6,value=496},{type=2,value=4464}},
	},
	[13] = {
		id = 3,
		level = 13,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=544},{type=6,value=544},{type=2,value=4896}},
	},
	[14] = {
		id = 3,
		level = 14,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=592},{type=6,value=592},{type=2,value=5328}},
	},
	[15] = {
		id = 3,
		level = 15,
		cost = {type=1,id=280000,count=168},
		attrs = {{type=4,value=640},{type=6,value=640},{type=2,value=5760}},
	},
	[16] = {
		id = 3,
		level = 16,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=688},{type=6,value=688},{type=2,value=6192}},
	},
	[17] = {
		id = 3,
		level = 17,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=736},{type=6,value=736},{type=2,value=6624}},
	},
	[18] = {
		id = 3,
		level = 18,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=784},{type=6,value=784},{type=2,value=7056}},
	},
	[19] = {
		id = 3,
		level = 19,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=832},{type=6,value=832},{type=2,value=7488}},
	},
	[20] = {
		id = 3,
		level = 20,
		cost = {type=1,id=280000,count=216},
		attrs = {{type=4,value=880},{type=6,value=880},{type=2,value=7920}},
	},
	[21] = {
		id = 3,
		level = 21,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=936},{type=6,value=936},{type=2,value=8424}},
	},
	[22] = {
		id = 3,
		level = 22,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=992},{type=6,value=992},{type=2,value=8928}},
	},
	[23] = {
		id = 3,
		level = 23,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1048},{type=6,value=1048},{type=2,value=9432}},
	},
	[24] = {
		id = 3,
		level = 24,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1104},{type=6,value=1104},{type=2,value=9936}},
	},
	[25] = {
		id = 3,
		level = 25,
		cost = {type=1,id=280000,count=264},
		attrs = {{type=4,value=1160},{type=6,value=1160},{type=2,value=10440}},
	},
	[26] = {
		id = 3,
		level = 26,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1216},{type=6,value=1216},{type=2,value=10944}},
	},
	[27] = {
		id = 3,
		level = 27,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1272},{type=6,value=1272},{type=2,value=11448}},
	},
	[28] = {
		id = 3,
		level = 28,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1328},{type=6,value=1328},{type=2,value=11952}},
	},
	[29] = {
		id = 3,
		level = 29,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1384},{type=6,value=1384},{type=2,value=12456}},
	},
	[30] = {
		id = 3,
		level = 30,
		cost = {type=1,id=280000,count=312},
		attrs = {{type=4,value=1440},{type=6,value=1440},{type=2,value=12960}},
	},
	[31] = {
		id = 3,
		level = 31,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1504},{type=6,value=1504},{type=2,value=13536}},
	},
	[32] = {
		id = 3,
		level = 32,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1568},{type=6,value=1568},{type=2,value=14112}},
	},
	[33] = {
		id = 3,
		level = 33,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1632},{type=6,value=1632},{type=2,value=14688}},
	},
	[34] = {
		id = 3,
		level = 34,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1696},{type=6,value=1696},{type=2,value=15264}},
	},
	[35] = {
		id = 3,
		level = 35,
		cost = {type=1,id=280000,count=360},
		attrs = {{type=4,value=1760},{type=6,value=1760},{type=2,value=15840}},
	},
	[36] = {
		id = 3,
		level = 36,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1824},{type=6,value=1824},{type=2,value=16416}},
	},
	[37] = {
		id = 3,
		level = 37,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1888},{type=6,value=1888},{type=2,value=16992}},
	},
	[38] = {
		id = 3,
		level = 38,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=1952},{type=6,value=1952},{type=2,value=17568}},
	},
	[39] = {
		id = 3,
		level = 39,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=2016},{type=6,value=2016},{type=2,value=18144}},
	},
	[40] = {
		id = 3,
		level = 40,
		cost = {type=1,id=280000,count=408},
		attrs = {{type=4,value=2080},{type=6,value=2080},{type=2,value=18720}},
	},
},
}