--B-兵魂配置.xlsx 套装配置
WeaponSoulSuit={
[1] = {
	[0] = {
		level = 0,
		attr = {{type=37,value=1000},{type=38,value=10000}},
	},
	[11] = {
		level = 11,
		attr = {{type=37,value=1000},{type=38,value=20000}},
	},
	[21] = {
		level = 21,
		attr = {{type=37,value=1000},{type=38,value=30000}},
	},
	[31] = {
		level = 31,
		attr = {{type=37,value=1000},{type=38,value=40000}},
	},
	[41] = {
		level = 41,
		attr = {{type=37,value=1000},{type=38,value=50000}},
	},
	[51] = {
		level = 51,
		attr = {{type=37,value=1000},{type=38,value=65000}},
	},
	[61] = {
		level = 61,
		attr = {{type=37,value=1000},{type=38,value=80000}},
	},
	[71] = {
		level = 71,
		attr = {{type=37,value=1000},{type=38,value=95000}},
	},
	[81] = {
		level = 81,
		attr = {{type=37,value=1000},{type=38,value=110000}},
	},
	[91] = {
		level = 91,
		attr = {{type=37,value=1000},{type=38,value=125000}},
	},
},
[2] = {
	[0] = {
		level = 0,
		attr = {{type=39,value=1000},{type=40,value=10000}},
	},
	[11] = {
		level = 11,
		attr = {{type=39,value=1000},{type=40,value=20000}},
	},
	[21] = {
		level = 21,
		attr = {{type=39,value=1000},{type=40,value=30000}},
	},
	[31] = {
		level = 31,
		attr = {{type=39,value=1000},{type=40,value=40000}},
	},
	[41] = {
		level = 41,
		attr = {{type=39,value=1000},{type=40,value=50000}},
	},
	[51] = {
		level = 51,
		attr = {{type=39,value=1000},{type=40,value=65000}},
	},
	[61] = {
		level = 61,
		attr = {{type=39,value=1000},{type=40,value=80000}},
	},
	[71] = {
		level = 71,
		attr = {{type=39,value=1000},{type=40,value=95000}},
	},
	[81] = {
		level = 81,
		attr = {{type=39,value=1000},{type=40,value=110000}},
	},
	[91] = {
		level = 91,
		attr = {{type=39,value=1000},{type=40,value=125000}},
	},
},
[3] = {
	[0] = {
		level = 0,
		attr = {{type=54,value=300}},
	},
	[11] = {
		level = 11,
		attr = {{type=54,value=400}},
	},
	[21] = {
		level = 21,
		attr = {{type=54,value=500}},
	},
	[31] = {
		level = 31,
		attr = {{type=54,value=600}},
	},
	[41] = {
		level = 41,
		attr = {{type=54,value=700}},
	},
	[51] = {
		level = 51,
		attr = {{type=54,value=800}},
	},
	[61] = {
		level = 61,
		attr = {{type=54,value=900}},
	},
	[71] = {
		level = 71,
		attr = {{type=54,value=1000}},
	},
	[81] = {
		level = 81,
		attr = {{type=54,value=1100}},
	},
	[91] = {
		level = 91,
		attr = {{type=54,value=1200}},
	},
},
[4] = {
	[0] = {
		level = 0,
		attr = {{type=41,value=900}},
	},
	[11] = {
		level = 11,
		attr = {{type=41,value=1800}},
	},
	[21] = {
		level = 21,
		attr = {{type=41,value=2700}},
	},
	[31] = {
		level = 31,
		attr = {{type=41,value=3600}},
	},
	[41] = {
		level = 41,
		attr = {{type=41,value=4500}},
	},
	[51] = {
		level = 51,
		attr = {{type=41,value=5400}},
	},
	[61] = {
		level = 61,
		attr = {{type=41,value=6300}},
	},
	[71] = {
		level = 71,
		attr = {{type=41,value=7200}},
	},
	[81] = {
		level = 81,
		attr = {{type=41,value=8100}},
	},
	[91] = {
		level = 91,
		attr = {{type=41,value=9000}},
	},
},
[5] = {
	[0] = {
		level = 0,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90001},{type=41,value=60000}},
	},
	[11] = {
		level = 11,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90002},{type=41,value=60000}},
	},
	[21] = {
		level = 21,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90003},{type=41,value=60000}},
	},
	[31] = {
		level = 31,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90004},{type=41,value=60000}},
	},
	[41] = {
		level = 41,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90005},{type=41,value=60000}},
	},
	[51] = {
		level = 51,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90006},{type=41,value=60000}},
	},
	[61] = {
		level = 61,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90007},{type=41,value=60000}},
	},
	[71] = {
		level = 71,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90008},{type=41,value=60000}},
	},
	[81] = {
		level = 81,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90009},{type=41,value=60000}},
	},
	[91] = {
		level = 91,
		attr = {{type=42,value=6000}},
		ex_attr = {{type=40,value=90010},{type=41,value=60000}},
	},
},
[6] = {
	[0] = {
		level = 0,
		attr = {{type=43,value=5000},{type=44,value=600}},
	},
	[11] = {
		level = 11,
		attr = {{type=43,value=5000},{type=44,value=900}},
	},
	[21] = {
		level = 21,
		attr = {{type=43,value=5000},{type=44,value=1200}},
	},
	[31] = {
		level = 31,
		attr = {{type=43,value=5000},{type=44,value=1500}},
	},
	[41] = {
		level = 41,
		attr = {{type=43,value=5000},{type=44,value=1800}},
	},
	[51] = {
		level = 51,
		attr = {{type=43,value=5000},{type=44,value=2100}},
	},
	[61] = {
		level = 61,
		attr = {{type=43,value=5000},{type=44,value=2400}},
	},
	[71] = {
		level = 71,
		attr = {{type=43,value=5000},{type=44,value=2700}},
	},
	[81] = {
		level = 81,
		attr = {{type=43,value=5000},{type=44,value=3000}},
	},
	[91] = {
		level = 91,
		attr = {{type=43,value=5000},{type=44,value=3300}},
	},
},
}