--B-兵魂配置.xlsx 兵魂之灵属性
WeaponSoulItemAttr={
[1] = {
	attr = {{type=4,value=8000},{type=2,value=108000},{type=5,value=2000},{type=6,value=2000}},
	id = 1,
},
[2] = {
	attr = {{type=4,value=16000},{type=2,value=216000},{type=5,value=4000},{type=6,value=4000}},
	id = 2,
},
[3] = {
	attr = {{type=4,value=24000},{type=2,value=324000},{type=5,value=6000},{type=6,value=6000}},
	id = 3,
},
[4] = {
	attr = {{type=4,value=32000},{type=2,value=432000},{type=5,value=8000},{type=6,value=8000}},
	id = 4,
},
[5] = {
	attr = {{type=4,value=40000},{type=2,value=540000},{type=5,value=10000},{type=6,value=10000}},
	id = 5,
},
[6] = {
	attr = {{type=4,value=48000},{type=2,value=648000},{type=5,value=12000},{type=6,value=12000}},
	id = 6,
},
[7] = {
	attr = {{type=4,value=56000},{type=2,value=756000},{type=5,value=14000},{type=6,value=14000}},
	id = 7,
},
[8] = {
	attr = {{type=4,value=64000},{type=2,value=864000},{type=5,value=16000},{type=6,value=16000}},
	id = 8,
},
[9] = {
	attr = {{type=4,value=72000},{type=2,value=972000},{type=5,value=18000},{type=6,value=18000}},
	id = 9,
},
[10] = {
	attr = {{type=4,value=80000},{type=2,value=1080000},{type=5,value=20000},{type=6,value=20000}},
	id = 10,
},
}