--B-兵魂配置.xlsx 兵魂配置
WeaponSoulConfig={
[1] = {
	id = 1,
	actcond = {1,2,3,4},
},
[2] = {
	id = 2,
	actcond = {5,6,7,8,9,10},
},
[3] = {
	id = 3,
	actcond = {11,12,13,14,15,16},
},
[4] = {
	id = 4,
	actcond = {17,18,19,20,21,22,23,24},
},
[5] = {
	id = 5,
	actcond = {25,26,27,28,29,30,31,32},
},
[6] = {
	id = 6,
	actcond = {33,34,35,36,37,38,39,40},
},
}