--B-宝箱系统.xlsx 宝箱配置
TreasureBoxConfig = {
[0] = {
	type = 0,
	name = "白银宝箱",
	dropId1 = 1200007,
	dropId2 = 0,
	dropId3 = 0,
	time = 10800,
	quality = 3,
},
[1] = {
	type = 1,
	name = "白银宝箱",
	dropId1 = 1200007,
	dropId2 = 0,
	dropId3 = 0,
	time = 10800,
	quality = 3,
},
[2] = {
	type = 2,
	name = "黄金宝箱",
	dropId1 = 1200008,
	dropId2 = 0,
	dropId3 = 0,
	time = 28800,
	quality = 3,
},
[3] = {
	type = 3,
	name = "白金宝箱",
	dropId1 = 1200009,
	dropId2 = 0,
	dropId3 = 0,
	time = 43200,
	quality = 3,
},
[4] = {
	type = 4,
	name = "钻石宝箱",
	dropId1 = 1200010,
	dropId2 = 0,
	dropId3 = 0,
	time = 86400,
	quality = 3,
},
[5] = {
	type = 5,
	name = "体验宝箱",
	dropId1 = 1400003,
	dropId2 = 0,
	dropId3 = 0,
	time = 120,
	quality = 3,
},
}