--X-新玉佩配置.xlsx 基础配置
JadePlateBaseConfig={
	openlv = 80,
	itemInfo = {[204066]=100,[204067]=500,[204068]=2000},
	upgradeInfo = {[204069]={attr={{type=4,value=1000}}},[204070]={attr={{type=17,value=5000}}},[204071]={attr={{type=17,value=5000},{type=4,value=1000}},precent=100}},
	openDay = 8,
	perLevel = 11,
}