--G-功能开启.xlsx Sheet1
OpenSystemConfig={
[1] = {
	id = 1,
	openzs = 0,
	openlevel = 10,
	opencheck = 0,
},
[2] = {
	id = 2,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[3] = {
	id = 3,
	openzs = 0,
	openlevel = 60,
	opencheck = 0,
},
[4] = {
	id = 4,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[5] = {
	id = 5,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[6] = {
	id = 6,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[7] = {
	id = 7,
	openzs = 0,
	openlevel = 40,
	opencheck = 0,
},
[8] = {
	id = 8,
	openzs = 0,
	openlevel = 0,
	opencheck = 0,
},
[9] = {
	id = 9,
	openzs = 0,
	openlevel = 30,
	opencheck = 31,
},
[11] = {
	id = 11,
	openzs = 0,
	openlevel = 20,
	opencheck = 17,
},
[12] = {
	id = 12,
	openzs = 0,
	openlevel = 26,
	opencheck = 20,
},
[13] = {
	id = 13,
	openzs = 0,
	openlevel = 0,
	opencheck = 4,
},
[14] = {
	id = 14,
	openzs = 0,
	openlevel = 0,
	opencheck = 11,
},
[15] = {
	id = 15,
	openzs = 0,
	openlevel = 0,
	opencheck = 11,
},
[16] = {
	id = 16,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[17] = {
	id = 17,
	openzs = 0,
	openlevel = 70,
	opencheck = 0,
},
[18] = {
	id = 18,
	openzs = 0,
	openlevel = 60,
	opencheck = 0,
},
[19] = {
	id = 19,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[20] = {
	id = 20,
	openzs = 0,
	openlevel = 60,
	opencheck = 0,
},
[21] = {
	id = 21,
	openzs = 0,
	openlevel = 10,
	opencheck = 0,
},
[22] = {
	id = 22,
	openzs = 0,
	openlevel = 10,
	opencheck = 0,
},
[23] = {
	id = 23,
	openzs = 0,
	openlevel = 0,
	opencheck = 0,
},
[24] = {
	id = 24,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[25] = {
	id = 25,
	openzs = 0,
	openlevel = 0,
	opencheck = 20,
},
[26] = {
	id = 26,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[27] = {
	id = 27,
	openzs = 9999,
	openlevel = 99999,
	opencheck = 10,
},
[28] = {
	id = 28,
	openzs = 0,
	openlevel = 60,
	opencheck = 0,
},
[29] = {
	id = 29,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[30] = {
	id = 30,
	openzs = 3,
	openlevel = 0,
	opencheck = 0,
},
[31] = {
	id = 31,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[32] = {
	id = 32,
	openzs = 0,
	openlevel = 60,
	opencheck = 0,
},
[33] = {
	id = 33,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[34] = {
	id = 34,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[35] = {
	id = 35,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[36] = {
	id = 36,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[37] = {
	id = 37,
	openzs = 0,
	openlevel = 70,
	opencheck = 0,
},
[38] = {
	id = 38,
	openzs = 3,
	openlevel = 80,
	opencheck = 0,
},
[39] = {
	id = 39,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[40] = {
	id = 40,
	openzs = 0,
	openlevel = 20,
	opencheck = 0,
},
[41] = {
	id = 41,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[42] = {
	id = 42,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[43] = {
	id = 43,
	openzs = 0,
	openlevel = 80,
	opencheck = 0,
},
[44] = {
	id = 44,
	openzs = 5,
	openlevel = 80,
	opencheck = 0,
},
[45] = {
	id = 45,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[46] = {
	id = 46,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[47] = {
	id = 47,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[48] = {
	id = 48,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[49] = {
	id = 49,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[50] = {
	id = 50,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[51] = {
	id = 51,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[52] = {
	id = 52,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[53] = {
	id = 53,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
[54] = {
	id = 54,
	openzs = 0,
	openlevel = 30,
	opencheck = 0,
},
}