--L-轮回系统.xlsx 轮回装备套装配置
ReincarnateSuit={
[7] = {
	level = 7,
	attrs = {{type=2,value=5625},{type=4,value=416},{type=5,value=104},{type=6,value=104}},
	exAttrs = {{type=20,value=300}},
	ex_power = 15000,
},
[8] = {
	level = 8,
	attrs = {{type=2,value=11250},{type=4,value=833},{type=5,value=208},{type=6,value=208}},
	exAttrs = {{type=20,value=600}},
	ex_power = 30000,
},
[9] = {
	level = 9,
	attrs = {{type=2,value=16875},{type=4,value=1250},{type=5,value=312},{type=6,value=312}},
	exAttrs = {{type=20,value=1000}},
	ex_power = 50000,
},
[10] = {
	level = 10,
	attrs = {{type=2,value=22500},{type=4,value=1666},{type=5,value=416},{type=6,value=416}},
	exAttrs = {{type=20,value=1500}},
	ex_power = 75000,
},
[11] = {
	level = 11,
	attrs = {{type=2,value=28125},{type=4,value=2083},{type=5,value=520},{type=6,value=520}},
	exAttrs = {{type=20,value=2000}},
	ex_power = 100000,
},
[12] = {
	level = 12,
	attrs = {{type=2,value=37500},{type=4,value=2777},{type=5,value=694},{type=6,value=694}},
	exAttrs = {{type=20,value=3000}},
	ex_power = 150000,
},
}