--L-轮回系统.xlsx 轮回等级
ReincarnationLevel={
[0] = {
	consume = 0,
	attrs = {{type=2,value=0},{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=60,value=0}},
	noticeId = 267,
},
[1] = {
	consume = 180000,
	attrs = {{type=2,value=1080},{type=4,value=80},{type=5,value=20},{type=6,value=20},{type=60,value=50000}},
	noticeId = 268,
},
[2] = {
	consume = 240000,
	attrs = {{type=2,value=2376},{type=4,value=176},{type=5,value=44},{type=6,value=44},{type=60,value=100000}},
	noticeId = 269,
},
[3] = {
	consume = 270000,
	attrs = {{type=2,value=3888},{type=4,value=288},{type=5,value=72},{type=6,value=72},{type=60,value=150000}},
	noticeId = 270,
},
[4] = {
	consume = 360000,
	attrs = {{type=2,value=5616},{type=4,value=416},{type=5,value=104},{type=6,value=104},{type=60,value=200000}},
	noticeId = 271,
},
[5] = {
	consume = 480000,
	attrs = {{type=2,value=7560},{type=4,value=560},{type=5,value=140},{type=6,value=140},{type=60,value=250000}},
	noticeId = 272,
},
[6] = {
	consume = 630000,
	attrs = {{type=2,value=9720},{type=4,value=720},{type=5,value=180},{type=6,value=180},{type=60,value=300000}},
	noticeId = 273,
},
[7] = {
	consume = 480000,
	attrs = {{type=2,value=12420},{type=4,value=920},{type=5,value=230},{type=6,value=230},{type=60,value=400000}},
	noticeId = 274,
},
[8] = {
	consume = 510000,
	attrs = {{type=2,value=15660},{type=4,value=1160},{type=5,value=290},{type=6,value=290},{type=60,value=500000}},
	noticeId = 275,
},
[9] = {
	consume = 600000,
	attrs = {{type=2,value=19440},{type=4,value=1440},{type=5,value=360},{type=6,value=360},{type=60,value=600000}},
	noticeId = 276,
},
[10] = {
	consume = 720000,
	attrs = {{type=2,value=23760},{type=4,value=1760},{type=5,value=440},{type=6,value=440},{type=60,value=700000}},
	noticeId = 277,
},
[11] = {
	consume = 810000,
	attrs = {{type=2,value=28620},{type=4,value=2120},{type=5,value=530},{type=6,value=530},{type=60,value=800000}},
	noticeId = 278,
},
[12] = {
	consume = 900000,
	attrs = {{type=2,value=34020},{type=4,value=2520},{type=5,value=630},{type=6,value=630},{type=60,value=900000}},
	noticeId = 279,
},
[13] = {
	consume = 930000,
	attrs = {{type=2,value=40500},{type=4,value=3000},{type=5,value=750},{type=6,value=750},{type=60,value=1050000}},
	noticeId = 280,
},
[14] = {
	consume = 1020000,
	attrs = {{type=2,value=48060},{type=4,value=3560},{type=5,value=890},{type=6,value=890},{type=60,value=1200000}},
	noticeId = 281,
},
[15] = {
	consume = 1170000,
	attrs = {{type=2,value=56700},{type=4,value=4200},{type=5,value=1050},{type=6,value=1050},{type=60,value=1350000}},
	noticeId = 282,
},
[16] = {
	consume = 1410000,
	attrs = {{type=2,value=66420},{type=4,value=4920},{type=5,value=1230},{type=6,value=1230},{type=60,value=1500000}},
	noticeId = 283,
},
[17] = {
	consume = 1560000,
	attrs = {{type=2,value=77220},{type=4,value=5720},{type=5,value=1430},{type=6,value=1430},{type=60,value=1650000}},
	noticeId = 284,
},
[18] = {
	consume = 1740000,
	attrs = {{type=2,value=89100},{type=4,value=6600},{type=5,value=1650},{type=6,value=1650},{type=60,value=1800000}},
	noticeId = 285,
},
[19] = {
	consume = 1410000,
	attrs = {{type=2,value=102600},{type=4,value=7600},{type=5,value=1900},{type=6,value=1900},{type=60,value=1950000}},
	noticeId = 286,
},
[20] = {
	consume = 1530000,
	attrs = {{type=2,value=117720},{type=4,value=8720},{type=5,value=2180},{type=6,value=2180},{type=60,value=2100000}},
	noticeId = 287,
},
[21] = {
	consume = 1770000,
	attrs = {{type=2,value=134460},{type=4,value=9960},{type=5,value=2490},{type=6,value=2490},{type=60,value=2250000}},
	noticeId = 288,
},
[22] = {
	consume = 2130000,
	attrs = {{type=2,value=152820},{type=4,value=11320},{type=5,value=2830},{type=6,value=2830},{type=60,value=2400000}},
	noticeId = 289,
},
[23] = {
	consume = 2370000,
	attrs = {{type=2,value=172800},{type=4,value=12800},{type=5,value=3200},{type=6,value=3200},{type=60,value=2550000}},
	noticeId = 290,
},
[24] = {
	consume = 2610000,
	attrs = {{type=2,value=194400},{type=4,value=14400},{type=5,value=3600},{type=6,value=3600},{type=60,value=2700000}},
	noticeId = 291,
},
[25] = {
	consume = 2280000,
	attrs = {{type=2,value=217080},{type=4,value=16080},{type=5,value=4020},{type=6,value=4020},{type=60,value=2900000}},
	noticeId = 292,
},
[26] = {
	consume = 2460000,
	attrs = {{type=2,value=243000},{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=60,value=3100000}},
	noticeId = 293,
},
[27] = {
	consume = 2850000,
	attrs = {{type=2,value=272160},{type=4,value=20160},{type=5,value=5040},{type=6,value=5040},{type=60,value=3300000}},
	noticeId = 294,
},
[28] = {
	consume = 3420000,
	attrs = {{type=2,value=304560},{type=4,value=22560},{type=5,value=5640},{type=6,value=5640},{type=60,value=3500000}},
	noticeId = 295,
},
[29] = {
	consume = 3810000,
	attrs = {{type=2,value=340200},{type=4,value=25200},{type=5,value=6300},{type=6,value=6300},{type=60,value=3700000}},
	noticeId = 296,
},
[30] = {
	consume = 4170000,
	attrs = {{type=2,value=379080},{type=4,value=28080},{type=5,value=7020},{type=6,value=7020},{type=60,value=3900000}},
	noticeId = 297,
},
[31] = {
	consume = 3570000,
	attrs = {{type=2,value=422280},{type=4,value=31280},{type=5,value=7820},{type=6,value=7820},{type=60,value=4100000}},
	noticeId = 298,
},
[32] = {
	consume = 3870000,
	attrs = {{type=2,value=468720},{type=4,value=34720},{type=5,value=8680},{type=6,value=8680},{type=60,value=4300000}},
	noticeId = 299,
},
[33] = {
	consume = 4470000,
	attrs = {{type=2,value=518400},{type=4,value=38400},{type=5,value=9600},{type=6,value=9600},{type=60,value=4500000}},
	noticeId = 300,
},
[34] = {
	consume = 5370000,
	attrs = {{type=2,value=571320},{type=4,value=42320},{type=5,value=10580},{type=6,value=10580},{type=60,value=4700000}},
	noticeId = 301,
},
[35] = {
	consume = 5970000,
	attrs = {{type=2,value=627480},{type=4,value=46480},{type=5,value=11620},{type=6,value=11620},{type=60,value=4900000}},
	noticeId = 302,
},
[36] = {
	consume = 6570000,
	attrs = {{type=2,value=686880},{type=4,value=50880},{type=5,value=12720},{type=6,value=12720},{type=60,value=5100000}},
	noticeId = 303,
},
}