--Z-战灵.xlsx 战灵套装
ZhanLingSuit={
[1] = {
	level = 1,
	precent = 200,
	attrs = {{type=69,value=50}},
	expower = 3333,
},
[2] = {
	level = 2,
	precent = 400,
	attrs = {{type=69,value=100}},
	expower = 6666,
},
[3] = {
	level = 3,
	precent = 600,
	attrs = {{type=69,value=150}},
	expower = 10000,
},
[4] = {
	level = 4,
	precent = 800,
	attrs = {{type=69,value=200}},
	expower = 13333,
},
[5] = {
	level = 5,
	precent = 1200,
	attrs = {{type=69,value=300}},
	expower = 20000,
},
[6] = {
	level = 6,
	precent = 1600,
	attrs = {{type=69,value=400}},
	expower = 26666,
},
[7] = {
	level = 7,
	precent = 2000,
	attrs = {{type=69,value=500}},
	expower = 33333,
},
[8] = {
	level = 8,
	precent = 2500,
	attrs = {{type=69,value=600}},
	expower = 40000,
},
[9] = {
	level = 9,
	precent = 3500,
	attrs = {{type=69,value=850}},
	expower = 56666,
},
[10] = {
	level = 10,
	precent = 5000,
	attrs = {{type=69,value=1250}},
	expower = 83333,
},
}