--Z-战灵.xlsx 战灵天赋
ZhanLingTalent={
[0] = {
	[1] = {
		id = 0,
		level = 1,
		costCount = 0,
		effId = 102001,
		rate = 300,
		expower = 20000,
	},
	[2] = {
		id = 0,
		level = 2,
		costCount = 0,
		effId = 102002,
		rate = 600,
		expower = 40000,
	},
	[3] = {
		id = 0,
		level = 3,
		costCount = 0,
		effId = 102003,
		rate = 900,
		expower = 60000,
	},
	[4] = {
		id = 0,
		level = 4,
		costCount = 0,
		effId = 102004,
		rate = 1200,
		expower = 80000,
	},
	[5] = {
		id = 0,
		level = 5,
		costCount = 0,
		effId = 102005,
		rate = 1500,
		expower = 100000,
	},
	[6] = {
		id = 0,
		level = 6,
		costCount = 0,
		effId = 102006,
		rate = 1500,
		expower = 120000,
	},
},
[1] = {
	[1] = {
		id = 1,
		level = 1,
		costCount = 1,
		passive = {{type=0,id=90001}},
		attrs = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0}},
		expower = 53333,
	},
	[2] = {
		id = 1,
		level = 2,
		costCount = 1,
		passive = {{type=0,id=90002}},
		attrs = {{type=4,value=2000},{type=5,value=500},{type=6,value=500},{type=2,value=27000}},
		expower = 80000,
	},
	[3] = {
		id = 1,
		level = 3,
		costCount = 2,
		passive = {{type=0,id=90003}},
		attrs = {{type=4,value=4000},{type=5,value=1000},{type=6,value=1000},{type=2,value=54000}},
		expower = 106666,
	},
	[4] = {
		id = 1,
		level = 4,
		costCount = 3,
		passive = {{type=0,id=90004}},
		attrs = {{type=4,value=6000},{type=5,value=1500},{type=6,value=1500},{type=2,value=81000}},
		expower = 133333,
	},
	[5] = {
		id = 1,
		level = 5,
		costCount = 3,
		passive = {{type=0,id=90005}},
		attrs = {{type=4,value=8000},{type=5,value=2000},{type=6,value=2000},{type=2,value=108000}},
		expower = 160000,
	},
},
[2] = {
	[1] = {
		id = 2,
		level = 1,
		costCount = 1,
		passive = {{type=0,id=89001}},
		attrs = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0}},
		expower = 53333,
	},
	[2] = {
		id = 2,
		level = 2,
		costCount = 1,
		passive = {{type=0,id=89002}},
		attrs = {{type=4,value=2600},{type=5,value=650},{type=6,value=650},{type=2,value=35100}},
		expower = 80000,
	},
	[3] = {
		id = 2,
		level = 3,
		costCount = 2,
		passive = {{type=0,id=89003}},
		attrs = {{type=4,value=5200},{type=5,value=1300},{type=6,value=1300},{type=2,value=70200}},
		expower = 106666,
	},
	[4] = {
		id = 2,
		level = 4,
		costCount = 3,
		passive = {{type=0,id=89004}},
		attrs = {{type=4,value=7800},{type=5,value=1950},{type=6,value=1950},{type=2,value=105300}},
		expower = 133333,
	},
	[5] = {
		id = 2,
		level = 5,
		costCount = 3,
		passive = {{type=0,id=89005}},
		attrs = {{type=4,value=10400},{type=5,value=2600},{type=6,value=2600},{type=2,value=140400}},
		expower = 160000,
	},
},
[3] = {
	[1] = {
		id = 3,
		level = 1,
		costCount = 1,
		passive = {{type=0,id=96001}},
		expower = 0,
	},
	[2] = {
		id = 3,
		level = 2,
		costCount = 1,
		passive = {{type=0,id=96002}},
		expower = 0,
	},
	[3] = {
		id = 3,
		level = 3,
		costCount = 2,
		passive = {{type=0,id=96003}},
		expower = 0,
	},
	[4] = {
		id = 3,
		level = 4,
		costCount = 3,
		passive = {{type=0,id=96004}},
		expower = 0,
	},
	[5] = {
		id = 3,
		level = 5,
		costCount = 3,
		passive = {{type=0,id=96005}},
		expower = 0,
	},
},
[4] = {
	[1] = {
		id = 4,
		level = 1,
		costCount = 1,
		passive = {{type=1,id=97001},{type=2,id=97001}},
		expower = 0,
	},
	[2] = {
		id = 4,
		level = 2,
		costCount = 1,
		passive = {{type=1,id=97002},{type=2,id=97002}},
		expower = 0,
	},
	[3] = {
		id = 4,
		level = 3,
		costCount = 2,
		passive = {{type=1,id=97003},{type=2,id=97003}},
		expower = 0,
	},
	[4] = {
		id = 4,
		level = 4,
		costCount = 3,
		passive = {{type=1,id=97004},{type=2,id=97004}},
		expower = 0,
	},
	[5] = {
		id = 4,
		level = 5,
		costCount = 3,
		passive = {{type=1,id=97005},{type=2,id=97005}},
		expower = 0,
	},
},
[5] = {
	[1] = {
		id = 5,
		level = 1,
		costCount = 1,
		passive = {{type=0,id=98001}},
		expower = 0,
	},
	[2] = {
		id = 5,
		level = 2,
		costCount = 1,
		passive = {{type=0,id=98002}},
		expower = 0,
	},
	[3] = {
		id = 5,
		level = 3,
		costCount = 2,
		passive = {{type=0,id=98003}},
		expower = 0,
	},
	[4] = {
		id = 5,
		level = 4,
		costCount = 3,
		passive = {{type=0,id=98004}},
		expower = 0,
	},
	[5] = {
		id = 5,
		level = 5,
		costCount = 3,
		passive = {{type=0,id=98005}},
		expower = 0,
	},
},
[6] = {
	[1] = {
		id = 6,
		level = 1,
		costCount = 1,
		passive = {{type=0,id=99001}},
		attrs = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0}},
		expower = 53333,
	},
	[2] = {
		id = 6,
		level = 2,
		costCount = 1,
		passive = {{type=0,id=99002}},
		attrs = {{type=4,value=3000},{type=5,value=750},{type=6,value=750},{type=2,value=40500}},
		expower = 80000,
	},
	[3] = {
		id = 6,
		level = 3,
		costCount = 2,
		passive = {{type=0,id=99003}},
		attrs = {{type=4,value=6000},{type=5,value=1500},{type=6,value=1500},{type=2,value=81000}},
		expower = 106666,
	},
	[4] = {
		id = 6,
		level = 4,
		costCount = 3,
		passive = {{type=0,id=99004}},
		attrs = {{type=4,value=9000},{type=5,value=2250},{type=6,value=2250},{type=2,value=121500}},
		expower = 133333,
	},
	[5] = {
		id = 6,
		level = 5,
		costCount = 3,
		passive = {{type=0,id=99005}},
		attrs = {{type=4,value=12000},{type=5,value=3000},{type=6,value=3000},{type=2,value=162000}},
		expower = 160000,
	},
},
[7] = {
	[1] = {
		id = 7,
		level = 1,
		costCount = 1,
		passive = {{type=0,id=100001}},
		expower = 0,
	},
	[2] = {
		id = 7,
		level = 2,
		costCount = 1,
		passive = {{type=0,id=100002}},
		expower = 0,
	},
	[3] = {
		id = 7,
		level = 3,
		costCount = 2,
		passive = {{type=0,id=100003}},
		expower = 0,
	},
	[4] = {
		id = 7,
		level = 4,
		costCount = 3,
		passive = {{type=0,id=100004}},
		expower = 0,
	},
	[5] = {
		id = 7,
		level = 5,
		costCount = 3,
		passive = {{type=0,id=100005}},
		expower = 0,
	},
	[6] = {
		id = 7,
		level = 6,
		costCount = 3,
		passive = {{type=0,id=100006}},
		expower = 0,
	},
	[7] = {
		id = 7,
		level = 7,
		costCount = 4,
		passive = {{type=0,id=100007}},
		expower = 0,
	},
	[8] = {
		id = 7,
		level = 8,
		costCount = 4,
		passive = {{type=0,id=100008}},
		expower = 0,
	},
},
[8] = {
	[1] = {
		id = 8,
		level = 1,
		costCount = 1,
		effId = 103001,
		rate = 10000,
		attrs = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0}},
		expower = 33333,
	},
	[2] = {
		id = 8,
		level = 2,
		costCount = 1,
		effId = 103002,
		rate = 10000,
		attrs = {{type=4,value=1500},{type=5,value=375},{type=6,value=375},{type=2,value=20250}},
		expower = 50000,
	},
	[3] = {
		id = 8,
		level = 3,
		costCount = 2,
		effId = 103003,
		rate = 10000,
		attrs = {{type=4,value=3000},{type=5,value=750},{type=6,value=750},{type=2,value=40500}},
		expower = 66666,
	},
	[4] = {
		id = 8,
		level = 4,
		costCount = 3,
		effId = 103004,
		rate = 10000,
		attrs = {{type=4,value=4500},{type=5,value=1125},{type=6,value=1125},{type=2,value=60750}},
		expower = 83333,
	},
	[5] = {
		id = 8,
		level = 5,
		costCount = 3,
		effId = 103005,
		rate = 10000,
		attrs = {{type=4,value=6000},{type=5,value=1500},{type=6,value=1500},{type=2,value=81000}},
		expower = 100000,
	},
},
[9] = {
	[1] = {
		id = 9,
		level = 1,
		costCount = 1,
		effId = 104001,
		rate = 2000,
		attrs = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0}},
		expower = 53333,
	},
	[2] = {
		id = 9,
		level = 2,
		costCount = 1,
		effId = 104002,
		rate = 3000,
		attrs = {{type=4,value=3000},{type=5,value=750},{type=6,value=750},{type=2,value=40500}},
		expower = 80000,
	},
	[3] = {
		id = 9,
		level = 3,
		costCount = 2,
		effId = 104003,
		rate = 4500,
		attrs = {{type=4,value=6000},{type=5,value=1500},{type=6,value=1500},{type=2,value=81000}},
		expower = 106666,
	},
	[4] = {
		id = 9,
		level = 4,
		costCount = 3,
		effId = 104004,
		rate = 6000,
		attrs = {{type=4,value=9000},{type=5,value=2250},{type=6,value=2250},{type=2,value=121500}},
		expower = 133333,
	},
	[5] = {
		id = 9,
		level = 5,
		costCount = 3,
		effId = 104005,
		rate = 7500,
		attrs = {{type=4,value=12000},{type=5,value=3000},{type=6,value=3000},{type=2,value=162000}},
		expower = 160000,
	},
	[6] = {
		id = 9,
		level = 6,
		costCount = 4,
		effId = 104006,
		rate = 10000,
		attrs = {{type=4,value=15000},{type=5,value=3750},{type=6,value=3750},{type=2,value=202500}},
		expower = 200000,
	},
},
}