--Z-战灵.xlsx 系统配置
ZhanLingConfig={
	openzhuanshenglv = 5,
	openserverday = 15,
	showzhanlingcd = 10000,
	stageitemid = 205000,
	unitPrice = 80,
	stageitemexp = 10,
	upgradeInfo = {[205001]={attr={{type=4,value=500},{type=5,value=125},{type=6,value=125},{type=2,value=6750}},sort=0},[205002]={attr={{type=4,value=1000},{type=5,value=250},{type=6,value=250},{type=2,value=13500}},precent=100,sort=1}},
	equipPosCount = 4,
	plusLevel = 100,
	delayTime = 2000,
}