--Z-战灵.xlsx 基本配置
ZhanLingBase={
[0] = {
	id = 0,
	mat = 0,
	talent = 0,
	skill = {{id=1,open=20},{id=2,open=40},{id=3,open=60},{id=4,open=90}},
},
[1] = {
	id = 1,
	mat = 205003,
	talent = 8,
	skill = {{id=13,open=20},{id=14,open=50},{id=15,open=80},{id=16,open=100}},
},
[2] = {
	id = 2,
	mat = 205004,
	talent = 1,
	skill = {{id=5,open=20},{id=6,open=50},{id=7,open=80},{id=8,open=100}},
},
[3] = {
	id = 3,
	mat = 205005,
	talent = 2,
	skill = {{id=5,open=20},{id=6,open=50},{id=7,open=80},{id=11,open=100}},
},
[4] = {
	id = 4,
	mat = 205006,
	talent = 6,
	skill = {{id=5,open=20},{id=6,open=50},{id=7,open=80},{id=11,open=100}},
},
[5] = {
	id = 5,
	mat = 205007,
	talent = 9,
	skill = {{id=5,open=20},{id=6,open=50},{id=7,open=80},{id=11,open=100}},
},
[6] = {
	id = 6,
	mat = 205008,
	talent = 3,
	skill = {{id=5,open=20},{id=6,open=50},{id=7,open=80},{id=11,open=100}},
},
[7] = {
	id = 7,
	mat = 205009,
	talent = 6,
	skill = {{id=5,open=20},{id=6,open=50},{id=7,open=80},{id=11,open=100}},
},
}