--Z-战灵.xlsx 技能库
ZhanLingSkill={
[1] = {
	id = 1,
	passive = 88001,
	passivePlus = 88002,
},
[2] = {
	id = 2,
	attrs = {{type=74,value=400}},
},
[3] = {
	id = 3,
	attrs = {{type=75,value=400}},
},
[4] = {
	id = 4,
},
[5] = {
	id = 5,
	attrs = {{type=5,value=1200},{type=6,value=1200},{type=2,value=14800}},
},
[6] = {
	id = 6,
	attrs = {{type=4,value=800},{type=2,value=50000}},
},
[7] = {
	id = 7,
	attrs = {{type=4,value=4000}},
},
[8] = {
	id = 8,
	attrs = {{type=19,value=300}},
},
[9] = {
	id = 9,
	attrs = {{type=56,value=300}},
},
[10] = {
	id = 10,
	attrs = {{type=8,value=200}},
},
[11] = {
	id = 11,
	attrs = {{type=68,value=300}},
},
[12] = {
	id = 12,
	attrs = {{type=69,value=300}},
},
[13] = {
	id = 13,
	attrs = {{type=5,value=300},{type=6,value=300},{type=2,value=3700}},
},
[14] = {
	id = 14,
	attrs = {{type=4,value=200},{type=2,value=12500}},
},
[15] = {
	id = 15,
	attrs = {{type=4,value=1000}},
},
[16] = {
	id = 16,
	attrs = {{type=56,value=100}},
},
}