--Z-战灵.xlsx 战灵装备
ZhanLingEquip={
[206001] = {
	id = 206001,
	level = 1,
	pos = 1,
	attrs = {{type=5,value=40},{type=6,value=40},{type=2,value=2160}},
},
[206002] = {
	id = 206002,
	level = 2,
	pos = 1,
	attrs = {{type=5,value=100},{type=6,value=100},{type=2,value=5400}},
	mat = {{id=206001,count=3}},
},
[206003] = {
	id = 206003,
	level = 3,
	pos = 1,
	attrs = {{type=5,value=300},{type=6,value=300},{type=2,value=16200}},
	mat = {{id=206002,count=3}},
},
[206004] = {
	id = 206004,
	level = 4,
	pos = 1,
	attrs = {{type=5,value=900},{type=6,value=900},{type=2,value=48600}},
	mat = {{id=206003,count=3}},
},
[206005] = {
	id = 206005,
	level = 5,
	pos = 1,
	attrs = {{type=5,value=1500},{type=6,value=1500},{type=2,value=81000}},
	mat = {{id=206004,count=3}},
},
[206006] = {
	id = 206006,
	level = 6,
	pos = 1,
	attrs = {{type=5,value=2500},{type=6,value=2500},{type=2,value=135000}},
	mat = {{id=206005,count=3}},
},
[206007] = {
	id = 206007,
	level = 7,
	pos = 1,
	attrs = {{type=5,value=4000},{type=6,value=4000},{type=2,value=216000}},
	mat = {{id=206006,count=3}},
},
[206008] = {
	id = 206008,
	level = 8,
	pos = 1,
	attrs = {{type=5,value=6000},{type=6,value=6000},{type=2,value=324000}},
	mat = {{id=206007,count=3}},
},
[206009] = {
	id = 206009,
	level = 9,
	pos = 1,
	attrs = {{type=5,value=8500},{type=6,value=8500},{type=2,value=459000}},
	mat = {{id=206008,count=3}},
},
[206010] = {
	id = 206010,
	level = 10,
	pos = 1,
	attrs = {{type=5,value=12000},{type=6,value=12000},{type=2,value=648000}},
	mat = {{id=206009,count=3}},
},
[206011] = {
	id = 206011,
	level = 1,
	pos = 2,
	attrs = {{type=4,value=40},{type=2,value=2160}},
},
[206012] = {
	id = 206012,
	level = 2,
	pos = 2,
	attrs = {{type=4,value=100},{type=2,value=5400}},
	mat = {{id=206011,count=3}},
},
[206013] = {
	id = 206013,
	level = 3,
	pos = 2,
	attrs = {{type=4,value=300},{type=2,value=16200}},
	mat = {{id=206012,count=3}},
},
[206014] = {
	id = 206014,
	level = 4,
	pos = 2,
	attrs = {{type=4,value=900},{type=2,value=48600}},
	mat = {{id=206013,count=3}},
},
[206015] = {
	id = 206015,
	level = 5,
	pos = 2,
	attrs = {{type=4,value=1500},{type=2,value=81000}},
	mat = {{id=206014,count=3}},
},
[206016] = {
	id = 206016,
	level = 6,
	pos = 2,
	attrs = {{type=4,value=2500},{type=2,value=135000}},
	mat = {{id=206015,count=3}},
},
[206017] = {
	id = 206017,
	level = 7,
	pos = 2,
	attrs = {{type=4,value=4000},{type=2,value=216000}},
	mat = {{id=206016,count=3}},
},
[206018] = {
	id = 206018,
	level = 8,
	pos = 2,
	attrs = {{type=4,value=6000},{type=2,value=324000}},
	mat = {{id=206017,count=3}},
},
[206019] = {
	id = 206019,
	level = 9,
	pos = 2,
	attrs = {{type=4,value=8500},{type=2,value=459000}},
	mat = {{id=206018,count=3}},
},
[206020] = {
	id = 206020,
	level = 10,
	pos = 2,
	attrs = {{type=4,value=12000},{type=2,value=648000}},
	mat = {{id=206019,count=3}},
},
[206021] = {
	id = 206021,
	level = 1,
	pos = 3,
	attrs = {{type=4,value=140},{type=5,value=40}},
},
[206022] = {
	id = 206022,
	level = 2,
	pos = 3,
	attrs = {{type=4,value=350},{type=5,value=100}},
	mat = {{id=206021,count=3}},
},
[206023] = {
	id = 206023,
	level = 3,
	pos = 3,
	attrs = {{type=4,value=1050},{type=5,value=300}},
	mat = {{id=206022,count=3}},
},
[206024] = {
	id = 206024,
	level = 4,
	pos = 3,
	attrs = {{type=4,value=3150},{type=5,value=900}},
	mat = {{id=206023,count=3}},
},
[206025] = {
	id = 206025,
	level = 5,
	pos = 3,
	attrs = {{type=4,value=5250},{type=5,value=1500}},
	mat = {{id=206024,count=3}},
},
[206026] = {
	id = 206026,
	level = 6,
	pos = 3,
	attrs = {{type=4,value=8750},{type=5,value=2500}},
	mat = {{id=206025,count=3}},
},
[206027] = {
	id = 206027,
	level = 7,
	pos = 3,
	attrs = {{type=4,value=14000},{type=5,value=4000}},
	mat = {{id=206026,count=3}},
},
[206028] = {
	id = 206028,
	level = 8,
	pos = 3,
	attrs = {{type=4,value=21000},{type=5,value=6000}},
	mat = {{id=206027,count=3}},
},
[206029] = {
	id = 206029,
	level = 9,
	pos = 3,
	attrs = {{type=4,value=29750},{type=5,value=8500}},
	mat = {{id=206028,count=3}},
},
[206030] = {
	id = 206030,
	level = 10,
	pos = 3,
	attrs = {{type=4,value=42000},{type=5,value=12000}},
	mat = {{id=206029,count=3}},
},
[206031] = {
	id = 206031,
	level = 1,
	pos = 4,
	attrs = {{type=4,value=140},{type=6,value=40}},
},
[206032] = {
	id = 206032,
	level = 2,
	pos = 4,
	attrs = {{type=4,value=350},{type=6,value=100}},
	mat = {{id=206031,count=3}},
},
[206033] = {
	id = 206033,
	level = 3,
	pos = 4,
	attrs = {{type=4,value=1050},{type=6,value=300}},
	mat = {{id=206032,count=3}},
},
[206034] = {
	id = 206034,
	level = 4,
	pos = 4,
	attrs = {{type=4,value=3150},{type=6,value=900}},
	mat = {{id=206033,count=3}},
},
[206035] = {
	id = 206035,
	level = 5,
	pos = 4,
	attrs = {{type=4,value=5250},{type=6,value=1500}},
	mat = {{id=206034,count=3}},
},
[206036] = {
	id = 206036,
	level = 6,
	pos = 4,
	attrs = {{type=4,value=8750},{type=6,value=2500}},
	mat = {{id=206035,count=3}},
},
[206037] = {
	id = 206037,
	level = 7,
	pos = 4,
	attrs = {{type=4,value=14000},{type=6,value=4000}},
	mat = {{id=206036,count=3}},
},
[206038] = {
	id = 206038,
	level = 8,
	pos = 4,
	attrs = {{type=4,value=21000},{type=6,value=6000}},
	mat = {{id=206037,count=3}},
},
[206039] = {
	id = 206039,
	level = 9,
	pos = 4,
	attrs = {{type=4,value=29750},{type=6,value=8500}},
	mat = {{id=206038,count=3}},
},
[206040] = {
	id = 206040,
	level = 10,
	pos = 4,
	attrs = {{type=4,value=42000},{type=6,value=12000}},
	mat = {{id=206039,count=3}},
},
}