--Z-主城配置.xlsx 基础配置
CityBaseConfig={
	fbId = 50002,
	enterPoint = {{x=38,y=20},{x=38,y=21},{x=38,y=22},{x=39,y=20},{x=39,y=21},{x=39,y=22},{x=34,y=23},{x=32,y=23},{x=34,y=21},{x=40,y=21},{x=42,y=23},{x=44,y=24},{x=46,y=23},{x=46,y=25},{x=44,y=26},{x=42,y=24},{x=30,y=23},{x=29,y=23},{x=33,y=26},{x=35,y=21},{x=40,y=26},{x=40,y=28},{x=38,y=29},{x=38,y=27},{x=35,y=27},{x=36,y=28},{x=29,y=24},{x=30,y=25},{x=41,y=26},{x=34,y=27}},
	rewardTick = 1,
	reward = {{type=0,id=1,count=99}},
	rebornCd = 10,
	BuyRebornCost = 100,
	robotNum = {5,15},
	enterLv = 50,
	robotOpenSrvDay = 6,
	robotRefresh = 3*60*60,
	bossOpenSrvDay = 1,
	rewardNotice = 13,
	enterCd = 30,
}