--Z-主城配置.xlsx Boss配置
CityBossConfig={
[1] = {
	idx = 1,
	killBossId = 1,
	killCount = {1},
	bossId = 81020,
	reTime = 1,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 181,
	belongReward = 1653029,
	belongRewardMailTitle = "合服BOSS归属奖",
	belongRewardMailText = "恭喜获得合服BOSS归属奖励",
	joinReward = 1653033,
	joinRewardMailTitle = "合服BOSS参与奖",
	joinRewardMailText = "恭喜获得合服BOSS参与奖励",
	luckyReward = {1100311,1100311,1100311},
	luckyRewardMailTitle = "合服BOSS幸运奖",
	luckyRewardMailText = "恭喜获得合服BOSS幸运奖励",
	luckyCount = 1,
},
[2] = {
	idx = 2,
	killBossId = 2,
	killCount = {1},
	bossId = 81021,
	reTime = 1,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 182,
	belongReward = 1653030,
	belongRewardMailTitle = "合服BOSS归属奖",
	belongRewardMailText = "恭喜获得合服BOSS归属奖励",
	joinReward = 1653034,
	joinRewardMailTitle = "合服BOSS参与奖",
	joinRewardMailText = "恭喜获得合服BOSS参与奖励",
	luckyReward = {1100312,1100312,1100312},
	luckyRewardMailTitle = "合服BOSS幸运奖",
	luckyRewardMailText = "恭喜获得合服BOSS幸运奖励",
	luckyCount = 1,
},
[3] = {
	idx = 3,
	killBossId = 3,
	killCount = {1},
	bossId = 81022,
	reTime = 1,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 183,
	belongReward = 1653031,
	belongRewardMailTitle = "合服BOSS归属奖",
	belongRewardMailText = "恭喜获得合服BOSS归属奖励",
	joinReward = 1653035,
	joinRewardMailTitle = "合服BOSS参与奖",
	joinRewardMailText = "恭喜获得合服BOSS参与奖励",
	luckyReward = {1100313,1100313,1100313},
	luckyRewardMailTitle = "合服BOSS幸运奖",
	luckyRewardMailText = "恭喜获得合服BOSS幸运奖励",
	luckyCount = 1,
},
[4] = {
	idx = 4,
	killBossId = 4,
	killCount = {1},
	bossId = 81023,
	reTime = 1,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 184,
	belongReward = 1653032,
	belongRewardMailTitle = "合服BOSS归属奖",
	belongRewardMailText = "恭喜获得合服BOSS归属奖励",
	joinReward = 1653036,
	joinRewardMailTitle = "合服BOSS参与奖",
	joinRewardMailText = "恭喜获得合服BOSS参与奖励",
	luckyReward = {1100313,1100313,1100313},
	luckyRewardMailTitle = "合服BOSS幸运奖",
	luckyRewardMailText = "恭喜获得合服BOSS幸运奖励",
	luckyCount = 1,
},
[5] = {
	idx = 5,
	killBossId = 31005,
	killCount = {115,135,155,175,195,215,235,255,275,295,315,335,355,375,395,415,435,455,475,495,515},
	bossId = 81001,
	reTime = 930,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 138,
	belongReward = 1662006,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661006,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100307,1100307,1100307,1100307,1100307},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[6] = {
	idx = 6,
	killBossId = 31006,
	killCount = {145,170,195,220,245,270,295,320,345,370,395,420,445,470,495,520,545,570,595,620,645},
	bossId = 81002,
	reTime = 1230,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 139,
	belongReward = 1662007,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661007,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100308,1100308,1100308,1100308,1100308},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[7] = {
	idx = 7,
	killBossId = 31007,
	killCount = {170,195,220,245,270,295,320,345,370,395,420,445,470,495,520,545,570,595,620,645,670},
	bossId = 81003,
	reTime = 1530,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 140,
	belongReward = 1662008,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661008,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100309,1100309,1100309,1100309},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[8] = {
	idx = 8,
	killBossId = 31008,
	killCount = {190,215,240,265,290,315,340,365,390,415,440,465,490,515,540,565,590,615,640,665,690,715},
	bossId = 81004,
	reTime = 1840,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 141,
	belongReward = 1662009,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661009,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100310,1100310,1100310},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[9] = {
	idx = 9,
	killBossId = 31009,
	killCount = {225,250,275,300,325,350,375,400,425,450,475,500,525,550,575,600,625,650,675,700,725},
	bossId = 81005,
	reTime = 2140,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 142,
	belongReward = 1662010,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661010,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100311,1100311,1100311},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[10] = {
	idx = 10,
	killBossId = 31010,
	killCount = {250,300,350,400,450,500,550,600,650,700,750,800,850},
	bossId = 81006,
	reTime = 2440,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 143,
	belongReward = 1662011,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661011,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100312,1100312,1100312},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[11] = {
	idx = 11,
	killBossId = 31011,
	killCount = {320,384,448,512,576,640,704,768,832,896,960,1024,1088},
	bossId = 81007,
	reTime = 2745,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 144,
	belongReward = 1662012,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661012,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100313,1100313},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[12] = {
	idx = 12,
	killBossId = 31012,
	killCount = {505,606,707,808,909,1010,1111,1212,1313,1414,1515,1616,1717},
	bossId = 81008,
	reTime = 3045,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 145,
	belongReward = 1662013,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661013,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100314,1100314},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[13] = {
	idx = 13,
	killBossId = 31013,
	killCount = {520,624,728,832,936,1040,1144,1248,1352,1456,1560},
	bossId = 81009,
	reTime = 3360,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 146,
	belongReward = 1662014,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661014,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100315,1100315},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[14] = {
	idx = 14,
	killBossId = 31014,
	killCount = {720,864,1008,1152,1296,1440,1584,1728,1872,2016,2160},
	bossId = 81010,
	reTime = 3660,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 147,
	belongReward = 1662015,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661015,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100316,1100316},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[15] = {
	idx = 15,
	killBossId = 31015,
	killCount = {880,1056,1232,1408,1584,1760,1936,2112,2288,2464,2640},
	bossId = 81011,
	reTime = 3960,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 148,
	belongReward = 1662016,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661016,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100317,1100317},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
[16] = {
	idx = 16,
	killBossId = 31016,
	killCount = {1200,1440,1680,1920,2160,2400,2640,2880,3120,3360,3600},
	bossId = 81012,
	reTime = 4260,
	shield = {{hp=20,shield=50,type=1}},
	point = {x=68,y=35},
	noticeId = 149,
	belongReward = 1662017,
	belongRewardMailTitle = "远古BOSS归属奖",
	belongRewardMailText = "恭喜获得远古BOSS归属奖励",
	joinReward = 1661017,
	joinRewardMailTitle = "远古BOSS参与奖",
	joinRewardMailText = "恭喜获得远古BOSS参与奖励",
	luckyReward = {1100318,1100318},
	luckyRewardMailTitle = "主城BOSS幸运奖",
	luckyRewardMailText = "恭喜获得主城BOSS幸运奖励",
	luckyCount = 1,
},
}