--Z-遭遇战.xlsx 常量配置
SkirmishBaseConfig={
	refreshCost = 10,
	refreshTime = 1,
	rankMaxSize = 1000,
	rankBoardSize = 100,
	noExpCount = 100,
	positionCount = 5,
	listSize = 4,
	failedRewardRate = 0,
	rankMailTitle = LAN.MAIL.zy001,
	rankMailContent = LAN.MAIL.zy002,
	openLevel = 18,
	openCount = 1,
	onesPkval = 25,
	maxPkval = 100,
	refreshPkvalTime = 1,
	refreshSubPkval = 1,
	subPkvalCost = 4,
	subPkval = 25,
	onesAttrper = 70,
	onesName = "布拉格の鑫爷",
	onesRewards = 200021,
	firstRefreshCount = 4,
}