--Z-遭遇战.xlsx 战胜杯数奖
SkirmishFameConfig = {
[1] = {
	fame = 25,
},
[2] = {
	fame = 26,
},
[3] = {
	fame = 27,
},
[4] = {
	fame = 28,
},
[5] = {
	fame = 29,
},
[6] = {
	fame = 30,
},
[7] = {
	fame = 31,
},
[8] = {
	fame = 32,
},
[9] = {
	fame = 33,
},
[10] = {
	fame = 34,
},
[11] = {
	fame = 35,
},
[12] = {
	fame = 36,
},
[13] = {
	fame = 37,
},
[14] = {
	fame = 38,
},
[15] = {
	fame = 39,
},
[16] = {
	fame = 40,
},
[17] = {
	fame = 41,
},
[18] = {
	fame = 42,
},
[19] = {
	fame = 43,
},
[20] = {
	fame = 44,
},
[21] = {
	fame = 45,
},
[22] = {
	fame = 46,
},
[23] = {
	fame = 47,
},
[24] = {
	fame = 48,
},
[25] = {
	fame = 49,
},
[26] = {
	fame = 50,
},
[27] = {
	fame = 51,
},
[28] = {
	fame = 52,
},
[29] = {
	fame = 53,
},
[30] = {
	fame = 54,
},
[31] = {
	fame = 55,
},
[32] = {
	fame = 56,
},
[33] = {
	fame = 57,
},
[34] = {
	fame = 58,
},
[35] = {
	fame = 59,
},
[36] = {
	fame = 60,
},
[37] = {
	fame = 61,
},
[38] = {
	fame = 62,
},
[39] = {
	fame = 63,
},
[40] = {
	fame = 64,
},
[41] = {
	fame = 65,
},
[42] = {
	fame = 66,
},
[43] = {
	fame = 67,
},
[44] = {
	fame = 68,
},
[45] = {
	fame = 69,
},
[46] = {
	fame = 70,
},
[47] = {
	fame = 71,
},
[48] = {
	fame = 72,
},
[49] = {
	fame = 73,
},
[50] = {
	fame = 74,
},
[51] = {
	fame = 75,
},
[52] = {
	fame = 76,
},
[53] = {
	fame = 77,
},
[54] = {
	fame = 78,
},
[55] = {
	fame = 79,
},
[56] = {
	fame = 80,
},
[57] = {
	fame = 81,
},
[58] = {
	fame = 82,
},
[59] = {
	fame = 83,
},
[60] = {
	fame = 84,
},
[61] = {
	fame = 85,
},
[62] = {
	fame = 86,
},
[63] = {
	fame = 87,
},
[64] = {
	fame = 88,
},
[65] = {
	fame = 89,
},
[66] = {
	fame = 90,
},
[67] = {
	fame = 91,
},
[68] = {
	fame = 92,
},
[69] = {
	fame = 93,
},
[70] = {
	fame = 94,
},
[71] = {
	fame = 95,
},
[72] = {
	fame = 96,
},
[73] = {
	fame = 97,
},
[74] = {
	fame = 98,
},
[75] = {
	fame = 99,
},
[76] = {
	fame = 100,
},
[77] = {
	fame = 101,
},
[78] = {
	fame = 102,
},
[79] = {
	fame = 103,
},
[80] = {
	fame = 104,
},
[81] = {
	fame = 105,
},
[82] = {
	fame = 106,
},
[83] = {
	fame = 107,
},
[84] = {
	fame = 108,
},
[85] = {
	fame = 109,
},
[86] = {
	fame = 110,
},
[87] = {
	fame = 111,
},
[88] = {
	fame = 112,
},
[89] = {
	fame = 113,
},
[90] = {
	fame = 114,
},
[91] = {
	fame = 115,
},
[92] = {
	fame = 116,
},
[93] = {
	fame = 117,
},
[94] = {
	fame = 118,
},
[95] = {
	fame = 119,
},
[96] = {
	fame = 120,
},
[97] = {
	fame = 121,
},
[98] = {
	fame = 122,
},
[99] = {
	fame = 123,
},
[100] = {
	fame = 124,
},
[101] = {
	fame = 125,
},
[102] = {
	fame = 126,
},
[103] = {
	fame = 127,
},
[104] = {
	fame = 128,
},
[105] = {
	fame = 129,
},
[106] = {
	fame = 130,
},
[107] = {
	fame = 131,
},
[108] = {
	fame = 132,
},
[109] = {
	fame = 133,
},
[110] = {
	fame = 134,
},
[111] = {
	fame = 135,
},
[112] = {
	fame = 136,
},
[113] = {
	fame = 137,
},
[114] = {
	fame = 138,
},
[115] = {
	fame = 139,
},
[116] = {
	fame = 140,
},
[117] = {
	fame = 141,
},
[118] = {
	fame = 142,
},
[119] = {
	fame = 143,
},
[120] = {
	fame = 144,
},
[121] = {
	fame = 145,
},
[122] = {
	fame = 146,
},
[123] = {
	fame = 147,
},
[124] = {
	fame = 148,
},
[125] = {
	fame = 149,
},
[126] = {
	fame = 150,
},
[127] = {
	fame = 151,
},
[128] = {
	fame = 152,
},
[129] = {
	fame = 153,
},
[130] = {
	fame = 154,
},
[131] = {
	fame = 155,
},
[132] = {
	fame = 156,
},
[133] = {
	fame = 157,
},
[134] = {
	fame = 158,
},
[135] = {
	fame = 159,
},
[136] = {
	fame = 160,
},
[137] = {
	fame = 161,
},
[138] = {
	fame = 162,
},
[139] = {
	fame = 163,
},
[140] = {
	fame = 164,
},
[141] = {
	fame = 165,
},
[142] = {
	fame = 166,
},
[143] = {
	fame = 167,
},
[144] = {
	fame = 168,
},
[145] = {
	fame = 169,
},
[146] = {
	fame = 170,
},
[147] = {
	fame = 171,
},
[148] = {
	fame = 172,
},
[149] = {
	fame = 173,
},
[150] = {
	fame = 174,
},
[151] = {
	fame = 175,
},
[152] = {
	fame = 176,
},
[153] = {
	fame = 177,
},
[154] = {
	fame = 178,
},
[155] = {
	fame = 179,
},
[156] = {
	fame = 180,
},
[157] = {
	fame = 181,
},
[158] = {
	fame = 182,
},
[159] = {
	fame = 183,
},
[160] = {
	fame = 184,
},
[161] = {
	fame = 185,
},
[162] = {
	fame = 186,
},
[163] = {
	fame = 187,
},
[164] = {
	fame = 188,
},
[165] = {
	fame = 189,
},
[166] = {
	fame = 190,
},
[167] = {
	fame = 191,
},
[168] = {
	fame = 192,
},
[169] = {
	fame = 193,
},
[170] = {
	fame = 194,
},
[171] = {
	fame = 195,
},
[172] = {
	fame = 196,
},
[173] = {
	fame = 197,
},
[174] = {
	fame = 198,
},
[175] = {
	fame = 199,
},
[176] = {
	fame = 200,
},
[177] = {
	fame = 201,
},
[178] = {
	fame = 202,
},
[179] = {
	fame = 203,
},
[180] = {
	fame = 204,
},
[181] = {
	fame = 205,
},
[182] = {
	fame = 206,
},
[183] = {
	fame = 207,
},
[184] = {
	fame = 208,
},
[185] = {
	fame = 209,
},
[186] = {
	fame = 210,
},
[187] = {
	fame = 211,
},
[188] = {
	fame = 212,
},
[189] = {
	fame = 213,
},
[190] = {
	fame = 214,
},
[191] = {
	fame = 215,
},
[192] = {
	fame = 216,
},
[193] = {
	fame = 217,
},
[194] = {
	fame = 218,
},
[195] = {
	fame = 219,
},
[196] = {
	fame = 220,
},
[197] = {
	fame = 221,
},
[198] = {
	fame = 222,
},
[199] = {
	fame = 223,
},
[200] = {
	fame = 224,
},
}