--Z-遭遇战.xlsx 野外玩家配置
SkirmishFieldPlayerConfig={
[1] = {
	level = 1,
	matchLevel = {-5,5,10},
	enterPos = {{3584,2240},{3584,2240}},
	reviveTime = {2,4},
	intoPos = {{3584,2240},{3584,2240}},
	robotPro = 100,
	actionPro = {{type=0,rate=5},{type=1,rate=95}},
	forayPro = 0,
	escape = {x=2560,y=1920},
	killNum = 2,
},
[2] = {
	level = 2,
	matchLevel = {-5,5,10},
	enterPos = {{2560,1920},{2560,1920}},
	reviveTime = {2,4},
	intoPos = {{2560,1920},{2560,1920}},
	robotPro = 100,
	actionPro = {{type=0,rate=5},{type=1,rate=95}},
	forayPro = 0,
	escape = {x=960,y=1920},
	killNum = 2,
},
[3] = {
	level = 3,
	matchLevel = {-5,5,10},
	enterPos = {{960,1920},{960,1920}},
	reviveTime = {4,8},
	intoPos = {{960,1920},{960,1920}},
	robotPro = 100,
	actionPro = {{type=0,rate=5},{type=1,rate=95}},
	forayPro = 0,
	escape = {x=1216,y=832},
	killNum = 2,
},
[4] = {
	level = 4,
	matchLevel = {-5,5,10},
	enterPos = {{1216,832},{1216,832}},
	reviveTime = {4,8},
	intoPos = {{1216,832},{1216,832}},
	robotPro = 100,
	actionPro = {{type=0,rate=5},{type=1,rate=95}},
	forayPro = 0,
	escape = {x=416,y=1760},
	killNum = 2,
},
[5] = {
	level = 5,
	matchLevel = {-5,5,10},
	enterPos = {{992,1504},{1120,1440}},
	reviveTime = {4,8},
	intoPos = {{416,1760},{416,1760}},
	robotPro = 100,
	actionPro = {{type=0,rate=5},{type=1,rate=95}},
	forayPro = 0,
	escape = {x=1696,y=1760},
	killNum = 2,
},
[6] = {
	level = 6,
	matchLevel = {-5,5,10},
	enterPos = {{2528,1504},{2592,1376}},
	reviveTime = {4,8},
	intoPos = {{1696,1760},{1696,1760}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=3104,y=1248},
	killNum = 2,
},
[7] = {
	level = 7,
	matchLevel = {-5,5,10},
	enterPos = {{3616,992},{3744,992}},
	reviveTime = {4,8},
	intoPos = {{3104,1248},{3104,1248}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=1184,y=288},
	killNum = 2,
},
[8] = {
	level = 8,
	matchLevel = {-5,5,10},
	enterPos = {{1312,608},{1184,544}},
	reviveTime = {8,16},
	intoPos = {{1184,288},{1184,288}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=800,y=928},
	killNum = 2,
},
[9] = {
	level = 9,
	matchLevel = {-5,5,10},
	enterPos = {{1696,1376},{1696,1504}},
	reviveTime = {8,16},
	intoPos = {{800,928},{800,928}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=2272,y=1504},
	killNum = 2,
},
[10] = {
	level = 10,
	matchLevel = {-5,5,10},
	enterPos = {{3168,1440},{3488,1440}},
	reviveTime = {8,16},
	intoPos = {{2272,1504},{2272,1504}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=4064,y=1888},
	killNum = 2,
},
[11] = {
	level = 11,
	matchLevel = {-5,5,10},
	enterPos = {{544,800},{672,736}},
	reviveTime = {8,16},
	intoPos = {{352,544},{352,544}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=1056,y=672},
	killNum = 2,
},
[12] = {
	level = 12,
	matchLevel = {-5,5,10},
	enterPos = {{1760,480},{1888,416}},
	reviveTime = {8,16},
	intoPos = {{1056,672},{1056,672}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=2208,y=224},
	killNum = 2,
},
[13] = {
	level = 13,
	matchLevel = {-5,5,10},
	enterPos = {{2336,992},{2464,864}},
	reviveTime = {8,16},
	intoPos = {{2208,224},{2208,224}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=2400,y=1312},
	killNum = 2,
},
[14] = {
	level = 14,
	matchLevel = {-5,5,10},
	enterPos = {{3104,1568},{3168,1440}},
	reviveTime = {10,20},
	intoPos = {{2400,1312},{2400,1312}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=416,y=1440},
	killNum = 2,
},
[15] = {
	level = 15,
	matchLevel = {-5,5,10},
	enterPos = {{928,1376},{864,1280}},
	reviveTime = {10,20},
	intoPos = {{416,1440},{416,1440}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=1376,y=1568},
	killNum = 2,
},
[16] = {
	level = 16,
	matchLevel = {-5,5,10},
	enterPos = {{2016,1568},{1952,1696}},
	reviveTime = {10,20},
	intoPos = {{1376,1568},{1376,1568}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=2528,y=1440},
	killNum = 2,
},
[17] = {
	level = 17,
	matchLevel = {-5,5,10},
	enterPos = {{3360,1248},{3488,1312}},
	reviveTime = {10,20},
	intoPos = {{2528,1440},{2528,1440}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=3936,y=1760},
	killNum = 2,
},
[18] = {
	level = 18,
	matchLevel = {-5,5,10},
	enterPos = {{3360,1504},{3232,1440}},
	reviveTime = {10,20},
	intoPos = {{3936,1760},{3936,1760}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=2656,y=1760},
	killNum = 2,
},
[19] = {
	level = 19,
	matchLevel = {-5,5,10},
	enterPos = {{1824,1504},{1760,2016}},
	reviveTime = {10,20},
	intoPos = {{2656,1760},{2656,1760}},
	robotPro = 100,
	actionPro = {{type=0,rate=20},{type=1,rate=80}},
	forayPro = 0,
	escape = {x=1248,y=1312},
	killNum = 2,
},
}