--Z-遭遇战.xlsx 排名奖
SkirmishRankConfig={
{
	minRank = 1,
	maxRank = 1,
	rewards = {{type=0,id=4,count=9000},{type=0,id=1,count=1000000}},
},
{
	minRank = 2,
	maxRank = 2,
	rewards = {{type=0,id=4,count=8100},{type=0,id=1,count=900000}},
},
{
	minRank = 3,
	maxRank = 3,
	rewards = {{type=0,id=4,count=6750},{type=0,id=1,count=800000}},
},
{
	minRank = 4,
	maxRank = 4,
	rewards = {{type=0,id=4,count=6300},{type=0,id=1,count=700000}},
},
{
	minRank = 5,
	maxRank = 5,
	rewards = {{type=0,id=4,count=5850},{type=0,id=1,count=600000}},
},
{
	minRank = 6,
	maxRank = 10,
	rewards = {{type=0,id=4,count=5400},{type=0,id=1,count=550000}},
},
{
	minRank = 11,
	maxRank = 50,
	rewards = {{type=0,id=4,count=4950},{type=0,id=1,count=500000}},
},
{
	minRank = 51,
	maxRank = 100,
	rewards = {{type=0,id=4,count=4500},{type=0,id=1,count=450000}},
},
{
	minRank = 101,
	maxRank = 500,
	rewards = {{type=0,id=4,count=3600},{type=0,id=1,count=400000}},
},
{
	minRank = 501,
	maxRank = 1000,
	rewards = {{type=0,id=4,count=3600},{type=0,id=1,count=350000}},
},
{
	minRank = 1001,
	maxRank = 2000,
	rewards = {{type=0,id=4,count=3600},{type=0,id=1,count=300000}},
},
{
	minRank = 2001,
	maxRank = 5000,
	rewards = {{type=0,id=4,count=3600},{type=0,id=1,count=250000}},
},
{
	minRank = 5001,
	maxRank = 10000,
	rewards = {{type=0,id=4,count=3600},{type=0,id=1,count=200000}},
},
{
	minRank = 10001,
	maxRank = 50000,
	rewards = {{type=0,id=4,count=3600},{type=0,id=1,count=150000}},
},
}