--Z-遭遇战.xlsx 挑战基础奖
SkirmishRewardConfig={
[1] = {
	level = 1,
	rewards = {gold=2000,exp=1000,essence=300},
	dropId = 200001,
},
[2] = {
	level = 2,
	rewards = {gold=2500,exp=1020,essence=300},
	dropId = 200001,
},
[3] = {
	level = 3,
	rewards = {gold=3000,exp=1040,essence=300},
	dropId = 200001,
},
[4] = {
	level = 4,
	rewards = {gold=3500,exp=1060,essence=300},
	dropId = 200001,
},
[5] = {
	level = 5,
	rewards = {gold=4000,exp=1080,essence=300},
	dropId = 200001,
},
[6] = {
	level = 6,
	rewards = {gold=4500,exp=1100,essence=300},
	dropId = 200001,
},
[7] = {
	level = 7,
	rewards = {gold=5000,exp=1120,essence=300},
	dropId = 200001,
},
[8] = {
	level = 8,
	rewards = {gold=5500,exp=1140,essence=300},
	dropId = 200001,
},
[9] = {
	level = 9,
	rewards = {gold=6000,exp=1160,essence=300},
	dropId = 200001,
},
[10] = {
	level = 10,
	rewards = {gold=6500,exp=1180,essence=300},
	dropId = 200001,
},
[11] = {
	level = 11,
	rewards = {gold=7000,exp=1200,essence=300},
	dropId = 200001,
},
[12] = {
	level = 12,
	rewards = {gold=7500,exp=1220,essence=300},
	dropId = 200001,
},
[13] = {
	level = 13,
	rewards = {gold=8000,exp=1240,essence=300},
	dropId = 200001,
},
[14] = {
	level = 14,
	rewards = {gold=8500,exp=1260,essence=300},
	dropId = 200001,
},
[15] = {
	level = 15,
	rewards = {gold=9000,exp=1280,essence=300},
	dropId = 200001,
},
[16] = {
	level = 16,
	rewards = {gold=9500,exp=1300,essence=300},
	dropId = 200001,
},
[17] = {
	level = 17,
	rewards = {gold=10000,exp=1320,essence=300},
	dropId = 200001,
},
[18] = {
	level = 18,
	rewards = {gold=10500,exp=1340,essence=300},
	dropId = 200001,
},
[19] = {
	level = 19,
	rewards = {gold=11000,exp=1360,essence=300},
	dropId = 200001,
},
[20] = {
	level = 20,
	rewards = {gold=11500,exp=1380,essence=300},
	dropId = 200002,
},
[21] = {
	level = 21,
	rewards = {gold=12000,exp=1400,essence=300},
	dropId = 200002,
},
[22] = {
	level = 22,
	rewards = {gold=12500,exp=1420,essence=300},
	dropId = 200002,
},
[23] = {
	level = 23,
	rewards = {gold=13000,exp=1440,essence=300},
	dropId = 200002,
},
[24] = {
	level = 24,
	rewards = {gold=13500,exp=1460,essence=300},
	dropId = 200002,
},
[25] = {
	level = 25,
	rewards = {gold=14000,exp=1480,essence=300},
	dropId = 200002,
},
[26] = {
	level = 26,
	rewards = {gold=14500,exp=1500,essence=300},
	dropId = 200002,
},
[27] = {
	level = 27,
	rewards = {gold=15000,exp=1520,essence=300},
	dropId = 200002,
},
[28] = {
	level = 28,
	rewards = {gold=15500,exp=1540,essence=300},
	dropId = 200002,
},
[29] = {
	level = 29,
	rewards = {gold=16000,exp=1560,essence=300},
	dropId = 200002,
},
[30] = {
	level = 30,
	rewards = {gold=16500,exp=1580,essence=300},
	dropId = 200003,
},
[31] = {
	level = 31,
	rewards = {gold=17000,exp=1600,essence=300},
	dropId = 200003,
},
[32] = {
	level = 32,
	rewards = {gold=17500,exp=1620,essence=300},
	dropId = 200003,
},
[33] = {
	level = 33,
	rewards = {gold=18000,exp=1640,essence=300},
	dropId = 200003,
},
[34] = {
	level = 34,
	rewards = {gold=18500,exp=1660,essence=300},
	dropId = 200003,
},
[35] = {
	level = 35,
	rewards = {gold=19000,exp=1680,essence=300},
	dropId = 200003,
},
[36] = {
	level = 36,
	rewards = {gold=19500,exp=1700,essence=300},
	dropId = 200003,
},
[37] = {
	level = 37,
	rewards = {gold=20000,exp=1720,essence=300},
	dropId = 200003,
},
[38] = {
	level = 38,
	rewards = {gold=20500,exp=1740,essence=300},
	dropId = 200003,
},
[39] = {
	level = 39,
	rewards = {gold=21000,exp=1760,essence=300},
	dropId = 200003,
},
[40] = {
	level = 40,
	rewards = {gold=21500,exp=1780,essence=300},
	dropId = 200004,
},
[41] = {
	level = 41,
	rewards = {gold=22000,exp=1800,essence=300},
	dropId = 200004,
},
[42] = {
	level = 42,
	rewards = {gold=22500,exp=1820,essence=300},
	dropId = 200004,
},
[43] = {
	level = 43,
	rewards = {gold=23000,exp=1840,essence=300},
	dropId = 200004,
},
[44] = {
	level = 44,
	rewards = {gold=23500,exp=1860,essence=300},
	dropId = 200004,
},
[45] = {
	level = 45,
	rewards = {gold=24000,exp=1880,essence=300},
	dropId = 200004,
},
[46] = {
	level = 46,
	rewards = {gold=24500,exp=1900,essence=300},
	dropId = 200004,
},
[47] = {
	level = 47,
	rewards = {gold=25000,exp=1920,essence=300},
	dropId = 200004,
},
[48] = {
	level = 48,
	rewards = {gold=25500,exp=1940,essence=300},
	dropId = 200004,
},
[49] = {
	level = 49,
	rewards = {gold=26000,exp=1960,essence=300},
	dropId = 200004,
},
[50] = {
	level = 50,
	rewards = {gold=26500,exp=1980,essence=300},
	dropId = 200005,
},
[51] = {
	level = 51,
	rewards = {gold=27500,exp=2230,essence=300},
	dropId = 200005,
},
[52] = {
	level = 52,
	rewards = {gold=28500,exp=2480,essence=300},
	dropId = 200005,
},
[53] = {
	level = 53,
	rewards = {gold=29500,exp=2730,essence=300},
	dropId = 200005,
},
[54] = {
	level = 54,
	rewards = {gold=30500,exp=2980,essence=300},
	dropId = 200005,
},
[55] = {
	level = 55,
	rewards = {gold=31500,exp=3230,essence=300},
	dropId = 200005,
},
[56] = {
	level = 56,
	rewards = {gold=32500,exp=3480,essence=300},
	dropId = 200005,
},
[57] = {
	level = 57,
	rewards = {gold=33500,exp=3730,essence=300},
	dropId = 200005,
},
[58] = {
	level = 58,
	rewards = {gold=34500,exp=3980,essence=300},
	dropId = 200005,
},
[59] = {
	level = 59,
	rewards = {gold=35500,exp=4230,essence=300},
	dropId = 200005,
},
[60] = {
	level = 60,
	rewards = {gold=36500,exp=4480,essence=300},
	dropId = 200006,
},
[61] = {
	level = 61,
	rewards = {gold=37500,exp=4730,essence=300},
	dropId = 200006,
},
[62] = {
	level = 62,
	rewards = {gold=38500,exp=4980,essence=300},
	dropId = 200006,
},
[63] = {
	level = 63,
	rewards = {gold=39500,exp=5230,essence=300},
	dropId = 200006,
},
[64] = {
	level = 64,
	rewards = {gold=40500,exp=5480,essence=300},
	dropId = 200006,
},
[65] = {
	level = 65,
	rewards = {gold=41500,exp=5730,essence=300},
	dropId = 200006,
},
[66] = {
	level = 66,
	rewards = {gold=42500,exp=5980,essence=300},
	dropId = 200006,
},
[67] = {
	level = 67,
	rewards = {gold=43500,exp=6230,essence=300},
	dropId = 200006,
},
[68] = {
	level = 68,
	rewards = {gold=44500,exp=6480,essence=300},
	dropId = 200006,
},
[69] = {
	level = 69,
	rewards = {gold=45500,exp=6730,essence=300},
	dropId = 200006,
},
[70] = {
	level = 70,
	rewards = {gold=46500,exp=6980,essence=300},
	dropId = 200007,
},
[71] = {
	level = 71,
	rewards = {gold=47500,exp=7230,essence=300},
	dropId = 200007,
},
[72] = {
	level = 72,
	rewards = {gold=48500,exp=7480,essence=300},
	dropId = 200007,
},
[73] = {
	level = 73,
	rewards = {gold=49500,exp=7730,essence=300},
	dropId = 200007,
},
[74] = {
	level = 74,
	rewards = {gold=50500,exp=7980,essence=300},
	dropId = 200007,
},
[75] = {
	level = 75,
	rewards = {gold=51500,exp=8230,essence=300},
	dropId = 200007,
},
[76] = {
	level = 76,
	rewards = {gold=52500,exp=8480,essence=300},
	dropId = 200007,
},
[77] = {
	level = 77,
	rewards = {gold=53500,exp=8730,essence=300},
	dropId = 200007,
},
[78] = {
	level = 78,
	rewards = {gold=54500,exp=8980,essence=300},
	dropId = 200007,
},
[79] = {
	level = 79,
	rewards = {gold=55500,exp=9230,essence=300},
	dropId = 200007,
},
[80] = {
	level = 80,
	rewards = {gold=56500,exp=9480,essence=300},
	dropId = 200008,
},
[1000] = {
	level = 1000,
	rewards = {gold=59500,exp=10230,essence=300},
	dropId = 200009,
},
[2000] = {
	level = 2000,
	rewards = {gold=62500,exp=10980,essence=300},
	dropId = 200010,
},
[3000] = {
	level = 3000,
	rewards = {gold=65500,exp=11730,essence=300},
	dropId = 200011,
},
[4000] = {
	level = 4000,
	rewards = {gold=68500,exp=12480,essence=300},
	dropId = 200012,
},
[5000] = {
	level = 5000,
	rewards = {gold=71500,exp=13230,essence=300},
	dropId = 200013,
},
[6000] = {
	level = 6000,
	rewards = {gold=74500,exp=13980,essence=300},
	dropId = 200014,
},
[7000] = {
	level = 7000,
	rewards = {gold=77500,exp=14730,essence=300},
	dropId = 200015,
},
[8000] = {
	level = 8000,
	rewards = {gold=80500,exp=15480,essence=300},
	dropId = 200016,
},
[9000] = {
	level = 9000,
	rewards = {gold=83500,exp=16230,essence=300},
	dropId = 200017,
},
[10000] = {
	level = 10000,
	rewards = {gold=86500,exp=16980,essence=300},
	dropId = 200018,
},
[11000] = {
	level = 11000,
	rewards = {gold=89500,exp=17730,essence=300},
	dropId = 200019,
},
[12000] = {
	level = 12000,
	rewards = {gold=92500,exp=18480,essence=300},
	dropId = 200020,
},
[13000] = {
	level = 13000,
	rewards = {gold=95500,exp=19230,essence=300},
	dropId = 200022,
},
}