--T-特戒玩家系统.xlsx 特戒配置
ActorExRingConfig={
[2] = {
	id = 2,
	openDay = 7,
	openVip = 4,
	openYb = 0,
	mtCombat = 0,
	needLevel = 999,
	needZs = 0,
},
[3] = {
	id = 3,
	openDay = 2,
	openVip = 1,
	openYb = 0,
	mtCombat = 0,
	needLevel = 999,
	needZs = 0,
},
[4] = {
	id = 4,
	openDay = 3,
	openVip = 2,
	openYb = 0,
	mtCombat = 0,
	needLevel = 999,
	needZs = 0,
},
[5] = {
	id = 5,
	openDay = 1,
	openVip = -1,
	openYb = 0,
	mtCombat = 0,
	needLevel = 999,
	needZs = 0,
},
[6] = {
	id = 6,
	openDay = 5,
	openVip = 3,
	openYb = 0,
	mtCombat = 0,
	needLevel = 999,
	needZs = 0,
},
[7] = {
	id = 7,
	openDay = 8,
	openVip = -1,
	openYb = 1888,
	useYb = 1888,
	useYbInitLv = 1,
	monsterId = 80010,
	showMonsterLv = 45,
	mtCombat = 0,
	openCond = {2,3,4,5,6},
	skillGridYb = 2000,
},
}