--T-特戒玩家系统.xlsx 神力特戒
ActorExRing2Config={
[1] = {
	level = 1,
	costItem = 200015,
	cost = 5,
	upPower = 300,
	addPower = 50,
	bjRate = 2000,
	bjAddPower = 100,
	attrAward = {{type=4,value=140},{type=5,value=35},{type=6,value=35},{type=2,value=1890}},
	extAttrAward = {{type=37,value=60000},{type=38,value=1000},{type=39,value=12500}},
	judgeup = 0,
},
}