--T-特戒玩家系统.xlsx 治疗特戒
ActorExRing4Config={
[1] = {
	level = 1,
	costItem = 200015,
	cost = 5,
	upPower = 300,
	addPower = 50,
	bjRate = 2000,
	bjAddPower = 100,
	attrAward = {{type=4,value=100},{type=5,value=25},{type=6,value=25},{type=2,value=1350}},
	extAttrAward = {{type=12,value=1000},{type=13,value=60000},{type=35,value=60000}},
	judgeup = 0,
},
}