--T-特戒玩家系统.xlsx 烈焰道具使用
ActorExRingItemConfig={
[7] = {
	[1] = {
		[1] = {
			rid = 7,
			id = 1,
			lv = 1,
			monId = 1,
			attrPer = 500,
		},
		[2] = {
			rid = 7,
			id = 1,
			lv = 2,
			monId = 1,
			attrPer = 1000,
		},
		[3] = {
			rid = 7,
			id = 1,
			lv = 3,
			monId = 1,
			attrPer = 1500,
		},
		[4] = {
			rid = 7,
			id = 1,
			lv = 4,
			monId = 1,
			attrPer = 2000,
		},
		[5] = {
			rid = 7,
			id = 1,
			lv = 5,
			monId = 1,
			attrPer = 2500,
		},
		[6] = {
			rid = 7,
			id = 1,
			lv = 6,
			monId = 1,
			attrPer = 3000,
		},
		[7] = {
			rid = 7,
			id = 1,
			lv = 7,
			monId = 1,
			attrPer = 3500,
		},
		[8] = {
			rid = 7,
			id = 1,
			lv = 8,
			monId = 1,
			attrPer = 4000,
		},
		[9] = {
			rid = 7,
			id = 1,
			lv = 9,
			monId = 1,
			attrPer = 4500,
		},
		[10] = {
			rid = 7,
			id = 1,
			lv = 10,
			monId = 1,
			attrPer = 5000,
		},
	},
},
}