--ai配置表.xlsx aiConfig
AiConfig={
[1] = {
	id = 1,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=16000},{id=15000},{id=14000},{id=13000,type=1, min=0,max=2,count=2},{id=12000},{id=11000}},
},
[2] = {
	id = 2,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=24000},{id=27000},{id=26000},{id=22000},{id=25000, type=2, min=0, max=1,count=2},{id=21000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={{type= 9, min=0,max=1,count=1}},-- 列表中有离自己距离0-2格的敌人超过1个
     actions = {{ type = 1, id = 23000 }}  --使用技能火环
   },
} ,
},
[3] = {
	id = 3,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=34000},{id=32000},{id=31000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={ {type= 8, min = 0, max = 90}},-- 己方血量少于90% 
     actions = {{ type = 1, id = 33000 }} --使用技能加血
   },
  {  interval = 15000,--技能cd15秒
     conditions = {{type=7, pet=0}},--没有战斗宠物时
     actions = { {type=1,id=35000},} --召唤技能
  }
} ,
},
[4] = {
	id = 4,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=51001,cd=3000000},{id=50001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=51002},
                      {type=4, id=52001},},
    }
},
},
[5] = {
	id = 5,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=56001},
                      {type=4, id=52001},},
    }
},
},
[6] = {
	id = 6,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11] = {
	id = 11,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=71000},{id=16000},{id=15000},{id=14000},{id=12000},{id=11000}},
	battle = {--战斗状态
   { interval=750, --技能cd0.8秒
     conditions ={{type=10, min=0,max=2,count=3}},-- 列表中有离自己距离0-2格的敌人 超过2个
     actions = {{ type = 1, id = 13000 }}  --使用技能半月
   },
} ,
},
[12] = {
	id = 12,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=71000},{id=24000},{id=27000},{id=26000},{id=22000},{id=21000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={{type= 9, min=0,max=1,count=1}},-- 列表中有离自己距离0-2格的敌人超过1个
     actions = {{ type = 1, id = 23000 }}  --使用技能火环
   },
   { interval=750, --技能cd0.8秒
     conditions ={{type= 10, min=0,max=4,count=3}},-- 列表中有离自己距离0-4格的敌人 超过2个
     actions = {{ type = 1, id = 25000 }}  --使用技能冰咆哮
   },
} ,
},
[13] = {
	id = 13,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=71000},{id=34000},{id=33000},{id=31000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={ {type= 8, min = 0, max = 90}},-- 己方血量少于90% 
     actions = {{ type = 1, id = 32000 }} --使用技能加血
   },
  {  interval = 15000,--技能cd15秒
     conditions = {{type=7, pet=0}},--没有战斗宠物时
     actions = { {type=1,id=35000},} --召唤技能
  }
} ,
},
[21] = {
	id = 21,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=72000},{id=16000},{id=15000},{id=14000},{id=12000},{id=11000}},
	battle = {--战斗状态
   { interval=750, --技能cd0.8秒
     conditions ={{type=10, min=0,max=2,count=3}},-- 列表中有离自己距离0-2格的敌人 超过2个
     actions = {{ type = 1, id = 13000 }}  --使用技能半月
   },
} ,
},
[22] = {
	id = 22,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=72000},{id=24000},{id=27000},{id=26000},{id=22000},{id=21000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={{type= 9, min=0,max=1,count=1}},-- 列表中有离自己距离0-2格的敌人超过1个
     actions = {{ type = 1, id = 23000 }}  --使用技能火环
   },
   { interval=750, --技能cd0.8秒
     conditions ={{type= 10, min=0,max=4,count=3}},-- 列表中有离自己距离0-4格的敌人 超过2个
     actions = {{ type = 1, id = 25000 }}  --使用技能冰咆哮
   },
} ,
},
[23] = {
	id = 23,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=72000},{id=34000},{id=33000},{id=31000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={ {type= 8, min = 0, max = 90}},-- 己方血量少于90% 
     actions = {{ type = 1, id = 32000 }} --使用技能加血
   },
  {  interval = 15000,--技能cd15秒
     conditions = {{type=7, pet=0}},--没有战斗宠物时
     actions = { {type=1,id=35000},} --召唤技能
  }
} ,
},
[31] = {
	id = 31,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=73000},{id=16000},{id=15000},{id=14000},{id=12000},{id=11000}},
	battle = {--战斗状态
   { interval=750, --技能cd0.8秒
     conditions ={{type=10, min=0,max=2,count=3}},-- 列表中有离自己距离0-2格的敌人 超过2个
     actions = {{ type = 1, id = 13000 }}  --使用技能半月
   },
} ,
},
[32] = {
	id = 32,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=73000},{id=24000},{id=27000},{id=26000},{id=22000},{id=21000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={{type= 9, min=0,max=1,count=1}},-- 列表中有离自己距离0-2格的敌人超过1个
     actions = {{ type = 1, id = 23000 }}  --使用技能火环
   },
   { interval=750, --技能cd0.8秒
     conditions ={{type= 10, min=0,max=4,count=3}},-- 列表中有离自己距离0-4格的敌人 超过2个
     actions = {{ type = 1, id = 25000 }}  --使用技能冰咆哮
   },
} ,
},
[33] = {
	id = 33,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=73000},{id=34000},{id=33000},{id=31000}},
	battle = {--战斗状态
   { interval=10000, --技能cd10秒
     conditions ={ {type= 8, min = 0, max = 90}},-- 己方血量少于90% 
     actions = {{ type = 1, id = 32000 }} --使用技能加血
   },
  {  interval = 15000,--技能cd15秒
     conditions = {{type=7, pet=0}},--没有战斗宠物时
     actions = { {type=1,id=35000},} --召唤技能
  }
} ,
},
[111] = {
	id = 111,
	aggressive = 1,
	home_range = 15,
	vision = 10,
	canRecover = 0,
	skills = {
       {id=40,cd=5000,first_delay=2000}, 
       {id=40,cd=5000},
     },
	born = { 
        {
             actions={{type=1, talk=Lang.Actions.a000003, talkType=2 }}
        }
},
	idle = { --待机时状态,可切换到战斗状态,可添加巡逻,喊话,不定时对自己放buff等行为
    {-- events
      delay= 20000, --进入状态后延迟20秒执行 默认为0
      count= 1,-- 0为不限次数 默认为0
      interval = 10000, --间隔 默认1000
      -- 此处只是举例
      conditions = {
          {type=1, min = 120, max= 600}, -- 进入战斗的时间,min默认为0, max默认为0但表示无限大
        {type=2, min = 10, max = 50}, -- 自己血量 min 默认为0 max 默认为100
        {type=3, min = 10, max = 50}, -- 目标血量 min 默认为0 max 默认为100
        {type=4, min = 3, max=4}, -- 与目标距离 min 默认0, max默认100
        {type=5, id=123}, -- 自己是否有buff
        {type=6, id=123}, -- 目标是否有buff
      },
      actions = {  --duration 为最多执行时间,action执行成功或者到期则执行下一个action, 默认为0
        -- interval 为执行action成功后下一个action的间隔时间,默认为0
        { type = 1, id=123 }, --释放技能

        --[[原来的action：{ type=1, duration=2, talk=Lang.Actions.a000003, talkType=2 },
        现在的action：{ type=1, duration=1, interval=5, talk=Lang.Actions.a000003, talkType=2},
        不过正常持续时间和间隔都默认为0就行了,所以可以这样写：
                { type=1, talk=Lang.Actions.a000003, talkType=2},  
        duration持续时间只有移动类的行为才需要, interval是需要延迟执行下一个行为时才填的
        所以格式基本上差不多,以前的行为基本都不用填duration
        --]]
      }
    },
    {
      actions = { -- 巡逻 这个以后再实现
        {type=5, duration=10, posX=100, posY=100, relative=false },
        {type=5, duration=10, posX=150, posY=100, relative=false },
        {type=5, duration=10, posX=150, posY=150, relative=false },
        {type=5, duration=10, posX=100, posY=150, relative=false },
      }
    },
  },
	battle = { --战斗状态,(可以实现非战斗时跟随或护送巡逻,进战斗后停止或逃跑或其他行为,脱战后恢复)
    --[[{
      delay=5000,
      count=0,
      action = {{type="changeTarget",duration=1, interval=5, method=0}} --切换目标,方式0按累计伤害,1按攻击者列表血量,2随机,3仇恨？
    },
    {
      delay=30000,
      action={
        {type="summon", method=0, id=123}, --两种召唤方式
        {type="summon", interval=10, method=1, id=123, pos={12,34}},
      }
    },
    {
      delay=25000,
      actions={type="wait", time=5}, --等待5秒, 用于事件
    },
    { -- 与目标距离超过 释放特殊技能拉近或是别的
      conditions = {{type="targetDistance", min=20}}
      actions={{type="skill", id=321}}
    },
    { -- 与目标距离过近,释放特殊技能
      conditions = {{type="targetDistance", max=5}}
      actions={{type="skill", id=322}}
    }
    --]]
  },
	back = { -- 返回状态, 仅处理移动和执行部分行为（喊话等）,如没有特殊行为,可以考虑省略该状态
    --{ actions={{type="speak", value="hahah", range=1} } }
  },
	dead = { -- 执行某些行为, 或者复活前判断
    --[[{
      delay=5,
      conditions = {{type="position", pos={50,50}, range=5}}, --在目标位置附近5格范围内 
      actions = {{type="revive", hp=100}} --满血复活 
    },
    {
      delay=5,
      condtions = {{type="ExistMonster", id="123"}} --存在怪物 
      actions={{type="revive", hp=100}} --复活 
    }-]]
}
,
},
[10001] = {
	id = 10001,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=50000,cd=1500}},
},
[10002] = {
	id = 10002,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[10003] = {
	id = 10003,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=51000,cd=3000000},{id=52000,cd=1500}},
},
[10004] = {
	id = 10004,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
	battle = {
  { interval=2000,
    actions={{type=2,ctype=0}}
  } --每隔2秒切换一次目标
},
},
[10005] = {
	id = 10005,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[10006] = {
	id = 10006,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150003,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[10007] = {
	id = 10007,
	aggressive = 1,
	home_range = 50,
	vision = 5,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[10008] = {
	id = 10008,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
	battle = {
  { interval=2000,
    actions={{type=2,ctype=0}}
  } --每隔2秒切换一次目标
},
},
[10009] = {
	id = 10009,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150003,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
	battle = {
  { interval=2000,
    actions={{type=2,ctype=0}}
  } --每隔2秒切换一次目标
},
},
[10010] = {
	id = 10010,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150002,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[10011] = {
	id = 10011,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80001,cd=1000}},
},
[10012] = {
	id = 10012,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=50001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[10013] = {
	id = 10013,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=50003,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[10014] = {
	id = 10014,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150006,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[10015] = {
	id = 10015,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[10016] = {
	id = 10016,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80002,cd=1000}},
},
[10017] = {
	id = 10017,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=63000,cd=1000},{id=64000,cd=1000}},
},
[10018] = {
	id = 10018,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=200511,cd=1500}},
},
[10019] = {
	id = 10019,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=200512,cd=1500}},
},
[10020] = {
	id = 10020,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=200513,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11000] = {
	id = 11000,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150002,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11001] = {
	id = 11001,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150004,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11002] = {
	id = 11002,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150005,cd=4500},{id=205001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11003] = {
	id = 11003,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150006,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11004] = {
	id = 11004,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150007,cd=4500},{id=50002,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11005] = {
	id = 11005,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150033,cd=4500},{id=150008,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11006] = {
	id = 11006,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150009,cd=4500},{id=202001,cd=2500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11007] = {
	id = 11007,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150010,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11008] = {
	id = 11008,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150011,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11009] = {
	id = 11009,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150012,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11010] = {
	id = 11010,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150013,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11011] = {
	id = 11011,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150014,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11012] = {
	id = 11012,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150015,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11013] = {
	id = 11013,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150016,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11014] = {
	id = 11014,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150017,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11015] = {
	id = 11015,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150018,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11016] = {
	id = 11016,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150028,cd=4500},{id=150029,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11017] = {
	id = 11017,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150031,cd=4500},{id=150020,cd=2500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11018] = {
	id = 11018,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150035,cd=4500},{id=150021,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11019] = {
	id = 11019,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150034,cd=4500},{id=209001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11020] = {
	id = 11020,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150023,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11021] = {
	id = 11021,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=207001,cd=4500},{id=202001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11022] = {
	id = 11022,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150032,cd=5500},{id=206001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11023] = {
	id = 11023,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150030,cd=2500},{id=205001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11024] = {
	id = 11024,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150027,cd=2000},{id=201001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11025] = {
	id = 11025,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150026,cd=4500},{id=202001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11026] = {
	id = 11026,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150024,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11027] = {
	id = 11027,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150025,cd=1500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11028] = {
	id = 11028,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150037,cd=2500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11029] = {
	id = 11029,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150038,cd=4500},{id=215001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11030] = {
	id = 11030,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150039,cd=4500},{id=50002,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11031] = {
	id = 11031,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150040,cd=2500},{id=215001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11032] = {
	id = 11032,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150041,cd=4500},{id=150042,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[11033] = {
	id = 11033,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=150043,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12001] = {
	id = 12001,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=216001,cd=4500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12002] = {
	id = 12002,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=201001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12003] = {
	id = 12003,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=202001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12004] = {
	id = 12004,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=203001,cd=1500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12005] = {
	id = 12005,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=204001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12006] = {
	id = 12006,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=205001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12007] = {
	id = 12007,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=206001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12008] = {
	id = 12008,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=207001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12009] = {
	id = 12009,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=208001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12010] = {
	id = 12010,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=209001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12011] = {
	id = 12011,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=210001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12012] = {
	id = 12012,
	aggressive = 0,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=211001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12013] = {
	id = 12013,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=212001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12014] = {
	id = 12014,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=213001,cd=4500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12015] = {
	id = 12015,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 1,
	skills = {{id=214001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[12016] = {
	id = 12016,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=207001,cd=4500},{id=202001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92001}}, --霸体、免疫眩晕
    }
},
},
[12105] = {
	id = 12105,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=150017,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[12106] = {
	id = 12106,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=150006,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[12107] = {
	id = 12107,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体
    } 
},
	battle = {
  { interval=2000,
    actions={{type=2,ctype=0}}
  } --每隔2秒切换一次目标
},
},
[12108] = {
	id = 12108,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=150006,cd=2500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[12109] = {
	id = 12109,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=150003,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[12110] = {
	id = 12110,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=210001,cd=4500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[12111] = {
	id = 12111,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=150009,cd=4500},{id=202001,cd=2500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[12112] = {
	id = 12112,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12113] = {
	id = 12113,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体
    } 
},
	battle = {
  { interval=2000,
    actions={{type=2,ctype=0}}
  } --每隔2秒切换一次目标
},
},
[12114] = {
	id = 12114,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12115] = {
	id = 12115,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12116] = {
	id = 12116,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12117] = {
	id = 12117,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12118] = {
	id = 12118,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12119] = {
	id = 12119,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[12120] = {
	id = 12120,
	aggressive = 1,
	home_range = 9,
	vision = 9,
	canRecover = 0,
	skills = {{id=150035,cd=4500},{id=150021,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=92002}}, --霸体、免疫眩晕
    }
},
},
[20000] = {
	id = 20000,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=1000}},
},
[20001] = {
	id = 20001,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=900}},
},
[20002] = {
	id = 20002,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=800}},
},
[20003] = {
	id = 20003,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=700}},
},
[20004] = {
	id = 20004,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=600}},
},
[20005] = {
	id = 20005,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=500}},
},
[20006] = {
	id = 20006,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=400}},
},
[20007] = {
	id = 20007,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=300}},
},
[20008] = {
	id = 20008,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=200}},
},
[20009] = {
	id = 20009,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=100}},
},
[20010] = {
	id = 20010,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=80000,cd=50}},
},
[20011] = {
	id = 20011,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20012] = {
	id = 20012,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=217001,cd=5000},{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20013] = {
	id = 20013,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=218001,cd=8000},{id=217001,cd=5000},{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20014] = {
	id = 20014,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=219001,cd=15000},{id=218001,cd=8000},{id=217001,cd=5000},{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20015] = {
	id = 20015,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20016] = {
	id = 20016,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=220001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20017] = {
	id = 20017,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=221001,cd=5000},{id=220001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20018] = {
	id = 20018,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=50000,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20019] = {
	id = 20019,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=222001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20020] = {
	id = 20020,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=223001,cd=5000},{id=222001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20021] = {
	id = 20021,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=224001,cd=8000},{id=223001,cd=5000},{id=222001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20022] = {
	id = 20022,
	aggressive = 1,
	home_range = 500,
	vision = 400,
	canRecover = 1,
	skills = {{id=225001,cd=10000},{id=224001,cd=8000},{id=223001,cd=5000},{id=222001,cd=1000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20024] = {
	id = 20024,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20025] = {
	id = 20025,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20026] = {
	id = 20026,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20027] = {
	id = 20027,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20028] = {
	id = 20028,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20029] = {
	id = 20029,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150045,cd=1500}},
},
[20030] = {
	id = 20030,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20031] = {
	id = 20031,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20032] = {
	id = 20032,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150046,cd=1500},{id=50000,cd=1500}},
},
[20033] = {
	id = 20033,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150047,cd=1500},{id=150018,cd=1500}},
},
[20034] = {
	id = 20034,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150048,cd=2000},{id=150018,cd=1500}},
},
[20035] = {
	id = 20035,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150050,cd=5000},{id=50000,cd=1500}},
},
[20036] = {
	id = 20036,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150049,cd=1500}},
},
[20037] = {
	id = 20037,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150051,cd=1500}},
},
[20038] = {
	id = 20038,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150052,cd=1500}},
},
[20039] = {
	id = 20039,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20040] = {
	id = 20040,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20041] = {
	id = 20041,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150053,cd=1500}},
},
[20042] = {
	id = 20042,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=151055,cd=3000},{id=50000,cd=1500}},
	battle = {--战斗状态
   { interval=1000, --技能cd1秒
     conditions={{type=2,min=0,max=50}},-- 血量低于50%
     actions={{type=1,id =150054}}  --使用自体加盾
   }
} ,
},
[20043] = {
	id = 20043,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150056,cd=1500}},
},
[20044] = {
	id = 20044,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20045] = {
	id = 20045,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
},
[20046] = {
	id = 20046,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150058,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=150044}}, --霸体,固定伤害
    } 
},
},
[20047] = {
	id = 20047,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150057,cd=5000},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=150044}}, --霸体,固定伤害
    } 
},
},
[20048] = {
	id = 20048,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150060,cd=1500}},
},
[20049] = {
	id = 20049,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=151057,cd=5000},{id=150057,cd=5000},{id=50000,cd=1500}},
},
[20050] = {
	id = 20050,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=219001,cd=15000},{id=218001,cd=8000},{id=217001,cd=5000},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20051] = {
	id = 20051,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 1,
	skills = {{id=200510,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[20052] = {
	id = 20052,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150061,cd=10000},{id=221001,cd=5000},{id=220001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20053] = {
	id = 20053,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150063,cd=1500},{id=50000,cd=1500}},
},
[20054] = {
	id = 20054,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150065,cd=1500}},
},
[20055] = {
	id = 20055,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150064,cd=1500},{id=150013,cd=1500}},
},
[20056] = {
	id = 20056,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150066,cd=1500}},
},
[20057] = {
	id = 20057,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150066,cd=1500}},
},
[20058] = {
	id = 20058,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=150044}}, --霸体,固定伤害
    } 
},
},
[20059] = {
	id = 20059,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=150044}}, --霸体,固定伤害
    } 
},
},
[20060] = {
	id = 20060,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20061] = {
	id = 20061,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20062] = {
	id = 20062,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20063] = {
	id = 20063,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150067,cd=1500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20064] = {
	id = 20064,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=151071,cd=1500},{id=150043,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20065] = {
	id = 20065,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150070,cd=1500},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20066] = {
	id = 20066,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150006,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20067] = {
	id = 20067,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150039,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20068] = {
	id = 20068,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150069,cd=8000},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20069] = {
	id = 20069,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150068,cd=8000},{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20070] = {
	id = 20070,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150003.,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20071] = {
	id = 20071,
	aggressive = 1,
	home_range = 500,
	vision = 500,
	canRecover = 0,
	skills = {{id=150062,cd=8000},{id=225001,cd=10000},{id=224001,cd=8000},{id=223001,cd=5000},{id=222001,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[20072] = {
	id = 20072,
	aggressive = 0,
	home_range = 5,
	vision = 5,
	canRecover = 0,
	skills = {{id=150039,cd=4500},{id=50002,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[21001] = {
	id = 21001,
	aggressive = 0,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=60000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000},{type=5,id=59000}}, --霸体、免疫眩晕
    }
},
},
[21002] = {
	id = 21002,
	aggressive = 1,
	home_range = 5,
	vision = 5,
	canRecover = 0,
	skills = {{id=62001,cd=2500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[21003] = {
	id = 21003,
	aggressive = 1,
	home_range = 5,
	vision = 5,
	canRecover = 0,
	skills = {{id=50000,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
	maxdam = true,
},
[21004] = {
	id = 21004,
	aggressive = 1,
	home_range = 5000,
	vision = 5000,
	canRecover = 0,
	skills = {{id=62003,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[21005] = {
	id = 21005,
	aggressive = 1,
	home_range = 5000,
	vision = 5000,
	canRecover = 0,
	skills = {{id=62005,cd=4500},{id=62004,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体
    } 
},
},
[21006] = {
	id = 21006,
	aggressive = 1,
	home_range = 5000,
	vision = 5000,
	canRecover = 0,
	skills = {{id=62007,cd=4500},{id=62006,cd=1500}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体,固定伤害
    } 
},
},
[60000] = {
	id = 60000,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=60000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[60001] = {
	id = 60001,
	aggressive = 1,
	home_range = 5,
	vision = 500,
	canRecover = 0,
	skills = {{id=15001,cd=15000},{id=11001,cd=2000},{id=12001,cd=3000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[60002] = {
	id = 60002,
	aggressive = 1,
	home_range = 6,
	vision = 500,
	canRecover = 0,
	skills = {{id=60101,cd=15000},{id=21001,cd=2000},{id=22001,cd=3000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
	battle =   {{  interval = 15000,--技能cd15秒
     conditions = {{type=5, id=24001}},--没有战斗宠物时
     actions = { {type=1,id=24001},} --召唤技能
  }},
},
[60003] = {
	id = 60003,
	aggressive = 1,
	home_range = 6,
	vision = 500,
	canRecover = 0,
	skills = {{id=31001,cd=2000},{id=32001,cd=3000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
	battle =   {{  interval = 15000,--技能cd15秒
     conditions = {{type=7, pet=0}},--没有战斗宠物时
     actions = { {type=1,id=62000},} --召唤技能
  }},
},
[60004] = {
	id = 60004,
	aggressive = 1,
	home_range = 0,
	vision = 500,
	canRecover = 0,
	skills = {{id=61001,cd=30000},{id=15001,cd=15000},{id=11001,cd=2000},{id=12001,cd=3000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
[60005] = {
	id = 60005,
	aggressive = 1,
	home_range = 6,
	vision = 500,
	canRecover = 0,
	skills = {{id=60101,cd=15000},{id=21001,cd=2000},{id=22001,cd=3000}},
	born = {
    {
        delay = 0,
        count = 1,
        actions={{type=5,id=51000}}, --霸体、免疫眩晕
    }
},
},
}