--Z-至尊装备.xlsx 灵魂锁链等级配置
ZhiZunLinkLevel={
[0] = {
	[2] = {
		[1] = {
			attrs = {{type=67,value=300}},
			ex_power = 225000,
		},
		[2] = {
			attrs = {{type=67,value=600}},
			ex_power = 450000,
		},
		[3] = {
			attrs = {{type=67,value=1100}},
			ex_power = 825000,
		},
		[4] = {
			attrs = {{type=67,value=1600}},
			ex_power = 1200000,
		},
	},
},
[1] = {
	[0] = {
		[1] = {
			attrs = {{type=7,value=200}},
			ex_power = 117000,
		},
		[2] = {
			attrs = {{type=7,value=400}},
			ex_power = 234000,
		},
		[3] = {
			attrs = {{type=7,value=700}},
			ex_power = 409500,
		},
		[4] = {
			attrs = {{type=7,value=1000}},
			ex_power = 585000,
		},
	},
},
[2] = {
	[4] = {
		[1] = {
			exAttrs = {{type=0,value=10000},{type=1,value=150}},
			ex_power = 225000,
		},
		[2] = {
			exAttrs = {{type=0,value=10000},{type=1,value=300}},
			ex_power = 450000,
		},
		[3] = {
			exAttrs = {{type=0,value=10000},{type=1,value=550}},
			ex_power = 825000,
		},
		[4] = {
			exAttrs = {{type=0,value=10000},{type=1,value=800}},
			ex_power = 1200000,
		},
	},
},
[3] = {
	[1] = {
		[1] = {
			attrs = {{type=8,value=200}},
			ex_power = 117000,
		},
		[2] = {
			attrs = {{type=8,value=400}},
			ex_power = 234000,
		},
		[3] = {
			attrs = {{type=8,value=700}},
			ex_power = 409500,
		},
		[4] = {
			attrs = {{type=8,value=1000}},
			ex_power = 585000,
		},
	},
},
[4] = {
	[6] = {
		[1] = {
			attrs = {{type=68,value=300}},
			ex_power = 120000,
		},
		[2] = {
			attrs = {{type=68,value=800}},
			ex_power = 240000,
		},
		[3] = {
			attrs = {{type=68,value=1400}},
			ex_power = 420000,
		},
		[4] = {
			attrs = {{type=68,value=2000}},
			ex_power = 600000,
		},
	},
},
[5] = {
	[3] = {
		[1] = {
			attrs = {{type=65,value=300}},
			ex_power = 98199,
		},
		[2] = {
			attrs = {{type=65,value=800}},
			ex_power = 195199,
		},
		[3] = {
			attrs = {{type=65,value=1400}},
			ex_power = 341599,
		},
		[4] = {
			attrs = {{type=65,value=2000}},
			ex_power = 487999,
		},
	},
},
[6] = {
	[7] = {
		[1] = {
			attrs = {{type=69,value=300}},
			ex_power = 120000,
		},
		[2] = {
			attrs = {{type=69,value=800}},
			ex_power = 240000,
		},
		[3] = {
			attrs = {{type=69,value=1400}},
			ex_power = 420000,
		},
		[4] = {
			attrs = {{type=69,value=2000}},
			ex_power = 600000,
		},
	},
},
[7] = {
	[5] = {
		[1] = {
			attrs = {{type=56,value=300}},
			ex_power = 98199,
		},
		[2] = {
			attrs = {{type=56,value=800}},
			ex_power = 195199,
		},
		[3] = {
			attrs = {{type=56,value=1400}},
			ex_power = 341599,
		},
		[4] = {
			attrs = {{type=56,value=2000}},
			ex_power = 487999,
		},
	},
},
}