--Z-至尊装备.xlsx 至尊等级配置
ZhiZunEquipLevel={
[0] = {
	[1] = {
		materialInfo = {id=204077,count=1},
		attrs = {{type=4,value=27000},{type=5,value=6750},{type=6,value=6750},{type=2,value=364500}},
		ex_power = 200000,
		soulLinkLevel = 1,
		skillId = 78001,
	},
	[2] = {
		materialInfo = {id=204077,count=2},
		attrs = {{type=4,value=67500},{type=5,value=16875},{type=6,value=16875},{type=2,value=911250}},
		ex_power = 400000,
		soulLinkLevel = 2,
		skillId = 78002,
	},
	[3] = {
		materialInfo = {id=204077,count=3},
		attrs = {{type=4,value=121500},{type=5,value=30375},{type=6,value=30375},{type=2,value=1640250}},
		ex_power = 600000,
		soulLinkLevel = 3,
		skillId = 78003,
	},
	[4] = {
		materialInfo = {id=204077,count=4},
		attrs = {{type=4,value=186300},{type=5,value=46575},{type=6,value=46575},{type=2,value=2515050}},
		ex_power = 800000,
		soulLinkLevel = 4,
		skillId = 78004,
	},
},
[1] = {
	[1] = {
		materialInfo = {id=204078,count=1},
		attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		soulLinkLevel = 1,
	},
	[2] = {
		materialInfo = {id=204078,count=2},
		attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		soulLinkLevel = 2,
	},
	[3] = {
		materialInfo = {id=204078,count=3},
		attrs = {{type=4,value=81000},{type=5,value=20250},{type=6,value=20250},{type=2,value=1093500}},
		soulLinkLevel = 3,
	},
	[4] = {
		materialInfo = {id=204078,count=4},
		attrs = {{type=4,value=124200},{type=5,value=31050},{type=6,value=31050},{type=2,value=1676700}},
		soulLinkLevel = 4,
	},
},
[2] = {
	[1] = {
		materialInfo = {id=204079,count=1},
		attrs = {{type=4,value=27000},{type=5,value=6750},{type=6,value=6750},{type=2,value=364500}},
		ex_power = 200000,
		soulLinkLevel = 1,
		skillId = 79001,
	},
	[2] = {
		materialInfo = {id=204079,count=2},
		attrs = {{type=4,value=67500},{type=5,value=16875},{type=6,value=16875},{type=2,value=911250}},
		ex_power = 400000,
		soulLinkLevel = 2,
		skillId = 79002,
	},
	[3] = {
		materialInfo = {id=204079,count=3},
		attrs = {{type=4,value=121500},{type=5,value=30375},{type=6,value=30375},{type=2,value=1640250}},
		ex_power = 600000,
		soulLinkLevel = 3,
		skillId = 79003,
	},
	[4] = {
		materialInfo = {id=204079,count=4},
		attrs = {{type=4,value=186300},{type=5,value=46575},{type=6,value=46575},{type=2,value=2515050}},
		ex_power = 800000,
		soulLinkLevel = 4,
		skillId = 79004,
	},
},
[3] = {
	[1] = {
		materialInfo = {id=204080,count=1},
		attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		soulLinkLevel = 1,
	},
	[2] = {
		materialInfo = {id=204080,count=2},
		attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		soulLinkLevel = 2,
	},
	[3] = {
		materialInfo = {id=204080,count=3},
		attrs = {{type=4,value=81000},{type=5,value=20250},{type=6,value=20250},{type=2,value=1093500}},
		soulLinkLevel = 3,
	},
	[4] = {
		materialInfo = {id=204080,count=4},
		attrs = {{type=4,value=124200},{type=5,value=31050},{type=6,value=31050},{type=2,value=1676700}},
		soulLinkLevel = 4,
	},
},
[4] = {
	[1] = {
		materialInfo = {id=204081,count=1},
		attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		soulLinkLevel = 1,
	},
	[2] = {
		materialInfo = {id=204081,count=2},
		attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		soulLinkLevel = 2,
	},
	[3] = {
		materialInfo = {id=204081,count=3},
		attrs = {{type=4,value=81000},{type=5,value=20250},{type=6,value=20250},{type=2,value=1093500}},
		soulLinkLevel = 3,
	},
	[4] = {
		materialInfo = {id=204081,count=4},
		attrs = {{type=4,value=124200},{type=5,value=31050},{type=6,value=31050},{type=2,value=1676700}},
		soulLinkLevel = 4,
	},
},
[5] = {
	[1] = {
		materialInfo = {id=204083,count=1},
		attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		soulLinkLevel = 1,
	},
	[2] = {
		materialInfo = {id=204083,count=2},
		attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		soulLinkLevel = 2,
	},
	[3] = {
		materialInfo = {id=204083,count=3},
		attrs = {{type=4,value=81000},{type=5,value=20250},{type=6,value=20250},{type=2,value=1093500}},
		soulLinkLevel = 3,
	},
	[4] = {
		materialInfo = {id=204083,count=4},
		attrs = {{type=4,value=124200},{type=5,value=31050},{type=6,value=31050},{type=2,value=1676700}},
		soulLinkLevel = 4,
	},
},
[6] = {
	[1] = {
		materialInfo = {id=204082,count=1},
		attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		soulLinkLevel = 1,
	},
	[2] = {
		materialInfo = {id=204082,count=2},
		attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		soulLinkLevel = 2,
	},
	[3] = {
		materialInfo = {id=204082,count=3},
		attrs = {{type=4,value=81000},{type=5,value=20250},{type=6,value=20250},{type=2,value=1093500}},
		soulLinkLevel = 3,
	},
	[4] = {
		materialInfo = {id=204082,count=4},
		attrs = {{type=4,value=124200},{type=5,value=31050},{type=6,value=31050},{type=2,value=1676700}},
		soulLinkLevel = 4,
	},
},
[7] = {
	[1] = {
		materialInfo = {id=204084,count=1},
		attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=243000}},
		soulLinkLevel = 1,
	},
	[2] = {
		materialInfo = {id=204084,count=2},
		attrs = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500}},
		soulLinkLevel = 2,
	},
	[3] = {
		materialInfo = {id=204084,count=3},
		attrs = {{type=4,value=81000},{type=5,value=20250},{type=6,value=20250},{type=2,value=1093500}},
		soulLinkLevel = 3,
	},
	[4] = {
		materialInfo = {id=204084,count=4},
		attrs = {{type=4,value=124200},{type=5,value=31050},{type=6,value=31050},{type=2,value=1676700}},
		soulLinkLevel = 4,
	},
},
}