--X-新神器系统.xlsx 碎片
ImbaJigsawConf={
[180001] = {
	jigsawId = 180001,
	attrs = {{type=4,value=52},{type=5,value=13},{type=6,value=13},{type=2,value=712}},
	power = 100,
},
[180002] = {
	jigsawId = 180002,
	attrs = {{type=4,value=52},{type=5,value=13},{type=6,value=13},{type=2,value=712}},
	power = 100,
},
[180011] = {
	jigsawId = 180011,
	attrs = {{type=4,value=52},{type=5,value=13},{type=6,value=13},{type=2,value=712}},
	power = 200,
},
[180012] = {
	jigsawId = 180012,
	attrs = {{type=4,value=52},{type=5,value=13},{type=6,value=13},{type=2,value=712}},
	power = 200,
},
[180013] = {
	jigsawId = 180013,
	attrs = {{type=4,value=52},{type=5,value=13},{type=6,value=13},{type=2,value=712}},
	power = 200,
},
[180014] = {
	jigsawId = 180014,
	attrs = {{type=4,value=52},{type=5,value=13},{type=6,value=13},{type=2,value=712}},
	power = 200,
},
[180021] = {
	jigsawId = 180021,
	attrs = {{type=4,value=61},{type=5,value=15},{type=6,value=15},{type=2,value=831}},
	power = 300,
},
[180022] = {
	jigsawId = 180022,
	attrs = {{type=4,value=61},{type=5,value=15},{type=6,value=15},{type=2,value=831}},
	power = 300,
},
[180023] = {
	jigsawId = 180023,
	attrs = {{type=4,value=61},{type=5,value=15},{type=6,value=15},{type=2,value=831}},
	power = 300,
},
[180024] = {
	jigsawId = 180024,
	attrs = {{type=4,value=61},{type=5,value=15},{type=6,value=15},{type=2,value=831}},
	power = 300,
},
[180031] = {
	jigsawId = 180031,
	attrs = {{type=4,value=81},{type=5,value=20},{type=6,value=20},{type=2,value=1094}},
	power = 400,
},
[180032] = {
	jigsawId = 180032,
	attrs = {{type=4,value=81},{type=5,value=20},{type=6,value=20},{type=2,value=1094}},
	power = 400,
},
[180033] = {
	jigsawId = 180033,
	attrs = {{type=4,value=81},{type=5,value=20},{type=6,value=20},{type=2,value=1094}},
	power = 400,
},
[180034] = {
	jigsawId = 180034,
	attrs = {{type=4,value=81},{type=5,value=20},{type=6,value=20},{type=2,value=1094}},
	power = 400,
},
[180041] = {
	jigsawId = 180041,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 500,
},
[180042] = {
	jigsawId = 180042,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 500,
},
[180043] = {
	jigsawId = 180043,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 500,
},
[180044] = {
	jigsawId = 180044,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 500,
},
[180051] = {
	jigsawId = 180051,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 600,
},
[180052] = {
	jigsawId = 180052,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 600,
},
[180053] = {
	jigsawId = 180053,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 600,
},
[180054] = {
	jigsawId = 180054,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 600,
},
[180055] = {
	jigsawId = 180055,
	attrs = {{type=4,value=90},{type=5,value=22},{type=6,value=22},{type=2,value=1225}},
	power = 600,
},
[180061] = {
	jigsawId = 180061,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180062] = {
	jigsawId = 180062,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180063] = {
	jigsawId = 180063,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180064] = {
	jigsawId = 180064,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180065] = {
	jigsawId = 180065,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180066] = {
	jigsawId = 180066,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180071] = {
	jigsawId = 180071,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180072] = {
	jigsawId = 180072,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180073] = {
	jigsawId = 180073,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180074] = {
	jigsawId = 180074,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180075] = {
	jigsawId = 180075,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180076] = {
	jigsawId = 180076,
	attrs = {{type=4,value=91},{type=5,value=22},{type=6,value=22},{type=2,value=1231}},
	power = 600,
},
[180081] = {
	jigsawId = 180081,
	attrs = {{type=4,value=95},{type=5,value=23},{type=6,value=23},{type=2,value=1284}},
	power = 600,
},
[180082] = {
	jigsawId = 180082,
	attrs = {{type=4,value=95},{type=5,value=23},{type=6,value=23},{type=2,value=1284}},
	power = 600,
},
[180083] = {
	jigsawId = 180083,
	attrs = {{type=4,value=95},{type=5,value=23},{type=6,value=23},{type=2,value=1284}},
	power = 600,
},
[180084] = {
	jigsawId = 180084,
	attrs = {{type=4,value=95},{type=5,value=23},{type=6,value=23},{type=2,value=1284}},
	power = 600,
},
[180085] = {
	jigsawId = 180085,
	attrs = {{type=4,value=95},{type=5,value=23},{type=6,value=23},{type=2,value=1284}},
	power = 600,
},
[180086] = {
	jigsawId = 180086,
	attrs = {{type=4,value=95},{type=5,value=23},{type=6,value=23},{type=2,value=1284}},
	power = 600,
},
[180091] = {
	jigsawId = 180091,
	attrs = {{type=4,value=101},{type=5,value=25},{type=6,value=25},{type=2,value=1371}},
	power = 600,
},
[180092] = {
	jigsawId = 180092,
	attrs = {{type=4,value=101},{type=5,value=25},{type=6,value=25},{type=2,value=1371}},
	power = 600,
},
[180093] = {
	jigsawId = 180093,
	attrs = {{type=4,value=101},{type=5,value=25},{type=6,value=25},{type=2,value=1371}},
	power = 600,
},
[180094] = {
	jigsawId = 180094,
	attrs = {{type=4,value=101},{type=5,value=25},{type=6,value=25},{type=2,value=1371}},
	power = 600,
},
[180095] = {
	jigsawId = 180095,
	attrs = {{type=4,value=101},{type=5,value=25},{type=6,value=25},{type=2,value=1371}},
	power = 600,
},
[180096] = {
	jigsawId = 180096,
	attrs = {{type=4,value=101},{type=5,value=25},{type=6,value=25},{type=2,value=1371}},
	power = 600,
},
[180101] = {
	jigsawId = 180101,
	attrs = {{type=4,value=144},{type=5,value=36},{type=6,value=36},{type=2,value=1955}},
	power = 600,
},
[180102] = {
	jigsawId = 180102,
	attrs = {{type=4,value=144},{type=5,value=36},{type=6,value=36},{type=2,value=1955}},
	power = 600,
},
[180103] = {
	jigsawId = 180103,
	attrs = {{type=4,value=144},{type=5,value=36},{type=6,value=36},{type=2,value=1955}},
	power = 600,
},
[180104] = {
	jigsawId = 180104,
	attrs = {{type=4,value=144},{type=5,value=36},{type=6,value=36},{type=2,value=1955}},
	power = 600,
},
[180105] = {
	jigsawId = 180105,
	attrs = {{type=4,value=144},{type=5,value=36},{type=6,value=36},{type=2,value=1955}},
	power = 600,
},
[180106] = {
	jigsawId = 180106,
	attrs = {{type=4,value=144},{type=5,value=36},{type=6,value=36},{type=2,value=1955}},
	power = 600,
},
[180111] = {
	jigsawId = 180111,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2043}},
	power = 600,
},
[180112] = {
	jigsawId = 180112,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2043}},
	power = 600,
},
[180113] = {
	jigsawId = 180113,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2043}},
	power = 600,
},
[180114] = {
	jigsawId = 180114,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2043}},
	power = 600,
},
[180115] = {
	jigsawId = 180115,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2043}},
	power = 600,
},
[180116] = {
	jigsawId = 180116,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2043}},
	power = 600,
},
[180121] = {
	jigsawId = 180121,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180122] = {
	jigsawId = 180122,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180123] = {
	jigsawId = 180123,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180124] = {
	jigsawId = 180124,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180125] = {
	jigsawId = 180125,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180126] = {
	jigsawId = 180126,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180127] = {
	jigsawId = 180127,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180128] = {
	jigsawId = 180128,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180131] = {
	jigsawId = 180131,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180132] = {
	jigsawId = 180132,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180133] = {
	jigsawId = 180133,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180134] = {
	jigsawId = 180134,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180135] = {
	jigsawId = 180135,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180136] = {
	jigsawId = 180136,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180137] = {
	jigsawId = 180137,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180138] = {
	jigsawId = 180138,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180141] = {
	jigsawId = 180141,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180142] = {
	jigsawId = 180142,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180143] = {
	jigsawId = 180143,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180144] = {
	jigsawId = 180144,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180145] = {
	jigsawId = 180145,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180146] = {
	jigsawId = 180146,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180147] = {
	jigsawId = 180147,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180148] = {
	jigsawId = 180148,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180151] = {
	jigsawId = 180151,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180152] = {
	jigsawId = 180152,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180153] = {
	jigsawId = 180153,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180154] = {
	jigsawId = 180154,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180155] = {
	jigsawId = 180155,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180156] = {
	jigsawId = 180156,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180157] = {
	jigsawId = 180157,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180158] = {
	jigsawId = 180158,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180161] = {
	jigsawId = 180161,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180162] = {
	jigsawId = 180162,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180163] = {
	jigsawId = 180163,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180164] = {
	jigsawId = 180164,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180165] = {
	jigsawId = 180165,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180166] = {
	jigsawId = 180166,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180167] = {
	jigsawId = 180167,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180168] = {
	jigsawId = 180168,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180171] = {
	jigsawId = 180171,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180172] = {
	jigsawId = 180172,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180173] = {
	jigsawId = 180173,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180174] = {
	jigsawId = 180174,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180175] = {
	jigsawId = 180175,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180176] = {
	jigsawId = 180176,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180177] = {
	jigsawId = 180177,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180178] = {
	jigsawId = 180178,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180181] = {
	jigsawId = 180181,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180182] = {
	jigsawId = 180182,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180183] = {
	jigsawId = 180183,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180184] = {
	jigsawId = 180184,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180185] = {
	jigsawId = 180185,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180186] = {
	jigsawId = 180186,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180187] = {
	jigsawId = 180187,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180188] = {
	jigsawId = 180188,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180191] = {
	jigsawId = 180191,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180192] = {
	jigsawId = 180192,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180193] = {
	jigsawId = 180193,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180194] = {
	jigsawId = 180194,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180195] = {
	jigsawId = 180195,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180196] = {
	jigsawId = 180196,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180197] = {
	jigsawId = 180197,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180198] = {
	jigsawId = 180198,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180201] = {
	jigsawId = 180201,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180202] = {
	jigsawId = 180202,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180203] = {
	jigsawId = 180203,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180204] = {
	jigsawId = 180204,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180205] = {
	jigsawId = 180205,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180206] = {
	jigsawId = 180206,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180207] = {
	jigsawId = 180207,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180208] = {
	jigsawId = 180208,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180211] = {
	jigsawId = 180211,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180212] = {
	jigsawId = 180212,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180213] = {
	jigsawId = 180213,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180214] = {
	jigsawId = 180214,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180215] = {
	jigsawId = 180215,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180216] = {
	jigsawId = 180216,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180217] = {
	jigsawId = 180217,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180218] = {
	jigsawId = 180218,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180221] = {
	jigsawId = 180221,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180222] = {
	jigsawId = 180222,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180223] = {
	jigsawId = 180223,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180224] = {
	jigsawId = 180224,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180225] = {
	jigsawId = 180225,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180226] = {
	jigsawId = 180226,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180227] = {
	jigsawId = 180227,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180228] = {
	jigsawId = 180228,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180231] = {
	jigsawId = 180231,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180232] = {
	jigsawId = 180232,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180233] = {
	jigsawId = 180233,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180234] = {
	jigsawId = 180234,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180235] = {
	jigsawId = 180235,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180236] = {
	jigsawId = 180236,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180237] = {
	jigsawId = 180237,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180238] = {
	jigsawId = 180238,
	attrs = {{type=4,value=151},{type=5,value=37},{type=6,value=37},{type=2,value=2049}},
	power = 600,
},
[180241] = {
	jigsawId = 180241,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180242] = {
	jigsawId = 180242,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180243] = {
	jigsawId = 180243,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180244] = {
	jigsawId = 180244,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180245] = {
	jigsawId = 180245,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180246] = {
	jigsawId = 180246,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180247] = {
	jigsawId = 180247,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180248] = {
	jigsawId = 180248,
	attrs = {{type=4,value=157},{type=5,value=39},{type=6,value=39},{type=2,value=2130}},
	power = 600,
},
[180251] = {
	jigsawId = 180251,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180252] = {
	jigsawId = 180252,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180253] = {
	jigsawId = 180253,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180254] = {
	jigsawId = 180254,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180255] = {
	jigsawId = 180255,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180256] = {
	jigsawId = 180256,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180257] = {
	jigsawId = 180257,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180258] = {
	jigsawId = 180258,
	attrs = {{type=4,value=163},{type=5,value=40},{type=6,value=40},{type=2,value=2211}},
	power = 600,
},
[180261] = {
	jigsawId = 180261,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180262] = {
	jigsawId = 180262,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180263] = {
	jigsawId = 180263,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180264] = {
	jigsawId = 180264,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180265] = {
	jigsawId = 180265,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180266] = {
	jigsawId = 180266,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180267] = {
	jigsawId = 180267,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180268] = {
	jigsawId = 180268,
	attrs = {{type=4,value=169},{type=5,value=42},{type=6,value=42},{type=2,value=2292}},
	power = 600,
},
[180271] = {
	jigsawId = 180271,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180272] = {
	jigsawId = 180272,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180273] = {
	jigsawId = 180273,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180274] = {
	jigsawId = 180274,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180275] = {
	jigsawId = 180275,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180276] = {
	jigsawId = 180276,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180277] = {
	jigsawId = 180277,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
[180278] = {
	jigsawId = 180278,
	attrs = {{type=4,value=175},{type=5,value=43},{type=6,value=43},{type=2,value=2373}},
	power = 600,
},
}