--X-新神器系统.xlsx 神器
ImbaConf={
[1] = {
	id = 180000,
	count = 2,
	computingMode = 0,
	power = 2017,
},
[2] = {
	id = 180010,
	count = 4,
	computingMode = 0,
	power = 2520,
},
[3] = {
	id = 180020,
	count = 4,
	computingMode = 0,
	power = 3030,
},
[4] = {
	id = 180030,
	count = 4,
	computingMode = 0,
	power = 3533,
},
[5] = {
	id = 180040,
	count = 4,
	computingMode = 0,
	power = 4039,
},
[6] = {
	id = 180050,
	count = 5,
	computingMode = 0,
	attrs = {{type=4,value=1500}},
	power = 4542,
},
[7] = {
	id = 180060,
	count = 6,
	computingMode = 0,
	power = 5045,
},
[8] = {
	id = 180070,
	count = 6,
	computingMode = 0,
	attrs = {{type=2,value=40000}},
	power = 5548,
},
[9] = {
	id = 180080,
	count = 6,
	computingMode = 0,
	power = 6051,
},
[10] = {
	id = 180090,
	count = 6,
	computingMode = 0,
	attrs = {{type=5,value=2500},{type=6,value=2500}},
	power = 6554,
},
[11] = {
	id = 180100,
	count = 6,
	computingMode = 0,
	specialAttr = {{type=1,value=5}},
	power = 7057,
},
[12] = {
	id = 180110,
	count = 6,
	computingMode = 0,
	specialAttr = {{type=2,value=5}},
	power = 7560,
},
[13] = {
	id = 180120,
	count = 8,
	computingMode = 0,
	exattrs = {{type=20,value=500}},
	power = 8063,
},
[14] = {
	id = 180130,
	count = 8,
	computingMode = 0,
	power = 8566,
},
[15] = {
	id = 180140,
	count = 8,
	computingMode = 0,
	power = 9069,
},
[16] = {
	id = 180150,
	count = 8,
	computingMode = 0,
	power = 9572,
},
[17] = {
	id = 180160,
	count = 8,
	computingMode = 0,
	power = 10075,
},
[18] = {
	id = 180170,
	count = 8,
	computingMode = 0,
	power = 10578,
},
[19] = {
	id = 180180,
	count = 8,
	computingMode = 0,
	power = 11081,
},
[20] = {
	id = 180190,
	count = 8,
	computingMode = 0,
	power = 11584,
},
[21] = {
	id = 180200,
	count = 8,
	computingMode = 0,
	power = 12087,
},
[22] = {
	id = 180210,
	count = 8,
	computingMode = 0,
	power = 12590,
},
[23] = {
	id = 180220,
	count = 8,
	computingMode = 0,
	power = 13093,
},
[24] = {
	id = 180230,
	count = 8,
	computingMode = 0,
	power = 13596,
},
[25] = {
	id = 180240,
	count = 8,
	computingMode = 0,
	power = 14099,
},
[26] = {
	id = 180250,
	count = 8,
	computingMode = 0,
	power = 14602,
},
[27] = {
	id = 180260,
	count = 8,
	computingMode = 0,
	power = 15105,
},
[28] = {
	id = 180270,
	count = 8,
	computingMode = 0,
	power = 15608,
},
}