--M-秘籍.xlsx 秘籍格子
MiJiGridConfig={
[1] = {
	zsLevel = 1,
	vipLevel = 999,
	normalWeight = {400,900},
	advanceWeight = {5,100},
	spaceWeight = {8000,50000},
},
[2] = {
	zsLevel = 2,
	vipLevel = 1000,
	normalWeight = {400,900},
	advanceWeight = {5,100},
	spaceWeight = {8000,30000},
},
[3] = {
	zsLevel = 3,
	vipLevel = 1001,
	normalWeight = {900,700},
	advanceWeight = {50,300},
	spaceWeight = {2000,10000},
},
[4] = {
	zsLevel = 4,
	vipLevel = 1002,
	normalWeight = {900,700},
	advanceWeight = {50,300},
	spaceWeight = {1000,4000},
},
[5] = {
	zsLevel = 5,
	vipLevel = 1003,
	normalWeight = {900,600},
	advanceWeight = {100,400},
	spaceWeight = {500,2000},
},
[6] = {
	zsLevel = 6,
	vipLevel = 1004,
	normalWeight = {900,600},
	advanceWeight = {100,400},
	spaceWeight = {300,700},
},
[7] = {
	zsLevel = 7,
	vipLevel = 1005,
	normalWeight = {900,500},
	advanceWeight = {100,500},
	spaceWeight = {80,400},
},
[8] = {
	zsLevel = 8,
	vipLevel = 1006,
	normalWeight = {900,500},
	advanceWeight = {100,500},
	spaceWeight = {30,200},
},
}