--S-圣物合成.xlsx 任意不相同合成配置
DiffHolyComposeConfig={
[0] = {
	id = 0,
	precent = 2000,
	successDropId = 1665211,
	failDropId = 1665210,
},
[2] = {
	id = 2,
	precent = 2000,
	successDropId = 1665212,
	failDropId = 1665211,
},
[3] = {
	id = 3,
	precent = 5000,
	successDropId = 1665213,
	failDropId = 1665212,
},
}