--W-威望系统.xlsx 找回威望配置
PrestigeFind={
[1] = {
	type = 10,
	param = 28001,
	target = 1,
	eventType = 3,
	lv = 70,
	num = 1,
	exp = 35000,
},
[2] = {
	type = 10,
	param = 50003,
	target = 1,
	eventType = 1,
	lv = 70,
	num = 1,
	exp = 31500,
},
[3] = {
	type = 10,
	param = 50004,
	target = 1,
	eventType = 2,
	lv = 70,
	num = 1,
	exp = 33000,
},
[4] = {
	type = 86,
	param = 0,
	target = 80,
	lv = 70,
	num = 1,
	exp = 25000,
},
[5] = {
	type = 86,
	param = 0,
	target = 130,
	lv = 70,
	num = 1,
	exp = 25000,
},
[6] = {
	type = 86,
	param = 0,
	target = 190,
	lv = 70,
	num = 1,
	exp = 30000,
},
}