--X-新语言包配置表.xlsx Boss
BOSS={
	wb001 = "活动未开启",
	wb002 = "Boss挑战已结束",
	wb003 = "挑战CD时间冷却中,剩余:%d秒",
	wb004 = "Boss挑战次数已用完",
	wb005 = "等级不足,需要%d级",
	wb006 = "转生等级不足,需要%d转",
	wb007 = "正在挑战副本",
	wb008 = "正在攻击归属者:|C:0x18ff00&T:%s|",
	wb009 = "受到 |C:0x18ff00&T:%s| 玩家的攻击，点击右边头像进行反击",
	wb010 = "正在攻击:|C:0x18ff00&T:%s|",
},