--X-新语言包配置表.xlsx 副本
FUBEN={
	qmbs20 = "|C:0xff0000&T:获得逆袭BUFF，全属性+%d%%|",
	xzbq1 = "领取成功，获得%d威望令牌",
	jqpd1 = "|C:0xd1c28f&T:获得|C:0xf8b141&T:%d|C:0xd1c28f&T:经验、|C:0xf8b141&T:%d|C:0xd1c28f&T:威望|",
	jqpd2 = "|C:0xd1c28f&T:获得|C:0x00ff00&T:%d|C:0xd1c28f&T:经验、|C:0x00ff00&T:%d|C:0xd1c28f&T:威望|",
	jqpd3 = "|C:0xd1c28f&T:获得|C:0x5185fd&T:%d|C:0xd1c28f&T:经验、|C:0x5185fd&T:%d|C:0xd1c28f&T:威望|",
	jqpd4 = "|C:0xd1c28f&T:获得|C:0x5185fd&T:%d|C:0xd1c28f&T:经验、|C:0x5185fd&T:%d|C:0xd1c28f&T:威望|",
	jqpd5 = "|C:0xd1c28f&T:获得|C:0x5185fd&T:%d|C:0xd1c28f&T:经验、|C:0x5185fd&T:%d|C:0xd1c28f&T:威望|",
	jqpd6 = "|C:0xd1c28f&T:获得|C:0x5185fd&T:%d|C:0xd1c28f&T:经验、|C:0x5185fd&T:%d|C:0xd1c28f&T:威望|",
	jqpd7 = "|C:0xd1c28f&T:获得|C:0xff00ff&T:%d|C:0xd1c28f&T:经验、|C:0xff00ff&T:%d|C:0xd1c28f&T:威望|",
	hdcj1 = "恭喜你，在元宝转盘中抽中了|C:0xff0000&T:%s|元宝！",
	ca1 = "已经有队伍了",
	ca2 = "对方等级不足",
	ca3 = "对方已经组队了",
	ca4 = "对方在副本内，请稍后邀请",
	ca5 = "对方没有挑战次数了",
	ca6 = "积分相差超过200分了",
	ca7 = "已经邀请了",
	ca8 = "对方队伍已经解散",
	ca9 = "已经组队了",
	ca10 = "都没有邀请过你",
	ca11 = "已经满员了",
	ca12 = "在副本中，无法组队",
	ca13 = "%d秒后可再次世界邀请",
	ca14 = "对方没有队伍，或者不是队长",
	ca15 = "已经满员了",
	ca16 = "对方不在线",
	ca17 = "您已加入其他跨服竞技场队伍",
	ca18 = "在副本中，无法组队",
	ca19 = "您今日跨服竞技场匹配次数已用完",
	ca20 = "您与队长跨服竞技场积分相差200分以上，无法组队",
	ca21 = "没有这个队员",
	ca22 = "%s进入了副本，请稍后匹配",
	ca23 = "已经领取了今天的奖励",
},