--X-新语言包配置表.xlsx 邮件
MAIL={
	zy001 = "杀戮榜排名奖",
	zy002 = "你在今日的附近的人中累计获得%d点杀意值，杀戮榜排名第%d",
	wb001 = "火龙教主击杀奖",
	wb002 = "恭喜勇士们成功击杀了火龙教主，你本次的伤害排名第%d名",
	trn001 = "历练升级奖励",
	pubtitle001 = "野外·尸王击杀奖",
	pubtitle002 = "野外·触龙神击杀奖",
	pubtitle003 = "野外·野猪统领击杀奖",
	pubtitle004 = "野外·祖玛教主击杀奖",
	pubtitle005 = "野外·双头统领击杀奖",
	pubtitle006 = "野外·沃玛教主击杀奖",
	pubtitle007 = "野外·牛魔王击杀奖",
	pubtitle008 = "野外·黄泉教主击杀奖",
	pubtitle009 = "野外·骷髅王击杀奖",
	pubtitle010 = "野外·深海幽龙击杀奖",
	pubtitle011 = "野外·猛犸统领击杀奖",
	pubtitle012 = "野外·玄武恶兽击杀奖",
	pubtitle013 = "野外·蜥蜴战士击杀奖",
	pubtitle014 = "野外·剑冢守卫者击杀奖",
	pubtitle015 = "野外·驱魔怪人击杀奖",
	pubtitle016 = "野外·魔龙教主击杀奖",
	pubtitle017 = "野外·毁灭仆从击杀奖",
	pubtitle018 = "野外·九尾狐击杀奖",
	pubtitle019 = "野外·狂暴魔王击杀奖",
	pubtitle020 = "野外·地狱幽使击杀奖",
	pubcont001 = "恭喜你成功击杀了野外·触龙神，伤害排名第%d。请领取附件奖励",
	pubcont002 = "恭喜你成功击杀了野外·野猪统领，伤害排名第%d。请领取附件奖励",
	pubcont003 = "恭喜你成功击杀了野外·祖玛教主，伤害排名第%d。请领取附件奖励",
	pubcont004 = "恭喜你成功击杀了野外·双头统领，伤害排名第%d。请领取附件奖励",
	pubcont005 = "恭喜你成功击杀了野外·沃玛教主，伤害排名第%d。请领取附件奖励",
	pubcont006 = "恭喜你成功击杀了野外·牛魔王，伤害排名第%d。请领取附件奖励",
	pubcont007 = "恭喜你成功击杀了野外·黄泉教主，伤害排名第%d。请领取附件奖励",
	pubcont008 = "恭喜你成功击杀了野外·骷髅王，伤害排名第%d。请领取附件奖励",
	pubcont009 = "恭喜你成功击杀了野外·深海幽龙，伤害排名第%d。请领取附件奖励",
	pubcont010 = "恭喜你成功击杀了野外·猛犸统领，伤害排名第%d。请领取附件奖励",
	pubcont011 = "恭喜你成功击杀了野外·玄武恶兽，伤害排名第%d。请领取附件奖励",
	pubcont012 = "恭喜你成功击杀了野外·蜥蜴战士，伤害排名第%d。请领取附件奖励",
	pubcont013 = "恭喜你成功击杀了野外·剑冢守卫者，伤害排名第%d。请领取附件奖励",
	pubcont014 = "恭喜你成功击杀了野外·驱魔怪人，伤害排名第%d。请领取附件奖励",
	pubcont015 = "恭喜你成功击杀了野外·魔龙教主，伤害排名第%d。请领取附件奖励",
	pubcont016 = "恭喜你成功击杀了野外·毁灭仆从，伤害排名第%d。请领取附件奖励",
	pubcont017 = "恭喜你成功击杀了野外·九尾狐，伤害排名第%d。请领取附件奖励",
	pubcont018 = "恭喜你成功击杀了野外·狂暴魔王，伤害排名第%d。请领取附件奖励",
	pubcont019 = "恭喜你成功击杀了野外·地狱幽使，伤害排名第%d。请领取附件奖励",
	pubcont020 = "恭喜你成功击杀了野外·地狱幽使，伤害排名第%d。请领取附件奖励",
	mailTitle = "%s击杀奖",
	mailContent = "恭喜你成功击杀了%s。请领取附件奖励",
	raceStonetitle = "开服铸造榜奖励",
	raceStonecont = "恭贺您在开服铸造榜中排名第%d名，请领取附件奖励",
	raceLonghuntitle = "开服龙魂榜奖励",
	raceLonghuncont = "恭贺您在开服龙魂榜中排名第%d名，请领取附件奖励",
	raceWingtitle = "开服羽翼榜奖励",
	raceWingcont = "恭贺您在开服羽翼榜中排名第%d名，请领取附件奖励",
	raceTujiantitle = "开服图鉴榜奖励",
	raceTujiancount = "恭贺您在开服图鉴榜中排名第%d名，请领取附件奖励",
	raceZstitle = "开服转生榜奖励",
	raceZscount = "恭贺您在开服转生榜中排名第%d名，请领取附件奖励",
	raceZbscoretitle = "开服装备榜奖励",
	raceZbscorecount = "恭贺您在开服装备榜中排名第%d名，请领取附件奖励",
	raceWarriortitle = "达标活动-战士榜奖励",
	raceWarriorcont = "恭喜您满足达标活动-战士榜的条件，请领取附件奖励",
	raceMagetitle = "达标活动-法师榜奖励",
	raceMagecont = "恭喜您满足达标活动-法师榜的条件，请领取附件奖励",
	raceTaoistpriesttitle = "达标活动-道士榜奖励",
	raceTaoistpriestcont = "恭喜您满足达标活动-道士榜的条件，请领取附件奖励",
	racePowertitle = "达标活动-战力榜奖励",
	racePowercont = "恭喜您满足达标活动-战力榜的条件，请领取附件奖励",
	raceLeveltitle = "达标活动-等级榜奖励",
	raceLevelcont = "恭喜您满足达标活动-等级榜的条件，请领取附件奖励",
	treasureboxtitle = "宝箱开启奖励",
	treasureboxtitlecont = "这是您的宝箱奖励，请领取附件奖励",
	raceXFscoretitle = "合服消费榜奖励",
	raceXFscorecount = "恭贺您在合服消费榜中排名第%d名，请领取附件奖励",
},