--X-新语言包配置表.xlsx 脚本杂项提示
ScriptTips={
	gcn009 = "建筑index错误",
	gcn010 = "该建筑已满级",
	gcn011 = "该建筑等级不能大于行会大厅等级",
	gcn012 = "行会商店开服第%d天方可升级",
	gcn014 = "你不是该行会成员",
	gcn001 = "你没有公会，改名失败",
	gcn002 = "你不是会长，不能为公会改名",
	gcn003 = "公会当前已经是此名字，修改失败",
	gcn004 = "名字过长，修改失败",
	gcn005 = "名字含有屏蔽字符，修改失败",
	gcn006 = "已有重复公会名",
	gcn007 = "公会没有可改名次数",
	gcn008 = "%s公会正式更名为%s",
},