--X-新语言包配置表.xlsx 商城
SHOP={
	good001 = "提升翅膀",
	good002 = "强化装备",
	good003 = "提升铸造",
	good004 = "提升龙魂",
	good005 = "转生修为",
	good006 = "提升特戒",
	good007 = "提升经脉",
	good008 = "提升护盾",
	good009 = "修改角色名",
	good010 = "提升龙魂",
	good011 = "激活特戒",
	good012 = "激活特戒",
	good013 = "获得100万金币",
	good014 = "合成升级神装",
	good015 = "合成升级热血装备",
	good016 = "叫我大哥",
	good017 = "提高海量战力",
	good018 = "提高大量战力",
	good019 = "开启获得大量材料",
	good020 = "挑战更多的BOSS",
	good021 = "刷新神秘商店",
	good022 = "获得100万金币",
	good023 = "轮回业力",
	good024 = "用于巅峰商城兑换",
	good025 = "必得无相心法书",
	good026 = "获得高级秘籍",
	good027 = "提升兵魂等级",
	good031 = "提升战灵等级",
	good032 = "用于装备寻宝",
	good033 = "用于战纹寻宝",
	good034 = "用于传世寻宝",
	good028 = "提升烈焰符咒等级",
	good029 = "获得100万金币",
	good030 = "提升战纹等级",
	good035 = "用于活动寻宝",
},