--X-新语言包配置表.xlsx 特殊装备
SPEQUIP={
	loong001 = "太初龙魂",
	loong002 = "太初龙魂",
	loong003 = "太初龙魂",
	loong004 = "太初龙魂",
	loong005 = "太初龙魂",
	loong006 = "太初龙魂",
	loong007 = "太初龙魂",
	loong008 = "太初龙魂",
	loong009 = "太初龙魂",
	loong010 = "太初龙魂",
	loong011 = "太初龙魂",
	loong012 = "太初龙魂",
	loong013 = "太初龙魂",
	loong014 = "太初龙魂",
	loong015 = "太初龙魂",
	loong016 = "太初龙魂",
	loong017 = "太初龙魂",
	loong018 = "太初龙魂",
	loong019 = "太初龙魂",
	loong020 = "太初龙魂",
	loong021 = "太初龙魂",
	shield001 = "太初护盾",
	shield002 = "太初护盾",
	shield003 = "太初护盾",
	shield004 = "太初护盾",
	shield005 = "太初护盾",
	shield006 = "太初护盾",
	shield007 = "太初护盾",
	shield008 = "太初护盾",
	shield009 = "太初护盾",
	shield010 = "太初护盾",
	shield011 = "太初护盾",
	shield012 = "太初护盾",
	shield013 = "太初护盾",
	shield014 = "太初护盾",
	shield015 = "太初护盾",
	shield016 = "太初护盾",
	shield017 = "太初护盾",
	shield018 = "太初护盾",
	shield019 = "太初护盾",
	shield020 = "太初护盾",
	shield021 = "太初护盾",
},