VIP={
	vip01 = "每天可购买材料副本|C:0x18ff00&T: 3次 | ",
	vip02 = "每天可购买材料副本|C:0x18ff00&T: 4次 | ",
	vip03 = "每天可购买材料副本|C:0x18ff00&T: 5次 | ",
	vip04 = "每天可购买材料副本|C:0x18ff00&T: 6次 | ",
	vip05 = "每天可购买材料副本|C:0x18ff00&T: 7次 | ",
	vip06 = "每天可购买材料副本|C:0x18ff00&T: 8次 | ",
	vip07 = "每天可购买材料副本|C:0x18ff00&T: 9次 | ",
	vip08 = "每天可购买材料副本|C:0x18ff00&T: 10次 | ",
	vip09 = "每天可购买材料副本|C:0x18ff00&T: 11次 | ",
	vip10 = "每天可购买材料副本|C:0x18ff00&T: 12次 | ",
	vip11 = "每天可购买材料副本|C:0x18ff00&T: 13次 | ",
	vip12 = "每天可购买材料副本|C:0x18ff00&T: 14次 | ",
	vip13 = "每天可购买材料副本|C:0x18ff00&T: 15次 | ",
	vip14 = "每天可购买材料副本|C:0x18ff00&T: 16次 | ",
	vip15 = "每天可购买材料副本|C:0x18ff00&T: 17次 | ",
},