--Y-邮件表.xlsx 邮件配置
MailIdConfig={
[1] = {
	id = 1,
	title = "测试邮件1",
	content = "测试邮件1",
	attachment = {{type=0,id=1,count=10},{type=1,id=101001,count=1},{type=1,id=121311,count=1}},
},
[2] = {
	id = 2,
	title = "测试邮件2",
	content = "测试邮件2",
	attachment = {{type=0,id=1,count=10},{type=1,id=101001,count=1},{type=1,id=121311,count=1}},
},
[3] = {
	id = 3,
	title = "测试邮件3",
	content = "测试邮件3",
	attachment = {{type=0,id=1,count=10},{type=1,id=101001,count=1},{type=1,id=121311,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1}},
},
[4] = {
	id = 4,
	title = "测试邮件4",
	content = "测试邮件4",
	attachment = {{type=0,id=1,count=10},{type=1,id=101001,count=1},{type=1,id=121311,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1},{type=1,id=101001,count=1}},
},
[5] = {
	id = 5,
	title = "|C:0xf8b141&T:致亲爱的朋友|",
	content = "恭喜您度过传奇的新手之旅，但是您的传奇之路刚刚开启，前面更强的敌人需要朋友的帮助，赶紧变强和您的朋友共创传奇。\n您可以通过以下方式变强：\n1.无兄弟不传奇，升级到70级加入|C:0x35e62b&T:公会|开启征服之路\n2.通过|C:0x35e62b&T:闯关|、|C:0x35e62b&T:经验副本|快速升级\n3.|C:0x35e62b&T:闯关|和|C:0x35e62b&T:挑战boss|等方式获得装备",
	attachment = {{type=1,id=200100,count=1}},
},
[6] = {
	id = 6,
	title = "通关奖励",
	content = "以下为通关奖励，注意查收",
},
[7] = {
	id = 7,
	title = "|C:0xf8b141&T:恭喜您到了55级！|",
	content = "恭喜您到达了55级，以下攻略可助您快速提升战力：\n  1.挑战|C:0x00ff00&T:关卡|可以提升|C:0x00ff00&T:【经验】|，提升关卡效率\n  2.进行|C:0x00ff00&T:经验副本|和|C:0x00ff00&T:通天塔副本|可以快速获得海量|C:0x00ff00&T:【经验】|，等级飙升\n  3.|C:0xFF0000&T:首充|可获得高级橙装，激活神器，|C:0xFF0000&T:【战力】|暴涨，轻松碾压各种BOSS\n  4.|C:0xFF0000&T:vip2|可提前解锁第二个角色，|C:0xFF0000&T:vip4|可提前解锁第三个角色，|战力|倍增，助你推关升级\n  5.充值vip可极速飞升战力|U:&C:0x00ff00&E:Recharge1Win,ChargeFirstWin&T:前往充值|",
},
[8] = {
	id = 8,
	title = "|C:0xf8b141&T:恭喜您到了80级！|",
	content = "恭喜您到达了80级，已经进阶为高手了！\n  1.开启了新的|C:0xFF0000&T:转生系统|，转生可以获得|C:0x00ff00&T:海量属性|，穿戴极品的|C:0x00ff00&T:转生|装备，击杀更高级的|C:0x00ff00&T:BOSS|\n  2.开启了新的PVP玩法|C:0xff0000&T:王者争霸|，参加可以获得极品|C:0x00ff00&T:段位|奖励，成为万人敬仰的霸主\n  3.开启了新的|C:0xff0000&T:秘境BOSS|争夺玩法，可获得高级装备及珍贵的|C:0x00ff00&T:符文|装备，|C:0x00ff00&T:【战力】|暴涨，轻松碾压各种BOSS\n  4.开启经验副本|C:0xFF0000&T:多倍扫荡|，体验等级|C:0x00ff00&T:飙升|的感觉\n  5.有空多看看|U:&C:0x00ff00&E:ActivityWin&T:开服活动|哦",
},
[9] = {
	id = 9,
	title = "|C:0xf8b141&T:恭喜您到了10级！|",
	content = "恭喜您到达了10级，贺礼助您飞速升级！",
	attachment = {{type=0,id=2,count=1000}},
},
[10] = {
	id = 10,
	title = "|C:0xf8b141&T:恭喜您到了20级！|",
	content = "恭喜您到达了20级，贺礼助您飞速升级！",
	attachment = {{type=0,id=2,count=2000}},
},
[11] = {
	id = 11,
	title = "|C:0xf8b141&T:恭喜您到了30级！|",
	content = "恭喜您到达了30级，贺礼助您飞速升级！",
	attachment = {{type=0,id=2,count=3000}},
},
[12] = {
	id = 12,
	title = "|C:0xf8b141&T:恭喜您到了40级！|",
	content = "恭喜您到达了40级，贺礼助您飞速升级！",
	attachment = {{type=0,id=2,count=4000}},
},
[13] = {
	id = 13,
	title = "|C:0xf8b141&T:恭喜您到了50级！|",
	content = "恭喜您到达了50级，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=5000}},
},
[14] = {
	id = 14,
	title = "|C:0xf8b141&T:恭喜您到了60级！|",
	content = "恭喜您到达了60级，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=6000}},
},
[15] = {
	id = 15,
	title = "|C:0xf8b141&T:恭喜您到了70级！|",
	content = "恭喜您到达了70级，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=7000}},
},
[16] = {
	id = 16,
	title = "|C:0xf8b141&T:恭喜您到了80级！|",
	content = "恭喜您到达了80级，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=8000}},
},
[17] = {
	id = 17,
	title = "|C:0xf8b141&T:恭喜您到了1转！|",
	content = "恭喜您到达了1转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[18] = {
	id = 18,
	title = "|C:0xf8b141&T:恭喜您到了2转！|",
	content = "恭喜您到达了2转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[19] = {
	id = 19,
	title = "|C:0xf8b141&T:恭喜您到了3转！|",
	content = "恭喜您到达了3转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[20] = {
	id = 20,
	title = "|C:0xf8b141&T:恭喜您到了4转！|",
	content = "恭喜您到达了4转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[21] = {
	id = 21,
	title = "|C:0xf8b141&T:恭喜您到了5转！|",
	content = "恭喜您到达了5转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[22] = {
	id = 22,
	title = "|C:0xf8b141&T:恭喜您到了6转！|",
	content = "恭喜您到达了6转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[23] = {
	id = 23,
	title = "|C:0xf8b141&T:恭喜您到了7转！|",
	content = "恭喜您到达了7转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[24] = {
	id = 24,
	title = "|C:0xf8b141&T:恭喜您到了8转！|",
	content = "恭喜您到达了8转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[25] = {
	id = 25,
	title = "|C:0xf8b141&T:恭喜您到了9转！|",
	content = "恭喜您到达了9转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[26] = {
	id = 26,
	title = "|C:0xf8b141&T:恭喜您到了10转！|",
	content = "恭喜您到达了10转，贺礼助您飞速升级！",
	attachment = {{type=0,id=99,count=10000}},
},
[27] = {
	id = 27,
	title = "|C:0xf8b141&T:开服第1天|",
	content = "开服第1天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[28] = {
	id = 28,
	title = "|C:0xf8b141&T:开服第2天|",
	content = "开服第2天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[29] = {
	id = 29,
	title = "|C:0xf8b141&T:开服第3天|",
	content = "开服第3天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[30] = {
	id = 30,
	title = "|C:0xf8b141&T:开服第4天|",
	content = "开服第4天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[31] = {
	id = 31,
	title = "|C:0xf8b141&T:开服第5天|",
	content = "开服第5天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[32] = {
	id = 32,
	title = "|C:0xf8b141&T:开服第6天|",
	content = "开服第6天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[33] = {
	id = 33,
	title = "|C:0xf8b141&T:开服第7天|",
	content = "开服第7天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[34] = {
	id = 34,
	title = "|C:0xf8b141&T:开服第8天|",
	content = "开服第8天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[35] = {
	id = 35,
	title = "|C:0xf8b141&T:开服第9天|",
	content = "开服第9天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[36] = {
	id = 36,
	title = "|C:0xf8b141&T:开服第10天|",
	content = "开服第10天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[37] = {
	id = 37,
	title = "|C:0xf8b141&T:开服第11天|",
	content = "开服第11天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[38] = {
	id = 38,
	title = "|C:0xf8b141&T:开服第12天|",
	content = "开服第12天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[39] = {
	id = 39,
	title = "|C:0xf8b141&T:开服第13天|",
	content = "开服第13天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[40] = {
	id = 40,
	title = "|C:0xf8b141&T:开服第14天|",
	content = "开服第14天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[41] = {
	id = 41,
	title = "|C:0xf8b141&T:开服第15天|",
	content = "开服第15天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[42] = {
	id = 42,
	title = "|C:0xf8b141&T:开服第16天|",
	content = "开服第16天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[43] = {
	id = 43,
	title = "|C:0xf8b141&T:开服第17天|",
	content = "开服第17天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[44] = {
	id = 44,
	title = "|C:0xf8b141&T:开服第18天|",
	content = "开服第18天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[45] = {
	id = 45,
	title = "|C:0xf8b141&T:开服第19天|",
	content = "开服第19天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[46] = {
	id = 46,
	title = "|C:0xf8b141&T:开服第20天|",
	content = "开服第20天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[47] = {
	id = 47,
	title = "|C:0xf8b141&T:开服第21天|",
	content = "开服第21天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[48] = {
	id = 48,
	title = "|C:0xf8b141&T:开服第22天|",
	content = "开服第22天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[49] = {
	id = 49,
	title = "|C:0xf8b141&T:开服第23天|",
	content = "开服第23天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[50] = {
	id = 50,
	title = "|C:0xf8b141&T:开服第24天|",
	content = "开服第24天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[51] = {
	id = 51,
	title = "|C:0xf8b141&T:开服第25天|",
	content = "开服第25天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[52] = {
	id = 52,
	title = "|C:0xf8b141&T:开服第26天|",
	content = "开服第26天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[53] = {
	id = 53,
	title = "|C:0xf8b141&T:开服第27天|",
	content = "开服第27天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[54] = {
	id = 54,
	title = "|C:0xf8b141&T:开服第28天|",
	content = "开服第28天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[55] = {
	id = 55,
	title = "|C:0xf8b141&T:开服第29天|",
	content = "开服第29天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[56] = {
	id = 56,
	title = "|C:0xf8b141&T:开服第30天|",
	content = "开服第30天，元宝助您升战力！",
	attachment = {{type=0,id=2,count=10000}},
},
[57] = {
	id = 57,
	title = "恭喜您成为最尊贵的超级会员",
	content = "恭喜您成为最尊贵的超级会员，接受我们全体客服最诚挚的问候！请联系超级会员专属客服，领取神秘大礼包，享受最贴心的服务。",
	attachment = {{type=0,id=0,count=100000}},
},
[61] = {
	id = 61,
	title = "巅峰赛季单服第1名奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:单服第1名|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204095,count=1},{type=1,id=204093,count=1},{type=1,id=204076,count=4000},{type=1,id=500005,count=10}},
},
[62] = {
	id = 62,
	title = "巅峰赛季单服第2名奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:单服第2名|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204095,count=1},{type=1,id=204092,count=1},{type=1,id=204076,count=3000},{type=1,id=500005,count=9}},
},
[63] = {
	id = 63,
	title = "巅峰赛季单服4强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:单服4强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204095,count=1},{type=1,id=204092,count=1},{type=1,id=204076,count=2500},{type=1,id=500005,count=8}},
},
[64] = {
	id = 64,
	title = "巅峰赛季单服8强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:单服8强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204095,count=1},{type=1,id=204076,count=2000},{type=1,id=500005,count=7}},
},
[65] = {
	id = 65,
	title = "巅峰赛季单服16强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:单服16强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204095,count=1},{type=1,id=204076,count=1800},{type=1,id=500005,count=6}},
},
[66] = {
	id = 66,
	title = "巅峰赛季单服第16+名奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:单服第16+名|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204095,count=1},{type=1,id=204076,count=1500},{type=1,id=500005,count=5}},
},
[67] = {
	id = 67,
	title = "巅峰赛季跨服第1名奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服第1名|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204096,count=1},{type=1,id=204103,count=1},{type=1,id=204076,count=6000},{type=1,id=204094,count=1},{type=1,id=204093,count=1}},
},
[68] = {
	id = 68,
	title = "巅峰赛季跨服第2名奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服第2名|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204097,count=1},{type=1,id=204104,count=1},{type=1,id=204076,count=5000},{type=1,id=204093,count=2}},
},
[69] = {
	id = 69,
	title = "巅峰赛季跨服4强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服4强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204098,count=1},{type=1,id=204104,count=1},{type=1,id=204076,count=4500},{type=1,id=204093,count=2}},
},
[70] = {
	id = 70,
	title = "巅峰赛季跨服8强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服8强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204099,count=1},{type=1,id=204076,count=4000},{type=1,id=204093,count=1}},
},
[71] = {
	id = 71,
	title = "巅峰赛季跨服16强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服16强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204100,count=1},{type=1,id=204076,count=3500},{type=1,id=204093,count=1}},
},
[72] = {
	id = 72,
	title = "巅峰赛季跨服32强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服32强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204101,count=1},{type=1,id=204076,count=3000},{type=1,id=204092,count=2}},
},
[73] = {
	id = 73,
	title = "巅峰赛季跨服64强奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服64强|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204102,count=1},{type=1,id=204076,count=2500},{type=1,id=204092,count=1}},
},
[74] = {
	id = 74,
	title = "巅峰赛季跨服第64+名奖励发放",
	content = "恭喜您在巅峰赛季中获得了|C:0xf8b141&T:跨服第64+名|的好成绩，以下是您本次的奖励，请在附件内查收，祝您游戏愉快！",
	attachment = {{type=1,id=204076,count=2000}},
},
[75] = {
	id = 75,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季单服赛2强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[76] = {
	id = 76,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季单服赛4强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[77] = {
	id = 77,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季单服赛8强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[78] = {
	id = 78,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季单服赛16强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[79] = {
	id = 79,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季跨服赛2强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[80] = {
	id = 80,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季跨服赛4强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[81] = {
	id = 81,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季跨服赛8强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[82] = {
	id = 82,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季跨服赛16强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[83] = {
	id = 83,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季跨服赛32强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[84] = {
	id = 84,
	title = "竞猜通知",
	content = "很遗憾，您在巅峰赛季跨服赛64强赛“|C:0xf8b141&T:%s Vs %s|”的对决中看走眼了！，损失|C:0xf8b141&T:%d|筹码",
},
[85] = {
	id = 85,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季单服赛2强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[86] = {
	id = 86,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季单服赛4强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[87] = {
	id = 87,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季单服赛8强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[88] = {
	id = 88,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季单服赛16强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[89] = {
	id = 89,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季跨服赛2强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[90] = {
	id = 90,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季跨服赛4强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[91] = {
	id = 91,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季跨服赛8强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[92] = {
	id = 92,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季跨服赛16强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[93] = {
	id = 93,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季跨服赛32强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[94] = {
	id = 94,
	title = "竞猜通知",
	content = "恭喜，您在巅峰赛季跨服赛64强赛“|C:0xf8b141&T:%s Vs %s|”的对决中慧眼识英才！赢得|C:0xf8b141&T:%d|筹码。",
},
[95] = {
	id = 95,
	title = "人气排行榜第1名奖励",
	content = "恭喜您获得人气排行榜第1名，附件为奖励，请您查收。",
	attachment = {{type=0,id=15,count=5000}},
},
[96] = {
	id = 96,
	title = "人气排行榜第2名奖励",
	content = "恭喜您获得人气排行榜第2名，附件为奖励，请您查收。",
	attachment = {{type=0,id=15,count=4000}},
},
[97] = {
	id = 97,
	title = "人气排行榜第3名奖励",
	content = "恭喜您获得人气排行榜第3名，附件为奖励，请您查收。",
	attachment = {{type=0,id=15,count=2500}},
},
[98] = {
	id = 98,
	title = "您的羽翼祝福值已清空",
	content = "很遗憾，您战士角色的羽翼祝福值获得后24小时内未升到下一阶，现已清空！",
},
[99] = {
	id = 99,
	title = "您的羽翼祝福值已清空",
	content = "很遗憾，您法师角色的羽翼祝福值获得后24小时内未升到下一阶，现已清空！",
},
[100] = {
	id = 100,
	title = "您的羽翼祝福值已清空",
	content = "很遗憾，您道士角色的羽翼祝福值获得后24小时内未升到下一阶，现已清空！",
},
}