--X-心法.xlsx 心法等阶
HeartMethodStageConfig={
[1] = {
	[1] = {
		id = 1,
		stage = 1,
		attr = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0},{type=64,value=0}},
	},
	[2] = {
		id = 1,
		stage = 2,
		attr = {{type=4,value=12},{type=5,value=3},{type=6,value=3},{type=2,value=162},{type=64,value=400}},
	},
	[3] = {
		id = 1,
		stage = 3,
		attr = {{type=4,value=26},{type=5,value=6},{type=6,value=6},{type=2,value=324},{type=64,value=880}},
	},
	[4] = {
		id = 1,
		stage = 4,
		attr = {{type=4,value=42},{type=5,value=10},{type=6,value=10},{type=2,value=540},{type=64,value=1440}},
	},
	[5] = {
		id = 1,
		stage = 5,
		attr = {{type=4,value=60},{type=5,value=14},{type=6,value=14},{type=2,value=756},{type=64,value=2080}},
	},
	[6] = {
		id = 1,
		stage = 6,
		attr = {{type=4,value=80},{type=5,value=19},{type=6,value=19},{type=2,value=1026},{type=64,value=2800}},
	},
	[7] = {
		id = 1,
		stage = 7,
		attr = {{type=4,value=102},{type=5,value=24},{type=6,value=24},{type=2,value=1296},{type=64,value=3600}},
	},
	[8] = {
		id = 1,
		stage = 8,
		attr = {{type=4,value=126},{type=5,value=30},{type=6,value=30},{type=2,value=1620},{type=64,value=4480}},
	},
	[9] = {
		id = 1,
		stage = 9,
		attr = {{type=4,value=152},{type=5,value=36},{type=6,value=36},{type=2,value=1944},{type=64,value=5440}},
	},
	[10] = {
		id = 1,
		stage = 10,
		attr = {{type=4,value=180},{type=5,value=43},{type=6,value=43},{type=2,value=2322},{type=64,value=6480}},
	},
	[11] = {
		id = 1,
		stage = 11,
		attr = {{type=4,value=210},{type=5,value=50},{type=6,value=50},{type=2,value=2700},{type=64,value=7600}},
	},
	[12] = {
		id = 1,
		stage = 12,
		attr = {{type=4,value=242},{type=5,value=58},{type=6,value=58},{type=2,value=3132},{type=64,value=8800}},
	},
	[13] = {
		id = 1,
		stage = 13,
		attr = {{type=4,value=276},{type=5,value=66},{type=6,value=66},{type=2,value=3564},{type=64,value=10080}},
	},
	[14] = {
		id = 1,
		stage = 14,
		attr = {{type=4,value=312},{type=5,value=75},{type=6,value=75},{type=2,value=4050},{type=64,value=11440}},
	},
	[15] = {
		id = 1,
		stage = 15,
		attr = {{type=4,value=350},{type=5,value=84},{type=6,value=84},{type=2,value=4536},{type=64,value=12880}},
	},
	[16] = {
		id = 1,
		stage = 16,
		attr = {{type=4,value=390},{type=5,value=94},{type=6,value=94},{type=2,value=5076},{type=64,value=14400}},
	},
	[17] = {
		id = 1,
		stage = 17,
		attr = {{type=4,value=432},{type=5,value=104},{type=6,value=104},{type=2,value=5616},{type=64,value=16000}},
	},
	[18] = {
		id = 1,
		stage = 18,
		attr = {{type=4,value=476},{type=5,value=115},{type=6,value=115},{type=2,value=6210},{type=64,value=17680}},
	},
	[19] = {
		id = 1,
		stage = 19,
		attr = {{type=4,value=522},{type=5,value=126},{type=6,value=126},{type=2,value=6804},{type=64,value=19440}},
	},
	[20] = {
		id = 1,
		stage = 20,
		attr = {{type=4,value=570},{type=5,value=138},{type=6,value=138},{type=2,value=7452},{type=64,value=21280}},
	},
	[21] = {
		id = 1,
		stage = 21,
		attr = {{type=4,value=620},{type=5,value=150},{type=6,value=150},{type=2,value=8100},{type=64,value=23200}},
	},
	[22] = {
		id = 1,
		stage = 22,
		attr = {{type=4,value=672},{type=5,value=163},{type=6,value=163},{type=2,value=8802},{type=64,value=25200}},
	},
	[23] = {
		id = 1,
		stage = 23,
		attr = {{type=4,value=726},{type=5,value=176},{type=6,value=176},{type=2,value=9504},{type=64,value=27280}},
	},
	[24] = {
		id = 1,
		stage = 24,
		attr = {{type=4,value=782},{type=5,value=190},{type=6,value=190},{type=2,value=10260},{type=64,value=29440}},
	},
	[25] = {
		id = 1,
		stage = 25,
		attr = {{type=4,value=840},{type=5,value=204},{type=6,value=204},{type=2,value=11016},{type=64,value=31680}},
	},
	[26] = {
		id = 1,
		stage = 26,
		attr = {{type=4,value=900},{type=5,value=219},{type=6,value=219},{type=2,value=11826},{type=64,value=34000}},
	},
	[27] = {
		id = 1,
		stage = 27,
		attr = {{type=4,value=962},{type=5,value=234},{type=6,value=234},{type=2,value=12636},{type=64,value=36400}},
	},
	[28] = {
		id = 1,
		stage = 28,
		attr = {{type=4,value=1026},{type=5,value=250},{type=6,value=250},{type=2,value=13500},{type=64,value=38880}},
	},
	[29] = {
		id = 1,
		stage = 29,
		attr = {{type=4,value=1092},{type=5,value=266},{type=6,value=266},{type=2,value=14364},{type=64,value=41440}},
	},
	[30] = {
		id = 1,
		stage = 30,
		attr = {{type=4,value=1160},{type=5,value=283},{type=6,value=283},{type=2,value=15282},{type=64,value=44080}},
	},
	[31] = {
		id = 1,
		stage = 31,
		attr = {{type=4,value=1230},{type=5,value=300},{type=6,value=300},{type=2,value=16200},{type=64,value=46800}},
	},
	[32] = {
		id = 1,
		stage = 32,
		attr = {{type=4,value=1302},{type=5,value=318},{type=6,value=318},{type=2,value=17172},{type=64,value=49600}},
	},
	[33] = {
		id = 1,
		stage = 33,
		attr = {{type=4,value=1376},{type=5,value=336},{type=6,value=336},{type=2,value=18144},{type=64,value=52480}},
	},
	[34] = {
		id = 1,
		stage = 34,
		attr = {{type=4,value=1452},{type=5,value=355},{type=6,value=355},{type=2,value=19170},{type=64,value=55440}},
	},
	[35] = {
		id = 1,
		stage = 35,
		attr = {{type=4,value=1530},{type=5,value=374},{type=6,value=374},{type=2,value=20196},{type=64,value=58480}},
	},
	[36] = {
		id = 1,
		stage = 36,
		attr = {{type=4,value=1610},{type=5,value=394},{type=6,value=394},{type=2,value=21276},{type=64,value=61600}},
	},
	[37] = {
		id = 1,
		stage = 37,
		attr = {{type=4,value=1692},{type=5,value=414},{type=6,value=414},{type=2,value=22356},{type=64,value=64800}},
	},
	[38] = {
		id = 1,
		stage = 38,
		attr = {{type=4,value=1776},{type=5,value=435},{type=6,value=435},{type=2,value=23490},{type=64,value=68080}},
	},
	[39] = {
		id = 1,
		stage = 39,
		attr = {{type=4,value=1862},{type=5,value=456},{type=6,value=456},{type=2,value=24624},{type=64,value=71440}},
	},
	[40] = {
		id = 1,
		stage = 40,
		attr = {{type=4,value=1950},{type=5,value=478},{type=6,value=478},{type=2,value=25812},{type=64,value=74880}},
	},
},
[2] = {
	[1] = {
		id = 2,
		stage = 1,
		attr = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0},{type=26,value=0}},
	},
	[2] = {
		id = 2,
		stage = 2,
		attr = {{type=4,value=8},{type=5,value=2},{type=6,value=2},{type=2,value=108},{type=26,value=1080}},
	},
	[3] = {
		id = 2,
		stage = 3,
		attr = {{type=4,value=17},{type=5,value=4},{type=6,value=4},{type=2,value=216},{type=26,value=2376}},
	},
	[4] = {
		id = 2,
		stage = 4,
		attr = {{type=4,value=27},{type=5,value=6},{type=6,value=6},{type=2,value=324},{type=26,value=3888}},
	},
	[5] = {
		id = 2,
		stage = 5,
		attr = {{type=4,value=38},{type=5,value=8},{type=6,value=8},{type=2,value=432},{type=26,value=5616}},
	},
	[6] = {
		id = 2,
		stage = 6,
		attr = {{type=4,value=50},{type=5,value=11},{type=6,value=11},{type=2,value=594},{type=26,value=7560}},
	},
	[7] = {
		id = 2,
		stage = 7,
		attr = {{type=4,value=63},{type=5,value=14},{type=6,value=14},{type=2,value=756},{type=26,value=9720}},
	},
	[8] = {
		id = 2,
		stage = 8,
		attr = {{type=4,value=77},{type=5,value=17},{type=6,value=17},{type=2,value=918},{type=26,value=12096}},
	},
	[9] = {
		id = 2,
		stage = 9,
		attr = {{type=4,value=92},{type=5,value=20},{type=6,value=20},{type=2,value=1080},{type=26,value=14688}},
	},
	[10] = {
		id = 2,
		stage = 10,
		attr = {{type=4,value=108},{type=5,value=24},{type=6,value=24},{type=2,value=1296},{type=26,value=17496}},
	},
	[11] = {
		id = 2,
		stage = 11,
		attr = {{type=4,value=125},{type=5,value=28},{type=6,value=28},{type=2,value=1512},{type=26,value=20520}},
	},
	[12] = {
		id = 2,
		stage = 12,
		attr = {{type=4,value=143},{type=5,value=32},{type=6,value=32},{type=2,value=1728},{type=26,value=23760}},
	},
	[13] = {
		id = 2,
		stage = 13,
		attr = {{type=4,value=162},{type=5,value=36},{type=6,value=36},{type=2,value=1944},{type=26,value=27216}},
	},
	[14] = {
		id = 2,
		stage = 14,
		attr = {{type=4,value=182},{type=5,value=41},{type=6,value=41},{type=2,value=2214},{type=26,value=30888}},
	},
	[15] = {
		id = 2,
		stage = 15,
		attr = {{type=4,value=203},{type=5,value=46},{type=6,value=46},{type=2,value=2484},{type=26,value=34776}},
	},
	[16] = {
		id = 2,
		stage = 16,
		attr = {{type=4,value=225},{type=5,value=51},{type=6,value=51},{type=2,value=2754},{type=26,value=38880}},
	},
	[17] = {
		id = 2,
		stage = 17,
		attr = {{type=4,value=248},{type=5,value=56},{type=6,value=56},{type=2,value=3024},{type=26,value=43200}},
	},
	[18] = {
		id = 2,
		stage = 18,
		attr = {{type=4,value=272},{type=5,value=62},{type=6,value=62},{type=2,value=3348},{type=26,value=47736}},
	},
	[19] = {
		id = 2,
		stage = 19,
		attr = {{type=4,value=297},{type=5,value=68},{type=6,value=68},{type=2,value=3672},{type=26,value=52488}},
	},
	[20] = {
		id = 2,
		stage = 20,
		attr = {{type=4,value=323},{type=5,value=74},{type=6,value=74},{type=2,value=3996},{type=26,value=57456}},
	},
},
[3] = {
	[1] = {
		id = 3,
		stage = 1,
		attr = {{type=4,value=0},{type=5,value=0},{type=6,value=0},{type=2,value=0},{type=82,value=0}},
	},
	[2] = {
		id = 3,
		stage = 2,
		attr = {{type=4,value=8},{type=5,value=2},{type=6,value=2},{type=2,value=108},{type=82,value=600}},
	},
	[3] = {
		id = 3,
		stage = 3,
		attr = {{type=4,value=17},{type=5,value=4},{type=6,value=4},{type=2,value=216},{type=82,value=1320}},
	},
	[4] = {
		id = 3,
		stage = 4,
		attr = {{type=4,value=27},{type=5,value=6},{type=6,value=6},{type=2,value=324},{type=82,value=2160}},
	},
	[5] = {
		id = 3,
		stage = 5,
		attr = {{type=4,value=38},{type=5,value=8},{type=6,value=8},{type=2,value=432},{type=82,value=3120}},
	},
	[6] = {
		id = 3,
		stage = 6,
		attr = {{type=4,value=50},{type=5,value=11},{type=6,value=11},{type=2,value=594},{type=82,value=4200}},
	},
	[7] = {
		id = 3,
		stage = 7,
		attr = {{type=4,value=63},{type=5,value=14},{type=6,value=14},{type=2,value=756},{type=82,value=5400}},
	},
	[8] = {
		id = 3,
		stage = 8,
		attr = {{type=4,value=77},{type=5,value=17},{type=6,value=17},{type=2,value=918},{type=82,value=6720}},
	},
	[9] = {
		id = 3,
		stage = 9,
		attr = {{type=4,value=92},{type=5,value=20},{type=6,value=20},{type=2,value=1080},{type=82,value=8160}},
	},
	[10] = {
		id = 3,
		stage = 10,
		attr = {{type=4,value=108},{type=5,value=24},{type=6,value=24},{type=2,value=1296},{type=82,value=9720}},
	},
	[11] = {
		id = 3,
		stage = 11,
		attr = {{type=4,value=125},{type=5,value=28},{type=6,value=28},{type=2,value=1512},{type=82,value=11400}},
	},
	[12] = {
		id = 3,
		stage = 12,
		attr = {{type=4,value=143},{type=5,value=32},{type=6,value=32},{type=2,value=1728},{type=82,value=13200}},
	},
	[13] = {
		id = 3,
		stage = 13,
		attr = {{type=4,value=162},{type=5,value=36},{type=6,value=36},{type=2,value=1944},{type=82,value=15120}},
	},
	[14] = {
		id = 3,
		stage = 14,
		attr = {{type=4,value=182},{type=5,value=41},{type=6,value=41},{type=2,value=2214},{type=82,value=17160}},
	},
	[15] = {
		id = 3,
		stage = 15,
		attr = {{type=4,value=203},{type=5,value=46},{type=6,value=46},{type=2,value=2484},{type=82,value=19320}},
	},
	[16] = {
		id = 3,
		stage = 16,
		attr = {{type=4,value=225},{type=5,value=51},{type=6,value=51},{type=2,value=2754},{type=82,value=21600}},
	},
	[17] = {
		id = 3,
		stage = 17,
		attr = {{type=4,value=248},{type=5,value=56},{type=6,value=56},{type=2,value=3024},{type=82,value=24000}},
	},
	[18] = {
		id = 3,
		stage = 18,
		attr = {{type=4,value=272},{type=5,value=62},{type=6,value=62},{type=2,value=3348},{type=82,value=26520}},
	},
	[19] = {
		id = 3,
		stage = 19,
		attr = {{type=4,value=297},{type=5,value=68},{type=6,value=68},{type=2,value=3672},{type=82,value=29160}},
	},
	[20] = {
		id = 3,
		stage = 20,
		attr = {{type=4,value=323},{type=5,value=74},{type=6,value=74},{type=2,value=3996},{type=82,value=31920}},
	},
},
[4] = {
	[1] = {
		id = 4,
		stage = 1,
		attr = {{type=4,value=8},{type=5,value=2},{type=6,value=2},{type=2,value=108},{type=2,value=1080}},
	},
	[2] = {
		id = 4,
		stage = 2,
		attr = {{type=4,value=17},{type=5,value=4},{type=6,value=4},{type=2,value=216},{type=2,value=2376}},
	},
	[3] = {
		id = 4,
		stage = 3,
		attr = {{type=4,value=27},{type=5,value=6},{type=6,value=6},{type=2,value=324},{type=2,value=3888}},
	},
	[4] = {
		id = 4,
		stage = 4,
		attr = {{type=4,value=38},{type=5,value=8},{type=6,value=8},{type=2,value=432},{type=2,value=5616}},
	},
	[5] = {
		id = 4,
		stage = 5,
		attr = {{type=4,value=50},{type=5,value=11},{type=6,value=11},{type=2,value=594},{type=2,value=7560}},
	},
	[6] = {
		id = 4,
		stage = 6,
		attr = {{type=4,value=63},{type=5,value=14},{type=6,value=14},{type=2,value=756},{type=2,value=9720}},
	},
	[7] = {
		id = 4,
		stage = 7,
		attr = {{type=4,value=77},{type=5,value=17},{type=6,value=17},{type=2,value=918},{type=2,value=12096}},
	},
	[8] = {
		id = 4,
		stage = 8,
		attr = {{type=4,value=92},{type=5,value=20},{type=6,value=20},{type=2,value=1080},{type=2,value=14688}},
	},
	[9] = {
		id = 4,
		stage = 9,
		attr = {{type=4,value=108},{type=5,value=24},{type=6,value=24},{type=2,value=1296},{type=2,value=17496}},
	},
	[10] = {
		id = 4,
		stage = 10,
		attr = {{type=4,value=125},{type=5,value=28},{type=6,value=28},{type=2,value=1512},{type=2,value=20520}},
	},
	[11] = {
		id = 4,
		stage = 11,
		attr = {{type=4,value=143},{type=5,value=32},{type=6,value=32},{type=2,value=1728},{type=2,value=23760}},
	},
	[12] = {
		id = 4,
		stage = 12,
		attr = {{type=4,value=162},{type=5,value=36},{type=6,value=36},{type=2,value=1944},{type=2,value=27216}},
	},
	[13] = {
		id = 4,
		stage = 13,
		attr = {{type=4,value=182},{type=5,value=41},{type=6,value=41},{type=2,value=2214},{type=2,value=30888}},
	},
	[14] = {
		id = 4,
		stage = 14,
		attr = {{type=4,value=203},{type=5,value=46},{type=6,value=46},{type=2,value=2484},{type=2,value=34776}},
	},
	[15] = {
		id = 4,
		stage = 15,
		attr = {{type=4,value=225},{type=5,value=51},{type=6,value=51},{type=2,value=2754},{type=2,value=38880}},
	},
	[16] = {
		id = 4,
		stage = 16,
		attr = {{type=4,value=248},{type=5,value=56},{type=6,value=56},{type=2,value=3024},{type=2,value=43200}},
	},
	[17] = {
		id = 4,
		stage = 17,
		attr = {{type=4,value=272},{type=5,value=62},{type=6,value=62},{type=2,value=3348},{type=2,value=47736}},
	},
	[18] = {
		id = 4,
		stage = 18,
		attr = {{type=4,value=297},{type=5,value=68},{type=6,value=68},{type=2,value=3672},{type=2,value=52488}},
	},
	[19] = {
		id = 4,
		stage = 19,
		attr = {{type=4,value=323},{type=5,value=74},{type=6,value=74},{type=2,value=3996},{type=2,value=57456}},
	},
	[20] = {
		id = 4,
		stage = 20,
		attr = {{type=4,value=350},{type=5,value=80},{type=6,value=80},{type=2,value=4320},{type=2,value=62640}},
	},
},
}