--X-心法.xlsx 心法部位
HeartMethodPosConfig={
[1] = {
	[1] = {
		[0] = {
			pos = 1,
			quality = 1,
			star = 0,
			posItem = 311100,
		},
		[1] = {
			pos = 1,
			quality = 1,
			star = 1,
			posItem = 311101,
		},
		[2] = {
			pos = 1,
			quality = 1,
			star = 2,
			posItem = 311102,
		},
		[3] = {
			pos = 1,
			quality = 1,
			star = 3,
			posItem = 311103,
		},
	},
	[2] = {
		[0] = {
			pos = 1,
			quality = 2,
			star = 0,
			posItem = 311200,
		},
		[1] = {
			pos = 1,
			quality = 2,
			star = 1,
			posItem = 311201,
		},
		[2] = {
			pos = 1,
			quality = 2,
			star = 2,
			posItem = 311202,
		},
		[3] = {
			pos = 1,
			quality = 2,
			star = 3,
			posItem = 311203,
		},
		[4] = {
			pos = 1,
			quality = 2,
			star = 4,
			posItem = 311204,
		},
		[5] = {
			pos = 1,
			quality = 2,
			star = 5,
			posItem = 311205,
		},
	},
	[3] = {
		[0] = {
			pos = 1,
			quality = 3,
			star = 0,
			posItem = 311300,
		},
		[1] = {
			pos = 1,
			quality = 3,
			star = 1,
			posItem = 311301,
		},
		[2] = {
			pos = 1,
			quality = 3,
			star = 2,
			posItem = 311302,
		},
		[3] = {
			pos = 1,
			quality = 3,
			star = 3,
			posItem = 311303,
		},
		[4] = {
			pos = 1,
			quality = 3,
			star = 4,
			posItem = 311304,
		},
		[5] = {
			pos = 1,
			quality = 3,
			star = 5,
			posItem = 311305,
		},
	},
	[4] = {
		[0] = {
			pos = 1,
			quality = 4,
			star = 0,
			posItem = 311400,
		},
		[1] = {
			pos = 1,
			quality = 4,
			star = 1,
			posItem = 311401,
		},
		[2] = {
			pos = 1,
			quality = 4,
			star = 2,
			posItem = 311402,
		},
		[3] = {
			pos = 1,
			quality = 4,
			star = 3,
			posItem = 311403,
		},
		[4] = {
			pos = 1,
			quality = 4,
			star = 4,
			posItem = 311404,
		},
		[5] = {
			pos = 1,
			quality = 4,
			star = 5,
			posItem = 311405,
		},
	},
},
[2] = {
	[1] = {
		[0] = {
			pos = 2,
			quality = 1,
			star = 0,
			posItem = 312100,
		},
		[1] = {
			pos = 2,
			quality = 1,
			star = 1,
			posItem = 312101,
		},
		[2] = {
			pos = 2,
			quality = 1,
			star = 2,
			posItem = 312102,
		},
		[3] = {
			pos = 2,
			quality = 1,
			star = 3,
			posItem = 312103,
		},
	},
	[2] = {
		[0] = {
			pos = 2,
			quality = 2,
			star = 0,
			posItem = 312200,
		},
		[1] = {
			pos = 2,
			quality = 2,
			star = 1,
			posItem = 312201,
		},
		[2] = {
			pos = 2,
			quality = 2,
			star = 2,
			posItem = 312202,
		},
		[3] = {
			pos = 2,
			quality = 2,
			star = 3,
			posItem = 312203,
		},
		[4] = {
			pos = 2,
			quality = 2,
			star = 4,
			posItem = 312204,
		},
		[5] = {
			pos = 2,
			quality = 2,
			star = 5,
			posItem = 312205,
		},
	},
	[3] = {
		[0] = {
			pos = 2,
			quality = 3,
			star = 0,
			posItem = 312300,
		},
		[1] = {
			pos = 2,
			quality = 3,
			star = 1,
			posItem = 312301,
		},
		[2] = {
			pos = 2,
			quality = 3,
			star = 2,
			posItem = 312302,
		},
		[3] = {
			pos = 2,
			quality = 3,
			star = 3,
			posItem = 312303,
		},
		[4] = {
			pos = 2,
			quality = 3,
			star = 4,
			posItem = 312304,
		},
		[5] = {
			pos = 2,
			quality = 3,
			star = 5,
			posItem = 312305,
		},
	},
	[4] = {
		[0] = {
			pos = 2,
			quality = 4,
			star = 0,
			posItem = 312400,
		},
		[1] = {
			pos = 2,
			quality = 4,
			star = 1,
			posItem = 312401,
		},
		[2] = {
			pos = 2,
			quality = 4,
			star = 2,
			posItem = 312402,
		},
		[3] = {
			pos = 2,
			quality = 4,
			star = 3,
			posItem = 312403,
		},
		[4] = {
			pos = 2,
			quality = 4,
			star = 4,
			posItem = 312404,
		},
		[5] = {
			pos = 2,
			quality = 4,
			star = 5,
			posItem = 312405,
		},
	},
},
[3] = {
	[1] = {
		[0] = {
			pos = 3,
			quality = 1,
			star = 0,
			posItem = 313100,
		},
		[1] = {
			pos = 3,
			quality = 1,
			star = 1,
			posItem = 313101,
		},
		[2] = {
			pos = 3,
			quality = 1,
			star = 2,
			posItem = 313102,
		},
		[3] = {
			pos = 3,
			quality = 1,
			star = 3,
			posItem = 313103,
		},
	},
	[2] = {
		[0] = {
			pos = 3,
			quality = 2,
			star = 0,
			posItem = 313200,
		},
		[1] = {
			pos = 3,
			quality = 2,
			star = 1,
			posItem = 313201,
		},
		[2] = {
			pos = 3,
			quality = 2,
			star = 2,
			posItem = 313202,
		},
		[3] = {
			pos = 3,
			quality = 2,
			star = 3,
			posItem = 313203,
		},
		[4] = {
			pos = 3,
			quality = 2,
			star = 4,
			posItem = 313204,
		},
		[5] = {
			pos = 3,
			quality = 2,
			star = 5,
			posItem = 313205,
		},
	},
	[3] = {
		[0] = {
			pos = 3,
			quality = 3,
			star = 0,
			posItem = 313300,
		},
		[1] = {
			pos = 3,
			quality = 3,
			star = 1,
			posItem = 313301,
		},
		[2] = {
			pos = 3,
			quality = 3,
			star = 2,
			posItem = 313302,
		},
		[3] = {
			pos = 3,
			quality = 3,
			star = 3,
			posItem = 313303,
		},
		[4] = {
			pos = 3,
			quality = 3,
			star = 4,
			posItem = 313304,
		},
		[5] = {
			pos = 3,
			quality = 3,
			star = 5,
			posItem = 313305,
		},
	},
	[4] = {
		[0] = {
			pos = 3,
			quality = 4,
			star = 0,
			posItem = 313400,
		},
		[1] = {
			pos = 3,
			quality = 4,
			star = 1,
			posItem = 313401,
		},
		[2] = {
			pos = 3,
			quality = 4,
			star = 2,
			posItem = 313402,
		},
		[3] = {
			pos = 3,
			quality = 4,
			star = 3,
			posItem = 313403,
		},
		[4] = {
			pos = 3,
			quality = 4,
			star = 4,
			posItem = 313404,
		},
		[5] = {
			pos = 3,
			quality = 4,
			star = 5,
			posItem = 313405,
		},
	},
},
[4] = {
	[1] = {
		[0] = {
			pos = 4,
			quality = 1,
			star = 0,
			posItem = 314100,
		},
		[1] = {
			pos = 4,
			quality = 1,
			star = 1,
			posItem = 314101,
		},
		[2] = {
			pos = 4,
			quality = 1,
			star = 2,
			posItem = 314102,
		},
		[3] = {
			pos = 4,
			quality = 1,
			star = 3,
			posItem = 314103,
		},
	},
	[2] = {
		[0] = {
			pos = 4,
			quality = 2,
			star = 0,
			posItem = 314200,
		},
		[1] = {
			pos = 4,
			quality = 2,
			star = 1,
			posItem = 314201,
		},
		[2] = {
			pos = 4,
			quality = 2,
			star = 2,
			posItem = 314202,
		},
		[3] = {
			pos = 4,
			quality = 2,
			star = 3,
			posItem = 314203,
		},
		[4] = {
			pos = 4,
			quality = 2,
			star = 4,
			posItem = 314204,
		},
		[5] = {
			pos = 4,
			quality = 2,
			star = 5,
			posItem = 314205,
		},
	},
	[3] = {
		[0] = {
			pos = 4,
			quality = 3,
			star = 0,
			posItem = 314300,
		},
		[1] = {
			pos = 4,
			quality = 3,
			star = 1,
			posItem = 314301,
		},
		[2] = {
			pos = 4,
			quality = 3,
			star = 2,
			posItem = 314302,
		},
		[3] = {
			pos = 4,
			quality = 3,
			star = 3,
			posItem = 314303,
		},
		[4] = {
			pos = 4,
			quality = 3,
			star = 4,
			posItem = 314304,
		},
		[5] = {
			pos = 4,
			quality = 3,
			star = 5,
			posItem = 314305,
		},
	},
	[4] = {
		[0] = {
			pos = 4,
			quality = 4,
			star = 0,
			posItem = 314400,
		},
		[1] = {
			pos = 4,
			quality = 4,
			star = 1,
			posItem = 314401,
		},
		[2] = {
			pos = 4,
			quality = 4,
			star = 2,
			posItem = 314402,
		},
		[3] = {
			pos = 4,
			quality = 4,
			star = 3,
			posItem = 314403,
		},
		[4] = {
			pos = 4,
			quality = 4,
			star = 4,
			posItem = 314404,
		},
		[5] = {
			pos = 4,
			quality = 4,
			star = 5,
			posItem = 314405,
		},
	},
},
[5] = {
	[1] = {
		[0] = {
			pos = 5,
			quality = 1,
			star = 0,
			posItem = 315100,
		},
		[1] = {
			pos = 5,
			quality = 1,
			star = 1,
			posItem = 315101,
		},
		[2] = {
			pos = 5,
			quality = 1,
			star = 2,
			posItem = 315102,
		},
		[3] = {
			pos = 5,
			quality = 1,
			star = 3,
			posItem = 315103,
		},
	},
	[2] = {
		[0] = {
			pos = 5,
			quality = 2,
			star = 0,
			posItem = 315200,
		},
		[1] = {
			pos = 5,
			quality = 2,
			star = 1,
			posItem = 315201,
		},
		[2] = {
			pos = 5,
			quality = 2,
			star = 2,
			posItem = 315202,
		},
		[3] = {
			pos = 5,
			quality = 2,
			star = 3,
			posItem = 315203,
		},
		[4] = {
			pos = 5,
			quality = 2,
			star = 4,
			posItem = 315204,
		},
		[5] = {
			pos = 5,
			quality = 2,
			star = 5,
			posItem = 315205,
		},
	},
	[3] = {
		[0] = {
			pos = 5,
			quality = 3,
			star = 0,
			posItem = 315300,
		},
		[1] = {
			pos = 5,
			quality = 3,
			star = 1,
			posItem = 315301,
		},
		[2] = {
			pos = 5,
			quality = 3,
			star = 2,
			posItem = 315302,
		},
		[3] = {
			pos = 5,
			quality = 3,
			star = 3,
			posItem = 315303,
		},
		[4] = {
			pos = 5,
			quality = 3,
			star = 4,
			posItem = 315304,
		},
		[5] = {
			pos = 5,
			quality = 3,
			star = 5,
			posItem = 315305,
		},
	},
	[4] = {
		[0] = {
			pos = 5,
			quality = 4,
			star = 0,
			posItem = 315400,
		},
		[1] = {
			pos = 5,
			quality = 4,
			star = 1,
			posItem = 315401,
		},
		[2] = {
			pos = 5,
			quality = 4,
			star = 2,
			posItem = 315402,
		},
		[3] = {
			pos = 5,
			quality = 4,
			star = 3,
			posItem = 315403,
		},
		[4] = {
			pos = 5,
			quality = 4,
			star = 4,
			posItem = 315404,
		},
		[5] = {
			pos = 5,
			quality = 4,
			star = 5,
			posItem = 315405,
		},
	},
},
[6] = {
	[1] = {
		[0] = {
			pos = 6,
			quality = 1,
			star = 0,
			posItem = 321100,
		},
		[1] = {
			pos = 6,
			quality = 1,
			star = 1,
			posItem = 321101,
		},
		[2] = {
			pos = 6,
			quality = 1,
			star = 2,
			posItem = 321102,
		},
		[3] = {
			pos = 6,
			quality = 1,
			star = 3,
			posItem = 321103,
		},
	},
	[2] = {
		[0] = {
			pos = 6,
			quality = 2,
			star = 0,
			posItem = 321200,
		},
		[1] = {
			pos = 6,
			quality = 2,
			star = 1,
			posItem = 321201,
		},
		[2] = {
			pos = 6,
			quality = 2,
			star = 2,
			posItem = 321202,
		},
		[3] = {
			pos = 6,
			quality = 2,
			star = 3,
			posItem = 321203,
		},
		[4] = {
			pos = 6,
			quality = 2,
			star = 4,
			posItem = 321204,
		},
		[5] = {
			pos = 6,
			quality = 2,
			star = 5,
			posItem = 321205,
		},
	},
	[3] = {
		[0] = {
			pos = 6,
			quality = 3,
			star = 0,
			posItem = 321300,
		},
		[1] = {
			pos = 6,
			quality = 3,
			star = 1,
			posItem = 321301,
		},
		[2] = {
			pos = 6,
			quality = 3,
			star = 2,
			posItem = 321302,
		},
		[3] = {
			pos = 6,
			quality = 3,
			star = 3,
			posItem = 321303,
		},
		[4] = {
			pos = 6,
			quality = 3,
			star = 4,
			posItem = 321304,
		},
		[5] = {
			pos = 6,
			quality = 3,
			star = 5,
			posItem = 321305,
		},
	},
	[4] = {
		[0] = {
			pos = 6,
			quality = 4,
			star = 0,
			posItem = 321400,
		},
		[1] = {
			pos = 6,
			quality = 4,
			star = 1,
			posItem = 321401,
		},
		[2] = {
			pos = 6,
			quality = 4,
			star = 2,
			posItem = 321402,
		},
		[3] = {
			pos = 6,
			quality = 4,
			star = 3,
			posItem = 321403,
		},
		[4] = {
			pos = 6,
			quality = 4,
			star = 4,
			posItem = 321404,
		},
		[5] = {
			pos = 6,
			quality = 4,
			star = 5,
			posItem = 321405,
		},
	},
},
[7] = {
	[1] = {
		[0] = {
			pos = 7,
			quality = 1,
			star = 0,
			posItem = 322100,
		},
		[1] = {
			pos = 7,
			quality = 1,
			star = 1,
			posItem = 322101,
		},
		[2] = {
			pos = 7,
			quality = 1,
			star = 2,
			posItem = 322102,
		},
		[3] = {
			pos = 7,
			quality = 1,
			star = 3,
			posItem = 322103,
		},
	},
	[2] = {
		[0] = {
			pos = 7,
			quality = 2,
			star = 0,
			posItem = 322200,
		},
		[1] = {
			pos = 7,
			quality = 2,
			star = 1,
			posItem = 322201,
		},
		[2] = {
			pos = 7,
			quality = 2,
			star = 2,
			posItem = 322202,
		},
		[3] = {
			pos = 7,
			quality = 2,
			star = 3,
			posItem = 322203,
		},
		[4] = {
			pos = 7,
			quality = 2,
			star = 4,
			posItem = 322204,
		},
		[5] = {
			pos = 7,
			quality = 2,
			star = 5,
			posItem = 322205,
		},
	},
	[3] = {
		[0] = {
			pos = 7,
			quality = 3,
			star = 0,
			posItem = 322300,
		},
		[1] = {
			pos = 7,
			quality = 3,
			star = 1,
			posItem = 322301,
		},
		[2] = {
			pos = 7,
			quality = 3,
			star = 2,
			posItem = 322302,
		},
		[3] = {
			pos = 7,
			quality = 3,
			star = 3,
			posItem = 322303,
		},
		[4] = {
			pos = 7,
			quality = 3,
			star = 4,
			posItem = 322304,
		},
		[5] = {
			pos = 7,
			quality = 3,
			star = 5,
			posItem = 322305,
		},
	},
	[4] = {
		[0] = {
			pos = 7,
			quality = 4,
			star = 0,
			posItem = 322400,
		},
		[1] = {
			pos = 7,
			quality = 4,
			star = 1,
			posItem = 322401,
		},
		[2] = {
			pos = 7,
			quality = 4,
			star = 2,
			posItem = 322402,
		},
		[3] = {
			pos = 7,
			quality = 4,
			star = 3,
			posItem = 322403,
		},
		[4] = {
			pos = 7,
			quality = 4,
			star = 4,
			posItem = 322404,
		},
		[5] = {
			pos = 7,
			quality = 4,
			star = 5,
			posItem = 322405,
		},
	},
},
[8] = {
	[1] = {
		[0] = {
			pos = 8,
			quality = 1,
			star = 0,
			posItem = 323100,
		},
		[1] = {
			pos = 8,
			quality = 1,
			star = 1,
			posItem = 323101,
		},
		[2] = {
			pos = 8,
			quality = 1,
			star = 2,
			posItem = 323102,
		},
		[3] = {
			pos = 8,
			quality = 1,
			star = 3,
			posItem = 323103,
		},
	},
	[2] = {
		[0] = {
			pos = 8,
			quality = 2,
			star = 0,
			posItem = 323200,
		},
		[1] = {
			pos = 8,
			quality = 2,
			star = 1,
			posItem = 323201,
		},
		[2] = {
			pos = 8,
			quality = 2,
			star = 2,
			posItem = 323202,
		},
		[3] = {
			pos = 8,
			quality = 2,
			star = 3,
			posItem = 323203,
		},
		[4] = {
			pos = 8,
			quality = 2,
			star = 4,
			posItem = 323204,
		},
		[5] = {
			pos = 8,
			quality = 2,
			star = 5,
			posItem = 323205,
		},
	},
	[3] = {
		[0] = {
			pos = 8,
			quality = 3,
			star = 0,
			posItem = 323300,
		},
		[1] = {
			pos = 8,
			quality = 3,
			star = 1,
			posItem = 323301,
		},
		[2] = {
			pos = 8,
			quality = 3,
			star = 2,
			posItem = 323302,
		},
		[3] = {
			pos = 8,
			quality = 3,
			star = 3,
			posItem = 323303,
		},
		[4] = {
			pos = 8,
			quality = 3,
			star = 4,
			posItem = 323304,
		},
		[5] = {
			pos = 8,
			quality = 3,
			star = 5,
			posItem = 323305,
		},
	},
	[4] = {
		[0] = {
			pos = 8,
			quality = 4,
			star = 0,
			posItem = 323400,
		},
		[1] = {
			pos = 8,
			quality = 4,
			star = 1,
			posItem = 323401,
		},
		[2] = {
			pos = 8,
			quality = 4,
			star = 2,
			posItem = 323402,
		},
		[3] = {
			pos = 8,
			quality = 4,
			star = 3,
			posItem = 323403,
		},
		[4] = {
			pos = 8,
			quality = 4,
			star = 4,
			posItem = 323404,
		},
		[5] = {
			pos = 8,
			quality = 4,
			star = 5,
			posItem = 323405,
		},
	},
},
[9] = {
	[1] = {
		[0] = {
			pos = 9,
			quality = 1,
			star = 0,
			posItem = 324100,
		},
		[1] = {
			pos = 9,
			quality = 1,
			star = 1,
			posItem = 324101,
		},
		[2] = {
			pos = 9,
			quality = 1,
			star = 2,
			posItem = 324102,
		},
		[3] = {
			pos = 9,
			quality = 1,
			star = 3,
			posItem = 324103,
		},
	},
	[2] = {
		[0] = {
			pos = 9,
			quality = 2,
			star = 0,
			posItem = 324200,
		},
		[1] = {
			pos = 9,
			quality = 2,
			star = 1,
			posItem = 324201,
		},
		[2] = {
			pos = 9,
			quality = 2,
			star = 2,
			posItem = 324202,
		},
		[3] = {
			pos = 9,
			quality = 2,
			star = 3,
			posItem = 324203,
		},
		[4] = {
			pos = 9,
			quality = 2,
			star = 4,
			posItem = 324204,
		},
		[5] = {
			pos = 9,
			quality = 2,
			star = 5,
			posItem = 324205,
		},
	},
	[3] = {
		[0] = {
			pos = 9,
			quality = 3,
			star = 0,
			posItem = 324300,
		},
		[1] = {
			pos = 9,
			quality = 3,
			star = 1,
			posItem = 324301,
		},
		[2] = {
			pos = 9,
			quality = 3,
			star = 2,
			posItem = 324302,
		},
		[3] = {
			pos = 9,
			quality = 3,
			star = 3,
			posItem = 324303,
		},
		[4] = {
			pos = 9,
			quality = 3,
			star = 4,
			posItem = 324304,
		},
		[5] = {
			pos = 9,
			quality = 3,
			star = 5,
			posItem = 324305,
		},
	},
	[4] = {
		[0] = {
			pos = 9,
			quality = 4,
			star = 0,
			posItem = 324400,
		},
		[1] = {
			pos = 9,
			quality = 4,
			star = 1,
			posItem = 324401,
		},
		[2] = {
			pos = 9,
			quality = 4,
			star = 2,
			posItem = 324402,
		},
		[3] = {
			pos = 9,
			quality = 4,
			star = 3,
			posItem = 324403,
		},
		[4] = {
			pos = 9,
			quality = 4,
			star = 4,
			posItem = 324404,
		},
		[5] = {
			pos = 9,
			quality = 4,
			star = 5,
			posItem = 324405,
		},
	},
},
[10] = {
	[1] = {
		[0] = {
			pos = 10,
			quality = 1,
			star = 0,
			posItem = 325100,
		},
		[1] = {
			pos = 10,
			quality = 1,
			star = 1,
			posItem = 325101,
		},
		[2] = {
			pos = 10,
			quality = 1,
			star = 2,
			posItem = 325102,
		},
		[3] = {
			pos = 10,
			quality = 1,
			star = 3,
			posItem = 325103,
		},
	},
	[2] = {
		[0] = {
			pos = 10,
			quality = 2,
			star = 0,
			posItem = 325200,
		},
		[1] = {
			pos = 10,
			quality = 2,
			star = 1,
			posItem = 325201,
		},
		[2] = {
			pos = 10,
			quality = 2,
			star = 2,
			posItem = 325202,
		},
		[3] = {
			pos = 10,
			quality = 2,
			star = 3,
			posItem = 325203,
		},
		[4] = {
			pos = 10,
			quality = 2,
			star = 4,
			posItem = 325204,
		},
		[5] = {
			pos = 10,
			quality = 2,
			star = 5,
			posItem = 325205,
		},
	},
	[3] = {
		[0] = {
			pos = 10,
			quality = 3,
			star = 0,
			posItem = 325300,
		},
		[1] = {
			pos = 10,
			quality = 3,
			star = 1,
			posItem = 325301,
		},
		[2] = {
			pos = 10,
			quality = 3,
			star = 2,
			posItem = 325302,
		},
		[3] = {
			pos = 10,
			quality = 3,
			star = 3,
			posItem = 325303,
		},
		[4] = {
			pos = 10,
			quality = 3,
			star = 4,
			posItem = 325304,
		},
		[5] = {
			pos = 10,
			quality = 3,
			star = 5,
			posItem = 325305,
		},
	},
	[4] = {
		[0] = {
			pos = 10,
			quality = 4,
			star = 0,
			posItem = 325400,
		},
		[1] = {
			pos = 10,
			quality = 4,
			star = 1,
			posItem = 325401,
		},
		[2] = {
			pos = 10,
			quality = 4,
			star = 2,
			posItem = 325402,
		},
		[3] = {
			pos = 10,
			quality = 4,
			star = 3,
			posItem = 325403,
		},
		[4] = {
			pos = 10,
			quality = 4,
			star = 4,
			posItem = 325404,
		},
		[5] = {
			pos = 10,
			quality = 4,
			star = 5,
			posItem = 325405,
		},
	},
},
[11] = {
	[1] = {
		[0] = {
			pos = 11,
			quality = 1,
			star = 0,
			posItem = 331100,
		},
		[1] = {
			pos = 11,
			quality = 1,
			star = 1,
			posItem = 331101,
		},
		[2] = {
			pos = 11,
			quality = 1,
			star = 2,
			posItem = 331102,
		},
		[3] = {
			pos = 11,
			quality = 1,
			star = 3,
			posItem = 331103,
		},
	},
	[2] = {
		[0] = {
			pos = 11,
			quality = 2,
			star = 0,
			posItem = 331200,
		},
		[1] = {
			pos = 11,
			quality = 2,
			star = 1,
			posItem = 331201,
		},
		[2] = {
			pos = 11,
			quality = 2,
			star = 2,
			posItem = 331202,
		},
		[3] = {
			pos = 11,
			quality = 2,
			star = 3,
			posItem = 331203,
		},
		[4] = {
			pos = 11,
			quality = 2,
			star = 4,
			posItem = 331204,
		},
		[5] = {
			pos = 11,
			quality = 2,
			star = 5,
			posItem = 331205,
		},
	},
	[3] = {
		[0] = {
			pos = 11,
			quality = 3,
			star = 0,
			posItem = 331300,
		},
		[1] = {
			pos = 11,
			quality = 3,
			star = 1,
			posItem = 331301,
		},
		[2] = {
			pos = 11,
			quality = 3,
			star = 2,
			posItem = 331302,
		},
		[3] = {
			pos = 11,
			quality = 3,
			star = 3,
			posItem = 331303,
		},
		[4] = {
			pos = 11,
			quality = 3,
			star = 4,
			posItem = 331304,
		},
		[5] = {
			pos = 11,
			quality = 3,
			star = 5,
			posItem = 331305,
		},
	},
	[4] = {
		[0] = {
			pos = 11,
			quality = 4,
			star = 0,
			posItem = 331400,
		},
		[1] = {
			pos = 11,
			quality = 4,
			star = 1,
			posItem = 331401,
		},
		[2] = {
			pos = 11,
			quality = 4,
			star = 2,
			posItem = 331402,
		},
		[3] = {
			pos = 11,
			quality = 4,
			star = 3,
			posItem = 331403,
		},
		[4] = {
			pos = 11,
			quality = 4,
			star = 4,
			posItem = 331404,
		},
		[5] = {
			pos = 11,
			quality = 4,
			star = 5,
			posItem = 331405,
		},
	},
},
[12] = {
	[1] = {
		[0] = {
			pos = 12,
			quality = 1,
			star = 0,
			posItem = 332100,
		},
		[1] = {
			pos = 12,
			quality = 1,
			star = 1,
			posItem = 332101,
		},
		[2] = {
			pos = 12,
			quality = 1,
			star = 2,
			posItem = 332102,
		},
		[3] = {
			pos = 12,
			quality = 1,
			star = 3,
			posItem = 332103,
		},
	},
	[2] = {
		[0] = {
			pos = 12,
			quality = 2,
			star = 0,
			posItem = 332200,
		},
		[1] = {
			pos = 12,
			quality = 2,
			star = 1,
			posItem = 332201,
		},
		[2] = {
			pos = 12,
			quality = 2,
			star = 2,
			posItem = 332202,
		},
		[3] = {
			pos = 12,
			quality = 2,
			star = 3,
			posItem = 332203,
		},
		[4] = {
			pos = 12,
			quality = 2,
			star = 4,
			posItem = 332204,
		},
		[5] = {
			pos = 12,
			quality = 2,
			star = 5,
			posItem = 332205,
		},
	},
	[3] = {
		[0] = {
			pos = 12,
			quality = 3,
			star = 0,
			posItem = 332300,
		},
		[1] = {
			pos = 12,
			quality = 3,
			star = 1,
			posItem = 332301,
		},
		[2] = {
			pos = 12,
			quality = 3,
			star = 2,
			posItem = 332302,
		},
		[3] = {
			pos = 12,
			quality = 3,
			star = 3,
			posItem = 332303,
		},
		[4] = {
			pos = 12,
			quality = 3,
			star = 4,
			posItem = 332304,
		},
		[5] = {
			pos = 12,
			quality = 3,
			star = 5,
			posItem = 332305,
		},
	},
	[4] = {
		[0] = {
			pos = 12,
			quality = 4,
			star = 0,
			posItem = 332400,
		},
		[1] = {
			pos = 12,
			quality = 4,
			star = 1,
			posItem = 332401,
		},
		[2] = {
			pos = 12,
			quality = 4,
			star = 2,
			posItem = 332402,
		},
		[3] = {
			pos = 12,
			quality = 4,
			star = 3,
			posItem = 332403,
		},
		[4] = {
			pos = 12,
			quality = 4,
			star = 4,
			posItem = 332404,
		},
		[5] = {
			pos = 12,
			quality = 4,
			star = 5,
			posItem = 332405,
		},
	},
},
[13] = {
	[1] = {
		[0] = {
			pos = 13,
			quality = 1,
			star = 0,
			posItem = 333100,
		},
		[1] = {
			pos = 13,
			quality = 1,
			star = 1,
			posItem = 333101,
		},
		[2] = {
			pos = 13,
			quality = 1,
			star = 2,
			posItem = 333102,
		},
		[3] = {
			pos = 13,
			quality = 1,
			star = 3,
			posItem = 333103,
		},
	},
	[2] = {
		[0] = {
			pos = 13,
			quality = 2,
			star = 0,
			posItem = 333200,
		},
		[1] = {
			pos = 13,
			quality = 2,
			star = 1,
			posItem = 333201,
		},
		[2] = {
			pos = 13,
			quality = 2,
			star = 2,
			posItem = 333202,
		},
		[3] = {
			pos = 13,
			quality = 2,
			star = 3,
			posItem = 333203,
		},
		[4] = {
			pos = 13,
			quality = 2,
			star = 4,
			posItem = 333204,
		},
		[5] = {
			pos = 13,
			quality = 2,
			star = 5,
			posItem = 333205,
		},
	},
	[3] = {
		[0] = {
			pos = 13,
			quality = 3,
			star = 0,
			posItem = 333300,
		},
		[1] = {
			pos = 13,
			quality = 3,
			star = 1,
			posItem = 333301,
		},
		[2] = {
			pos = 13,
			quality = 3,
			star = 2,
			posItem = 333302,
		},
		[3] = {
			pos = 13,
			quality = 3,
			star = 3,
			posItem = 333303,
		},
		[4] = {
			pos = 13,
			quality = 3,
			star = 4,
			posItem = 333304,
		},
		[5] = {
			pos = 13,
			quality = 3,
			star = 5,
			posItem = 333305,
		},
	},
	[4] = {
		[0] = {
			pos = 13,
			quality = 4,
			star = 0,
			posItem = 333400,
		},
		[1] = {
			pos = 13,
			quality = 4,
			star = 1,
			posItem = 333401,
		},
		[2] = {
			pos = 13,
			quality = 4,
			star = 2,
			posItem = 333402,
		},
		[3] = {
			pos = 13,
			quality = 4,
			star = 3,
			posItem = 333403,
		},
		[4] = {
			pos = 13,
			quality = 4,
			star = 4,
			posItem = 333404,
		},
		[5] = {
			pos = 13,
			quality = 4,
			star = 5,
			posItem = 333405,
		},
	},
},
[14] = {
	[1] = {
		[0] = {
			pos = 14,
			quality = 1,
			star = 0,
			posItem = 334100,
		},
		[1] = {
			pos = 14,
			quality = 1,
			star = 1,
			posItem = 334101,
		},
		[2] = {
			pos = 14,
			quality = 1,
			star = 2,
			posItem = 334102,
		},
		[3] = {
			pos = 14,
			quality = 1,
			star = 3,
			posItem = 334103,
		},
	},
	[2] = {
		[0] = {
			pos = 14,
			quality = 2,
			star = 0,
			posItem = 334200,
		},
		[1] = {
			pos = 14,
			quality = 2,
			star = 1,
			posItem = 334201,
		},
		[2] = {
			pos = 14,
			quality = 2,
			star = 2,
			posItem = 334202,
		},
		[3] = {
			pos = 14,
			quality = 2,
			star = 3,
			posItem = 334203,
		},
		[4] = {
			pos = 14,
			quality = 2,
			star = 4,
			posItem = 334204,
		},
		[5] = {
			pos = 14,
			quality = 2,
			star = 5,
			posItem = 334205,
		},
	},
	[3] = {
		[0] = {
			pos = 14,
			quality = 3,
			star = 0,
			posItem = 334300,
		},
		[1] = {
			pos = 14,
			quality = 3,
			star = 1,
			posItem = 334301,
		},
		[2] = {
			pos = 14,
			quality = 3,
			star = 2,
			posItem = 334302,
		},
		[3] = {
			pos = 14,
			quality = 3,
			star = 3,
			posItem = 334303,
		},
		[4] = {
			pos = 14,
			quality = 3,
			star = 4,
			posItem = 334304,
		},
		[5] = {
			pos = 14,
			quality = 3,
			star = 5,
			posItem = 334305,
		},
	},
	[4] = {
		[0] = {
			pos = 14,
			quality = 4,
			star = 0,
			posItem = 334400,
		},
		[1] = {
			pos = 14,
			quality = 4,
			star = 1,
			posItem = 334401,
		},
		[2] = {
			pos = 14,
			quality = 4,
			star = 2,
			posItem = 334402,
		},
		[3] = {
			pos = 14,
			quality = 4,
			star = 3,
			posItem = 334403,
		},
		[4] = {
			pos = 14,
			quality = 4,
			star = 4,
			posItem = 334404,
		},
		[5] = {
			pos = 14,
			quality = 4,
			star = 5,
			posItem = 334405,
		},
	},
},
[15] = {
	[1] = {
		[0] = {
			pos = 15,
			quality = 1,
			star = 0,
			posItem = 335100,
		},
		[1] = {
			pos = 15,
			quality = 1,
			star = 1,
			posItem = 335101,
		},
		[2] = {
			pos = 15,
			quality = 1,
			star = 2,
			posItem = 335102,
		},
		[3] = {
			pos = 15,
			quality = 1,
			star = 3,
			posItem = 335103,
		},
	},
	[2] = {
		[0] = {
			pos = 15,
			quality = 2,
			star = 0,
			posItem = 335200,
		},
		[1] = {
			pos = 15,
			quality = 2,
			star = 1,
			posItem = 335201,
		},
		[2] = {
			pos = 15,
			quality = 2,
			star = 2,
			posItem = 335202,
		},
		[3] = {
			pos = 15,
			quality = 2,
			star = 3,
			posItem = 335203,
		},
		[4] = {
			pos = 15,
			quality = 2,
			star = 4,
			posItem = 335204,
		},
		[5] = {
			pos = 15,
			quality = 2,
			star = 5,
			posItem = 335205,
		},
	},
	[3] = {
		[0] = {
			pos = 15,
			quality = 3,
			star = 0,
			posItem = 335300,
		},
		[1] = {
			pos = 15,
			quality = 3,
			star = 1,
			posItem = 335301,
		},
		[2] = {
			pos = 15,
			quality = 3,
			star = 2,
			posItem = 335302,
		},
		[3] = {
			pos = 15,
			quality = 3,
			star = 3,
			posItem = 335303,
		},
		[4] = {
			pos = 15,
			quality = 3,
			star = 4,
			posItem = 335304,
		},
		[5] = {
			pos = 15,
			quality = 3,
			star = 5,
			posItem = 335305,
		},
	},
	[4] = {
		[0] = {
			pos = 15,
			quality = 4,
			star = 0,
			posItem = 335400,
		},
		[1] = {
			pos = 15,
			quality = 4,
			star = 1,
			posItem = 335401,
		},
		[2] = {
			pos = 15,
			quality = 4,
			star = 2,
			posItem = 335402,
		},
		[3] = {
			pos = 15,
			quality = 4,
			star = 3,
			posItem = 335403,
		},
		[4] = {
			pos = 15,
			quality = 4,
			star = 4,
			posItem = 335404,
		},
		[5] = {
			pos = 15,
			quality = 4,
			star = 5,
			posItem = 335405,
		},
	},
},
[16] = {
	[1] = {
		[0] = {
			pos = 16,
			quality = 1,
			star = 0,
			posItem = 341100,
		},
		[1] = {
			pos = 16,
			quality = 1,
			star = 1,
			posItem = 341101,
		},
		[2] = {
			pos = 16,
			quality = 1,
			star = 2,
			posItem = 341102,
		},
		[3] = {
			pos = 16,
			quality = 1,
			star = 3,
			posItem = 341103,
		},
	},
	[2] = {
		[0] = {
			pos = 16,
			quality = 2,
			star = 0,
			posItem = 341200,
		},
		[1] = {
			pos = 16,
			quality = 2,
			star = 1,
			posItem = 341201,
		},
		[2] = {
			pos = 16,
			quality = 2,
			star = 2,
			posItem = 341202,
		},
		[3] = {
			pos = 16,
			quality = 2,
			star = 3,
			posItem = 341203,
		},
		[4] = {
			pos = 16,
			quality = 2,
			star = 4,
			posItem = 341204,
		},
		[5] = {
			pos = 16,
			quality = 2,
			star = 5,
			posItem = 341205,
		},
	},
	[3] = {
		[0] = {
			pos = 16,
			quality = 3,
			star = 0,
			posItem = 341300,
		},
		[1] = {
			pos = 16,
			quality = 3,
			star = 1,
			posItem = 341301,
		},
		[2] = {
			pos = 16,
			quality = 3,
			star = 2,
			posItem = 341302,
		},
		[3] = {
			pos = 16,
			quality = 3,
			star = 3,
			posItem = 341303,
		},
		[4] = {
			pos = 16,
			quality = 3,
			star = 4,
			posItem = 341304,
		},
		[5] = {
			pos = 16,
			quality = 3,
			star = 5,
			posItem = 341305,
		},
	},
	[4] = {
		[0] = {
			pos = 16,
			quality = 4,
			star = 0,
			posItem = 341400,
		},
		[1] = {
			pos = 16,
			quality = 4,
			star = 1,
			posItem = 341401,
		},
		[2] = {
			pos = 16,
			quality = 4,
			star = 2,
			posItem = 341402,
		},
		[3] = {
			pos = 16,
			quality = 4,
			star = 3,
			posItem = 341403,
		},
		[4] = {
			pos = 16,
			quality = 4,
			star = 4,
			posItem = 341404,
		},
		[5] = {
			pos = 16,
			quality = 4,
			star = 5,
			posItem = 341405,
		},
	},
},
[17] = {
	[1] = {
		[0] = {
			pos = 17,
			quality = 1,
			star = 0,
			posItem = 342100,
		},
		[1] = {
			pos = 17,
			quality = 1,
			star = 1,
			posItem = 342101,
		},
		[2] = {
			pos = 17,
			quality = 1,
			star = 2,
			posItem = 342102,
		},
		[3] = {
			pos = 17,
			quality = 1,
			star = 3,
			posItem = 342103,
		},
	},
	[2] = {
		[0] = {
			pos = 17,
			quality = 2,
			star = 0,
			posItem = 342200,
		},
		[1] = {
			pos = 17,
			quality = 2,
			star = 1,
			posItem = 342201,
		},
		[2] = {
			pos = 17,
			quality = 2,
			star = 2,
			posItem = 342202,
		},
		[3] = {
			pos = 17,
			quality = 2,
			star = 3,
			posItem = 342203,
		},
		[4] = {
			pos = 17,
			quality = 2,
			star = 4,
			posItem = 342204,
		},
		[5] = {
			pos = 17,
			quality = 2,
			star = 5,
			posItem = 342205,
		},
	},
	[3] = {
		[0] = {
			pos = 17,
			quality = 3,
			star = 0,
			posItem = 342300,
		},
		[1] = {
			pos = 17,
			quality = 3,
			star = 1,
			posItem = 342301,
		},
		[2] = {
			pos = 17,
			quality = 3,
			star = 2,
			posItem = 342302,
		},
		[3] = {
			pos = 17,
			quality = 3,
			star = 3,
			posItem = 342303,
		},
		[4] = {
			pos = 17,
			quality = 3,
			star = 4,
			posItem = 342304,
		},
		[5] = {
			pos = 17,
			quality = 3,
			star = 5,
			posItem = 342305,
		},
	},
	[4] = {
		[0] = {
			pos = 17,
			quality = 4,
			star = 0,
			posItem = 342400,
		},
		[1] = {
			pos = 17,
			quality = 4,
			star = 1,
			posItem = 342401,
		},
		[2] = {
			pos = 17,
			quality = 4,
			star = 2,
			posItem = 342402,
		},
		[3] = {
			pos = 17,
			quality = 4,
			star = 3,
			posItem = 342403,
		},
		[4] = {
			pos = 17,
			quality = 4,
			star = 4,
			posItem = 342404,
		},
		[5] = {
			pos = 17,
			quality = 4,
			star = 5,
			posItem = 342405,
		},
	},
},
[18] = {
	[1] = {
		[0] = {
			pos = 18,
			quality = 1,
			star = 0,
			posItem = 343100,
		},
		[1] = {
			pos = 18,
			quality = 1,
			star = 1,
			posItem = 343101,
		},
		[2] = {
			pos = 18,
			quality = 1,
			star = 2,
			posItem = 343102,
		},
		[3] = {
			pos = 18,
			quality = 1,
			star = 3,
			posItem = 343103,
		},
	},
	[2] = {
		[0] = {
			pos = 18,
			quality = 2,
			star = 0,
			posItem = 343200,
		},
		[1] = {
			pos = 18,
			quality = 2,
			star = 1,
			posItem = 343201,
		},
		[2] = {
			pos = 18,
			quality = 2,
			star = 2,
			posItem = 343202,
		},
		[3] = {
			pos = 18,
			quality = 2,
			star = 3,
			posItem = 343203,
		},
		[4] = {
			pos = 18,
			quality = 2,
			star = 4,
			posItem = 343204,
		},
		[5] = {
			pos = 18,
			quality = 2,
			star = 5,
			posItem = 343205,
		},
	},
	[3] = {
		[0] = {
			pos = 18,
			quality = 3,
			star = 0,
			posItem = 343300,
		},
		[1] = {
			pos = 18,
			quality = 3,
			star = 1,
			posItem = 343301,
		},
		[2] = {
			pos = 18,
			quality = 3,
			star = 2,
			posItem = 343302,
		},
		[3] = {
			pos = 18,
			quality = 3,
			star = 3,
			posItem = 343303,
		},
		[4] = {
			pos = 18,
			quality = 3,
			star = 4,
			posItem = 343304,
		},
		[5] = {
			pos = 18,
			quality = 3,
			star = 5,
			posItem = 343305,
		},
	},
	[4] = {
		[0] = {
			pos = 18,
			quality = 4,
			star = 0,
			posItem = 343400,
		},
		[1] = {
			pos = 18,
			quality = 4,
			star = 1,
			posItem = 343401,
		},
		[2] = {
			pos = 18,
			quality = 4,
			star = 2,
			posItem = 343402,
		},
		[3] = {
			pos = 18,
			quality = 4,
			star = 3,
			posItem = 343403,
		},
		[4] = {
			pos = 18,
			quality = 4,
			star = 4,
			posItem = 343404,
		},
		[5] = {
			pos = 18,
			quality = 4,
			star = 5,
			posItem = 343405,
		},
	},
},
[19] = {
	[1] = {
		[0] = {
			pos = 19,
			quality = 1,
			star = 0,
			posItem = 344100,
		},
		[1] = {
			pos = 19,
			quality = 1,
			star = 1,
			posItem = 344101,
		},
		[2] = {
			pos = 19,
			quality = 1,
			star = 2,
			posItem = 344102,
		},
		[3] = {
			pos = 19,
			quality = 1,
			star = 3,
			posItem = 344103,
		},
	},
	[2] = {
		[0] = {
			pos = 19,
			quality = 2,
			star = 0,
			posItem = 344200,
		},
		[1] = {
			pos = 19,
			quality = 2,
			star = 1,
			posItem = 344201,
		},
		[2] = {
			pos = 19,
			quality = 2,
			star = 2,
			posItem = 344202,
		},
		[3] = {
			pos = 19,
			quality = 2,
			star = 3,
			posItem = 344203,
		},
		[4] = {
			pos = 19,
			quality = 2,
			star = 4,
			posItem = 344204,
		},
		[5] = {
			pos = 19,
			quality = 2,
			star = 5,
			posItem = 344205,
		},
	},
	[3] = {
		[0] = {
			pos = 19,
			quality = 3,
			star = 0,
			posItem = 344300,
		},
		[1] = {
			pos = 19,
			quality = 3,
			star = 1,
			posItem = 344301,
		},
		[2] = {
			pos = 19,
			quality = 3,
			star = 2,
			posItem = 344302,
		},
		[3] = {
			pos = 19,
			quality = 3,
			star = 3,
			posItem = 344303,
		},
		[4] = {
			pos = 19,
			quality = 3,
			star = 4,
			posItem = 344304,
		},
		[5] = {
			pos = 19,
			quality = 3,
			star = 5,
			posItem = 344305,
		},
	},
	[4] = {
		[0] = {
			pos = 19,
			quality = 4,
			star = 0,
			posItem = 344400,
		},
		[1] = {
			pos = 19,
			quality = 4,
			star = 1,
			posItem = 344401,
		},
		[2] = {
			pos = 19,
			quality = 4,
			star = 2,
			posItem = 344402,
		},
		[3] = {
			pos = 19,
			quality = 4,
			star = 3,
			posItem = 344403,
		},
		[4] = {
			pos = 19,
			quality = 4,
			star = 4,
			posItem = 344404,
		},
		[5] = {
			pos = 19,
			quality = 4,
			star = 5,
			posItem = 344405,
		},
	},
},
[20] = {
	[1] = {
		[0] = {
			pos = 20,
			quality = 1,
			star = 0,
			posItem = 345100,
		},
		[1] = {
			pos = 20,
			quality = 1,
			star = 1,
			posItem = 345101,
		},
		[2] = {
			pos = 20,
			quality = 1,
			star = 2,
			posItem = 345102,
		},
		[3] = {
			pos = 20,
			quality = 1,
			star = 3,
			posItem = 345103,
		},
	},
	[2] = {
		[0] = {
			pos = 20,
			quality = 2,
			star = 0,
			posItem = 345200,
		},
		[1] = {
			pos = 20,
			quality = 2,
			star = 1,
			posItem = 345201,
		},
		[2] = {
			pos = 20,
			quality = 2,
			star = 2,
			posItem = 345202,
		},
		[3] = {
			pos = 20,
			quality = 2,
			star = 3,
			posItem = 345203,
		},
		[4] = {
			pos = 20,
			quality = 2,
			star = 4,
			posItem = 345204,
		},
		[5] = {
			pos = 20,
			quality = 2,
			star = 5,
			posItem = 345205,
		},
	},
	[3] = {
		[0] = {
			pos = 20,
			quality = 3,
			star = 0,
			posItem = 345300,
		},
		[1] = {
			pos = 20,
			quality = 3,
			star = 1,
			posItem = 345301,
		},
		[2] = {
			pos = 20,
			quality = 3,
			star = 2,
			posItem = 345302,
		},
		[3] = {
			pos = 20,
			quality = 3,
			star = 3,
			posItem = 345303,
		},
		[4] = {
			pos = 20,
			quality = 3,
			star = 4,
			posItem = 345304,
		},
		[5] = {
			pos = 20,
			quality = 3,
			star = 5,
			posItem = 345305,
		},
	},
	[4] = {
		[0] = {
			pos = 20,
			quality = 4,
			star = 0,
			posItem = 345400,
		},
		[1] = {
			pos = 20,
			quality = 4,
			star = 1,
			posItem = 345401,
		},
		[2] = {
			pos = 20,
			quality = 4,
			star = 2,
			posItem = 345402,
		},
		[3] = {
			pos = 20,
			quality = 4,
			star = 3,
			posItem = 345403,
		},
		[4] = {
			pos = 20,
			quality = 4,
			star = 4,
			posItem = 345404,
		},
		[5] = {
			pos = 20,
			quality = 4,
			star = 5,
			posItem = 345405,
		},
	},
},
}