--X-心法.xlsx 心法的技能
HeartMethodSuitConfig={
[1] = {
	[1] = {
		id = 1,
		level = 1,
		attr = {{type=63,value=500}},
	},
	[2] = {
		id = 1,
		level = 2,
		attr = {{type=63,value=1000}},
	},
	[3] = {
		id = 1,
		level = 3,
		attr = {{type=63,value=1500}},
	},
	[4] = {
		id = 1,
		level = 4,
		attr = {{type=63,value=2000}},
	},
},
[2] = {
	[1] = {
		id = 2,
		level = 1,
		attr = {{type=66,value=1000}},
	},
	[2] = {
		id = 2,
		level = 2,
		attr = {{type=66,value=2000}},
	},
	[3] = {
		id = 2,
		level = 3,
		attr = {{type=66,value=3500}},
	},
	[4] = {
		id = 2,
		level = 4,
		attr = {{type=66,value=5000}},
	},
},
[3] = {
	[1] = {
		id = 3,
		level = 1,
		attr = {{type=84,value=10},{type=83,value=2000},{type=83,value=200000}},
		power = 20000,
	},
	[2] = {
		id = 3,
		level = 2,
		attr = {{type=84,value=10},{type=83,value=3000},{type=82,value=300000}},
		power = 50000,
	},
	[3] = {
		id = 3,
		level = 3,
		attr = {{type=84,value=10},{type=83,value=4000},{type=82,value=400000}},
		power = 80000,
	},
	[4] = {
		id = 3,
		level = 4,
		attr = {{type=84,value=10},{type=83,value=5000},{type=82,value=500000}},
		power = 110000,
	},
},
[4] = {
	[1] = {
		id = 4,
		level = 1,
		attr = {{type=2,value=100000},{type=11,value=100}},
		power = 10000,
	},
	[2] = {
		id = 4,
		level = 2,
		attr = {{type=2,value=200000},{type=11,value=200}},
		power = 20000,
	},
	[3] = {
		id = 4,
		level = 3,
		attr = {{type=2,value=300000},{type=11,value=300}},
		power = 30000,
	},
	[4] = {
		id = 4,
		level = 4,
		attr = {{type=2,value=400000},{type=11,value=500}},
		power = 40000,
	},
},
}