--X-心法.xlsx 心法列表
HeartMethodConfig={
[1] = {
	id = 1,
	posList = {1,2,3,4,5},
	splitItem = 311000,
},
[2] = {
	id = 2,
	posList = {6,7,8,9,10},
	splitItem = 311000,
	openCondition = {day=22,zs=5},
	upGradeCondition = 5,
},
[3] = {
	id = 3,
	posList = {11,12,13,14,15},
	splitItem = 311000,
	openCondition = {day=31,zs=7},
	upGradeCondition = 5,
},
[4] = {
	id = 4,
	posList = {16,17,18,19,20},
	splitItem = 311000,
	openCondition = {day=30,zs=6},
	upGradeCondition = 5,
},
}