--T-图鉴系统配置.xlsx 卡牌基础配置
DecomposeConfig={
[1] = {
	id = 1,
	itemId = 260001,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "钉耙猫",
},
[2] = {
	id = 2,
	itemId = 260002,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "稻草人",
},
[3] = {
	id = 3,
	itemId = 260003,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "多钩猫",
},
[4] = {
	id = 4,
	itemId = 260004,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "独角甲虫",
},
[5] = {
	id = 5,
	itemId = 260005,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "黑野猪",
},
[6] = {
	id = 6,
	itemId = 260006,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "红野猪",
},
[7] = {
	id = 7,
	itemId = 260007,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "蜈蚣",
},
[8] = {
	id = 8,
	itemId = 260008,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "红蛇",
},
[9] = {
	id = 9,
	itemId = 260009,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "虎皮蛇",
},
[10] = {
	id = 10,
	itemId = 260010,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "钳虫",
},
[11] = {
	id = 11,
	itemId = 260011,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "钳蛇",
},
[12] = {
	id = 12,
	itemId = 260012,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "邪恶钳虫",
},
[13] = {
	id = 13,
	itemId = 260013,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "触龙神",
},
[14] = {
	id = 14,
	itemId = 260014,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "白野猪",
},
[15] = {
	id = 15,
	itemId = 260015,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "白花蛇",
},
[16] = {
	id = 16,
	itemId = 260016,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "沃玛护卫",
},
[17] = {
	id = 17,
	itemId = 260017,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "沃玛战士",
},
[18] = {
	id = 18,
	itemId = 260018,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "爆裂蜘蛛",
},
[19] = {
	id = 19,
	itemId = 260019,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "毒蜘蛛",
},
[20] = {
	id = 20,
	itemId = 260020,
	value = 25,
	topStar = 10,
	quality = 1,
	name = "祖玛弓箭手",
},
[21] = {
	id = 21,
	itemId = 260021,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "黑蜘蛛",
},
[22] = {
	id = 22,
	itemId = 260022,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "祖玛卫士",
},
[23] = {
	id = 23,
	itemId = 260023,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "黑锷蜘蛛",
},
[24] = {
	id = 24,
	itemId = 260024,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "幻影蜘蛛",
},
[25] = {
	id = 25,
	itemId = 260025,
	value = 150,
	topStar = 10,
	quality = 2,
	name = "沃玛战将",
},
[26] = {
	id = 26,
	itemId = 260026,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "花吻蜘蛛",
},
[27] = {
	id = 27,
	itemId = 260027,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "天狼",
},
[28] = {
	id = 28,
	itemId = 260028,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "祖玛雕像",
},
[29] = {
	id = 29,
	itemId = 260029,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "沃玛勇士",
},
[30] = {
	id = 30,
	itemId = 260030,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "火焰沃玛",
},
[31] = {
	id = 31,
	itemId = 260031,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "沃玛教主",
},
[32] = {
	id = 32,
	itemId = 260032,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "赤月恶魔",
},
[33] = {
	id = 33,
	itemId = 260033,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "祖玛教主",
},
[34] = {
	id = 34,
	itemId = 260034,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "恐惧大魔王",
},
[35] = {
	id = 35,
	itemId = 260035,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "魔叉牛护法",
},
[36] = {
	id = 36,
	itemId = 260036,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "牛魔教主",
},
[37] = {
	id = 37,
	itemId = 260037,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "黑龙",
},
[38] = {
	id = 38,
	itemId = 260038,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "魔龙之主",
},
[39] = {
	id = 39,
	itemId = 260039,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "红衣傀儡",
},
[40] = {
	id = 40,
	itemId = 260040,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "火龙护卫",
},
[41] = {
	id = 41,
	itemId = 260041,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "火龙亲卫",
},
[42] = {
	id = 42,
	itemId = 260042,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "火龙王",
},
[43] = {
	id = 43,
	itemId = 260043,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "火奴",
},
[44] = {
	id = 44,
	itemId = 260044,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "青龙" ,
},
[45] = {
	id = 45,
	itemId = 260045,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "双斧牛勇士",
},
[46] = {
	id = 46,
	itemId = 260046,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "玄武",
},
[47] = {
	id = 47,
	itemId = 260047,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "真云大帝",
},
[48] = {
	id = 48,
	itemId = 260048,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "痴心之媚",
},
[49] = {
	id = 49,
	itemId = 260049,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "龙女",
},
[50] = {
	id = 50,
	itemId = 260050,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "姑射神人",
},
[51] = {
	id = 51,
	itemId = 260051,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "小鸟依人",
},
[52] = {
	id = 52,
	itemId = 260052,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "梦蝶",
},
[53] = {
	id = 53,
	itemId = 260053,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "桃姑",
},
[54] = {
	id = 54,
	itemId = 260054,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "小蜜蜂",
},
[55] = {
	id = 55,
	itemId = 260055,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "深海诱惑",
},
[56] = {
	id = 56,
	itemId = 260056,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "提灯少女",
},
[57] = {
	id = 57,
	itemId = 260057,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "圣母",
},
[58] = {
	id = 58,
	itemId = 260058,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "火辣椒",
},
[59] = {
	id = 59,
	itemId = 260059,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "剑仙",
},
[60] = {
	id = 60,
	itemId = 260060,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "森林之吻",
},
[61] = {
	id = 61,
	itemId = 260061,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "梦中人",
},
[62] = {
	id = 62,
	itemId = 260062,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "花姑",
},
[63] = {
	id = 63,
	itemId = 260063,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "贵妇人",
},
[64] = {
	id = 64,
	itemId = 260064,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "清纯小妹",
},
[65] = {
	id = 65,
	itemId = 260065,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "梦中情人",
},
[66] = {
	id = 66,
	itemId = 260066,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "白虎",
},
[67] = {
	id = 67,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "黄金裁决",
	noticeId = 152,
},
[68] = {
	id = 68,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天魔金甲",
	noticeId = 152,
},
[69] = {
	id = 69,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "圣战金盔",
	noticeId = 152,
},
[70] = {
	id = 70,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "圣战金链",
	noticeId = 152,
},
[71] = {
	id = 71,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "圣战金镯",
	noticeId = 152,
},
[72] = {
	id = 72,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "圣战金戒",
	noticeId = 152,
},
[73] = {
	id = 73,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "圣战金靴",
	noticeId = 152,
},
[74] = {
	id = 74,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "圣战金带",
	noticeId = 152,
},
[75] = {
	id = 75,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "黄金嗜魂",
	noticeId = 152,
},
[76] = {
	id = 76,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "霓裳金衣",
	noticeId = 152,
},
[77] = {
	id = 77,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "法神金冠",
	noticeId = 152,
},
[78] = {
	id = 78,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "法神金链",
	noticeId = 152,
},
[79] = {
	id = 79,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "法神金镯",
	noticeId = 152,
},
[80] = {
	id = 80,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "法神金戒",
	noticeId = 152,
},
[81] = {
	id = 81,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "法神金靴",
	noticeId = 152,
},
[82] = {
	id = 82,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "法神金带",
	noticeId = 152,
},
[83] = {
	id = 83,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "黄金逍遥扇",
	noticeId = 152,
},
[84] = {
	id = 84,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天师金袍",
	noticeId = 152,
},
[85] = {
	id = 85,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天尊金冠",
	noticeId = 152,
},
[86] = {
	id = 86,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天尊金链",
	noticeId = 152,
},
[87] = {
	id = 87,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天尊金镯",
	noticeId = 152,
},
[88] = {
	id = 88,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天尊金戒",
	noticeId = 152,
},
[89] = {
	id = 89,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天尊金靴",
	noticeId = 152,
},
[90] = {
	id = 90,
	itemId = 269999,
	value = 270,
	topStar = 0,
	quality = 4,
	name = "天尊金带",
	noticeId = 152,
},
[91] = {
	id = 91,
	itemId = 260091,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "千帆过尽",
},
[92] = {
	id = 92,
	itemId = 260092,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "汉宫飞燕",
},
[93] = {
	id = 93,
	itemId = 260093,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "月宫婵娟",
},
[94] = {
	id = 94,
	itemId = 260094,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "古墓传说",
},
[95] = {
	id = 95,
	itemId = 260095,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "裙裾如裳",
},
[96] = {
	id = 96,
	itemId = 260096,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "麒麟",
},
[98] = {
	id = 98,
	itemId = 260098,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "雪域傲雪",
},
[99] = {
	id = 99,
	itemId = 260099,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "袅袅素女",
},
[100] = {
	id = 100,
	itemId = 260100,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "红藕香残",
},
[101] = {
	id = 101,
	itemId = 260101,
	value = 750,
	topStar = 10,
	quality = 3,
	name = "艳竞芳华",
},
[102] = {
	id = 102,
	itemId = 260102,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "怀中藏月",
},
[103] = {
	id = 103,
	itemId = 260103,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "紫袖红弦",
},
[104] = {
	id = 104,
	itemId = 260104,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "半月红妆",
},
[105] = {
	id = 105,
	itemId = 260105,
	value = 1500,
	topStar = 10,
	quality = 4,
	name = "夕阳沐枫",
},
[106] = {
	id = 106,
	itemId = 260106,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "巧笑倩兮",
},
[107] = {
	id = 107,
	itemId = 260107,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "美目盼兮",
},
[108] = {
	id = 108,
	itemId = 260108,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "春水浣纱",
},
[109] = {
	id = 109,
	itemId = 260109,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "恨倚黄昏",
},
[110] = {
	id = 110,
	itemId = 260110,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "青女飞霜",
},
[111] = {
	id = 111,
	itemId = 260111,
	value = 3000,
	topStar = 10,
	quality = 5,
	name = "九霄明月",
},
}