--T-图鉴系统配置.xlsx 套装配置
SuitConfig={
[1] = {
	[1] = {
		id = 1,
		level = 1,
		idList = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15},
		count = 3,
		attrs = {{type=4,value=160},{type=5,value=40},{type=6,value=40},{type=2,value=2160}},
	},
	[2] = {
		id = 1,
		level = 2,
		idList = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15},
		count = 7,
		attrs = {{type=4,value=320},{type=5,value=80},{type=6,value=80},{type=2,value=4320}},
	},
	[3] = {
		id = 1,
		level = 3,
		idList = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15},
		count = 11,
		attrs = {{type=4,value=480},{type=5,value=120},{type=6,value=120},{type=2,value=6480}},
	},
	[4] = {
		id = 1,
		level = 4,
		idList = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15},
		count = 15,
		attrs = {{type=4,value=640},{type=5,value=160},{type=6,value=160},{type=2,value=8640}},
	},
},
[2] = {
	[1] = {
		id = 2,
		level = 1,
		idList = {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33},
		count = 3,
		attrs = {{type=4,value=160},{type=5,value=40},{type=6,value=40},{type=2,value=2160}},
	},
	[2] = {
		id = 2,
		level = 2,
		idList = {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33},
		count = 6,
		attrs = {{type=4,value=320},{type=5,value=80},{type=6,value=80},{type=2,value=4320}},
	},
	[3] = {
		id = 2,
		level = 3,
		idList = {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33},
		count = 9,
		attrs = {{type=4,value=480},{type=5,value=120},{type=6,value=120},{type=2,value=6480}},
	},
	[4] = {
		id = 2,
		level = 4,
		idList = {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33},
		count = 13,
		attrs = {{type=4,value=640},{type=5,value=160},{type=6,value=160},{type=2,value=8640}},
	},
	[5] = {
		id = 2,
		level = 5,
		idList = {16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33},
		count = 18,
		attrs = {{type=4,value=800},{type=5,value=200},{type=6,value=200},{type=2,value=10800}},
	},
},
[3] = {
	[1] = {
		id = 3,
		level = 1,
		idList = {35,37,39,40,41,43,45,47},
		count = 3,
		attrs = {{type=4,value=240},{type=5,value=60},{type=6,value=60},{type=2,value=3240}},
	},
	[2] = {
		id = 3,
		level = 2,
		idList = {35,37,39,40,41,43,45,47},
		count = 4,
		attrs = {{type=4,value=480},{type=5,value=120},{type=6,value=120},{type=2,value=6480}},
	},
	[3] = {
		id = 3,
		level = 3,
		idList = {35,37,39,40,41,43,45,47},
		count = 10,
		attrs = {{type=4,value=720},{type=5,value=180},{type=6,value=180},{type=2,value=9720}},
	},
	[4] = {
		id = 3,
		level = 4,
		idList = {35,37,39,40,41,43,45,47},
		count = 14,
		attrs = {{type=4,value=960},{type=5,value=240},{type=6,value=240},{type=2,value=12960}},
	},
},
[4] = {
	[1] = {
		id = 4,
		level = 1,
		idList = {48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,91,92,93,94,95},
		count = 3,
		attrs = {{type=4,value=160},{type=5,value=40},{type=6,value=40},{type=2,value=2160}},
	},
	[2] = {
		id = 4,
		level = 2,
		idList = {48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,91,92,93,94,95},
		count = 6,
		attrs = {{type=4,value=320},{type=5,value=80},{type=6,value=80},{type=2,value=4320}},
	},
	[3] = {
		id = 4,
		level = 3,
		idList = {48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,91,92,93,94,95},
		count = 9,
		attrs = {{type=4,value=480},{type=5,value=120},{type=6,value=120},{type=2,value=6480}},
	},
	[4] = {
		id = 4,
		level = 4,
		idList = {48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,91,92,93,94,95},
		count = 13,
		attrs = {{type=4,value=640},{type=5,value=160},{type=6,value=160},{type=2,value=8640}},
	},
	[5] = {
		id = 4,
		level = 5,
		idList = {48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,91,92,93,94,95},
		count = 18,
		attrs = {{type=4,value=800},{type=5,value=200},{type=6,value=200},{type=2,value=10800}},
	},
},
[5] = {
	[1] = {
		id = 5,
		level = 1,
		idList = {36,38,42,34,96,46,44,66},
		count = 3,
		attrs = {{type=4,value=480},{type=5,value=120},{type=6,value=120},{type=2,value=6480}},
	},
	[2] = {
		id = 5,
		level = 2,
		idList = {36,38,42,34,96,46,44,66},
		count = 5,
		attrs = {{type=4,value=720},{type=5,value=180},{type=6,value=180},{type=2,value=9720}},
	},
	[3] = {
		id = 5,
		level = 3,
		idList = {36,38,42,34,96,46,44,66},
		count = 7,
		attrs = {{type=4,value=960},{type=5,value=240},{type=6,value=240},{type=2,value=12960}},
	},
},
[6] = {
	[1] = {
		id = 6,
		level = 1,
		idList = {67,68,69,70,71,72,73,74},
		count = 4,
		attrs = {{type=4,value=400},{type=5,value=100},{type=6,value=100},{type=2,value=5400}},
	},
	[2] = {
		id = 6,
		level = 2,
		idList = {67,68,69,70,71,72,73,74},
		count = 8,
		attrs = {{type=4,value=800},{type=5,value=200},{type=6,value=200},{type=2,value=10800}},
	},
},
[7] = {
	[1] = {
		id = 7,
		level = 1,
		idList = {75,76,77,78,79,80,81,82},
		count = 4,
		attrs = {{type=4,value=400},{type=5,value=100},{type=6,value=100},{type=2,value=5400}},
	},
	[2] = {
		id = 7,
		level = 2,
		idList = {75,76,77,78,79,80,81,82},
		count = 8,
		attrs = {{type=4,value=800},{type=5,value=200},{type=6,value=200},{type=2,value=10800}},
	},
},
[8] = {
	[1] = {
		id = 8,
		level = 1,
		idList = {83,84,85,86,87,88,89,90},
		count = 4,
		attrs = {{type=4,value=400},{type=5,value=100},{type=6,value=100},{type=2,value=5400}},
	},
	[2] = {
		id = 8,
		level = 2,
		idList = {83,84,85,86,87,88,89,90},
		count = 8,
		attrs = {{type=4,value=800},{type=5,value=200},{type=6,value=200},{type=2,value=10800}},
	},
},
[9] = {
	[1] = {
		id = 9,
		level = 1,
		idList = {98,99,100,101,102,103,104,105,106,107,108,109,110,111},
		count = 3,
		attrs = {{type=4,value=240},{type=5,value=60},{type=6,value=60},{type=2,value=3240}},
	},
	[2] = {
		id = 9,
		level = 2,
		idList = {98,99,100,101,102,103,104,105,106,107,108,109,110,111},
		count = 4,
		attrs = {{type=4,value=480},{type=5,value=120},{type=6,value=120},{type=2,value=6480}},
	},
	[3] = {
		id = 9,
		level = 3,
		idList = {98,99,100,101,102,103,104,105,106,107,108,109,110,111},
		count = 10,
		attrs = {{type=4,value=720},{type=5,value=180},{type=6,value=180},{type=2,value=9720}},
	},
	[4] = {
		id = 9,
		level = 4,
		idList = {98,99,100,101,102,103,104,105,106,107,108,109,110,111},
		count = 14,
		attrs = {{type=4,value=960},{type=5,value=240},{type=6,value=240},{type=2,value=12960}},
	},
},
}