--H-合击系统.xlsx 合击注灵大师
PunchEquipMasterConfig={
[1] = {
	level = 1,
	exattr = {{type=20,value=50}},
	exPower = 2500,
},
[2] = {
	level = 2,
	exattr = {{type=20,value=100}},
	exPower = 5000,
},
[3] = {
	level = 3,
	exattr = {{type=20,value=150}},
	exPower = 7500,
},
[4] = {
	level = 4,
	exattr = {{type=20,value=200}},
	exPower = 10000,
},
[5] = {
	level = 5,
	exattr = {{type=20,value=250}},
	exPower = 12500,
},
[6] = {
	level = 6,
	exattr = {{type=20,value=300}},
	exPower = 15000,
},
[7] = {
	level = 7,
	exattr = {{type=20,value=350}},
	exPower = 17500,
},
[8] = {
	level = 8,
	exattr = {{type=20,value=400}},
	exPower = 20000,
},
[9] = {
	level = 9,
	exattr = {{type=20,value=450}},
	exPower = 22500,
},
[10] = {
	level = 10,
	exattr = {{type=20,value=500}},
	exPower = 25000,
},
[11] = {
	level = 11,
	exattr = {{type=20,value=600}},
	exPower = 30000,
},
[12] = {
	level = 12,
	exattr = {{type=20,value=700}},
	exPower = 35000,
},
[13] = {
	level = 13,
	exattr = {{type=20,value=800}},
	exPower = 40000,
},
[14] = {
	level = 14,
	exattr = {{type=20,value=900}},
	exPower = 45000,
},
[15] = {
	level = 15,
	exattr = {{type=20,value=1000}},
	exPower = 50000,
},
[16] = {
	level = 16,
	exattr = {{type=20,value=1100}},
	exPower = 55000,
},
[17] = {
	level = 17,
	exattr = {{type=20,value=1200}},
	exPower = 60000,
},
[18] = {
	level = 18,
	exattr = {{type=20,value=1300}},
	exPower = 65000,
},
[19] = {
	level = 19,
	exattr = {{type=20,value=1400}},
	exPower = 70000,
},
[20] = {
	level = 20,
	exattr = {{type=20,value=1500}},
	exPower = 75000,
},
[21] = {
	level = 21,
	exattr = {{type=20,value=1600}},
	exPower = 80000,
},
[22] = {
	level = 22,
	exattr = {{type=20,value=1700}},
	exPower = 85000,
},
[23] = {
	level = 23,
	exattr = {{type=20,value=1800}},
	exPower = 90000,
},
[24] = {
	level = 24,
	exattr = {{type=20,value=1900}},
	exPower = 95000,
},
[25] = {
	level = 25,
	exattr = {{type=20,value=2000}},
	exPower = 100000,
},
[26] = {
	level = 26,
	exattr = {{type=20,value=2100}},
	exPower = 105000,
},
[27] = {
	level = 27,
	exattr = {{type=20,value=2200}},
	exPower = 110000,
},
[28] = {
	level = 28,
	exattr = {{type=20,value=2300}},
	exPower = 115000,
},
[29] = {
	level = 29,
	exattr = {{type=20,value=2400}},
	exPower = 120000,
},
[30] = {
	level = 30,
	exattr = {{type=20,value=2500}},
	exPower = 125000,
},
[31] = {
	level = 31,
	exattr = {{type=20,value=2600}},
	exPower = 130000,
},
[32] = {
	level = 32,
	exattr = {{type=20,value=2700}},
	exPower = 135000,
},
[33] = {
	level = 33,
	exattr = {{type=20,value=2800}},
	exPower = 140000,
},
[34] = {
	level = 34,
	exattr = {{type=20,value=2900}},
	exPower = 145000,
},
[35] = {
	level = 35,
	exattr = {{type=20,value=3000}},
	exPower = 150000,
},
[36] = {
	level = 36,
	exattr = {{type=20,value=3100}},
	exPower = 155000,
},
[37] = {
	level = 37,
	exattr = {{type=20,value=3200}},
	exPower = 160000,
},
[38] = {
	level = 38,
	exattr = {{type=20,value=3300}},
	exPower = 165000,
},
[39] = {
	level = 39,
	exattr = {{type=20,value=3400}},
	exPower = 170000,
},
[40] = {
	level = 40,
	exattr = {{type=20,value=3500}},
	exPower = 175000,
},
[41] = {
	level = 41,
	exattr = {{type=20,value=3600}},
	exPower = 180000,
},
[42] = {
	level = 42,
	exattr = {{type=20,value=3700}},
	exPower = 185000,
},
[43] = {
	level = 43,
	exattr = {{type=20,value=3800}},
	exPower = 190000,
},
[44] = {
	level = 44,
	exattr = {{type=20,value=3900}},
	exPower = 195000,
},
[45] = {
	level = 45,
	exattr = {{type=20,value=4000}},
	exPower = 200000,
},
[46] = {
	level = 46,
	exattr = {{type=20,value=4100}},
	exPower = 205000,
},
[47] = {
	level = 47,
	exattr = {{type=20,value=4200}},
	exPower = 210000,
},
[48] = {
	level = 48,
	exattr = {{type=20,value=4300}},
	exPower = 215000,
},
[49] = {
	level = 49,
	exattr = {{type=20,value=4400}},
	exPower = 220000,
},
[50] = {
	level = 50,
	exattr = {{type=20,value=4500}},
	exPower = 225000,
},
[51] = {
	level = 51,
	exattr = {{type=20,value=4600}},
	exPower = 230000,
},
[52] = {
	level = 52,
	exattr = {{type=20,value=4700}},
	exPower = 235000,
},
[53] = {
	level = 53,
	exattr = {{type=20,value=4800}},
	exPower = 240000,
},
[54] = {
	level = 54,
	exattr = {{type=20,value=4900}},
	exPower = 245000,
},
[55] = {
	level = 55,
	exattr = {{type=20,value=5000}},
	exPower = 250000,
},
[56] = {
	level = 56,
	exattr = {{type=20,value=5100}},
	exPower = 255000,
},
[57] = {
	level = 57,
	exattr = {{type=20,value=5200}},
	exPower = 260000,
},
[58] = {
	level = 58,
	exattr = {{type=20,value=5300}},
	exPower = 265000,
},
[59] = {
	level = 59,
	exattr = {{type=20,value=5400}},
	exPower = 270000,
},
[60] = {
	level = 60,
	exattr = {{type=20,value=5500}},
	exPower = 275000,
},
}