--H-合击系统.xlsx 合击装备兑换
TogetherHitEquipExchangeConfig={
[1] = {
	id = 1,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910001,count=1},
	level = 60,
	zsLevel = 0,
},
[2] = {
	id = 2,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910002,count=1},
	level = 60,
	zsLevel = 0,
},
[3] = {
	id = 3,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910003,count=1},
	level = 60,
	zsLevel = 0,
},
[4] = {
	id = 4,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910004,count=1},
	level = 60,
	zsLevel = 0,
},
[5] = {
	id = 5,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910005,count=1},
	level = 60,
	zsLevel = 0,
},
[6] = {
	id = 6,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910006,count=1},
	level = 60,
	zsLevel = 0,
},
[7] = {
	id = 7,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910007,count=1},
	level = 60,
	zsLevel = 0,
},
[8] = {
	id = 8,
	exchangeMaterial = {{type=0,id=11,count=15}},
	getItem = {type=1,id=910008,count=1},
	level = 60,
	zsLevel = 0,
},
[9] = {
	id = 9,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910011,count=1},
	level = 80,
	zsLevel = 1,
},
[10] = {
	id = 10,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910012,count=1},
	level = 80,
	zsLevel = 1,
},
[11] = {
	id = 11,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910013,count=1},
	level = 80,
	zsLevel = 1,
},
[12] = {
	id = 12,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910014,count=1},
	level = 80,
	zsLevel = 1,
},
[13] = {
	id = 13,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910015,count=1},
	level = 80,
	zsLevel = 1,
},
[14] = {
	id = 14,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910016,count=1},
	level = 80,
	zsLevel = 1,
},
[15] = {
	id = 15,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910017,count=1},
	level = 80,
	zsLevel = 1,
},
[16] = {
	id = 16,
	exchangeMaterial = {{type=0,id=11,count=80}},
	getItem = {type=1,id=910018,count=1},
	level = 80,
	zsLevel = 1,
},
[17] = {
	id = 17,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910021,count=1},
	level = 80,
	zsLevel = 3,
},
[18] = {
	id = 18,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910022,count=1},
	level = 80,
	zsLevel = 3,
},
[19] = {
	id = 19,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910023,count=1},
	level = 80,
	zsLevel = 3,
},
[20] = {
	id = 20,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910024,count=1},
	level = 80,
	zsLevel = 3,
},
[21] = {
	id = 21,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910025,count=1},
	level = 80,
	zsLevel = 3,
},
[22] = {
	id = 22,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910026,count=1},
	level = 80,
	zsLevel = 3,
},
[23] = {
	id = 23,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910027,count=1},
	level = 80,
	zsLevel = 3,
},
[24] = {
	id = 24,
	exchangeMaterial = {{type=0,id=11,count=200}},
	getItem = {type=1,id=910028,count=1},
	level = 80,
	zsLevel = 3,
},
[25] = {
	id = 25,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910031,count=1},
	level = 80,
	zsLevel = 4,
},
[26] = {
	id = 26,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910032,count=1},
	level = 80,
	zsLevel = 4,
},
[27] = {
	id = 27,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910033,count=1},
	level = 80,
	zsLevel = 4,
},
[28] = {
	id = 28,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910034,count=1},
	level = 80,
	zsLevel = 4,
},
[29] = {
	id = 29,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910035,count=1},
	level = 80,
	zsLevel = 4,
},
[30] = {
	id = 30,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910036,count=1},
	level = 80,
	zsLevel = 4,
},
[31] = {
	id = 31,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910037,count=1},
	level = 80,
	zsLevel = 4,
},
[32] = {
	id = 32,
	exchangeMaterial = {{type=0,id=11,count=600}},
	getItem = {type=1,id=910038,count=1},
	level = 80,
	zsLevel = 4,
},
[33] = {
	id = 33,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910041,count=1},
	level = 80,
	zsLevel = 5,
},
[34] = {
	id = 34,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910042,count=1},
	level = 80,
	zsLevel = 5,
},
[35] = {
	id = 35,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910043,count=1},
	level = 80,
	zsLevel = 5,
},
[36] = {
	id = 36,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910044,count=1},
	level = 80,
	zsLevel = 5,
},
[37] = {
	id = 37,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910045,count=1},
	level = 80,
	zsLevel = 5,
},
[38] = {
	id = 38,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910046,count=1},
	level = 80,
	zsLevel = 5,
},
[39] = {
	id = 39,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910047,count=1},
	level = 80,
	zsLevel = 5,
},
[40] = {
	id = 40,
	exchangeMaterial = {{type=0,id=12,count=30}},
	getItem = {type=1,id=910048,count=1},
	level = 80,
	zsLevel = 5,
},
[41] = {
	id = 41,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910051,count=1},
	level = 80,
	zsLevel = 6,
},
[42] = {
	id = 42,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910052,count=1},
	level = 80,
	zsLevel = 6,
},
[43] = {
	id = 43,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910053,count=1},
	level = 80,
	zsLevel = 6,
},
[44] = {
	id = 44,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910054,count=1},
	level = 80,
	zsLevel = 6,
},
[45] = {
	id = 45,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910055,count=1},
	level = 80,
	zsLevel = 6,
},
[46] = {
	id = 46,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910056,count=1},
	level = 80,
	zsLevel = 6,
},
[47] = {
	id = 47,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910057,count=1},
	level = 80,
	zsLevel = 6,
},
[48] = {
	id = 48,
	exchangeMaterial = {{type=0,id=12,count=70}},
	getItem = {type=1,id=910058,count=1},
	level = 80,
	zsLevel = 6,
},
[49] = {
	id = 49,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910061,count=1},
	level = 80,
	zsLevel = 7,
},
[50] = {
	id = 50,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910062,count=1},
	level = 80,
	zsLevel = 7,
},
[51] = {
	id = 51,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910063,count=1},
	level = 80,
	zsLevel = 7,
},
[52] = {
	id = 52,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910064,count=1},
	level = 80,
	zsLevel = 7,
},
[53] = {
	id = 53,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910065,count=1},
	level = 80,
	zsLevel = 7,
},
[54] = {
	id = 54,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910066,count=1},
	level = 80,
	zsLevel = 7,
},
[55] = {
	id = 55,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910067,count=1},
	level = 80,
	zsLevel = 7,
},
[56] = {
	id = 56,
	exchangeMaterial = {{type=0,id=12,count=120}},
	getItem = {type=1,id=910068,count=1},
	level = 80,
	zsLevel = 7,
},
}