--H-合击系统.xlsx 合击装备齐鸣
TogetherHitEquipQmConfig={
[0] = {
	[60] = {
		[3] = {
			zslv = 0,
			lv = 60,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36001,
		},
		[5] = {
			zslv = 0,
			lv = 60,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36002,
		},
		[8] = {
			zslv = 0,
			lv = 60,
			num = 8,
			exAttr = {{type=23,value=1000}},
			noticeId = 132,
			desc = LAN.CHAR.jn36003,
		},
	},
},
[1] = {
	[80] = {
		[3] = {
			zslv = 1,
			lv = 80,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36004,
		},
		[5] = {
			zslv = 1,
			lv = 80,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36005,
		},
		[8] = {
			zslv = 1,
			lv = 80,
			num = 8,
			exAttr = {{type=23,value=700}},
			noticeId = 133,
			desc = LAN.CHAR.jn36006,
		},
	},
},
[3] = {
	[80] = {
		[3] = {
			zslv = 3,
			lv = 80,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36007,
		},
		[5] = {
			zslv = 3,
			lv = 80,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36008,
		},
		[8] = {
			zslv = 3,
			lv = 80,
			num = 8,
			exAttr = {{type=23,value=700}},
			noticeId = 134,
			desc = LAN.CHAR.jn36009,
		},
	},
},
[4] = {
	[80] = {
		[3] = {
			zslv = 4,
			lv = 80,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36010,
		},
		[5] = {
			zslv = 4,
			lv = 80,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36011,
		},
		[8] = {
			zslv = 4,
			lv = 80,
			num = 8,
			exAttr = {{type=23,value=400}},
			noticeId = 134,
			desc = LAN.CHAR.jn36012,
		},
	},
},
[5] = {
	[80] = {
		[3] = {
			zslv = 5,
			lv = 80,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36013,
		},
		[5] = {
			zslv = 5,
			lv = 80,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36014,
		},
		[8] = {
			zslv = 5,
			lv = 80,
			num = 8,
			exAttr = {{type=23,value=500}},
			noticeId = 134,
			desc = LAN.CHAR.jn36015,
		},
	},
},
[6] = {
	[80] = {
		[3] = {
			zslv = 6,
			lv = 80,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36016,
		},
		[5] = {
			zslv = 6,
			lv = 80,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36017,
		},
		[8] = {
			zslv = 6,
			lv = 80,
			num = 8,
			exAttr = {{type=23,value=400}},
			noticeId = 134,
			desc = LAN.CHAR.jn36018,
		},
	},
},
[7] = {
	[80] = {
		[3] = {
			zslv = 7,
			lv = 80,
			num = 3,
			exAttr = {{type=22,value=2000}},
			desc = LAN.CHAR.jn36019,
		},
		[5] = {
			zslv = 7,
			lv = 80,
			num = 5,
			exAttr = {{type=21,value=15000}},
			desc = LAN.CHAR.jn36020,
		},
		[8] = {
			zslv = 7,
			lv = 80,
			num = 8,
			exAttr = {{type=23,value=400}},
			noticeId = 134,
			desc = LAN.CHAR.jn36021,
		},
	},
},
}