--T-特戒系统.xlsx 麻痹戒指
ExRing0Config={
[0] = {
	level = 0,
	cost = 1,
	attrAward = {},
	extAttrAward = {},
},
[1] = {
	level = 1,
	cost = 0,
	attrAward = {{type=13,value=800},{type=4,value=320},{type=5,value=80},{type=6,value=80},{type=2,value=17800},{type=15,value=1500}},
	extAttrAward = {{type=36,value=30000}},
	power = 1000,
},
}