--C-翅膀配置表.xlsx 神羽道具配置表
GodWingItemConfig={
[601101] = {
	itemId = 601101,
	level = 2,
	slot = 1,
	composeItem = {id=601000,count=20},
	needMoney = 500,
	attr = {{type=4,value=2450},{type=5,value=700}},
	exattr = {{type=26,value=120}},
	exPower = 23920,
},
[601102] = {
	itemId = 601102,
	level = 4,
	slot = 1,
	composeItem = {id=601101,count=3},
	needMoney = 1000,
	attr = {{type=4,value=4900},{type=5,value=1400}},
	exattr = {{type=26,value=250}},
	exPower = 49840,
},
[601103] = {
	itemId = 601103,
	level = 6,
	slot = 1,
	composeItem = {id=601102,count=3},
	needMoney = 1500,
	attr = {{type=4,value=9800},{type=5,value=2800}},
	exattr = {{type=26,value=450}},
	exPower = 89680,
},
[601104] = {
	itemId = 601104,
	level = 7,
	slot = 1,
	composeItem = {id=601103,count=3},
	needMoney = 2000,
	attr = {{type=4,value=19600},{type=5,value=5600}},
	exattr = {{type=26,value=750}},
	exPower = 149360,
},
[601105] = {
	itemId = 601105,
	level = 8,
	slot = 1,
	composeItem = {id=601104,count=3},
	needMoney = 2500,
	attr = {{type=4,value=36750},{type=5,value=10500}},
	exattr = {{type=26,value=1200}},
	exPower = 238800,
},
[601201] = {
	itemId = 601201,
	level = 2,
	slot = 2,
	composeItem = {id=601000,count=20},
	needMoney = 500,
	attr = {{type=4,value=2450},{type=6,value=700}},
	exattr = {{type=42,value=120}},
	exPower = 23920,
},
[601202] = {
	itemId = 601202,
	level = 4,
	slot = 2,
	composeItem = {id=601201,count=3},
	needMoney = 1000,
	attr = {{type=4,value=4900},{type=6,value=1400}},
	exattr = {{type=42,value=250}},
	exPower = 49840,
},
[601203] = {
	itemId = 601203,
	level = 6,
	slot = 2,
	composeItem = {id=601202,count=3},
	needMoney = 1500,
	attr = {{type=4,value=9800},{type=6,value=2800}},
	exattr = {{type=42,value=450}},
	exPower = 89680,
},
[601204] = {
	itemId = 601204,
	level = 7,
	slot = 2,
	composeItem = {id=601203,count=3},
	needMoney = 2000,
	attr = {{type=4,value=19600},{type=6,value=5600}},
	exattr = {{type=42,value=750}},
	exPower = 149360,
},
[601205] = {
	itemId = 601205,
	level = 8,
	slot = 2,
	composeItem = {id=601204,count=3},
	needMoney = 2500,
	attr = {{type=4,value=36750},{type=6,value=10500}},
	exattr = {{type=42,value=1200}},
	exPower = 238800,
},
[601301] = {
	itemId = 601301,
	level = 2,
	slot = 3,
	composeItem = {id=601000,count=20},
	needMoney = 500,
	attr = {{type=5,value=700},{type=6,value=700},{type=2,value=37500}},
	exattr = {{type=26,value=120}},
	exPower = 23980,
},
[601302] = {
	itemId = 601302,
	level = 4,
	slot = 3,
	composeItem = {id=601301,count=3},
	needMoney = 1000,
	attr = {{type=5,value=1400},{type=6,value=1400},{type=2,value=75000}},
	exattr = {{type=26,value=250}},
	exPower = 49960,
},
[601303] = {
	itemId = 601303,
	level = 6,
	slot = 3,
	composeItem = {id=601302,count=3},
	needMoney = 1500,
	attr = {{type=5,value=2800},{type=6,value=2800},{type=2,value=150000}},
	exattr = {{type=26,value=450}},
	exPower = 89920,
},
[601304] = {
	itemId = 601304,
	level = 7,
	slot = 3,
	composeItem = {id=601303,count=3},
	needMoney = 2000,
	attr = {{type=5,value=5600},{type=6,value=5600},{type=2,value=300000}},
	exattr = {{type=26,value=750}},
	exPower = 149840,
},
[601305] = {
	itemId = 601305,
	level = 8,
	slot = 3,
	composeItem = {id=601304,count=3},
	needMoney = 2500,
	attr = {{type=5,value=10500},{type=6,value=10500},{type=2,value=562500}},
	exattr = {{type=26,value=1200}},
	exPower = 239700,
},
[601401] = {
	itemId = 601401,
	level = 2,
	slot = 4,
	composeItem = {id=601000,count=20},
	needMoney = 500,
	attr = {{type=4,value=700},{type=2,value=37500}},
	exattr = {{type=42,value=120}},
	exPower = 23980,
},
[601402] = {
	itemId = 601402,
	level = 4,
	slot = 4,
	composeItem = {id=601401,count=3},
	needMoney = 1000,
	attr = {{type=4,value=1400},{type=2,value=75000}},
	exattr = {{type=42,value=250}},
	exPower = 49960,
},
[601403] = {
	itemId = 601403,
	level = 6,
	slot = 4,
	composeItem = {id=601402,count=3},
	needMoney = 1500,
	attr = {{type=4,value=2800},{type=2,value=150000}},
	exattr = {{type=42,value=450}},
	exPower = 89920,
},
[601404] = {
	itemId = 601404,
	level = 7,
	slot = 4,
	composeItem = {id=601403,count=3},
	needMoney = 2000,
	attr = {{type=4,value=5600},{type=2,value=300000}},
	exattr = {{type=42,value=750}},
	exPower = 149840,
},
[601405] = {
	itemId = 601405,
	level = 8,
	slot = 4,
	composeItem = {id=601404,count=3},
	needMoney = 2500,
	attr = {{type=4,value=10500},{type=2,value=562500}},
	exattr = {{type=42,value=1200}},
	exPower = 239700,
},
}