--C-翅膀配置表.xlsx 神羽阶级配置表
GodWingLevelConfig={
[2] = {
	[1] = {
		level = 2,
		slot = 1,
		itemId = 601101,
	},
	[2] = {
		level = 2,
		slot = 2,
		itemId = 601201,
	},
	[3] = {
		level = 2,
		slot = 3,
		itemId = 601301,
	},
	[4] = {
		level = 2,
		slot = 4,
		itemId = 601401,
	},
},
[4] = {
	[1] = {
		level = 4,
		slot = 1,
		itemId = 601102,
	},
	[2] = {
		level = 4,
		slot = 2,
		itemId = 601202,
	},
	[3] = {
		level = 4,
		slot = 3,
		itemId = 601302,
	},
	[4] = {
		level = 4,
		slot = 4,
		itemId = 601402,
	},
},
[6] = {
	[1] = {
		level = 6,
		slot = 1,
		itemId = 601103,
	},
	[2] = {
		level = 6,
		slot = 2,
		itemId = 601203,
	},
	[3] = {
		level = 6,
		slot = 3,
		itemId = 601303,
	},
	[4] = {
		level = 6,
		slot = 4,
		itemId = 601403,
	},
},
[7] = {
	[1] = {
		level = 7,
		slot = 1,
		itemId = 601104,
	},
	[2] = {
		level = 7,
		slot = 2,
		itemId = 601204,
	},
	[3] = {
		level = 7,
		slot = 3,
		itemId = 601304,
	},
	[4] = {
		level = 7,
		slot = 4,
		itemId = 601404,
	},
},
[8] = {
	[1] = {
		level = 8,
		slot = 1,
		itemId = 601105,
	},
	[2] = {
		level = 8,
		slot = 2,
		itemId = 601205,
	},
	[3] = {
		level = 8,
		slot = 3,
		itemId = 601305,
	},
	[4] = {
		level = 8,
		slot = 4,
		itemId = 601405,
	},
},
}