--C-翅膀配置表.xlsx 翅膀零散配置
WingCommonConfig={
	openLevel = 42,
	levelItemid = 200150,
	levelItemidStage = 5,
	levelExpChange = {{type=1,id=200001,count=300}},
	attrPillId = 200328,
	attrPill = {{type=4,value=300},{type=5,value=75},{type=6,value=75},{type=2,value=4050}},
	flyPillId = 200329,
	flyPill = 100,
	flyPillAttr = {{type=4,value=600},{type=5,value=150},{type=6,value=150},{type=2,value=8100}},
	tempattr = 0.2,
	ctimeClearMail = {98,99,100},
	openDay = 3,
	activityRate = {[439]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}},[447]={{rate=35,times=2},{rate=10,times=5},{rate=55,times=1}}},
}