--C-翅膀配置表.xlsx 翅膀等级表
WingLevelConfig={
[0] = {
	level = 0,
	exp = 240,
	itemId = 200001,
	itemNum = 2,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=200},{type=5,value=50},{type=6,value=50},{type=2,value=2700}},
	attrPill = 50,
	flyPill = 25,
},
[1] = {
	level = 1,
	exp = 350,
	itemId = 200001,
	itemNum = 3,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=1400},{type=5,value=350},{type=6,value=350},{type=2,value=18900}},
	attrPill = 100,
	flyPill = 50,
},
[2] = {
	level = 2,
	exp = 720,
	itemId = 200001,
	itemNum = 4,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=3400},{type=5,value=850},{type=6,value=850},{type=2,value=45900}},
	attrPill = 150,
	flyPill = 75,
},
[3] = {
	level = 3,
	exp = 950,
	itemId = 200001,
	itemNum = 5,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	clearTime = 86400,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=7400},{type=5,value=1850},{type=6,value=1850},{type=2,value=99900}},
	pasSkillId = 91001,
	attrPill = 200,
	flyPill = 100,
},
[4] = {
	level = 4,
	exp = 1000,
	itemId = 200001,
	itemNum = 7,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	clearTime = 86400,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=12200},{type=5,value=3050},{type=6,value=3050},{type=2,value=164700}},
	attrPill = 250,
	flyPill = 125,
},
[5] = {
	level = 5,
	exp = 1250,
	itemId = 200001,
	itemNum = 9,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	clearTime = 86400,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=17800},{type=5,value=4450},{type=6,value=4450},{type=2,value=240300}},
	pasSkillId = 92001,
	attrPill = 300,
	flyPill = 150,
},
[6] = {
	level = 6,
	exp = 1800,
	itemId = 200001,
	itemNum = 12,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	clearTime = 86400,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=24600},{type=5,value=6150},{type=6,value=6150},{type=2,value=332100}},
	attrPill = 400,
	flyPill = 200,
},
[7] = {
	level = 7,
	exp = 2300,
	itemId = 200001,
	itemNum = 14,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	clearTime = 86400,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=33400},{type=5,value=8350},{type=6,value=8350},{type=2,value=450900}},
	pasSkillId = 93001,
	attrPill = 500,
	flyPill = 250,
},
[8] = {
	level = 8,
	exp = 3000,
	itemId = 200001,
	itemNum = 16,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	clearTime = 86400,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=44200},{type=5,value=11050},{type=6,value=11050},{type=2,value=596700}},
	pasSkillId = 94001,
	attrPill = 700,
	flyPill = 350,
},
[9] = {
	level = 9,
	exp = 0,
	itemId = 200001,
	itemNum = 0,
	itemPrice = 100,
	oneKeyLvUpExpPer = 65,
	oneKeyLvUp = 20,
	specialBaseExp = 8,
	specialRate = {{times=1,rate=25},{times=2,rate=30},{times=3,rate=25},{times=4,rate=10}},
	attr = {{type=4,value=57000},{type=5,value=14250},{type=6,value=14250},{type=2,value=769500}},
	pasSkillId = 95001,
	attrPill = 1000,
	flyPill = 500,
},
}