--C-称号配置.xlsx 排行榜发称号配置
RankTitleConf={
[1] = {
	rName = "skirmishrank",
	rIdx = 1,
	tId = 2,
},
[2] = {
	rName = "skirmishrank",
	rIdx = 2,
	tId = 3,
},
[3] = {
	rName = "skirmishrank",
	rIdx = 3,
	tId = 3,
},
[4] = {
	rName = "skirmishrank",
	rIdx = 4,
	tId = 3,
},
[5] = {
	rName = "skirmishrank",
	rIdx = 5,
	tId = 3,
},
[6] = {
	rName = "skirmishrank",
	rIdx = 6,
	tId = 3,
},
[7] = {
	rName = "skirmishrank",
	rIdx = 7,
	tId = 3,
},
[8] = {
	rName = "skirmishrank",
	rIdx = 8,
	tId = 3,
},
[9] = {
	rName = "skirmishrank",
	rIdx = 9,
	tId = 3,
},
[10] = {
	rName = "skirmishrank",
	rIdx = 10,
	tId = 3,
},
[11] = {
	rId = 0,
	rIdx = 1,
	tId = 5,
},
[12] = {
	rId = 0,
	rIdx = 2,
	tId = 6,
},
[13] = {
	rId = 0,
	rIdx = 3,
	tId = 6,
},
[14] = {
	rId = 0,
	rIdx = 4,
	tId = 6,
},
[15] = {
	rId = 0,
	rIdx = 5,
	tId = 6,
},
[16] = {
	rId = 0,
	rIdx = 6,
	tId = 6,
},
[17] = {
	rId = 0,
	rIdx = 7,
	tId = 6,
},
[18] = {
	rId = 0,
	rIdx = 8,
	tId = 6,
},
[19] = {
	rId = 0,
	rIdx = 9,
	tId = 6,
},
[20] = {
	rId = 0,
	rIdx = 10,
	tId = 6,
},
[21] = {
	rId = 5,
	rIdx = 1,
	tId = 7,
},
[22] = {
	rId = 10,
	rIdx = 1,
	tId = 4,
},
[23] = {
	rName = "teamlikerank",
	rIdx = 1,
	tId = 25,
},
}