--C-称号配置.xlsx 称号配置表
TitleConf={
[1] = {
	keepTime = 86400,
	level = 0,
	name = "屠龙勇士",
	attrs = {{type=2,value=4320},{type=4,value=320},{type=5,value=80},{type=6,value=80}},
},
[2] = {
	keepTime = 0,
	level = 0,
	name = "杀戮之王",
	attrs = {{type=2,value=2160},{type=4,value=160},{type=5,value=40},{type=6,value=40}},
},
[3] = {
	keepTime = 0,
	level = 0,
	name = "十大杀手",
	attrs = {{type=2,value=1620},{type=4,value=120},{type=5,value=30},{type=6,value=30}},
},
[4] = {
	keepTime = 0,
	level = 0,
	name = "名动天下",
	attrs = {{type=2,value=2160},{type=4,value=160},{type=5,value=40},{type=6,value=40}},
},
[5] = {
	keepTime = 0,
	level = 0,
	name = "天下第一",
	attrs = {{type=2,value=2160},{type=4,value=160},{type=5,value=40},{type=6,value=40}},
},
[6] = {
	keepTime = 0,
	level = 0,
	name = "十大强者",
	attrs = {{type=2,value=1620},{type=4,value=120},{type=5,value=30},{type=6,value=30}},
},
[7] = {
	keepTime = 0,
	level = 0,
	name = "绝世高人",
	attrs = {{type=2,value=2160},{type=4,value=160},{type=5,value=40},{type=6,value=40}},
},
[8] = {
	keepTime = 0,
	level = 0,
	name = "天下首富",
	attrs = {{type=2,value=7950},{type=4,value=580},{type=5,value=145},{type=6,value=145}},
},
[9] = {
	keepTime = 0,
	level = 0,
	name = "龙曜九天",
	attrs = {{type=2,value=7950},{type=4,value=580},{type=5,value=145},{type=6,value=145}},
},
[10] = {
	keepTime = 0,
	level = 0,
	name = "飞龙乘云",
	attrs = {{type=2,value=7950},{type=4,value=580},{type=5,value=145},{type=6,value=145}},
},
[11] = {
	keepTime = 0,
	level = 0,
	name = "学识无双",
	attrs = {{type=2,value=7950},{type=4,value=580},{type=5,value=145},{type=6,value=145}},
},
[12] = {
	keepTime = 0,
	level = 0,
	name = "只手遮天",
	attrs = {{type=2,value=7950},{type=4,value=580},{type=5,value=145},{type=6,value=145}},
},
[13] = {
	keepTime = 0,
	level = 0,
	name = "传奇无双战神",
	attrs = {{type=2,value=7950},{type=4,value=580},{type=5,value=145},{type=6,value=145}},
},
[14] = {
	keepTime = 604800,
	level = 0,
	name = "龙城霸主",
	attrs = {{type=2,value=10000},{type=4,value=800},{type=5,value=200},{type=6,value=200}},
},
[16] = {
	keepTime = 0,
	level = 0,
	name = "至尊神壕",
	attrs = {{type=2,value=7950},{type=4,value=1160},{type=5,value=290},{type=6,value=290}},
},
[17] = {
	keepTime = 2592000,
	level = 0,
	name = "至尊特权",
	attrs = {{type=2,value=6750},{type=4,value=500},{type=5,value=125},{type=6,value=125}},
},
[18] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服冠军",
	attrs = {{type=2,value=20750},{type=4,value=1300},{type=5,value=325},{type=6,value=325}},
},
[19] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服亚军",
	attrs = {{type=2,value=16917},{type=4,value=1100},{type=5,value=275},{type=6,value=275}},
},
[20] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服四强",
	attrs = {{type=2,value=13084},{type=4,value=900},{type=5,value=225},{type=6,value=225}},
},
[21] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服八强",
	attrs = {{type=2,value=11467},{type=4,value=750},{type=5,value=187},{type=6,value=187}},
},
[22] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服十六强",
	attrs = {{type=2,value=8717},{type=4,value=650},{type=5,value=162},{type=6,value=162}},
},
[23] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服三十二强",
	attrs = {{type=2,value=7634},{type=4,value=550},{type=5,value=137},{type=6,value=137}},
},
[24] = {
	keepTime = 1209600,
	level = 0,
	name = "跨服六十四强",
	attrs = {{type=2,value=6550},{type=4,value=450},{type=5,value=112},{type=6,value=112}},
},
[25] = {
	keepTime = 0,
	level = 0,
	name = "万人迷",
	attrs = {{type=2,value=6550},{type=4,value=450},{type=5,value=112},{type=6,value=112}},
},
}