--Z-铸造系统配置表.xlsx 注灵消耗表
ZhulingCostConfig={
[1] = {
	level = 1,
	itemId = 200003,
	count = 10,
},
[2] = {
	level = 2,
	itemId = 200003,
	count = 10,
},
[3] = {
	level = 3,
	itemId = 200003,
	count = 10,
},
[4] = {
	level = 4,
	itemId = 200003,
	count = 10,
},
[5] = {
	level = 5,
	itemId = 200003,
	count = 10,
},
[6] = {
	level = 6,
	itemId = 200003,
	count = 10,
},
[7] = {
	level = 7,
	itemId = 200003,
	count = 10,
},
[8] = {
	level = 8,
	itemId = 200003,
	count = 10,
},
[9] = {
	level = 9,
	itemId = 200003,
	count = 20,
},
[10] = {
	level = 10,
	itemId = 200003,
	count = 20,
},
[11] = {
	level = 11,
	itemId = 200003,
	count = 20,
},
[12] = {
	level = 12,
	itemId = 200003,
	count = 20,
},
[13] = {
	level = 13,
	itemId = 200003,
	count = 20,
},
[14] = {
	level = 14,
	itemId = 200003,
	count = 20,
},
[15] = {
	level = 15,
	itemId = 200003,
	count = 20,
},
[16] = {
	level = 16,
	itemId = 200003,
	count = 20,
},
[17] = {
	level = 17,
	itemId = 200003,
	count = 30,
},
[18] = {
	level = 18,
	itemId = 200003,
	count = 30,
},
[19] = {
	level = 19,
	itemId = 200003,
	count = 30,
},
[20] = {
	level = 20,
	itemId = 200003,
	count = 30,
},
[21] = {
	level = 21,
	itemId = 200003,
	count = 30,
},
[22] = {
	level = 22,
	itemId = 200003,
	count = 30,
},
[23] = {
	level = 23,
	itemId = 200003,
	count = 30,
},
[24] = {
	level = 24,
	itemId = 200003,
	count = 30,
},
[25] = {
	level = 25,
	itemId = 200003,
	count = 40,
},
[26] = {
	level = 26,
	itemId = 200003,
	count = 40,
},
[27] = {
	level = 27,
	itemId = 200003,
	count = 40,
},
[28] = {
	level = 28,
	itemId = 200003,
	count = 40,
},
[29] = {
	level = 29,
	itemId = 200003,
	count = 40,
},
[30] = {
	level = 30,
	itemId = 200003,
	count = 40,
},
[31] = {
	level = 31,
	itemId = 200003,
	count = 40,
},
[32] = {
	level = 32,
	itemId = 200003,
	count = 40,
},
[33] = {
	level = 33,
	itemId = 200003,
	count = 50,
},
[34] = {
	level = 34,
	itemId = 200003,
	count = 50,
},
[35] = {
	level = 35,
	itemId = 200003,
	count = 50,
},
[36] = {
	level = 36,
	itemId = 200003,
	count = 50,
},
[37] = {
	level = 37,
	itemId = 200003,
	count = 50,
},
[38] = {
	level = 38,
	itemId = 200003,
	count = 50,
},
[39] = {
	level = 39,
	itemId = 200003,
	count = 50,
},
[40] = {
	level = 40,
	itemId = 200003,
	count = 50,
},
[41] = {
	level = 41,
	itemId = 200003,
	count = 65,
},
[42] = {
	level = 42,
	itemId = 200003,
	count = 65,
},
[43] = {
	level = 43,
	itemId = 200003,
	count = 65,
},
[44] = {
	level = 44,
	itemId = 200003,
	count = 65,
},
[45] = {
	level = 45,
	itemId = 200003,
	count = 65,
},
[46] = {
	level = 46,
	itemId = 200003,
	count = 65,
},
[47] = {
	level = 47,
	itemId = 200003,
	count = 65,
},
[48] = {
	level = 48,
	itemId = 200003,
	count = 65,
},
[49] = {
	level = 49,
	itemId = 200003,
	count = 80,
},
[50] = {
	level = 50,
	itemId = 200003,
	count = 80,
},
[51] = {
	level = 51,
	itemId = 200003,
	count = 80,
},
[52] = {
	level = 52,
	itemId = 200003,
	count = 80,
},
[53] = {
	level = 53,
	itemId = 200003,
	count = 80,
},
[54] = {
	level = 54,
	itemId = 200003,
	count = 80,
},
[55] = {
	level = 55,
	itemId = 200003,
	count = 80,
},
[56] = {
	level = 56,
	itemId = 200003,
	count = 80,
},
[57] = {
	level = 57,
	itemId = 200003,
	count = 95,
},
[58] = {
	level = 58,
	itemId = 200003,
	count = 95,
},
[59] = {
	level = 59,
	itemId = 200003,
	count = 95,
},
[60] = {
	level = 60,
	itemId = 200003,
	count = 95,
},
[61] = {
	level = 61,
	itemId = 200003,
	count = 95,
},
[62] = {
	level = 62,
	itemId = 200003,
	count = 95,
},
[63] = {
	level = 63,
	itemId = 200003,
	count = 95,
},
[64] = {
	level = 64,
	itemId = 200003,
	count = 95,
},
[65] = {
	level = 65,
	itemId = 200003,
	count = 110,
},
[66] = {
	level = 66,
	itemId = 200003,
	count = 110,
},
[67] = {
	level = 67,
	itemId = 200003,
	count = 110,
},
[68] = {
	level = 68,
	itemId = 200003,
	count = 110,
},
[69] = {
	level = 69,
	itemId = 200003,
	count = 110,
},
[70] = {
	level = 70,
	itemId = 200003,
	count = 110,
},
[71] = {
	level = 71,
	itemId = 200003,
	count = 110,
},
[72] = {
	level = 72,
	itemId = 200003,
	count = 110,
},
[73] = {
	level = 73,
	itemId = 200003,
	count = 130,
},
[74] = {
	level = 74,
	itemId = 200003,
	count = 130,
},
[75] = {
	level = 75,
	itemId = 200003,
	count = 130,
},
[76] = {
	level = 76,
	itemId = 200003,
	count = 130,
},
[77] = {
	level = 77,
	itemId = 200003,
	count = 130,
},
[78] = {
	level = 78,
	itemId = 200003,
	count = 130,
},
[79] = {
	level = 79,
	itemId = 200003,
	count = 130,
},
[80] = {
	level = 80,
	itemId = 200003,
	count = 130,
},
}