FieldBossConfig={
[1] = {
	id = 1,
	level = 10,
	refreshTimeMin = 120,
	refreshTimeMax = 1440,
	dropId = 120001,
},
[2] = {
	id = 2,
	level = 20,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120001,
},
[3] = {
	id = 3,
	level = 30,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120002,
},
[4] = {
	id = 4,
	level = 40,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120003,
},
[5] = {
	id = 5,
	level = 50,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120004,
},
[6] = {
	id = 6,
	level = 60,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120005,
},
[7] = {
	id = 7,
	level = 80,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120006,
},
[8] = {
	id = 8,
	level = 100,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120007,
},
[9] = {
	id = 9,
	level = 150,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120008,
},
[10] = {
	id = 10,
	level = 250,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120009,
},
[11] = {
	id = 11,
	level = 350,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120010,
},
[12] = {
	id = 12,
	level = 550,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120011,
},
[13] = {
	id = 13,
	level = 750,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120012,
},
[14] = {
	id = 14,
	level = 1050,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120013,
},
[15] = {
	id = 15,
	level = 1350,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120014,
},
[16] = {
	id = 16,
	level = 1700,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120015,
},
[17] = {
	id = 17,
	level = 2050,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120016,
},
[18] = {
	id = 18,
	level = 2450,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120017,
},
[19] = {
	id = 19,
	level = 2850,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120018,
},
[20] = {
	id = 20,
	level = 3250,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120019,
},
[21] = {
	id = 21,
	level = 3650,
	refreshTimeMin = 120,
	refreshTimeMax = 4320,
	dropId = 120020,
},
}