--M-魔界入侵.xlsx boss配置
DevilBossConfig={
[1] = {
	id = 1,
	levelLimit = 5000,
	openBossList = {[1]=87091},
	refreshNoticeId = 420,
	fbid = 51027,
	enterPos = {{posX=4,posY=30},{posX=5,posY=30},{posX=7,posY=30},{posX=20,posY=31},{posX=21,posY=31},{posX=20,posY=30},{posX=22,posY=30},{posX=29,posY=17},{posX=30,posY=17},{posX=32,posY=19},{posX=32,posY=20}},
	belongReward = 1653954,
	joinReward = 1653955,
	belongAuctionList = {{num={0,4},count={1,1},dropId=1001},{num={5,10},count={1,1},dropId=1002},{num={11,20},count={1,1},dropId=1003},{num={21,999},count={1,1},dropId=1004}},
	joinAuctionList = {{{num={0,4},count={1,1},dropId=1005},{num={5,10},count={1,1},dropId=1006},{num={11,20},count={1,1},dropId=1007},{num={21,999},count={1,1},dropId=1008}},{{num={0,4},count={1,1},dropId=1009},{num={5,10},count={1,1},dropId=1010},{num={11,20},count={1,1},dropId=1011},{num={21,999},count={1,1},dropId=1012}},{{num={0,4},count={1,1},dropId=1013},{num={5,10},count={1,1},dropId=1014},{num={11,20},count={1,1},dropId=1015},{num={21,999},count={1,1},dropId=1016}}},
	bossName = "深渊魔君",
},
[2] = {
	id = 2,
	levelLimit = 5000,
	openBossList = {[1]=87092},
	refreshNoticeId = 420,
	fbid = 51028,
	enterPos = {{posX=4,posY=30},{posX=5,posY=30},{posX=7,posY=30},{posX=20,posY=31},{posX=21,posY=31},{posX=20,posY=30},{posX=22,posY=30},{posX=29,posY=17},{posX=30,posY=17},{posX=32,posY=19},{posX=32,posY=20}},
	belongReward = 1653954,
	joinReward = 1653955,
	belongAuctionList = {{num={0,4},count={1,1},dropId=1001},{num={5,10},count={1,1},dropId=1002},{num={11,20},count={1,1},dropId=1003},{num={21,999},count={1,1},dropId=1004}},
	joinAuctionList = {{{num={0,4},count={1,1},dropId=1005},{num={5,10},count={1,1},dropId=1006},{num={11,20},count={1,1},dropId=1007},{num={21,999},count={1,1},dropId=1008}},{{num={0,4},count={1,1},dropId=1009},{num={5,10},count={1,1},dropId=1010},{num={11,20},count={1,1},dropId=1011},{num={21,999},count={1,1},dropId=1012}},{{num={0,4},count={1,1},dropId=1013},{num={5,10},count={1,1},dropId=1014},{num={11,20},count={1,1},dropId=1015},{num={21,999},count={1,1},dropId=1016}}},
	bossName = "鬼眼魔君",
},
[3] = {
	id = 3,
	levelLimit = 5000,
	openBossList = {[1]=87093},
	refreshNoticeId = 420,
	fbid = 51029,
	enterPos = {{posX=4,posY=30},{posX=5,posY=30},{posX=7,posY=30},{posX=20,posY=31},{posX=21,posY=31},{posX=20,posY=30},{posX=22,posY=30},{posX=29,posY=17},{posX=30,posY=17},{posX=32,posY=19},{posX=32,posY=20}},
	belongReward = 1653954,
	joinReward = 1653955,
	belongAuctionList = {{num={0,4},count={1,1},dropId=1001},{num={5,10},count={1,1},dropId=1002},{num={11,20},count={1,1},dropId=1003},{num={21,999},count={1,1},dropId=1004}},
	joinAuctionList = {{{num={0,4},count={1,1},dropId=1005},{num={5,10},count={1,1},dropId=1006},{num={11,20},count={1,1},dropId=1007},{num={21,999},count={1,1},dropId=1008}},{{num={0,4},count={1,1},dropId=1009},{num={5,10},count={1,1},dropId=1010},{num={11,20},count={1,1},dropId=1011},{num={21,999},count={1,1},dropId=1012}},{{num={0,4},count={1,1},dropId=1013},{num={5,10},count={1,1},dropId=1014},{num={11,20},count={1,1},dropId=1015},{num={21,999},count={1,1},dropId=1016}}},
	bossName = "烛龙魔君",
},
[4] = {
	id = 4,
	levelLimit = 5000,
	openBossList = {[1]=87094},
	refreshNoticeId = 420,
	fbid = 51030,
	enterPos = {{posX=4,posY=30},{posX=5,posY=30},{posX=7,posY=30},{posX=20,posY=31},{posX=21,posY=31},{posX=20,posY=30},{posX=22,posY=30},{posX=29,posY=17},{posX=30,posY=17},{posX=32,posY=19},{posX=32,posY=20}},
	belongReward = 1653954,
	joinReward = 1653955,
	belongAuctionList = {{num={0,4},count={1,1},dropId=1001},{num={5,10},count={1,1},dropId=1002},{num={11,20},count={1,1},dropId=1003},{num={21,999},count={1,1},dropId=1004}},
	joinAuctionList = {{{num={0,4},count={1,1},dropId=1005},{num={5,10},count={1,1},dropId=1006},{num={11,20},count={1,1},dropId=1007},{num={21,999},count={1,1},dropId=1008}},{{num={0,4},count={1,1},dropId=1009},{num={5,10},count={1,1},dropId=1010},{num={11,20},count={1,1},dropId=1011},{num={21,999},count={1,1},dropId=1012}},{{num={0,4},count={1,1},dropId=1013},{num={5,10},count={1,1},dropId=1014},{num={11,20},count={1,1},dropId=1015},{num={21,999},count={1,1},dropId=1016}}},
	bossName = "吸血魔君",
},
}