--M-魔界入侵.xlsx 基础配置
DevilBossBase={
	rebornCd = 20,
	openDay = 30,
	startTime = {20,30},
	hefuTimeLimit = 7,
	rebornCost = 100,
	cdTime = 30,
	showSize = 100,
	rankSize = 5,
	revivalTime = 10,
	belongTitle = "魔界入侵属奖励",
	belongContent = "恭喜您获得魔界入侵归属，下面是您的归属奖励，请您查收！",
	joinTitle = "魔界入侵参与奖励",
	joinContent = "恭喜您参与击杀入侵的魔君，下面是您的参与奖励，请您查收！",
	noticeId = 421,
	bestDrops = {10002,10003,10004,10005,10006,10007,10040,10041,10042,10043},
}