--C-充值奖励配置.xlsx 个别参数
ChongZhiBaseConfig={
	firstRechargAward = {{{type=1,id=200137,count=1},{type=0,id=1,count=2000000},{type=1,id=200158,count=1},{type=1,id=200159,count=1},{type=1,id=201003,count=1},{type=1,id=260048,count=1}},{{type=1,id=200137,count=1},{type=0,id=1,count=2000000},{type=1,id=200160,count=1},{type=1,id=200161,count=1},{type=1,id=201004,count=1},{type=1,id=260048,count=1}},{{type=1,id=200137,count=1},{type=0,id=1,count=2000000},{type=1,id=200162,count=1},{type=1,id=200163,count=1},{type=1,id=201005,count=1},{type=1,id=260048,count=1}}},
	dailyRechargeTitle = "累计充值奖励补发",
	dailyRechargeContent = "你在活动中累计充值%s元宝，请在邮件中领取补发奖励 ",
	mailTitle2 = "每日充值奖励补发",
	mailContent2 = "你在活动中累计充值%s元宝，请在邮件中领取补发奖励 ",
	firstAwardNotice = 71,
	vipNotice = 72,
	dailyAwardNotice = 73,
	hfRestNum = {2},
	MultiDayRechargeTitle = "xxx",
	MultiDayRechargeContent = "yyy",
	MultiDayRechargeOpenDay = 1,
	MultiDayRechargeOpenLv = 1,
}