--C-充值邮件提示配置.xlsx 邮件配置
ChargeConfig={
[1] = {
	id = 1,
	title = "充值成功",
	content = "尊敬的玩家，恭喜您成功充值%s元宝，非常感谢您对游戏的认可和支持",
},
[2] = {
	id = 2,
	title = "首次充值奖励",
	content = "尊敬的玩家，恭喜您充值%s元宝，首次充值该金额奖励%s元宝，非常感谢您对游戏的认可和支持",
},
[3] = {
	id = 3,
	title = "充值成功",
	content = "尊敬的玩家，恭喜您充值成功，获得%s元宝，非常感谢您对游戏的认可和支持",
},
}