--C-充值奖励配置.xlsx 开服前几天充值配置
DailyRechargeConfig={
[1] = {
	[0] = {
		day = 1,
		index = 0,
		pay = 1100,
		awardList = {{type=0,id=2,count=500},{type=1,id=200003,count=20},{type=1,id=200137,count=1},{type=1,id=200318,count=10}},
		value = 8888,
	},
	[1] = {
		day = 1,
		index = 1,
		pay = 5000,
		awardList = {{type=1,id=200165,count=1},{type=1,id=200003,count=30},{type=1,id=200137,count=1},{type=1,id=200004,count=30}},
		value = 12888,
	},
	[2] = {
		day = 1,
		index = 2,
		pay = 10000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200003,count=60},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[3] = {
		day = 1,
		index = 3,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200003,count=60},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[4] = {
		day = 1,
		index = 4,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[5] = {
		day = 1,
		index = 5,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[6] = {
		day = 1,
		index = 6,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[7] = {
		day = 1,
		index = 7,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
[2] = {
	[0] = {
		day = 2,
		index = 0,
		pay = 1000,
		awardList = {{type=0,id=2,count=1000},{type=1,id=200009,count=1},{type=1,id=200005,count=10},{type=1,id=200318,count=10}},
		value = 3888,
	},
	[1] = {
		day = 2,
		index = 1,
		pay = 2000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200005,count=10},{type=1,id=200004,count=10},{type=0,id=1,count=250000}},
		value = 8888,
	},
	[2] = {
		day = 2,
		index = 2,
		pay = 5000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200005,count=15},{type=1,id=200004,count=30},{type=0,id=1,count=500000}},
		value = 12888,
	},
	[3] = {
		day = 2,
		index = 3,
		pay = 10000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200005,count=30},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[4] = {
		day = 2,
		index = 4,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200005,count=30},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[5] = {
		day = 2,
		index = 5,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[6] = {
		day = 2,
		index = 6,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[7] = {
		day = 2,
		index = 7,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[8] = {
		day = 2,
		index = 8,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
[3] = {
	[0] = {
		day = 3,
		index = 0,
		pay = 1000,
		awardList = {{type=0,id=2,count=1000},{type=1,id=200009,count=1},{type=1,id=200001,count=10},{type=1,id=200318,count=10}},
		value = 3888,
	},
	[1] = {
		day = 3,
		index = 1,
		pay = 2000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200001,count=10},{type=1,id=200004,count=10},{type=0,id=1,count=250000}},
		value = 8888,
	},
	[2] = {
		day = 3,
		index = 2,
		pay = 5000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200001,count=15},{type=1,id=200004,count=30},{type=0,id=1,count=500000}},
		value = 12888,
	},
	[3] = {
		day = 3,
		index = 3,
		pay = 10000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200001,count=30},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[4] = {
		day = 3,
		index = 4,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200001,count=30},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[5] = {
		day = 3,
		index = 5,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[6] = {
		day = 3,
		index = 6,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[7] = {
		day = 3,
		index = 7,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[8] = {
		day = 3,
		index = 8,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
[4] = {
	[0] = {
		day = 4,
		index = 0,
		pay = 1000,
		awardList = {{type=0,id=2,count=1000},{type=1,id=200009,count=1},{type=1,id=270001,count=15},{type=1,id=200318,count=10}},
		value = 3888,
	},
	[1] = {
		day = 4,
		index = 1,
		pay = 2000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=270001,count=15},{type=1,id=200004,count=10},{type=0,id=1,count=250000}},
		value = 8888,
	},
	[2] = {
		day = 4,
		index = 2,
		pay = 5000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=270001,count=20},{type=1,id=200004,count=30},{type=0,id=1,count=500000}},
		value = 12888,
	},
	[3] = {
		day = 4,
		index = 3,
		pay = 10000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=270001,count=40},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[4] = {
		day = 4,
		index = 4,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=270001,count=40},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[5] = {
		day = 4,
		index = 5,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[6] = {
		day = 4,
		index = 6,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[7] = {
		day = 4,
		index = 7,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[8] = {
		day = 4,
		index = 8,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
[5] = {
	[0] = {
		day = 5,
		index = 0,
		pay = 1000,
		awardList = {{type=0,id=2,count=1000},{type=1,id=200009,count=1},{type=1,id=200009,count=1},{type=1,id=200318,count=10}},
		value = 3888,
	},
	[1] = {
		day = 5,
		index = 1,
		pay = 2000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200009,count=1},{type=1,id=200004,count=10},{type=0,id=1,count=250000}},
		value = 8888,
	},
	[2] = {
		day = 5,
		index = 2,
		pay = 5000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200009,count=1},{type=1,id=200004,count=30},{type=0,id=1,count=500000}},
		value = 12888,
	},
	[3] = {
		day = 5,
		index = 3,
		pay = 10000,
		awardList = {{type=1,id=200010,count=1},{type=1,id=200009,count=1},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[4] = {
		day = 5,
		index = 4,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200009,count=2},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[5] = {
		day = 5,
		index = 5,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[6] = {
		day = 5,
		index = 6,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[7] = {
		day = 5,
		index = 7,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[8] = {
		day = 5,
		index = 8,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
[6] = {
	[0] = {
		day = 6,
		index = 0,
		pay = 1000,
		awardList = {{type=0,id=2,count=1000},{type=1,id=200009,count=1},{type=1,id=200165,count=2},{type=1,id=200318,count=10}},
		value = 3888,
	},
	[1] = {
		day = 6,
		index = 1,
		pay = 2000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200165,count=2},{type=1,id=200004,count=10},{type=0,id=1,count=250000}},
		value = 8888,
	},
	[2] = {
		day = 6,
		index = 2,
		pay = 5000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200165,count=3},{type=1,id=200004,count=30},{type=0,id=1,count=500000}},
		value = 12888,
	},
	[3] = {
		day = 6,
		index = 3,
		pay = 10000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[4] = {
		day = 6,
		index = 4,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[5] = {
		day = 6,
		index = 5,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[6] = {
		day = 6,
		index = 6,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[7] = {
		day = 6,
		index = 7,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[8] = {
		day = 6,
		index = 8,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
[7] = {
	[0] = {
		day = 7,
		index = 0,
		pay = 1000,
		awardList = {{type=0,id=2,count=1000},{type=1,id=200009,count=1},{type=1,id=200165,count=2},{type=1,id=200318,count=10}},
		value = 3888,
	},
	[1] = {
		day = 7,
		index = 1,
		pay = 2000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200165,count=2},{type=1,id=200004,count=10},{type=0,id=1,count=250000}},
		value = 8888,
	},
	[2] = {
		day = 7,
		index = 2,
		pay = 5000,
		awardList = {{type=1,id=200009,count=1},{type=1,id=200165,count=3},{type=1,id=200004,count=30},{type=0,id=1,count=500000}},
		value = 12888,
	},
	[3] = {
		day = 7,
		index = 3,
		pay = 10000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=10},{type=0,id=1,count=750000}},
		value = 32888,
	},
	[4] = {
		day = 7,
		index = 4,
		pay = 20000,
		awardList = {{type=1,id=201006,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=20},{type=0,id=1,count=1000000}},
		value = 58888,
	},
	[5] = {
		day = 7,
		index = 5,
		pay = 50000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=30},{type=0,id=1,count=1250000}},
		value = 88888,
	},
	[6] = {
		day = 7,
		index = 6,
		pay = 100000,
		awardList = {{type=1,id=201007,count=1},{type=1,id=200165,count=5},{type=1,id=200004,count=40},{type=0,id=1,count=1500000}},
		value = 118888,
	},
	[7] = {
		day = 7,
		index = 7,
		pay = 200000,
		awardList = {{type=1,id=201007,count=2},{type=1,id=200165,count=5},{type=1,id=200004,count=50},{type=0,id=1,count=2000000}},
		value = 188888,
	},
	[8] = {
		day = 7,
		index = 8,
		pay = 500000,
		awardList = {{type=1,id=201008,count=1},{type=1,id=200165,count=10},{type=1,id=200004,count=100},{type=0,id=1,count=3000000}},
		value = 258888,
	},
},
}