--C-充值奖励配置.xlsx 循环充值配置 
LoopRechargeConfig={
[1] = {
	[0] = {
		day = 1,
		index = 0,
		pay = 20000,
		awardList = {{type=0,id=2,count=3000},{type=0,id=1,count=500000},{type=1,id=204074,count=1},{type=1,id=200902,count=100}},
		value = 38888,
	},
	[1] = {
		day = 1,
		index = 1,
		pay = 60000,
		awardList = {{type=0,id=2,count=6000},{type=0,id=1,count=1000000},{type=1,id=204074,count=2},{type=1,id=200902,count=200}},
		value = 88888,
	},
	[2] = {
		day = 1,
		index = 2,
		pay = 100000,
		awardList = {{type=1,id=200001,count=200},{type=0,id=1,count=2000000},{type=1,id=204074,count=3},{type=1,id=200328,count=3}},
		value = 128888,
	},
	[3] = {
		day = 1,
		index = 3,
		pay = 200000,
		awardList = {{type=1,id=200001,count=300},{type=1,id=200328,count=3},{type=1,id=200329,count=1},{type=1,id=204074,count=4}},
		value = 328888,
	},
	[4] = {
		day = 1,
		index = 4,
		pay = 1000000,
		awardList = {{type=1,id=601602,count=1},{type=1,id=200328,count=5},{type=1,id=200329,count=3},{type=1,id=204074,count=5}},
		value = 5888888,
	},
	[5] = {
		day = 1,
		index = 5,
		pay = 2000000,
		awardList = {{type=1,id=200007,count=800},{type=1,id=200008,count=800},{type=1,id=204105,count=1},{type=1,id=200141,count=1000}},
		value = 8888888,
	},
	[6] = {
		day = 1,
		index = 6,
		pay = 6000000,
		awardList = {{type=1,id=204106,count=1},{type=1,id=101501,count=1},{type=1,id=121501,count=1},{type=1,id=204105,count=3}},
		value = 11888888,
	},
},
}