--C-充值奖励配置.xlsx 多日循环连充
MultiDayRechargeConfig = {
[1] = {
	id = 1,
	num = 500,
	awardList = {[0]={{type=0,id=2,count=600}},[30]={{type=0,id=2,count=600}},[60]={{type=0,id=2,count=600}}},
},
[2] = {
	id = 2,
	num = 2000,
	awardList = {[0]={{type=0,id=2,count=600}},[30]={{type=0,id=2,count=600}},[60]={{type=0,id=2,count=600}}},
},
[3] = {
	id = 3,
	num = 3000,
	awardList = {[0]={{type=0,id=2,count=600}},[30]={{type=0,id=2,count=600}},[60]={{type=0,id=2,count=600}}},
},
}