--C-充值奖励配置.xlsx 日常充值累计天数奖励配置
RechargeDaysAwardsConfig = {
[1] = {
	awardList = {{type=0,id=2,count=600}},
},
[2] = {
	awardList = {{type=0,id=2,count=600}},
},
[3] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[4] = {
	awardList = {{type=0,id=2,count=600}},
},
[5] = {
	awardList = {{type=0,id=2,count=600}},
},
[6] = {
	awardList = {{type=0,id=2,count=600}},
},
[7] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[8] = {
	awardList = {{type=0,id=2,count=600}},
},
[9] = {
	awardList = {{type=0,id=2,count=600}},
},
[10] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[11] = {
	awardList = {{type=0,id=2,count=600}},
},
[12] = {
	awardList = {{type=0,id=2,count=600}},
},
[13] = {
	awardList = {{type=0,id=2,count=600}},
},
[14] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[15] = {
	awardList = {{type=0,id=2,count=800}},
},
[16] = {
	awardList = {{type=0,id=2,count=800}},
},
[17] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[18] = {
	awardList = {{type=0,id=2,count=800}},
},
[19] = {
	awardList = {{type=0,id=2,count=800}},
},
[20] = {
	awardList = {{type=0,id=2,count=800}},
},
[21] = {
	awardList = {{type=0,id=2,count=8000}},
},
[22] = {
	awardList = {{type=0,id=2,count=800}},
},
[23] = {
	awardList = {{type=0,id=2,count=800}},
},
[24] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[25] = {
	awardList = {{type=0,id=2,count=800}},
},
[26] = {
	awardList = {{type=0,id=2,count=800}},
},
[27] = {
	awardList = {{type=0,id=2,count=800}},
},
[28] = {
	awardList = {{type=0,id=2,count=14000}},
},
[29] = {
	awardList = {{type=0,id=2,count=880}},
},
[30] = {
	awardList = {{type=0,id=2,count=880}},
},
[31] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[32] = {
	awardList = {{type=0,id=2,count=880}},
},
[33] = {
	awardList = {{type=0,id=2,count=880}},
},
[34] = {
	awardList = {{type=0,id=2,count=880}},
},
[35] = {
	awardList = {{type=0,id=2,count=20000}},
},
[36] = {
	awardList = {{type=0,id=2,count=880}},
},
[37] = {
	awardList = {{type=0,id=2,count=880}},
},
[38] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[39] = {
	awardList = {{type=0,id=2,count=880}},
},
[40] = {
	awardList = {{type=0,id=2,count=880}},
},
[41] = {
	awardList = {{type=0,id=2,count=880}},
},
[42] = {
	awardList = {{type=0,id=2,count=26000}},
},
[43] = {
	awardList = {{type=0,id=2,count=600}},
},
[44] = {
	awardList = {{type=0,id=2,count=600}},
},
[45] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=900012,count=1}},
},
[46] = {
	awardList = {{type=0,id=2,count=600}},
},
[47] = {
	awardList = {{type=0,id=2,count=600}},
},
[48] = {
	awardList = {{type=0,id=2,count=600}},
},
[49] = {
	awardList = {{type=0,id=2,count=2000},{type=1,id=900001,count=1}},
},
[50] = {
	awardList = {{type=0,id=2,count=600}},
},
[51] = {
	awardList = {{type=0,id=2,count=600}},
},
[52] = {
	awardList = {{type=0,id=2,count=600},{type=1,id=252229,count=1}},
},
[53] = {
	awardList = {{type=0,id=2,count=600}},
},
[54] = {
	awardList = {{type=0,id=2,count=600}},
},
[55] = {
	awardList = {{type=0,id=2,count=600}},
},
[56] = {
	awardList = {{type=0,id=2,count=4000},{type=1,id=200113,count=1}},
},
[57] = {
	awardList = {{type=0,id=2,count=800}},
},
[58] = {
	awardList = {{type=0,id=2,count=800}},
},
[59] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=252230,count=1}},
},
[60] = {
	awardList = {{type=0,id=2,count=800}},
},
[61] = {
	awardList = {{type=0,id=2,count=800}},
},
[62] = {
	awardList = {{type=0,id=2,count=800}},
},
[63] = {
	awardList = {{type=0,id=2,count=8000}},
},
[64] = {
	awardList = {{type=0,id=2,count=800}},
},
[65] = {
	awardList = {{type=0,id=2,count=800}},
},
[66] = {
	awardList = {{type=0,id=2,count=800},{type=1,id=220011,count=1}},
},
[67] = {
	awardList = {{type=0,id=2,count=800}},
},
[68] = {
	awardList = {{type=0,id=2,count=800}},
},
[69] = {
	awardList = {{type=0,id=2,count=800}},
},
[70] = {
	awardList = {{type=0,id=2,count=14000}},
},
[71] = {
	awardList = {{type=0,id=2,count=880}},
},
[72] = {
	awardList = {{type=0,id=2,count=880}},
},
[73] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=260065,count=1}},
},
[74] = {
	awardList = {{type=0,id=2,count=880}},
},
[75] = {
	awardList = {{type=0,id=2,count=880}},
},
[76] = {
	awardList = {{type=0,id=2,count=880}},
},
[77] = {
	awardList = {{type=0,id=2,count=20000}},
},
[78] = {
	awardList = {{type=0,id=2,count=880}},
},
[79] = {
	awardList = {{type=0,id=2,count=880}},
},
[80] = {
	awardList = {{type=0,id=2,count=880},{type=1,id=200301,count=250}},
},
[81] = {
	awardList = {{type=0,id=2,count=880}},
},
[82] = {
	awardList = {{type=0,id=2,count=880}},
},
[83] = {
	awardList = {{type=0,id=2,count=880}},
},
[84] = {
	awardList = {{type=0,id=2,count=26000}},
},
}