--C-充值奖励配置.xlsx 日常充值累计天数奖励配置
RechargeDaysAwardsConfig = {
[1] = {	
	awardList = {{type=0,id=2,count=2000}},
},	
[2] = {	
	awardList = {{type=0,id=2,count=3000}},
},	
[3] = {	
	awardList = {{type=0,id=2,count=4000},{type=1,id=900012,count=1}},
},	
[4] = {	
	awardList = {{type=0,id=2,count=5000}},
},	
[5] = {	
	awardList = {{type=0,id=2,count=6000}},
},	
[6] = {	
	awardList = {{type=0,id=2,count=7000}},
},	
[7] = {	
	awardList = {{type=0,id=2,count=100000},{type=1,id=900001,count=1}},
},	
[8] = {	
	awardList = {{type=0,id=2,count=9000}},
},	
[9] = {	
	awardList = {{type=0,id=2,count=10000}},
},	
[10] = {	
	awardList = {{type=0,id=2,count=11000},{type=1,id=252229,count=1}},
},	
[11] = {	
	awardList = {{type=0,id=2,count=12000}},
},	
[12] = {	
	awardList = {{type=0,id=2,count=13000}},
},	
[13] = {	
	awardList = {{type=0,id=2,count=14000}},
},	
[14] = {	
	awardList = {{type=0,id=2,count=100000},{type=1,id=200113,count=1}},
},	
[15] = {	
	awardList = {{type=0,id=2,count=16000}},
},	
[16] = {	
	awardList = {{type=0,id=2,count=17000}},
},	
[17] = {	
	awardList = {{type=0,id=2,count=18000},{type=1,id=252230,count=1}},
},	
[18] = {	
	awardList = {{type=0,id=2,count=19000}},
},	
[19] = {	
	awardList = {{type=0,id=2,count=20000}},
},	
[20] = {	
	awardList = {{type=0,id=2,count=21000}},
},	
[21] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[22] = {	
	awardList = {{type=0,id=2,count=23000}},
},	
[23] = {	
	awardList = {{type=0,id=2,count=24000}},
},	
[24] = {	
	awardList = {{type=0,id=2,count=25000},{type=1,id=220011,count=1}},
},	
[25] = {	
	awardList = {{type=0,id=2,count=26000}},
},	
[26] = {	
	awardList = {{type=0,id=2,count=27000}},
},	
[27] = {	
	awardList = {{type=0,id=2,count=28000}},
},	
[28] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[29] = {	
	awardList = {{type=0,id=2,count=30000}},
},	
[30] = {	
	awardList = {{type=0,id=2,count=31000}},
},	
[31] = {	
	awardList = {{type=0,id=2,count=32000},{type=1,id=260065,count=1}},
},	
[32] = {	
	awardList = {{type=0,id=2,count=33000}},
},	
[33] = {	
	awardList = {{type=0,id=2,count=34000}},
},	
[34] = {	
	awardList = {{type=0,id=2,count=35000}},
},	
[35] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[36] = {	
	awardList = {{type=0,id=2,count=37000}},
},	
[37] = {	
	awardList = {{type=0,id=2,count=38000}},
},	
[38] = {	
	awardList = {{type=0,id=2,count=39000},{type=1,id=200301,count=250}},
},	
[39] = {	
	awardList = {{type=0,id=2,count=40000}},
},	
[40] = {	
	awardList = {{type=0,id=2,count=41000}},
},	
[41] = {	
	awardList = {{type=0,id=2,count=42000}},
},	
[42] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[43] = {	
	awardList = {{type=0,id=2,count=44000}},
},	
[44] = {	
	awardList = {{type=0,id=2,count=45000}},
},	
[45] = {	
	awardList = {{type=0,id=2,count=46000}},
},	
[46] = {	
	awardList = {{type=0,id=2,count=47000}},
},	
[47] = {	
	awardList = {{type=0,id=2,count=48000}},
},	
[48] = {	
	awardList = {{type=0,id=2,count=49000}},
},	
[49] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[50] = {	
	awardList = {{type=0,id=2,count=51000}},
},	
[51] = {	
	awardList = {{type=0,id=2,count=52000}},
},	
[52] = {	
	awardList = {{type=0,id=2,count=53000}},
},	
[53] = {	
	awardList = {{type=0,id=2,count=54000}},
},	
[54] = {	
	awardList = {{type=0,id=2,count=55000}},
},	
[55] = {	
	awardList = {{type=0,id=2,count=56000}},
},	
[56] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[57] = {	
	awardList = {{type=0,id=2,count=58000}},
},	
[58] = {	
	awardList = {{type=0,id=2,count=59000}},
},	
[59] = {	
	awardList = {{type=0,id=2,count=60000}},
},	
[60] = {	
	awardList = {{type=0,id=2,count=61000}},
},	
[61] = {	
	awardList = {{type=0,id=2,count=62000}},
},	
[62] = {	
	awardList = {{type=0,id=2,count=63000}},
},	
[63] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[64] = {	
	awardList = {{type=0,id=2,count=65000}},
},	
[65] = {	
	awardList = {{type=0,id=2,count=66000}},
},	
[66] = {	
	awardList = {{type=0,id=2,count=67000}},
},	
[67] = {	
	awardList = {{type=0,id=2,count=68000}},
},	
[68] = {	
	awardList = {{type=0,id=2,count=69000}},
},	
[69] = {	
	awardList = {{type=0,id=2,count=70000}},
},	
[70] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[71] = {	
	awardList = {{type=0,id=2,count=72000}},
},	
[72] = {	
	awardList = {{type=0,id=2,count=73000}},
},	
[73] = {	
	awardList = {{type=0,id=2,count=74000}},
},	
[74] = {	
	awardList = {{type=0,id=2,count=75000}},
},	
[75] = {	
	awardList = {{type=0,id=2,count=76000}},
},	
[76] = {	
	awardList = {{type=0,id=2,count=77000}},
},	
[77] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[78] = {	
	awardList = {{type=0,id=2,count=79000}},
},	
[79] = {	
	awardList = {{type=0,id=2,count=80000}},
},	
[80] = {	
	awardList = {{type=0,id=2,count=81000}},
},	
[81] = {	
	awardList = {{type=0,id=2,count=82000}},
},	
[82] = {	
	awardList = {{type=0,id=2,count=83000}},
},	
[83] = {	
	awardList = {{type=0,id=2,count=84000}},
},	
[84] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[85] = {	
	awardList = {{type=0,id=2,count=86000}},
},	
[86] = {	
	awardList = {{type=0,id=2,count=87000}},
},	
[87] = {	
	awardList = {{type=0,id=2,count=88000}},
},	
[88] = {	
	awardList = {{type=0,id=2,count=89000}},
},	
[89] = {	
	awardList = {{type=0,id=2,count=90000}},
},	
[90] = {	
	awardList = {{type=0,id=2,count=91000}},
},	
[91] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[92] = {	
	awardList = {{type=0,id=2,count=93000}},
},	
[93] = {	
	awardList = {{type=0,id=2,count=94000}},
},	
[94] = {	
	awardList = {{type=0,id=2,count=95000}},
},	
[95] = {	
	awardList = {{type=0,id=2,count=96000}},
},	
[96] = {	
	awardList = {{type=0,id=2,count=97000}},
},	
[97] = {	
	awardList = {{type=0,id=2,count=98000}},
},	
[98] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[99] = {	
	awardList = {{type=0,id=2,count=2000}},
},	
[100] = {	
	awardList = {{type=0,id=2,count=3000}},
},	
[101] = {	
	awardList = {{type=0,id=2,count=4000},{type=1,id=900012,count=1}},
},	
[102] = {	
	awardList = {{type=0,id=2,count=5000}},
},	
[103] = {	
	awardList = {{type=0,id=2,count=6000}},
},	
[104] = {	
	awardList = {{type=0,id=2,count=7000}},
},	
[105] = {	
	awardList = {{type=0,id=2,count=100000},{type=1,id=900001,count=1}},
},	
[106] = {	
	awardList = {{type=0,id=2,count=9000}},
},	
[107] = {	
	awardList = {{type=0,id=2,count=10000}},
},	
[108] = {	
	awardList = {{type=0,id=2,count=11000},{type=1,id=252229,count=1}},
},	
[109] = {	
	awardList = {{type=0,id=2,count=12000}},
},	
[110] = {	
	awardList = {{type=0,id=2,count=13000}},
},	
[111] = {	
	awardList = {{type=0,id=2,count=14000}},
},	
[112] = {	
	awardList = {{type=0,id=2,count=100000},{type=1,id=200113,count=1}},
},	
[113] = {	
	awardList = {{type=0,id=2,count=16000}},
},	
[114] = {	
	awardList = {{type=0,id=2,count=17000}},
},	
[115] = {	
	awardList = {{type=0,id=2,count=18000},{type=1,id=252230,count=1}},
},	
[116] = {	
	awardList = {{type=0,id=2,count=19000}},
},	
[117] = {	
	awardList = {{type=0,id=2,count=20000}},
},	
[118] = {	
	awardList = {{type=0,id=2,count=21000}},
},	
[119] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[120] = {	
	awardList = {{type=0,id=2,count=23000}},
},	
[121] = {	
	awardList = {{type=0,id=2,count=24000}},
},	
[122] = {	
	awardList = {{type=0,id=2,count=25000},{type=1,id=220011,count=1}},
},	
[123] = {	
	awardList = {{type=0,id=2,count=26000}},
},	
[124] = {	
	awardList = {{type=0,id=2,count=27000}},
},	
[125] = {	
	awardList = {{type=0,id=2,count=28000}},
},	
[126] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[127] = {	
	awardList = {{type=0,id=2,count=30000}},
},	
[128] = {	
	awardList = {{type=0,id=2,count=31000}},
},	
[129] = {	
	awardList = {{type=0,id=2,count=32000},{type=1,id=260065,count=1}},
},	
[130] = {	
	awardList = {{type=0,id=2,count=33000}},
},	
[131] = {	
	awardList = {{type=0,id=2,count=34000}},
},	
[132] = {	
	awardList = {{type=0,id=2,count=35000}},
},	
[133] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[134] = {	
	awardList = {{type=0,id=2,count=37000}},
},	
[135] = {	
	awardList = {{type=0,id=2,count=38000}},
},	
[136] = {	
	awardList = {{type=0,id=2,count=39000},{type=1,id=200301,count=250}},
},	
[137] = {	
	awardList = {{type=0,id=2,count=40000}},
},	
[138] = {	
	awardList = {{type=0,id=2,count=41000}},
},	
[139] = {	
	awardList = {{type=0,id=2,count=42000}},
},	
[140] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[141] = {	
	awardList = {{type=0,id=2,count=44000}},
},	
[142] = {	
	awardList = {{type=0,id=2,count=45000}},
},	
[143] = {	
	awardList = {{type=0,id=2,count=46000}},
},	
[144] = {	
	awardList = {{type=0,id=2,count=47000}},
},	
[145] = {	
	awardList = {{type=0,id=2,count=48000}},
},	
[146] = {	
	awardList = {{type=0,id=2,count=49000}},
},	
[147] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[148] = {	
	awardList = {{type=0,id=2,count=51000}},
},	
[149] = {	
	awardList = {{type=0,id=2,count=52000}},
},	
[150] = {	
	awardList = {{type=0,id=2,count=53000}},
},	
[151] = {	
	awardList = {{type=0,id=2,count=54000}},
},	
[152] = {	
	awardList = {{type=0,id=2,count=55000}},
},	
[153] = {	
	awardList = {{type=0,id=2,count=56000}},
},	
[154] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[155] = {	
	awardList = {{type=0,id=2,count=58000}},
},	
[156] = {	
	awardList = {{type=0,id=2,count=59000}},
},	
[157] = {	
	awardList = {{type=0,id=2,count=60000}},
},	
[158] = {	
	awardList = {{type=0,id=2,count=61000}},
},	
[159] = {	
	awardList = {{type=0,id=2,count=62000}},
},	
[160] = {	
	awardList = {{type=0,id=2,count=63000}},
},	
[161] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[162] = {	
	awardList = {{type=0,id=2,count=65000}},
},	
[163] = {	
	awardList = {{type=0,id=2,count=66000}},
},	
[164] = {	
	awardList = {{type=0,id=2,count=67000}},
},	
[165] = {	
	awardList = {{type=0,id=2,count=68000}},
},	
[166] = {	
	awardList = {{type=0,id=2,count=69000}},
},	
[167] = {	
	awardList = {{type=0,id=2,count=70000}},
},	
[168] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[169] = {	
	awardList = {{type=0,id=2,count=72000}},
},	
[170] = {	
	awardList = {{type=0,id=2,count=73000}},
},	
[171] = {	
	awardList = {{type=0,id=2,count=74000}},
},	
[172] = {	
	awardList = {{type=0,id=2,count=75000}},
},	
[173] = {	
	awardList = {{type=0,id=2,count=76000}},
},	
[174] = {	
	awardList = {{type=0,id=2,count=77000}},
},	
[175] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[176] = {	
	awardList = {{type=0,id=2,count=79000}},
},	
[177] = {	
	awardList = {{type=0,id=2,count=80000}},
},	
[178] = {	
	awardList = {{type=0,id=2,count=81000}},
},	
[179] = {	
	awardList = {{type=0,id=2,count=82000}},
},	
[180] = {	
	awardList = {{type=0,id=2,count=83000}},
},	
[181] = {	
	awardList = {{type=0,id=2,count=84000}},
},	
[182] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[183] = {	
	awardList = {{type=0,id=2,count=86000}},
},	
[184] = {	
	awardList = {{type=0,id=2,count=87000}},
},	
[185] = {	
	awardList = {{type=0,id=2,count=88000}},
},	
[186] = {	
	awardList = {{type=0,id=2,count=89000}},
},	
[187] = {	
	awardList = {{type=0,id=2,count=90000}},
},	
[188] = {	
	awardList = {{type=0,id=2,count=91000}},
},	
[189] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
[190] = {	
	awardList = {{type=0,id=2,count=93000}},
},	
[191] = {	
	awardList = {{type=0,id=2,count=94000}},
},	
[192] = {	
	awardList = {{type=0,id=2,count=95000}},
},	
[193] = {	
	awardList = {{type=0,id=2,count=96000}},
},	
[194] = {	
	awardList = {{type=0,id=2,count=97000}},
},	
[195] = {	
	awardList = {{type=0,id=2,count=98000}},
},	
[196] = {	
	awardList = {{type=0,id=2,count=100000}},
},	
}