--K-开光配置.xlsx 开光属性表
BlessAttrConfig={
[0] = {
	[1] = {
		attr = {{type=4,value=19600}},
	},
},
[1] = {
	[1] = {
		attr = {{type=4,value=9800},{type=5,value=17500}},
	},
},
[2] = {
	[1] = {
		attr = {{type=4,value=9800},{type=5,value=17500}},
	},
},
[3] = {
	[1] = {
		attr = {{type=2,value=119000},{type=4,value=5600}},
	},
},
[4] = {
	[1] = {
		attr = {{type=4,value=8400},{type=6,value=17500}},
	},
},
[5] = {
	[1] = {
		attr = {{type=4,value=8400},{type=6,value=17500}},
	},
},
[6] = {
	[1] = {
		attr = {{type=2,value=115500},{type=4,value=4200}},
	},
},
[7] = {
	[1] = {
		attr = {{type=2,value=115500},{type=4,value=4200}},
	},
},
}