--G-挂机关卡表.xlsx 世界表
WorldRewardConfig={
[1] = {
	id = 1,
	needLevel = 4,
	rewards = {{type=1,id=180001,count=1}},
},
[2] = {
	id = 2,
	needLevel = 9,
	rewards = {{type=1,id=180002,count=1}},
},
[3] = {
	id = 3,
	needLevel = 15,
	rewards = {{type=1,id=180011,count=1}},
},
[4] = {
	id = 4,
	needLevel = 20,
	rewards = {{type=1,id=180012,count=1}},
},
[5] = {
	id = 5,
	needLevel = 25,
	rewards = {{type=1,id=180013,count=1}},
},
[6] = {
	id = 6,
	needLevel = 30,
	rewards = {{type=1,id=180014,count=1}},
},
[7] = {
	id = 7,
	needLevel = 35,
	rewards = {{type=1,id=180021,count=1}},
},
[8] = {
	id = 8,
	needLevel = 40,
	rewards = {{type=1,id=180022,count=1}},
},
[9] = {
	id = 9,
	needLevel = 45,
	rewards = {{type=1,id=180023,count=1}},
},
[10] = {
	id = 10,
	needLevel = 50,
	rewards = {{type=1,id=180024,count=1}},
},
[11] = {
	id = 11,
	needLevel = 55,
	rewards = {{type=1,id=180031,count=1}},
},
[12] = {
	id = 12,
	needLevel = 60,
	rewards = {{type=1,id=180032,count=1}},
},
[13] = {
	id = 13,
	needLevel = 65,
	rewards = {{type=1,id=180033,count=1}},
},
[14] = {
	id = 14,
	needLevel = 70,
	rewards = {{type=1,id=180034,count=1}},
},
[15] = {
	id = 15,
	needLevel = 80,
	rewards = {{type=1,id=180041,count=1}},
},
[16] = {
	id = 16,
	needLevel = 90,
	rewards = {{type=1,id=180042,count=1}},
},
[17] = {
	id = 17,
	needLevel = 100,
	rewards = {{type=1,id=180043,count=1}},
},
[18] = {
	id = 18,
	needLevel = 110,
	rewards = {{type=1,id=180044,count=1}},
},
[19] = {
	id = 19,
	needLevel = 120,
	rewards = {{type=1,id=180051,count=1}},
},
[20] = {
	id = 20,
	needLevel = 130,
	rewards = {{type=1,id=180052,count=1}},
},
[21] = {
	id = 21,
	needLevel = 140,
	rewards = {{type=1,id=180053,count=1}},
},
[22] = {
	id = 22,
	needLevel = 150,
	rewards = {{type=1,id=180054,count=1}},
},
[23] = {
	id = 23,
	needLevel = 160,
	rewards = {{type=1,id=180055,count=1}},
},
[24] = {
	id = 24,
	needLevel = 170,
	rewards = {{type=1,id=180061,count=1}},
},
[25] = {
	id = 25,
	needLevel = 180,
	rewards = {{type=1,id=180062,count=1}},
},
[26] = {
	id = 26,
	needLevel = 190,
	rewards = {{type=1,id=180063,count=1}},
},
[27] = {
	id = 27,
	needLevel = 200,
	rewards = {{type=1,id=180064,count=1}},
},
[28] = {
	id = 28,
	needLevel = 210,
	rewards = {{type=1,id=180065,count=1}},
},
[29] = {
	id = 29,
	needLevel = 220,
	rewards = {{type=1,id=180066,count=1}},
},
[30] = {
	id = 30,
	needLevel = 230,
	rewards = {{type=1,id=180071,count=1}},
},
[31] = {
	id = 31,
	needLevel = 240,
	rewards = {{type=1,id=180072,count=1}},
},
[32] = {
	id = 32,
	needLevel = 250,
	rewards = {{type=1,id=180073,count=1}},
},
[33] = {
	id = 33,
	needLevel = 260,
	rewards = {{type=1,id=180074,count=1}},
},
[34] = {
	id = 34,
	needLevel = 270,
	rewards = {{type=1,id=180075,count=1}},
},
[35] = {
	id = 35,
	needLevel = 280,
	rewards = {{type=1,id=180076,count=1}},
},
[36] = {
	id = 36,
	needLevel = 290,
	rewards = {{type=1,id=180081,count=1}},
},
[37] = {
	id = 37,
	needLevel = 300,
	rewards = {{type=1,id=180082,count=1}},
},
[38] = {
	id = 38,
	needLevel = 310,
	rewards = {{type=1,id=180083,count=1}},
},
[39] = {
	id = 39,
	needLevel = 320,
	rewards = {{type=1,id=180084,count=1}},
},
[40] = {
	id = 40,
	needLevel = 330,
	rewards = {{type=1,id=180085,count=1}},
},
[41] = {
	id = 41,
	needLevel = 340,
	rewards = {{type=1,id=180086,count=1}},
},
[42] = {
	id = 42,
	needLevel = 350,
	rewards = {{type=1,id=180091,count=1}},
},
[43] = {
	id = 43,
	needLevel = 360,
	rewards = {{type=1,id=180092,count=1}},
},
[44] = {
	id = 44,
	needLevel = 370,
	rewards = {{type=1,id=180093,count=1}},
},
[45] = {
	id = 45,
	needLevel = 380,
	rewards = {{type=1,id=180094,count=1}},
},
[46] = {
	id = 46,
	needLevel = 390,
	rewards = {{type=1,id=180095,count=1}},
},
[47] = {
	id = 47,
	needLevel = 400,
	rewards = {{type=1,id=180096,count=1}},
},
[48] = {
	id = 48,
	needLevel = 420,
	rewards = {{type=1,id=180101,count=1}},
},
[49] = {
	id = 49,
	needLevel = 440,
	rewards = {{type=1,id=180102,count=1}},
},
[50] = {
	id = 50,
	needLevel = 460,
	rewards = {{type=1,id=180103,count=1}},
},
[51] = {
	id = 51,
	needLevel = 480,
	rewards = {{type=1,id=180104,count=1}},
},
[52] = {
	id = 52,
	needLevel = 500,
	rewards = {{type=1,id=180105,count=1}},
},
[53] = {
	id = 53,
	needLevel = 520,
	rewards = {{type=1,id=180106,count=1}},
},
[54] = {
	id = 54,
	needLevel = 540,
	rewards = {{type=1,id=180111,count=1}},
},
[55] = {
	id = 55,
	needLevel = 560,
	rewards = {{type=1,id=180112,count=1}},
},
[56] = {
	id = 56,
	needLevel = 580,
	rewards = {{type=1,id=180113,count=1}},
},
[57] = {
	id = 57,
	needLevel = 600,
	rewards = {{type=1,id=180114,count=1}},
},
[58] = {
	id = 58,
	needLevel = 620,
	rewards = {{type=1,id=180115,count=1}},
},
[59] = {
	id = 59,
	needLevel = 640,
	rewards = {{type=1,id=180116,count=1}},
},
[60] = {
	id = 60,
	needLevel = 660,
	rewards = {{type=1,id=180121,count=1}},
},
[61] = {
	id = 61,
	needLevel = 680,
	rewards = {{type=1,id=180122,count=1}},
},
[62] = {
	id = 62,
	needLevel = 700,
	rewards = {{type=1,id=180123,count=1}},
},
[63] = {
	id = 63,
	needLevel = 720,
	rewards = {{type=1,id=180124,count=1}},
},
[64] = {
	id = 64,
	needLevel = 740,
	rewards = {{type=1,id=180125,count=1}},
},
[65] = {
	id = 65,
	needLevel = 760,
	rewards = {{type=1,id=180126,count=1}},
},
[66] = {
	id = 66,
	needLevel = 780,
	rewards = {{type=1,id=180127,count=1}},
},
[67] = {
	id = 67,
	needLevel = 800,
	rewards = {{type=1,id=180128,count=1}},
},
[68] = {
	id = 68,
	needLevel = 820,
	rewards = {{type=1,id=180131,count=1}},
},
[69] = {
	id = 69,
	needLevel = 840,
	rewards = {{type=1,id=180132,count=1}},
},
[70] = {
	id = 70,
	needLevel = 860,
	rewards = {{type=1,id=180133,count=1}},
},
[71] = {
	id = 71,
	needLevel = 880,
	rewards = {{type=1,id=180134,count=1}},
},
[72] = {
	id = 72,
	needLevel = 900,
	rewards = {{type=1,id=180135,count=1}},
},
[73] = {
	id = 73,
	needLevel = 920,
	rewards = {{type=1,id=180136,count=1}},
},
[74] = {
	id = 74,
	needLevel = 940,
	rewards = {{type=1,id=180137,count=1}},
},
[75] = {
	id = 75,
	needLevel = 960,
	rewards = {{type=1,id=180138,count=1}},
},
[76] = {
	id = 76,
	needLevel = 980,
	rewards = {{type=1,id=180141,count=1}},
},
[77] = {
	id = 77,
	needLevel = 1000,
	rewards = {{type=1,id=180142,count=1}},
},
[78] = {
	id = 78,
	needLevel = 1020,
	rewards = {{type=1,id=180143,count=1}},
},
[79] = {
	id = 79,
	needLevel = 1040,
	rewards = {{type=1,id=180144,count=1}},
},
[80] = {
	id = 80,
	needLevel = 1060,
	rewards = {{type=1,id=180145,count=1}},
},
[81] = {
	id = 81,
	needLevel = 1080,
	rewards = {{type=1,id=180146,count=1}},
},
[82] = {
	id = 82,
	needLevel = 1100,
	rewards = {{type=1,id=180147,count=1}},
},
[83] = {
	id = 83,
	needLevel = 1120,
	rewards = {{type=1,id=180148,count=1}},
},
[84] = {
	id = 84,
	needLevel = 1140,
	rewards = {{type=1,id=180151,count=1}},
},
[85] = {
	id = 85,
	needLevel = 1160,
	rewards = {{type=1,id=180152,count=1}},
},
[86] = {
	id = 86,
	needLevel = 1180,
	rewards = {{type=1,id=180153,count=1}},
},
[87] = {
	id = 87,
	needLevel = 1200,
	rewards = {{type=1,id=180154,count=1}},
},
[88] = {
	id = 88,
	needLevel = 1220,
	rewards = {{type=1,id=180155,count=1}},
},
[89] = {
	id = 89,
	needLevel = 1240,
	rewards = {{type=1,id=180156,count=1}},
},
[90] = {
	id = 90,
	needLevel = 1260,
	rewards = {{type=1,id=180157,count=1}},
},
[91] = {
	id = 91,
	needLevel = 1280,
	rewards = {{type=1,id=180158,count=1}},
},
[92] = {
	id = 92,
	needLevel = 1300,
	rewards = {{type=1,id=180161,count=1}},
},
[93] = {
	id = 93,
	needLevel = 1320,
	rewards = {{type=1,id=180162,count=1}},
},
[94] = {
	id = 94,
	needLevel = 1340,
	rewards = {{type=1,id=180163,count=1}},
},
[95] = {
	id = 95,
	needLevel = 1360,
	rewards = {{type=1,id=180164,count=1}},
},
[96] = {
	id = 96,
	needLevel = 1380,
	rewards = {{type=1,id=180165,count=1}},
},
[97] = {
	id = 97,
	needLevel = 1400,
	rewards = {{type=1,id=180166,count=1}},
},
[98] = {
	id = 98,
	needLevel = 1420,
	rewards = {{type=1,id=180167,count=1}},
},
[99] = {
	id = 99,
	needLevel = 1440,
	rewards = {{type=1,id=180168,count=1}},
},
[100] = {
	id = 100,
	needLevel = 1460,
	rewards = {{type=1,id=180171,count=1}},
},
[101] = {
	id = 101,
	needLevel = 1480,
	rewards = {{type=1,id=180172,count=1}},
},
[102] = {
	id = 102,
	needLevel = 1500,
	rewards = {{type=1,id=180173,count=1}},
},
[103] = {
	id = 103,
	needLevel = 1520,
	rewards = {{type=1,id=180174,count=1}},
},
[104] = {
	id = 104,
	needLevel = 1540,
	rewards = {{type=1,id=180175,count=1}},
},
[105] = {
	id = 105,
	needLevel = 1560,
	rewards = {{type=1,id=180176,count=1}},
},
[106] = {
	id = 106,
	needLevel = 1580,
	rewards = {{type=1,id=180177,count=1}},
},
[107] = {
	id = 107,
	needLevel = 1600,
	rewards = {{type=1,id=180178,count=1}},
},
[108] = {
	id = 108,
	needLevel = 1620,
	rewards = {{type=1,id=180181,count=1}},
},
[109] = {
	id = 109,
	needLevel = 1640,
	rewards = {{type=1,id=180182,count=1}},
},
[110] = {
	id = 110,
	needLevel = 1660,
	rewards = {{type=1,id=180183,count=1}},
},
[111] = {
	id = 111,
	needLevel = 1680,
	rewards = {{type=1,id=180184,count=1}},
},
[112] = {
	id = 112,
	needLevel = 1700,
	rewards = {{type=1,id=180185,count=1}},
},
[113] = {
	id = 113,
	needLevel = 1720,
	rewards = {{type=1,id=180186,count=1}},
},
[114] = {
	id = 114,
	needLevel = 1740,
	rewards = {{type=1,id=180187,count=1}},
},
[115] = {
	id = 115,
	needLevel = 1760,
	rewards = {{type=1,id=180188,count=1}},
},
[116] = {
	id = 116,
	needLevel = 1780,
	rewards = {{type=1,id=180191,count=1}},
},
[117] = {
	id = 117,
	needLevel = 1800,
	rewards = {{type=1,id=180192,count=1}},
},
[118] = {
	id = 118,
	needLevel = 1820,
	rewards = {{type=1,id=180193,count=1}},
},
[119] = {
	id = 119,
	needLevel = 1840,
	rewards = {{type=1,id=180194,count=1}},
},
[120] = {
	id = 120,
	needLevel = 1860,
	rewards = {{type=1,id=180195,count=1}},
},
[121] = {
	id = 121,
	needLevel = 1880,
	rewards = {{type=1,id=180196,count=1}},
},
[122] = {
	id = 122,
	needLevel = 1900,
	rewards = {{type=1,id=180197,count=1}},
},
[123] = {
	id = 123,
	needLevel = 1920,
	rewards = {{type=1,id=180198,count=1}},
},
[124] = {
	id = 124,
	needLevel = 1940,
	rewards = {{type=1,id=180201,count=1}},
},
[125] = {
	id = 125,
	needLevel = 1960,
	rewards = {{type=1,id=180202,count=1}},
},
[126] = {
	id = 126,
	needLevel = 1980,
	rewards = {{type=1,id=180203,count=1}},
},
[127] = {
	id = 127,
	needLevel = 2000,
	rewards = {{type=1,id=180204,count=1}},
},
[128] = {
	id = 128,
	needLevel = 2020,
	rewards = {{type=1,id=180205,count=1}},
},
[129] = {
	id = 129,
	needLevel = 2040,
	rewards = {{type=1,id=180206,count=1}},
},
[130] = {
	id = 130,
	needLevel = 2060,
	rewards = {{type=1,id=180207,count=1}},
},
[131] = {
	id = 131,
	needLevel = 2080,
	rewards = {{type=1,id=180208,count=1}},
},
[132] = {
	id = 132,
	needLevel = 2100,
	rewards = {{type=1,id=180211,count=1}},
},
[133] = {
	id = 133,
	needLevel = 2120,
	rewards = {{type=1,id=180212,count=1}},
},
[134] = {
	id = 134,
	needLevel = 2140,
	rewards = {{type=1,id=180213,count=1}},
},
[135] = {
	id = 135,
	needLevel = 2160,
	rewards = {{type=1,id=180214,count=1}},
},
[136] = {
	id = 136,
	needLevel = 2180,
	rewards = {{type=1,id=180215,count=1}},
},
[137] = {
	id = 137,
	needLevel = 2200,
	rewards = {{type=1,id=180216,count=1}},
},
[138] = {
	id = 138,
	needLevel = 2220,
	rewards = {{type=1,id=180217,count=1}},
},
[139] = {
	id = 139,
	needLevel = 2240,
	rewards = {{type=1,id=180218,count=1}},
},
[140] = {
	id = 140,
	needLevel = 2260,
	rewards = {{type=1,id=180221,count=1}},
},
[141] = {
	id = 141,
	needLevel = 2280,
	rewards = {{type=1,id=180222,count=1}},
},
[142] = {
	id = 142,
	needLevel = 2300,
	rewards = {{type=1,id=180223,count=1}},
},
[143] = {
	id = 143,
	needLevel = 2320,
	rewards = {{type=1,id=180224,count=1}},
},
[144] = {
	id = 144,
	needLevel = 2340,
	rewards = {{type=1,id=180225,count=1}},
},
[145] = {
	id = 145,
	needLevel = 2360,
	rewards = {{type=1,id=180226,count=1}},
},
[146] = {
	id = 146,
	needLevel = 2380,
	rewards = {{type=1,id=180227,count=1}},
},
[147] = {
	id = 147,
	needLevel = 2400,
	rewards = {{type=1,id=180228,count=1}},
},
[148] = {
	id = 148,
	needLevel = 2420,
	rewards = {{type=1,id=180231,count=1}},
},
[149] = {
	id = 149,
	needLevel = 2440,
	rewards = {{type=1,id=180232,count=1}},
},
[150] = {
	id = 150,
	needLevel = 2460,
	rewards = {{type=1,id=180233,count=1}},
},
[151] = {
	id = 151,
	needLevel = 2480,
	rewards = {{type=1,id=180234,count=1}},
},
[152] = {
	id = 152,
	needLevel = 2500,
	rewards = {{type=1,id=180235,count=1}},
},
[153] = {
	id = 153,
	needLevel = 2520,
	rewards = {{type=1,id=180236,count=1}},
},
[154] = {
	id = 154,
	needLevel = 2540,
	rewards = {{type=1,id=180237,count=1}},
},
[155] = {
	id = 155,
	needLevel = 2560,
	rewards = {{type=1,id=180238,count=1}},
},
[156] = {
	id = 156,
	needLevel = 2580,
	rewards = {{type=1,id=180241,count=1}},
},
[157] = {
	id = 157,
	needLevel = 2600,
	rewards = {{type=1,id=180242,count=1}},
},
[158] = {
	id = 158,
	needLevel = 2620,
	rewards = {{type=1,id=180243,count=1}},
},
[159] = {
	id = 159,
	needLevel = 2640,
	rewards = {{type=1,id=180244,count=1}},
},
[160] = {
	id = 160,
	needLevel = 2660,
	rewards = {{type=1,id=180245,count=1}},
},
[161] = {
	id = 161,
	needLevel = 2680,
	rewards = {{type=1,id=180246,count=1}},
},
[162] = {
	id = 162,
	needLevel = 2700,
	rewards = {{type=1,id=180247,count=1}},
},
[163] = {
	id = 163,
	needLevel = 2720,
	rewards = {{type=1,id=180248,count=1}},
},
[164] = {
	id = 164,
	needLevel = 2740,
	rewards = {{type=1,id=180251,count=1}},
},
[165] = {
	id = 165,
	needLevel = 2760,
	rewards = {{type=1,id=180252,count=1}},
},
[166] = {
	id = 166,
	needLevel = 2780,
	rewards = {{type=1,id=180253,count=1}},
},
[167] = {
	id = 167,
	needLevel = 2800,
	rewards = {{type=1,id=180254,count=1}},
},
[168] = {
	id = 168,
	needLevel = 2820,
	rewards = {{type=1,id=180255,count=1}},
},
[169] = {
	id = 169,
	needLevel = 2840,
	rewards = {{type=1,id=180256,count=1}},
},
[170] = {
	id = 170,
	needLevel = 2860,
	rewards = {{type=1,id=180257,count=1}},
},
[171] = {
	id = 171,
	needLevel = 2880,
	rewards = {{type=1,id=180258,count=1}},
},
[172] = {
	id = 172,
	needLevel = 2900,
	rewards = {{type=1,id=180261,count=1}},
},
[173] = {
	id = 173,
	needLevel = 2920,
	rewards = {{type=1,id=180262,count=1}},
},
[174] = {
	id = 174,
	needLevel = 2940,
	rewards = {{type=1,id=180263,count=1}},
},
[175] = {
	id = 175,
	needLevel = 2960,
	rewards = {{type=1,id=180264,count=1}},
},
[176] = {
	id = 176,
	needLevel = 2980,
	rewards = {{type=1,id=180265,count=1}},
},
[177] = {
	id = 177,
	needLevel = 3000,
	rewards = {{type=1,id=180266,count=1}},
},
[178] = {
	id = 178,
	needLevel = 3020,
	rewards = {{type=1,id=180267,count=1}},
},
[179] = {
	id = 179,
	needLevel = 3040,
	rewards = {{type=1,id=180268,count=1}},
},
[180] = {
	id = 180,
	needLevel = 3060,
	rewards = {{type=1,id=180271,count=1}},
},
[181] = {
	id = 181,
	needLevel = 3080,
	rewards = {{type=1,id=180272,count=1}},
},
[182] = {
	id = 182,
	needLevel = 3100,
	rewards = {{type=1,id=180273,count=1}},
},
[183] = {
	id = 183,
	needLevel = 3120,
	rewards = {{type=1,id=180274,count=1}},
},
[184] = {
	id = 184,
	needLevel = 3140,
	rewards = {{type=1,id=180275,count=1}},
},
[185] = {
	id = 185,
	needLevel = 3160,
	rewards = {{type=1,id=180276,count=1}},
},
[186] = {
	id = 186,
	needLevel = 3180,
	rewards = {{type=1,id=180277,count=1}},
},
[187] = {
	id = 187,
	needLevel = 3200,
	rewards = {{type=1,id=180278,count=1}},
},
}