--B-boss玩法配置.xlsx 隐藏boss配置
HideBossConfig = {
[85] = {
	id = 85,
	belongHideVal = 30,
	joinHideVal = 17,
	needHideVal = {[6]=210,[7]=245,[8]=280},
	costVal = 210,
	fbid = 51019,
	dropId = 1653510,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[86] = {
	id = 86,
	belongHideVal = 30,
	joinHideVal = 17,
	needHideVal = {[6]=210,[7]=245,[8]=280},
	costVal = 210,
	fbid = 51020,
	dropId = 1653510,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[87] = {
	id = 87,
	belongHideVal = 35,
	joinHideVal = 20,
	needHideVal = {[7]=245,[8]=280,[9]=315},
	costVal = 245,
	fbid = 51021,
	dropId = 1653511,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[88] = {
	id = 88,
	belongHideVal = 40,
	joinHideVal = 25,
	needHideVal = {[8]=280,[9]=315,[10]=350},
	costVal = 280,
	fbid = 51022,
	dropId = 1653512,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[89] = {
	id = 89,
	belongHideVal = 45,
	joinHideVal = 30,
	needHideVal = {[9]=315,[10]=350,[11]=385},
	costVal = 315,
	fbid = 51023,
	dropId = 1653513,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[90] = {
	id = 90,
	belongHideVal = 50,
	joinHideVal = 35,
	needHideVal = {[10]=350,[11]=385,[12]=420},
	costVal = 350,
	fbid = 51024,
	dropId = 1653514,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[91] = {
	id = 91,
	belongHideVal = 55,
	joinHideVal = 40,
	needHideVal = {[11]=385,[12]=420},
	costVal = 385,
	fbid = 51025,
	dropId = 1653515,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
[92] = {
	id = 92,
	belongHideVal = 60,
	joinHideVal = 45,
	needHideVal = {[12]=420},
	costVal = 420,
	fbid = 51026,
	dropId = 1653516,
	time = 3600,
	rate = 8000,
	noticeId = 384,
},
}