--B-boss玩法配置.xlsx 基础配置
WorldBossBaseConfig={
	bossName = {"秘境boss","野外boss","boss之家","神域BOSS","神兵圣域","神兵塔","暗之BOSS"},
	belongNotice = 9,
	lotteryNotice = 11,
	lotteryTime = 10,
	joinMailHead = "%s-参与奖励",
	joinMailContent = "%s-参与奖励",
	shieldMailHead = "%s-幸运奖励",
	shieldMailContent = "%s-幸运奖励",
	belongMailHead = "%s-归属奖励",
	belongMailContent = "%s-归属奖励",
	precent = 0,
	rewardNotice = 13,
	buyCountPrice = {200,100,0,200,0,200,0},
	dayCount = {3,12,86400,5,86400,86400,3},
	recoverTime = {0,60,0,120,0,0,0},
	challengeCd = {60,10,10,10,60,30,60},
	rebornCd = {10,10,10,10,20,30,10},
	clearCdCost = {100,100,100,100,100,100,100},
	rebornItem = 201001,
	halvedActId = {161,310,333,805,813},
	challengeItem = {0,0,0,0,0,200307,0},
	challengeItemYb = {0,0,0,0,0,500,0},
	belongCount = {0,0,0,0,3,0,6,0},
	belongMaxCount = {0,0,0,0,6,0,12,0},
	qualityNotice = {[2]=315,[3]=316,[4]=13},
}