--R-任务成就表.xlsx 活跃度奖励
DailyAwardConfig={
[1] = {
	id = 1,
	valueLimit = 30,
	awardList = {{type=0,id=2,count=10},{type=0,id=1,count=100000},{type=1,id=200004,count=1}},
},
[2] = {
	id = 2,
	valueLimit = 80,
	awardList = {{type=0,id=2,count=20},{type=0,id=1,count=200000},{type=1,id=200004,count=2}},
},
[3] = {
	id = 3,
	valueLimit = 120,
	awardList = {{type=0,id=2,count=50},{type=0,id=1,count=500000},{type=1,id=200004,count=3}},
},
}