--R-任务成就表.xlsx 限时任务表
LimitTimeConfig={
[1] = {
	id = 1,
	time = 129600,
	openLevel = 60,
	openZhuan = 0,
	taskIds = {29,30,31,32,33,34,35,38},
	mail_head = "限时任务过期",
	mail_context = "亲爱的玩家，您的限时任务（60级）有可奖励未领取，已通过附件补发给您，请您查收。",
},
[2] = {
	id = 2,
	time = 345600,
	openLevel = 60,
	openZhuan = 0,
	taskIds = {39,40,41,42,43,44,45,48},
	mail_head = "限时任务过期",
	mail_context = "亲爱的玩家，您的限时任务（1转）有可奖励未领取，已通过附件补发给您，请您查收。",
},
[3] = {
	id = 3,
	time = 691200,
	openLevel = 60,
	openZhuan = 0,
	taskIds = {49,50,51,52,53,54,55,58},
	mail_head = "限时任务过期",
	mail_context = "亲爱的玩家，您的限时任务（3转）有可奖励未领取，已通过附件补发给您，请您查收。",
},
}