--W-无极战场.xlsx 匹配池配置
WuJiMatchPoolConfig={
[1] = {
	id = 1,
	entryLimit = 0,
	groupingList = {{1,1},{2,2},{3,3},{4,4},{5,5},{6,6},{7,7},{8,8},{9,9},{10,10},{11,11},{12,12}},
},
[2] = {
	id = 2,
	entryLimit = 2,
	groupingList = {{1,2},{3,4},{5,6},{7,8},{9,10},{11,12}},
},
[3] = {
	id = 3,
	entryLimit = 3,
	groupingList = {{1,3},{4,6},{7,9},{10,12}},
},
[4] = {
	id = 4,
	entryLimit = 5,
	groupingList = {{1,4},{5,8},{9,12}},
},
[5] = {
	id = 5,
	entryLimit = 9,
	groupingList = {{1,7},{8,12}},
},
[6] = {
	id = 6,
	entryLimit = 19,
	groupingList = {{1,12}},
},
}