--W-无极战场.xlsx 每周达成奖励
WuJiWeekRewardConfig={
[1] = {
	[{0,1}] = {
		bid = 1,
		id = {0,1},
		weekTarget = 500,
		rewards = {{type=0,id=10,count=2000},{type=1,id=200193,count=1}},
	},
},
[2] = {
	[{2,3}] = {
		bid = 2,
		id = {2,3},
		weekTarget = 500,
		rewards = {{type=0,id=10,count=2000},{type=1,id=200193,count=1}},
	},
},
[3] = {
	[{4,5}] = {
		bid = 3,
		id = {4,5},
		weekTarget = 500,
		rewards = {{type=0,id=10,count=2000},{type=1,id=200193,count=1}},
	},
},
[4] = {
	[{6,7}] = {
		bid = 4,
		id = {6,7},
		weekTarget = 500,
		rewards = {{type=0,id=10,count=2500},{type=1,id=200194,count=1}},
	},
},
[5] = {
	[{8,9}] = {
		bid = 5,
		id = {8,9},
		weekTarget = 500,
		rewards = {{type=0,id=10,count=2500},{type=1,id=200194,count=1}},
	},
},
[6] = {
	[{10,12}] = {
		bid = 6,
		id = {10,12},
		weekTarget = 500,
		rewards = {{type=0,id=10,count=2500},{type=1,id=200194,count=1}},
	},
},
}