--W-无极战场.xlsx 常量配置
WujiBaseConfig={
	open = {1,2,3,4,5,6,7},
	serverDay = 10,
	zsLv = 3,
	heraldTime = {hour={11,20}, minute=57},
	startTime = {hour={12,21}, minute=0},
	closeTime = 1800,
	heraldNotice = 200,
	startNotice = 201,
	closeNotice = 202,
	fbId = 52000,
	readyTime = 5,
	reInteVal = 3,
	baseWaitTime = 3,
	turnTime = 60,
	memberCnt = 1,
	outTime = 120,
	openRwTimes = 2,
	dayAddRwTimes = 2,
	maxRwTimes = 6,
	matchCd = 1,
	maxPlayer = 10000,
	failNum = 20,
	reduceLimit = 5,
	birthPointA = {{x=8,y=28},{x=4,y=28},{x=8,y=30},{x=4,y=30}},
	birthPointB = {{x=21,y=13},{x=21,y=12},{x=21,y=14},{x=21,y=14}},
	flagPoint = {{x=8,y=15},{x=27,y=19},{x=47,y=24}},
	monId = {83300,83301,83302},
	addScore = {10,20,30},
	addScoreInterval = 5,
	flagName = "太阴旗,无极旗,玄阳旗",
	specialTime = 240,
	scoreIncrease = 2,
	winScore = 10000,
	cruxScore = 7000,
	cruxNotice = 178179,
	deathBuff = {type=4,precent=3000},
	deathBuffMax = {type=4,precent=21000},
	occupyFlagNotice = 180,
	firstBloodId = 181,
	interruptKillNotice = 182,
	endReward = {[1]={{type=0,id=7,count=800}},[2]={{type=0,id=7,count=500}},[3]={{type=0,id=7,count=500}}},
	mvpScorePar = {a=10000,b=10000,c=10000,d=10000},
	mail_head = "无极战场奖励",
	mail_context = "您在无极战场中，获得以下奖励，请继续努力！",
	weekmail_head = "无极战场每周奖励",
	weekmail_context = "您有未领取的奖励，请注意提取附件！",
	mvpReward = {{type=0,id=7,count=800},{type=0,id=7,count=800},{type=0,id=7,count=800}},
	firstBloodReward = {type=0,id=7,count=800},
	quickChat = {"第一句话","第二句话","第二句话","第二句话","第二句话","第二句话"},
}