--Q-气泡表.xlsx Sheet1
BubbleConfig={
[1] = {
	bubbleid = 1,
	news = "麻痹一击!!",
},
[3] = {
	bubbleid = 3,
	news = "神力一击!!",
},
[4] = {
	bubbleid = 4,
	news = "必定闪避!!",
},
[5] = {
	bubbleid = 5,
	news = "治疗术!!",
},
[6] = {
	bubbleid = 6,
	news = "狂暴!!",
},
[7] = {
	bubbleid = 7,
	news = "复活!!",
},
[8] = {
	bubbleid = 8,
	news = "羽翼·强力!!",
},
[9] = {
	bubbleid = 9,
	news = "羽翼·羽盾!!",
},
[10] = {
	bubbleid = 10,
	news = "羽翼·千羽!!",
},
[11] = {
	bubbleid = 11,
	news = "羽翼·幻翼!!",
},
[12] = {
	bubbleid = 12,
	news = "羽翼·破军!!",
},
[13] = {
	bubbleid = 13,
	news = "诅咒!!",
},
[14] = {
	bubbleid = 14,
	news = "嗜血!!",
},
[15] = {
	bubbleid = 15,
	news = "星曜一击",
},
[16] = {
	bubbleid = 16,
	news = "以德服人",
},
[17] = {
	bubbleid = 17,
	news = "破血狂攻",
},
[18] = {
	bubbleid = 18,
	news = "极限反击",
},
[19] = {
	bubbleid = 19,
	news = "血怒斩杀",
},
[20] = {
	bubbleid = 20,
	news = "刀光剑影",
},
[21] = {
	bubbleid = 21,
	news = "疾风斩",
},
[22] = {
	bubbleid = 22,
	news = "烈焰护体!!",
},
[23] = {
	bubbleid = 23,
	news = "不屈意志!!",
},
[24] = {
	bubbleid = 24,
	news = "80006_png",
},
[25] = {
	bubbleid = 25,
	news = "80007_png",
},
}