HuangZuanDayGiftConfig={
[0] = {
	[1] = {
		type = 0,
		lv = 1,
		reward = {{type=0,id=1,count=20000},{type=1,id=200002,count=20}},
	},
	[2] = {
		type = 0,
		lv = 2,
		reward = {{type=0,id=1,count=30000},{type=1,id=200002,count=30}},
	},
	[3] = {
		type = 0,
		lv = 3,
		reward = {{type=0,id=1,count=40000},{type=1,id=200002,count=40}},
	},
	[4] = {
		type = 0,
		lv = 4,
		reward = {{type=0,id=1,count=50000},{type=1,id=200002,count=50}},
	},
	[5] = {
		type = 0,
		lv = 5,
		reward = {{type=0,id=1,count=60000},{type=1,id=200002,count=60}},
	},
	[6] = {
		type = 0,
		lv = 6,
		reward = {{type=0,id=1,count=70000},{type=1,id=200002,count=70}},
	},
	[7] = {
		type = 0,
		lv = 7,
		reward = {{type=0,id=1,count=80000},{type=1,id=200002,count=80}},
	},
	[8] = {
		type = 0,
		lv = 8,
		reward = {{type=0,id=1,count=90000},{type=1,id=200002,count=90}},
	},
},
[1] = {
	[1] = {
		type = 1,
		lv = 1,
		reward = {{type=0,id=1,count=20000},{type=1,id=200002,count=20}},
	},
	[2] = {
		type = 1,
		lv = 2,
		reward = {{type=0,id=1,count=30000},{type=1,id=200002,count=30}},
	},
	[3] = {
		type = 1,
		lv = 3,
		reward = {{type=0,id=1,count=40000},{type=1,id=200002,count=40}},
	},
	[4] = {
		type = 1,
		lv = 4,
		reward = {{type=0,id=1,count=50000},{type=1,id=200002,count=50}},
	},
	[5] = {
		type = 1,
		lv = 5,
		reward = {{type=0,id=1,count=60000},{type=1,id=200002,count=60}},
	},
	[6] = {
		type = 1,
		lv = 6,
		reward = {{type=0,id=1,count=70000},{type=1,id=200002,count=70}},
	},
	[7] = {
		type = 1,
		lv = 7,
		reward = {{type=0,id=1,count=80000},{type=1,id=200002,count=80}},
	},
	[8] = {
		type = 1,
		lv = 8,
		reward = {{type=0,id=1,count=90000},{type=1,id=200002,count=90}},
	},
},
}