HuangZuanLevelGiftConfig={
[10] = {
	actorlevel = 10,
	reward = {{type=1,id=200002,count=30},{type=0,id=1,count=50000}},
},
[20] = {
	actorlevel = 20,
	reward = {{type=1,id=200002,count=40},{type=0,id=1,count=100000}},
},
[30] = {
	actorlevel = 30,
	reward = {{type=1,id=200002,count=50},{type=0,id=1,count=150000}},
},
[40] = {
	actorlevel = 40,
	reward = {{type=1,id=200002,count=60},{type=0,id=1,count=200000}},
},
[50] = {
	actorlevel = 50,
	reward = {{type=1,id=200002,count=70},{type=0,id=1,count=250000}},
},
[60] = {
	actorlevel = 60,
	reward = {{type=1,id=200002,count=80},{type=0,id=1,count=300000}},
},
[70] = {
	actorlevel = 70,
	reward = {{type=1,id=200002,count=90},{type=0,id=1,count=350000}},
},
[80] = {
	actorlevel = 80,
	reward = {{type=1,id=200002,count=100},{type=0,id=1,count=400000}},
},
}