--W-玩吧礼包.xlsx 礼包基本表
WanBaGiftbagBasic={
[1] = {
	day = 1,
	items = {{type=0,id=1,count=100000},{type=1,id=200002,count=200}},
},
[2] = {
	day = 2,
	items = {{type=0,id=1,count=100000},{type=1,id=200001,count=10}},
},
[3] = {
	day = 3,
	items = {{type=0,id=1,count=100000},{type=1,id=200003,count=5}},
},
[4] = {
	day = 4,
	items = {{type=0,id=1,count=100000},{type=1,id=200005,count=10}},
},
[5] = {
	day = 5,
	items = {{type=0,id=1,count=100000},{type=1,id=200006,count=10}},
},
[6] = {
	day = 6,
	items = {{type=0,id=1,count=200000},{type=1,id=200004,count=10}},
},
[7] = {
	day = 7,
	items = {{type=0,id=1,count=200000},{type=0,id=2,count=500}},
},
}