--W-物品配置表.xlsx 可选择礼包
OptionalGiftConfig={
[200302] = {
	itemid = 200302,
	options = {{itemid=200142,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200144,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200301,itemcount=600,zslimit=0,level=1,useGrid=0}},
},
[200311] = {
	itemid = 200311,
	options = {{itemid=200200,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200201,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200202,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200203,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200204,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200205,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200206,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200207,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200312] = {
	itemid = 200312,
	options = {{itemid=200184,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200185,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200186,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200187,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200188,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200189,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200190,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200191,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200314] = {
	itemid = 200314,
	options = {{itemid=200192,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200193,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200194,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200195,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200196,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200197,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200198,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200199,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200315] = {
	itemid = 200315,
	options = {{itemid=601102,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601202,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601302,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601402,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200316] = {
	itemid = 200316,
	options = {{itemid=601103,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601203,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601303,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601403,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200317] = {
	itemid = 200317,
	options = {{itemid=601104,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601204,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601304,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601404,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200325] = {
	itemid = 200325,
	options = {{itemid=200933,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200934,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200935,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200925] = {
	itemid = 200925,
	options = {{itemid=501301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=502301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=503301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=516301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=518301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=517301,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200926] = {
	itemid = 200926,
	options = {{itemid=300413,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=301413,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=302413,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200927] = {
	itemid = 200927,
	options = {{itemid=300414,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=301414,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=302414,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200928] = {
	itemid = 200928,
	options = {{itemid=300415,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=301415,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=302415,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200951] = {
	itemid = 200951,
	options = {{itemid=501401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=502401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=503401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=516401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=518401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=517401,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200969] = {
	itemid = 200969,
	options = {{itemid=200178,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200179,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200180,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200181,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200182,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=200183,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200970] = {
	itemid = 200970,
	options = {{itemid=1100001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1200001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1300001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1400001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1500001,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200971] = {
	itemid = 200971,
	options = {{itemid=1102001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1202001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1302001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1402001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1502001,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200972] = {
	itemid = 200972,
	options = {{itemid=1105001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1205001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1305001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1405001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1505001,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200973] = {
	itemid = 200973,
	options = {{itemid=1107001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1207001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1307001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1407001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1507001,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200974] = {
	itemid = 200974,
	options = {{itemid=504301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=505301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=506301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=507301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=508301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=509301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=510301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=511301,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200975] = {
	itemid = 200975,
	options = {{itemid=504401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=505401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=506401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=507401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=508401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=509401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=510401,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=511401,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200976] = {
	itemid = 200976,
	options = {{itemid=1108001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1208001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1308001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1408001,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=1508001,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[200977] = {
	itemid = 200977,
	options = {{itemid=321400,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=322400,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=323400,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=324400,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=325400,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[204021] = {
	itemid = 204021,
	options = {{itemid=411112,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=421112,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=431112,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204022] = {
	itemid = 204022,
	options = {{itemid=411212,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=421212,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=431212,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204023] = {
	itemid = 204023,
	options = {{itemid=411012,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=421012,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=431012,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204024] = {
	itemid = 204024,
	options = {{itemid=410912,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=420912,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=430912,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204025] = {
	itemid = 204025,
	options = {{itemid=411122,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=421122,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=431122,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204026] = {
	itemid = 204026,
	options = {{itemid=411222,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=421222,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=431222,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204027] = {
	itemid = 204027,
	options = {{itemid=411022,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=421022,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=431022,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204028] = {
	itemid = 204028,
	options = {{itemid=410922,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=420922,itemcount=1,zslimit=0,level=1,useGrid=1},{itemid=430922,itemcount=1,zslimit=0,level=1,useGrid=1}},
},
[204051] = {
	itemid = 204051,
	options = {{itemid=601101,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601201,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601301,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=601401,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[204064] = {
	itemid = 204064,
	options = {{itemid=200011,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=201106,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[204065] = {
	itemid = 204065,
	options = {{itemid=200012,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=201107,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[204105] = {
	itemid = 204105,
	options = {{itemid=204078,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204080,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204081,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204082,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204083,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204084,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
[204106] = {
	itemid = 204106,
	options = {{itemid=204079,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204078,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204080,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204081,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204082,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204083,itemcount=1,zslimit=0,level=1,useGrid=0},{itemid=204084,itemcount=1,zslimit=0,level=1,useGrid=0}},
},
}