SmeltConfig={
[702] = {
	index = 702,
	level = 70,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 9,
	moneyNum = 2640,
	equipRate = {{qualityAdd=1,rate=4.25}},
},
[3602] = {
	index = 3602,
	level = 360,
	zsLevel = 0,
	quality = 2,
	stoneId = 0,
	stoneNum = 0,
	moneyNum = 0,
	equipRate = {},
	moneyType = {{type=11,count=5}},
},
[60803] = {
	index = 60803,
	level = 80,
	zsLevel = 6,
	quality = 3,
	stoneId = 200002,
	stoneNum = 35,
	moneyNum = 10000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[500] = {
	index = 500,
	level = 50,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 2,
	moneyNum = 620,
	equipRate = {{qualityAdd=3,rate=1.04}},
},
[504] = {
	index = 504,
	level = 50,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 80,
	moneyNum = 0,
	equipRate = {},
},
[50802] = {
	index = 50802,
	level = 80,
	zsLevel = 5,
	quality = 2,
	stoneId = 200002,
	stoneNum = 18,
	moneyNum = 5400,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[80804] = {
	index = 80804,
	level = 80,
	zsLevel = 8,
	quality = 4,
	stoneId = 200007,
	stoneNum = 11260,
	moneyNum = 0,
	equipRate = {},
},
[703] = {
	index = 703,
	level = 70,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 15,
	moneyNum = 4400,
	equipRate = {{qualityAdd=3, rate=0}},
},
[110800] = {
	index = 110800,
	level = 80,
	zsLevel = 11,
	quality = 0,
	stoneId = 200002,
	stoneNum = 9,
	moneyNum = 2900,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[70803] = {
	index = 70803,
	level = 80,
	zsLevel = 7,
	quality = 3,
	stoneId = 200002,
	stoneNum = 35,
	moneyNum = 10750,
	equipRate = {{qualityAdd=3, rate=0}},
},
[10] = {
	index = 10,
	level = 1,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 1,
	moneyNum = 150,
	equipRate = {{qualityAdd=3,rate=0.99}},
},
[63804] = {
	index = 63804,
	level = 380,
	zsLevel = 6,
	quality = 4,
	stoneId = 0,
	stoneNum = 0,
	moneyNum = 0,
	equipRate = {},
	moneyType = {{type=11,count=2090}},
},
[120802] = {
	index = 120802,
	level = 80,
	zsLevel = 12,
	quality = 2,
	stoneId = 200002,
	stoneNum = 30,
	moneyNum = 9300,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[704] = {
	index = 704,
	level = 70,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 160,
	moneyNum = 0,
	equipRate = {},
},
[13803] = {
	index = 13803,
	level = 380,
	zsLevel = 1,
	quality = 3,
	stoneId = 0,
	stoneNum = 0,
	moneyNum = 0,
	equipRate = {},
	moneyType = {{type=11,count=24}},
},
[60804] = {
	index = 60804,
	level = 80,
	zsLevel = 6,
	quality = 4,
	stoneId = 200007,
	stoneNum = 5860,
	moneyNum = 0,
	equipRate = {},
},
[12] = {
	index = 12,
	level = 1,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 3,
	moneyNum = 450,
	equipRate = {{qualityAdd=1,rate=4.46}},
},
[100800] = {
	index = 100800,
	level = 80,
	zsLevel = 10,
	quality = 0,
	stoneId = 200002,
	stoneNum = 9,
	moneyNum = 2800,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[200] = {
	index = 200,
	level = 20,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 1,
	moneyNum = 290,
	equipRate = {{qualityAdd=3,rate=0.99}},
},
[800] = {
	index = 800,
	level = 80,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 4,
	moneyNum = 1000,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[13] = {
	index = 13,
	level = 1,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 5,
	moneyNum = 750,
	equipRate = {{qualityAdd=3, rate=0}},
},
[120803] = {
	index = 120803,
	level = 80,
	zsLevel = 12,
	quality = 3,
	stoneId = 200002,
	stoneNum = 50,
	moneyNum = 15500,
	equipRate = {{qualityAdd=3, rate=0}},
},
[110802] = {
	index = 110802,
	level = 80,
	zsLevel = 11,
	quality = 2,
	stoneId = 200002,
	stoneNum = 27,
	moneyNum = 8700,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[40802] = {
	index = 40802,
	level = 80,
	zsLevel = 4,
	quality = 2,
	stoneId = 200002,
	stoneNum = 18,
	moneyNum = 4800,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[14] = {
	index = 14,
	level = 1,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 5,
	moneyNum = 0,
	equipRate = {},
},
[90800] = {
	index = 90800,
	level = 80,
	zsLevel = 9,
	quality = 0,
	stoneId = 200002,
	stoneNum = 8,
	moneyNum = 2600,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[60800] = {
	index = 60800,
	level = 80,
	zsLevel = 6,
	quality = 0,
	stoneId = 200002,
	stoneNum = 7,
	moneyNum = 2000,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[90805] = {
	index = 90805,
	level = 80,
	zsLevel = 9,
	quality = 5,
	stoneId = 200008,
	stoneNum = 1050,
	moneyNum = 0,
	equipRate = {},
},
[20803] = {
	index = 20803,
	level = 80,
	zsLevel = 2,
	quality = 3,
	stoneId = 200002,
	stoneNum = 25,
	moneyNum = 6400,
	equipRate = {{qualityAdd=3, rate=0}},
},
[120804] = {
	index = 120804,
	level = 80,
	zsLevel = 12,
	quality = 4,
	stoneId = 200007,
	stoneNum = 30260,
	moneyNum = 0,
	equipRate = {},
},
[53804] = {
	index = 53804,
	level = 380,
	zsLevel = 5,
	quality = 4,
	stoneId = 0,
	stoneNum = 0,
	moneyNum = 0,
	equipRate = {},
	moneyType = {{type=11,count=810}},
},
[70805] = {
	index = 70805,
	level = 80,
	zsLevel = 7,
	quality = 5,
	stoneId = 200008,
	stoneNum = 650,
	moneyNum = 0,
	equipRate = {},
},
[50805] = {
	index = 50805,
	level = 80,
	zsLevel = 5,
	quality = 5,
	stoneId = 200008,
	stoneNum = 400,
	moneyNum = 0,
	equipRate = {},
},
[110803] = {
	index = 110803,
	level = 80,
	zsLevel = 11,
	quality = 3,
	stoneId = 200002,
	stoneNum = 45,
	moneyNum = 14500,
	equipRate = {{qualityAdd=3, rate=0}},
},
[603] = {
	index = 603,
	level = 60,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 15,
	moneyNum = 3900,
	equipRate = {{qualityAdd=3, rate=0}},
},
[30805] = {
	index = 30805,
	level = 80,
	zsLevel = 3,
	quality = 5,
	stoneId = 200008,
	stoneNum = 200,
	moneyNum = 0,
	equipRate = {},
},
[502] = {
	index = 502,
	level = 50,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 6,
	moneyNum = 1860,
	equipRate = {{qualityAdd=1,rate=8.33}},
},
[100802] = {
	index = 100802,
	level = 80,
	zsLevel = 10,
	quality = 2,
	stoneId = 200002,
	stoneNum = 27,
	moneyNum = 8400,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[303] = {
	index = 303,
	level = 30,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 5,
	moneyNum = 1800,
	equipRate = {{qualityAdd=3, rate=0}},
},
[33804] = {
	index = 33804,
	level = 380,
	zsLevel = 3,
	quality = 4,
	stoneId = 0,
	stoneNum = 0,
	moneyNum = 0,
	equipRate = {},
	moneyType = {{type=11,count=91}},
},
[110804] = {
	index = 110804,
	level = 80,
	zsLevel = 11,
	quality = 4,
	stoneId = 200007,
	stoneNum = 24260,
	moneyNum = 0,
	equipRate = {},
},
[50800] = {
	index = 50800,
	level = 80,
	zsLevel = 5,
	quality = 0,
	stoneId = 200002,
	stoneNum = 6,
	moneyNum = 1800,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[50804] = {
	index = 50804,
	level = 80,
	zsLevel = 5,
	quality = 4,
	stoneId = 200007,
	stoneNum = 4060,
	moneyNum = 0,
	equipRate = {},
},
[802] = {
	index = 802,
	level = 80,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 12,
	moneyNum = 3000,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[302] = {
	index = 302,
	level = 30,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 3,
	moneyNum = 1080,
	equipRate = {{qualityAdd=1,rate=4.46}},
},
[10800] = {
	index = 10800,
	level = 80,
	zsLevel = 1,
	quality = 0,
	stoneId = 200002,
	stoneNum = 4,
	moneyNum = 1100,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[202] = {
	index = 202,
	level = 20,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 3,
	moneyNum = 870,
	equipRate = {{qualityAdd=1,rate=4.46}},
},
[10802] = {
	index = 10802,
	level = 80,
	zsLevel = 1,
	quality = 2,
	stoneId = 200002,
	stoneNum = 12,
	moneyNum = 3300,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[10803] = {
	index = 10803,
	level = 80,
	zsLevel = 1,
	quality = 3,
	stoneId = 200002,
	stoneNum = 20,
	moneyNum = 5500,
	equipRate = {{qualityAdd=3, rate=0}},
},
[300] = {
	index = 300,
	level = 30,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 1,
	moneyNum = 360,
	equipRate = {{qualityAdd=3,rate=0.99}},
},
[40803] = {
	index = 40803,
	level = 80,
	zsLevel = 4,
	quality = 3,
	stoneId = 200002,
	stoneNum = 30,
	moneyNum = 8000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[70804] = {
	index = 70804,
	level = 80,
	zsLevel = 7,
	quality = 4,
	stoneId = 200007,
	stoneNum = 7860,
	moneyNum = 0,
	equipRate = {},
},
[30800] = {
	index = 30800,
	level = 80,
	zsLevel = 3,
	quality = 0,
	stoneId = 200002,
	stoneNum = 5,
	moneyNum = 1350,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[100803] = {
	index = 100803,
	level = 80,
	zsLevel = 10,
	quality = 3,
	stoneId = 200002,
	stoneNum = 45,
	moneyNum = 14000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[30804] = {
	index = 30804,
	level = 80,
	zsLevel = 3,
	quality = 4,
	stoneId = 200007,
	stoneNum = 1660,
	moneyNum = 0,
	equipRate = {},
},
[20804] = {
	index = 20804,
	level = 80,
	zsLevel = 2,
	quality = 4,
	stoneId = 200007,
	stoneNum = 910,
	moneyNum = 0,
	equipRate = {},
},
[10804] = {
	index = 10804,
	level = 80,
	zsLevel = 1,
	quality = 4,
	stoneId = 200007,
	stoneNum = 460,
	moneyNum = 0,
	equipRate = {},
},
[90802] = {
	index = 90802,
	level = 80,
	zsLevel = 9,
	quality = 2,
	stoneId = 200002,
	stoneNum = 24,
	moneyNum = 7800,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[804] = {
	index = 804,
	level = 80,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 260,
	moneyNum = 0,
	equipRate = {},
},
[803] = {
	index = 803,
	level = 80,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 20,
	moneyNum = 5000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[604] = {
	index = 604,
	level = 60,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 110,
	moneyNum = 0,
	equipRate = {},
},
[404] = {
	index = 404,
	level = 40,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 55,
	moneyNum = 0,
	equipRate = {},
},
[700] = {
	index = 700,
	level = 70,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 3,
	moneyNum = 880,
	equipRate = {{qualityAdd=3,rate=0.46}},
},
[304] = {
	index = 304,
	level = 30,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 35,
	moneyNum = 0,
	equipRate = {},
},
[204] = {
	index = 204,
	level = 20,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 20,
	moneyNum = 0,
	equipRate = {},
},
[70800] = {
	index = 70800,
	level = 80,
	zsLevel = 7,
	quality = 0,
	stoneId = 200002,
	stoneNum = 7,
	moneyNum = 2150,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[104] = {
	index = 104,
	level = 10,
	zsLevel = 0,
	quality = 4,
	stoneId = 200007,
	stoneNum = 10,
	moneyNum = 0,
	equipRate = {},
},
[80800] = {
	index = 80800,
	level = 80,
	zsLevel = 8,
	quality = 0,
	stoneId = 200002,
	stoneNum = 8,
	moneyNum = 2400,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[503] = {
	index = 503,
	level = 50,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 10,
	moneyNum = 3100,
	equipRate = {{qualityAdd=3, rate=0}},
},
[100804] = {
	index = 100804,
	level = 80,
	zsLevel = 10,
	quality = 4,
	stoneId = 200007,
	stoneNum = 19260,
	moneyNum = 0,
	equipRate = {},
},
[43804] = {
	index = 43804,
	level = 380,
	zsLevel = 4,
	quality = 4,
	stoneId = 0,
	stoneNum = 0,
	moneyNum = 0,
	equipRate = {},
	moneyType = {{type=11,count=240}},
},
[600] = {
	index = 600,
	level = 60,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 3,
	moneyNum = 780,
	equipRate = {{qualityAdd=3,rate=0.75}},
},
[602] = {
	index = 602,
	level = 60,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 9,
	moneyNum = 2340,
	equipRate = {{qualityAdd=1,rate=6.94}},
},
[100] = {
	index = 100,
	level = 10,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 1,
	moneyNum = 220,
	equipRate = {{qualityAdd=3,rate=0.99}},
},
[400] = {
	index = 400,
	level = 40,
	zsLevel = 0,
	quality = 0,
	stoneId = 200002,
	stoneNum = 2,
	moneyNum = 550,
	equipRate = {{qualityAdd=3,rate=1.04}},
},
[102] = {
	index = 102,
	level = 10,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 3,
	moneyNum = 660,
	equipRate = {{qualityAdd=1,rate=4.46}},
},
[103] = {
	index = 103,
	level = 10,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 5,
	moneyNum = 1100,
	equipRate = {{qualityAdd=3, rate=0}},
},
[80802] = {
	index = 80802,
	level = 80,
	zsLevel = 8,
	quality = 2,
	stoneId = 200002,
	stoneNum = 24,
	moneyNum = 7200,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[203] = {
	index = 203,
	level = 20,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 5,
	moneyNum = 1450,
	equipRate = {{qualityAdd=3, rate=0}},
},
[90803] = {
	index = 90803,
	level = 80,
	zsLevel = 9,
	quality = 3,
	stoneId = 200002,
	stoneNum = 40,
	moneyNum = 13000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[403] = {
	index = 403,
	level = 40,
	zsLevel = 0,
	quality = 3,
	stoneId = 200002,
	stoneNum = 10,
	moneyNum = 2750,
	equipRate = {{qualityAdd=3, rate=0}},
},
[40800] = {
	index = 40800,
	level = 80,
	zsLevel = 4,
	quality = 0,
	stoneId = 200002,
	stoneNum = 6,
	moneyNum = 1600,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[40804] = {
	index = 40804,
	level = 80,
	zsLevel = 4,
	quality = 4,
	stoneId = 200007,
	stoneNum = 2560,
	moneyNum = 0,
	equipRate = {},
},
[60802] = {
	index = 60802,
	level = 80,
	zsLevel = 6,
	quality = 2,
	stoneId = 200002,
	stoneNum = 21,
	moneyNum = 6000,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[70802] = {
	index = 70802,
	level = 80,
	zsLevel = 7,
	quality = 2,
	stoneId = 200002,
	stoneNum = 21,
	moneyNum = 6450,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[100805] = {
	index = 100805,
	level = 80,
	zsLevel = 10,
	quality = 5,
	stoneId = 200008,
	stoneNum = 1450,
	moneyNum = 0,
	equipRate = {},
},
[50803] = {
	index = 50803,
	level = 80,
	zsLevel = 5,
	quality = 3,
	stoneId = 200002,
	stoneNum = 30,
	moneyNum = 9000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[30802] = {
	index = 30802,
	level = 80,
	zsLevel = 3,
	quality = 2,
	stoneId = 200002,
	stoneNum = 15,
	moneyNum = 4050,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[30803] = {
	index = 30803,
	level = 80,
	zsLevel = 3,
	quality = 3,
	stoneId = 200002,
	stoneNum = 25,
	moneyNum = 6750,
	equipRate = {{qualityAdd=3, rate=0}},
},
[90804] = {
	index = 90804,
	level = 80,
	zsLevel = 9,
	quality = 4,
	stoneId = 200007,
	stoneNum = 15060,
	moneyNum = 0,
	equipRate = {},
},
[20800] = {
	index = 20800,
	level = 80,
	zsLevel = 2,
	quality = 0,
	stoneId = 200002,
	stoneNum = 5,
	moneyNum = 1280,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[20802] = {
	index = 20802,
	level = 80,
	zsLevel = 2,
	quality = 2,
	stoneId = 200002,
	stoneNum = 15,
	moneyNum = 3840,
	equipRate = {{qualityAdd=1,rate=2.08}},
},
[120800] = {
	index = 120800,
	level = 80,
	zsLevel = 12,
	quality = 0,
	stoneId = 200002,
	stoneNum = 10,
	moneyNum = 3100,
	equipRate = {{qualityAdd=3,rate=0.25}},
},
[80803] = {
	index = 80803,
	level = 80,
	zsLevel = 8,
	quality = 3,
	stoneId = 200002,
	stoneNum = 40,
	moneyNum = 12000,
	equipRate = {{qualityAdd=3, rate=0}},
},
[402] = {
	index = 402,
	level = 40,
	zsLevel = 0,
	quality = 2,
	stoneId = 200002,
	stoneNum = 6,
	moneyNum = 1650,
	equipRate = {{qualityAdd=1,rate=8.33}},
},
}