--J-爵位系统配置.xlsx 官印等级奖励
GuanYinAwardConfig={
{
	level = 7,
	award = {type=1,id=600005,count=1},
},
{
	level = 11,
	award = {type=1,id=600006,count=1},
},
{
	level = 18,
	award = {type=1,id=600006,count=1},
},
{
	level = 21,
	award = {type=1,id=600007,count=1},
},
{
	level = 26,
	award = {type=1,id=600007,count=1},
},
{
	level = 31,
	award = {type=1,id=600007,count=1},
},
{
	level = 36,
	award = {type=1,id=600008,count=1},
},
{
	level = 40,
	award = {type=1,id=600008,count=1},
},
{
	level = 61,
	award = {type=1,id=600008,count=1},
},
{
	level = 75,
	award = {type=1,id=600009,count=1},
},
{
	level = 95,
	award = {type=1,id=600009,count=1},
},
{
	level = 125,
	award = {type=1,id=600009,count=1},
},
{
	level = 160,
	award = {type=1,id=600010,count=1},
},
{
	level = 195,
	award = {type=1,id=600010,count=1},
},
{
	level = 230,
	award = {type=1,id=600010,count=1},
},
{
	level = 265,
	award = {type=1,id=600011,count=1},
},
{
	level = 300,
	award = {type=1,id=600011,count=1},
},
{
	level = 336,
	award = {type=1,id=600011,count=1},
},
{
	level = 375,
	award = {type=1,id=600012,count=1},
},
{
	level = 418,
	award = {type=1,id=600012,count=1},
},
{
	level = 480,
	award = {type=1,id=600012,count=1},
},
{
	level = 545,
	award = {type=1,id=600013,count=1},
},
{
	level = 612,
	award = {type=1,id=600013,count=1},
},
{
	level = 679,
	award = {type=1,id=600013,count=1},
},
{
	level = 900,
	award = {type=1,id=600014,count=1},
},
}