--J-爵位系统配置.xlsx 历练等级奖励
TrainLevelAwardConfig={
[1] = {
	id = 1,
	level = 0,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[2] = {
	id = 2,
	level = 7,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[3] = {
	id = 3,
	level = 20,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[4] = {
	id = 4,
	level = 45,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[5] = {
	id = 5,
	level = 80,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[6] = {
	id = 6,
	level = 130,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[7] = {
	id = 7,
	level = 200,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[8] = {
	id = 8,
	level = 300,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[9] = {
	id = 9,
	level = 520,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[10] = {
	id = 10,
	level = 550,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
[11] = {
	id = 11,
	level = 700,
	exattrs = {{type=29,value=500},{type=30,value=30000}},
},
}