--J-爵位系统配置.xlsx 历练每日奖励
TrainDayAwardConfig={
[1] = {
	[1] = {
		openDay = 1,
		id = 1,
		score = 80,
		reward = {{type=1,id=200937,count=1}},
	},
	[2] = {
		openDay = 1,
		id = 2,
		score = 130,
		reward = {{type=1,id=200938,count=1}},
	},
	[3] = {
		openDay = 1,
		id = 3,
		score = 190,
		reward = {{type=1,id=200903,count=1}},
	},
},
[7] = {
	[1] = {
		openDay = 7,
		id = 1,
		score = 80,
		reward = {{type=1,id=200937,count=1}},
	},
	[2] = {
		openDay = 7,
		id = 2,
		score = 130,
		reward = {{type=1,id=200938,count=1}},
	},
	[3] = {
		openDay = 7,
		id = 3,
		score = 190,
		reward = {{type=1,id=200904,count=1}},
	},
},
}