--Y-引导副本.xlsx boss人形怪配置
LeadRobotConfig={
[0] = {
	id = 0,
	fbId = 40000,
	camp = 1,
	group = 1,
	name = LAN.CHAR.laddername1,
	level = 80,
	job = 1,
	sex = 0,
	clothesId = 121008,
	weaponId = 101008,
	wingOpenState = 1,
	wingLevel = 0,
	attrs = {{type =2,value =12000},{type =4,value =1000},{type =5,value =266},{type =6,value =266},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
	skills = {11001,12001,13001,15001},
	posX = 20,
	posY = 23,
	rposX = 12,
	rposY = 29,
},
}