--S-神兽.xlsx 基本配置
ShenShouBase={
[1] = {
	id = 1,
	minLevel = {0,0,0,0,0},
	skill = {1},
},
[2] = {
	id = 2,
	minLevel = {2,2,0,0,0},
	skill = {6},
},
[3] = {
	id = 3,
	minLevel = {2,2,2,2,2},
	skill = {2},
},
[4] = {
	id = 4,
	minLevel = {5,5,2,2,2},
	skill = {7},
},
[5] = {
	id = 5,
	minLevel = {5,5,5,5,2},
	skill = {3},
},
[6] = {
	id = 6,
	minLevel = {5,5,5,5,5},
	skill = {8},
},
[7] = {
	id = 7,
	minLevel = {8,5,5,5,5},
	skill = {11,3},
},
[8] = {
	id = 8,
	minLevel = {8,8,8,5,5},
	skill = {16,8},
},
[9] = {
	id = 9,
	minLevel = {8,8,8,8,8},
	skill = {12,3},
},
}