--S-神兽.xlsx 熔炼表
ShenShouSmelt={
[0] = {
	level = 0,
	exp = 5,
},
[1] = {
	level = 1,
	exp = 10,
},
[2] = {
	level = 2,
	exp = 20,
},
[3] = {
	level = 3,
	exp = 30,
},
[4] = {
	level = 4,
	exp = 40,
},
[5] = {
	level = 5,
	exp = 120,
},
[6] = {
	level = 6,
	exp = 160,
},
[7] = {
	level = 7,
	exp = 200,
},
[8] = {
	level = 8,
	exp = 320,
},
[9] = {
	level = 9,
	exp = 640,
},
[10] = {
	level = 10,
	exp = 1280,
},
}