--C-传世装备寻宝配置.xlsx 探宝次数累计奖励配置
HeirloomTreasureRewardConfig={
[1] = {
	id = 1,
	needTime = 5,
	reward = {{type=1,id=200301,count=5}},
},
[2] = {
	id = 2,
	needTime = 15,
	reward = {{type=1,id=200301,count=15}},
},
[3] = {
	id = 3,
	needTime = 35,
	reward = {{type=1,id=200301,count=35}},
},
[4] = {
	id = 4,
	needTime = 65,
	reward = {{type=1,id=200301,count=65}},
},
[5] = {
	id = 5,
	needTime = 125,
	reward = {{type=1,id=200301,count=125}},
},
}