--C-传世装备寻宝配置.xlsx 探宝配置
HeirloomTreasureConfig={
	huntItem = 200300,
	huntOnce = 5000,
	huntTenth = 48000,
	huntNotice = 26,
	huntRecordSize = 20,
	openZSlevel = 3,
	perDrop = {},
	addBlissVal = 1,
	maxBlissVal = 501,
	blissQua = 5,
	openDay = 11,
	ordinaryDrop = 1655001,
	freeCount = 1,
	clearItemId = 200302,
	blissDropId = 1655005,
	specialDrop = {{count=150,id=1655004},{count=50,id=1655003},{count=20,id=1655002}},
	sequence = 4,
}