--C-传世装备寻宝配置.xlsx 序列库
HLSequencePoolConf={
[0] = {
	[1] = {
		hefuCount = 0,
		id = 1,
		pool = {{9,1655007},{69,1655008}},
	},
	[2] = {
		hefuCount = 0,
		id = 2,
		pool = {{8,1655007},{68,1655008}},
	},
	[3] = {
		hefuCount = 0,
		id = 3,
		pool = {{9,1655007},{70,1655008}},
	},
	[4] = {
		hefuCount = 0,
		id = 4,
		pool = {{10,1655007},{70,1655008}},
	},
},
[1] = {
	[1] = {
		hefuCount = 1,
		id = 1,
		pool = {},
	},
	[2] = {
		hefuCount = 1,
		id = 2,
		pool = {},
	},
	[3] = {
		hefuCount = 1,
		id = 3,
		pool = {},
	},
	[4] = {
		hefuCount = 1,
		id = 4,
		pool = {},
	},
},
}