NeiGongLevelConfig={
[0] = {
	level = 0,
	totalExp = 50,
	costMoney = 500,
	addExp = 10,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=0},{type=4,value=0}},
},
[1] = {
	level = 1,
	totalExp = 50,
	costMoney = 500,
	addExp = 10,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=0},{type=4,value=0}},
},
[2] = {
	level = 2,
	totalExp = 60,
	costMoney = 600,
	addExp = 20,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=275},{type=4,value=21}},
},
[3] = {
	level = 3,
	totalExp = 70,
	costMoney = 700,
	addExp = 30,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=550},{type=4,value=43}},
},
[4] = {
	level = 4,
	totalExp = 80,
	costMoney = 800,
	addExp = 40,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=852},{type=4,value=67}},
},
[5] = {
	level = 5,
	totalExp = 90,
	costMoney = 900,
	addExp = 50,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=1155},{type=4,value=91}},
},
[6] = {
	level = 6,
	totalExp = 100,
	costMoney = 1000,
	addExp = 60,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=1485},{type=4,value=117}},
},
[7] = {
	level = 7,
	totalExp = 110,
	costMoney = 1100,
	addExp = 70,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=1815},{type=4,value=143}},
},
[8] = {
	level = 8,
	totalExp = 120,
	costMoney = 1200,
	addExp = 80,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=2172},{type=4,value=171}},
},
[9] = {
	level = 9,
	totalExp = 130,
	costMoney = 1300,
	addExp = 90,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=2530},{type=4,value=199}},
},
[10] = {
	level = 10,
	totalExp = 140,
	costMoney = 1400,
	addExp = 100,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=2915},{type=4,value=229}},
},
[11] = {
	level = 11,
	totalExp = 150,
	costMoney = 1500,
	addExp = 110,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=3300},{type=4,value=260}},
},
[12] = {
	level = 12,
	totalExp = 160,
	costMoney = 1600,
	addExp = 120,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=3712},{type=4,value=292}},
},
[13] = {
	level = 13,
	totalExp = 170,
	costMoney = 1700,
	addExp = 130,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=4125},{type=4,value=325}},
},
[14] = {
	level = 14,
	totalExp = 180,
	costMoney = 1800,
	addExp = 140,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=4565},{type=4,value=359}},
},
[15] = {
	level = 15,
	totalExp = 190,
	costMoney = 1900,
	addExp = 150,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=5005},{type=4,value=394}},
},
[16] = {
	level = 16,
	totalExp = 200,
	costMoney = 2000,
	addExp = 160,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=5472},{type=4,value=431}},
},
[17] = {
	level = 17,
	totalExp = 210,
	costMoney = 2100,
	addExp = 170,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=5940},{type=4,value=468}},
},
[18] = {
	level = 18,
	totalExp = 220,
	costMoney = 2200,
	addExp = 180,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=6435},{type=4,value=507}},
},
[19] = {
	level = 19,
	totalExp = 230,
	costMoney = 2300,
	addExp = 190,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=6930},{type=4,value=546}},
},
[20] = {
	level = 20,
	totalExp = 240,
	costMoney = 2400,
	addExp = 200,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=7452},{type=4,value=587}},
},
[21] = {
	level = 21,
	totalExp = 250,
	costMoney = 2500,
	addExp = 210,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=7975},{type=4,value=628}},
},
[22] = {
	level = 22,
	totalExp = 260,
	costMoney = 2600,
	addExp = 220,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=8525},{type=4,value=671}},
},
[23] = {
	level = 23,
	totalExp = 270,
	costMoney = 2700,
	addExp = 230,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=9075},{type=4,value=715}},
},
[24] = {
	level = 24,
	totalExp = 280,
	costMoney = 2800,
	addExp = 240,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=9652},{type=4,value=760}},
},
[25] = {
	level = 25,
	totalExp = 290,
	costMoney = 2900,
	addExp = 250,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=10230},{type=4,value=806}},
},
[26] = {
	level = 26,
	totalExp = 300,
	costMoney = 3000,
	addExp = 260,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=10835},{type=4,value=853}},
},
[27] = {
	level = 27,
	totalExp = 310,
	costMoney = 3100,
	addExp = 270,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=11440},{type=4,value=901}},
},
[28] = {
	level = 28,
	totalExp = 320,
	costMoney = 3200,
	addExp = 280,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=12072},{type=4,value=951}},
},
[29] = {
	level = 29,
	totalExp = 330,
	costMoney = 3300,
	addExp = 290,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=12705},{type=4,value=1001}},
},
[30] = {
	level = 30,
	totalExp = 340,
	costMoney = 3400,
	addExp = 300,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=13365},{type=4,value=1053}},
},
[31] = {
	level = 31,
	totalExp = 350,
	costMoney = 3500,
	addExp = 310,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=14025},{type=4,value=1105}},
},
[32] = {
	level = 32,
	totalExp = 360,
	costMoney = 3600,
	addExp = 320,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=14712},{type=4,value=1159}},
},
[33] = {
	level = 33,
	totalExp = 370,
	costMoney = 3700,
	addExp = 330,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=15400},{type=4,value=1213}},
},
[34] = {
	level = 34,
	totalExp = 380,
	costMoney = 3800,
	addExp = 340,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=16115},{type=4,value=1269}},
},
[35] = {
	level = 35,
	totalExp = 390,
	costMoney = 3900,
	addExp = 350,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=16830},{type=4,value=1326}},
},
[36] = {
	level = 36,
	totalExp = 400,
	costMoney = 4000,
	addExp = 360,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=17572},{type=4,value=1384}},
},
[37] = {
	level = 37,
	totalExp = 410,
	costMoney = 4100,
	addExp = 370,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=18315},{type=4,value=1443}},
},
[38] = {
	level = 38,
	totalExp = 420,
	costMoney = 4200,
	addExp = 380,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=19085},{type=4,value=1503}},
},
[39] = {
	level = 39,
	totalExp = 430,
	costMoney = 4300,
	addExp = 390,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=19855},{type=4,value=1564}},
},
[40] = {
	level = 40,
	totalExp = 440,
	costMoney = 4400,
	addExp = 400,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=20652},{type=4,value=1627}},
},
[41] = {
	level = 41,
	totalExp = 450,
	costMoney = 4500,
	addExp = 410,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=21450},{type=4,value=1690}},
},
[42] = {
	level = 42,
	totalExp = 460,
	costMoney = 4600,
	addExp = 420,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=22275},{type=4,value=1755}},
},
[43] = {
	level = 43,
	totalExp = 470,
	costMoney = 4700,
	addExp = 430,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=23100},{type=4,value=1820}},
},
[44] = {
	level = 44,
	totalExp = 480,
	costMoney = 4800,
	addExp = 440,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=23952},{type=4,value=1887}},
},
[45] = {
	level = 45,
	totalExp = 490,
	costMoney = 4900,
	addExp = 450,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=24805},{type=4,value=1954}},
},
[46] = {
	level = 46,
	totalExp = 500,
	costMoney = 5000,
	addExp = 460,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=25685},{type=4,value=2023}},
},
[47] = {
	level = 47,
	totalExp = 510,
	costMoney = 5100,
	addExp = 470,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=26592},{type=4,value=2095}},
},
[48] = {
	level = 48,
	totalExp = 520,
	costMoney = 5200,
	addExp = 480,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=27527},{type=4,value=2168}},
},
[49] = {
	level = 49,
	totalExp = 530,
	costMoney = 5300,
	addExp = 490,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=28490},{type=4,value=2244}},
},
[50] = {
	level = 50,
	totalExp = 540,
	costMoney = 5400,
	addExp = 500,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=29480},{type=4,value=2322}},
},
[51] = {
	level = 51,
	totalExp = 550,
	costMoney = 5500,
	addExp = 510,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=30497},{type=4,value=2402}},
},
[52] = {
	level = 52,
	totalExp = 560,
	costMoney = 5600,
	addExp = 520,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=31542},{type=4,value=2485}},
},
[53] = {
	level = 53,
	totalExp = 570,
	costMoney = 5700,
	addExp = 530,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=32615},{type=4,value=2569}},
},
[54] = {
	level = 54,
	totalExp = 580,
	costMoney = 5800,
	addExp = 540,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=33715},{type=4,value=2656}},
},
[55] = {
	level = 55,
	totalExp = 590,
	costMoney = 5900,
	addExp = 550,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=34842},{type=4,value=2745}},
},
[56] = {
	level = 56,
	totalExp = 600,
	costMoney = 6000,
	addExp = 560,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=35997},{type=4,value=2836}},
},
[57] = {
	level = 57,
	totalExp = 610,
	costMoney = 6100,
	addExp = 570,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=37180},{type=4,value=2929}},
},
[58] = {
	level = 58,
	totalExp = 620,
	costMoney = 6200,
	addExp = 580,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=38390},{type=4,value=3024}},
},
[59] = {
	level = 59,
	totalExp = 630,
	costMoney = 6300,
	addExp = 590,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=39627},{type=4,value=3122}},
},
[60] = {
	level = 60,
	totalExp = 640,
	costMoney = 6400,
	addExp = 600,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=40892},{type=4,value=3221}},
},
[61] = {
	level = 61,
	totalExp = 650,
	costMoney = 6500,
	addExp = 610,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=42185},{type=4,value=3323}},
},
[62] = {
	level = 62,
	totalExp = 660,
	costMoney = 6600,
	addExp = 620,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=43505},{type=4,value=3427}},
},
[63] = {
	level = 63,
	totalExp = 670,
	costMoney = 6700,
	addExp = 630,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=44852},{type=4,value=3533}},
},
[64] = {
	level = 64,
	totalExp = 680,
	costMoney = 6800,
	addExp = 640,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=46227},{type=4,value=3642}},
},
[65] = {
	level = 65,
	totalExp = 690,
	costMoney = 6900,
	addExp = 650,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=47630},{type=4,value=3752}},
},
[66] = {
	level = 66,
	totalExp = 700,
	costMoney = 7000,
	addExp = 660,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=49060},{type=4,value=3865}},
},
[67] = {
	level = 67,
	totalExp = 710,
	costMoney = 7100,
	addExp = 670,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=50517},{type=4,value=3980}},
},
[68] = {
	level = 68,
	totalExp = 720,
	costMoney = 7200,
	addExp = 680,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=52002},{type=4,value=4097}},
},
[69] = {
	level = 69,
	totalExp = 730,
	costMoney = 7300,
	addExp = 690,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=53515},{type=4,value=4216}},
},
[70] = {
	level = 70,
	totalExp = 740,
	costMoney = 7400,
	addExp = 700,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=55055},{type=4,value=4337}},
},
[71] = {
	level = 71,
	totalExp = 750,
	costMoney = 7500,
	addExp = 710,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=56622},{type=4,value=4461}},
},
[72] = {
	level = 72,
	totalExp = 760,
	costMoney = 7600,
	addExp = 720,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=58217},{type=4,value=4586}},
},
[73] = {
	level = 73,
	totalExp = 770,
	costMoney = 7700,
	addExp = 730,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=59840},{type=4,value=4714}},
},
[74] = {
	level = 74,
	totalExp = 780,
	costMoney = 7800,
	addExp = 740,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=61490},{type=4,value=4844}},
},
[75] = {
	level = 75,
	totalExp = 790,
	costMoney = 7900,
	addExp = 750,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=63167},{type=4,value=4976}},
},
[76] = {
	level = 76,
	totalExp = 800,
	costMoney = 8000,
	addExp = 760,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=64872},{type=4,value=5111}},
},
[77] = {
	level = 77,
	totalExp = 810,
	costMoney = 8100,
	addExp = 770,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=66605},{type=4,value=5247}},
},
[78] = {
	level = 78,
	totalExp = 820,
	costMoney = 8200,
	addExp = 780,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=68365},{type=4,value=5386}},
},
[79] = {
	level = 79,
	totalExp = 830,
	costMoney = 8300,
	addExp = 790,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=70152},{type=4,value=5527}},
},
[80] = {
	level = 80,
	totalExp = 840,
	costMoney = 8400,
	addExp = 800,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=71967},{type=4,value=5670}},
},
[81] = {
	level = 81,
	totalExp = 850,
	costMoney = 8500,
	addExp = 810,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=73810},{type=4,value=5815}},
},
[82] = {
	level = 82,
	totalExp = 860,
	costMoney = 8600,
	addExp = 820,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=75680},{type=4,value=5962}},
},
[83] = {
	level = 83,
	totalExp = 870,
	costMoney = 8700,
	addExp = 830,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=77577},{type=4,value=6112}},
},
[84] = {
	level = 84,
	totalExp = 880,
	costMoney = 8800,
	addExp = 840,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=79502},{type=4,value=6263}},
},
[85] = {
	level = 85,
	totalExp = 890,
	costMoney = 8900,
	addExp = 850,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=81455},{type=4,value=6417}},
},
[86] = {
	level = 86,
	totalExp = 900,
	costMoney = 9000,
	addExp = 860,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=83435},{type=4,value=6573}},
},
[87] = {
	level = 87,
	totalExp = 910,
	costMoney = 9100,
	addExp = 870,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=85442},{type=4,value=6731}},
},
[88] = {
	level = 88,
	totalExp = 920,
	costMoney = 9200,
	addExp = 880,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=87477},{type=4,value=6892}},
},
[89] = {
	level = 89,
	totalExp = 930,
	costMoney = 9300,
	addExp = 890,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=89540},{type=4,value=7054}},
},
[90] = {
	level = 90,
	totalExp = 940,
	costMoney = 9400,
	addExp = 900,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=91630},{type=4,value=7219}},
},
[91] = {
	level = 91,
	totalExp = 950,
	costMoney = 9500,
	addExp = 910,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=93747},{type=4,value=7386}},
},
[92] = {
	level = 92,
	totalExp = 960,
	costMoney = 9600,
	addExp = 920,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=95892},{type=4,value=7555}},
},
[93] = {
	level = 93,
	totalExp = 970,
	costMoney = 9700,
	addExp = 930,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=98065},{type=4,value=7726}},
},
[94] = {
	level = 94,
	totalExp = 980,
	costMoney = 9800,
	addExp = 940,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=100265},{type=4,value=7899}},
},
[95] = {
	level = 95,
	totalExp = 990,
	costMoney = 9900,
	addExp = 950,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=102465},{type=4,value=8073}},
},
[96] = {
	level = 96,
	totalExp = 1000,
	costMoney = 10000,
	addExp = 960,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=104665},{type=4,value=8246}},
},
[97] = {
	level = 97,
	totalExp = 1010,
	costMoney = 10100,
	addExp = 970,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=106865},{type=4,value=8419}},
},
[98] = {
	level = 98,
	totalExp = 1020,
	costMoney = 10200,
	addExp = 980,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=109065},{type=4,value=8593}},
},
[99] = {
	level = 99,
	totalExp = 1030,
	costMoney = 10300,
	addExp = 990,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=111265},{type=4,value=8766}},
},
[100] = {
	level = 100,
	totalExp = 1040,
	costMoney = 10400,
	addExp = 1000,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=113465},{type=4,value=8939}},
},
[101] = {
	level = 101,
	totalExp = 1050,
	costMoney = 10500,
	addExp = 1010,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=115665},{type=4,value=9113}},
},
[102] = {
	level = 102,
	totalExp = 1060,
	costMoney = 10600,
	addExp = 1020,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=117907},{type=4,value=9289}},
},
[103] = {
	level = 103,
	totalExp = 1070,
	costMoney = 10700,
	addExp = 1030,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=120174},{type=4,value=9468}},
},
[104] = {
	level = 104,
	totalExp = 1080,
	costMoney = 10800,
	addExp = 1040,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=122465},{type=4,value=9648}},
},
[105] = {
	level = 105,
	totalExp = 1090,
	costMoney = 10900,
	addExp = 1050,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=124781},{type=4,value=9831}},
},
[106] = {
	level = 106,
	totalExp = 1100,
	costMoney = 11000,
	addExp = 1060,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=127122},{type=4,value=10015}},
},
[107] = {
	level = 107,
	totalExp = 1110,
	costMoney = 11100,
	addExp = 1070,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=129487},{type=4,value=10202}},
},
[108] = {
	level = 108,
	totalExp = 1120,
	costMoney = 11200,
	addExp = 1080,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=131877},{type=4,value=10390}},
},
[109] = {
	level = 109,
	totalExp = 1130,
	costMoney = 11300,
	addExp = 1090,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=134292},{type=4,value=10580}},
},
[110] = {
	level = 110,
	totalExp = 1140,
	costMoney = 11400,
	addExp = 1100,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=136731},{type=4,value=10772}},
},
[111] = {
	level = 111,
	totalExp = 1150,
	costMoney = 11500,
	addExp = 1110,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=139195},{type=4,value=10966}},
},
[112] = {
	level = 112,
	totalExp = 1160,
	costMoney = 11600,
	addExp = 1120,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=141683},{type=4,value=11162}},
},
[113] = {
	level = 113,
	totalExp = 1170,
	costMoney = 11700,
	addExp = 1130,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=144196},{type=4,value=11360}},
},
[114] = {
	level = 114,
	totalExp = 1180,
	costMoney = 11800,
	addExp = 1140,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=146734},{type=4,value=11560}},
},
[115] = {
	level = 115,
	totalExp = 1190,
	costMoney = 11900,
	addExp = 1150,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=149296},{type=4,value=11762}},
},
[116] = {
	level = 116,
	totalExp = 1200,
	costMoney = 12000,
	addExp = 1160,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=151883},{type=4,value=11966}},
},
[117] = {
	level = 117,
	totalExp = 1210,
	costMoney = 12100,
	addExp = 1170,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=154495},{type=4,value=12172}},
},
[118] = {
	level = 118,
	totalExp = 1220,
	costMoney = 12200,
	addExp = 1180,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=157131},{type=4,value=12380}},
},
[119] = {
	level = 119,
	totalExp = 1230,
	costMoney = 12300,
	addExp = 1190,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=159792},{type=4,value=12589}},
},
[120] = {
	level = 120,
	totalExp = 1240,
	costMoney = 12400,
	addExp = 1200,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=162478},{type=4,value=12801}},
},
[121] = {
	level = 121,
	totalExp = 1250,
	costMoney = 12500,
	addExp = 1210,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=165188},{type=4,value=13014}},
},
[122] = {
	level = 122,
	totalExp = 1260,
	costMoney = 12600,
	addExp = 1220,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=167922},{type=4,value=13230}},
},
[123] = {
	level = 123,
	totalExp = 1270,
	costMoney = 12700,
	addExp = 1230,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=170682},{type=4,value=13447}},
},
[124] = {
	level = 124,
	totalExp = 1280,
	costMoney = 12800,
	addExp = 1240,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=173466},{type=4,value=13667}},
},
[125] = {
	level = 125,
	totalExp = 1290,
	costMoney = 12900,
	addExp = 1250,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=176274},{type=4,value=13888}},
},
[126] = {
	level = 126,
	totalExp = 1300,
	costMoney = 13000,
	addExp = 1260,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=179107},{type=4,value=14111}},
},
[127] = {
	level = 127,
	totalExp = 1310,
	costMoney = 13100,
	addExp = 1270,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=181965},{type=4,value=14336}},
},
[128] = {
	level = 128,
	totalExp = 1320,
	costMoney = 13200,
	addExp = 1280,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=184848},{type=4,value=14563}},
},
[129] = {
	level = 129,
	totalExp = 1330,
	costMoney = 13300,
	addExp = 1290,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=187755},{type=4,value=14792}},
},
[130] = {
	level = 130,
	totalExp = 1340,
	costMoney = 13400,
	addExp = 1300,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=190687},{type=4,value=15023}},
},
[131] = {
	level = 131,
	totalExp = 1350,
	costMoney = 13500,
	addExp = 1310,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=193643},{type=4,value=15256}},
},
[132] = {
	level = 132,
	totalExp = 1360,
	costMoney = 13600,
	addExp = 1320,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=196624},{type=4,value=15491}},
},
[133] = {
	level = 133,
	totalExp = 1370,
	costMoney = 13700,
	addExp = 1330,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=199629},{type=4,value=15728}},
},
[134] = {
	level = 134,
	totalExp = 1380,
	costMoney = 13800,
	addExp = 1340,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=202660},{type=4,value=15967}},
},
[135] = {
	level = 135,
	totalExp = 1390,
	costMoney = 13900,
	addExp = 1350,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=205715},{type=4,value=16207}},
},
[136] = {
	level = 136,
	totalExp = 1400,
	costMoney = 14000,
	addExp = 1360,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=208794},{type=4,value=16450}},
},
[137] = {
	level = 137,
	totalExp = 1410,
	costMoney = 14100,
	addExp = 1370,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=211898},{type=4,value=16695}},
},
[138] = {
	level = 138,
	totalExp = 1420,
	costMoney = 14200,
	addExp = 1380,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=215027},{type=4,value=16941}},
},
[139] = {
	level = 139,
	totalExp = 1430,
	costMoney = 14300,
	addExp = 1390,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=218180},{type=4,value=17189}},
},
[140] = {
	level = 140,
	totalExp = 1440,
	costMoney = 14400,
	addExp = 1400,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=221358},{type=4,value=17440}},
},
[141] = {
	level = 141,
	totalExp = 1450,
	costMoney = 14500,
	addExp = 1410,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=224561},{type=4,value=17692}},
},
[142] = {
	level = 142,
	totalExp = 1460,
	costMoney = 14600,
	addExp = 1420,
	addValue = 2000,
	absorbPrecent = 1,
	attribute = {{type=2,value=227788},{type=4,value=17946}},
},
}