--Q-其他boss.xlsx boss配置1
OtherBoss1Config = {
[1] = {
	id = 1,
	llimit = 1,
	hlimit = 2,
	openCount = 0,
	fbid = 25001,
	bossId = 40001,
	baseBossId = 40005,
	killReward = 200079,
	shield = {{hp=50,shield=137870775,reward=200078}},
	enterPos = {posX=22,posY=21},
	notice = 1,
	rank1 = {{type=1,id=200080,count=1},{type=1,id=470001,count=29}},
	rank2 = {{type=1,id=470001,count=24}},
	rank3 = {{type=1,id=470001,count=19}},
	rank4 = {{type=1,id=470001,count=14}},
	rankMailHead = "转生BOSS排名奖",
	rankMailContent = "恭喜你在击杀转生BOSS中排名第%s，获得了丰厚奖励.请在附件中领取",
	lotteryMailTitle = "转生BOSS幸运奖",
	lotteryMailContent = "恭喜你在转生BOSS抽奖中成为幸运儿，获得了丰厚奖励",
	killMailTitle = "转生BOSS击杀奖",
	killMailContent = "恭喜你在击杀转生BOSS中成功夺得最后击杀，获得了丰厚奖励",
},
[2] = {
	id = 2,
	llimit = 3,
	hlimit = 4,
	openCount = 0,
	fbid = 25002,
	bossId = 41001,
	baseBossId = 41005,
	killReward = 200082,
	shield = {{hp=50,shield=298501875,reward=200081}},
	enterPos = {posX=22,posY=21},
	notice = 1,
	rank1 = {{type=1,id=200083,count=1},{type=1,id=470001,count=31}},
	rank2 = {{type=1,id=470001,count=26}},
	rank3 = {{type=1,id=470001,count=21}},
	rank4 = {{type=1,id=470001,count=16}},
	rankMailHead = "转生BOSS排名奖",
	rankMailContent = "恭喜你在击杀转生BOSS中排名第%s，获得了丰厚奖励.请在附件中领取",
	lotteryMailTitle = "转生BOSS幸运奖",
	lotteryMailContent = "恭喜你在转生BOSS抽奖中成为幸运儿，获得了丰厚奖励",
	killMailTitle = "转生BOSS击杀奖",
	killMailContent = "恭喜你在击杀转生BOSS中成功夺得最后击杀，获得了丰厚奖励",
},
[3] = {
	id = 3,
	llimit = 5,
	hlimit = 6,
	openCount = 0,
	fbid = 25003,
	bossId = 42001,
	baseBossId = 42005,
	killReward = 200085,
	shield = {{hp=50,shield=463787100,reward=200084}},
	enterPos = {posX=22,posY=21},
	notice = 1,
	rank1 = {{type=1,id=200086,count=1},{type=1,id=470001,count=33}},
	rank2 = {{type=1,id=470001,count=28}},
	rank3 = {{type=1,id=470001,count=23}},
	rank4 = {{type=1,id=470001,count=18}},
	rankMailHead = "转生BOSS排名奖",
	rankMailContent = "恭喜你在击杀转生BOSS中排名第%s，获得了丰厚奖励.请在附件中领取",
	lotteryMailTitle = "转生BOSS幸运奖",
	lotteryMailContent = "恭喜你在转生BOSS抽奖中成为幸运儿，获得了丰厚奖励",
	killMailTitle = "转生BOSS击杀奖",
	killMailContent = "恭喜你在击杀转生BOSS中成功夺得最后击杀，获得了丰厚奖励",
},
[4] = {
	id = 4,
	llimit = 7,
	hlimit = 12,
	openCount = 0,
	fbid = 25004,
	bossId = 43001,
	baseBossId = 43005,
	killReward = 200088,
	shield = {{hp=50,shield=879001200,reward=200087}},
	enterPos = {posX=22,posY=21},
	notice = 1,
	rank1 = {{type=1,id=200089,count=1},{type=1,id=470001,count=35}},
	rank2 = {{type=1,id=470001,count=30}},
	rank3 = {{type=1,id=470001,count=25}},
	rank4 = {{type=1,id=470001,count=20}},
	rankMailHead = "转生BOSS排名奖",
	rankMailContent = "恭喜你在击杀转生BOSS中排名第%s，获得了丰厚奖励.请在附件中领取",
	lotteryMailTitle = "转生BOSS幸运奖",
	lotteryMailContent = "恭喜你在转生BOSS抽奖中成为幸运儿，获得了丰厚奖励",
	killMailTitle = "转生BOSS击杀奖",
	killMailContent = "恭喜你在击杀转生BOSS中成功夺得最后击杀，获得了丰厚奖励",
},
}