--Q-其他boss.xlsx 基础配置1
OtherBoss1BaseConfig={
	openTime = {"*.*.*-21:00 ^ *.*.*-21:15"},
	startNotice = 9,
	endNotice = 10,
	challengeCd = 60,
	clearCdCost = 300,
	lotteryNotice = 11,
	killNotice = 12,
	dayCount = 1,
	advanceNoticeTime = {"*.*.*-20:57 ^ *.*.*-21:12"},
	advanceNotice = 27,
	upgradeTime = {{60,8},{120,6},{180,4},{240,3},{300,2},{360,1},{600,0}},
	downgradeHp = {{45,1},{55,2},{65,3},{75,4},{85,5},{95,7},{100,11}},
}