--Y-摇钱树配置.xlsx 基础配置
CashCowBasicConfig={
[1] = {
	time = 1,
	yuanbao = 100,
	gold = 300000,
},
[2] = {
	time = 2,
	yuanbao = 100,
	gold = 300000,
},
[3] = {
	time = 3,
	yuanbao = 100,
	gold = 300000,
},
[4] = {
	time = 4,
	yuanbao = 100,
	gold = 300000,
},
[5] = {
	time = 5,
	yuanbao = 100,
	gold = 300000,
},
[6] = {
	time = 6,
	yuanbao = 200,
	gold = 424000,
},
[7] = {
	time = 7,
	yuanbao = 200,
	gold = 424000,
},
[8] = {
	time = 8,
	yuanbao = 200,
	gold = 424000,
},
[9] = {
	time = 9,
	yuanbao = 200,
	gold = 424000,
},
[10] = {
	time = 10,
	yuanbao = 200,
	gold = 424000,
},
[11] = {
	time = 11,
	yuanbao = 300,
	gold = 519000,
},
[12] = {
	time = 12,
	yuanbao = 300,
	gold = 519000,
},
[13] = {
	time = 13,
	yuanbao = 300,
	gold = 519000,
},
[14] = {
	time = 14,
	yuanbao = 300,
	gold = 519000,
},
[15] = {
	time = 15,
	yuanbao = 300,
	gold = 519000,
},
[16] = {
	time = 16,
	yuanbao = 400,
	gold = 600000,
},
[17] = {
	time = 17,
	yuanbao = 400,
	gold = 600000,
},
[18] = {
	time = 18,
	yuanbao = 400,
	gold = 600000,
},
[19] = {
	time = 19,
	yuanbao = 400,
	gold = 600000,
},
[20] = {
	time = 20,
	yuanbao = 400,
	gold = 600000,
},
[21] = {
	time = 21,
	yuanbao = 500,
	gold = 670000,
},
[22] = {
	time = 22,
	yuanbao = 500,
	gold = 670000,
},
[23] = {
	time = 23,
	yuanbao = 500,
	gold = 670000,
},
[24] = {
	time = 24,
	yuanbao = 500,
	gold = 670000,
},
[25] = {
	time = 25,
	yuanbao = 500,
	gold = 670000,
},
[26] = {
	time = 26,
	yuanbao = 600,
	gold = 734000,
},
[27] = {
	time = 27,
	yuanbao = 600,
	gold = 734000,
},
[28] = {
	time = 28,
	yuanbao = 600,
	gold = 734000,
},
[29] = {
	time = 29,
	yuanbao = 600,
	gold = 734000,
},
[30] = {
	time = 30,
	yuanbao = 600,
	gold = 734000,
},
[31] = {
	time = 31,
	yuanbao = 700,
	gold = 793000,
},
[32] = {
	time = 32,
	yuanbao = 700,
	gold = 793000,
},
[33] = {
	time = 33,
	yuanbao = 700,
	gold = 793000,
},
[34] = {
	time = 34,
	yuanbao = 700,
	gold = 793000,
},
[35] = {
	time = 35,
	yuanbao = 700,
	gold = 793000,
},
[36] = {
	time = 36,
	yuanbao = 800,
	gold = 848000,
},
[37] = {
	time = 37,
	yuanbao = 800,
	gold = 848000,
},
[38] = {
	time = 38,
	yuanbao = 800,
	gold = 848000,
},
[39] = {
	time = 39,
	yuanbao = 800,
	gold = 848000,
},
[40] = {
	time = 40,
	yuanbao = 800,
	gold = 848000,
},
[41] = {
	time = 41,
	yuanbao = 900,
	gold = 900000,
},
[42] = {
	time = 42,
	yuanbao = 900,
	gold = 900000,
},
[43] = {
	time = 43,
	yuanbao = 900,
	gold = 900000,
},
[44] = {
	time = 44,
	yuanbao = 900,
	gold = 900000,
},
[45] = {
	time = 45,
	yuanbao = 900,
	gold = 900000,
},
[46] = {
	time = 46,
	yuanbao = 1000,
	gold = 948000,
},
[47] = {
	time = 47,
	yuanbao = 1000,
	gold = 948000,
},
[48] = {
	time = 48,
	yuanbao = 1000,
	gold = 948000,
},
[49] = {
	time = 49,
	yuanbao = 1000,
	gold = 948000,
},
[50] = {
	time = 50,
	yuanbao = 1000,
	gold = 948000,
},
[51] = {
	time = 51,
	yuanbao = 1100,
	gold = 994000,
},
[52] = {
	time = 52,
	yuanbao = 1100,
	gold = 994000,
},
[53] = {
	time = 53,
	yuanbao = 1100,
	gold = 994000,
},
[54] = {
	time = 54,
	yuanbao = 1100,
	gold = 994000,
},
[55] = {
	time = 55,
	yuanbao = 1100,
	gold = 994000,
},
[56] = {
	time = 56,
	yuanbao = 1200,
	gold = 1039000,
},
[57] = {
	time = 57,
	yuanbao = 1200,
	gold = 1039000,
},
[58] = {
	time = 58,
	yuanbao = 1200,
	gold = 1039000,
},
[59] = {
	time = 59,
	yuanbao = 1200,
	gold = 1039000,
},
[60] = {
	time = 60,
	yuanbao = 1200,
	gold = 1039000,
},
[61] = {
	time = 61,
	yuanbao = 1300,
	gold = 1081000,
},
[62] = {
	time = 62,
	yuanbao = 1300,
	gold = 1081000,
},
[63] = {
	time = 63,
	yuanbao = 1300,
	gold = 1081000,
},
[64] = {
	time = 64,
	yuanbao = 1300,
	gold = 1081000,
},
[65] = {
	time = 65,
	yuanbao = 1300,
	gold = 1081000,
},
[66] = {
	time = 66,
	yuanbao = 1400,
	gold = 1122000,
},
[67] = {
	time = 67,
	yuanbao = 1400,
	gold = 1122000,
},
[68] = {
	time = 68,
	yuanbao = 1400,
	gold = 1122000,
},
[69] = {
	time = 69,
	yuanbao = 1400,
	gold = 1122000,
},
[70] = {
	time = 70,
	yuanbao = 1400,
	gold = 1122000,
},
[71] = {
	time = 71,
	yuanbao = 1500,
	gold = 1161000,
},
[72] = {
	time = 72,
	yuanbao = 1500,
	gold = 1161000,
},
[73] = {
	time = 73,
	yuanbao = 1500,
	gold = 1161000,
},
[74] = {
	time = 74,
	yuanbao = 1500,
	gold = 1161000,
},
[75] = {
	time = 75,
	yuanbao = 1500,
	gold = 1161000,
},
[76] = {
	time = 76,
	yuanbao = 1600,
	gold = 1200000,
},
[77] = {
	time = 77,
	yuanbao = 1600,
	gold = 1200000,
},
[78] = {
	time = 78,
	yuanbao = 1600,
	gold = 1200000,
},
[79] = {
	time = 79,
	yuanbao = 1600,
	gold = 1200000,
},
[80] = {
	time = 80,
	yuanbao = 1600,
	gold = 1200000,
},
}