--Y-摇钱树配置.xlsx 金币增幅
CashCowAmplitudeConfig={
[1] = {
	level = 1,
	needExp = 0,
	rate = 100,
},
[2] = {
	level = 2,
	needExp = 5,
	rate = 105,
},
[3] = {
	level = 3,
	needExp = 5,
	rate = 110,
},
[4] = {
	level = 4,
	needExp = 5,
	rate = 115,
},
[5] = {
	level = 5,
	needExp = 5,
	rate = 120,
},
[6] = {
	level = 6,
	needExp = 10,
	rate = 125,
},
[7] = {
	level = 7,
	needExp = 10,
	rate = 130,
},
[8] = {
	level = 8,
	needExp = 10,
	rate = 135,
},
[9] = {
	level = 9,
	needExp = 10,
	rate = 140,
},
[10] = {
	level = 10,
	needExp = 10,
	rate = 145,
},
[11] = {
	level = 11,
	needExp = 20,
	rate = 150,
},
[12] = {
	level = 12,
	needExp = 20,
	rate = 155,
},
[13] = {
	level = 13,
	needExp = 20,
	rate = 160,
},
[14] = {
	level = 14,
	needExp = 20,
	rate = 165,
},
[15] = {
	level = 15,
	needExp = 20,
	rate = 170,
},
[16] = {
	level = 16,
	needExp = 30,
	rate = 175,
},
[17] = {
	level = 17,
	needExp = 30,
	rate = 180,
},
[18] = {
	level = 18,
	needExp = 30,
	rate = 185,
},
[19] = {
	level = 19,
	needExp = 30,
	rate = 190,
},
[20] = {
	level = 20,
	needExp = 30,
	rate = 195,
},
[21] = {
	level = 21,
	needExp = 50,
	rate = 200,
},
[22] = {
	level = 22,
	needExp = 50,
	rate = 205,
},
[23] = {
	level = 23,
	needExp = 50,
	rate = 210,
},
[24] = {
	level = 24,
	needExp = 50,
	rate = 215,
},
[25] = {
	level = 25,
	needExp = 50,
	rate = 220,
},
[26] = {
	level = 26,
	needExp = 75,
	rate = 225,
},
[27] = {
	level = 27,
	needExp = 75,
	rate = 230,
},
[28] = {
	level = 28,
	needExp = 75,
	rate = 235,
},
[29] = {
	level = 29,
	needExp = 75,
	rate = 240,
},
[30] = {
	level = 30,
	needExp = 75,
	rate = 245,
},
[31] = {
	level = 31,
	needExp = 100,
	rate = 250,
},
[32] = {
	level = 32,
	needExp = 100,
	rate = 255,
},
[33] = {
	level = 33,
	needExp = 100,
	rate = 260,
},
[34] = {
	level = 34,
	needExp = 100,
	rate = 265,
},
[35] = {
	level = 35,
	needExp = 100,
	rate = 270,
},
[36] = {
	level = 36,
	needExp = 150,
	rate = 275,
},
[37] = {
	level = 37,
	needExp = 150,
	rate = 280,
},
[38] = {
	level = 38,
	needExp = 150,
	rate = 285,
},
[39] = {
	level = 39,
	needExp = 150,
	rate = 290,
},
[40] = {
	level = 40,
	needExp = 150,
	rate = 295,
},
[41] = {
	level = 41,
	needExp = 200,
	rate = 300,
},
[42] = {
	level = 42,
	needExp = 200,
	rate = 305,
},
[43] = {
	level = 43,
	needExp = 200,
	rate = 310,
},
[44] = {
	level = 44,
	needExp = 200,
	rate = 315,
},
[45] = {
	level = 45,
	needExp = 200,
	rate = 320,
},
[46] = {
	level = 46,
	needExp = 500,
	rate = 325,
},
[47] = {
	level = 47,
	needExp = 500,
	rate = 330,
},
[48] = {
	level = 48,
	needExp = 500,
	rate = 335,
},
[49] = {
	level = 49,
	needExp = 500,
	rate = 340,
},
[50] = {
	level = 50,
	needExp = 500,
	rate = 345,
},
}