--Y-摇钱树配置.xlsx vip限制
CashCowLimitConfig={
[0] = {
	vip = 0,
	maxTime = 5,
	crit = {{rate=1,odds=95},{rate=2,odds=5}},
},
[1] = {
	vip = 1,
	maxTime = 10,
	crit = {{rate=1,odds=90},{rate=2,odds=10}},
},
[2] = {
	vip = 2,
	maxTime = 15,
	crit = {{rate=1,odds=85},{rate=2,odds=15}},
},
[3] = {
	vip = 3,
	maxTime = 20,
	crit = {{rate=1,odds=80},{rate=2,odds=20}},
},
[4] = {
	vip = 4,
	maxTime = 25,
	crit = {{rate=1,odds=75},{rate=2,odds=25}},
},
[5] = {
	vip = 5,
	maxTime = 30,
	crit = {{rate=1,odds=70},{rate=2,odds=30}},
},
[6] = {
	vip = 6,
	maxTime = 35,
	crit = {{rate=1,odds=70},{rate=2,odds=30}},
},
[7] = {
	vip = 7,
	maxTime = 40,
	crit = {{rate=1,odds=70},{rate=2,odds=30}},
},
[8] = {
	vip = 8,
	maxTime = 45,
	crit = {{rate=1,odds=70},{rate=2,odds=30}},
},
[9] = {
	vip = 9,
	maxTime = 50,
	crit = {{rate=1,odds=70},{rate=2,odds=30}},
},
[10] = {
	vip = 10,
	maxTime = 55,
	crit = {{rate=1,odds=70},{rate=2,odds=30}},
},
}