--Q-强化系统配置表.xlsx 强化消耗表
EnhanceCostConfig={
[1] = {
	level = 1,
	stoneId = 200002,
	stoneNum = 1,
},
[2] = {
	level = 2,
	stoneId = 200002,
	stoneNum = 2,
},
[3] = {
	level = 3,
	stoneId = 200002,
	stoneNum = 3,
},
[4] = {
	level = 4,
	stoneId = 200002,
	stoneNum = 4,
},
[5] = {
	level = 5,
	stoneId = 200002,
	stoneNum = 5,
},
[6] = {
	level = 6,
	stoneId = 200002,
	stoneNum = 6,
},
[7] = {
	level = 7,
	stoneId = 200002,
	stoneNum = 7,
},
[8] = {
	level = 8,
	stoneId = 200002,
	stoneNum = 8,
},
[9] = {
	level = 9,
	stoneId = 200002,
	stoneNum = 9,
},
[10] = {
	level = 10,
	stoneId = 200002,
	stoneNum = 10,
},
[11] = {
	level = 11,
	stoneId = 200002,
	stoneNum = 10,
},
[12] = {
	level = 12,
	stoneId = 200002,
	stoneNum = 10,
},
[13] = {
	level = 13,
	stoneId = 200002,
	stoneNum = 12,
},
[14] = {
	level = 14,
	stoneId = 200002,
	stoneNum = 14,
},
[15] = {
	level = 15,
	stoneId = 200002,
	stoneNum = 16,
},
[16] = {
	level = 16,
	stoneId = 200002,
	stoneNum = 18,
},
[17] = {
	level = 17,
	stoneId = 200002,
	stoneNum = 20,
},
[18] = {
	level = 18,
	stoneId = 200002,
	stoneNum = 22,
},
[19] = {
	level = 19,
	stoneId = 200002,
	stoneNum = 24,
},
[20] = {
	level = 20,
	stoneId = 200002,
	stoneNum = 26,
},
[21] = {
	level = 21,
	stoneId = 200002,
	stoneNum = 28,
},
[22] = {
	level = 22,
	stoneId = 200002,
	stoneNum = 30,
},
[23] = {
	level = 23,
	stoneId = 200002,
	stoneNum = 32,
},
[24] = {
	level = 24,
	stoneId = 200002,
	stoneNum = 36,
},
[25] = {
	level = 25,
	stoneId = 200002,
	stoneNum = 38,
},
[26] = {
	level = 26,
	stoneId = 200002,
	stoneNum = 40,
},
[27] = {
	level = 27,
	stoneId = 200002,
	stoneNum = 42,
},
[28] = {
	level = 28,
	stoneId = 200002,
	stoneNum = 45,
},
[29] = {
	level = 29,
	stoneId = 200002,
	stoneNum = 48,
},
[30] = {
	level = 30,
	stoneId = 200002,
	stoneNum = 50,
},
[31] = {
	level = 31,
	stoneId = 200002,
	stoneNum = 52,
},
[32] = {
	level = 32,
	stoneId = 200002,
	stoneNum = 55,
},
[33] = {
	level = 33,
	stoneId = 200002,
	stoneNum = 58,
},
[34] = {
	level = 34,
	stoneId = 200002,
	stoneNum = 60,
},
[35] = {
	level = 35,
	stoneId = 200002,
	stoneNum = 62,
},
[36] = {
	level = 36,
	stoneId = 200002,
	stoneNum = 65,
},
[37] = {
	level = 37,
	stoneId = 200002,
	stoneNum = 70,
},
[38] = {
	level = 38,
	stoneId = 200002,
	stoneNum = 80,
},
[39] = {
	level = 39,
	stoneId = 200002,
	stoneNum = 90,
},
[40] = {
	level = 40,
	stoneId = 200002,
	stoneNum = 100,
},
[41] = {
	level = 41,
	stoneId = 200002,
	stoneNum = 110,
},
[42] = {
	level = 42,
	stoneId = 200002,
	stoneNum = 120,
},
[43] = {
	level = 43,
	stoneId = 200002,
	stoneNum = 130,
},
[44] = {
	level = 44,
	stoneId = 200002,
	stoneNum = 140,
},
[45] = {
	level = 45,
	stoneId = 200002,
	stoneNum = 150,
},
[46] = {
	level = 46,
	stoneId = 200002,
	stoneNum = 160,
},
[47] = {
	level = 47,
	stoneId = 200002,
	stoneNum = 170,
},
[48] = {
	level = 48,
	stoneId = 200002,
	stoneNum = 180,
},
[49] = {
	level = 49,
	stoneId = 200002,
	stoneNum = 190,
},
[50] = {
	level = 50,
	stoneId = 200002,
	stoneNum = 200,
},
[51] = {
	level = 51,
	stoneId = 200002,
	stoneNum = 210,
},
[52] = {
	level = 52,
	stoneId = 200002,
	stoneNum = 220,
},
[53] = {
	level = 53,
	stoneId = 200002,
	stoneNum = 230,
},
[54] = {
	level = 54,
	stoneId = 200002,
	stoneNum = 240,
},
[55] = {
	level = 55,
	stoneId = 200002,
	stoneNum = 250,
},
[56] = {
	level = 56,
	stoneId = 200002,
	stoneNum = 260,
},
[57] = {
	level = 57,
	stoneId = 200002,
	stoneNum = 270,
},
[58] = {
	level = 58,
	stoneId = 200002,
	stoneNum = 280,
},
[59] = {
	level = 59,
	stoneId = 200002,
	stoneNum = 290,
},
[60] = {
	level = 60,
	stoneId = 200002,
	stoneNum = 300,
},
[61] = {
	level = 61,
	stoneId = 200002,
	stoneNum = 310,
},
[62] = {
	level = 62,
	stoneId = 200002,
	stoneNum = 320,
},
[63] = {
	level = 63,
	stoneId = 200002,
	stoneNum = 330,
},
[64] = {
	level = 64,
	stoneId = 200002,
	stoneNum = 340,
},
[65] = {
	level = 65,
	stoneId = 200002,
	stoneNum = 350,
},
[66] = {
	level = 66,
	stoneId = 200002,
	stoneNum = 360,
},
[67] = {
	level = 67,
	stoneId = 200002,
	stoneNum = 370,
},
[68] = {
	level = 68,
	stoneId = 200002,
	stoneNum = 380,
},
[69] = {
	level = 69,
	stoneId = 200002,
	stoneNum = 390,
},
[70] = {
	level = 70,
	stoneId = 200002,
	stoneNum = 400,
},
[71] = {
	level = 71,
	stoneId = 200002,
	stoneNum = 410,
},
[72] = {
	level = 72,
	stoneId = 200002,
	stoneNum = 420,
},
[73] = {
	level = 73,
	stoneId = 200002,
	stoneNum = 430,
},
[74] = {
	level = 74,
	stoneId = 200002,
	stoneNum = 440,
},
[75] = {
	level = 75,
	stoneId = 200002,
	stoneNum = 450,
},
[76] = {
	level = 76,
	stoneId = 200002,
	stoneNum = 460,
},
[77] = {
	level = 77,
	stoneId = 200002,
	stoneNum = 470,
},
[78] = {
	level = 78,
	stoneId = 200002,
	stoneNum = 480,
},
[79] = {
	level = 79,
	stoneId = 200002,
	stoneNum = 490,
},
[80] = {
	level = 80,
	stoneId = 200002,
	stoneNum = 500,
},
[81] = {
	level = 81,
	stoneId = 200002,
	stoneNum = 510,
},
[82] = {
	level = 82,
	stoneId = 200002,
	stoneNum = 520,
},
[83] = {
	level = 83,
	stoneId = 200002,
	stoneNum = 530,
},
[84] = {
	level = 84,
	stoneId = 200002,
	stoneNum = 540,
},
[85] = {
	level = 85,
	stoneId = 200002,
	stoneNum = 550,
},
[86] = {
	level = 86,
	stoneId = 200002,
	stoneNum = 560,
},
[87] = {
	level = 87,
	stoneId = 200002,
	stoneNum = 570,
},
[88] = {
	level = 88,
	stoneId = 200002,
	stoneNum = 580,
},
[89] = {
	level = 89,
	stoneId = 200002,
	stoneNum = 590,
},
[90] = {
	level = 90,
	stoneId = 200002,
	stoneNum = 600,
},
[91] = {
	level = 91,
	stoneId = 200002,
	stoneNum = 610,
},
[92] = {
	level = 92,
	stoneId = 200002,
	stoneNum = 620,
},
[93] = {
	level = 93,
	stoneId = 200002,
	stoneNum = 630,
},
[94] = {
	level = 94,
	stoneId = 200002,
	stoneNum = 640,
},
[95] = {
	level = 95,
	stoneId = 200002,
	stoneNum = 650,
},
[96] = {
	level = 96,
	stoneId = 200002,
	stoneNum = 660,
},
[97] = {
	level = 97,
	stoneId = 200002,
	stoneNum = 670,
},
[98] = {
	level = 98,
	stoneId = 200002,
	stoneNum = 680,
},
[99] = {
	level = 99,
	stoneId = 200002,
	stoneNum = 690,
},
[100] = {
	level = 100,
	stoneId = 200002,
	stoneNum = 700,
},
[101] = {
	level = 101,
	stoneId = 200002,
	stoneNum = 710,
},
[102] = {
	level = 102,
	stoneId = 200002,
	stoneNum = 730,
},
[103] = {
	level = 103,
	stoneId = 200002,
	stoneNum = 757,
},
[104] = {
	level = 104,
	stoneId = 200002,
	stoneNum = 785,
},
[105] = {
	level = 105,
	stoneId = 200002,
	stoneNum = 813,
},
[106] = {
	level = 106,
	stoneId = 200002,
	stoneNum = 842,
},
[107] = {
	level = 107,
	stoneId = 200002,
	stoneNum = 871,
},
[108] = {
	level = 108,
	stoneId = 200002,
	stoneNum = 901,
},
[109] = {
	level = 109,
	stoneId = 200002,
	stoneNum = 931,
},
[110] = {
	level = 110,
	stoneId = 200002,
	stoneNum = 962,
},
[111] = {
	level = 111,
	stoneId = 200002,
	stoneNum = 993,
},
[112] = {
	level = 112,
	stoneId = 200002,
	stoneNum = 1025,
},
[113] = {
	level = 113,
	stoneId = 200002,
	stoneNum = 1057,
},
[114] = {
	level = 114,
	stoneId = 200002,
	stoneNum = 1090,
},
[115] = {
	level = 115,
	stoneId = 200002,
	stoneNum = 1123,
},
[116] = {
	level = 116,
	stoneId = 200002,
	stoneNum = 1157,
},
[117] = {
	level = 117,
	stoneId = 200002,
	stoneNum = 1191,
},
[118] = {
	level = 118,
	stoneId = 200002,
	stoneNum = 1226,
},
[119] = {
	level = 119,
	stoneId = 200002,
	stoneNum = 1261,
},
[120] = {
	level = 120,
	stoneId = 200002,
	stoneNum = 1297,
},
[121] = {
	level = 121,
	stoneId = 200002,
	stoneNum = 1333,
},
[122] = {
	level = 122,
	stoneId = 200002,
	stoneNum = 1370,
},
[123] = {
	level = 123,
	stoneId = 200002,
	stoneNum = 1407,
},
[124] = {
	level = 124,
	stoneId = 200002,
	stoneNum = 1445,
},
[125] = {
	level = 125,
	stoneId = 200002,
	stoneNum = 1483,
},
[126] = {
	level = 126,
	stoneId = 200002,
	stoneNum = 1522,
},
[127] = {
	level = 127,
	stoneId = 200002,
	stoneNum = 1561,
},
[128] = {
	level = 128,
	stoneId = 200002,
	stoneNum = 1601,
},
[129] = {
	level = 129,
	stoneId = 200002,
	stoneNum = 1641,
},
[130] = {
	level = 130,
	stoneId = 200002,
	stoneNum = 1682,
},
[131] = {
	level = 131,
	stoneId = 200002,
	stoneNum = 1723,
},
[132] = {
	level = 132,
	stoneId = 200002,
	stoneNum = 1765,
},
[133] = {
	level = 133,
	stoneId = 200002,
	stoneNum = 1807,
},
[134] = {
	level = 134,
	stoneId = 200002,
	stoneNum = 1850,
},
[135] = {
	level = 135,
	stoneId = 200002,
	stoneNum = 1893,
},
[136] = {
	level = 136,
	stoneId = 200002,
	stoneNum = 1937,
},
[137] = {
	level = 137,
	stoneId = 200002,
	stoneNum = 1981,
},
[138] = {
	level = 138,
	stoneId = 200002,
	stoneNum = 2026,
},
[139] = {
	level = 139,
	stoneId = 200002,
	stoneNum = 2071,
},
[140] = {
	level = 140,
	stoneId = 200002,
	stoneNum = 2117,
},
[141] = {
	level = 141,
	stoneId = 200002,
	stoneNum = 2163,
},
[142] = {
	level = 142,
	stoneId = 200002,
	stoneNum = 2210,
},
[143] = {
	level = 143,
	stoneId = 200002,
	stoneNum = 2257,
},
[144] = {
	level = 144,
	stoneId = 200002,
	stoneNum = 2305,
},
[145] = {
	level = 145,
	stoneId = 200002,
	stoneNum = 2353,
},
[146] = {
	level = 146,
	stoneId = 200002,
	stoneNum = 2402,
},
[147] = {
	level = 147,
	stoneId = 200002,
	stoneNum = 2451,
},
[148] = {
	level = 148,
	stoneId = 200002,
	stoneNum = 2501,
},
[149] = {
	level = 149,
	stoneId = 200002,
	stoneNum = 2551,
},
[150] = {
	level = 150,
	stoneId = 200002,
	stoneNum = 2601,
},
[151] = {
	level = 151,
	stoneId = 200002,
	stoneNum = 2651,
},
[152] = {
	level = 152,
	stoneId = 200002,
	stoneNum = 2701,
},
[153] = {
	level = 153,
	stoneId = 200002,
	stoneNum = 2751,
},
[154] = {
	level = 154,
	stoneId = 200002,
	stoneNum = 2801,
},
[155] = {
	level = 155,
	stoneId = 200002,
	stoneNum = 2851,
},
[156] = {
	level = 156,
	stoneId = 200002,
	stoneNum = 2901,
},
[157] = {
	level = 157,
	stoneId = 200002,
	stoneNum = 2951,
},
[158] = {
	level = 158,
	stoneId = 200002,
	stoneNum = 3001,
},
[159] = {
	level = 159,
	stoneId = 200002,
	stoneNum = 3051,
},
[160] = {
	level = 160,
	stoneId = 200002,
	stoneNum = 3101,
},
[161] = {
	level = 161,
	stoneId = 200002,
	stoneNum = 3151,
},
[162] = {
	level = 162,
	stoneId = 200002,
	stoneNum = 3201,
},
[163] = {
	level = 163,
	stoneId = 200002,
	stoneNum = 3251,
},
[164] = {
	level = 164,
	stoneId = 200002,
	stoneNum = 3301,
},
[165] = {
	level = 165,
	stoneId = 200002,
	stoneNum = 3351,
},
[166] = {
	level = 166,
	stoneId = 200002,
	stoneNum = 3401,
},
[167] = {
	level = 167,
	stoneId = 200002,
	stoneNum = 3451,
},
[168] = {
	level = 168,
	stoneId = 200002,
	stoneNum = 3501,
},
[169] = {
	level = 169,
	stoneId = 200002,
	stoneNum = 3551,
},
[170] = {
	level = 170,
	stoneId = 200002,
	stoneNum = 3601,
},
[171] = {
	level = 171,
	stoneId = 200002,
	stoneNum = 3651,
},
[172] = {
	level = 172,
	stoneId = 200002,
	stoneNum = 3701,
},
[173] = {
	level = 173,
	stoneId = 200002,
	stoneNum = 3751,
},
[174] = {
	level = 174,
	stoneId = 200002,
	stoneNum = 3801,
},
[175] = {
	level = 175,
	stoneId = 200002,
	stoneNum = 3851,
},
[176] = {
	level = 176,
	stoneId = 200002,
	stoneNum = 3901,
},
[177] = {
	level = 177,
	stoneId = 200002,
	stoneNum = 3951,
},
[178] = {
	level = 178,
	stoneId = 200002,
	stoneNum = 4001,
},
[179] = {
	level = 179,
	stoneId = 200002,
	stoneNum = 4051,
},
[180] = {
	level = 180,
	stoneId = 200002,
	stoneNum = 4101,
},
[181] = {
	level = 181,
	stoneId = 200002,
	stoneNum = 4151,
},
[182] = {
	level = 182,
	stoneId = 200002,
	stoneNum = 4201,
},
[183] = {
	level = 183,
	stoneId = 200002,
	stoneNum = 4251,
},
[184] = {
	level = 184,
	stoneId = 200002,
	stoneNum = 4301,
},
[185] = {
	level = 185,
	stoneId = 200002,
	stoneNum = 4351,
},
[186] = {
	level = 186,
	stoneId = 200002,
	stoneNum = 4401,
},
[187] = {
	level = 187,
	stoneId = 200002,
	stoneNum = 4451,
},
[188] = {
	level = 188,
	stoneId = 200002,
	stoneNum = 4501,
},
[189] = {
	level = 189,
	stoneId = 200002,
	stoneNum = 4551,
},
[190] = {
	level = 190,
	stoneId = 200002,
	stoneNum = 4601,
},
[191] = {
	level = 191,
	stoneId = 200002,
	stoneNum = 4651,
},
[192] = {
	level = 192,
	stoneId = 200002,
	stoneNum = 4701,
},
[193] = {
	level = 193,
	stoneId = 200002,
	stoneNum = 4751,
},
[194] = {
	level = 194,
	stoneId = 200002,
	stoneNum = 4801,
},
[195] = {
	level = 195,
	stoneId = 200002,
	stoneNum = 4851,
},
[196] = {
	level = 196,
	stoneId = 200002,
	stoneNum = 4901,
},
[197] = {
	level = 197,
	stoneId = 200002,
	stoneNum = 4951,
},
[198] = {
	level = 198,
	stoneId = 200002,
	stoneNum = 5001,
},
[199] = {
	level = 199,
	stoneId = 200002,
	stoneNum = 5051,
},
[200] = {
	level = 200,
	stoneId = 200002,
	stoneNum = 5101,
},
[201] = {
	level = 201,
	stoneId = 200002,
	stoneNum = 5151,
},
[202] = {
	level = 202,
	stoneId = 200002,
	stoneNum = 5201,
},
[203] = {
	level = 203,
	stoneId = 200002,
	stoneNum = 5251,
},
[204] = {
	level = 204,
	stoneId = 200002,
	stoneNum = 5301,
},
[205] = {
	level = 205,
	stoneId = 200002,
	stoneNum = 5351,
},
[206] = {
	level = 206,
	stoneId = 200002,
	stoneNum = 5401,
},
[207] = {
	level = 207,
	stoneId = 200002,
	stoneNum = 5451,
},
[208] = {
	level = 208,
	stoneId = 200002,
	stoneNum = 5501,
},
[209] = {
	level = 209,
	stoneId = 200002,
	stoneNum = 5551,
},
[210] = {
	level = 210,
	stoneId = 200002,
	stoneNum = 5601,
},
[211] = {
	level = 211,
	stoneId = 200002,
	stoneNum = 5651,
},
[212] = {
	level = 212,
	stoneId = 200002,
	stoneNum = 5701,
},
[213] = {
	level = 213,
	stoneId = 200002,
	stoneNum = 5751,
},
[214] = {
	level = 214,
	stoneId = 200002,
	stoneNum = 5801,
},
[215] = {
	level = 215,
	stoneId = 200002,
	stoneNum = 5851,
},
[216] = {
	level = 216,
	stoneId = 200002,
	stoneNum = 5901,
},
[217] = {
	level = 217,
	stoneId = 200002,
	stoneNum = 5951,
},
[218] = {
	level = 218,
	stoneId = 200002,
	stoneNum = 6001,
},
[219] = {
	level = 219,
	stoneId = 200002,
	stoneNum = 6051,
},
[220] = {
	level = 220,
	stoneId = 200002,
	stoneNum = 6101,
},
[221] = {
	level = 221,
	stoneId = 200002,
	stoneNum = 6151,
},
[222] = {
	level = 222,
	stoneId = 200002,
	stoneNum = 6201,
},
[223] = {
	level = 223,
	stoneId = 200002,
	stoneNum = 6251,
},
[224] = {
	level = 224,
	stoneId = 200002,
	stoneNum = 6301,
},
[225] = {
	level = 225,
	stoneId = 200002,
	stoneNum = 6351,
},
[226] = {
	level = 226,
	stoneId = 200002,
	stoneNum = 6401,
},
[227] = {
	level = 227,
	stoneId = 200002,
	stoneNum = 6451,
},
[228] = {
	level = 228,
	stoneId = 200002,
	stoneNum = 6501,
},
[229] = {
	level = 229,
	stoneId = 200002,
	stoneNum = 6551,
},
[230] = {
	level = 230,
	stoneId = 200002,
	stoneNum = 6601,
},
[231] = {
	level = 231,
	stoneId = 200002,
	stoneNum = 6651,
},
[232] = {
	level = 232,
	stoneId = 200002,
	stoneNum = 6701,
},
[233] = {
	level = 233,
	stoneId = 200002,
	stoneNum = 6751,
},
[234] = {
	level = 234,
	stoneId = 200002,
	stoneNum = 6801,
},
[235] = {
	level = 235,
	stoneId = 200002,
	stoneNum = 6851,
},
[236] = {
	level = 236,
	stoneId = 200002,
	stoneNum = 6901,
},
[237] = {
	level = 237,
	stoneId = 200002,
	stoneNum = 6951,
},
[238] = {
	level = 238,
	stoneId = 200002,
	stoneNum = 7001,
},
[239] = {
	level = 239,
	stoneId = 200002,
	stoneNum = 7051,
},
[240] = {
	level = 240,
	stoneId = 200002,
	stoneNum = 7101,
},
[241] = {
	level = 241,
	stoneId = 200002,
	stoneNum = 7151,
},
[242] = {
	level = 242,
	stoneId = 200002,
	stoneNum = 7201,
},
[243] = {
	level = 243,
	stoneId = 200002,
	stoneNum = 7251,
},
[244] = {
	level = 244,
	stoneId = 200002,
	stoneNum = 7301,
},
[245] = {
	level = 245,
	stoneId = 200002,
	stoneNum = 7351,
},
[246] = {
	level = 246,
	stoneId = 200002,
	stoneNum = 7401,
},
[247] = {
	level = 247,
	stoneId = 200002,
	stoneNum = 7451,
},
[248] = {
	level = 248,
	stoneId = 200002,
	stoneNum = 7501,
},
[249] = {
	level = 249,
	stoneId = 200002,
	stoneNum = 7551,
},
[250] = {
	level = 250,
	stoneId = 200002,
	stoneNum = 8051,
},
}