--M-每日副本.xlsx 每日副本
DailyFubenConfig={
[3001] = {
	id = 3001,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=1,[1]=2,[2]=2,[3]=3,[4]=4,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5},
	costType = 0,
	buyPrice = {[0]=500,[1]=500,[2]=500,[3]=500,[4]=500},
	sweepLevel = 5000,
	levelLimit = 26,
	zsLevel = 0,
	fbId = 20001,
	dropId = 140002,
},
[3002] = {
	id = 3002,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=1,[1]=2,[2]=2,[3]=3,[4]=4,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5},
	costType = 0,
	buyPrice = {[0]=500,[1]=500,[2]=500,[3]=500,[4]=500},
	sweepLevel = 5000,
	levelLimit = 35,
	zsLevel = 0,
	fbId = 20002,
	dropId = 140001,
},
[3003] = {
	id = 3003,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=1,[1]=2,[2]=2,[3]=3,[4]=4,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5},
	costType = 0,
	buyPrice = {[0]=500,[1]=500,[2]=500,[3]=500,[4]=500},
	sweepLevel = 5000,
	levelLimit = 42,
	zsLevel = 0,
	fbId = 20004,
	dropId = 140004,
},
[3004] = {
	id = 3004,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=1,[1]=2,[2]=2,[3]=3,[4]=4,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5},
	costType = 0,
	buyPrice = {[0]=500,[1]=500,[2]=500,[3]=500,[4]=500},
	sweepLevel = 5000,
	levelLimit = 45,
	zsLevel = 0,
	fbId = 20003,
	dropId = 140003,
},
[3005] = {
	id = 3005,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=1,[1]=2,[2]=2,[3]=3,[4]=4,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5},
	costType = 0,
	buyPrice = {[0]=800,[1]=800,[2]=800,[3]=800,[4]=800},
	sweepLevel = 5000,
	levelLimit = 80,
	zsLevel = 5,
	fbId = 51010,
	dropId = 140005,
},
[3102] = {
	id = 3102,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 20,
	zsLevel = 0,
	fbId = 21002,
	dropId = 121002,
	firstExDropId = {1330001,1330004,1330007},
	bossId = 32002,
},
[3103] = {
	id = 3103,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 30,
	zsLevel = 0,
	fbId = 21003,
	dropId = 121003,
	firstExDropId = {1330002,1330005,1330008},
	bossId = 32003,
},
[3104] = {
	id = 3104,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 40,
	zsLevel = 0,
	fbId = 21004,
	dropId = 121004,
	firstExDropId = {1330003,1330006,1330009},
	bossId = 32004,
},
[3105] = {
	id = 3105,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 50,
	zsLevel = 0,
	fbId = 21005,
	dropId = 121005,
	bossId = 32005,
},
[3106] = {
	id = 3106,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 60,
	zsLevel = 0,
	fbId = 21006,
	dropId = 121006,
	bossId = 32006,
},
[3107] = {
	id = 3107,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 70,
	zsLevel = 0,
	fbId = 21007,
	dropId = 121007,
	bossId = 32007,
},
[3108] = {
	id = 3108,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 3000,
	levelLimit = 80,
	zsLevel = 0,
	fbId = 21008,
	dropId = 121008,
	bossId = 32008,
},
[3109] = {
	id = 3109,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 4000,
	levelLimit = 80,
	zsLevel = 1,
	fbId = 21009,
	dropId = 121009,
	bossId = 32009,
	rewardNotice = 14,
},
[3110] = {
	id = 3110,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 5000,
	levelLimit = 80,
	zsLevel = 2,
	fbId = 21010,
	dropId = 121010,
	bossId = 32010,
	rewardNotice = 15,
},
[3111] = {
	id = 3111,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 6000,
	levelLimit = 80,
	zsLevel = 3,
	fbId = 21011,
	dropId = 121011,
	bossId = 32011,
	rewardNotice = 16,
},
[3112] = {
	id = 3112,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 7000,
	levelLimit = 80,
	zsLevel = 4,
	fbId = 21012,
	dropId = 121012,
	bossId = 32012,
	rewardNotice = 17,
},
[3113] = {
	id = 3113,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 8000,
	levelLimit = 80,
	zsLevel = 5,
	fbId = 21013,
	dropId = 121013,
	bossId = 32013,
	rewardNotice = 18,
},
[3114] = {
	id = 3114,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 9000,
	levelLimit = 80,
	zsLevel = 6,
	fbId = 21014,
	dropId = 121014,
	bossId = 32014,
	rewardNotice = 19,
},
[3115] = {
	id = 3115,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 10000,
	levelLimit = 80,
	zsLevel = 7,
	fbId = 21015,
	dropId = 121015,
	bossId = 32015,
	rewardNotice = 20,
},
[3116] = {
	id = 3116,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 11000,
	levelLimit = 80,
	zsLevel = 8,
	fbId = 21016,
	dropId = 121016,
	bossId = 32016,
	rewardNotice = 21,
},
[3117] = {
	id = 3117,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 12000,
	levelLimit = 80,
	zsLevel = 9,
	fbId = 21017,
	dropId = 121017,
	bossId = 32017,
	rewardNotice = 22,
},
[3118] = {
	id = 3118,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 12000,
	levelLimit = 80,
	zsLevel = 10,
	fbId = 21018,
	dropId = 121018,
	bossId = 32018,
	rewardNotice = 23,
},
[3119] = {
	id = 3119,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 12000,
	levelLimit = 80,
	zsLevel = 11,
	fbId = 21019,
	dropId = 121019,
	bossId = 32019,
	rewardNotice = 24,
},
[3120] = {
	id = 3120,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	sweepLevel = 12000,
	levelLimit = 80,
	zsLevel = 12,
	fbId = 21020,
	dropId = 121020,
	bossId = 32020,
	rewardNotice = 25,
},
[3121] = {
	id = 3121,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	monthcard = 1,
	levelLimit = 0,
	zsLevel = 0,
	fbId = 21021,
	dropId = 121010,
	bossId = 32021,
	rewardNotice = 137,
},
[3122] = {
	id = 3122,
	freeCount = 1,
	buyCount = 0,
	vipBuyCount = {[0]=0},
	costType = 1,
	buyPrice = {[0]=0},
	specialCard = 1,
	levelLimit = 0,
	zsLevel = 0,
	fbId = 21023,
	dropId = 1653054,
	bossId = 32023,
	rewardNotice = 250,
},
}