DailyFubenRewardConfig={
[35010] = {
	reward = {{type=0,id=0,count=120000}},
},
[35018] = {
	reward = {{type=0,id=0,count=3333}},
},
[35022] = {
	reward = {{type=0,id=0,count=4666}},
},
[35026] = {
	reward = {{type=0,id=0,count=6000}},
},
[35030] = {
	reward = {{type=0,id=0,count=360000}},
},
[35038] = {
	reward = {{type=0,id=0,count=8000}},
},
[35042] = {
	reward = {{type=0,id=0,count=9333}},
},
[35046] = {
	reward = {{type=0,id=0,count=10666}},
},
[35050] = {
	reward = {{type=0,id=0,count=640000}},
},
[35058] = {
	reward = {{type=0,id=0,count=11466}},
},
[35062] = {
	reward = {{type=0,id=0,count=11600}},
},
[35066] = {
	reward = {{type=0,id=0,count=11733}},
},
[35070] = {
	reward = {{type=0,id=0,count=704000}},
},
[35078] = {
	reward = {{type=0,id=0,count=12000}},
},
[35082] = {
	reward = {{type=0,id=0,count=12133}},
},
[35086] = {
	reward = {{type=0,id=0,count=12266}},
},
[35090] = {
	reward = {{type=0,id=0,count=736000}},
},
[35003] = {
	reward = {{type=0,id=0,count=666}},
},
[35007] = {
	reward = {{type=0,id=0,count=2000}},
},
[35011] = {
	reward = {{type=0,id=0,count=2666}},
},
[35015] = {
	reward = {{type=0,id=0,count=160000}},
},
[35023] = {
	reward = {{type=0,id=0,count=4666}},
},
[35027] = {
	reward = {{type=0,id=0,count=6000}},
},
[35031] = {
	reward = {{type=0,id=0,count=6666}},
},
[35035] = {
	reward = {{type=0,id=0,count=400000}},
},
[35043] = {
	reward = {{type=0,id=0,count=9333}},
},
[35047] = {
	reward = {{type=0,id=0,count=10666}},
},
[35051] = {
	reward = {{type=0,id=0,count=11333}},
},
[35055] = {
	reward = {{type=0,id=0,count=680000}},
},
[35063] = {
	reward = {{type=0,id=0,count=11600}},
},
[35067] = {
	reward = {{type=0,id=0,count=11733}},
},
[35071] = {
	reward = {{type=0,id=0,count=11866}},
},
[35075] = {
	reward = {{type=0,id=0,count=712000}},
},
[35083] = {
	reward = {{type=0,id=0,count=12133}},
},
[35087] = {
	reward = {{type=0,id=0,count=12266}},
},
[35091] = {
	reward = {{type=0,id=0,count=12400}},
},
[35095] = {
	reward = {{type=0,id=0,count=744000}},
},
[35008] = {
	reward = {{type=0,id=0,count=2000}},
},
[35012] = {
	reward = {{type=0,id=0,count=2666}},
},
[35016] = {
	reward = {{type=0,id=0,count=3333}},
},
[35020] = {
	reward = {{type=0,id=0,count=200000}},
},
[35028] = {
	reward = {{type=0,id=0,count=6000}},
},
[35032] = {
	reward = {{type=0,id=0,count=6666}},
},
[35036] = {
	reward = {{type=0,id=0,count=8000}},
},
[35040] = {
	reward = {{type=0,id=0,count=480000}},
},
[35048] = {
	reward = {{type=0,id=0,count=10666}},
},
[35052] = {
	reward = {{type=0,id=0,count=11333}},
},
[35056] = {
	reward = {{type=0,id=0,count=11466}},
},
[35060] = {
	reward = {{type=0,id=0,count=688000}},
},
[35068] = {
	reward = {{type=0,id=0,count=11733}},
},
[35072] = {
	reward = {{type=0,id=0,count=11866}},
},
[35076] = {
	reward = {{type=0,id=0,count=12000}},
},
[35080] = {
	reward = {{type=0,id=0,count=720000}},
},
[35088] = {
	reward = {{type=0,id=0,count=12266}},
},
[35092] = {
	reward = {{type=0,id=0,count=12400}},
},
[35001] = {
	reward = {{type=0,id=0,count=666}},
},
[35005] = {
	reward = {{type=0,id=0,count=40000}},
},
[35013] = {
	reward = {{type=0,id=0,count=2666}},
},
[35017] = {
	reward = {{type=0,id=0,count=3333}},
},
[35021] = {
	reward = {{type=0,id=0,count=4666}},
},
[35025] = {
	reward = {{type=0,id=0,count=280000}},
},
[35033] = {
	reward = {{type=0,id=0,count=6666}},
},
[35037] = {
	reward = {{type=0,id=0,count=8000}},
},
[35041] = {
	reward = {{type=0,id=0,count=9333}},
},
[35045] = {
	reward = {{type=0,id=0,count=560000}},
},
[35053] = {
	reward = {{type=0,id=0,count=11333}},
},
[35057] = {
	reward = {{type=0,id=0,count=11466}},
},
[35061] = {
	reward = {{type=0,id=0,count=11600}},
},
[35065] = {
	reward = {{type=0,id=0,count=696000}},
},
[35073] = {
	reward = {{type=0,id=0,count=11866}},
},
[35077] = {
	reward = {{type=0,id=0,count=12000}},
},
[35081] = {
	reward = {{type=0,id=0,count=12133}},
},
[35085] = {
	reward = {{type=0,id=0,count=728000}},
},
[35093] = {
	reward = {{type=0,id=0,count=12400}},
},
[35002] = {
	reward = {{type=0,id=0,count=666}},
},
[35006] = {
	reward = {{type=0,id=0,count=2000}},
},
}