--L-龙魂配置.xlsx 龙魂星级属性
LoongSoulConfig={
[0] = {
	level = 0,
	exp = 20,
	itemId = 200005,
	attr = {{type=4,value=60},{type=5,value=20},{type=6,value=20}},
},
[1] = {
	level = 1,
	exp = 20,
	itemId = 200005,
	attr = {{type=4,value=180},{type=5,value=50},{type=6,value=50}},
},
[2] = {
	level = 2,
	exp = 30,
	itemId = 200005,
	attr = {{type=4,value=300},{type=5,value=80},{type=6,value=80}},
},
[3] = {
	level = 3,
	exp = 30,
	itemId = 200005,
	attr = {{type=4,value=472},{type=5,value=123},{type=6,value=123}},
},
[4] = {
	level = 4,
	exp = 40,
	itemId = 200005,
	attr = {{type=4,value=644},{type=5,value=166},{type=6,value=166}},
},
[5] = {
	level = 5,
	exp = 40,
	itemId = 200005,
	attr = {{type=4,value=864},{type=5,value=221},{type=6,value=221}},
},
[6] = {
	level = 6,
	exp = 50,
	itemId = 200005,
	attr = {{type=4,value=1084},{type=5,value=276},{type=6,value=276}},
},
[7] = {
	level = 7,
	exp = 50,
	itemId = 200005,
	attr = {{type=4,value=1348},{type=5,value=342},{type=6,value=342}},
},
[8] = {
	level = 8,
	exp = 60,
	itemId = 200005,
	attr = {{type=4,value=1612},{type=5,value=408},{type=6,value=408}},
},
[9] = {
	level = 9,
	exp = 60,
	itemId = 200005,
	attr = {{type=4,value=1916},{type=5,value=484},{type=6,value=484}},
},
[10] = {
	level = 10,
	exp = 70,
	itemId = 200005,
	attr = {{type=4,value=2220},{type=5,value=560},{type=6,value=560}},
},
[11] = {
	level = 11,
	exp = 70,
	itemId = 200005,
	attr = {{type=4,value=2560},{type=5,value=645},{type=6,value=645}},
},
[12] = {
	level = 12,
	exp = 80,
	itemId = 200005,
	attr = {{type=4,value=2900},{type=5,value=730},{type=6,value=730}},
},
[13] = {
	level = 13,
	exp = 80,
	itemId = 200005,
	attr = {{type=4,value=3272},{type=5,value=823},{type=6,value=823}},
},
[14] = {
	level = 14,
	exp = 90,
	itemId = 200005,
	attr = {{type=4,value=3644},{type=5,value=916},{type=6,value=916}},
},
[15] = {
	level = 15,
	exp = 90,
	itemId = 200005,
	attr = {{type=4,value=4044},{type=5,value=1016},{type=6,value=1016}},
},
[16] = {
	level = 16,
	exp = 100,
	itemId = 200005,
	attr = {{type=4,value=4444},{type=5,value=1116},{type=6,value=1116}},
},
[17] = {
	level = 17,
	exp = 100,
	itemId = 200005,
	attr = {{type=4,value=4868},{type=5,value=1222},{type=6,value=1222}},
},
[18] = {
	level = 18,
	exp = 100,
	itemId = 200005,
	attr = {{type=4,value=5292},{type=5,value=1328},{type=6,value=1328}},
},
[19] = {
	level = 19,
	exp = 100,
	itemId = 200005,
	attr = {{type=4,value=5716},{type=5,value=1434},{type=6,value=1434}},
},
[20] = {
	level = 20,
	exp = 110,
	itemId = 200005,
	attr = {{type=4,value=6140},{type=5,value=1540},{type=6,value=1540}},
},
[21] = {
	level = 21,
	exp = 110,
	itemId = 200005,
	attr = {{type=4,value=6584},{type=5,value=1651},{type=6,value=1651}},
},
[22] = {
	level = 22,
	exp = 110,
	itemId = 200005,
	attr = {{type=4,value=7028},{type=5,value=1762},{type=6,value=1762}},
},
[23] = {
	level = 23,
	exp = 110,
	itemId = 200005,
	attr = {{type=4,value=7472},{type=5,value=1873},{type=6,value=1873}},
},
[24] = {
	level = 24,
	exp = 110,
	itemId = 200005,
	attr = {{type=4,value=7916},{type=5,value=1984},{type=6,value=1984}},
},
[25] = {
	level = 25,
	exp = 120,
	itemId = 200005,
	attr = {{type=4,value=8360},{type=5,value=2095},{type=6,value=2095}},
},
[26] = {
	level = 26,
	exp = 120,
	itemId = 200005,
	attr = {{type=4,value=8824},{type=5,value=2211},{type=6,value=2211}},
},
[27] = {
	level = 27,
	exp = 120,
	itemId = 200005,
	attr = {{type=4,value=9288},{type=5,value=2327},{type=6,value=2327}},
},
[28] = {
	level = 28,
	exp = 120,
	itemId = 200005,
	attr = {{type=4,value=9752},{type=5,value=2443},{type=6,value=2443}},
},
[29] = {
	level = 29,
	exp = 120,
	itemId = 200005,
	attr = {{type=4,value=10216},{type=5,value=2559},{type=6,value=2559}},
},
[30] = {
	level = 30,
	exp = 130,
	itemId = 200005,
	attr = {{type=4,value=10680},{type=5,value=2675},{type=6,value=2675}},
},
[31] = {
	level = 31,
	exp = 130,
	itemId = 200005,
	attr = {{type=4,value=11160},{type=5,value=2795},{type=6,value=2795}},
},
[32] = {
	level = 32,
	exp = 130,
	itemId = 200005,
	attr = {{type=4,value=11640},{type=5,value=2915},{type=6,value=2915}},
},
[33] = {
	level = 33,
	exp = 130,
	itemId = 200005,
	attr = {{type=4,value=12120},{type=5,value=3035},{type=6,value=3035}},
},
[34] = {
	level = 34,
	exp = 130,
	itemId = 200005,
	attr = {{type=4,value=12600},{type=5,value=3155},{type=6,value=3155}},
},
[35] = {
	level = 35,
	exp = 140,
	itemId = 200005,
	attr = {{type=4,value=13080},{type=5,value=3275},{type=6,value=3275}},
},
[36] = {
	level = 36,
	exp = 140,
	itemId = 200005,
	attr = {{type=4,value=13572},{type=5,value=3398},{type=6,value=3398}},
},
[37] = {
	level = 37,
	exp = 140,
	itemId = 200005,
	attr = {{type=4,value=14064},{type=5,value=3521},{type=6,value=3521}},
},
[38] = {
	level = 38,
	exp = 140,
	itemId = 200005,
	attr = {{type=4,value=14556},{type=5,value=3644},{type=6,value=3644}},
},
[39] = {
	level = 39,
	exp = 140,
	itemId = 200005,
	attr = {{type=4,value=15048},{type=5,value=3767},{type=6,value=3767}},
},
[40] = {
	level = 40,
	exp = 150,
	itemId = 200005,
	attr = {{type=4,value=15540},{type=5,value=3890},{type=6,value=3890}},
},
[41] = {
	level = 41,
	exp = 150,
	itemId = 200005,
	attr = {{type=4,value=16044},{type=5,value=4016},{type=6,value=4016}},
},
[42] = {
	level = 42,
	exp = 150,
	itemId = 200005,
	attr = {{type=4,value=16548},{type=5,value=4142},{type=6,value=4142}},
},
[43] = {
	level = 43,
	exp = 150,
	itemId = 200005,
	attr = {{type=4,value=17052},{type=5,value=4268},{type=6,value=4268}},
},
[44] = {
	level = 44,
	exp = 150,
	itemId = 200005,
	attr = {{type=4,value=17556},{type=5,value=4394},{type=6,value=4394}},
},
[45] = {
	level = 45,
	exp = 160,
	itemId = 200005,
	attr = {{type=4,value=18060},{type=5,value=4520},{type=6,value=4520}},
},
[46] = {
	level = 46,
	exp = 160,
	itemId = 200005,
	attr = {{type=4,value=18572},{type=5,value=4648},{type=6,value=4648}},
},
[47] = {
	level = 47,
	exp = 160,
	itemId = 200005,
	attr = {{type=4,value=19084},{type=5,value=4776},{type=6,value=4776}},
},
[48] = {
	level = 48,
	exp = 160,
	itemId = 200005,
	attr = {{type=4,value=19596},{type=5,value=4904},{type=6,value=4904}},
},
[49] = {
	level = 49,
	exp = 160,
	itemId = 200005,
	attr = {{type=4,value=20108},{type=5,value=5032},{type=6,value=5032}},
},
[50] = {
	level = 50,
	exp = 180,
	itemId = 200005,
	attr = {{type=4,value=20620},{type=5,value=5160},{type=6,value=5160}},
},
[51] = {
	level = 51,
	exp = 180,
	itemId = 200005,
	attr = {{type=4,value=21168},{type=5,value=5297},{type=6,value=5297}},
},
[52] = {
	level = 52,
	exp = 180,
	itemId = 200005,
	attr = {{type=4,value=21716},{type=5,value=5434},{type=6,value=5434}},
},
[53] = {
	level = 53,
	exp = 180,
	itemId = 200005,
	attr = {{type=4,value=22264},{type=5,value=5571},{type=6,value=5571}},
},
[54] = {
	level = 54,
	exp = 180,
	itemId = 200005,
	attr = {{type=4,value=22812},{type=5,value=5708},{type=6,value=5708}},
},
[55] = {
	level = 55,
	exp = 200,
	itemId = 200005,
	attr = {{type=4,value=23360},{type=5,value=5845},{type=6,value=5845}},
},
[56] = {
	level = 56,
	exp = 200,
	itemId = 200005,
	attr = {{type=4,value=23940},{type=5,value=5990},{type=6,value=5990}},
},
[57] = {
	level = 57,
	exp = 200,
	itemId = 200005,
	attr = {{type=4,value=24520},{type=5,value=6135},{type=6,value=6135}},
},
[58] = {
	level = 58,
	exp = 200,
	itemId = 200005,
	attr = {{type=4,value=25100},{type=5,value=6280},{type=6,value=6280}},
},
[59] = {
	level = 59,
	exp = 200,
	itemId = 200005,
	attr = {{type=4,value=25680},{type=5,value=6425},{type=6,value=6425}},
},
[60] = {
	level = 60,
	exp = 220,
	itemId = 200005,
	attr = {{type=4,value=26260},{type=5,value=6570},{type=6,value=6570}},
},
[61] = {
	level = 61,
	exp = 220,
	itemId = 200005,
	attr = {{type=4,value=26868},{type=5,value=6722},{type=6,value=6722}},
},
[62] = {
	level = 62,
	exp = 220,
	itemId = 200005,
	attr = {{type=4,value=27476},{type=5,value=6874},{type=6,value=6874}},
},
[63] = {
	level = 63,
	exp = 220,
	itemId = 200005,
	attr = {{type=4,value=28084},{type=5,value=7026},{type=6,value=7026}},
},
[64] = {
	level = 64,
	exp = 220,
	itemId = 200005,
	attr = {{type=4,value=28692},{type=5,value=7178},{type=6,value=7178}},
},
[65] = {
	level = 65,
	exp = 250,
	itemId = 200005,
	attr = {{type=4,value=29300},{type=5,value=7330},{type=6,value=7330}},
},
[66] = {
	level = 66,
	exp = 250,
	itemId = 200005,
	attr = {{type=4,value=29960},{type=5,value=7495},{type=6,value=7495}},
},
[67] = {
	level = 67,
	exp = 250,
	itemId = 200005,
	attr = {{type=4,value=30620},{type=5,value=7660},{type=6,value=7660}},
},
[68] = {
	level = 68,
	exp = 250,
	itemId = 200005,
	attr = {{type=4,value=31280},{type=5,value=7825},{type=6,value=7825}},
},
[69] = {
	level = 69,
	exp = 250,
	itemId = 200005,
	attr = {{type=4,value=31940},{type=5,value=7990},{type=6,value=7990}},
},
[70] = {
	level = 70,
	exp = 300,
	itemId = 200005,
	attr = {{type=4,value=32600},{type=5,value=8155},{type=6,value=8155}},
},
[71] = {
	level = 71,
	exp = 300,
	itemId = 200005,
	attr = {{type=4,value=33356},{type=5,value=8344},{type=6,value=8344}},
},
[72] = {
	level = 72,
	exp = 300,
	itemId = 200005,
	attr = {{type=4,value=34112},{type=5,value=8533},{type=6,value=8533}},
},
[73] = {
	level = 73,
	exp = 300,
	itemId = 200005,
	attr = {{type=4,value=34868},{type=5,value=8722},{type=6,value=8722}},
},
[74] = {
	level = 74,
	exp = 300,
	itemId = 200005,
	attr = {{type=4,value=35624},{type=5,value=8911},{type=6,value=8911}},
},
[75] = {
	level = 75,
	exp = 350,
	itemId = 200005,
	attr = {{type=4,value=36380},{type=5,value=9100},{type=6,value=9100}},
},
[76] = {
	level = 76,
	exp = 350,
	itemId = 200005,
	attr = {{type=4,value=37220},{type=5,value=9310},{type=6,value=9310}},
},
[77] = {
	level = 77,
	exp = 350,
	itemId = 200005,
	attr = {{type=4,value=38060},{type=5,value=9520},{type=6,value=9520}},
},
[78] = {
	level = 78,
	exp = 350,
	itemId = 200005,
	attr = {{type=4,value=38900},{type=5,value=9730},{type=6,value=9730}},
},
[79] = {
	level = 79,
	exp = 350,
	itemId = 200005,
	attr = {{type=4,value=39740},{type=5,value=9940},{type=6,value=9940}},
},
[80] = {
	level = 80,
	exp = 400,
	itemId = 200005,
	attr = {{type=4,value=40580},{type=5,value=10150},{type=6,value=10150}},
},
[81] = {
	level = 81,
	exp = 400,
	itemId = 200005,
	attr = {{type=4,value=41492},{type=5,value=10378},{type=6,value=10378}},
},
[82] = {
	level = 82,
	exp = 400,
	itemId = 200005,
	attr = {{type=4,value=42404},{type=5,value=10606},{type=6,value=10606}},
},
[83] = {
	level = 83,
	exp = 400,
	itemId = 200005,
	attr = {{type=4,value=43316},{type=5,value=10834},{type=6,value=10834}},
},
[84] = {
	level = 84,
	exp = 400,
	itemId = 200005,
	attr = {{type=4,value=44228},{type=5,value=11062},{type=6,value=11062}},
},
[85] = {
	level = 85,
	exp = 450,
	itemId = 200005,
	attr = {{type=4,value=45140},{type=5,value=11290},{type=6,value=11290}},
},
[86] = {
	level = 86,
	exp = 450,
	itemId = 200005,
	attr = {{type=4,value=46116},{type=5,value=11534},{type=6,value=11534}},
},
[87] = {
	level = 87,
	exp = 450,
	itemId = 200005,
	attr = {{type=4,value=47092},{type=5,value=11778},{type=6,value=11778}},
},
[88] = {
	level = 88,
	exp = 450,
	itemId = 200005,
	attr = {{type=4,value=48068},{type=5,value=12022},{type=6,value=12022}},
},
[89] = {
	level = 89,
	exp = 450,
	itemId = 200005,
	attr = {{type=4,value=49044},{type=5,value=12266},{type=6,value=12266}},
},
[90] = {
	level = 90,
	exp = 500,
	itemId = 200005,
	attr = {{type=4,value=50020},{type=5,value=12510},{type=6,value=12510}},
},
[91] = {
	level = 91,
	exp = 500,
	itemId = 200005,
	attr = {{type=4,value=51052},{type=5,value=12768},{type=6,value=12768}},
},
[92] = {
	level = 92,
	exp = 500,
	itemId = 200005,
	attr = {{type=4,value=52084},{type=5,value=13026},{type=6,value=13026}},
},
[93] = {
	level = 93,
	exp = 500,
	itemId = 200005,
	attr = {{type=4,value=53116},{type=5,value=13284},{type=6,value=13284}},
},
[94] = {
	level = 94,
	exp = 500,
	itemId = 200005,
	attr = {{type=4,value=54148},{type=5,value=13542},{type=6,value=13542}},
},
[95] = {
	level = 95,
	exp = 550,
	itemId = 200005,
	attr = {{type=4,value=55180},{type=5,value=13800},{type=6,value=13800}},
},
[96] = {
	level = 96,
	exp = 550,
	itemId = 200005,
	attr = {{type=4,value=56260},{type=5,value=14070},{type=6,value=14070}},
},
[97] = {
	level = 97,
	exp = 550,
	itemId = 200005,
	attr = {{type=4,value=57340},{type=5,value=14340},{type=6,value=14340}},
},
[98] = {
	level = 98,
	exp = 550,
	itemId = 200005,
	attr = {{type=4,value=58420},{type=5,value=14610},{type=6,value=14610}},
},
[99] = {
	level = 99,
	exp = 550,
	itemId = 200005,
	attr = {{type=4,value=59500},{type=5,value=14880},{type=6,value=14880}},
},
[100] = {
	level = 100,
	exp = 600,
	itemId = 200005,
	attr = {{type=4,value=60580},{type=5,value=15150},{type=6,value=15150}},
},
[101] = {
	level = 101,
	exp = 600,
	itemId = 200005,
	attr = {{type=4,value=61700},{type=5,value=15430},{type=6,value=15430}},
},
[102] = {
	level = 102,
	exp = 600,
	itemId = 200005,
	attr = {{type=4,value=62820},{type=5,value=15710},{type=6,value=15710}},
},
[103] = {
	level = 103,
	exp = 600,
	itemId = 200005,
	attr = {{type=4,value=63940},{type=5,value=15990},{type=6,value=15990}},
},
[104] = {
	level = 104,
	exp = 600,
	itemId = 200005,
	attr = {{type=4,value=65060},{type=5,value=16270},{type=6,value=16270}},
},
[105] = {
	level = 105,
	exp = 650,
	itemId = 200005,
	attr = {{type=4,value=66180},{type=5,value=16550},{type=6,value=16550}},
},
[106] = {
	level = 106,
	exp = 650,
	itemId = 200005,
	attr = {{type=4,value=67336},{type=5,value=16839},{type=6,value=16839}},
},
[107] = {
	level = 107,
	exp = 650,
	itemId = 200005,
	attr = {{type=4,value=68492},{type=5,value=17128},{type=6,value=17128}},
},
[108] = {
	level = 108,
	exp = 650,
	itemId = 200005,
	attr = {{type=4,value=69648},{type=5,value=17417},{type=6,value=17417}},
},
[109] = {
	level = 109,
	exp = 650,
	itemId = 200005,
	attr = {{type=4,value=70804},{type=5,value=17706},{type=6,value=17706}},
},
[110] = {
	level = 110,
	exp = 700,
	itemId = 200005,
	attr = {{type=4,value=71960},{type=5,value=17995},{type=6,value=17995}},
},
[111] = {
	level = 111,
	exp = 700,
	itemId = 200005,
	attr = {{type=4,value=73144},{type=5,value=18291},{type=6,value=18291}},
},
[112] = {
	level = 112,
	exp = 700,
	itemId = 200005,
	attr = {{type=4,value=74328},{type=5,value=18587},{type=6,value=18587}},
},
[113] = {
	level = 113,
	exp = 700,
	itemId = 200005,
	attr = {{type=4,value=75512},{type=5,value=18883},{type=6,value=18883}},
},
[114] = {
	level = 114,
	exp = 700,
	itemId = 200005,
	attr = {{type=4,value=76696},{type=5,value=19179},{type=6,value=19179}},
},
[115] = {
	level = 115,
	exp = 750,
	itemId = 200005,
	attr = {{type=4,value=77880},{type=5,value=19475},{type=6,value=19475}},
},
[116] = {
	level = 116,
	exp = 750,
	itemId = 200005,
	attr = {{type=4,value=79088},{type=5,value=19777},{type=6,value=19777}},
},
[117] = {
	level = 117,
	exp = 750,
	itemId = 200005,
	attr = {{type=4,value=80296},{type=5,value=20079},{type=6,value=20079}},
},
[118] = {
	level = 118,
	exp = 750,
	itemId = 200005,
	attr = {{type=4,value=81504},{type=5,value=20381},{type=6,value=20381}},
},
[119] = {
	level = 119,
	exp = 750,
	itemId = 200005,
	attr = {{type=4,value=82712},{type=5,value=20683},{type=6,value=20683}},
},
[120] = {
	level = 120,
	exp = 800,
	itemId = 200005,
	attr = {{type=4,value=83920},{type=5,value=20985},{type=6,value=20985}},
},
[121] = {
	level = 121,
	exp = 800,
	itemId = 200005,
	attr = {{type=4,value=85148},{type=5,value=21292},{type=6,value=21292}},
},
[122] = {
	level = 122,
	exp = 800,
	itemId = 200005,
	attr = {{type=4,value=86376},{type=5,value=21599},{type=6,value=21599}},
},
[123] = {
	level = 123,
	exp = 800,
	itemId = 200005,
	attr = {{type=4,value=87604},{type=5,value=21906},{type=6,value=21906}},
},
[124] = {
	level = 124,
	exp = 800,
	itemId = 200005,
	attr = {{type=4,value=88832},{type=5,value=22213},{type=6,value=22213}},
},
[125] = {
	level = 125,
	exp = 850,
	itemId = 200005,
	attr = {{type=4,value=90060},{type=5,value=22520},{type=6,value=22520}},
},
[126] = {
	level = 126,
	exp = 850,
	itemId = 200005,
	attr = {{type=4,value=91300},{type=5,value=22830},{type=6,value=22830}},
},
[127] = {
	level = 127,
	exp = 850,
	itemId = 200005,
	attr = {{type=4,value=92540},{type=5,value=23140},{type=6,value=23140}},
},
[128] = {
	level = 128,
	exp = 850,
	itemId = 200005,
	attr = {{type=4,value=93780},{type=5,value=23450},{type=6,value=23450}},
},
[129] = {
	level = 129,
	exp = 850,
	itemId = 200005,
	attr = {{type=4,value=95020},{type=5,value=23760},{type=6,value=23760}},
},
[130] = {
	level = 130,
	exp = 900,
	itemId = 200005,
	attr = {{type=4,value=96260},{type=5,value=24070},{type=6,value=24070}},
},
[131] = {
	level = 131,
	exp = 900,
	itemId = 200005,
	attr = {{type=4,value=97508},{type=5,value=24382},{type=6,value=24382}},
},
[132] = {
	level = 132,
	exp = 900,
	itemId = 200005,
	attr = {{type=4,value=98756},{type=5,value=24694},{type=6,value=24694}},
},
[133] = {
	level = 133,
	exp = 900,
	itemId = 200005,
	attr = {{type=4,value=100004},{type=5,value=25006},{type=6,value=25006}},
},
[134] = {
	level = 134,
	exp = 900,
	itemId = 200005,
	attr = {{type=4,value=101252},{type=5,value=25318},{type=6,value=25318}},
},
[135] = {
	level = 135,
	exp = 950,
	itemId = 200005,
	attr = {{type=4,value=102500},{type=5,value=25630},{type=6,value=25630}},
},
[136] = {
	level = 136,
	exp = 950,
	itemId = 200005,
	attr = {{type=4,value=103752},{type=5,value=25943},{type=6,value=25943}},
},
[137] = {
	level = 137,
	exp = 950,
	itemId = 200005,
	attr = {{type=4,value=105004},{type=5,value=26256},{type=6,value=26256}},
},
[138] = {
	level = 138,
	exp = 950,
	itemId = 200005,
	attr = {{type=4,value=106256},{type=5,value=26569},{type=6,value=26569}},
},
[139] = {
	level = 139,
	exp = 950,
	itemId = 200005,
	attr = {{type=4,value=107508},{type=5,value=26882},{type=6,value=26882}},
},
[140] = {
	level = 140,
	exp = 1000,
	itemId = 200005,
	attr = {{type=4,value=108760},{type=5,value=27195},{type=6,value=27195}},
},
[141] = {
	level = 141,
	exp = 1000,
	itemId = 200005,
	attr = {{type=4,value=110080},{type=5,value=27525},{type=6,value=27525}},
},
[142] = {
	level = 142,
	exp = 1000,
	itemId = 200005,
	attr = {{type=4,value=111400},{type=5,value=27855},{type=6,value=27855}},
},
[143] = {
	level = 143,
	exp = 1000,
	itemId = 200005,
	attr = {{type=4,value=112720},{type=5,value=28185},{type=6,value=28185}},
},
[144] = {
	level = 144,
	exp = 1000,
	itemId = 200005,
	attr = {{type=4,value=114040},{type=5,value=28515},{type=6,value=28515}},
},
[145] = {
	level = 145,
	exp = 1050,
	itemId = 200005,
	attr = {{type=4,value=115360},{type=5,value=28845},{type=6,value=28845}},
},
[146] = {
	level = 146,
	exp = 1050,
	itemId = 200005,
	attr = {{type=4,value=116748},{type=5,value=29192},{type=6,value=29192}},
},
[147] = {
	level = 147,
	exp = 1050,
	itemId = 200005,
	attr = {{type=4,value=118136},{type=5,value=29539},{type=6,value=29539}},
},
[148] = {
	level = 148,
	exp = 1050,
	itemId = 200005,
	attr = {{type=4,value=119524},{type=5,value=29886},{type=6,value=29886}},
},
[149] = {
	level = 149,
	exp = 1050,
	itemId = 200005,
	attr = {{type=4,value=120912},{type=5,value=30233},{type=6,value=30233}},
},
[150] = {
	level = 150,
	exp = 1100,
	itemId = 200005,
	attr = {{type=4,value=122300},{type=5,value=30580},{type=6,value=30580}},
},
[151] = {
	level = 151,
	exp = 1100,
	itemId = 200005,
	attr = {{type=4,value=123696},{type=5,value=30929},{type=6,value=30929}},
},
[152] = {
	level = 152,
	exp = 1100,
	itemId = 200005,
	attr = {{type=4,value=125092},{type=5,value=31278},{type=6,value=31278}},
},
[153] = {
	level = 153,
	exp = 1100,
	itemId = 200005,
	attr = {{type=4,value=126488},{type=5,value=31627},{type=6,value=31627}},
},
[154] = {
	level = 154,
	exp = 1100,
	itemId = 200005,
	attr = {{type=4,value=127884},{type=5,value=31976},{type=6,value=31976}},
},
[155] = {
	level = 155,
	exp = 1150,
	itemId = 200005,
	attr = {{type=4,value=129280},{type=5,value=32325},{type=6,value=32325}},
},
[156] = {
	level = 156,
	exp = 1150,
	itemId = 200005,
	attr = {{type=4,value=130684},{type=5,value=32676},{type=6,value=32676}},
},
[157] = {
	level = 157,
	exp = 1150,
	itemId = 200005,
	attr = {{type=4,value=132088},{type=5,value=33027},{type=6,value=33027}},
},
[158] = {
	level = 158,
	exp = 1150,
	itemId = 200005,
	attr = {{type=4,value=133492},{type=5,value=33378},{type=6,value=33378}},
},
[159] = {
	level = 159,
	exp = 1150,
	itemId = 200005,
	attr = {{type=4,value=134896},{type=5,value=33729},{type=6,value=33729}},
},
[160] = {
	level = 160,
	exp = 1200,
	itemId = 200005,
	attr = {{type=4,value=136300},{type=5,value=34080},{type=6,value=34080}},
},
[161] = {
	level = 161,
	exp = 1200,
	itemId = 200005,
	attr = {{type=4,value=137708},{type=5,value=34432},{type=6,value=34432}},
},
[162] = {
	level = 162,
	exp = 1200,
	itemId = 200005,
	attr = {{type=4,value=139116},{type=5,value=34784},{type=6,value=34784}},
},
[163] = {
	level = 163,
	exp = 1200,
	itemId = 200005,
	attr = {{type=4,value=140524},{type=5,value=35136},{type=6,value=35136}},
},
[164] = {
	level = 164,
	exp = 1200,
	itemId = 200005,
	attr = {{type=4,value=141932},{type=5,value=35488},{type=6,value=35488}},
},
[165] = {
	level = 165,
	exp = 1250,
	itemId = 200005,
	attr = {{type=4,value=143340},{type=5,value=35840},{type=6,value=35840}},
},
[166] = {
	level = 166,
	exp = 1250,
	itemId = 200005,
	attr = {{type=4,value=144808},{type=5,value=36207},{type=6,value=36207}},
},
[167] = {
	level = 167,
	exp = 1250,
	itemId = 200005,
	attr = {{type=4,value=146276},{type=5,value=36574},{type=6,value=36574}},
},
[168] = {
	level = 168,
	exp = 1250,
	itemId = 200005,
	attr = {{type=4,value=147744},{type=5,value=36941},{type=6,value=36941}},
},
[169] = {
	level = 169,
	exp = 1250,
	itemId = 200005,
	attr = {{type=4,value=149212},{type=5,value=37308},{type=6,value=37308}},
},
[170] = {
	level = 170,
	exp = 1300,
	itemId = 200005,
	attr = {{type=4,value=150680},{type=5,value=37675},{type=6,value=37675}},
},
[171] = {
	level = 171,
	exp = 1300,
	itemId = 200005,
	attr = {{type=4,value=152208},{type=5,value=38057},{type=6,value=38057}},
},
[172] = {
	level = 172,
	exp = 1300,
	itemId = 200005,
	attr = {{type=4,value=153736},{type=5,value=38439},{type=6,value=38439}},
},
[173] = {
	level = 173,
	exp = 1300,
	itemId = 200005,
	attr = {{type=4,value=155264},{type=5,value=38821},{type=6,value=38821}},
},
[174] = {
	level = 174,
	exp = 1300,
	itemId = 200005,
	attr = {{type=4,value=156792},{type=5,value=39203},{type=6,value=39203}},
},
[175] = {
	level = 175,
	exp = 1350,
	itemId = 200005,
	attr = {{type=4,value=158320},{type=5,value=39585},{type=6,value=39585}},
},
[176] = {
	level = 176,
	exp = 1350,
	itemId = 200005,
	attr = {{type=4,value=159876},{type=5,value=39974},{type=6,value=39974}},
},
[177] = {
	level = 177,
	exp = 1350,
	itemId = 200005,
	attr = {{type=4,value=161432},{type=5,value=40363},{type=6,value=40363}},
},
[178] = {
	level = 178,
	exp = 1350,
	itemId = 200005,
	attr = {{type=4,value=162988},{type=5,value=40752},{type=6,value=40752}},
},
[179] = {
	level = 179,
	exp = 1350,
	itemId = 200005,
	attr = {{type=4,value=164544},{type=5,value=41141},{type=6,value=41141}},
},
[180] = {
	level = 180,
	exp = 1400,
	itemId = 200005,
	attr = {{type=4,value=166100},{type=5,value=41530},{type=6,value=41530}},
},
[181] = {
	level = 181,
	exp = 1400,
	itemId = 200005,
	attr = {{type=4,value=167684},{type=5,value=41926},{type=6,value=41926}},
},
[182] = {
	level = 182,
	exp = 1400,
	itemId = 200005,
	attr = {{type=4,value=169268},{type=5,value=42322},{type=6,value=42322}},
},
[183] = {
	level = 183,
	exp = 1400,
	itemId = 200005,
	attr = {{type=4,value=170852},{type=5,value=42718},{type=6,value=42718}},
},
[184] = {
	level = 184,
	exp = 1400,
	itemId = 200005,
	attr = {{type=4,value=172436},{type=5,value=43114},{type=6,value=43114}},
},
[185] = {
	level = 185,
	exp = 1450,
	itemId = 200005,
	attr = {{type=4,value=174020},{type=5,value=43510},{type=6,value=43510}},
},
[186] = {
	level = 186,
	exp = 1450,
	itemId = 200005,
	attr = {{type=4,value=175628},{type=5,value=43912},{type=6,value=43912}},
},
[187] = {
	level = 187,
	exp = 1450,
	itemId = 200005,
	attr = {{type=4,value=177236},{type=5,value=44314},{type=6,value=44314}},
},
[188] = {
	level = 188,
	exp = 1450,
	itemId = 200005,
	attr = {{type=4,value=178844},{type=5,value=44716},{type=6,value=44716}},
},
[189] = {
	level = 189,
	exp = 1450,
	itemId = 200005,
	attr = {{type=4,value=180452},{type=5,value=45118},{type=6,value=45118}},
},
[190] = {
	level = 190,
	exp = 1500,
	itemId = 200005,
	attr = {{type=4,value=182060},{type=5,value=45520},{type=6,value=45520}},
},
[191] = {
	level = 191,
	exp = 1500,
	itemId = 200005,
	attr = {{type=4,value=183692},{type=5,value=45928},{type=6,value=45928}},
},
[192] = {
	level = 192,
	exp = 1500,
	itemId = 200005,
	attr = {{type=4,value=185324},{type=5,value=46336},{type=6,value=46336}},
},
[193] = {
	level = 193,
	exp = 1500,
	itemId = 200005,
	attr = {{type=4,value=186956},{type=5,value=46744},{type=6,value=46744}},
},
[194] = {
	level = 194,
	exp = 1500,
	itemId = 200005,
	attr = {{type=4,value=188588},{type=5,value=47152},{type=6,value=47152}},
},
[195] = {
	level = 195,
	exp = 1550,
	itemId = 200005,
	attr = {{type=4,value=190220},{type=5,value=47560},{type=6,value=47560}},
},
[196] = {
	level = 196,
	exp = 1550,
	itemId = 200005,
	attr = {{type=4,value=191876},{type=5,value=47974},{type=6,value=47974}},
},
[197] = {
	level = 197,
	exp = 1550,
	itemId = 200005,
	attr = {{type=4,value=193532},{type=5,value=48388},{type=6,value=48388}},
},
[198] = {
	level = 198,
	exp = 1550,
	itemId = 200005,
	attr = {{type=4,value=195188},{type=5,value=48802},{type=6,value=48802}},
},
[199] = {
	level = 199,
	exp = 1550,
	itemId = 200005,
	attr = {{type=4,value=196844},{type=5,value=49216},{type=6,value=49216}},
},
[200] = {
	level = 200,
	exp = 0,
	itemId = 200005,
	attr = {{type=4,value=198500},{type=5,value=49630},{type=6,value=49630}},
},
[201] = {
	level = 201,
	exp = 0,
	itemId = 200005,
	attr = {{type=4,value=198500},{type=5,value=49630},{type=6,value=49630}},
},
}