--L-龙魂配置.xlsx 龙魂阶数
LoongSoulStageConfig={
[0] = {
	stage = 0,
	icon = "longhun_01_png",
	normalCost = 2,
	normalBaseExp = 10,
	attr = {{type=4,value=0},{type=5,value=0},{type=6,value=0}},
},
[1] = {
	stage = 1,
	icon = "longhun_01_png",
	normalCost = 2,
	normalBaseExp = 10,
	attr = {{type=4,value=324},{type=5,value=81},{type=6,value=81}},
},
[2] = {
	stage = 2,
	icon = "longhun_01_png",
	normalCost = 2,
	normalBaseExp = 10,
	attr = {{type=4,value=912},{type=5,value=228},{type=6,value=228}},
},
[3] = {
	stage = 3,
	icon = "longhun_01_png",
	normalCost = 3,
	normalBaseExp = 10,
	attr = {{type=4,value=1593},{type=5,value=399},{type=6,value=399}},
},
[4] = {
	stage = 4,
	icon = "longhun_01_png",
	normalCost = 3,
	normalBaseExp = 10,
	attr = {{type=4,value=2322},{type=5,value=581},{type=6,value=581}},
},
[5] = {
	stage = 5,
	icon = "longhun_01_png",
	normalCost = 4,
	normalBaseExp = 10,
	attr = {{type=4,value=3084},{type=5,value=771},{type=6,value=771}},
},
[6] = {
	stage = 6,
	icon = "longhun_01_png",
	normalCost = 4,
	normalBaseExp = 10,
	attr = {{type=4,value=3930},{type=5,value=983},{type=6,value=983}},
},
[7] = {
	stage = 7,
	icon = "longhun_01_png",
	normalCost = 5,
	normalBaseExp = 10,
	attr = {{type=4,value=4881},{type=5,value=1221},{type=6,value=1221}},
},
[8] = {
	stage = 8,
	icon = "longhun_01_png",
	normalCost = 5,
	normalBaseExp = 10,
	attr = {{type=4,value=6078},{type=5,value=1520},{type=6,value=1520}},
},
[9] = {
	stage = 9,
	icon = "longhun_01_png",
	normalCost = 6,
	normalBaseExp = 10,
	attr = {{type=4,value=7494},{type=5,value=1874},{type=6,value=1874}},
},
[10] = {
	stage = 10,
	icon = "longhun_01_png",
	normalCost = 6,
	normalBaseExp = 10,
	attr = {{type=4,value=9078},{type=5,value=2270},{type=6,value=2270}},
},
[11] = {
	stage = 11,
	icon = "longhun_01_png",
	normalCost = 7,
	normalBaseExp = 10,
	attr = {{type=4,value=10785},{type=5,value=2697},{type=6,value=2697}},
},
[12] = {
	stage = 12,
	icon = "longhun_01_png",
	normalCost = 7,
	normalBaseExp = 10,
	attr = {{type=4,value=12579},{type=5,value=3145},{type=6,value=3145}},
},
[13] = {
	stage = 13,
	icon = "longhun_01_png",
	normalCost = 8,
	normalBaseExp = 10,
	attr = {{type=4,value=14430},{type=5,value=3608},{type=6,value=3608}},
},
[14] = {
	stage = 14,
	icon = "longhun_01_png",
	normalCost = 8,
	normalBaseExp = 10,
	attr = {{type=4,value=16305},{type=5,value=4077},{type=6,value=4077}},
},
[15] = {
	stage = 15,
	icon = "longhun_01_png",
	normalCost = 9,
	normalBaseExp = 10,
	attr = {{type=4,value=18336},{type=5,value=4584},{type=6,value=4584}},
},
[16] = {
	stage = 16,
	icon = "longhun_01_png",
	normalCost = 9,
	normalBaseExp = 10,
	attr = {{type=4,value=20436},{type=5,value=5109},{type=6,value=5109}},
},
[17] = {
	stage = 17,
	icon = "longhun_01_png",
	normalCost = 10,
	normalBaseExp = 10,
	attr = {{type=4,value=22593},{type=5,value=5649},{type=6,value=5649}},
},
[18] = {
	stage = 18,
	icon = "longhun_01_png",
	normalCost = 10,
	normalBaseExp = 10,
	attr = {{type=4,value=24906},{type=5,value=6227},{type=6,value=6227}},
},
[19] = {
	stage = 19,
	icon = "longhun_01_png",
	normalCost = 11,
	normalBaseExp = 10,
	attr = {{type=4,value=27300},{type=5,value=6825},{type=6,value=6825}},
},
[20] = {
	stage = 20,
	icon = "longhun_01_png",
	normalCost = 11,
	normalBaseExp = 10,
	attr = {{type=4,value=29766},{type=5,value=7442},{type=6,value=7442}},
},
}