--Z-战斗力计算配置.xlsx 属性战力配置
AttrPowerConfig={
[2] = {
	type = 2,
	power = 20,
},
[4] = {
	type = 4,
	power = 360,
},
[5] = {
	type = 5,
	power = 180,
},
[6] = {
	type = 6,
	power = 180,
},
[7] = {
	type = 7,
	power = 1500,
},
[8] = {
	type = 8,
	power = 1500,
},
[13] = {
	type = 13,
	power = 3000,
},
[14] = {
	type = 14,
	power = 3000,
},
[16] = {
	type = 16,
	power = 3000,
	relate_type = 2,
	relate_power = 0.002,
},
[17] = {
	type = 17,
	power = 72,
},
[18] = {
	type = 18,
	power = 500,
},
[19] = {
	type = 19,
	power = 0,
},
[20] = {
	type = 20,
	power = 3000,
},
[21] = {
	type = 21,
	power = 3000,
},
[22] = {
	type = 22,
	power = 3000,
},
[26] = {
	type = 26,
	power = 20,
},
[28] = {
	type = 28,
	power = 0,
},
[29] = {
	type = 29,
	power = 0,
},
[30] = {
	type = 30,
	power = 0,
},
[31] = {
	type = 31,
	power = 180,
},
[45] = {
	type = 45,
	power = 0,
},
[46] = {
	type = 46,
	power = 0,
},
[47] = {
	type = 47,
	power = 0,
},
[48] = {
	type = 48,
	power = 0,
},
[49] = {
	type = 49,
	power = 0,
},
[50] = {
	type = 50,
	power = 0,
},
[51] = {
	type = 51,
	power = 0,
},
[52] = {
	type = 52,
	power = 0,
},
[53] = {
	type = 53,
	power = 0,
},
[55] = {
	type = 55,
	power = 3000,
	relate_type = 4,
	relate_power = 0.027,
},
[56] = {
	type = 56,
	power = 600,
	relate_type = 4,
	relate_power = 0.0054,
},
[57] = {
	type = 57,
	power = 360,
},
[58] = {
	type = 58,
	power = 3000,
	relate_type = 57,
	relate_power = 0.036,
},
[59] = {
	type = 59,
	power = 3000,
	relate_type = 57,
	relate_power = 0.036,
},
[60] = {
	type = 60,
	power = 20,
},
[61] = {
	type = 61,
	power = 3000,
	relate_type = 60,
	relate_power = 0.002,
},
[62] = {
	type = 62,
	power = 3000,
	relate_type = 60,
	relate_power = 0.002,
},
[64] = {
	type = 64,
	power = 72,
},
[65] = {
	type = 65,
	power = 600,
	relate_type = 4,
	relate_power = 0.0054,
},
}