--Z-装扮.xlsx 装扮id
ZhuangBanId={
[1] = {
	id = 1,
	pos = 1,
	attr = {{type=2,value=22650},{type=4,value=1660},{type=5,value=415},{type=6,value=415}},
	cost = {itemId=200113, num=1},
	roletype = 1,
	name = "暗黑战神",
},
[2] = {
	id = 2,
	pos = 1,
	attr = {{type=2,value=22650},{type=4,value=1660},{type=5,value=415},{type=6,value=415}},
	cost = {itemId=200113, num=1},
	roletype = 2,
	name = "暗黑战神",
},
[3] = {
	id = 3,
	pos = 1,
	attr = {{type=2,value=22650},{type=4,value=1660},{type=5,value=415},{type=6,value=415}},
	cost = {itemId=200113, num=1},
	roletype = 3,
	name = "暗黑战神",
},
[4] = {
	id = 4,
	pos = 1,
	attr = {{type=2,value=18950},{type=4,value=1380},{type=5,value=345},{type=6,value=345}},
	cost = {itemId=900001, num=1},
	roletype = 1,
	name = "摸金校尉",
},
[5] = {
	id = 5,
	pos = 1,
	attr = {{type=2,value=18950},{type=4,value=1380},{type=5,value=345},{type=6,value=345}},
	cost = {itemId=900001, num=1},
	roletype = 2,
	name = "摸金校尉",
},
[6] = {
	id = 6,
	pos = 1,
	attr = {{type=2,value=18950},{type=4,value=1380},{type=5,value=345},{type=6,value=345}},
	cost = {itemId=900001, num=1},
	roletype = 3,
	name = "摸金校尉",
},
[7] = {
	id = 7,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900003, num=1},
	roletype = 1,
	name = "圣诞老人",
},
[8] = {
	id = 8,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900003, num=1},
	roletype = 2,
	name = "圣诞老人",
},
[9] = {
	id = 9,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900003, num=1},
	roletype = 3,
	name = "圣诞老人",
},
[10] = {
	id = 10,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900005, num=1},
	roletype = 1,
	name = "夏日狂欢",
},
[11] = {
	id = 11,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900005, num=1},
	roletype = 2,
	name = "夏日狂欢",
},
[12] = {
	id = 12,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900005, num=1},
	roletype = 3,
	name = "夏日狂欢",
},
[13] = {
	id = 13,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900006, num=1},
	roletype = 1,
	name = "新春盛装",
},
[14] = {
	id = 14,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900006, num=1},
	roletype = 2,
	name = "新春盛装",
},
[15] = {
	id = 15,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900006, num=1},
	roletype = 3,
	name = "新春盛装",
},
[16] = {
	id = 16,
	pos = 2,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900004, num=1},
	roletype = 1,
	name = "清凉一夏",
},
[17] = {
	id = 17,
	pos = 2,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900004, num=1},
	roletype = 2,
	name = "清凉一夏",
},
[18] = {
	id = 18,
	pos = 2,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=900004, num=1},
	roletype = 3,
	name = "清凉一夏",
},
[19] = {
	id = 19,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	invalidtime = 604800,
	cost = {itemId=900007, num=1},
	roletype = 1,
	name = "城主金衣",
},
[20] = {
	id = 20,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	invalidtime = 604800,
	cost = {itemId=900007, num=1},
	roletype = 2,
	name = "城主金衣",
},
[21] = {
	id = 21,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	invalidtime = 604800,
	cost = {itemId=900007, num=1},
	roletype = 3,
	name = "城主金衣",
},
[22] = {
	id = 22,
	pos = 2,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	invalidtime = 604800,
	cost = {itemId=900008, num=1},
	roletype = 1,
	name = "城主神剑",
},
[23] = {
	id = 23,
	pos = 2,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	invalidtime = 604800,
	cost = {itemId=900008, num=1},
	roletype = 2,
	name = "城主神剑",
},
[24] = {
	id = 24,
	pos = 2,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	invalidtime = 604800,
	cost = {itemId=900008, num=1},
	roletype = 3,
	name = "城主神剑",
},
[25] = {
	id = 25,
	pos = 3,
	attr = {{type=2,value=29400},{type=4,value=2160},{type=5,value=540},{type=6,value=540}},
	cost = {itemId=900010, num=1},
	roletype = 1,
	name = "恶魔之翼",
},
[26] = {
	id = 26,
	pos = 3,
	attr = {{type=2,value=29400},{type=4,value=2160},{type=5,value=540},{type=6,value=540}},
	cost = {itemId=900010, num=1},
	roletype = 2,
	name = "恶魔之翼",
},
[27] = {
	id = 27,
	pos = 3,
	attr = {{type=2,value=29400},{type=4,value=2160},{type=5,value=540},{type=6,value=540}},
	cost = {itemId=900010, num=1},
	roletype = 3,
	name = "恶魔之翼",
},
[28] = {
	id = 28,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900011, num=1},
	roletype = 1,
	name = "蝶舞轻扬",
},
[29] = {
	id = 29,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900011, num=1},
	roletype = 2,
	name = "蝶舞轻扬",
},
[30] = {
	id = 30,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900011, num=1},
	roletype = 3,
	name = "蝶舞轻扬",
},
[31] = {
	id = 31,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900012, num=1},
	roletype = 1,
	name = "天使之翼",
},
[32] = {
	id = 32,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900012, num=1},
	roletype = 2,
	name = "天使之翼",
},
[33] = {
	id = 33,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900012, num=1},
	roletype = 3,
	name = "天使之翼",
},
[34] = {
	id = 34,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900013, num=1},
	roletype = 1,
	name = "机甲战士",
},
[35] = {
	id = 35,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900013, num=1},
	roletype = 2,
	name = "机甲战士",
},
[36] = {
	id = 36,
	pos = 3,
	attr = {{type=2,value=17100},{type=4,value=1240},{type=5,value=310},{type=6,value=310}},
	cost = {itemId=900013, num=1},
	roletype = 3,
	name = "机甲战士",
},
[37] = {
	id = 37,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=200327, num=1},
	roletype = 1,
	name = "圣诞树",
},
[38] = {
	id = 38,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=200327, num=1},
	roletype = 2,
	name = "圣诞树",
},
[39] = {
	id = 39,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=200327, num=1},
	roletype = 3,
	name = "圣诞树",
},
[40] = {
	id = 40,
	pos = 1,
	attr = {{type=2,value=62250},{type=4,value=3900},{type=5,value=975},{type=6,value=975}},
	invalidtime = 1209600,
	attr_precent = {{pos=2,pre=500}},
	cost = {itemId=204103, num=1},
	roletype = 1,
	name = "巅峰霸主",
},
[41] = {
	id = 41,
	pos = 1,
	attr = {{type=2,value=62250},{type=4,value=3900},{type=5,value=975},{type=6,value=975}},
	invalidtime = 1209600,
	attr_precent = {{pos=2,pre=500}},
	cost = {itemId=204103, num=1},
	roletype = 2,
	name = "巅峰霸主",
},
[42] = {
	id = 42,
	pos = 1,
	attr = {{type=2,value=62250},{type=4,value=3900},{type=5,value=975},{type=6,value=975}},
	invalidtime = 1209600,
	attr_precent = {{pos=2,pre=500}},
	cost = {itemId=204103, num=1},
	roletype = 3,
	name = "巅峰霸主",
},
[43] = {
	id = 43,
	pos = 1,
	attr = {{type=2,value=39252},{type=4,value=2700},{type=5,value=675},{type=6,value=675}},
	invalidtime = 1209600,
	attr_precent = {{pos=2,pre=300}},
	cost = {itemId=204104, num=1},
	roletype = 1,
	name = "巅峰枭雄",
},
[44] = {
	id = 44,
	pos = 1,
	attr = {{type=2,value=39252},{type=4,value=2700},{type=5,value=675},{type=6,value=675}},
	invalidtime = 1209600,
	attr_precent = {{pos=2,pre=300}},
	cost = {itemId=204104, num=1},
	roletype = 2,
	name = "巅峰枭雄",
},
[45] = {
	id = 45,
	pos = 1,
	attr = {{type=2,value=39252},{type=4,value=2700},{type=5,value=675},{type=6,value=675}},
	invalidtime = 1209600,
	attr_precent = {{pos=2,pre=300}},
	cost = {itemId=204104, num=1},
	roletype = 3,
	name = "巅峰枭雄",
},
[46] = {
	id = 46,
	pos = 3,
	attr = {{type=2,value=29400},{type=4,value=2160},{type=5,value=540},{type=6,value=540}},
	cost = {itemId=204107, num=1},
	roletype = 1,
	name = "赤血魔翼",
},
[47] = {
	id = 47,
	pos = 3,
	attr = {{type=2,value=29400},{type=4,value=2160},{type=5,value=540},{type=6,value=540}},
	cost = {itemId=204107, num=1},
	roletype = 2,
	name = "赤血魔翼",
},
[48] = {
	id = 48,
	pos = 3,
	attr = {{type=2,value=29400},{type=4,value=2160},{type=5,value=540},{type=6,value=540}},
	cost = {itemId=204107, num=1},
	roletype = 3,
	name = "赤血魔翼",
},
[49] = {
	id = 49,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204141,num=1},
	roletype = 1,
	name = "时空刺客",
},
[50] = {
	id = 50,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204141,num=1},
	roletype = 2,
	name = "时空刺客",
},
[51] = {
	id = 51,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204141,num=1},
	roletype = 3,
	name = "时空刺客",
},
[52] = {
	id = 52,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=204142,num=1},
	roletype = 1,
	name = "时空之刃",
},
[53] = {
	id = 53,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=204142,num=1},
	roletype = 2,
	name = "时空之刃",
},
[54] = {
	id = 54,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=204142,num=1},
	roletype = 3,
	name = "时空之刃",
},
[55] = {
	id = 55,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204164,num=1},
	roletype = 1,
	name = "青春岁月",
},
[56] = {
	id = 56,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204164,num=1},
	roletype = 2,
	name = "青春岁月",
},
[57] = {
	id = 57,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204164,num=1},
	roletype = 3,
	name = "青春岁月",
},
[58] = {
	id = 58,
	pos = 3,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	wing_attr_per = 1000,
	cost = {itemId=204166, num=1},
	roletype = 1,
	name = "龙翔九天",
},
[59] = {
	id = 59,
	pos = 3,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	wing_attr_per = 1000,
	cost = {itemId=204166, num=1},
	roletype = 2,
	name = "龙翔九天",
},
[60] = {
	id = 60,
	pos = 3,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	wing_attr_per = 1000,
	cost = {itemId=204166, num=1},
	roletype = 3,
	name = "龙翔九天",
},
[61] = {
	id = 61,
	pos = 3,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204167, num=1},
	roletype = 1,
	name = "梦幻金装",
},
[62] = {
	id = 62,
	pos = 3,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204167, num=1},
	roletype = 2,
	name = "梦幻金装",
},
[63] = {
	id = 63,
	pos = 3,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204167, num=1},
	roletype = 3,
	name = "梦幻金装",
},
[64] = {
	id = 64,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204165,num=1},
	roletype = 1,
	name = "玫瑰恋人",
},
[65] = {
	id = 65,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204165,num=1},
	roletype = 2,
	name = "玫瑰恋人",
},
[66] = {
	id = 66,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=204165,num=1},
	roletype = 3,
	name = "玫瑰恋人",
},
[67] = {
	id = 67,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=900023,num=1},
	roletype = 1,
	name = "冰糖葫芦",
},
[68] = {
	id = 68,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=900023,num=1},
	roletype = 2,
	name = "冰糖葫芦",
},
[69] = {
	id = 69,
	pos = 2,
	attr = {{type=2,value=37800},{type=4,value=2800},{type=5,value=700},{type=6,value=700}},
	cost = {itemId=900023,num=1},
	roletype = 3,
	name = "冰糖葫芦",
},
[70] = {
	id = 70,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=200341,num=1},
	roletype = 1,
	name = "军团指挥官",
},
[71] = {
	id = 71,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=200341,num=1},
	roletype = 2,
	name = "军团指挥官",
},
[72] = {
	id = 72,
	pos = 1,
	attr = {{type=2,value=56400},{type=4,value=4160},{type=5,value=1040},{type=6,value=1040}},
	cost = {itemId=200341,num=1},
	roletype = 3,
	name = "军团指挥官",
},
}