--Z-阵营战.xlsx Sheet1
CampBattleBaseConfig = {
	randCampTime = 300,
	scoreAward = {
 {score=10, award = {{type=0,id=0,count=1}, {type=0,id=1,count=1}}},
 {score=20, award = {{type=0,id=0,count=2}, {type=0,id=1,count=2}}},
 {score=30, award = {{type=0,id=0,count=3}, {type=0,id=1,count=3}}},
 {score=40, award = {{type=0,id=0,count=4}, {type=0,id=1,count=4}}},
},
	fbId = 50003,
	rankAward = {
 {minPos=1, award = {{type=0,id=0,count=1}, {type=0,id=1,count=1}}},
 {minPos=2, award = {{type=0,id=0,count=2}, {type=0,id=1,count=2}}},
 {minPos=3, award = {{type=0,id=0,count=3}, {type=0,id=1,count=3}}},
 {minPos=10, award = {{type=0,id=0,count=4}, {type=0,id=1,count=4}}},
},
	bornMoney = 10,
	position = {{1,1}, {2,2}, {3,3}},
	enterCD = 20,
	helperTime = 3,
	monId = 100,
	enterLevel = 70,
}