--Z-阵营战.xlsx 个人排名奖励
CampBattlePersonalRankAwardConfig={
[1] = {
	award = {{type=1,id=200005,count=10},{type=1,id=200318,count=45}},
	rank = 1,
},
[2] = {
	award = {{type=1,id=200005,count=9},{type=1,id=200318,count=40}},
	rank = 2,
},
[3] = {
	award = {{type=1,id=200005,count=8},{type=1,id=200318,count=35}},
	rank = 3,
},
[4] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 4,
},
[5] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 5,
},
[6] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 6,
},
[7] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 7,
},
[8] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 8,
},
[9] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 9,
},
[10] = {
	award = {{type=1,id=200005,count=7},{type=1,id=200318,count=30}},
	rank = 10,
},
[11] = {
	award = {{type=1,id=200005,count=6},{type=1,id=200318,count=25}},
	rank = 11,
},
}