--Z-阵营战.xlsx 常量配置
CampBattleConfig={
	lastTimes = 900,
	killMonsterIntegral = 10,
	beKilledIntegral = 2,
	assistsIntegral = 5,
	killPlayerIntegral = 15,
	openLevel = 70,
	personalRankAwardHead = "血战比奇城个人排名奖励",
	personalRankAwardContext = "你在本次血战比奇城中表现优异，个人积分排名第%d名。请在附件中领取你的奖励。",
	buyRebornCdCost = 100,
	rebornCd = 10,
	campIntegralRaningBoardSize = 50,
	integralRaningBoardSize = 50,
	integralRaningBoardInterval = 5,
	exitAndOfflineSwitchSceneCd = 10,
	advanceNotice = 162,
	openNotice = 163,
	birthPoint = {{x=80,y=60},{x=78,y=61},{x=78,y=63},{x=80,y=64},{x=83,y=64},{x=85,y=63},{x=84,y=61},{x=80,y=58},{x=82,y=58},{x=84,y=58},{x=78,y=59},{x=86,y=59},{x=76,y=60},{x=88,y=60},{x=74,y=61},{x=90,y=61},{x=73,y=63},{x=90,y=63},{x=75,y=64},{x=88,y=64},{x=77,y=65},{x=86,y=65},{x=79,y=66},{x=82,y=66},{x=84,y=66}},
	addIntegralSec = 10,
	addIntegral = 3,
	fbId = 50003,
	addAttribute = {{type=2,precent=3000},{type=4,precent=3000},{type=5,precent=3000},{type=6,precent=3000}},
	stopAiTimes = 297,
	assigncounts = 2,
	assignPer = 300,
	countTimes = 180,
	openDay = 2,
	assistsTIme = 10,
	firstBloodId = 153,
}