ArtifactsConfig={
[103] = {
	id = 103,
	activationItem = {id=200062,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200062,
	specialAttributes = {},
},
[201] = {
	id = 201,
	activationItem = {id=200063,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200063,
	specialAttributes = {{type=1,value=500}},
},
[101] = {
	id = 101,
	activationItem = {id=200060,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200060,
	specialAttributes = {},
},
[202] = {
	id = 202,
	activationItem = {id=200064,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200064,
	specialAttributes = {{type=2,value=500}},
},
[203] = {
	id = 203,
	activationItem = {id=200065,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200065,
	specialAttributes = {{type=1,value=500}},
},
[102] = {
	id = 102,
	activationItem = {id=200061,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200061,
	specialAttributes = {},
},
[302] = {
	id = 302,
	activationItem = {id=200067,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200067,
	specialAttributes = {},
},
[303] = {
	id = 303,
	activationItem = {id=200068,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200068,
	specialAttributes = {},
},
[301] = {
	id = 301,
	activationItem = {id=200066,count=1},
	activationAchievementIds = {},
	activationBroadcast = 8,
	artifactsName = LAN.ITEM.n200066,
	specialAttributes = {},
},
}