--C-采矿.xlsx 采矿基本配置
CaiKuangConfig={
	openLevel = 70,
	openServerDay = 0,
	maxRobCount = 5,
	maxOpenKuangCount = 3,
	maxBeRobCount = 3,
	refreshCost = {0,30,50,70,90,100},
	noticeId = 56,
	noticeLevel = 4,
	recordMaxCount = 50,
	fubenId = 50000,
	revengeNoticeId = 57,
	quickCost = 30,
	nextPos = {x=2,y=11},
	maxKuangCount = 10,
	backPos = {x=9,y=11},
	doubleCost = 1000,
	needItem = {id=200936,count=1},
}