--C-采矿.xlsx 矿源
KuangYuanConfig={
[1] = {
	id = 1,
	name = "裸体矿工",
	level = 1,
	rate = 8000,
	uprate = 7000,
	rewards = {{type=1,id=200167,count=100},{type=1,id=200303,count=10}},
	robPrecent = 10,
	revengePrecent = 20,
	needTime = 1800,
	baseTime = 3,
},
[2] = {
	id = 2,
	name = "布衣矿工",
	level = 2,
	rate = 2000,
	uprate = 2500,
	rewards = {{type=1,id=200167,count=200},{type=1,id=200303,count=20}},
	robPrecent = 10,
	revengePrecent = 20,
	needTime = 1800,
	baseTime = 6,
},
[3] = {
	id = 3,
	name = "重盔矿工",
	level = 3,
	rate = 0,
	uprate = 1200,
	rewards = {{type=1,id=200167,count=400},{type=1,id=200303,count=40}},
	robPrecent = 10,
	revengePrecent = 20,
	needTime = 1800,
	baseTime = 12,
},
[4] = {
	id = 4,
	name = "天魔矿工",
	level = 4,
	rate = 0,
	uprate = 0,
	rewardItem = {{type=1,id=201000,count=1}},
	rewards = {{type=1,id=200167,count=800},{type=1,id=200303,count=40}},
	robPrecent = 10,
	revengePrecent = 20,
	needTime = 1800,
},
}