--C-传世装备配置.xlsx 激活
HeirloomEquipFireConfig={
[1] = {
	slot = 1,
	expend = {id=200142,count=1},
},
[2] = {
	slot = 2,
	expend = {id=200143,count=1},
},
[3] = {
	slot = 3,
	expend = {id=200144,count=1},
},
[4] = {
	slot = 4,
	expend = {id=200145,count=1},
},
[5] = {
	slot = 5,
	expend = {id=200146,count=1},
},
[6] = {
	slot = 6,
	expend = {id=200147,count=1},
},
[7] = {
	slot = 7,
	expend = {id=200148,count=1},
},
[8] = {
	slot = 8,
	expend = {id=200149,count=1},
},
}