--C-传世装备配置.xlsx 合成
HeirloomEquipItemConfig={
[1] = {
	pos = 1,
	item = 200142,
	expend = {id=200142,count=1},
},
[2] = {
	pos = 2,
	item = 200143,
	expend = {id=200301,count=250},
},
[3] = {
	pos = 3,
	item = 200144,
	expend = {id=200144,count=1},
},
[4] = {
	pos = 4,
	item = 200145,
	expend = {id=200301,count=250},
},
[5] = {
	pos = 5,
	item = 200146,
	expend = {id=200301,count=250},
},
[6] = {
	pos = 6,
	item = 200147,
	expend = {id=200301,count=250},
},
[7] = {
	pos = 7,
	item = 200148,
	expend = {id=200301,count=250},
},
[8] = {
	pos = 8,
	item = 200149,
	expend = {id=200301,count=250},
},
}