--C-传世装备配置.xlsx 齐鸣
HeirloomEquipSetConfig={
[1] = {
	lv = 1,
	attr = {{type=4,value=15000},{type=5,value=3750},{type=6,value=3750},{type=2,value=202500}},
	name = "星☆传世套装",
	nid = 74,
},
[2] = {
	lv = 2,
	attr = {{type=4,value=30000},{type=5,value=7500},{type=6,value=7500},{type=2,value=405000},{type=21,value=500},{type=22,value=500},{type=20,value=500}},
	name = "月￠传世套装",
	nid = 75,
},
[3] = {
	lv = 3,
	attr = {{type=4,value=45000},{type=5,value=11250},{type=6,value=11250},{type=2,value=607500},{type=21,value=1000},{type=22,value=1000},{type=20,value=1000}},
	name = "曜¤传世套装",
	nid = 76,
},
[4] = {
	lv = 4,
	attr = {{type=4,value=60000},{type=5,value=15000},{type=6,value=15000},{type=2,value=810000},{type=21,value=1500},{type=22,value=1500},{type=20,value=1500}},
	name = "圣§传世套装",
	nid = 77,
},
}