--C-传世装备配置.xlsx 基础表
HeirloomEquipConfig={
[1] = {
	[1] = {
		slot = 1,
		lv = 1,
		expend = {id=200301,count=1000},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000},{type=32,value=2000},{type=33,value=2000},{type=34,value=5000}},
		attr_add = 5,
	},
	[2] = {
		slot = 1,
		lv = 2,
		expend = {id=200301,count=3000},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000},{type=32,value=2000},{type=33,value=4000},{type=34,value=5000}},
		attr_add = 15,
	},
	[3] = {
		slot = 1,
		lv = 3,
		expend = {id=200301,count=10000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000},{type=32,value=2000},{type=33,value=6000},{type=34,value=5000}},
		attr_add = 25,
	},
	[4] = {
		slot = 1,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000},{type=32,value=2000},{type=33,value=8000},{type=34,value=5000}},
		attr_add = 40,
	},
},
[2] = {
	[1] = {
		slot = 2,
		lv = 1,
		expend = {id=200301,count=500},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000}},
		attr_add = 5,
	},
	[2] = {
		slot = 2,
		lv = 2,
		expend = {id=200301,count=1500},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000}},
		attr_add = 15,
	},
	[3] = {
		slot = 2,
		lv = 3,
		expend = {id=200301,count=5000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000}},
		attr_add = 25,
	},
	[4] = {
		slot = 2,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000}},
		attr_add = 40,
	},
},
[3] = {
	[1] = {
		slot = 3,
		lv = 1,
		expend = {id=200301,count=800},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000},{type=35,value=1500},{type=36,value=5000}},
		attr_add = 5,
	},
	[2] = {
		slot = 3,
		lv = 2,
		expend = {id=200301,count=2400},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000},{type=35,value=1500},{type=36,value=5000}},
		attr_add = 15,
	},
	[3] = {
		slot = 3,
		lv = 3,
		expend = {id=200301,count=8000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000},{type=35,value=1500},{type=36,value=5000}},
		attr_add = 25,
	},
	[4] = {
		slot = 3,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000},{type=35,value=1500},{type=36,value=5000}},
		attr_add = 40,
	},
},
[4] = {
	[1] = {
		slot = 4,
		lv = 1,
		expend = {id=200301,count=500},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000}},
		attr_add = 5,
	},
	[2] = {
		slot = 4,
		lv = 2,
		expend = {id=200301,count=1500},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000}},
		attr_add = 15,
	},
	[3] = {
		slot = 4,
		lv = 3,
		expend = {id=200301,count=5000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000}},
		attr_add = 25,
	},
	[4] = {
		slot = 4,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000}},
		attr_add = 40,
	},
},
[5] = {
	[1] = {
		slot = 5,
		lv = 1,
		expend = {id=200301,count=500},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000}},
		attr_add = 5,
	},
	[2] = {
		slot = 5,
		lv = 2,
		expend = {id=200301,count=1500},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000}},
		attr_add = 15,
	},
	[3] = {
		slot = 5,
		lv = 3,
		expend = {id=200301,count=5000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000}},
		attr_add = 25,
	},
	[4] = {
		slot = 5,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000}},
		attr_add = 40,
	},
},
[6] = {
	[1] = {
		slot = 6,
		lv = 1,
		expend = {id=200301,count=500},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000}},
		attr_add = 5,
	},
	[2] = {
		slot = 6,
		lv = 2,
		expend = {id=200301,count=1500},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000}},
		attr_add = 15,
	},
	[3] = {
		slot = 6,
		lv = 3,
		expend = {id=200301,count=5000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000}},
		attr_add = 25,
	},
	[4] = {
		slot = 6,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000}},
		attr_add = 40,
	},
},
[7] = {
	[1] = {
		slot = 7,
		lv = 1,
		expend = {id=200301,count=500},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000}},
		attr_add = 5,
	},
	[2] = {
		slot = 7,
		lv = 2,
		expend = {id=200301,count=1500},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000}},
		attr_add = 15,
	},
	[3] = {
		slot = 7,
		lv = 3,
		expend = {id=200301,count=5000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000}},
		attr_add = 25,
	},
	[4] = {
		slot = 7,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000}},
		attr_add = 40,
	},
},
[8] = {
	[1] = {
		slot = 8,
		lv = 1,
		expend = {id=200301,count=500},
		attr = {{type=4,value=5400},{type=5,value=1500},{type=6,value=1500},{type=2,value=64800},{type=26,value=16200},{type=17,value=3000}},
		attr_add = 5,
	},
	[2] = {
		slot = 8,
		lv = 2,
		expend = {id=200301,count=1500},
		attr = {{type=4,value=10800},{type=5,value=3000},{type=6,value=3000},{type=2,value=129600},{type=26,value=32400},{type=17,value=6000}},
		attr_add = 15,
	},
	[3] = {
		slot = 8,
		lv = 3,
		expend = {id=200301,count=5000},
		attr = {{type=4,value=16200},{type=5,value=4500},{type=6,value=4500},{type=2,value=194400},{type=26,value=48600},{type=17,value=9000}},
		attr_add = 25,
	},
	[4] = {
		slot = 8,
		lv = 4,
		attr = {{type=4,value=21600},{type=5,value=6000},{type=6,value=6000},{type=2,value=259200},{type=26,value=64800},{type=17,value=12000}},
		attr_add = 40,
	},
},
}