--S-世界BOSS.xlsx 鼓舞属性配置
NewWorldBossAttrConfig = {
[1] = {
	type = 1,
	count = 10000,
	attr = {{type=4, value=10000},{type=12, value=200}},
},
[2] = {
	type = 1,
	count = 10000,
	attr = {{type=4, value=20000},{type=12, value=400}},
},
[3] = {
	type = 1,
	count = 10000,
	attr = {{type=4, value=30000},{type=12, value=600}},
},
[4] = {
	type = 1,
	count = 10000,
	attr = {{type=4, value=40000},{type=12, value=800}},
},
[5] = {
	type = 1,
	count = 10000,
	attr = {{type=4, value=50000},{type=12, value=1000}},
},
[6] = {
	type = 2,
	count = 50,
	attr = {{type=4, value=60000},{type=12, value=2000}},
},
[7] = {
	type = 2,
	count = 100,
	attr = {{type=4, value=70000},{type=12, value=3000}},
},
[8] = {
	type = 2,
	count = 150,
	attr = {{type=4, value=80000},{type=12, value=4000}},
},
[9] = {
	type = 2,
	count = 200,
	attr = {{type=4, value=90000},{type=12, value=5000}},
},
[10] = {
	type = 2,
	count = 250,
	attr = {{type=4, value=100000},{type=12, value=6000}},
},
}