--S-世界BOSS.xlsx 等级配置
NewWorldBossLvConfig = {
[1] = {
	bossId = 82000,
},
[2] = {
	bossId = 82001,
},
[3] = {
	bossId = 82002,
},
[4] = {
	bossId = 82003,
},
[5] = {
	bossId = 82004,
},
[6] = {
	bossId = 82005,
},
[7] = {
	bossId = 82006,
},
[8] = {
	bossId = 82007,
},
[9] = {
	bossId = 82008,
},
[10] = {
	bossId = 82009,
},
[11] = {
	bossId = 82010,
},
[12] = {
	bossId = 82011,
},
[13] = {
	bossId = 82012,
},
[14] = {
	bossId = 82013,
},
[15] = {
	bossId = 82014,
},
[16] = {
	bossId = 82015,
},
[17] = {
	bossId = 82016,
},
[18] = {
	bossId = 82017,
},
[19] = {
	bossId = 82018,
},
[20] = {
	bossId = 82019,
},
[21] = {
	bossId = 82020,
},
[22] = {
	bossId = 82021,
},
[23] = {
	bossId = 82022,
},
[24] = {
	bossId = 82023,
},
[25] = {
	bossId = 82024,
},
[26] = {
	bossId = 82025,
},
[27] = {
	bossId = 82026,
},
[28] = {
	bossId = 82027,
},
[29] = {
	bossId = 82028,
},
[30] = {
	bossId = 82029,
},
[31] = {
	bossId = 82030,
},
[32] = {
	bossId = 82031,
},
[33] = {
	bossId = 82032,
},
[34] = {
	bossId = 82033,
},
[35] = {
	bossId = 82034,
},
[36] = {
	bossId = 82035,
},
[37] = {
	bossId = 82036,
},
[38] = {
	bossId = 82037,
},
[39] = {
	bossId = 82038,
},
[40] = {
	bossId = 82039,
},
[41] = {
	bossId = 82040,
},
[42] = {
	bossId = 82041,
},
[43] = {
	bossId = 82042,
},
[44] = {
	bossId = 82043,
},
[45] = {
	bossId = 82044,
},
[46] = {
	bossId = 82045,
},
[47] = {
	bossId = 82046,
},
[48] = {
	bossId = 82047,
},
[49] = {
	bossId = 82048,
},
[50] = {
	bossId = 82049,
},
[51] = {
	bossId = 82050,
},
[52] = {
	bossId = 82051,
},
[53] = {
	bossId = 82052,
},
[54] = {
	bossId = 82053,
},
[55] = {
	bossId = 82054,
},
[56] = {
	bossId = 82055,
},
[57] = {
	bossId = 82056,
},
[58] = {
	bossId = 82057,
},
[59] = {
	bossId = 82058,
},
[60] = {
	bossId = 82059,
},
[61] = {
	bossId = 82060,
},
[62] = {
	bossId = 82061,
},
[63] = {
	bossId = 82062,
},
[64] = {
	bossId = 82063,
},
[65] = {
	bossId = 82064,
},
[66] = {
	bossId = 82065,
},
[67] = {
	bossId = 82066,
},
[68] = {
	bossId = 82067,
},
[69] = {
	bossId = 82068,
},
[70] = {
	bossId = 82069,
},
[71] = {
	bossId = 82070,
},
[72] = {
	bossId = 82071,
},
[73] = {
	bossId = 82072,
},
[74] = {
	bossId = 82073,
},
[75] = {
	bossId = 82074,
},
[76] = {
	bossId = 82075,
},
[77] = {
	bossId = 82076,
},
[78] = {
	bossId = 82077,
},
[79] = {
	bossId = 82078,
},
[80] = {
	bossId = 82079,
},
[81] = {
	bossId = 82080,
},
[82] = {
	bossId = 82081,
},
[83] = {
	bossId = 82082,
},
[84] = {
	bossId = 82083,
},
[85] = {
	bossId = 82084,
},
[86] = {
	bossId = 82085,
},
[87] = {
	bossId = 82086,
},
[88] = {
	bossId = 82087,
},
[89] = {
	bossId = 82088,
},
[90] = {
	bossId = 82089,
},
[91] = {
	bossId = 82090,
},
[92] = {
	bossId = 82091,
},
[93] = {
	bossId = 82092,
},
[94] = {
	bossId = 82093,
},
[95] = {
	bossId = 82094,
},
[96] = {
	bossId = 82095,
},
[97] = {
	bossId = 82096,
},
[98] = {
	bossId = 82097,
},
[99] = {
	bossId = 82098,
},
[100] = {
	bossId = 82099,
},
}