--S-世界BOSS.xlsx 基础配置
NewWorldBossBaseConfig={
	fbId = 50001,
	bossTime = 600,
	lvUpTime = {{t=120,lv=2},{t=300,lv=1},{t=580,lv=0},{t=600,lv=-1}},
	rankMailHead = "世界BOSS前三名奖励",
	rankMailContent = "恭喜你在世界BOSS活动中达到前三名，获得了相应等级的至尊金箱。",
	lastMailHead = "世界BOSS最后一击奖励",
	lastMailContent = "恭喜你在世界BOSS活动中进行了最后一击，获得了相应等级的至尊金箱，并获得了“屠龙勇士”的称号。",
	joinMailHead = "世界BOSS参与奖励",
	joinMailContent = "恭喜你在世界BOSS活动中获得了相应等级的至尊银箱。",
	redMailHead = "世界BOSS神装奖励",
	redMailContent = "恭喜你在世界BOSS活动中，通过抽奖获得了极其珍贵神装奖励！",
	perOpenNotice = 127,
	enterPos = {{posX=2,posY=21},{posX=9,posY=21},{posX=20,posY=19},{posX=27,posY=13},{posX=27,posY=10},{posX=23,posY=6},{posX=16,posY=2},{posX=3,posY=13}},
	rebornCd = 5,
	clearCdCost = 90,
	lastDrop = {1658001,1658002,1658003,1658004,1658005,1658006,1658007,1658008,1658009,1658010,1658011,1658012,1658013},
	lastTitle = 1,
	joinRank = 3,
	rankCount = 10,
	scoreParm = {a=0.01,b=0.7,c=30},
	openLv = 55,
	openSevDay = 1,
}