--X-血玉配置--删除.xlsx 血玉阶数
XueyuStageConfig={
[0] = {
	stage = 0,
	icon = "xy_12",
	normalCost = 1,
	normalBaseExp = 20,
	attr = {{type=2,value=0}},
},
[1] = {
	stage = 1,
	icon = "xy_12",
	normalCost = 1,
	normalBaseExp = 20,
	attr = {{type=2,value=8750}},
},
[2] = {
	stage = 2,
	icon = "xy_12",
	normalCost = 1,
	normalBaseExp = 20,
	attr = {{type=2,value=15750}},
},
[3] = {
	stage = 3,
	icon = "xy_12",
	normalCost = 2,
	normalBaseExp = 20,
	attr = {{type=2,value=26227}},
},
[4] = {
	stage = 4,
	icon = "xy_12",
	normalCost = 2,
	normalBaseExp = 20,
	attr = {{type=2,value=38597}},
},
[5] = {
	stage = 5,
	icon = "xy_12",
	normalCost = 3,
	normalBaseExp = 20,
	attr = {{type=2,value=52383}},
},
[6] = {
	stage = 6,
	icon = "xy_12",
	normalCost = 3,
	normalBaseExp = 20,
	attr = {{type=2,value=67329}},
},
[7] = {
	stage = 7,
	icon = "xy_12",
	normalCost = 4,
	normalBaseExp = 20,
	attr = {{type=2,value=83267}},
},
[8] = {
	stage = 8,
	icon = "xy_12",
	normalCost = 4,
	normalBaseExp = 20,
	attr = {{type=2,value=100083}},
},
[9] = {
	stage = 9,
	icon = "xy_12",
	normalCost = 5,
	normalBaseExp = 20,
	attr = {{type=2,value=117687}},
},
[10] = {
	stage = 10,
	icon = "xy_12",
	normalCost = 5,
	normalBaseExp = 20,
	attr = {{type=2,value=136012}},
},
[11] = {
	stage = 11,
	icon = "xy_12",
	normalCost = 6,
	normalBaseExp = 20,
	attr = {{type=2,value=155001}},
},
[12] = {
	stage = 12,
	icon = "xy_12",
	normalCost = 6,
	normalBaseExp = 20,
	attr = {{type=2,value=174608}},
},
[13] = {
	stage = 13,
	icon = "xy_12",
	normalCost = 7,
	normalBaseExp = 20,
	attr = {{type=2,value=194795}},
},
[14] = {
	stage = 14,
	icon = "xy_12",
	normalCost = 7,
	normalBaseExp = 20,
	attr = {{type=2,value=215527}},
},
[15] = {
	stage = 15,
	icon = "xy_12",
	normalCost = 8,
	normalBaseExp = 20,
	attr = {{type=2,value=236777}},
},
[16] = {
	stage = 16,
	icon = "xy_12",
	normalCost = 8,
	normalBaseExp = 20,
	attr = {{type=2,value=258519}},
},
[17] = {
	stage = 17,
	icon = "xy_12",
	normalCost = 9,
	normalBaseExp = 20,
	attr = {{type=2,value=280730}},
},
[18] = {
	stage = 18,
	icon = "xy_12",
	normalCost = 9,
	normalBaseExp = 20,
	attr = {{type=2,value=303389}},
},
[19] = {
	stage = 19,
	icon = "xy_12",
	normalCost = 10,
	normalBaseExp = 20,
	attr = {{type=2,value=326480}},
},
[20] = {
	stage = 20,
	icon = "xy_12",
	normalCost = 10,
	normalBaseExp = 20,
	attr = {{type=2,value=349984}},
},
}