--W-王者争霸.xlsx 排名奖励
TianTiRankAwardConfig={
[1] = {
	rank = 1,
	award = {{type=1,id=220005,count=1}},
},
[2] = {
	rank = 2,
	award = {{type=1,id=220006,count=1}},
},
[3] = {
	rank = 3,
	award = {{type=1,id=220007,count=1}},
},
[4] = {
	rank = 4,
	award = {{type=1,id=220008,count=1}},
},
[5] = {
	rank = 5,
	award = {{type=1,id=220009,count=1}},
},
}