--W-王者争霸.xlsx 常量配置
TianTiConstConfig={
	openLevel = 80,
	challengesCountCd = 7200,
	buyChallengesCountYuanBao = 500,
	maxBuyChallengesCount = 12,
	maxRestoreChallengesCount = 6,
	diamond = {level = 4,id = 0},
	rankMailHead = "王者争霸钻石排名奖励",
	rankMailContext = "你在王者争霸排名第%d，可喜可贺",
	fuBen = {fuBen = 26001,self_x = 14,self_y = 13 ,target_x = 22,target_y = 9},
	maxRankCount = 100,
	showRankCount = 20,
	closeBroadcastNotice = {32,33},
	beginLevel = 1,
	awardNotice = 38,
	beginShowDan = 5,
	danMailHead = "王者争霸段位奖励",
	openBroadcastNotice = {30,31},
	danMailContext = "以下为您本周王者争霸的奖励，请注意查收",
}