--W-王者争霸.xlsx 机器人表
TianTiRobotConfig={
[1] = {
	[0] = {
		id = 1,
		roleId = 0,
		name = LAN.CHAR.laddername1,
		level = 80,
		job = 1,
		sex = 0,
		clothesId = 121009,
		weaponId = 101009,
		wingOpenState = 1,
		wingLevel = 4,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {11001,12001,13001,14001,15001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
	[1] = {
		id = 1,
		roleId = 1,
		name = LAN.CHAR.laddername1,
		level = 80,
		job = 2,
		sex = 0,
		clothesId = 122009,
		weaponId = 102009,
		wingOpenState = 1,
		wingLevel = 3,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {21001,22001,23001,24001,25001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
},
[2] = {
	[0] = {
		id = 2,
		roleId = 0,
		name = LAN.CHAR.laddername2,
		level = 80,
		job = 1,
		sex = 0,
		clothesId = 121009,
		weaponId = 101009,
		wingOpenState = 1,
		wingLevel = 4,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {11001,12001,13001,14001,15001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
	[1] = {
		id = 2,
		roleId = 1,
		name = LAN.CHAR.laddername2,
		level = 80,
		job = 2,
		sex = 1,
		clothesId = 122009,
		weaponId = 102009,
		wingOpenState = 1,
		wingLevel = 3,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {21001,22001,23001,24001,25001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
},
[3] = {
	[0] = {
		id = 3,
		roleId = 0,
		name = LAN.CHAR.laddername3,
		level = 80,
		job = 1,
		sex = 0,
		clothesId = 121009,
		weaponId = 101009,
		wingOpenState = 1,
		wingLevel = 5,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {11001,12001,13001,14001,15001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
	[1] = {
		id = 3,
		roleId = 1,
		name = LAN.CHAR.laddername3,
		level = 80,
		job = 3,
		sex = 0,
		clothesId = 123009,
		weaponId = 103009,
		wingOpenState = 1,
		wingLevel = 4,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {31001,32001,33001,34001,35001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
},
[4] = {
	[0] = {
		id = 4,
		roleId = 0,
		name = LAN.CHAR.laddername4,
		level = 80,
		job = 1,
		sex = 0,
		clothesId = 121009,
		weaponId = 101009,
		wingOpenState = 1,
		wingLevel = 4,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {11001,12001,13001,14001,15001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
	[1] = {
		id = 4,
		roleId = 1,
		name = LAN.CHAR.laddername4,
		level = 80,
		job = 3,
		sex = 1,
		clothesId = 123009,
		weaponId = 103009,
		wingOpenState = 1,
		wingLevel = 3,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {31001,32001,33001,34001,35001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
},
[5] = {
	[0] = {
		id = 5,
		roleId = 0,
		name = LAN.CHAR.laddername5,
		level = 80,
		job = 2,
		sex = 0,
		clothesId = 122009,
		weaponId = 102009,
		wingOpenState = 1,
		wingLevel = 4,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {21001,22001,23001,24001,25001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
	[1] = {
		id = 5,
		roleId = 1,
		name = LAN.CHAR.laddername5,
		level = 80,
		job = 3,
		sex = 0,
		clothesId = 123009,
		weaponId = 103009,
		wingOpenState = 1,
		wingLevel = 3,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {31001,32001,33001,34001,35001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
},
[6] = {
	[0] = {
		id = 6,
		roleId = 0,
		name = LAN.CHAR.laddername6,
		level = 80,
		job = 2,
		sex = 0,
		clothesId = 122009,
		weaponId = 102009,
		wingOpenState = 1,
		wingLevel = 5,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {21001,22001,23001,24001,25001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
	[1] = {
		id = 6,
		roleId = 1,
		name = LAN.CHAR.laddername6,
		level = 80,
		job = 3,
		sex = 1,
		clothesId = 123009,
		weaponId = 103009,
		wingOpenState = 1,
		wingLevel = 4,
		attrs = {{type =2,value =247270},{type =3,value =50000},{type =4,value =49450},{type =5,value =24725},{type =6,value =24725},{type =7,value =0},{type =8,value=0},{type =9,value =3750},{type =10,value =1000}},
		skills = {31001,32001,33001,34001,35001},
		TianTiLevel = 1,
		TianTiDan = 5,
	},
},
}