--W-王者争霸.xlsx 段位表
TianTiDanConfig={
[1] = {
	[0] = {
		level = 1,
		id = 0,
		showStar = 0,
		showDan = 5,
		isDropStar = 0,
		winAward = 440001,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[1] = {
		level = 1,
		id = 1,
		showStar = 1,
		showDan = 5,
		isDropStar = 0,
		winAward = 440001,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[2] = {
		level = 1,
		id = 2,
		showStar = 2,
		showDan = 5,
		isDropStar = 0,
		winAward = 440001,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[3] = {
		level = 1,
		id = 3,
		showStar = 0,
		showDan = 4,
		isDropStar = 0,
		winAward = 440002,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[4] = {
		level = 1,
		id = 4,
		showStar = 1,
		showDan = 4,
		isDropStar = 0,
		winAward = 440002,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[5] = {
		level = 1,
		id = 5,
		showStar = 2,
		showDan = 4,
		isDropStar = 0,
		winAward = 440002,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[6] = {
		level = 1,
		id = 6,
		showStar = 0,
		showDan = 3,
		isDropStar = 0,
		winAward = 440003,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[7] = {
		level = 1,
		id = 7,
		showStar = 1,
		showDan = 3,
		isDropStar = 0,
		winAward = 440003,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[8] = {
		level = 1,
		id = 8,
		showStar = 2,
		showDan = 3,
		isDropStar = 0,
		winAward = 440003,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[9] = {
		level = 1,
		id = 9,
		showStar = 0,
		showDan = 2,
		isDropStar = 0,
		winAward = 440004,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[10] = {
		level = 1,
		id = 10,
		showStar = 1,
		showDan = 2,
		isDropStar = 0,
		winAward = 440004,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[11] = {
		level = 1,
		id = 11,
		showStar = 2,
		showDan = 2,
		isDropStar = 0,
		winAward = 440004,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[12] = {
		level = 1,
		id = 12,
		showStar = 0,
		showDan = 1,
		isDropStar = 0,
		winAward = 440005,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[13] = {
		level = 1,
		id = 13,
		showStar = 1,
		showDan = 1,
		isDropStar = 0,
		winAward = 440005,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
	[14] = {
		level = 1,
		id = 14,
		showStar = 2,
		showDan = 1,
		isDropStar = 0,
		winAward = 440005,
		danAward = {{type=1,id=220001,count=1}},
		notice = 0,
		MatchingRobot = 1,
		WinningStreak = 2,
	},
},
[2] = {
	[0] = {
		level = 2,
		id = 0,
		showStar = 0,
		showDan = 5,
		isDropStar = 0,
		winAward = 440006,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[1] = {
		level = 2,
		id = 1,
		showStar = 1,
		showDan = 5,
		isDropStar = 0,
		winAward = 440006,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[2] = {
		level = 2,
		id = 2,
		showStar = 2,
		showDan = 5,
		isDropStar = 0,
		winAward = 440006,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[3] = {
		level = 2,
		id = 3,
		showStar = 3,
		showDan = 5,
		isDropStar = 0,
		winAward = 440006,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[4] = {
		level = 2,
		id = 4,
		showStar = 0,
		showDan = 4,
		isDropStar = 0,
		winAward = 440007,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[5] = {
		level = 2,
		id = 5,
		showStar = 1,
		showDan = 4,
		isDropStar = 0,
		winAward = 440007,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[6] = {
		level = 2,
		id = 6,
		showStar = 2,
		showDan = 4,
		isDropStar = 0,
		winAward = 440007,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[7] = {
		level = 2,
		id = 7,
		showStar = 3,
		showDan = 4,
		isDropStar = 0,
		winAward = 440007,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[8] = {
		level = 2,
		id = 8,
		showStar = 0,
		showDan = 3,
		isDropStar = 0,
		winAward = 440008,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[9] = {
		level = 2,
		id = 9,
		showStar = 1,
		showDan = 3,
		isDropStar = 0,
		winAward = 440008,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[10] = {
		level = 2,
		id = 10,
		showStar = 2,
		showDan = 3,
		isDropStar = 0,
		winAward = 440008,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[11] = {
		level = 2,
		id = 11,
		showStar = 3,
		showDan = 3,
		isDropStar = 0,
		winAward = 440008,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[12] = {
		level = 2,
		id = 12,
		showStar = 0,
		showDan = 2,
		isDropStar = 0,
		winAward = 440009,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[13] = {
		level = 2,
		id = 13,
		showStar = 1,
		showDan = 2,
		isDropStar = 0,
		winAward = 440009,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[14] = {
		level = 2,
		id = 14,
		showStar = 2,
		showDan = 2,
		isDropStar = 0,
		winAward = 440009,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[15] = {
		level = 2,
		id = 15,
		showStar = 3,
		showDan = 2,
		isDropStar = 0,
		winAward = 440009,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[16] = {
		level = 2,
		id = 16,
		showStar = 0,
		showDan = 1,
		isDropStar = 0,
		winAward = 440010,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[17] = {
		level = 2,
		id = 17,
		showStar = 1,
		showDan = 1,
		isDropStar = 0,
		winAward = 440010,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[18] = {
		level = 2,
		id = 18,
		showStar = 2,
		showDan = 1,
		isDropStar = 0,
		winAward = 440010,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
	[19] = {
		level = 2,
		id = 19,
		showStar = 3,
		showDan = 1,
		isDropStar = 0,
		winAward = 440010,
		danAward = {{type=1,id=220002,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 2,
	},
},
[3] = {
	[0] = {
		level = 3,
		id = 0,
		showStar = 0,
		showDan = 5,
		isDropStar = 0,
		winAward = 440011,
		danAward = {{type=1,id=220003,count=1}},
		notice = 34,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[1] = {
		level = 3,
		id = 1,
		showStar = 1,
		showDan = 5,
		isDropStar = 1,
		winAward = 440011,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[2] = {
		level = 3,
		id = 2,
		showStar = 2,
		showDan = 5,
		isDropStar = 1,
		winAward = 440011,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[3] = {
		level = 3,
		id = 3,
		showStar = 3,
		showDan = 5,
		isDropStar = 1,
		winAward = 440011,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[4] = {
		level = 3,
		id = 4,
		showStar = 4,
		showDan = 5,
		isDropStar = 1,
		winAward = 440011,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[5] = {
		level = 3,
		id = 5,
		showStar = 0,
		showDan = 4,
		isDropStar = 1,
		winAward = 440012,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[6] = {
		level = 3,
		id = 6,
		showStar = 1,
		showDan = 4,
		isDropStar = 1,
		winAward = 440012,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[7] = {
		level = 3,
		id = 7,
		showStar = 2,
		showDan = 4,
		isDropStar = 1,
		winAward = 440012,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[8] = {
		level = 3,
		id = 8,
		showStar = 3,
		showDan = 4,
		isDropStar = 1,
		winAward = 440012,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[9] = {
		level = 3,
		id = 9,
		showStar = 4,
		showDan = 4,
		isDropStar = 1,
		winAward = 440012,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[10] = {
		level = 3,
		id = 10,
		showStar = 0,
		showDan = 3,
		isDropStar = 1,
		winAward = 440013,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[11] = {
		level = 3,
		id = 11,
		showStar = 1,
		showDan = 3,
		isDropStar = 1,
		winAward = 440013,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[12] = {
		level = 3,
		id = 12,
		showStar = 2,
		showDan = 3,
		isDropStar = 1,
		winAward = 440013,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[13] = {
		level = 3,
		id = 13,
		showStar = 3,
		showDan = 3,
		isDropStar = 1,
		winAward = 440013,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[14] = {
		level = 3,
		id = 14,
		showStar = 4,
		showDan = 3,
		isDropStar = 1,
		winAward = 440013,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[15] = {
		level = 3,
		id = 15,
		showStar = 0,
		showDan = 2,
		isDropStar = 1,
		winAward = 440014,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[16] = {
		level = 3,
		id = 16,
		showStar = 1,
		showDan = 2,
		isDropStar = 1,
		winAward = 440014,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[17] = {
		level = 3,
		id = 17,
		showStar = 2,
		showDan = 2,
		isDropStar = 1,
		winAward = 440014,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[18] = {
		level = 3,
		id = 18,
		showStar = 3,
		showDan = 2,
		isDropStar = 1,
		winAward = 440014,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[19] = {
		level = 3,
		id = 19,
		showStar = 4,
		showDan = 2,
		isDropStar = 1,
		winAward = 440014,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[20] = {
		level = 3,
		id = 20,
		showStar = 0,
		showDan = 1,
		isDropStar = 1,
		winAward = 440015,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[21] = {
		level = 3,
		id = 21,
		showStar = 1,
		showDan = 1,
		isDropStar = 1,
		winAward = 440015,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[22] = {
		level = 3,
		id = 22,
		showStar = 2,
		showDan = 1,
		isDropStar = 1,
		winAward = 440015,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[23] = {
		level = 3,
		id = 23,
		showStar = 3,
		showDan = 1,
		isDropStar = 1,
		winAward = 440015,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
	[24] = {
		level = 3,
		id = 24,
		showStar = 4,
		showDan = 1,
		isDropStar = 1,
		winAward = 440015,
		danAward = {{type=1,id=220003,count=1}},
		notice = 0,
		MatchingRobot = 0,
		WinningStreak = 1,
	},
},
[4] = {
	[0] = {
		level = 4,
		id = 0,
		showStar = 0,
		showDan = 0,
		isDropStar = 0,
		winAward = 440016,
		danAward = {{type=1,id=220004,count=1}},
		notice = 35,
		MatchingRobot = 0,
		WinningStreak = 0,
	},
},
}