--P-拍卖.xlsx 系统配置
AuctionConfig={
	guildShowTime = 300,
	globalShowTime = 300,
	rushTime = 60,
	guildTax = 1000,
	globalTax = 2000,
	priceIncrease = 1000,
	exceedTitle = "竞价被超越",
	exceedContent = "您竞拍%sx%d的出价已被超越，竞拍消耗已退回给您。",
	buySuccessTitle = "购买成功",
	buySuccessContent = "您消耗%d元宝，成功购买%sx%d。",
	sellSuccessTitle = "出售成功",
	sellSuccessContent = "您拍卖的%sx%d，以价格%d元宝成功出售，获得%d元宝。",
	sellFailureTitle = "商品流拍",
	sellFailureContent = "您上架的%sx%d，在竞拍时间内无人竞拍。",
	falseHints = {[1]="st0010",[2]="st0011",[3]="st0012"},
	sellSuccessGuildTitle = "出售成功",
	sellSuccessGuildContent = "%sx%d以价格%d元宝成功出售，您获得%d元宝分红。",
	auctionItemType = 13,
	positiveParameter = 3,
	quotaMax = 20000,
	successRecordMax = 200,
}