--Q-签到.xlsx 月签到累计签到奖励
MonthSignDaysConfig={
{
	days = 3,
	rewards = {{type=1,id=260021,count=1}},
},
{
	days = 7,
	rewards = {{type=1,id=260022,count=1}},
},
{
	days = 15,
	rewards = {{type=1,id=260023,count=1}},
},
{
	days = 30,
	rewards = {{type=1,id=260024,count=1}},
},
{
	days = 45,
	rewards = {{type=1,id=260025,count=1}},
},
{
	days = 60,
	rewards = {{type=1,id=260026,count=1}},
},
{
	days = 75,
	rewards = {{type=1,id=260027,count=1}},
},
{
	days = 90,
	rewards = {{type=1,id=260028,count=1}},
},
{
	days = 105,
	rewards = {{type=1,id=260029,count=1}},
},
{
	days = 120,
	rewards = {{type=1,id=260030,count=1}},
},
{
	days = 135,
	rewards = {{type=1,id=260031,count=1}},
},
{
	days = 150,
	rewards = {{type=1,id=260032,count=1}},
},
{
	days = 165,
	rewards = {{type=1,id=260033,count=1}},
},
{
	days = 180,
	rewards = {{type=1,id=201012,count=1}},
},
{
	days = 195,
	rewards = {{type=1,id=201012,count=1}},
},
{
	days = 210,
	rewards = {{type=1,id=201012,count=1}},
},
{
	days = 225,
	rewards = {{type=1,id=201012,count=1}},
},
{
	days = 240,
	rewards = {{type=1,id=201012,count=1}},
},
}