MonthSignVipConfig={
[1] = {
	vipLevel = 1,
	complementTimes = 2,
},
[2] = {
	vipLevel = 2,
	complementTimes = 2,
},
[3] = {
	vipLevel = 3,
	complementTimes = 3,
},
[4] = {
	vipLevel = 4,
	complementTimes = 3,
},
[5] = {
	vipLevel = 5,
	complementTimes = 4,
},
[6] = {
	vipLevel = 6,
	complementTimes = 4,
},
[7] = {
	vipLevel = 7,
	complementTimes = 5,
},
[8] = {
	vipLevel = 8,
	complementTimes = 5,
},
[9] = {
	vipLevel = 9,
	complementTimes = 5,
},
[10] = {
	vipLevel = 10,
	complementTimes = 5,
},
[0] = {
	vipLevel = 0,
	complementTimes = 1,
},
}