--C-橙装神装配置.xlsx 橙装生成属性配置
LegendAttrRateConfig={
[1] = {
	index = 1,
	level = 1,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[2] = {
	index = 2,
	level = 1,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[3] = {
	index = 3,
	level = 10,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[4] = {
	index = 4,
	level = 10,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[5] = {
	index = 5,
	level = 20,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[6] = {
	index = 6,
	level = 20,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[7] = {
	index = 7,
	level = 30,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[8] = {
	index = 8,
	level = 30,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[9] = {
	index = 9,
	level = 40,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[10] = {
	index = 10,
	level = 40,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[11] = {
	index = 11,
	level = 50,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[12] = {
	index = 12,
	level = 50,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[13] = {
	index = 13,
	level = 60,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[14] = {
	index = 14,
	level = 60,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[15] = {
	index = 15,
	level = 70,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[16] = {
	index = 16,
	level = 70,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[17] = {
	index = 17,
	level = 80,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 80,
},
[18] = {
	index = 18,
	level = 80,
	zhuanshenglv = 0,
	low = 15,
	high = 15,
	rate = 20,
},
[19] = {
	index = 19,
	level = 90,
	zhuanshenglv = 1,
	low = 15,
	high = 15,
	rate = 80,
},
[20] = {
	index = 20,
	level = 90,
	zhuanshenglv = 1,
	low = 15,
	high = 15,
	rate = 20,
},
[21] = {
	index = 21,
	level = 100,
	zhuanshenglv = 2,
	low = 15,
	high = 15,
	rate = 80,
},
[22] = {
	index = 22,
	level = 100,
	zhuanshenglv = 2,
	low = 15,
	high = 15,
	rate = 20,
},
[23] = {
	index = 23,
	level = 110,
	zhuanshenglv = 3,
	low = 15,
	high = 15,
	rate = 80,
},
[24] = {
	index = 24,
	level = 110,
	zhuanshenglv = 3,
	low = 15,
	high = 15,
	rate = 20,
},
[25] = {
	index = 25,
	level = 120,
	zhuanshenglv = 4,
	low = 15,
	high = 15,
	rate = 80,
},
[26] = {
	index = 26,
	level = 120,
	zhuanshenglv = 4,
	low = 15,
	high = 15,
	rate = 20,
},
[27] = {
	index = 27,
	level = 130,
	zhuanshenglv = 5,
	low = 15,
	high = 15,
	rate = 80,
},
[28] = {
	index = 28,
	level = 130,
	zhuanshenglv = 5,
	low = 15,
	high = 15,
	rate = 20,
},
[29] = {
	index = 29,
	level = 140,
	zhuanshenglv = 6,
	low = 15,
	high = 15,
	rate = 80,
},
[30] = {
	index = 30,
	level = 140,
	zhuanshenglv = 6,
	low = 15,
	high = 15,
	rate = 20,
},
[31] = {
	index = 31,
	level = 150,
	zhuanshenglv = 7,
	low = 15,
	high = 15,
	rate = 80,
},
[32] = {
	index = 32,
	level = 150,
	zhuanshenglv = 7,
	low = 15,
	high = 15,
	rate = 20,
},
[33] = {
	index = 33,
	level = 160,
	zhuanshenglv = 8,
	low = 15,
	high = 15,
	rate = 80,
},
[34] = {
	index = 34,
	level = 160,
	zhuanshenglv = 8,
	low = 15,
	high = 15,
	rate = 20,
},
[35] = {
	index = 35,
	level = 170,
	zhuanshenglv = 9,
	low = 15,
	high = 15,
	rate = 80,
},
[36] = {
	index = 36,
	level = 170,
	zhuanshenglv = 9,
	low = 15,
	high = 15,
	rate = 20,
},
[37] = {
	index = 37,
	level = 180,
	zhuanshenglv = 10,
	low = 15,
	high = 15,
	rate = 80,
},
[38] = {
	index = 38,
	level = 180,
	zhuanshenglv = 10,
	low = 15,
	high = 15,
	rate = 20,
},
[39] = {
	index = 39,
	level = 190,
	zhuanshenglv = 11,
	low = 15,
	high = 15,
	rate = 80,
},
[40] = {
	index = 40,
	level = 190,
	zhuanshenglv = 11,
	low = 15,
	high = 15,
	rate = 20,
},
[41] = {
	index = 41,
	level = 200,
	zhuanshenglv = 12,
	low = 15,
	high = 15,
	rate = 80,
},
[42] = {
	index = 42,
	level = 200,
	zhuanshenglv = 12,
	low = 15,
	high = 15,
	rate = 20,
},
[43] = {
	index = 43,
	level = 210,
	zhuanshenglv = 13,
	low = 15,
	high = 15,
	rate = 80,
},
[44] = {
	index = 44,
	level = 210,
	zhuanshenglv = 13,
	low = 15,
	high = 15,
	rate = 20,
},
}