--D-巅峰赛季.xlsx 本服相对时间表
PeakRaceTime={
[1] = {
	status = 1,
	relTime = 43200,
	noticeId = 332,
},
[2] = {
	status = 2,
	relTime = 162000,
	loseMail = 66,
	noticeId = 333,
},
[3] = {
	status = 3,
	relTime = 248400,
	maxBett = 2000,
	bettWinMail = 88,
	bettLoseMail = 78,
	loseMail = 65,
	noticeId = 335,
},
[4] = {
	status = 4,
	relTime = 250200,
	maxBett = 3000,
	bettWinMail = 87,
	bettLoseMail = 77,
	loseMail = 64,
	noticeId = 336,
},
[5] = {
	status = 5,
	relTime = 252000,
	maxBett = 4000,
	bettWinMail = 86,
	bettLoseMail = 76,
	loseMail = 63,
	noticeId = 337,
},
[6] = {
	status = 6,
	relTime = 253800,
	maxBett = 5000,
	bettWinMail = 85,
	bettLoseMail = 75,
	loseMail = 62,
	noticeId = 338,
},
}