--D-巅峰赛季.xlsx 跨服相对时间表
PeakRaceCrossTime={
[0] = {
	status = 0,
	relTime = 43200,
},
[1] = {
	status = 1,
	relTime = 421200,
	loseMail = 74,
	noticeId = 339,
},
[2] = {
	status = 2,
	relTime = 572400,
	maxBett = 2000,
	bettWinMail = 94,
	bettLoseMail = 84,
	loseMail = 73,
	noticeId = 341,
},
[3] = {
	status = 3,
	relTime = 574200,
	maxBett = 3000,
	bettWinMail = 93,
	bettLoseMail = 83,
	loseMail = 72,
	noticeId = 342,
},
[4] = {
	status = 4,
	relTime = 576000,
	maxBett = 4000,
	bettWinMail = 92,
	bettLoseMail = 82,
	loseMail = 71,
	noticeId = 343,
},
[5] = {
	status = 5,
	relTime = 577800,
	maxBett = 5000,
	bettWinMail = 91,
	bettLoseMail = 81,
	loseMail = 70,
	noticeId = 344,
},
[6] = {
	status = 6,
	relTime = 579600,
	maxBett = 7000,
	bettWinMail = 90,
	bettLoseMail = 80,
	loseMail = 69,
	noticeId = 345,
},
[7] = {
	status = 7,
	relTime = 581400,
	maxBett = 9000,
	bettWinMail = 89,
	bettLoseMail = 79,
	loseMail = 68,
	noticeId = 346,
},
}