--D-大富翁配置.xlsx 圈数奖励
RichManRoundAwardConfig={
[1] = {
	round = 1,
	award = {{type=1,id=200301,count=10}},
},
[2] = {
	round = 3,
	award = {{type=1,id=200301,count=20}},
},
[3] = {
	round = 6,
	award = {{type=1,id=200301,count=30}},
},
[4] = {
	round = 12,
	award = {{type=1,id=200301,count=75}},
},
}