--B-背包扩展配置表.xlsx 背包扩展配置
BagExpandConfig={
[1] = {
	row = 1,
	cost = 30,
},
[2] = {
	row = 2,
	cost = 30,
},
[3] = {
	row = 3,
	cost = 40,
},
[4] = {
	row = 4,
	cost = 40,
},
[5] = {
	row = 5,
	cost = 50,
},
[6] = {
	row = 6,
	cost = 50,
},
[7] = {
	row = 7,
	cost = 60,
},
[8] = {
	row = 8,
	cost = 60,
},
[9] = {
	row = 9,
	cost = 70,
},
[10] = {
	row = 10,
	cost = 70,
},
[11] = {
	row = 11,
	cost = 80,
},
[12] = {
	row = 12,
	cost = 80,
},
[13] = {
	row = 13,
	cost = 90,
},
[14] = {
	row = 14,
	cost = 90,
},
[15] = {
	row = 15,
	cost = 100,
},
[16] = {
	row = 16,
	cost = 100,
},
[17] = {
	row = 17,
	cost = 110,
},
[18] = {
	row = 18,
	cost = 110,
},
[19] = {
	row = 19,
	cost = 120,
},
[20] = {
	row = 20,
	cost = 120,
},
[21] = {
	row = 21,
	cost = 130,
},
[22] = {
	row = 22,
	cost = 130,
},
[23] = {
	row = 23,
	cost = 140,
},
[24] = {
	row = 24,
	cost = 140,
},
[25] = {
	row = 25,
	cost = 150,
},
[26] = {
	row = 26,
	cost = 150,
},
[27] = {
	row = 27,
	cost = 160,
},
[28] = {
	row = 28,
	cost = 160,
},
[29] = {
	row = 29,
	cost = 170,
},
[30] = {
	row = 30,
	cost = 170,
},
[31] = {
	row = 31,
	cost = 180,
},
[32] = {
	row = 32,
	cost = 180,
},
[33] = {
	row = 33,
	cost = 190,
},
[34] = {
	row = 34,
	cost = 190,
},
[35] = {
	row = 35,
	cost = 200,
},
[36] = {
	row = 36,
	cost = 200,
},
[37] = {
	row = 37,
	cost = 210,
},
[38] = {
	row = 38,
	cost = 210,
},
[39] = {
	row = 39,
	cost = 220,
},
[40] = {
	row = 40,
	cost = 220,
},
[41] = {
	row = 41,
	cost = 230,
},
[42] = {
	row = 42,
	cost = 230,
},
[43] = {
	row = 43,
	cost = 240,
},
[44] = {
	row = 44,
	cost = 240,
},
[45] = {
	row = 45,
	cost = 250,
},
[46] = {
	row = 46,
	cost = 250,
},
[47] = {
	row = 47,
	cost = 260,
},
[48] = {
	row = 48,
	cost = 260,
},
[49] = {
	row = 49,
	cost = 270,
},
[50] = {
	row = 50,
	cost = 270,
},
[51] = {
	row = 51,
	cost = 280,
},
[52] = {
	row = 52,
	cost = 280,
},
[53] = {
	row = 53,
	cost = 290,
},
[54] = {
	row = 54,
	cost = 290,
},
[55] = {
	row = 55,
	cost = 300,
},
[56] = {
	row = 56,
	cost = 300,
},
[57] = {
	row = 57,
	cost = 310,
},
[58] = {
	row = 58,
	cost = 310,
},
[59] = {
	row = 59,
	cost = 320,
},
[60] = {
	row = 60,
	cost = 320,
},
[61] = {
	row = 61,
	cost = 330,
},
[62] = {
	row = 62,
	cost = 330,
},
[63] = {
	row = 63,
	cost = 340,
},
[64] = {
	row = 64,
	cost = 340,
},
[65] = {
	row = 65,
	cost = 350,
},
[66] = {
	row = 66,
	cost = 350,
},
[67] = {
	row = 67,
	cost = 360,
},
[68] = {
	row = 68,
	cost = 360,
},
[69] = {
	row = 69,
	cost = 370,
},
[70] = {
	row = 70,
	cost = 370,
},
[71] = {
	row = 71,
	cost = 380,
},
[72] = {
	row = 72,
	cost = 380,
},
[73] = {
	row = 73,
	cost = 390,
},
[74] = {
	row = 74,
	cost = 390,
},
[75] = {
	row = 75,
	cost = 400,
},
[76] = {
	row = 76,
	cost = 400,
},
[77] = {
	row = 77,
	cost = 410,
},
[78] = {
	row = 78,
	cost = 410,
},
[79] = {
	row = 79,
	cost = 420,
},
[80] = {
	row = 80,
	cost = 420,
},
[81] = {
	row = 81,
	cost = 430,
},
[82] = {
	row = 82,
	cost = 430,
},
[83] = {
	row = 83,
	cost = 440,
},
[84] = {
	row = 84,
	cost = 440,
},
[85] = {
	row = 85,
	cost = 450,
},
[86] = {
	row = 86,
	cost = 450,
},
[87] = {
	row = 87,
	cost = 460,
},
[88] = {
	row = 88,
	cost = 460,
},
[89] = {
	row = 89,
	cost = 470,
},
[90] = {
	row = 90,
	cost = 470,
},
[91] = {
	row = 91,
	cost = 480,
},
[92] = {
	row = 92,
	cost = 480,
},
[93] = {
	row = 93,
	cost = 490,
},
[94] = {
	row = 94,
	cost = 490,
},
[95] = {
	row = 95,
	cost = 500,
},
[96] = {
	row = 96,
	cost = 500,
},
[97] = {
	row = 97,
	cost = 510,
},
[98] = {
	row = 98,
	cost = 510,
},
[99] = {
	row = 99,
	cost = 520,
},
[100] = {
	row = 100,
	cost = 520,
},
}