--B-背包扩展配置表.xlsx vip额外格子
VipGridConfig={
[0] = {
	vip = 0,
	grid = 0,
},
[1] = {
	vip = 1,
	grid = 10,
},
[2] = {
	vip = 2,
	grid = 20,
},
[3] = {
	vip = 3,
	grid = 30,
},
[4] = {
	vip = 4,
	grid = 40,
},
[5] = {
	vip = 5,
	grid = 50,
},
[6] = {
	vip = 6,
	grid = 60,
},
[7] = {
	vip = 7,
	grid = 70,
},
[8] = {
	vip = 8,
	grid = 80,
},
[9] = {
	vip = 9,
	grid = 100,
},
[10] = {
	vip = 10,
	grid = 120,
},
[11] = {
	vip = 11,
	grid = 140,
},
[12] = {
	vip = 12,
	grid = 160,
},
[13] = {
	vip = 13,
	grid = 180,
},
[14] = {
	vip = 14,
	grid = 200,
},
[15] = {
	vip = 15,
	grid = 220,
},
}