--H-个人活动配置.xlsx 活动总表
PActivityConfig={
[5001] = {
	Id = 5001,
	zslv = 7,
	activityType = 3,
	openType = 1,
	duration = 72,
},
[5002] = {
	Id = 5002,
	zslv = 7,
	activityType = 2,
	openType = 1,
	duration = 72,
},
[5003] = {
	Id = 5003,
	sdate = 15,
	zslv = 5,
	activityType = 1,
	openType = 1,
	duration = 72,
},
[5004] = {
	Id = 5004,
	sdate = 15,
	zslv = 5,
	activityType = 9,
	openType = 1,
	duration = 72,
},
[5005] = {
	Id = 5005,
	sdate = 15,
	zslv = 5,
	activityType = 2,
	openType = 1,
	duration = 72,
},
[5006] = {
	Id = 5006,
	sdate = 15,
	zslv = 5,
	activityType = 3,
	openType = 1,
	duration = 72,
},
}