--H-个人活动配置.xlsx 类型3
PActivity3Config={
[5001] = {
	[1] = {
		type = 2,
		day = 3,
		val = 1000,
		rewards = {{type=1,id=201106,count=1},{type=1,id=200011,count=1},{type=1,id=200004,count=10}},
		mailInfo = {head="轮回累充返利奖励",context="恭喜您满足累充返利活动领取条件,请收取附件奖励"},
	},
	[2] = {
		type = 2,
		day = 3,
		val = 3000,
		rewards = {{type=1,id=201106,count=2},{type=1,id=200011,count=2},{type=1,id=200004,count=10}},
		mailInfo = {head="轮回累充返利奖励",context="恭喜您满足累充返利活动领取条件,请收取附件奖励"},
	},
	[3] = {
		type = 2,
		day = 3,
		val = 10000,
		rewards = {{type=1,id=201106,count=5},{type=1,id=204033,count=1},{type=1,id=200004,count=10}},
		mailInfo = {head="轮回累充返利奖励",context="恭喜您满足累充返利活动领取条件,请收取附件奖励"},
	},
},
[5006] = {
	[1] = {
		type = 2,
		day = 3,
		val = 3000,
		rewards = {{type=1,id=204154,count=1},{type=1,id=205001,count=1},{type=1,id=205000,count=20}},
		mailInfo = {head="累充返利奖励",context="恭喜您满足累充返利活动领取条件,请收取附件奖励"},
	},
	[2] = {
		type = 2,
		day = 3,
		val = 8000,
		rewards = {{type=1,id=204155,count=1},{type=1,id=205002,count=1},{type=1,id=205000,count=40}},
		mailInfo = {head="累充返利奖励",context="恭喜您满足累充返利活动领取条件,请收取附件奖励"},
	},
	[3] = {
		type = 2,
		day = 3,
		val = 20000,
		rewards = {{type=1,id=205003,count=1},{type=1,id=205002,count=1},{type=1,id=205000,count=40}},
		mailInfo = {head="累充返利奖励",context="恭喜您满足累充返利活动领取条件,请收取附件奖励"},
	},
},
}