--H-个人活动配置.xlsx 类型2
PActivity2Config={
[5002] = {
	[1] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 3888,
		count = 1,
		rewards = {{type=1,id=201106,count=5}},
	},
	[2] = {
		vip = 3,
		needRecharge = 0,
		currencyType = 2,
		price = 3888,
		count = 1,
		rewards = {{type=1,id=201106,count=8}},
	},
	[3] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 8888,
		count = 5,
		rewards = {{type=1,id=201107,count=1},{type=1,id=201106,count=2}},
	},
	[4] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 18888,
		count = 5,
		rewards = {{type=1,id=201107,count=2},{type=1,id=201106,count=2}},
	},
	[5] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 12888,
		count = 1,
		rewards = {{type=1,id=204075,count=1}},
	},
},
[5005] = {
	[1] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 888,
		count = 9,
		rewards = {{type=1,id=205000,count=20}},
	},
	[2] = {
		vip = 2,
		needRecharge = 0,
		currencyType = 2,
		price = 1588,
		count = 3,
		rewards = {{type=1,id=205000,count=60}},
	},
	[3] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 2888,
		count = 9,
		rewards = {{type=1,id=205000,count=70}},
	},
	[4] = {
		vip = 0,
		needRecharge = 0,
		currencyType = 2,
		price = 8888,
		count = 20,
		rewards = {{type=1,id=205000,count=200}},
	},
},
}