--H-个人活动配置.xlsx 类型1
PActivityType1Config={
[5003] = {
	[1] = {
		zhanlingLv = 2,
		rewards = {{type=1,id=205000,count=30}},
	},
	[2] = {
		zhanlingLv = 8,
		rewards = {{type=1,id=205000,count=70},{type=1,id=205001,count=1}},
	},
	[3] = {
		zhanlingLv = 15,
		rewards = {{type=1,id=205000,count=150},{type=1,id=205001,count=1}},
	},
	[4] = {
		zhanlingLv = 25,
		rewards = {{type=1,id=205000,count=250},{type=1,id=205001,count=2}},
	},
	[5] = {
		zhanlingLv = 35,
		rewards = {{type=1,id=205000,count=400},{type=1,id=205001,count=2}},
	},
	[6] = {
		zhanlingLv = 45,
		rewards = {{type=1,id=205000,count=400},{type=1,id=205001,count=2}},
	},
},
}