--H-个人活动配置.xlsx 类型9
PActivityType9Config={
[5004] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		perNum = {{[3]=3,[30]=6,[1000]=1},{[4]=3,[30]=6,[1000]=1},{[5]=3,[30]=6,[1000]=1},{[6]=3,[30]=6,[1000]=1}},
	},
	[1] = {
		reward = {{type=1,id=205004,count=1}},
		rate = {[1]=0,[10]=0,[50]=15},
		noticeId = 365,
	},
	[2] = {
		reward = {{type=1,id=205000,count=5}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200005,count=100}},
		rate = {[1]=0,[10]=35,[50]=0},
	},
	[4] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=205000,count=10}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[6] = {
		reward = {{type=1,id=204158,count=1}},
		rate = {[1]=0,[10]=5,[50]=85},
		noticeId = 366,
	},
	[7] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=0,[10]=40,[50]=0},
	},
	[9] = {
		reward = {{type=1,id=500005,count=4}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[10] = {
		reward = {{type=1,id=200015,count=1000}},
		rate = {[1]=0,[10]=20,[50]=0},
	},
},
}