DaBiaoRankintReward={
[0] = {
	[1] = {
		rankType = 0,
		ranking = 1,
		rewards = {{type=1,id=200001,count=100}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[2] = {
		rankType = 0,
		ranking = 2,
		rewards = {{type=1,id=200001,count=101}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[3] = {
		rankType = 0,
		ranking = 3,
		rewards = {{type=1,id=200001,count=102}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[4] = {
		rankType = 0,
		ranking = 4,
		rewards = {{type=1,id=200001,count=103}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[5] = {
		rankType = 0,
		ranking = 5,
		rewards = {{type=1,id=200001,count=104}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[6] = {
		rankType = 0,
		ranking = 6,
		rewards = {{type=1,id=200001,count=105}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[7] = {
		rankType = 0,
		ranking = 7,
		rewards = {{type=1,id=200001,count=106}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[8] = {
		rankType = 0,
		ranking = 8,
		rewards = {{type=1,id=200001,count=107}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[9] = {
		rankType = 0,
		ranking = 9,
		rewards = {{type=1,id=200001,count=108}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[10] = {
		rankType = 0,
		ranking = 10,
		rewards = {{type=1,id=200001,count=109}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[11] = {
		rankType = 0,
		ranking = 11,
		rewards = {{type=1,id=200001,count=110}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[12] = {
		rankType = 0,
		ranking = 12,
		rewards = {{type=1,id=200001,count=111}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[13] = {
		rankType = 0,
		ranking = 13,
		rewards = {{type=1,id=200001,count=112}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[14] = {
		rankType = 0,
		ranking = 14,
		rewards = {{type=1,id=200001,count=113}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[15] = {
		rankType = 0,
		ranking = 15,
		rewards = {{type=1,id=200001,count=114}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[16] = {
		rankType = 0,
		ranking = 16,
		rewards = {{type=1,id=200001,count=115}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[17] = {
		rankType = 0,
		ranking = 17,
		rewards = {{type=1,id=200001,count=116}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[18] = {
		rankType = 0,
		ranking = 18,
		rewards = {{type=1,id=200001,count=117}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[19] = {
		rankType = 0,
		ranking = 19,
		rewards = {{type=1,id=200001,count=118}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[20] = {
		rankType = 0,
		ranking = 20,
		rewards = {{type=1,id=200001,count=119}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[21] = {
		rankType = 0,
		ranking = 21,
		rewards = {{type=1,id=200001,count=120}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[22] = {
		rankType = 0,
		ranking = 22,
		rewards = {{type=1,id=200001,count=121}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[23] = {
		rankType = 0,
		ranking = 23,
		rewards = {{type=1,id=200001,count=122}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[24] = {
		rankType = 0,
		ranking = 24,
		rewards = {{type=1,id=200001,count=123}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[25] = {
		rankType = 0,
		ranking = 25,
		rewards = {{type=1,id=200001,count=124}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[26] = {
		rankType = 0,
		ranking = 26,
		rewards = {{type=1,id=200001,count=125}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[27] = {
		rankType = 0,
		ranking = 27,
		rewards = {{type=1,id=200001,count=126}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[28] = {
		rankType = 0,
		ranking = 28,
		rewards = {{type=1,id=200001,count=127}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[29] = {
		rankType = 0,
		ranking = 29,
		rewards = {{type=1,id=200001,count=128}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[30] = {
		rankType = 0,
		ranking = 30,
		rewards = {{type=1,id=200001,count=129}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[31] = {
		rankType = 0,
		ranking = 31,
		rewards = {{type=1,id=200001,count=130}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[32] = {
		rankType = 0,
		ranking = 32,
		rewards = {{type=1,id=200001,count=131}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
	[33] = {
		rankType = 0,
		ranking = 33,
		rewards = {{type=1,id=200001,count=132}},
		head = "哈哈",
		context = "哈哈哈哈",
	},
},
}