--H-活动配置.xlsx 类型10
ActivityType10Config={
[170] = {
	[1] = {
		id = 170,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.2,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1500},{multiple=5,value=1500},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 170,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.2,value=0},{multiple=3,value=500},{multiple=2,value=2000},{multiple=2.2,value=2500},{multiple=5,value=200},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1800},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 170,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.2,value=1000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=2000},{multiple=4,value=300},{multiple=2.5,value=1500},{multiple=1.5,value=2200}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 170,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.2,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 170,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.2,value=4000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=1000},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
	[6] = {
		id = 170,
		level = 6,
		recharge = 50000,
		yuanBao = 28888,
		info = {{multiple=8,value=0},{multiple=1.2,value=4000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=1000},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[312] = {
	[1] = {
		id = 312,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1000},{multiple=5,value=2000},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 312,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=1700},{multiple=2.2,value=2500},{multiple=5,value=100},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1500},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 312,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.5,value=1500},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=3000},{multiple=4,value=0},{multiple=2.5,value=1500},{multiple=1.5,value=1000}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 312,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.5,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 312,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.5,value=5000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=0},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[330] = {
	[1] = {
		id = 330,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.2,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1500},{multiple=5,value=1500},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 330,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.2,value=0},{multiple=3,value=500},{multiple=2,value=2000},{multiple=2.2,value=2500},{multiple=5,value=200},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1800},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 330,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.2,value=1000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=2000},{multiple=4,value=300},{multiple=2.5,value=1500},{multiple=1.5,value=2200}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 330,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.2,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 330,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.2,value=4000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=1000},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
	[6] = {
		id = 330,
		level = 6,
		recharge = 50000,
		yuanBao = 28888,
		info = {{multiple=8,value=0},{multiple=1.2,value=4000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=1000},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[360] = {
	[1] = {
		id = 360,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1000},{multiple=5,value=2000},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 360,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=1700},{multiple=2.2,value=2500},{multiple=5,value=100},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1500},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 360,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.5,value=1500},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=3000},{multiple=4,value=0},{multiple=2.5,value=1500},{multiple=1.5,value=1000}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 360,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.5,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 360,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.5,value=5000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=0},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[507] = {
	[1] = {
		id = 507,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1000},{multiple=5,value=2000},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 507,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=1700},{multiple=2.2,value=2500},{multiple=5,value=100},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1500},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 507,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.5,value=1500},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=3000},{multiple=4,value=0},{multiple=2.5,value=1500},{multiple=1.5,value=1000}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 507,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.5,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 507,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.5,value=5000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=0},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[516] = {
	[1] = {
		id = 516,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1000},{multiple=5,value=2000},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 516,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=1700},{multiple=2.2,value=2500},{multiple=5,value=100},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1500},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 516,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.5,value=1500},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=3000},{multiple=4,value=0},{multiple=2.5,value=1500},{multiple=1.5,value=1000}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 516,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.5,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 516,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.5,value=5000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=0},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[807] = {
	[1] = {
		id = 807,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1000},{multiple=5,value=2000},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 807,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=1700},{multiple=2.2,value=2500},{multiple=5,value=100},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1500},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 807,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.5,value=1500},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=3000},{multiple=4,value=0},{multiple=2.5,value=1500},{multiple=1.5,value=1000}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 807,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.5,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 807,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.5,value=5000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=0},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
[815] = {
	[1] = {
		id = 815,
		level = 1,
		recharge = 1000,
		yuanBao = 888,
		info = {{multiple=8,value=800},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=3000},{multiple=2.2,value=1000},{multiple=5,value=2000},{multiple=1.8,value=0},{multiple=4,value=1000},{multiple=2.5,value=1000},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[2] = {
		id = 815,
		level = 2,
		recharge = 2000,
		yuanBao = 1888,
		info = {{multiple=8,value=0},{multiple=1.5,value=0},{multiple=3,value=1200},{multiple=2,value=1700},{multiple=2.2,value=2500},{multiple=5,value=100},{multiple=1.8,value=2500},{multiple=4,value=500},{multiple=2.5,value=1500},{multiple=1.5,value=0}},
		noticeId = {multiple=2,id=261},
	},
	[3] = {
		id = 815,
		level = 3,
		recharge = 5000,
		yuanBao = 4888,
		info = {{multiple=8,value=0},{multiple=1.5,value=1500},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1500},{multiple=5,value=0},{multiple=1.8,value=3000},{multiple=4,value=0},{multiple=2.5,value=1500},{multiple=1.5,value=1000}},
		noticeId = {multiple=2,id=261},
	},
	[4] = {
		id = 815,
		level = 4,
		recharge = 10000,
		yuanBao = 9888,
		info = {{multiple=8,value=0},{multiple=1.5,value=3000},{multiple=3,value=0},{multiple=2,value=1500},{multiple=2.2,value=1000},{multiple=5,value=0},{multiple=1.8,value=1500},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=3000}},
		noticeId = {multiple=2,id=261},
	},
	[5] = {
		id = 815,
		level = 5,
		recharge = 20000,
		yuanBao = 18888,
		info = {{multiple=8,value=0},{multiple=1.5,value=5000},{multiple=3,value=0},{multiple=2,value=0},{multiple=2.2,value=0},{multiple=5,value=0},{multiple=1.8,value=0},{multiple=4,value=0},{multiple=2.5,value=0},{multiple=1.5,value=5000}},
		noticeId = {multiple=2,id=261},
	},
},
}