ActivityType14Config={
[93] = {
	[1] = {
		Id = 93,
		index = 1,
		jifen = 80,
		rewards = {{type=0,id=1,count=500000},{type=1,id=200137,count=10}},
	},
	[2] = {
		Id = 93,
		index = 2,
		jifen = 280,
		rewards = {{type=0,id=1,count=1000000},{type=1,id=200137,count=20}},
	},
	[3] = {
		Id = 93,
		index = 3,
		jifen = 480,
		rewards = {{type=0,id=1,count=1500000},{type=1,id=200137,count=30},{type=1,id=230002,count=1}},
	},
	[4] = {
		Id = 93,
		index = 4,
		jifen = 680,
		rewards = {{type=0,id=1,count=2000000},{type=1,id=200137,count=40},{type=1,id=230002,count=1}},
	},
	[5] = {
		Id = 93,
		index = 5,
		jifen = 880,
		rewards = {{type=0,id=1,count=2500000},{type=1,id=200137,count=50},{type=1,id=230002,count=1},{type=1,id=230003,count=1}},
	},
	[6] = {
		Id = 93,
		index = 6,
		jifen = 1280,
		rewards = {{type=0,id=1,count=3000000},{type=1,id=200137,count=60},{type=1,id=230002,count=1},{type=1,id=230003,count=1}},
	},
},
}