--H-活动配置.xlsx 20
ActivityType20Config={
[402] = {
	[1] = {
		Id = 402,
		index = 1,
		fbid = 52001,
		monsterId = {id=85001,monster="monster10119_3s",scale=80},
		openTime = 43200,
		duration = 360,
		rankReward = {{start=1,endi=1,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名第1名奖励!",reward={{type=1,id=204114,count=10}}},{start=2,endi=3,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名第2-3名奖励!",reward={{type=1,id=204114,count=8}}},{start=4,endi=10,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名第4-10名奖励!",reward={{type=1,id=204114,count=6}}},{start=11,endi=99999,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名参与奖励!",reward={{type=1,id=204114,count=5}}}},
		dropReward = {{start=1,endi=1,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330},{start=2,endi=3,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330},{start=4,endi=10,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330},{start=11,endi=99999,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330}},
		notice = {[4]=330,[5]=331},
		minDamage = 10000,
		enterTime = 120,
	},
	[2] = {
		Id = 402,
		index = 2,
		fbid = 52001,
		monsterId = {id=85001,monster="monster10119_3s",scale=80},
		openTime = 79200,
		duration = 360,
		rankReward = {{start=1,endi=1,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名第1名奖励!",reward={{type=1,id=204114,count=10}}},{start=2,endi=3,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名第2-3名奖励!",reward={{type=1,id=204114,count=8}}},{start=4,endi=10,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名第4-10名奖励!",reward={{type=1,id=204114,count=6}}},{start=11,endi=99999,head="腊八节BOSS排名奖励",context="恭喜您参与击杀腊八节BOSS时，获得排名参与奖励!",reward={{type=1,id=204114,count=5}}}},
		dropReward = {{start=1,endi=1,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330},{start=2,endi=3,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330},{start=4,endi=10,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330},{start=11,endi=99999,head="腊八BOSS随机奖励",context="恭喜您在参与击杀BOSS中，获得随机奖励!",drop=1653330}},
		notice = {[4]=330,[5]=331},
		minDamage = 10000,
		enterTime = 120,
	},
},
}