--H-活动配置.xlsx 类型11-1
ActivityType11_1Config={
[120] = {
	[1] = {
		id = 120,
		index = 1,
		score = 10,
		reward = {{type=1,id=500011,count=300}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 120,
		index = 2,
		score = 20,
		reward = {{type=1,id=500011,count=500}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 120,
		index = 3,
		score = 30,
		reward = {{type=1,id=500011,count=1000}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 120,
		index = 4,
		score = 40,
		reward = {{type=1,id=500011,count=1500}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 120,
		index = 5,
		score = 50,
		reward = {{type=1,id=500011,count=2000},{type=1,id=204051,count=1}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[6] = {
		id = 120,
		index = 6,
		score = 60,
		reward = {{type=1,id=500011,count=3000},{type=1,id=204051,count=2}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[7] = {
		id = 120,
		index = 7,
		score = 70,
		reward = {{type=1,id=500011,count=4000},{type=1,id=200315,count=1}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[8] = {
		id = 120,
		index = 8,
		score = 80,
		reward = {{type=1,id=500011,count=5000},{type=1,id=200315,count=2}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[9] = {
		id = 120,
		index = 9,
		score = 90,
		reward = {{type=1,id=500011,count=6000},{type=1,id=200315,count=3}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
	[10] = {
		id = 120,
		index = 10,
		score = 100,
		reward = {{type=1,id=500011,count=8000},{type=1,id=200316,count=2}},
		rewardType = 1,
		mailInfo = {head="七日狂欢大奖",context="恭喜您满足七日狂欢积分达标奖励领取条件,请收取附件奖励"},
	},
},
[243] = {
	[1] = {
		id = 243,
		index = 1,
		score = 400,
		reward = {{type=1,id=220011,count=1},{type=1,id=204030,count=60}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 243,
		index = 2,
		score = 250,
		reward = {{type=1,id=299999,count=2},{type=1,id=204030,count=50}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 243,
		index = 3,
		score = 150,
		reward = {{type=1,id=202002,count=1},{type=1,id=204030,count=40}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 243,
		index = 4,
		score = 100,
		reward = {{type=1,id=200009,count=1},{type=1,id=204030,count=30}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 243,
		index = 5,
		score = 50,
		reward = {{type=1,id=200015,count=100},{type=1,id=204030,count=20}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
},
[563] = {
	[1] = {
		id = 563,
		index = 1,
		score = 10,
		reward = {{rate=100,type=1,id=200301,count=20}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 563,
		index = 2,
		score = 20,
		reward = {{rate=100,type=1,id=200301,count=40}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 563,
		index = 3,
		score = 30,
		reward = {{rate=100,type=1,id=200301,count=75}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 563,
		index = 4,
		score = 40,
		reward = {{rate=100,type=1,id=200301,count=115}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 563,
		index = 5,
		score = 50,
		reward = {{rate=100,type=1,id=200301,count=150},{rate=100,type=1,id=200312,count=2}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[6] = {
		id = 563,
		index = 6,
		score = 60,
		reward = {{rate=100,type=1,id=200301,count=225},{rate=100,type=1,id=200312,count=4}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[7] = {
		id = 563,
		index = 7,
		score = 70,
		reward = {{rate=100,type=1,id=200301,count=300},{rate=100,type=1,id=200312,count=6}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[8] = {
		id = 563,
		index = 8,
		score = 80,
		reward = {{rate=100,type=1,id=200301,count=375},{rate=100,type=1,id=200312,count=8}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[9] = {
		id = 563,
		index = 9,
		score = 90,
		reward = {{rate=100,type=1,id=200301,count=450},{rate=100,type=1,id=200312,count=12}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[10] = {
		id = 563,
		index = 10,
		score = 100,
		reward = {{rate=100,type=1,id=200301,count=600},{rate=100,type=1,id=200312,count=16}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
},
[568] = {
	[1] = {
		id = 568,
		index = 1,
		score = 10,
		reward = {{rate=100,type=1,id=200301,count=20}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 568,
		index = 2,
		score = 20,
		reward = {{rate=100,type=1,id=200301,count=40}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 568,
		index = 3,
		score = 30,
		reward = {{rate=100,type=1,id=200301,count=75}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 568,
		index = 4,
		score = 40,
		reward = {{rate=100,type=1,id=200301,count=115}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 568,
		index = 5,
		score = 50,
		reward = {{rate=100,type=1,id=200301,count=150},{rate=100,type=1,id=200312,count=2}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[6] = {
		id = 568,
		index = 6,
		score = 60,
		reward = {{rate=100,type=1,id=200301,count=225},{rate=100,type=1,id=200312,count=4}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[7] = {
		id = 568,
		index = 7,
		score = 70,
		reward = {{rate=100,type=1,id=200301,count=300},{rate=100,type=1,id=200312,count=6}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[8] = {
		id = 568,
		index = 8,
		score = 80,
		reward = {{rate=100,type=1,id=200301,count=375},{rate=100,type=1,id=200312,count=8}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[9] = {
		id = 568,
		index = 9,
		score = 90,
		reward = {{rate=100,type=1,id=200301,count=450},{rate=100,type=1,id=200312,count=12}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
	[10] = {
		id = 568,
		index = 10,
		score = 100,
		reward = {{rate=100,type=1,id=200301,count=600},{rate=100,type=1,id=200312,count=16}},
		rewardType = 1,
		mailInfo = {head="春节八天乐大奖",context="恭喜您满足春节八天乐积分达标奖励领取条件,请收取附件奖励"},
	},
},
[750] = {
	[1] = {
		id = 750,
		index = 1,
		score = 400,
		reward = {{type=1,id=500011,count=5000},{type=0,id=1,count=40000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 750,
		index = 2,
		score = 250,
		reward = {{type=1,id=505401,count=1},{type=0,id=1,count=25000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 750,
		index = 3,
		score = 150,
		reward = {{type=1,id=200301,count=150},{type=0,id=1,count=15000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 750,
		index = 4,
		score = 100,
		reward = {{type=1,id=205000,count=60},{type=0,id=1,count=10000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 750,
		index = 5,
		score = 50,
		reward = {{type=1,id=204064,count=5},{type=0,id=1,count=5000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
},
[752] = {
	[1] = {
		id = 752,
		index = 1,
		score = 400,
		reward = {{type=1,id=200301,count=300},{type=0,id=1,count=40000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 752,
		index = 2,
		score = 250,
		reward = {{type=1,id=220011,count=1},{type=0,id=1,count=25000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 752,
		index = 3,
		score = 150,
		reward = {{type=1,id=200925,count=1},{type=0,id=1,count=15000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 752,
		index = 4,
		score = 100,
		reward = {{type=1,id=200015,count=500},{type=0,id=1,count=10000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 752,
		index = 5,
		score = 50,
		reward = {{type=1,id=200009,count=5},{type=0,id=1,count=5000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
},
[754] = {
	[1] = {
		id = 754,
		index = 1,
		score = 400,
		reward = {{type=1,id=500011,count=4000},{type=0,id=1,count=40000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 754,
		index = 2,
		score = 250,
		reward = {{type=1,id=200997,count=1},{type=0,id=1,count=25000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 754,
		index = 3,
		score = 150,
		reward = {{type=1,id=220011,count=1},{type=0,id=1,count=15000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 754,
		index = 4,
		score = 100,
		reward = {{type=1,id=200005,count=50},{type=0,id=1,count=10000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 754,
		index = 5,
		score = 50,
		reward = {{type=1,id=204064,count=5},{type=0,id=1,count=5000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
},
[756] = {
	[1] = {
		id = 756,
		index = 1,
		score = 400,
		reward = {{type=1,id=500011,count=5000},{type=0,id=1,count=40000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 756,
		index = 2,
		score = 250,
		reward = {{type=1,id=505401,count=1},{type=0,id=1,count=25000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 756,
		index = 3,
		score = 150,
		reward = {{type=1,id=200301,count=150},{type=0,id=1,count=15000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 756,
		index = 4,
		score = 100,
		reward = {{type=1,id=205000,count=60},{type=0,id=1,count=10000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 756,
		index = 5,
		score = 50,
		reward = {{type=1,id=204064,count=5},{type=0,id=1,count=5000000}},
		isReset = 1,
		mailInfo = {head="嗨翻天积分奖励",context="恭喜您满足嗨翻天积分奖励领取条件,请收取附件奖励"},
	},
},
[1001] = {
	[1] = {
		id = 1001,
		index = 1,
		score = 50,
		reward = {{type=1,id=500011,count=5000},{type=0,id=1,count=40000000}},
		mailInfo = {head="庆典狂欢达标奖励",context="恭喜您满足庆典狂欢值达标奖励领取条件,请收取附件奖励"},
	},
	[2] = {
		id = 1001,
		index = 2,
		score = 100,
		reward = {{type=1,id=505401,count=1},{type=0,id=1,count=25000000}},
		mailInfo = {head="庆典狂欢达标奖励",context="恭喜您满足庆典狂欢值达标奖励领取条件,请收取附件奖励"},
	},
	[3] = {
		id = 1001,
		index = 3,
		score = 200,
		reward = {{type=1,id=200301,count=150},{type=0,id=1,count=15000000}},
		mailInfo = {head="庆典狂欢达标奖励",context="恭喜您满足庆典狂欢值达标奖励领取条件,请收取附件奖励"},
	},
	[4] = {
		id = 1001,
		index = 4,
		score = 300,
		reward = {{type=1,id=205000,count=60},{type=0,id=1,count=10000000}},
		mailInfo = {head="庆典狂欢达标奖励",context="恭喜您满足庆典狂欢值达标奖励领取条件,请收取附件奖励"},
	},
	[5] = {
		id = 1001,
		index = 5,
		score = 400,
		reward = {{type=1,id=204064,count=5},{type=0,id=1,count=5000000}},
		mailInfo = {head="庆典狂欢达标奖励",context="恭喜您满足庆典狂欢值达标奖励领取条件,请收取附件奖励"},
	},
	[6] = {
		id = 1001,
		index = 6,
		score = 500,
		reward = {{type=1,id=204064,count=5},{type=0,id=1,count=5000000}},
		mailInfo = {head="庆典狂欢达标奖励",context="恭喜您满足庆典狂欢值达标奖励领取条件,请收取附件奖励"},
	},
},
}