ActivityType16Config={
[88] = {
	[1] = {
		Id = 88,
		index = 1,
		recharegeyuanbao = 1,
		rewards = {{type=1,id=200136,count=1},{type=0,id=2,count=50},{type=1,id=200137,count=50}},
	},
	[2] = {
		Id = 88,
		index = 2,
		recharegeyuanbao = 688,
		rewards = {{type=1,id=401410,count=1},{type=1,id=411410,count=1},{type=1,id=421410,count=1},{type=1,id=431410,count=1}},
	},
},
}