--H-活动配置.xlsx 类型8
ActivityType8Config={
[201] = {
	[1] = {
		fbid = 32001,
		ybCount = 888,
		rewards = 1665201,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[2] = {
		fbid = 32002,
		cond = 1,
		ybCount = 2888,
		rewards = 1665202,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[3] = {
		fbid = 32003,
		cond = 2,
		ybCount = 5888,
		rewards = 1665203,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[4] = {
		fbid = 32004,
		cond = 3,
		ybCount = 8888,
		rewards = 1665204,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[5] = {
		fbid = 32005,
		cond = 4,
		ybCount = 12888,
		rewards = 1665205,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[6] = {
		fbid = 32006,
		cond = 5,
		ybCount = 16888,
		rewards = 1665206,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[7] = {
		fbid = 32006,
		cond = 6,
		ybCount = 16888,
		rewards = 1665207,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[8] = {
		fbid = 32006,
		cond = 7,
		ybCount = 16888,
		rewards = 1665208,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[9] = {
		fbid = 32006,
		cond = 8,
		ybCount = 16888,
		rewards = 1665209,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[10] = {
		fbid = 32006,
		cond = 9,
		ybCount = 16888,
		rewards = 1665209,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[11] = {
		fbid = 32006,
		cond = 10,
		ybCount = 16888,
		rewards = 1665209,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
	[12] = {
		fbid = 32006,
		cond = 11,
		ybCount = 16888,
		rewards = 1665209,
		mailInfo = {head="失乐园",context="您在失乐园挑战活动中的奖励已发到邮件,请在附件中领取"},
	},
},
}