--H-活动配置.xlsx 类型4
ActivityType4Config={
[7] = {
	[0] = {
		Id = 7,
		ranking = 0,
		rankType = 12,
	},
	[1] = {
		Id = 7,
		ranking = 1,
		value = 0,
		rewards = {{type=1,id=900014,count=1},{type=1,id=200003,count=160}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
		notice = 121,
	},
	[2] = {
		Id = 7,
		ranking = 2,
		value = 0,
		rewards = {{type=1,id=200003,count=140}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[3] = {
		Id = 7,
		ranking = 3,
		value = 0,
		rewards = {{type=1,id=200003,count=110}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[4] = {
		Id = 7,
		ranking = 4,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[5] = {
		Id = 7,
		ranking = 5,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[6] = {
		Id = 7,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[7] = {
		Id = 7,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[8] = {
		Id = 7,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[9] = {
		Id = 7,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[10] = {
		Id = 7,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[11] = {
		Id = 7,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[12] = {
		Id = 7,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[13] = {
		Id = 7,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[14] = {
		Id = 7,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[15] = {
		Id = 7,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[16] = {
		Id = 7,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[17] = {
		Id = 7,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[18] = {
		Id = 7,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[19] = {
		Id = 7,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
	[20] = {
		Id = 7,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=200003,count=80}},
		head = LAN.MAIL.raceStonetitle,
		context = LAN.MAIL.raceStonecont,
		rankType = 12,
	},
},
[8] = {
	[0] = {
		Id = 8,
		ranking = 0,
		rankType = 14,
	},
	[1] = {
		Id = 8,
		ranking = 1,
		value = 0,
		rewards = {{type=1,id=900015,count=1},{type=1,id=200005,count=80}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
		notice = 122,
	},
	[2] = {
		Id = 8,
		ranking = 2,
		value = 0,
		rewards = {{type=1,id=200005,count=70}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[3] = {
		Id = 8,
		ranking = 3,
		value = 0,
		rewards = {{type=1,id=200005,count=60}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[4] = {
		Id = 8,
		ranking = 4,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[5] = {
		Id = 8,
		ranking = 5,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[6] = {
		Id = 8,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[7] = {
		Id = 8,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[8] = {
		Id = 8,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[9] = {
		Id = 8,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[10] = {
		Id = 8,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[11] = {
		Id = 8,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[12] = {
		Id = 8,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[13] = {
		Id = 8,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[14] = {
		Id = 8,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[15] = {
		Id = 8,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[16] = {
		Id = 8,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[17] = {
		Id = 8,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[18] = {
		Id = 8,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[19] = {
		Id = 8,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
	[20] = {
		Id = 8,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=200005,count=40}},
		head = LAN.MAIL.raceLonghuntitle,
		context = LAN.MAIL.raceLonghuncont,
		rankType = 14,
	},
},
[9] = {
	[0] = {
		Id = 9,
		ranking = 0,
		rankType = 16,
	},
	[1] = {
		Id = 9,
		ranking = 1,
		value = 0,
		rewards = {{type=1,id=900016,count=1},{type=1,id=601000,count=32}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
		notice = 123,
	},
	[2] = {
		Id = 9,
		ranking = 2,
		value = 0,
		rewards = {{type=1,id=601000,count=28}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[3] = {
		Id = 9,
		ranking = 3,
		value = 0,
		rewards = {{type=1,id=601000,count=24}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[4] = {
		Id = 9,
		ranking = 4,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[5] = {
		Id = 9,
		ranking = 5,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[6] = {
		Id = 9,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[7] = {
		Id = 9,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[8] = {
		Id = 9,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[9] = {
		Id = 9,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[10] = {
		Id = 9,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[11] = {
		Id = 9,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[12] = {
		Id = 9,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[13] = {
		Id = 9,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[14] = {
		Id = 9,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[15] = {
		Id = 9,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[16] = {
		Id = 9,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[17] = {
		Id = 9,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[18] = {
		Id = 9,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[19] = {
		Id = 9,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
	[20] = {
		Id = 9,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=601000,count=16}},
		head = LAN.MAIL.raceWingtitle,
		context = LAN.MAIL.raceWingcont,
		rankType = 16,
	},
},
[10] = {
	[0] = {
		Id = 10,
		ranking = 0,
		rankType = 17,
	},
	[1] = {
		Id = 10,
		ranking = 1,
		value = 0,
		rewards = {{type=1,id=900017,count=1},{type=1,id=270002,count=10}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
		notice = 124,
	},
	[2] = {
		Id = 10,
		ranking = 2,
		value = 0,
		rewards = {{type=1,id=270002,count=8}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[3] = {
		Id = 10,
		ranking = 3,
		value = 0,
		rewards = {{type=1,id=270002,count=7}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[4] = {
		Id = 10,
		ranking = 4,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[5] = {
		Id = 10,
		ranking = 5,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[6] = {
		Id = 10,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[7] = {
		Id = 10,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[8] = {
		Id = 10,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[9] = {
		Id = 10,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[10] = {
		Id = 10,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[11] = {
		Id = 10,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[12] = {
		Id = 10,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[13] = {
		Id = 10,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[14] = {
		Id = 10,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[15] = {
		Id = 10,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[16] = {
		Id = 10,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[17] = {
		Id = 10,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[18] = {
		Id = 10,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[19] = {
		Id = 10,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
	[20] = {
		Id = 10,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=270002,count=5}},
		head = LAN.MAIL.raceTujiantitle,
		context = LAN.MAIL.raceTujiancount,
		rankType = 17,
	},
},
[11] = {
	[0] = {
		Id = 11,
		ranking = 0,
		rankType = 18,
	},
	[1] = {
		Id = 11,
		ranking = 1,
		value = 0,
		rewards = {{type=1,id=900018,count=1},{type=1,id=200009,count=8}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
		notice = 125,
	},
	[2] = {
		Id = 11,
		ranking = 2,
		value = 0,
		rewards = {{type=1,id=200009,count=7}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[3] = {
		Id = 11,
		ranking = 3,
		value = 0,
		rewards = {{type=1,id=200009,count=6}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[4] = {
		Id = 11,
		ranking = 4,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[5] = {
		Id = 11,
		ranking = 5,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[6] = {
		Id = 11,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[7] = {
		Id = 11,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[8] = {
		Id = 11,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[9] = {
		Id = 11,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[10] = {
		Id = 11,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[11] = {
		Id = 11,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[12] = {
		Id = 11,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[13] = {
		Id = 11,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[14] = {
		Id = 11,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[15] = {
		Id = 11,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[16] = {
		Id = 11,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[17] = {
		Id = 11,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[18] = {
		Id = 11,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[19] = {
		Id = 11,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
	[20] = {
		Id = 11,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=200009,count=4}},
		head = LAN.MAIL.raceZstitle,
		context = LAN.MAIL.raceZscount,
		rankType = 18,
	},
},
[12] = {
	[0] = {
		Id = 12,
		ranking = 0,
		rankType = 19,
	},
	[1] = {
		Id = 12,
		ranking = 1,
		value = 0,
		rewards = {{type=1,id=900019,count=1},{type=1,id=200007,count=800}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
		notice = 126,
	},
	[2] = {
		Id = 12,
		ranking = 2,
		value = 0,
		rewards = {{type=1,id=200007,count=700}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[3] = {
		Id = 12,
		ranking = 3,
		value = 0,
		rewards = {{type=1,id=200007,count=600}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[4] = {
		Id = 12,
		ranking = 4,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[5] = {
		Id = 12,
		ranking = 5,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[6] = {
		Id = 12,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[7] = {
		Id = 12,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[8] = {
		Id = 12,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[9] = {
		Id = 12,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[10] = {
		Id = 12,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[11] = {
		Id = 12,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[12] = {
		Id = 12,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[13] = {
		Id = 12,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[14] = {
		Id = 12,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[15] = {
		Id = 12,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[16] = {
		Id = 12,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[17] = {
		Id = 12,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[18] = {
		Id = 12,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[19] = {
		Id = 12,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
	[20] = {
		Id = 12,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=200007,count=400}},
		head = LAN.MAIL.raceZbscoretitle,
		context = LAN.MAIL.raceZbscorecount,
		rankType = 19,
	},
},
[159] = {
	[0] = {
		Id = 159,
		ranking = 0,
		rankType = 21,
	},
	[1] = {
		Id = 159,
		ranking = 1,
		value = 200000,
		rewards = {{type=1,id=900022,count=1},{type=1,id=200928,count=1},{type=1,id=600014,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
		notice = 191,
	},
	[2] = {
		Id = 159,
		ranking = 2,
		value = 120000,
		rewards = {{type=1,id=200930,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[3] = {
		Id = 159,
		ranking = 3,
		value = 120000,
		rewards = {{type=1,id=200930,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[4] = {
		Id = 159,
		ranking = 4,
		value = 50000,
		rewards = {{type=1,id=200931,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[5] = {
		Id = 159,
		ranking = 5,
		value = 50000,
		rewards = {{type=1,id=200931,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[6] = {
		Id = 159,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[7] = {
		Id = 159,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[8] = {
		Id = 159,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[9] = {
		Id = 159,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[10] = {
		Id = 159,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[11] = {
		Id = 159,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[12] = {
		Id = 159,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[13] = {
		Id = 159,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[14] = {
		Id = 159,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[15] = {
		Id = 159,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[16] = {
		Id = 159,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[17] = {
		Id = 159,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[18] = {
		Id = 159,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[19] = {
		Id = 159,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[20] = {
		Id = 159,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=200932,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
},
[328] = {
	[0] = {
		Id = 328,
		ranking = 0,
		rankType = 21,
	},
	[1] = {
		Id = 328,
		ranking = 1,
		value = 200000,
		rewards = {{type=1,id=200928,count=1},{type=1,id=200927,count=1},{type=1,id=200302,count=1}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
		notice = 191,
	},
	[2] = {
		Id = 328,
		ranking = 2,
		value = 120000,
		rewards = {{type=1,id=200927,count=1},{type=1,id=200301,count=500}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[3] = {
		Id = 328,
		ranking = 3,
		value = 120000,
		rewards = {{type=1,id=200927,count=1},{type=1,id=200301,count=500}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[4] = {
		Id = 328,
		ranking = 4,
		value = 50000,
		rewards = {{type=1,id=202004,count=1},{type=1,id=200301,count=300}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[5] = {
		Id = 328,
		ranking = 5,
		value = 50000,
		rewards = {{type=1,id=202004,count=1},{type=1,id=200301,count=300}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[6] = {
		Id = 328,
		ranking = 6,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[7] = {
		Id = 328,
		ranking = 7,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[8] = {
		Id = 328,
		ranking = 8,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[9] = {
		Id = 328,
		ranking = 9,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[10] = {
		Id = 328,
		ranking = 10,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[11] = {
		Id = 328,
		ranking = 11,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[12] = {
		Id = 328,
		ranking = 12,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[13] = {
		Id = 328,
		ranking = 13,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[14] = {
		Id = 328,
		ranking = 14,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[15] = {
		Id = 328,
		ranking = 15,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[16] = {
		Id = 328,
		ranking = 16,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[17] = {
		Id = 328,
		ranking = 17,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[18] = {
		Id = 328,
		ranking = 18,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[19] = {
		Id = 328,
		ranking = 19,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
	[20] = {
		Id = 328,
		ranking = 20,
		value = 0,
		rewards = {{type=1,id=202003,count=1},{type=1,id=200301,count=200}},
		head = LAN.MAIL.raceXFscoretitle,
		context = LAN.MAIL.raceXFscorecount,
		rankType = 21,
	},
},
}