ActivityType13Config={
[92] = {
	Id = 92,
	reward1 = {{type=1,id=200137,count=200},{type=0,id=7,count=5000},{type=0,id=5,count=200},{type=1,id=200005,count=50},{type=1,id=200006,count=50}},
	reward2 = {{type=1,id=200137,count=100},{type=0,id=7,count=3000},{type=0,id=5,count=100},{type=1,id=200005,count=30},{type=1,id=200006,count=30}},
	reward3 = {{type=1,id=200137,count=50},{type=0,id=7,count=1000},{type=0,id=5,count=50},{type=1,id=200005,count=10},{type=1,id=200006,count=10}},
	reward1title = "沙城会长奖励",
	reward1content = "恭喜你的公会成为首个沙城公会，你获得以下奖励，请注意查收",
	reward2title = "沙城成员奖励",
	reward2content = "恭喜你的公会成为首个沙城公会，你获得以下奖励，请注意查收",
	reward3title = "沙城参与奖励",
	reward3content = "你获得以下奖励，请注意查收",
},
}