--H-活动配置.xlsx 类型9
ActivityType9Config={
[214] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=1,id=200907,count=1,times=10},{type=1,id=200908,count=1,times=30},{type=1,id=200909,count=1,times=100}},
	},
	[1] = {
		reward = {{type=1,id=131419,count=1}},
		rate = {[1]=0,[10]=1,[50]=8},
		noticeId = 175,
	},
	[2] = {
		reward = {{type=1,id=200005,count=2}},
		rate = {[1]=20,[10]=3,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=131413,count=1}},
		rate = {[1]=0,[10]=20,[50]=10},
	},
	[4] = {
		reward = {{type=1,id=200167,count=50}},
		rate = {[1]=20,[10]=4,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=500006,count=1}},
		rate = {[1]=5,[10]=20,[50]=15},
	},
	[6] = {
		reward = {{type=1,id=200312,count=1}},
		rate = {[1]=0,[10]=25,[50]=52},
		noticeId = 176,
	},
	[7] = {
		reward = {{type=1,id=200015,count=20}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=131410,count=1}},
		rate = {[1]=10,[10]=4,[50]=0},
	},
	[9] = {
		reward = {{type=1,id=200167,count=400}},
		rate = {[1]=5,[10]=20,[50]=15},
	},
	[10] = {
		reward = {{type=1,id=500005,count=1}},
		rate = {[1]=20,[10]=3,[50]=0},
	},
},
[221] = {
	[0] = {
		item = 200310,
		yb = 500,
		reward = {{type=1,id=200939,count=1,times=20},{type=1,id=200940,count=1,times=50},{type=1,id=200941,count=1,times=200}},
	},
	[1] = {
		reward = {{type=1,id=200317,count=1}},
		rate = {[1]=0,[10]=0.5,[50]=2},
		noticeId = 192,
	},
	[2] = {
		reward = {{type=1,id=200005,count=2}},
		rate = {[1]=30,[10]=3,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200315,count=1}},
		rate = {[1]=0,[10]=10,[50]=0},
		noticeId = 197,
	},
	[4] = {
		reward = {{type=1,id=200167,count=50}},
		rate = {[1]=25,[10]=4,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=500006,count=1}},
		rate = {[1]=5,[10]=28,[50]=25},
	},
	[6] = {
		reward = {{type=1,id=200314,count=1}},
		rate = {[1]=0,[10]=30,[50]=30},
		noticeId = 198,
	},
	[7] = {
		reward = {{type=1,id=200015,count=20}},
		rate = {[1]=25,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=1,[50]=40},
		noticeId = 199,
	},
	[9] = {
		reward = {{type=1,id=200167,count=400}},
		rate = {[1]=5,[10]=20,[50]=3},
	},
	[10] = {
		reward = {{type=1,id=601000,count=1}},
		rate = {[1]=10,[10]=3.5,[50]=0},
	},
},
[222] = {
	[0] = {
		item = 200310,
		yb = 500,
		reward = {{type=1,id=200939,count=1,times=20},{type=1,id=200940,count=1,times=50},{type=1,id=200941,count=1,times=200}},
	},
	[1] = {
		reward = {{type=1,id=200317,count=1}},
		rate = {[1]=0,[10]=0.5,[50]=2},
		noticeId = 192,
	},
	[2] = {
		reward = {{type=1,id=200005,count=2}},
		rate = {[1]=30,[10]=3,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200315,count=1}},
		rate = {[1]=0,[10]=10,[50]=0},
		noticeId = 197,
	},
	[4] = {
		reward = {{type=1,id=200167,count=50}},
		rate = {[1]=25,[10]=4,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=500006,count=1}},
		rate = {[1]=5,[10]=28,[50]=25},
	},
	[6] = {
		reward = {{type=1,id=200314,count=1}},
		rate = {[1]=0,[10]=30,[50]=30},
		noticeId = 198,
	},
	[7] = {
		reward = {{type=1,id=200015,count=20}},
		rate = {[1]=25,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=1,[50]=40},
		noticeId = 199,
	},
	[9] = {
		reward = {{type=1,id=200167,count=400}},
		rate = {[1]=5,[10]=20,[50]=3},
	},
	[10] = {
		reward = {{type=1,id=601000,count=1}},
		rate = {[1]=10,[10]=3.5,[50]=0},
	},
},
[223] = {
	[0] = {
		item = 200310,
		yb = 500,
		reward = {{type=1,id=200939,count=1,times=20},{type=1,id=200940,count=1,times=50},{type=1,id=200941,count=1,times=200}},
	},
	[1] = {
		reward = {{type=1,id=200317,count=1}},
		rate = {[1]=0,[10]=0.5,[50]=2},
		noticeId = 192,
	},
	[2] = {
		reward = {{type=1,id=200005,count=2}},
		rate = {[1]=30,[10]=3,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200315,count=1}},
		rate = {[1]=0,[10]=10,[50]=0},
		noticeId = 197,
	},
	[4] = {
		reward = {{type=1,id=200167,count=50}},
		rate = {[1]=25,[10]=4,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=500006,count=1}},
		rate = {[1]=5,[10]=28,[50]=25},
	},
	[6] = {
		reward = {{type=1,id=200314,count=1}},
		rate = {[1]=0,[10]=30,[50]=30},
		noticeId = 198,
	},
	[7] = {
		reward = {{type=1,id=200015,count=20}},
		rate = {[1]=25,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=1,[50]=40},
		noticeId = 199,
	},
	[9] = {
		reward = {{type=1,id=200167,count=400}},
		rate = {[1]=5,[10]=20,[50]=3},
	},
	[10] = {
		reward = {{type=1,id=601000,count=1}},
		rate = {[1]=10,[10]=3.5,[50]=0},
	},
},
[231] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=204030,count=50,times=5},{type=1,id=204030,count=50,times=10},{type=1,id=204030,count=50,times=20},{type=1,id=204030,count=50,times=30},{type=1,id=204030,count=80,times=50},{type=1,id=204030,count=120,times=100},{type=1,id=204030,count=120,times=150},{type=1,id=204030,count=120,times=200},{type=1,id=204030,count=120,times=250},{type=1,id=204030,count=120,times=300},{type=1,id=204030,count=200,times=400},{type=1,id=204030,count=200,times=500}},
		isReset = 1,
	},
	[1] = {
		reward = {{type=1,id=204029,count=1}},
		rate = {[1]=0,[10]=1,[50]=8},
		noticeId = 309,
	},
	[2] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=10,[50]=32},
		noticeId = 308,
	},
	[3] = {
		reward = {{type=1,id=204030,count=5}},
		rate = {[1]=30,[10]=10,[50]=0},
	},
	[4] = {
		reward = {{type=1,id=204030,count=50}},
		rate = {[1]=1,[10]=30,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=200311,count=1}},
		rate = {[1]=0,[10]=49,[50]=60},
		noticeId = 310,
	},
	[6] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[7] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=25,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=24,[10]=0,[50]=0},
	},
},
[253] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=200953,count=1,times=5},{type=1,id=200954,count=1,times=10},{type=1,id=200955,count=1,times=20},{type=1,id=200956,count=1,times=30},{type=1,id=200957,count=1,times=50},{type=1,id=200958,count=1,times=100},{type=1,id=200959,count=1,times=150},{type=1,id=200960,count=1,times=200},{type=1,id=200961,count=1,times=250},{type=1,id=200962,count=1,times=300},{type=1,id=200963,count=1,times=400},{type=1,id=200964,count=1,times=500},{type=1,id=200965,count=1,times=600},{type=1,id=200966,count=1,times=800},{type=1,id=200967,count=1,times=1000},{type=1,id=200968,count=1,times=1200}},
	},
	[1] = {
		reward = {{type=1,id=200317,count=1}},
		rate = {[1]=0},
	},
	[2] = {
		reward = {{type=1,id=200314,count=1}},
		rate = {[1]=5},
		noticeId = 305,
	},
	[3] = {
		reward = {{type=1,id=220011,count=1}},
		rate = {[1]=1},
		noticeId = 306,
	},
	[4] = {
		reward = {{type=1,id=204051,count=1}},
		rate = {[1]=10},
		noticeId = 307,
	},
	[5] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=13},
	},
	[6] = {
		reward = {{type=1,id=500005,count=1}},
		rate = {[1]=20},
	},
	[7] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=20},
	},
	[8] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=14},
	},
	[9] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=17},
	},
},
[272] = {
	[0] = {
		yb = 500,
		reward = {{type=1,id=202002,count=1,times=10},{type=1,id=200319,count=3,times=30},{type=1,id=200319,count=3,times=50},{type=1,id=200319,count=3,times=70},{type=1,id=200319,count=4,times=100},{type=1,id=200319,count=6,times=150},{type=1,id=200319,count=6,times=200},{type=1,id=200319,count=6,times=250},{type=1,id=200319,count=6,times=300}},
		isReset = 1,
	},
	[1] = {
		reward = {{type=1,id=910041,count=1}},
		rate = {[1]=0,[10]=0,[50]=20},
		noticeId = 324,
	},
	[2] = {
		reward = {{type=1,id=200005,count=2}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200312,count=1}},
		rate = {[1]=0,[10]=30,[50]=30},
	},
	[4] = {
		reward = {{type=1,id=200167,count=50}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=500006,count=1}},
		rate = {[1]=7,[10]=30,[50]=0},
	},
	[6] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=5,[50]=20},
		noticeId = 325,
	},
	[7] = {
		reward = {{type=1,id=200015,count=20}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=1,[10]=30,[50]=30},
	},
	[9] = {
		reward = {{type=1,id=200167,count=400}},
		rate = {[1]=12,[10]=5,[50]=0},
	},
	[10] = {
		reward = {{type=1,id=500005,count=1}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
},
[314] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[500]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=205004,count=1}},
		rate = {[1]=0,[10]=0,[50]=15},
		noticeId = 365,
	},
	[2] = {
		reward = {{type=1,id=205000,count=5}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200005,count=150}},
		rate = {[1]=0,[10]=35,[50]=0},
	},
	[4] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=205000,count=10}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[6] = {
		reward = {{type=1,id=204158,count=1}},
		rate = {[1]=0,[10]=5,[50]=85},
		noticeId = 366,
	},
	[7] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
	[9] = {
		reward = {{type=1,id=500005,count=4}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[10] = {
		reward = {{type=1,id=200015,count=1500}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
},
[351] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[500]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=205004,count=1}},
		rate = {[1]=0,[10]=0,[50]=15},
		noticeId = 365,
	},
	[2] = {
		reward = {{type=1,id=205000,count=5}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200005,count=100}},
		rate = {[1]=0,[10]=35,[50]=0},
	},
	[4] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=205000,count=10}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[6] = {
		reward = {{type=1,id=204158,count=1}},
		rate = {[1]=0,[10]=5,[50]=85},
		noticeId = 366,
	},
	[7] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
	[9] = {
		reward = {{type=1,id=500005,count=4}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[10] = {
		reward = {{type=1,id=200015,count=1000}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
},
[352] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[500]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=205004,count=1}},
		rate = {[1]=0,[10]=0,[50]=15},
		noticeId = 365,
	},
	[2] = {
		reward = {{type=1,id=205000,count=5}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200005,count=100}},
		rate = {[1]=0,[10]=35,[50]=0},
	},
	[4] = {
		reward = {{type=1,id=200005,count=12}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=205000,count=10}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[6] = {
		reward = {{type=1,id=204158,count=1}},
		rate = {[1]=0,[10]=5,[50]=85},
		noticeId = 366,
	},
	[7] = {
		reward = {{type=1,id=200001,count=12}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
	[9] = {
		reward = {{type=1,id=500005,count=4}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[10] = {
		reward = {{type=1,id=200015,count=1000}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
},
[353] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[500]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=205004,count=1}},
		rate = {[1]=0,[10]=0,[50]=15},
		noticeId = 365,
	},
	[2] = {
		reward = {{type=1,id=205000,count=5}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[3] = {
		reward = {{type=1,id=200005,count=150}},
		rate = {[1]=0,[10]=35,[50]=0},
	},
	[4] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[5] = {
		reward = {{type=1,id=205000,count=10}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[6] = {
		reward = {{type=1,id=204158,count=1}},
		rate = {[1]=0,[10]=5,[50]=85},
		noticeId = 366,
	},
	[7] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[8] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
	[9] = {
		reward = {{type=1,id=500005,count=4}},
		rate = {[1]=20,[10]=0,[50]=0},
	},
	[10] = {
		reward = {{type=1,id=200015,count=1500}},
		rate = {[1]=0,[10]=30,[50]=0},
	},
},
[404] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=204116,count=1,times=5},{type=1,id=204117,count=1,times=10},{type=1,id=204118,count=1,times=20},{type=1,id=204119,count=1,times=30},{type=1,id=204120,count=1,times=50},{type=1,id=204121,count=1,times=100},{type=1,id=204122,count=1,times=150},{type=1,id=204123,count=1,times=200},{type=1,id=204124,count=1,times=250},{type=1,id=204125,count=1,times=300},{type=1,id=204126,count=1,times=400},{type=1,id=204127,count=1,times=500},{type=1,id=204128,count=1,times=600},{type=1,id=204129,count=1,times=800},{type=1,id=204130,count=1,times=1000},{type=1,id=204131,count=1,times=1200}},
	},
	[1] = {
		reward = {{type=1,id=204134,count=1}},
		rate = {[1]=0,[5]=1,[35]=6},
		noticeId = 349,
	},
	[2] = {
		reward = {{type=1,id=204133,count=1}},
		rate = {[1]=0,[5]=3,[35]=14},
		noticeId = 350,
	},
	[3] = {
		reward = {{type=1,id=204138,count=1}},
		rate = {[1]=0,[5]=2,[35]=20},
		noticeId = 351,
	},
	[4] = {
		reward = {{type=1,id=204137,count=1}},
		rate = {[1]=0,[5]=15,[35]=12},
		noticeId = 352,
	},
	[5] = {
		reward = {{type=1,id=200143,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 353,
	},
	[6] = {
		reward = {{type=1,id=200145,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 354,
	},
	[7] = {
		reward = {{type=1,id=200147,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 355,
	},
	[8] = {
		reward = {{type=1,id=200149,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 356,
	},
	[9] = {
		reward = {{type=1,id=200148,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 357,
	},
	[10] = {
		reward = {{type=1,id=200146,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 358,
	},
	[11] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[5]=10,[35]=0},
	},
	[12] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[5]=20,[35]=0},
	},
	[13] = {
		reward = {{type=1,id=200301,count=20}},
		rate = {[1]=0,[5]=10,[35]=0},
	},
	[14] = {
		reward = {{type=1,id=204132,count=1}},
		rate = {[1]=2,[5]=10,[35]=0},
	},
	[15] = {
		reward = {{type=1,id=204136,count=1}},
		rate = {[1]=5,[5]=20,[35]=0},
	},
	[16] = {
		reward = {{type=1,id=204135,count=1}},
		rate = {[1]=5,[5]=0,[35]=0},
	},
	[17] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=3,[5]=0,[35]=0},
	},
	[18] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=10,[5]=0,[35]=0},
	},
	[19] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=7,[5]=0,[35]=0},
	},
	[20] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=3,[5]=0,[35]=0},
	},
	[21] = {
		reward = {{type=1,id=200005,count=5}},
		rate = {[1]=8,[5]=0,[35]=0},
	},
	[22] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=15,[5]=0,[35]=0},
	},
	[23] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=11,[5]=0,[35]=0},
	},
	[24] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=2,[5]=0,[35]=0},
	},
	[25] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=3,[5]=0,[35]=0},
	},
	[26] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=6,[5]=0,[35]=0},
	},
	[27] = {
		reward = {{type=1,id=200167,count=1000}},
		rate = {[1]=2,[5]=0,[35]=0},
	},
	[28] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=5,[5]=0,[35]=0},
	},
	[29] = {
		reward = {{type=1,id=200015,count=80}},
		rate = {[1]=7,[5]=0,[35]=0},
	},
	[30] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=6,[5]=0,[35]=0},
	},
},
[411] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=204116,count=1,times=5},{type=1,id=204117,count=1,times=10},{type=1,id=204118,count=1,times=20},{type=1,id=204119,count=1,times=30},{type=1,id=204120,count=1,times=50},{type=1,id=204121,count=1,times=100},{type=1,id=204122,count=1,times=150},{type=1,id=204123,count=1,times=200},{type=1,id=204124,count=1,times=250},{type=1,id=204125,count=1,times=300},{type=1,id=204126,count=1,times=400},{type=1,id=204127,count=1,times=500},{type=1,id=204128,count=1,times=600},{type=1,id=204129,count=1,times=800},{type=1,id=204130,count=1,times=1000},{type=1,id=204131,count=1,times=1200}},
	},
	[1] = {
		reward = {{type=1,id=204134,count=1}},
		rate = {[1]=0,[5]=1,[35]=6},
		noticeId = 349,
	},
	[2] = {
		reward = {{type=1,id=204133,count=1}},
		rate = {[1]=0,[5]=3,[35]=10},
		noticeId = 350,
	},
	[3] = {
		reward = {{type=1,id=204138,count=1}},
		rate = {[1]=0,[5]=2,[35]=20},
		noticeId = 351,
	},
	[4] = {
		reward = {{type=1,id=204137,count=1}},
		rate = {[1]=0,[5]=15,[35]=0},
		noticeId = 352,
	},
	[5] = {
		reward = {{type=1,id=200143,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 353,
	},
	[6] = {
		reward = {{type=1,id=200145,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 354,
	},
	[7] = {
		reward = {{type=1,id=200147,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 355,
	},
	[8] = {
		reward = {{type=1,id=200149,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 356,
	},
	[9] = {
		reward = {{type=1,id=200148,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 357,
	},
	[10] = {
		reward = {{type=1,id=200146,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 358,
	},
	[11] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[5]=10,[35]=16},
	},
	[12] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[5]=20,[35]=0},
	},
	[13] = {
		reward = {{type=1,id=200301,count=20}},
		rate = {[1]=0,[5]=10,[35]=0},
	},
	[14] = {
		reward = {{type=1,id=204132,count=1}},
		rate = {[1]=2,[5]=10,[35]=0},
	},
	[15] = {
		reward = {{type=1,id=204136,count=1}},
		rate = {[1]=5,[5]=20,[35]=0},
	},
	[16] = {
		reward = {{type=1,id=204135,count=1}},
		rate = {[1]=5,[5]=0,[35]=0},
	},
	[17] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[18] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=14,[5]=0,[35]=0},
	},
	[19] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=10,[5]=0,[35]=0},
	},
	[20] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=2,[5]=0,[35]=0},
	},
	[21] = {
		reward = {{type=1,id=200005,count=5}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[22] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=14,[5]=0,[35]=0},
	},
	[23] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=10,[5]=0,[35]=0},
	},
	[24] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=2,[5]=0,[35]=0},
	},
	[25] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[26] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=5,[5]=0,[35]=0},
	},
	[27] = {
		reward = {{type=1,id=200167,count=1000}},
		rate = {[1]=8,[5]=0,[35]=0},
	},
	[28] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[29] = {
		reward = {{type=1,id=200015,count=80}},
		rate = {[1]=14,[5]=0,[35]=0},
	},
	[30] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=9,[5]=0,[35]=0},
	},
},
[418] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=204116,count=1,times=5},{type=1,id=204117,count=1,times=10},{type=1,id=204118,count=1,times=20},{type=1,id=204119,count=1,times=30},{type=1,id=204120,count=1,times=50},{type=1,id=204121,count=1,times=100},{type=1,id=204122,count=1,times=150},{type=1,id=204123,count=1,times=200},{type=1,id=204124,count=1,times=250},{type=1,id=204125,count=1,times=300},{type=1,id=204126,count=1,times=400},{type=1,id=204127,count=1,times=500},{type=1,id=204128,count=1,times=600},{type=1,id=204129,count=1,times=800},{type=1,id=204130,count=1,times=1000},{type=1,id=204131,count=1,times=1200}},
	},
	[1] = {
		reward = {{type=1,id=204134,count=1}},
		rate = {[1]=0,[5]=1,[35]=6},
		noticeId = 349,
	},
	[2] = {
		reward = {{type=1,id=204133,count=1}},
		rate = {[1]=0,[5]=3,[35]=10},
		noticeId = 350,
	},
	[3] = {
		reward = {{type=1,id=204138,count=1}},
		rate = {[1]=0,[5]=2,[35]=20},
		noticeId = 351,
	},
	[4] = {
		reward = {{type=1,id=204137,count=1}},
		rate = {[1]=0,[5]=15,[35]=0},
		noticeId = 352,
	},
	[5] = {
		reward = {{type=1,id=200143,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 353,
	},
	[6] = {
		reward = {{type=1,id=200145,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 354,
	},
	[7] = {
		reward = {{type=1,id=200147,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 355,
	},
	[8] = {
		reward = {{type=1,id=200149,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 356,
	},
	[9] = {
		reward = {{type=1,id=200148,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 357,
	},
	[10] = {
		reward = {{type=1,id=200146,count=1}},
		rate = {[1]=0,[5]=1.5,[35]=8},
		noticeId = 358,
	},
	[11] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[5]=10,[35]=16},
	},
	[12] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[5]=20,[35]=0},
	},
	[13] = {
		reward = {{type=1,id=200301,count=20}},
		rate = {[1]=0,[5]=10,[35]=0},
	},
	[14] = {
		reward = {{type=1,id=204132,count=1}},
		rate = {[1]=2,[5]=10,[35]=0},
	},
	[15] = {
		reward = {{type=1,id=204136,count=1}},
		rate = {[1]=5,[5]=20,[35]=0},
	},
	[16] = {
		reward = {{type=1,id=204135,count=1}},
		rate = {[1]=5,[5]=0,[35]=0},
	},
	[17] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[18] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[19] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=18,[5]=0,[35]=0},
	},
	[20] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=5,[5]=0,[35]=0},
	},
	[21] = {
		reward = {{type=1,id=200005,count=5}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[22] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[23] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=16,[5]=0,[35]=0},
	},
	[24] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=10,[5]=0,[35]=0},
	},
	[25] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[26] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=12,[5]=0,[35]=0},
	},
	[27] = {
		reward = {{type=1,id=200167,count=1000}},
		rate = {[1]=7,[5]=0,[35]=0},
	},
	[28] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[29] = {
		reward = {{type=1,id=200015,count=80}},
		rate = {[1]=0,[5]=0,[35]=0},
	},
	[30] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=20,[5]=0,[35]=0},
	},
},
[440] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[200]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=204166,count=1}},
		rate = {[1]=0,[10]=0.5,[100]=20},
		noticeId = 372,
	},
	[2] = {
		reward = {{type=1,id=200001,count=6}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200001,count=100}},
		rate = {[1]=0,[10]=34.5,[100]=20},
	},
	[4] = {
		reward = {{type=1,id=200005,count=12}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=200167,count=300}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=5,[100]=60},
		noticeId = 373,
	},
	[7] = {
		reward = {{type=1,id=200001,count=12}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[10]=35,[100]=0},
	},
	[9] = {
		reward = {{type=1,id=200167,count=600}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=601000,count=20}},
		rate = {[1]=0,[10]=25,[100]=0},
	},
},
[448] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[200]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=204166,count=1}},
		rate = {[1]=0,[10]=0.5,[100]=20},
		noticeId = 372,
	},
	[2] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200001,count=88}},
		rate = {[1]=0,[10]=34.5,[100]=20},
	},
	[4] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=5,[100]=60},
		noticeId = 373,
	},
	[7] = {
		reward = {{type=1,id=200001,count=7}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[10]=35,[100]=0},
	},
	[9] = {
		reward = {{type=1,id=200167,count=400}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=601000,count=20}},
		rate = {[1]=0,[10]=25,[100]=0},
	},
},
[455] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[200]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=204166,count=1}},
		rate = {[1]=0,[10]=0.5,[100]=20},
		noticeId = 372,
	},
	[2] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200001,count=88}},
		rate = {[1]=0,[10]=34.5,[100]=20},
	},
	[4] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=200167,count=250}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=5,[100]=60},
		noticeId = 373,
	},
	[7] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[10]=35,[100]=0},
	},
	[9] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=601000,count=20}},
		rate = {[1]=0,[10]=25,[100]=0},
	},
},
[456] = {
	[0] = {
		item = 200309,
		yb = 500,
		reward = {{type=0,id=1,count=1,times=500000}},
		serNum = {{[200]=1}},
		perNum = {{[3]=3,[30]=6},{[4]=3,[30]=6},{[5]=3,[30]=6},{[6]=3,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=204166,count=1}},
		rate = {[1]=0,[10]=0.5,[100]=20},
		noticeId = 372,
	},
	[2] = {
		reward = {{type=1,id=200001,count=6}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200001,count=100}},
		rate = {[1]=0,[10]=34.5,[100]=20},
	},
	[4] = {
		reward = {{type=1,id=200005,count=12}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=200167,count=300}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200316,count=1}},
		rate = {[1]=0,[10]=5,[100]=60},
		noticeId = 373,
	},
	[7] = {
		reward = {{type=1,id=200001,count=12}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[10]=35,[100]=0},
	},
	[9] = {
		reward = {{type=1,id=200167,count=600}},
		rate = {[1]=20,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=601000,count=20}},
		rate = {[1]=0,[10]=25,[100]=0},
	},
},
[653] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=201217,count=1,times=5},{type=1,id=201218,count=1,times=10},{type=1,id=201219,count=1,times=20},{type=1,id=201220,count=1,times=30},{type=1,id=201221,count=1,times=50},{type=1,id=201222,count=1,times=100},{type=1,id=201223,count=1,times=150},{type=1,id=201224,count=1,times=200},{type=1,id=201225,count=1,times=250},{type=1,id=201226,count=1,times=300},{type=1,id=201227,count=1,times=400},{type=1,id=201228,count=1,times=500},{type=1,id=201229,count=1,times=600},{type=1,id=201230,count=1,times=800},{type=1,id=201231,count=1,times=1000},{type=1,id=201232,count=1,times=1200}},
		serNum = {{[100]=1,[200]=3}},
	},
	[1] = {
		reward = {{type=1,id=204134,count=1}},
		rate = {[1]=0,[5]=1,[30]=6},
		noticeId = 410,
	},
	[2] = {
		reward = {{type=1,id=204133,count=1}},
		rate = {[1]=0,[5]=3,[30]=14},
		noticeId = 411,
	},
	[3] = {
		reward = {{type=1,id=204139,count=1}},
		rate = {[1]=0,[5]=2,[30]=20},
		noticeId = 412,
	},
	[4] = {
		reward = {{type=1,id=204138,count=1}},
		rate = {[1]=0,[5]=15,[30]=12},
		noticeId = 413,
	},
	[5] = {
		reward = {{type=1,id=200143,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 414,
	},
	[6] = {
		reward = {{type=1,id=200145,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 415,
	},
	[7] = {
		reward = {{type=1,id=200147,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 416,
	},
	[8] = {
		reward = {{type=1,id=200149,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 417,
	},
	[9] = {
		reward = {{type=1,id=200148,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 418,
	},
	[10] = {
		reward = {{type=1,id=200146,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 419,
	},
	[11] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[5]=10,[30]=0},
	},
	[12] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[5]=20,[30]=0},
	},
	[13] = {
		reward = {{type=1,id=200301,count=20}},
		rate = {[1]=0,[5]=10,[30]=0},
	},
	[14] = {
		reward = {{type=1,id=204132,count=1}},
		rate = {[1]=2,[5]=10,[30]=0},
	},
	[15] = {
		reward = {{type=1,id=204137,count=1}},
		rate = {[1]=5,[5]=20,[30]=0},
	},
	[16] = {
		reward = {{type=1,id=204136,count=1}},
		rate = {[1]=5,[5]=0,[30]=0},
	},
	[17] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[18] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[19] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=18,[5]=0,[30]=0},
	},
	[20] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=5,[5]=0,[30]=0},
	},
	[21] = {
		reward = {{type=1,id=200005,count=5}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[22] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[23] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=16,[5]=0,[30]=0},
	},
	[24] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=10,[5]=0,[30]=0},
	},
	[25] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[26] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=12,[5]=0,[30]=0},
	},
	[27] = {
		reward = {{type=1,id=200167,count=1000}},
		rate = {[1]=7,[5]=0,[30]=0},
	},
	[28] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[29] = {
		reward = {{type=1,id=200015,count=80}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[30] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=20,[5]=0,[30]=0},
	},
},
[705] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=201201,count=1,times=5},{type=1,id=201202,count=1,times=10},{type=1,id=201203,count=1,times=20},{type=1,id=201204,count=1,times=30},{type=1,id=201205,count=1,times=50},{type=1,id=201206,count=1,times=100},{type=1,id=201207,count=1,times=150},{type=1,id=201208,count=1,times=200},{type=1,id=201209,count=1,times=250},{type=1,id=201210,count=1,times=300},{type=1,id=201211,count=1,times=400},{type=1,id=201212,count=1,times=500},{type=1,id=201213,count=1,times=600},{type=1,id=201214,count=1,times=800},{type=1,id=201215,count=1,times=1000},{type=1,id=201216,count=1,times=1200}},
		serNum = {{[100]=1,[200]=3}},
	},
	[1] = {
		reward = {{type=1,id=204134,count=1}},
		rate = {[1]=0,[5]=1,[30]=6},
		noticeId = 400,
	},
	[2] = {
		reward = {{type=1,id=204133,count=1}},
		rate = {[1]=0,[5]=3,[30]=14},
		noticeId = 401,
	},
	[3] = {
		reward = {{type=1,id=204138,count=1}},
		rate = {[1]=0,[5]=2,[30]=20},
		noticeId = 402,
	},
	[4] = {
		reward = {{type=1,id=204137,count=1}},
		rate = {[1]=0,[5]=15,[30]=12},
		noticeId = 403,
	},
	[5] = {
		reward = {{type=1,id=200143,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 404,
	},
	[6] = {
		reward = {{type=1,id=200145,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 405,
	},
	[7] = {
		reward = {{type=1,id=200147,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 406,
	},
	[8] = {
		reward = {{type=1,id=200149,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 407,
	},
	[9] = {
		reward = {{type=1,id=200148,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 408,
	},
	[10] = {
		reward = {{type=1,id=200146,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 409,
	},
	[11] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[5]=10,[30]=0},
	},
	[12] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[5]=20,[30]=0},
	},
	[13] = {
		reward = {{type=1,id=200301,count=20}},
		rate = {[1]=0,[5]=10,[30]=0},
	},
	[14] = {
		reward = {{type=1,id=204132,count=1}},
		rate = {[1]=2,[5]=10,[30]=0},
	},
	[15] = {
		reward = {{type=1,id=204136,count=1}},
		rate = {[1]=5,[5]=20,[30]=0},
	},
	[16] = {
		reward = {{type=1,id=204135,count=1}},
		rate = {[1]=5,[5]=0,[30]=0},
	},
	[17] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=3,[5]=0,[30]=0},
	},
	[18] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=10,[5]=0,[30]=0},
	},
	[19] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=7,[5]=0,[30]=0},
	},
	[20] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=3,[5]=0,[30]=0},
	},
	[21] = {
		reward = {{type=1,id=200005,count=5}},
		rate = {[1]=8,[5]=0,[30]=0},
	},
	[22] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=15,[5]=0,[30]=0},
	},
	[23] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=11,[5]=0,[30]=0},
	},
	[24] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=2,[5]=0,[30]=0},
	},
	[25] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=3,[5]=0,[30]=0},
	},
	[26] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=6,[5]=0,[30]=0},
	},
	[27] = {
		reward = {{type=1,id=200167,count=1000}},
		rate = {[1]=2,[5]=0,[30]=0},
	},
	[28] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=5,[5]=0,[30]=0},
	},
	[29] = {
		reward = {{type=1,id=200015,count=80}},
		rate = {[1]=7,[5]=0,[30]=0},
	},
	[30] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=6,[5]=0,[30]=0},
	},
},
[706] = {
	[0] = {
		yb = 998,
		reward = {{type=1,id=201217,count=1,times=5},{type=1,id=201218,count=1,times=10},{type=1,id=201219,count=1,times=20},{type=1,id=201220,count=1,times=30},{type=1,id=201221,count=1,times=50},{type=1,id=201222,count=1,times=100},{type=1,id=201223,count=1,times=150},{type=1,id=201224,count=1,times=200},{type=1,id=201225,count=1,times=250},{type=1,id=201226,count=1,times=300},{type=1,id=201227,count=1,times=400},{type=1,id=201228,count=1,times=500},{type=1,id=201229,count=1,times=600},{type=1,id=201230,count=1,times=800},{type=1,id=201231,count=1,times=1000},{type=1,id=201232,count=1,times=1200}},
		serNum = {{[100]=1,[200]=3}},
	},
	[1] = {
		reward = {{type=1,id=204134,count=1}},
		rate = {[1]=0,[5]=1,[30]=6},
		noticeId = 410,
	},
	[2] = {
		reward = {{type=1,id=204133,count=1}},
		rate = {[1]=0,[5]=3,[30]=14},
		noticeId = 411,
	},
	[3] = {
		reward = {{type=1,id=204139,count=1}},
		rate = {[1]=0,[5]=2,[30]=20},
		noticeId = 412,
	},
	[4] = {
		reward = {{type=1,id=204138,count=1}},
		rate = {[1]=0,[5]=15,[30]=12},
		noticeId = 413,
	},
	[5] = {
		reward = {{type=1,id=200143,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 414,
	},
	[6] = {
		reward = {{type=1,id=200145,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 415,
	},
	[7] = {
		reward = {{type=1,id=200147,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 416,
	},
	[8] = {
		reward = {{type=1,id=200149,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 417,
	},
	[9] = {
		reward = {{type=1,id=200148,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 418,
	},
	[10] = {
		reward = {{type=1,id=200146,count=1}},
		rate = {[1]=0,[5]=1.5,[30]=8},
		noticeId = 419,
	},
	[11] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[5]=10,[30]=0},
	},
	[12] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[5]=20,[30]=0},
	},
	[13] = {
		reward = {{type=1,id=200301,count=20}},
		rate = {[1]=0,[5]=10,[30]=0},
	},
	[14] = {
		reward = {{type=1,id=204132,count=1}},
		rate = {[1]=2,[5]=10,[30]=0},
	},
	[15] = {
		reward = {{type=1,id=204137,count=1}},
		rate = {[1]=5,[5]=20,[30]=0},
	},
	[16] = {
		reward = {{type=1,id=204136,count=1}},
		rate = {[1]=5,[5]=0,[30]=0},
	},
	[17] = {
		reward = {{type=1,id=200001,count=5}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[18] = {
		reward = {{type=1,id=200001,count=8}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[19] = {
		reward = {{type=1,id=200001,count=10}},
		rate = {[1]=18,[5]=0,[30]=0},
	},
	[20] = {
		reward = {{type=1,id=200001,count=15}},
		rate = {[1]=5,[5]=0,[30]=0},
	},
	[21] = {
		reward = {{type=1,id=200005,count=5}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[22] = {
		reward = {{type=1,id=200005,count=8}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[23] = {
		reward = {{type=1,id=200005,count=10}},
		rate = {[1]=16,[5]=0,[30]=0},
	},
	[24] = {
		reward = {{type=1,id=200005,count=15}},
		rate = {[1]=10,[5]=0,[30]=0},
	},
	[25] = {
		reward = {{type=1,id=200167,count=200}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[26] = {
		reward = {{type=1,id=200167,count=500}},
		rate = {[1]=12,[5]=0,[30]=0},
	},
	[27] = {
		reward = {{type=1,id=200167,count=1000}},
		rate = {[1]=7,[5]=0,[30]=0},
	},
	[28] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[29] = {
		reward = {{type=1,id=200015,count=80}},
		rate = {[1]=0,[5]=0,[30]=0},
	},
	[30] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=20,[5]=0,[30]=0},
	},
},
[902] = {
	[0] = {
		item = 200334,
		yb = 500,
		reward = {{type=1,id=200015,count=300,times=5},{type=1,id=200208,count=400,times=10},{type=1,id=202008,count=1,times=20},{type=1,id=200208,count=600,times=30},{type=1,id=200208,count=800,times=50},{type=1,id=210106,count=1,times=100},{type=1,id=200208,count=1000,times=150},{type=1,id=200208,count=1000,times=200},{type=1,id=202007,count=1,times=250},{type=1,id=200208,count=1000,times=300},{type=1,id=200208,count=1500,times=400},{type=1,id=210109,count=1,times=500}},
		isReset = 1,
		serNum = {{[200]=1}},
		perNum = {{[7]=5,[30]=6},{[8]=5,[30]=6},{[5]=5,[30]=6},{[6]=5,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=200211,count=1}},
		rate = {[1]=0,[10]=50,[100]=3000},
		noticeId = 422,
	},
	[2] = {
		reward = {{type=1,id=200015,count=60}},
		rate = {[1]=2500,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[10]=4000,[100]=1000},
	},
	[4] = {
		reward = {{type=1,id=200208,count=60}},
		rate = {[1]=2500,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=1000,[10]=3750,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200212,count=1}},
		rate = {[1]=0,[10]=600,[100]=1500},
		noticeId = 423,
	},
	[7] = {
		reward = {{type=1,id=200015,count=120}},
		rate = {[1]=2000,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200213,count=1}},
		rate = {[1]=0,[10]=600,[100]=1500},
		noticeId = 424,
	},
	[9] = {
		reward = {{type=1,id=200208,count=120}},
		rate = {[1]=2000,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=204159,count=1}},
		rate = {[1]=0,[10]=1000,[100]=3000},
	},
},
[922] = {
	[0] = {
		item = 200334,
		yb = 500,
		reward = {{type=1,id=200015,count=100,times=5},{type=1,id=200015,count=400,times=10},{type=1,id=202006,count=1,times=20},{type=1,id=200208,count=500,times=30},{type=1,id=200208,count=800,times=50},{type=1,id=202008,count=1,times=100},{type=1,id=200208,count=1000,times=150},{type=1,id=200208,count=1000,times=200},{type=1,id=202007,count=1,times=250},{type=1,id=200208,count=1000,times=300},{type=1,id=200208,count=1500,times=400},{type=1,id=210106,count=1,times=500}},
		isReset = 1,
		serNum = {{[200]=1}},
		perNum = {{[7]=5,[30]=6},{[8]=5,[30]=6},{[5]=5,[30]=6},{[6]=5,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=200211,count=1}},
		rate = {[1]=0,[10]=50,[100]=3000},
		noticeId = 422,
	},
	[2] = {
		reward = {{type=1,id=200015,count=50}},
		rate = {[1]=2500,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200315,count=1}},
		rate = {[1]=0,[10]=2750,[100]=3000},
	},
	[4] = {
		reward = {{type=1,id=200208,count=50}},
		rate = {[1]=2500,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=200301,count=50}},
		rate = {[1]=0,[10]=5000,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200212,count=1}},
		rate = {[1]=0,[10]=600,[100]=1500},
		noticeId = 423,
	},
	[7] = {
		reward = {{type=1,id=200015,count=100}},
		rate = {[1]=2000,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200213,count=1}},
		rate = {[1]=0,[10]=600,[100]=1500},
		noticeId = 424,
	},
	[9] = {
		reward = {{type=1,id=200208,count=100}},
		rate = {[1]=2000,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=200301,count=10}},
		rate = {[1]=1000,[10]=1000,[100]=1000},
	},
},
[923] = {
	[0] = {
		item = 200334,
		yb = 500,
		reward = {{type=1,id=200015,count=300,times=5},{type=1,id=200208,count=400,times=10},{type=1,id=202008,count=1,times=20},{type=1,id=200208,count=600,times=30},{type=1,id=200208,count=800,times=50},{type=1,id=210106,count=1,times=100},{type=1,id=200208,count=1000,times=150},{type=1,id=200208,count=1000,times=200},{type=1,id=202007,count=1,times=250},{type=1,id=200208,count=1000,times=300},{type=1,id=200208,count=1500,times=400},{type=1,id=210109,count=1,times=500}},
		isReset = 1,
		serNum = {{[200]=1}},
		perNum = {{[7]=5,[30]=6},{[8]=5,[30]=6},{[5]=5,[30]=6},{[6]=5,[30]=6}},
	},
	[1] = {
		reward = {{type=1,id=200211,count=1}},
		rate = {[1]=0,[10]=50,[100]=3000},
		noticeId = 422,
	},
	[2] = {
		reward = {{type=1,id=200015,count=60}},
		rate = {[1]=2500,[10]=0,[100]=0},
	},
	[3] = {
		reward = {{type=1,id=200301,count=100}},
		rate = {[1]=0,[10]=4000,[100]=1000},
	},
	[4] = {
		reward = {{type=1,id=200208,count=60}},
		rate = {[1]=2500,[10]=0,[100]=0},
	},
	[5] = {
		reward = {{type=1,id=204156,count=1}},
		rate = {[1]=1000,[10]=3750,[100]=0},
	},
	[6] = {
		reward = {{type=1,id=200212,count=1}},
		rate = {[1]=0,[10]=600,[100]=1500},
		noticeId = 423,
	},
	[7] = {
		reward = {{type=1,id=200015,count=120}},
		rate = {[1]=2000,[10]=0,[100]=0},
	},
	[8] = {
		reward = {{type=1,id=200213,count=1}},
		rate = {[1]=0,[10]=600,[100]=1500},
		noticeId = 424,
	},
	[9] = {
		reward = {{type=1,id=200208,count=120}},
		rate = {[1]=2000,[10]=0,[100]=0},
	},
	[10] = {
		reward = {{type=1,id=204159,count=1}},
		rate = {[1]=0,[10]=1000,[100]=3000},
	},
},
}