--H-活动配置.xlsx 22-1
ActivityType22_1Config={
[325] = {
	[1] = {
		Id = 325,
		index = 1,
		itemCount = 6,
		freshTime = 14400,
		freshPrice = 200,
		freshItem = 204152,
	},
},
[367] = {
	[1] = {
		Id = 367,
		index = 1,
		itemCount = 6,
		freshTime = 14400,
		freshPrice = 200,
		freshItem = 204152,
	},
},
[368] = {
	[1] = {
		Id = 368,
		index = 1,
		itemCount = 6,
		freshTime = 14400,
		freshPrice = 200,
		freshItem = 204152,
	},
},
[1002] = {
	[1] = {
		Id = 1002,
		index = 1,
		itemCount = 6,
		freshTime = 14400,
		freshPrice = 200,
		showList = {[1]=5,[2]=4,[3]=3,[4]=2,[5]=1},
		costItem = 200342,
		vGroup = {[1]={rate=1000,count={[1]=3,[2]=7}}},
	},
},
}