--H-活动配置.xlsx 类型12
ActivityType12Config={
[439] = {
	[1] = {
		id = 439,
		index = 1,
		score = 10,
		ybCount = 5,
		ybRandom = {20,60},
		goldRandom = {20000,60000},
		exitTime = 600,
		wordCount = 20,
	},
	[2] = {
		id = 439,
		index = 2,
		score = 100,
		ybCount = 20,
		ybRandom = {50,150},
		goldRandom = {50000,150000},
		exitTime = 3600,
		wordCount = 20,
		isRecord = 1,
	},
	[3] = {
		id = 439,
		index = 3,
		score = 1000,
		isCross = 1,
		ybCount = 30,
		ybRandom = {100,300},
		goldRandom = {100000,300000},
		exitTime = 18000,
		wordCount = 20,
		isRecord = 1,
	},
},
[447] = {
	[1] = {
		id = 447,
		index = 1,
		score = 10,
		ybCount = 5,
		ybRandom = {20,60},
		goldRandom = {20000,60000},
		exitTime = 600,
		wordCount = 20,
	},
	[2] = {
		id = 447,
		index = 2,
		score = 100,
		ybCount = 20,
		ybRandom = {50,150},
		goldRandom = {50000,150000},
		exitTime = 3600,
		wordCount = 20,
		isRecord = 1,
	},
	[3] = {
		id = 447,
		index = 3,
		score = 1000,
		isCross = 1,
		ybCount = 30,
		ybRandom = {100,300},
		goldRandom = {100000,300000},
		exitTime = 18000,
		wordCount = 20,
		isRecord = 1,
	},
},
[550] = {
	[1] = {
		id = 550,
		index = 1,
		score = 100,
		ybCount = 20,
		ybRandom = {50,150},
		goldRandom = {50000,150000},
		exitTime = 600,
		wordCount = 20,
		isRecord = 1,
	},
	[2] = {
		id = 550,
		index = 2,
		score = 500,
		ybCount = 20,
		ybRandom = {250,750},
		goldRandom = {250000,750000},
		exitTime = 3600,
		wordCount = 20,
		isRecord = 1,
	},
	[3] = {
		id = 550,
		index = 3,
		score = 1000,
		isCross = 1,
		ybCount = 40,
		ybRandom = {250,750},
		goldRandom = {250000,750000},
		exitTime = 18000,
		wordCount = 20,
		isRecord = 1,
	},
},
[565] = {
	[1] = {
		id = 565,
		index = 1,
		score = 100,
		ybCount = 20,
		ybRandom = {50,150},
		goldRandom = {50000,150000},
		exitTime = 600,
		wordCount = 20,
		isRecord = 1,
	},
	[2] = {
		id = 565,
		index = 2,
		score = 500,
		ybCount = 20,
		ybRandom = {250,750},
		goldRandom = {250000,750000},
		exitTime = 3600,
		wordCount = 20,
		isRecord = 1,
	},
	[3] = {
		id = 565,
		index = 3,
		score = 1000,
		isCross = 1,
		ybCount = 40,
		ybRandom = {250,750},
		goldRandom = {250000,750000},
		exitTime = 18000,
		wordCount = 20,
		isRecord = 1,
	},
},
}