--H-活动配置.xlsx 21
ActivityType21Config={
[401] = {
	[1] = {
		Id = 401,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 13,
		rate = 10000,
		rewardType = 2,
		reward = 1653282,
	},
	[2] = {
		Id = 401,
		index = 2,
		type = 101,
		param = 8,
		dayLimit = 10,
		rate = 10000,
		rewardType = 2,
		reward = 1653283,
	},
	[3] = {
		Id = 401,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653284,
	},
	[4] = {
		Id = 401,
		index = 4,
		type = 101,
		param = 7,
		dayLimit = 5,
		rate = 10000,
		rewardType = 2,
		reward = 1653285,
	},
	[5] = {
		Id = 401,
		index = 5,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 10000,
		rewardType = 2,
		reward = 1653286,
	},
	[6] = {
		Id = 401,
		index = 6,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653287,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[7] = {
		Id = 401,
		index = 7,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653288,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[410] = {
	[1] = {
		Id = 410,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 13,
		rate = 10000,
		rewardType = 2,
		reward = 1653289,
	},
	[2] = {
		Id = 410,
		index = 2,
		type = 101,
		param = 8,
		dayLimit = 10,
		rate = 10000,
		rewardType = 2,
		reward = 1653290,
	},
	[3] = {
		Id = 410,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653291,
	},
	[4] = {
		Id = 410,
		index = 4,
		type = 101,
		param = 7,
		dayLimit = 5,
		rate = 10000,
		rewardType = 2,
		reward = 1653292,
	},
	[5] = {
		Id = 410,
		index = 5,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 10000,
		rewardType = 2,
		reward = 1653293,
	},
	[6] = {
		Id = 410,
		index = 6,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653294,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[7] = {
		Id = 410,
		index = 7,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653295,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[417] = {
	[1] = {
		Id = 417,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 13,
		rate = 10000,
		rewardType = 2,
		reward = 1653296,
	},
	[2] = {
		Id = 417,
		index = 2,
		type = 101,
		param = 8,
		dayLimit = 10,
		rate = 10000,
		rewardType = 2,
		reward = 1653297,
	},
	[3] = {
		Id = 417,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653298,
	},
	[4] = {
		Id = 417,
		index = 4,
		type = 101,
		param = 7,
		dayLimit = 5,
		rate = 10000,
		rewardType = 2,
		reward = 1653299,
	},
	[5] = {
		Id = 417,
		index = 5,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 10000,
		rewardType = 2,
		reward = 1653300,
	},
	[6] = {
		Id = 417,
		index = 6,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653301,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[7] = {
		Id = 417,
		index = 7,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653302,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[603] = {
	[1] = {
		Id = 603,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 3,
		rate = 5000,
		rewardType = 2,
		reward = 1653394,
	},
	[2] = {
		Id = 603,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653394,
	},
	[3] = {
		Id = 603,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653394,
	},
	[4] = {
		Id = 603,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 3,
		rate = 2000,
		rewardType = 2,
		reward = 1653394,
	},
	[5] = {
		Id = 603,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653394,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 603,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 1,
		rate = 10000,
		rewardType = 1,
		reward = 1653394,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[611] = {
	[1] = {
		Id = 611,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 3,
		rate = 5000,
		rewardType = 2,
		reward = 1653394,
	},
	[2] = {
		Id = 611,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653394,
	},
	[3] = {
		Id = 611,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653394,
	},
	[4] = {
		Id = 611,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 3,
		rate = 2000,
		rewardType = 2,
		reward = 1653394,
	},
	[5] = {
		Id = 611,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653394,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 611,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 1,
		rate = 10000,
		rewardType = 1,
		reward = 1653394,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[623] = {
	[1] = {
		Id = 623,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 3,
		rate = 5000,
		rewardType = 2,
		reward = 1653394,
	},
	[2] = {
		Id = 623,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653394,
	},
	[3] = {
		Id = 623,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653394,
	},
	[4] = {
		Id = 623,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 3,
		rate = 2000,
		rewardType = 2,
		reward = 1653394,
	},
	[5] = {
		Id = 623,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653394,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 623,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 1,
		rate = 10000,
		rewardType = 1,
		reward = 1653394,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[650] = {
	[1] = {
		Id = 650,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 5,
		rate = 5000,
		rewardType = 2,
		reward = 1653712,
	},
	[2] = {
		Id = 650,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 15,
		rate = 5000,
		rewardType = 2,
		reward = 1653713,
	},
	[3] = {
		Id = 650,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653714,
	},
	[4] = {
		Id = 650,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653715,
	},
	[5] = {
		Id = 650,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653716,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 650,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653717,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[702] = {
	[1] = {
		Id = 702,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 5,
		rate = 5000,
		rewardType = 2,
		reward = 1653700,
	},
	[2] = {
		Id = 702,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 15,
		rate = 5000,
		rewardType = 2,
		reward = 1653701,
	},
	[3] = {
		Id = 702,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653702,
	},
	[4] = {
		Id = 702,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653703,
	},
	[5] = {
		Id = 702,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653704,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 702,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653705,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[703] = {
	[1] = {
		Id = 703,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 5,
		rate = 5000,
		rewardType = 2,
		reward = 1653706,
	},
	[2] = {
		Id = 703,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 15,
		rate = 5000,
		rewardType = 2,
		reward = 1653707,
	},
	[3] = {
		Id = 703,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653708,
	},
	[4] = {
		Id = 703,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653709,
	},
	[5] = {
		Id = 703,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653710,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 703,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653711,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[704] = {
	[1] = {
		Id = 704,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 5,
		rate = 5000,
		rewardType = 2,
		reward = 1653712,
	},
	[2] = {
		Id = 704,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 15,
		rate = 5000,
		rewardType = 2,
		reward = 1653713,
	},
	[3] = {
		Id = 704,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653714,
	},
	[4] = {
		Id = 704,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653715,
	},
	[5] = {
		Id = 704,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 3,
		rate = 10000,
		rewardType = 1,
		reward = 1653716,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 704,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653717,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[901] = {
	[1] = {
		Id = 901,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 3,
		rate = 5000,
		rewardType = 2,
		reward = 1653962,
	},
	[2] = {
		Id = 901,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653962,
	},
	[3] = {
		Id = 901,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653962,
	},
	[4] = {
		Id = 901,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 3,
		rate = 2000,
		rewardType = 2,
		reward = 1653962,
	},
	[5] = {
		Id = 901,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653962,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 901,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 1,
		rate = 10000,
		rewardType = 1,
		reward = 1653962,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
[921] = {
	[1] = {
		Id = 921,
		index = 1,
		type = 101,
		param = 6,
		dayLimit = 3,
		rate = 5000,
		rewardType = 2,
		reward = 1653962,
	},
	[2] = {
		Id = 921,
		index = 2,
		type = 101,
		param = 7,
		dayLimit = 8,
		rate = 4000,
		rewardType = 2,
		reward = 1653962,
	},
	[3] = {
		Id = 921,
		index = 3,
		type = 101,
		param = 10,
		dayLimit = 3,
		rate = 10000,
		rewardType = 2,
		reward = 1653962,
	},
	[4] = {
		Id = 921,
		index = 4,
		type = 101,
		param = 17,
		dayLimit = 3,
		rate = 2000,
		rewardType = 2,
		reward = 1653962,
	},
	[5] = {
		Id = 921,
		index = 5,
		type = 101,
		param = 26,
		dayLimit = 2,
		rate = 10000,
		rewardType = 1,
		reward = 1653962,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵圣域BOSS，获得以下奖励！"},
	},
	[6] = {
		Id = 921,
		index = 6,
		type = 101,
		param = 27,
		dayLimit = 1,
		rate = 10000,
		rewardType = 1,
		reward = 1653962,
		mailInfo = {head="限时掉落",context="恭喜您在限时活动中，参与神兵塔BOSS，获得以下奖励！"},
	},
},
}