--T-特权.xlsx 常量配置
PrivilegeData={
	priviMoney = 8800,
	priviCardDays = 30,
	priviDailyAward = {{type = 0,id = 14,count = 30000}},
	priviOpenMailHead = "成功激活特权月卡",
	priviOpenMailContext = "亲爱的玩家恭喜您激活了特权月卡，并获得|C:0xff00ff&T:至尊贵族|称号，祝您游戏愉快",
	priviEndMailHead = "特权月卡到期通知",
	priviEndMailContext = "尊敬的特权月卡玩家，您的特权月卡已到期。再次续费可继续享有特权月卡的超值福利。",
	priviBoss = 17,
	exringFubenCount = 1,
	addKuangCount = 1,
	priviOpenReward = {{type = 0,id = 2,count = 8800}},
	firstMailHead = "特权月卡首购元宝",
	reduceKuangTime = 600,
	firstMailContex = "恭喜您获得了首次激活特权月卡额外赠送的8800元宝，祝您游戏愉快",
}