--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["9130niubi1"] = {
	code = "9130niubi1",
	appid = 3001,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi2"] = {
	code = "9130niubi2",
	appid = 3002,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi3"] = {
	code = "9130niubi3",
	appid = 3003,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi4"] = {
	code = "9130niubi4",
	appid = 3004,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi5"] = {
	code = "9130niubi5",
	appid = 3005,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi6"] = {
	code = "9130niubi6",
	appid = 3006,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi7"] = {
	code = "9130niubi7",
	appid = 3007,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["wanjiababa666"] = {
	code = "wanjiababa666",
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["woaizzcq"] = {
	code = "woaizzcq",
	mailTitle = "加群礼包兑换成功",
	mailContent = "礼包兑换成功，奖励请领取后在背包中查看。",
	gift = {{type=1,id=200002,count=300},{type=0,id=1,count=300000},{type=0,id=4,count=600},{type=1,id=500004,count=2}},
},
}