--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["9130niubi1"] = {
	code = "9130niubi1",
	appid = 3001,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi2"] = {
	code = "9130niubi2",
	appid = 3002,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi3"] = {
	code = "9130niubi3",
	appid = 3003,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi4"] = {
	code = "9130niubi4",
	appid = 3004,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi5"] = {
	code = "9130niubi5",
	appid = 3005,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi6"] = {
	code = "9130niubi6",
	appid = 3006,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["9130niubi7"] = {
	code = "9130niubi7",
	appid = 3007,
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["wanjiababa666"] = {
	code = "wanjiababa666",
	mailTitle = "加群礼包兑换成功",
	mailContent = "加群礼包兑换成功。您获得了强化石*50、精炼石*600、金币*500000、经脉丹*10，请在背包中查看",
	gift = {{type=1,id=200002,count=50},{type=0,id=4,count=600},{type=0,id=1,count=500000},{type=1,id=200004,count=10}},
},
["woaizzcq"] = {
	code = "woaizzcq",
	mailTitle = "加群礼包兑换成功",
	mailContent = "礼包兑换成功，奖励请领取后在背包中查看。",
	gift = {{type=1,id=200002,count=300},{type=0,id=1,count=300000},{type=0,id=4,count=600},{type=1,id=500004,count=2}},
},
["xdlb"] = {
	code = "xdlb",
	mailTitle = "限定礼包兑换成功",
	mailContent = "限定礼包兑换成功，您获得了热血神剑（一阶）*1，热血神甲（一阶）*1，至尊神甲*1，至尊神剑*1，请在背包中查看",
	gift = {{type=1,id=101501,count=1},{type=1,id=121501,count=1},{type=1,id=204079,count=1},{type=1,id=204077,count=1}},
},
["sjlb1"] = {
	code = "sjlb1",
	mailTitle = "升级礼包兑换成功",
	mailContent = "升级礼包兑换成功，您获得了直升丹*500，请在背包中查看",
	gift = {{type=1,id=200137,count=500}},
},
["test"] = {
	code = "test",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=200012,count=1000},{type=1,id=200007,count=1000000},{type=1,id=200003,count=1000000},{type=1,id=200004,count=1000000},},
},
["test1"] = {
	code = "test1",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=200164,count=100000},{type=1,id=200301,count=1000000},{type=1,id=600013,count=3},{type=1,id=600014,count=3},{type=1,id=200014,count=2},},
},
["test2"] = {
	code = "test2",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=204077,count=100},{type=1,id=204078,count=100},{type=1,id=204079,count=100},{type=1,id=204080,count=100},{type=1,id=204081,count=100},{type=1,id=204082,count=100},{type=1,id=204083,count=100},{type=1,id=204084,count=100},},
},
["test3"] = {
	code = "test3",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=410001,count=50},{type=1,id=410002,count=50},{type=1,id=410003,count=50},{type=1,id=410004,count=50},{type=1,id=200208,count=1000000},{type=1,id=201107,count=100000},{type=1,id=200977,count=100000},},
},
["test4"] = {
	code = "test4",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=313405,count=5},{type=1,id=311405,count=5},{type=1,id=312405,count=5},{type=1,id=314405,count=5},{type=1,id=315405,count=5},{type=1,id=280005,count=3},{type=1,id=280015,count=3},{type=1,id=280025,count=3},{type=1,id=280035,count=3},{type=1,id=280045,count=3},{type=1,id=280055,count=3},{type=1,id=280065,count=3},{type=1,id=280075,count=3},},
},
["test5"] = {
	code = "test5",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=313405,count=5},{type=1,id=311405,count=5},{type=1,id=312405,count=5},{type=1,id=314405,count=5},{type=1,id=315405,count=5},{type=1,id=200002,count=10000000},{type=1,id=200002,count=10000000},{type=1,id=200136,count=10000000},{type=1,id=200331,count=1000},{type=1,id=204167,count=3},{type=1,id=204142,count=3},{type=1,id=204143,count=3},},
},
["test6"] = {
	code = "test6",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=519499,count=3},{type=1,id=520499,count=3},{type=1,id=521499,count=3},{type=1,id=522499,count=3},{type=1,id=523499,count=3},{type=1,id=524499,count=3},{type=1,id=525499,count=3},{type=1,id=526499,count=3},{type=1,id=527499,count=3},{type=1,id=204163,count=99},{type=1,id=601105,count=3},{type=1,id=601205,count=3},{type=1,id=601305,count=3},{type=1,id=601405,count=3},{type=1,id=270003,count=9999},},
},
["test7"] = {
	code = "test7",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=1110100,count=9},{type=1,id=1210100,count=9},{type=1,id=1310100,count=9},{type=1,id=1410100,count=9},{type=1,id=1510100,count=9},},
},
["test888"] = {
	code = "test888",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=910041,count=99},{type=1,id=910042,count=99},{type=1,id=910043,count=99},{type=1,id=910044,count=99},{type=1,id=910045,count=99},{type=1,id=910046,count=99},{type=1,id=910047,count=99},{type=1,id=910048,count=99},},
},
["test999"] = {
	code = "test999",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=910031,count=1},{type=1,id=910042,count=1},{type=1,id=910033,count=1},{type=1,id=910034,count=1},{type=1,id=910035,count=1},{type=1,id=910036,count=1},{type=1,id=910037,count=1},{type=1,id=910038,count=1},},
},
["test9999"] = {
	code = "test9999",
	mailTitle = "ceshi礼包兑换成功",
	mailContent = "ceshi礼包兑换成功礼包兑换成功，请在背包中查看",
	gift = {{type=1,id=910021,count=1},{type=1,id=910022,count=1},{type=1,id=910023,count=1},{type=1,id=910024,count=1},{type=1,id=910025,count=1},{type=1,id=910026,count=1},{type=1,id=910027,count=1},{type=1,id=910028,count=1},},
},
["test789"] = {
	code = "test789",
	mailTitle = "特权礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了聚灵石*50，洗髓丹*30，御器精魄*30，请在背包中查看",
	gift = {{type=1,id=204132,count=1},{type=1,id=204133,count=1},{type=1,id=204134,count=1}},
},
}