--L-礼包兑换码.xlsx 渠道激活码
ChannelGiftCodeConfig={
["4fbb9b6d"] = {
	code = "4fbb9b6d",
	appid = 3001,
	mailTitle = "新手礼包兑换成功",
	mailContent = "新手礼包兑换成功。您获得了强化石*666，元宝*10000，龙魂碎片*50,经脉丹*50，请在背包中查看",
	gift = {{type=1,id=200002,count=666},{type=1,id=200005,count=50},{type=0,id=2,count=10000},{type=1,id=200004,count=50}},
},
["5fe19be7"] = {
	code = "5fe19be7",
	appid = 3002,
	mailTitle = "特权礼包兑换成功",
	mailContent = "特权礼包兑换成功。您获得了铸造晶石*66，羽毛*66，龙魂碎片*66，强化石*66，请在背包中查看",
	gift = {{type=1,id=200003,count=66},{type=1,id=200001,count=66},{type=1,id=200005,count=66},{type=1,id=200002,count=66}},
},
["518e65a0"] = {
	code = "518e65a0",
	appid = 3003,
	mailTitle = "初级礼包兑换成功",
	mailContent = "初级礼包兑换成功。您获得了金币*100W、元宝3000、传世寻宝卷*1，请在背包中查看",
	gift = {{type=0,id=1,count=1000000},{type=0,id=2,count=3000},{type=1,id=200300,count=1}},
},
["da56facc"] = {
	code = "da56facc",
	appid = 3004,
	mailTitle = "中级礼包兑换成功",
	mailContent = "中级礼包兑换成功。您获得了金币*200W、元宝5000、传世寻宝卷*3，请在背包中查看",
	gift = {{type=0,id=1,count=2000000},{type=0,id=2,count=5000},{type=1,id=200300,count=3}},
},
["699006bc"] = {
	code = "699006bc",
	appid = 3005,
	mailTitle = "高级礼包兑换成功",
	mailContent = "高级礼包兑换成功。您获得了金币*300W、元宝8000、传世寻宝卷*5，请在背包中查看",
	gift = {{type=0,id=1,count=3000000},{type=0,id=2,count=8000},{type=1,id=200300,count=5}},
},
["d9d21ef8"] = {
	code = "d9d21ef8",
	appid = 3006,
	mailTitle = "限定礼包兑换成功",
	mailContent = "限定礼包兑换成功。您获得了热血神剑（一阶）*1，热血神甲（一阶）*1，至尊神甲*1，至尊神剑*1，请在背包中查看",
	gift = {{type=1,id=101501,count=1},{type=1,id=121501,count=1},{type=1,id=204079,count=1},{type=1,id=204077,count=1}},
},

}