--X-寻宝战纹配置.xlsx 探宝次数累计奖励配置
FuwenTreasureRewardConfig={
[1] = {
	id = 1,
	needTime = 10,
	reward = {{type=0,id=10,count=120}},
},
[2] = {
	id = 2,
	needTime = 30,
	reward = {{type=0,id=10,count=260}},
},
[3] = {
	id = 3,
	needTime = 70,
	reward = {{type=0,id=10,count=600}},
},
[4] = {
	id = 4,
	needTime = 130,
	reward = {{type=0,id=10,count=1000}},
},
[5] = {
	id = 5,
	needTime = 250,
	reward = {{type=0,id=10,count=2100}},
},
}