--X-寻宝战纹配置.xlsx 探宝级别配置
FuwenTreasureLevelConfig={
{
	level = 0,
	levelend = 19,
	dropGroupId = 1510001,
	eDropGroupId = 1510315,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510101},{count=50,dropGroupId=1510401},{count=199,dropGroupId=1510201}},
},
{
	level = 20,
	levelend = 39,
	dropGroupId = 1510002,
	eDropGroupId = 1510316,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510102},{count=50,dropGroupId=1510402},{count=199,dropGroupId=1510202}},
},
{
	level = 40,
	levelend = 59,
	dropGroupId = 1510003,
	eDropGroupId = 1510317,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510103},{count=50,dropGroupId=1510403},{count=199,dropGroupId=1510203}},
},
{
	level = 60,
	levelend = 79,
	dropGroupId = 1510004,
	eDropGroupId = 1510318,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510104},{count=50,dropGroupId=1510404},{count=199,dropGroupId=1510204}},
},
{
	level = 80,
	levelend = 99,
	dropGroupId = 1510005,
	eDropGroupId = 1510319,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510105},{count=50,dropGroupId=1510405},{count=199,dropGroupId=1510205}},
},
{
	level = 100,
	levelend = 109,
	dropGroupId = 1510006,
	eDropGroupId = 1510320,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510106},{count=50,dropGroupId=1510406},{count=199,dropGroupId=1510206}},
},
{
	level = 110,
	levelend = 129,
	dropGroupId = 1510007,
	eDropGroupId = 1510321,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510107},{count=50,dropGroupId=1510407},{count=199,dropGroupId=1510207}},
},
{
	level = 130,
	levelend = 149,
	dropGroupId = 1510008,
	eDropGroupId = 1510322,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510108},{count=50,dropGroupId=1510408},{count=199,dropGroupId=1510208}},
},
{
	level = 150,
	levelend = 189,
	dropGroupId = 1510009,
	eDropGroupId = 1510323,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510109},{count=50,dropGroupId=1510409},{count=199,dropGroupId=1510209}},
},
{
	level = 190,
	levelend = 249,
	dropGroupId = 1510010,
	eDropGroupId = 1510324,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510110},{count=50,dropGroupId=1510410},{count=199,dropGroupId=1510210}},
},
{
	level = 250,
	levelend = 269,
	dropGroupId = 1510011,
	eDropGroupId = 1510325,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510111},{count=50,dropGroupId=1510411},{count=199,dropGroupId=1510211}},
},
{
	level = 270,
	levelend = 319,
	dropGroupId = 1510012,
	eDropGroupId = 1510326,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510112},{count=50,dropGroupId=1510412},{count=199,dropGroupId=1510212}},
},
{
	level = 320,
	levelend = 999999,
	dropGroupId = 1510013,
	eDropGroupId = 1510327,
	cumulativeDropGroupId = {{count=10,dropGroupId=1510113},{count=50,dropGroupId=1510413},{count=199,dropGroupId=1510213}},
},
}