--X-寻宝战纹配置.xlsx 序列库
FuwenSequencePoolConf={
[0] = {
	[1] = {
		hefuCount = 0,
		id = 1,
		pool = {},
	},
	[2] = {
		hefuCount = 0,
		id = 2,
		pool = {},
	},
	[3] = {
		hefuCount = 0,
		id = 3,
		pool = {},
	},
	[4] = {
		hefuCount = 0,
		id = 4,
		pool = {},
	},
},
[1] = {
	[1] = {
		hefuCount = 1,
		id = 1,
		pool = {},
	},
	[2] = {
		hefuCount = 1,
		id = 2,
		pool = {},
	},
	[3] = {
		hefuCount = 1,
		id = 3,
		pool = {},
	},
	[4] = {
		hefuCount = 1,
		id = 4,
		pool = {},
	},
},
}