--G-公告列表.xlsx 公告配置
NoticeConfig={
[1] = {
	id = 1,
	type = 1,
	content = "烈焰滔天的火龙教主出现在他的王座中，整个玛法大陆沸腾了！",
},
[2] = {
	id = 2,
	type = 1,
	content = "不可一世的火龙教主大肆破坏后离去，勇士们却无可奈何。",
},
[3] = {
	id = 3,
	type = 1,
	content = "火龙教主被%s击杀了，玛法大陆重回宁静",
},
[4] = {
	id = 4,
	type = 1,
	content = "火龙教主血量不足%s,请勇士们抓紧时间进攻！",
},
[5] = {
	id = 5,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功合成了|C:0xff0000&T:%s-%d级|，走上了人生巅峰！",
},
[6] = {
	id = 6,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功将神装提升至|C:0xff0000&T:%s-%d级|，敢问谁来一战！",
},
[7] = {
	id = 7,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功将神装提升至|C:0xff0000&T:%s-%d转|美滋滋",
},
[8] = {
	id = 8,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功激活了|C:0xfe4444&T:%s|！",
},
[9] = {
	id = 9,
	type = 1,
	content = "这里是幸运护盾奖励的公告，暂未补充",
},
[10] = {
	id = 10,
	type = 1,
	content = "转生BOSS大肆破坏后消失在混沌中，无迹可寻",
},
[11] = {
	id = 11,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在击破|C:0xffb82a&T:%s|的护盾时意外获得了|C:0xffb82a&T:%s|!",
},
[12] = {
	id = 12,
	type = 1,
	content = "|C:0x16b2ff&T:%s|力挫其他勇士，成功拿到了|C:0xffb82a&T:%s|的最后一击，获得了|C:0xffb82a&T:%s|",
},
[13] = {
	id = 13,
	type = 3,
	content = "|C:0xf7d187&T:%s|在|C:0x16b2ff&T:%s|击败了|C:0x16b2ff&T:%s|爆出|C:0xfe0000&T:%s|",
},
[14] = {
	id = 14,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:月魔王|，爆出|C:0xff0000&T:%s|",
},
[15] = {
	id = 15,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:牛魔王|，爆出|C:0xff0000&T:%s|",
},
[16] = {
	id = 16,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:逆龙皇|，爆出|C:0xff0000&T:%s|",
},
[17] = {
	id = 17,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:九尾狐王|，爆出|C:0xff0000&T:%s|",
},
[18] = {
	id = 18,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:唳鬼王|，爆出|C:0xff0000&T:%s|",
},
[19] = {
	id = 19,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:雷炎蛛王|，爆出|C:0xff0000&T:%s|",
},
[20] = {
	id = 20,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:杀戮魔尊|，爆出|C:0xff0000&T:%s|",
},
[21] = {
	id = 21,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:冥王|，爆出|C:0xff0000&T:%s|",
},
[22] = {
	id = 22,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:地狱牛魔|，爆出|C:0xff0000&T:%s|",
},
[23] = {
	id = 23,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:圣甲沙虫王|，爆出|C:0xff0000&T:%s|",
},
[24] = {
	id = 24,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:沙城之王|，爆出|C:0xff0000&T:%s|",
},
[25] = {
	id = 25,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了|C:0xffb82a&T:修罗恶鬼|，爆出|C:0xff0000&T:%s|",
},
[26] = {
	id = 26,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在寻宝中获得了|C:0xfe4444&T:%s|",
},
[27] = {
	id = 27,
	type = 1,
	content = "秘境BOSS已刷新，测试一下这个公告到底是哪里用呢",
},
[28] = {
	id = 28,
	type = 2,
	content = "|C:0x16b2ff&T:%s|在本周王者争霸赛中披荆斩棘，达到黄金级别!",
},
[29] = {
	id = 29,
	type = 2,
	content = "|C:0x16b2ff&T:%s|在本周王者争霸赛中势如破竹，达到钻石级别!",
},
[30] = {
	id = 30,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在上周王者争霸中夺魁，让我们为他欢呼！王者争霸重新开放挑战了！",
},
[31] = {
	id = 31,
	type = 1,
	content = "王者争霸重新开放挑战了，无人在上周王者争霸中成为王者，太遗憾了！",
},
[32] = {
	id = 32,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在上周王者争霸中力败群雄，成为钻石王者，铸就不朽传奇！",
},
[33] = {
	id = 33,
	type = 1,
	content = "王者争霸奖励结算完毕，无人在本次王者争霸中成为钻石王者，太遗憾了！",
},
[34] = {
	id = 34,
	type = 1,
	content = "|C:0x16b2ff&T:%s|愈战愈勇，在本周王者争霸中荣升|C:0xffb82a&T:黄金级别|",
},
[35] = {
	id = 35,
	type = 1,
	content = "|C:0x16b2ff&T:%s|力挫群雄，在本周王者争霸中跻身|C:0xffb82a&T:钻石级别|强者。横刀试问谁与争锋！",
},
[36] = {
	id = 36,
	type = 2,
	content = "|C:0x16b2ff&T:%s|成功将|C:0xffb82a&T:%s|精炼成功，装备大放异彩！",
},
[37] = {
	id = 37,
	type = 1,
	content = "|C:0x16b2ff&T:%s击杀了|C:0xffb82a&T:%s|，竟然在他的尸体中拾取到了|C:0xffb82a&T:%s|",
},
[38] = {
	id = 38,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在王者争霸挑战中运气逆天，竟然获得了|C:0xffb82a&T:%s|！",
},
[39] = {
	id = 39,
	type = 1,
	content = "万众瞩目的|C:0xffb82a&T:龙城争霸|即将在3分钟后开启，各位行会会长和成员请做好准备，成王败寇在此一举！",
},
[40] = {
	id = 40,
	type = 1,
	content = "|C:0xffb82a&T:龙城争霸|开启了，请各位行会会长和成员速速组织，向龙城发起进攻！",
},
[41] = {
	id = 41,
	type = 1,
	content = "|C:0xffb82a&T:%s|行会成功采集龙城皇旗，夺得龙城占领权，玛法大陆迎来了它的新一届主人！",
},
[42] = {
	id = 42,
	type = 1,
	content = "|C:0xffb82a&T:龙城争霸|结束了，无人成为龙城霸主。硝烟弥漫的龙城，谁将登顶权力之巅，请期待下次活动。",
},
[43] = {
	id = 43,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在龙城争霸活动中完成了|C:0xffb82a&T:%s连杀|，开始大杀特杀!",
},
[44] = {
	id = 44,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在龙城争霸活动中完成了|C:0xffb82a&T:%s连杀|，无人能挡!",
},
[45] = {
	id = 45,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在龙城争霸活动中完成了|C:0xffb82a&T:%s连杀|，已经主宰战场!",
},
[46] = {
	id = 46,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在龙城争霸活动中完成了|C:0xffb82a&T:%s连杀|，如同战神降临!",
},
[47] = {
	id = 47,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在龙城争霸活动中完成了|C:0xffb82a&T:%s连杀|，简直超神了!",
},
[48] = {
	id = 48,
	type = 1,
	content = "|C:0x16b2ff&T:%s|率领勇士成功突破龙城城门的坚固防守，热血龙城，等你来战！",
},
[49] = {
	id = 49,
	type = 1,
	content = "龙城皇宫内的旗帜可以采集了！",
},
[50] = {
	id = 50,
	type = 1,
	content = "|C:0x16b2ff&T:%s|激活了|C:0xffb82a&T:%s|装扮-|C:0xffb82a&T:%s|，真是羡煞旁人！",
},
[51] = {
	id = 51,
	type = 1,
	content = "|C:0x16b2ff&T:%s|的|C:0xffb82a&T:%s|正在采集王旗，请各位勇士密切关注。",
},
[52] = {
	id = 52,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在击破龙城城门时意外获得了|C:0xffb82a&T:%s|，真是可喜可贺!",
},
[53] = {
	id = 53,
	type = 1,
	content = "|C:0x16b2ff&T:%s|使用元宝开启幸运轮盘获得|C:0xffb82a&T:%s|倍返还，共|C:0xffb82a&T:%s|元宝，真是羡煞旁人！",
},
[54] = {
	id = 54,
	type = 1,
	content = "|C:0x16b2ff&T:%s|召唤了行会BOSS，海量奖励等着他们",
},
[55] = {
	id = 55,
	type = 1,
	content = "|C:0x16b2ff&T:%s|花费了|C:0xffb82a&T:%s|元宝召唤了召唤了行会BOSS，超值奖励等着他们",
},
[56] = {
	id = 56,
	type = 1,
	content = "|C:0x16b2ff&T:%s|开采了|C:0xff0000&T:%s|，丰厚回报马上获得",
},
[57] = {
	id = 57,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xff0000&T:复仇成功|，击败|C:0xff0000&T:%s|并双倍拿回被抢夺的奖励",
},
[58] = {
	id = 58,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功将技能|C:0x16b2ff&T:%s|突破至|C:0xffb82a&T:三阶|，真是羡煞旁人！",
},
[59] = {
	id = 59,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功将技能|C:0x16b2ff&T:%s|突破至|C:0xffb82a&T:四阶|，真是羡煞旁人！",
},
[60] = {
	id = 60,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功将技能|C:0x16b2ff&T:%s|突破至|C:0xffb82a&T:五阶|，真是羡煞旁人！",
},
[61] = {
	id = 61,
	type = 1,
	content = "|C:0x16b2ff&T:%s|霸气地终结了|C:0x16b2ff&T:%s|的|C:0xffb82a&T:%s连杀|!",
},
[62] = {
	id = 62,
	type = 1,
	content = "双杀,|C:0x16b2ff&T:%s|已没有人可以阻止他的屠杀了!",
},
[63] = {
	id = 63,
	type = 1,
	content = "超神,|C:0x16b2ff&T:%s|已没有人可以阻止他的屠杀了!",
},
[64] = {
	id = 64,
	type = 1,
	content = "10连斩,有谁可以来阻止|C:0x16b2ff&T:%s|的杀戮！",
},
[65] = {
	id = 65,
	type = 1,
	content = "|C:0xffb82a&T:%s连砍|，|C:0x16b2ff&T:%s|已成神，无人可挡！",
},
[66] = {
	id = 66,
	type = 3,
	content = "|C:0x16b2ff&T:%s|在|C:0xffb82a&T:秘境BOSS|，爆出|C:0xffb82a&T:%s|",
},
[67] = {
	id = 67,
	type = 3,
	content = "|C:0x16b2ff&T:%s|在|C:0xffb82a&T:野外BOSS|，爆出|C:0xffb82a&T:%s|",
},
[68] = {
	id = 68,
	type = 3,
	content = "|C:0x16b2ff&T:%s|在|C:0xffb82a&T:%s|,击败了|C:0xffb82a&T%s|，爆出|C:0xffb82a&T:%s|",
},
[69] = {
	id = 69,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功合成了|C:0xff0000&T:%s-%d转|，准备称霸全服了！",
},
[70] = {
	id = 70,
	type = 1,
	content = "|C:0x16b2ff&T:%s|将热血装备提升至|C:0xff0000&T:%s|-|C:0xff0000&T:%d转|无敌是多麽寂寞！",
},
[71] = {
	id = 71,
	type = 3,
	content = "|C:0xfee900&T:恭喜||C:0x16b2ff&T:%s||C:0xfee900&T:领取了价值||C:0xfe4444&T:18888元宝||C:0xfee900&T:的||C:0xFF00FF&T:首充礼包||C:0xfee900&T:！|",
},
[72] = {
	id = 72,
	type = 3,
	content = "|C:0x16b2ff&T:%s||C:0xfee900&T:一掷千金，壕气万丈，成为了尊贵的||C:0xfe4444&T:VIP||C:0xfee900&T:，以后BOSS之家都被他承包了！|",
},
[73] = {
	id = 73,
	type = 3,
	content = "|C:0xfee900&T:恭喜||C:0x16b2ff&T:%s||C:0xfee900&T:领取了价值||C:0xfe4444&T:%s元宝||C:0xfee900&T:的||C:0xFF00FF&T:每日充值礼包||C:0xfee900&T:！|",
},
[74] = {
	id = 74,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功激活|C:0x18ff00&T:%s|闪耀盛世，以后装备战力都是蹭蹭的向上涨",
},
[75] = {
	id = 75,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功激活|C:0x18ff00&T:%s|实力大幅增长，见到他注意举起双手",
},
[76] = {
	id = 76,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功激活|C:0x18ff00&T:%s|雷光四射，强到服务器都开始颤抖了",
},
[77] = {
	id = 77,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功激活|C:0x18ff00&T:%s|手气刀落，无人能挡，终成战神",
},
[78] = {
	id = 78,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[79] = {
	id = 79,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服活动内的|C:0xFF0000&T:图鉴礼包|，战力飙升！",
},
[80] = {
	id = 80,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服活动内的|C:0xFF0000&T:羽翼礼包|，战力飙升！",
},
[81] = {
	id = 81,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服活动内的|C:0xFF0000&T:神兵礼包|，战力飙升！",
},
[82] = {
	id = 82,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:60级|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[83] = {
	id = 83,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:70级|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[84] = {
	id = 84,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:80级|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[85] = {
	id = 85,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:1转|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[86] = {
	id = 86,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:2转|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[87] = {
	id = 87,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:3转|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[88] = {
	id = 88,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:4转|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[89] = {
	id = 89,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:5转|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[90] = {
	id = 90,
	type = 1,
	content = "|C:0x16b2ff&T:%s|等级达到了|C:0xFF0000&T:6转|，领取了|C:0x00ff00&T:等级竞技奖励|，傲视群雄！",
},
[91] = {
	id = 91,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:4阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[92] = {
	id = 92,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:5阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[93] = {
	id = 93,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:6阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[94] = {
	id = 94,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:9阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[95] = {
	id = 95,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:10阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[96] = {
	id = 96,
	type = 1,
	content = "|C:0x16b2ff&T:%s|铸造总等级达到了|C:0xFF0000&T:10级|，领取了|C:0x00ff00&T:铸造竞技奖励|，傲视群雄！",
},
[97] = {
	id = 97,
	type = 1,
	content = "|C:0x16b2ff&T:%s|铸造总等级达到了|C:0xFF0000&T:32级|，领取了|C:0x00ff00&T:铸造竞技奖励|，傲视群雄！",
},
[98] = {
	id = 98,
	type = 1,
	content = "|C:0x16b2ff&T:%s|铸造总等级达到了|C:0xFF0000&T:48级|，领取了|C:0x00ff00&T:铸造竞技奖励|，傲视群雄！",
},
[99] = {
	id = 99,
	type = 1,
	content = "|C:0x16b2ff&T:%s|铸造总等级达到了|C:0xFF0000&T:96级|，领取了|C:0x00ff00&T:铸造竞技奖励|，傲视群雄！",
},
[100] = {
	id = 100,
	type = 1,
	content = "|C:0x16b2ff&T:%s|铸造总等级达到了|C:0xFF0000&T:144级|，领取了|C:0x00ff00&T:铸造竞技奖励|，傲视群雄！",
},
[101] = {
	id = 101,
	type = 1,
	content = "|C:0x16b2ff&T:%s|龙魂总星数达到了|C:0xFF0000&T:16|，领取了|C:0x00ff00&T:龙魂竞技奖励|，傲视群雄！",
},
[102] = {
	id = 102,
	type = 1,
	content = "|C:0x16b2ff&T:%s|龙魂总星数达到了|C:0xFF0000&T:24|，领取了|C:0x00ff00&T:龙魂竞技奖励|，傲视群雄！",
},
[103] = {
	id = 103,
	type = 1,
	content = "|C:0x16b2ff&T:%s|龙魂总星数达到了|C:0xFF0000&T:34|，领取了|C:0x00ff00&T:龙魂竞技奖励|，傲视群雄！",
},
[104] = {
	id = 104,
	type = 1,
	content = "|C:0x16b2ff&T:%s|龙魂总星数达到了|C:0xFF0000&T:54|，领取了|C:0x00ff00&T:龙魂竞技奖励|，傲视群雄！",
},
[105] = {
	id = 105,
	type = 1,
	content = "|C:0x16b2ff&T:%s|龙魂总星数达到了|C:0xFF0000&T:84|，领取了|C:0x00ff00&T:龙魂竞技奖励|，傲视群雄！",
},
[106] = {
	id = 106,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:15000|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[107] = {
	id = 107,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:30000|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[108] = {
	id = 108,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:45000|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[109] = {
	id = 109,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:80000|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[110] = {
	id = 110,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:120000|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[111] = {
	id = 111,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:1转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[112] = {
	id = 112,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:2转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[113] = {
	id = 113,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:3转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[114] = {
	id = 114,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:4转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[115] = {
	id = 115,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:5转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[116] = {
	id = 116,
	type = 1,
	content = "|C:0x16b2ff&T:%s|装备总评分达到了|C:0xFF0000&T:200000|，领取了|C:0x00ff00&T:装备竞技奖励|，傲视群雄！",
},
[117] = {
	id = 117,
	type = 1,
	content = "|C:0x16b2ff&T:%s|装备总评分达到了|C:0xFF0000&T:400000|，领取了|C:0x00ff00&T:装备竞技奖励|，傲视群雄！",
},
[118] = {
	id = 118,
	type = 1,
	content = "|C:0x16b2ff&T:%s|装备总评分达到了|C:0xFF0000&T:500000|，领取了|C:0x00ff00&T:装备竞技奖励|，傲视群雄！",
},
[119] = {
	id = 119,
	type = 1,
	content = "|C:0x16b2ff&T:%s|装备总评分达到了|C:0xFF0000&T:700000|，领取了|C:0x00ff00&T:装备竞技奖励|，傲视群雄！",
},
[120] = {
	id = 120,
	type = 1,
	content = "|C:0x16b2ff&T:%s|装备总评分达到了|C:0xFF0000&T:1000000|，领取了|C:0x00ff00&T:装备竞技奖励|，傲视群雄！",
},
[121] = {
	id = 121,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:天下首富|称号，在|C:0x00ff00&T:开服铸造榜|里独占鳌头！",
},
[122] = {
	id = 122,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:龙曜九天|称号，在|C:0x00ff00&T:开服龙魂榜|里独占鳌头！",
},
[123] = {
	id = 123,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:飞龙乘云|称号，在|C:0x00ff00&T:开服羽翼榜|里独占鳌头！",
},
[124] = {
	id = 124,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:学识无双|称号，在|C:0x00ff00&T:开服图鉴榜|里独占鳌头！",
},
[125] = {
	id = 125,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:只手遮天|称号，在|C:0x00ff00&T:开服转生榜|里独占鳌头！",
},
[126] = {
	id = 126,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:传奇无双战神|称号，在|C:0x00ff00&T:开服装备榜|里独占鳌头！",
},
[127] = {
	id = 127,
	type = 1,
	content = "|C:0xff0000&T:世界BOSS|即将开启，|C:0xff0000&T:极品装备|爆满地，准备好了吗！",
},
[128] = {
	id = 128,
	type = 1,
	content = "|C:0x16b2ff&T:%s|铸造总等级达到了|C:0xFF0000&T:216级|，领取了|C:0x00ff00&T:铸造竞技奖励|，傲视群雄！",
},
[129] = {
	id = 129,
	type = 1,
	content = "|C:0x16b2ff&T:%s|龙魂总星数达到了|C:0xFF0000&T:117|，领取了|C:0x00ff00&T:龙魂竞技奖励|，傲视群雄！",
},
[130] = {
	id = 130,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:12阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[131] = {
	id = 131,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:229200|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[132] = {
	id = 132,
	type = 1,
	content = "|C:0x16b2ff&T:%s|激活了|C:0xFF00FF&T:全套%s级合击符文套装|，整个游戏的BOSS都被他承包了！",
},
[133] = {
	id = 133,
	type = 1,
	content = "|C:0x16b2ff&T:%s|激活了|C:0xFF9900&T:全套%s转合击符文套装|，整个游戏的BOSS都被他承包了！",
},
[134] = {
	id = 134,
	type = 1,
	content = "|C:0x16b2ff&T:%s|激活了|C:0xFF0000&T:全套%s转合击符文套装|，整个游戏的BOSS都被他承包了！",
},
[135] = {
	id = 135,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:337200|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[136] = {
	id = 136,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:6转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[137] = {
	id = 137,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了元宝月卡BOSS|C:0xffb82a&T:青龙|，爆出|C:0xff0000&T:%s|",
},
[138] = {
	id = 138,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古暗夜百足||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[139] = {
	id = 139,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古猪妖王||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[140] = {
	id = 140,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古冥域魔人||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[141] = {
	id = 141,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古遗迹恶鬼||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[142] = {
	id = 142,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古赤炎牛魔||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[143] = {
	id = 143,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古火龙王||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[144] = {
	id = 144,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古玄武||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[145] = {
	id = 145,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古青龙||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[146] = {
	id = 146,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古火麒麟||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[147] = {
	id = 147,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古屠魂者||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[148] = {
	id = 148,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古巫妖||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[149] = {
	id = 149,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:远古九头蛇王||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[150] = {
	id = 150,
	type = 1,
	content = "|C:0x16b2ff&T:%s|成功合成了|C:0xff0000&T:%s-%d转|，走上了人生巅峰！",
},
[151] = {
	id = 151,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xf8b141&T:开启||C:0xFFFF00&T:%s||C:0xf8b141&T:获得了||C:0xFFFF00&T:%s||C:0xf8b141&T:，羡煞旁人|！",
},
[152] = {
	id = 152,
	type = 1,
	content = "|C:0x16b2ff&T:%s|激活了职业金装图鉴|C:0xFF0000&T:%s|，战力飙升！",
},
[153] = {
	id = 153,
	type = 1,
	content = "|C:0xd242fb&T:First blood！||C:0x16b2ff&T:%s||C:0xd242fb&T:拿下第一滴血！|",
},
[154] = {
	id = 154,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0x00ff00&T:正在大杀特杀！|",
},
[155] = {
	id = 155,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xd242fb&T:已经主宰比赛！|",
},
[156] = {
	id = 156,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xFF00FF&T:已经杀人如麻！|",
},
[157] = {
	id = 157,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xFF9900&T:已经无人能挡！|",
},
[158] = {
	id = 158,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xFFFF00&T:已经变态杀戮！|",
},
[159] = {
	id = 159,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xFF1493&T:已经妖怪般的杀戮！|",
},
[160] = {
	id = 160,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xff0000&T:已经如同神一般！|",
},
[161] = {
	id = 161,
	type = 1,
	content = "|C:0x16b2ff&T:%s||C:0xFF9900&T:已经超越神的杀戮！！拜托谁去杀了他吧！|",
},
[162] = {
	id = 162,
	type = 1,
	content = "|C:0x16b2ff&T:血战比奇城|活动将于|C:0x00ff00&T:3分钟|后开启，请各位玩家做好准备",
},
[163] = {
	id = 163,
	type = 1,
	content = "|C:0x16b2ff&T:血战比奇城|活动|C:0x00ff00&T:已经开启|，请大家前往参加",
},
[164] = {
	id = 164,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在失乐园中获得了|C:0xfe4444&T:%s|",
},
[165] = {
	id = 165,
	type = 1,
	content = "|C:0x16b2ff&T:激情泡点|活动将于|C:0x00ff00&T:3分钟|后开启，请各位玩家做好准备",
},
[166] = {
	id = 166,
	type = 1,
	content = "|C:0x16b2ff&T:激情泡点|活动|C:0x00ff00&T:已经开启|，请大家前往参加",
},
[167] = {
	id = 167,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff00&T:神兵圣域一层|，祝他好运吧！",
},
[168] = {
	id = 168,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵圣域二层|，祝他好运吧！",
},
[169] = {
	id = 169,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵圣域三层|，祝他好运吧！",
},
[170] = {
	id = 170,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵塔一层|，祝他好运吧！",
},
[171] = {
	id = 171,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵塔二层|，祝他好运吧！",
},
[172] = {
	id = 172,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵塔三层|，祝他好运吧！",
},
[173] = {
	id = 173,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵塔四层|，祝他好运吧！",
},
[174] = {
	id = 174,
	type = 2,
	content = "|C:0x16b2ff&T:%s|自信地进入了|C:0x00ff01&T:神兵塔五层|，祝他好运吧！",
},
[175] = {
	id = 175,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在感恩转盘中抽到了|C:0xff0000&T:10转亢天项链|",
},
[176] = {
	id = 176,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在感恩转盘中抽到了|C:0xff0000&T:缤纷兵魂任选礼包|",
},
[177] = {
	id = 177,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了感恩节活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[178] = {
	id = 178,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了感恩节活动内的|C:0xFF0000&T:超值礼包|，战力飙升！",
},
[179] = {
	id = 179,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了感恩节活动内的|C:0xFF0000&T:圣物礼包|，战力飙升！",
},
[180] = {
	id = 180,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了感恩节活动内的|C:0xFF0000&T:烈焰礼包|，战力飙升！",
},
[181] = {
	id = 181,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:活动赤炎牛魔||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[182] = {
	id = 182,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:活动火龙王||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[183] = {
	id = 183,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:活动玄武||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[184] = {
	id = 184,
	type = 1,
	content = "|C:0xfee900&T:BOSS||C:0xff0000&T:活动玄武||C:0xfee900&T:出现在||C:0x16b2ff&T:主城|",
},
[185] = {
	id = 185,
	type = 1,
	content = "|C:0x16b2ff&T:%s|激活了|C:0xff00ff&T:月卡|，在传奇之路上一路领航！",
},
[186] = {
	id = 186,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了合服活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[187] = {
	id = 187,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了合服活动内的|C:0xFF0000&T:传世礼包|，战力飙升！",
},
[188] = {
	id = 188,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了合服活动内的|C:0xFF0000&T:兵魂礼包|，战力飙升！",
},
[189] = {
	id = 189,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了合服活动内的|C:0xFF0000&T:热血礼包|，战力飙升！",
},
[190] = {
	id = 190,
	type = 1,
	content = "|C:0x16b2ff&T:%s|羽翼总阶数达到了|C:0xFF0000&T:14阶|，领取了|C:0x00ff00&T:羽翼竞技奖励|，傲视群雄！",
},
[191] = {
	id = 191,
	type = 1,
	content = "|C:0x16b2ff&T:%s|获得|C:0xFF0000&T:至尊神壕|称号，在|C:0x00ff00&T:合服消费榜|里独占鳌头！",
},
[192] = {
	id = 192,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在双十二转盘中抽到了|C:0xff0000&T:4阶神羽宝箱|",
},
[193] = {
	id = 193,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了双十二活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[194] = {
	id = 194,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了双十二活动内的|C:0xFF0000&T:超值礼包|，战力飙升！",
},
[195] = {
	id = 195,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了双十二活动内的|C:0xFF0000&T:圣物礼包|，战力飙升！",
},
[196] = {
	id = 196,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了双十二活动内的|C:0xFF0000&T:烈焰礼包|，战力飙升！",
},
[197] = {
	id = 197,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在双十二转盘中抽到了|C:0xff0000&T:2阶神羽宝箱|",
},
[198] = {
	id = 198,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在双十二转盘中抽到了|C:0xff0000&T:蛊毒兵魂任选礼包|",
},
[199] = {
	id = 199,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在双十二转盘中抽到了|C:0xff0000&T:3阶神羽宝箱|",
},
[200] = {
	id = 200,
	type = 1,
	content = "|C:0x16b2ff&T:%s|图鉴战力达到了|C:0xFF0000&T:571200|，领取了|C:0x00ff00&T:图鉴竞技奖励|，傲视群雄！",
},
[201] = {
	id = 201,
	type = 1,
	content = "|C:0x16b2ff&T:%s|转生达到了|C:0xFF0000&T:7转|，领取了|C:0x00ff00&T:转生竞技奖励|，傲视群雄！",
},
[202] = {
	id = 202,
	type = 1,
	content = "|C:0x16b2ff&T:%s|装备总评分达到了|C:0xFF0000&T:1400000|，领取了|C:0x00ff00&T:装备竞技奖励|，傲视群雄！",
},
[250] = {
	id = 250,
	type = 3,
	content = "|C:0x16b2ff&T:%s|击败了特权月卡BOSS|C:0xffb82a&T:至尊·帝王|，爆出|C:0xff0000&T:%s|",
},
[251] = {
	id = 251,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xe2dfd4&T:默默无闻|进阶到|C:0x00FF00&T:声名不显|，实力大增！",
},
[252] = {
	id = 252,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0x00FF00&T:声名不显|进阶到|C:0x5186fd&T:小有名气|，实力大增！",
},
[253] = {
	id = 253,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0x5186fd&T:小有名气|进阶到|C:0x5186fd&T:声名鹊起|，实力大增！",
},
[254] = {
	id = 254,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0x5186fd&T:声名鹊起|进阶到|C:0xFF00FF&T:名噪一时|，实力大增！",
},
[255] = {
	id = 255,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xFF00FF&T:名噪一时|进阶到|C:0xFF00FF&T:赫赫有名|，实力大增！",
},
[256] = {
	id = 256,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xFF00FF&T:赫赫有名|进阶到|C:0xF8B141&T:闻名遐迩|，实力大增！",
},
[257] = {
	id = 257,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xF8B141&T:闻名遐迩|进阶到|C:0xF8B141&T:大名鼎鼎|，实力大增！",
},
[258] = {
	id = 258,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xF8B141&T:大名鼎鼎|进阶到|C:0xFF0000&T:威名远播|，实力大增！",
},
[259] = {
	id = 259,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xFF0000&T:威名远播|进阶到|C:0xFF0000&T:名震四海|，实力大增！",
},
[260] = {
	id = 260,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|历尽艰辛，将威望由|C:0xFF0000&T:名震四海|进阶到|C:0xFFD93F&T:震古烁今|，实力大增！",
},
[261] = {
	id = 261,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在元宝转盘中抽中了|C:0xff0000&T:%s|倍，获得|C:0xff0000&T:%s|元宝！",
},
[262] = {
	id = 262,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服全民BOSS活动中的|C:0xff0000&T:经典BOSS大礼包|",
},
[263] = {
	id = 263,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服全民BOSS活动中的|C:0xff0000&T:禁地BOSS大礼包|",
},
[264] = {
	id = 264,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服全民BOSS活动中的|C:0xff0000&T:稀有BOSS大礼包|",
},
[265] = {
	id = 265,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服全民BOSS活动中的|C:0xff0000&T:终极BOSS大礼包|",
},
[266] = {
	id = 266,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开服全民BOSS活动中的|C:0xff0000&T:新手BOSS大礼包|",
},
[267] = {
	id = 267,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·初重|，战力大增！",
},
[268] = {
	id = 268,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·玄境|，战力大增！",
},
[269] = {
	id = 269,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·生境|，战力大增！",
},
[270] = {
	id = 270,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·破境|，战力大增！",
},
[271] = {
	id = 271,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·虚境|，战力大增！",
},
[272] = {
	id = 272,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·妄境|，战力大增！",
},
[273] = {
	id = 273,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:地狱道·灭境|，战力大增！",
},
[274] = {
	id = 274,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:饿鬼道·玄境|，战力大增！",
},
[275] = {
	id = 275,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:饿鬼道·生境|，战力大增！",
},
[276] = {
	id = 276,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:饿鬼道·破境|，战力大增！",
},
[277] = {
	id = 277,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:饿鬼道·虚境|，战力大增！",
},
[278] = {
	id = 278,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:饿鬼道·妄境|，战力大增！",
},
[279] = {
	id = 279,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:饿鬼道·灭境|，战力大增！",
},
[280] = {
	id = 280,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:畜生道·玄境|，战力大增！",
},
[281] = {
	id = 281,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:畜生道·生境|，战力大增！",
},
[282] = {
	id = 282,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:畜生道·破境|，战力大增！",
},
[283] = {
	id = 283,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:畜生道·虚境|，战力大增！",
},
[284] = {
	id = 284,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:畜生道·妄境|，战力大增！",
},
[285] = {
	id = 285,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:畜生道·灭境|，战力大增！",
},
[286] = {
	id = 286,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:修罗道·玄境|，战力大增！",
},
[287] = {
	id = 287,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:修罗道·生境|，战力大增！",
},
[288] = {
	id = 288,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:修罗道·破境|，战力大增！",
},
[289] = {
	id = 289,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:修罗道·虚境|，战力大增！",
},
[290] = {
	id = 290,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:修罗道·妄境|，战力大增！",
},
[291] = {
	id = 291,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:修罗道·灭境|，战力大增！",
},
[292] = {
	id = 292,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:人间道·玄境|，战力大增！",
},
[293] = {
	id = 293,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:人间道·生境|，战力大增！",
},
[294] = {
	id = 294,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:人间道·破境|，战力大增！",
},
[295] = {
	id = 295,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:人间道·虚境|，战力大增！",
},
[296] = {
	id = 296,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:人间道·妄境|，战力大增！",
},
[297] = {
	id = 297,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:人间道·灭境|，战力大增！",
},
[298] = {
	id = 298,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:天道·玄境|，战力大增！",
},
[299] = {
	id = 299,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:天道·生境|，战力大增！",
},
[300] = {
	id = 300,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:天道·破境|，战力大增！",
},
[301] = {
	id = 301,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:天道·虚境|，战力大增！",
},
[302] = {
	id = 302,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:天道·妄境|，战力大增！",
},
[303] = {
	id = 303,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|超凡入圣，成功突破|C:0xff0000&T:天道·灭境|，战力大增！",
},
[304] = {
	id = 304,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|在幸运星转盘中抽到了|C:0xff0000&T:%s|",
},
[305] = {
	id = 305,
	type = 1,
	content = "|C:0x16b2ff&T:%s|对雪娃娃上下其手时意外的发现了|C:0xff0000&T:蛊毒兵魂任选礼包|",
},
[306] = {
	id = 306,
	type = 1,
	content = "|C:0x16b2ff&T:%s|对雪娃娃上下其手时意外的发现了|C:0xff0000&T:高级秘籍宝箱|",
},
[307] = {
	id = 307,
	type = 1,
	content = "|C:0x16b2ff&T:%s|对雪娃娃上下其手时意外的发现了|C:0xff0000&T:1阶神羽任选宝箱|",
},
[308] = {
	id = 308,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在燃放爆竹时鸿运当头，获得了|C:0xff0000&T:3阶神羽任选宝箱|",
},
[309] = {
	id = 309,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在燃放爆竹时鸿运当头，获得了|C:0xff0000&T:魔魂礼包|",
},
[310] = {
	id = 310,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在燃放爆竹时鸿运当头，获得了|C:0xff0000&T:战神兵魂任选礼包|",
},
[311] = {
	id = 311,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了圣诞活动内的|C:0xFF0000&T:晋升礼包|，战力飙升！",
},
[312] = {
	id = 312,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了圣诞活动内的|C:0xFF0000&T:圣诞武装|，战力飙升！",
},
[313] = {
	id = 313,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了圣诞活动内的|C:0xFF0000&T:圣诞衣装|，战力飙升！",
},
[314] = {
	id = 314,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了圣诞活动内的|C:0xFF0000&T:炫酷时装|，战力飙升！",
},
[315] = {
	id = 315,
	type = 3,
	content = "|C:0xf7d187&T:%s|在|C:0x16b2ff&T:%s|击败了|C:0x16b2ff&T:%s|爆出|C:0xFF00FF&T:%s|",
},
[316] = {
	id = 316,
	type = 3,
	content = "|C:0xf7d187&T:%s|在|C:0x16b2ff&T:%s|击败了|C:0x16b2ff&T:%s|爆出|C:0xFF9900&T:%s|",
},
[317] = {
	id = 317,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|在守护神剑中击败了|C:0xf3311e&T:%s|爆出|C:0xff750f&T:%s|",
},
[318] = {
	id = 318,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|在守护神剑中击败了|C:0xf3311e&T:%s|爆出|C:0xf3311e&T:%s|",
},
[319] = {
	id = 319,
	type = 3,
	content = "恭喜|C:0x16b2ff&T:%s|成功通关|C:0x16b2ff&T:%d转|守护神剑副本！",
},
[320] = {
	id = 320,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在备战巅峰-限时寻宝中获得了|C:0xff00ff&T:%s|",
},
[321] = {
	id = 321,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在备战巅峰-限时寻宝中获得了|C:0xFF9900&T:%s|",
},
[322] = {
	id = 322,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在备战巅峰-限时寻宝中获得了|C:0xff0000&T:%s|",
},
[323] = {
	id = 323,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在备战巅峰-限时寻宝中获得了|C:0xFFFF00&T:%s|",
},
[324] = {
	id = 324,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在暖冬转盘中鸿运当头，获得了|C:0xFFFF00&T:5转合击符文|",
},
[325] = {
	id = 325,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在暖冬转盘中鸿运当头，获得了|C:0xFFFF00&T:至尊3阶神羽|",
},
[326] = {
	id = 326,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了备战巅峰活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[327] = {
	id = 327,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了备战巅峰活动内的|C:0xFF0000&T:传世礼包|，战力飙升！",
},
[328] = {
	id = 328,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了备战巅峰活动内的|C:0xFF0000&T:战神礼包|，战力飙升！",
},
[329] = {
	id = 329,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了备战巅峰活动内的|C:0xFF0000&T:热血礼包|，战力飙升！",
},
[330] = {
	id = 330,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|参与击败|C:0xf3311e&T:%s|爆出|C:0xff750f&T:%s|",
},
[331] = {
	id = 331,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|参与击败|C:0xf3311e&T:%s|爆出|C:0xf3311e&T:%s|",
},
[332] = {
	id = 332,
	type = 1,
	content = "巅峰赛季正在火热报名中，谁是至尊传奇首冠？巨额奖励花落谁家？一切等你来战！",
},
[333] = {
	id = 333,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季单服淘汰赛】|正式开始，至尊谁最强大？让我们拭目以待！",
},
[334] = {
	id = 334,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季单服淘汰赛】|龙争虎斗，|C:0x16b2ff&T:%s|晋级|C:0x00FF00&T:16强|，进入晋级赛！",
},
[335] = {
	id = 335,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季单服8强赛】|战火滔天，血溅四方，|C:0x16b2ff&T:%s|击败|C:0x16b2ff&T:%s|成为|C:0x00ff00&T:8强|之一！",
},
[336] = {
	id = 336,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季单服4强赛】|巅峰赛季新出捷报，|C:0x16b2ff&T:%s|用犀利的战术击败|C:0x16b2ff&T:%s|晋级|C:0x00ff00&T:4强|！",
},
[337] = {
	id = 337,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季单服半决赛】|狼烟四起，战火纷飞！电闪雷鸣之际，|C:0x16b2ff&T:%s|击败|C:0x16b2ff&T:%s|晋级|C:0x00ff00&T:决赛|！",
},
[338] = {
	id = 338,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季单服决赛】|经过九九八十一天的惊世激战，决赛中|C:0x16b2ff&T:%s|击败|C:0x16b2ff&T:%s|，|C:0x00ff00&T:第一强者|诞生！",
},
[339] = {
	id = 339,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服淘汰赛】|正式开始，至尊谁最强大？让我们拭目以待！",
},
[340] = {
	id = 340,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服淘汰赛】|龙争虎斗，|C:0x16b2ff&T:%s[s%d]|晋级|C:0x00FF00&T:64强|，进入晋级赛！",
},
[341] = {
	id = 341,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服32强赛】|激战连连，|C:0x16b2ff&T:%s[s%d]|击败|C:0x16b2ff&T:%s[s%d]|成为|C:0x00ff00&T:32强|之一！",
},
[342] = {
	id = 342,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服16强赛】|刀光剑影，|C:0x16b2ff&T:%s[s%d]|击败|C:0x16b2ff&T:%s[s%d]|成为|C:0x00ff00&T:16强|之一！",
},
[343] = {
	id = 343,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服8强赛】|战火滔天，血溅四方，|C:0x16b2ff&T:%s[s%d]|击败|C:0x16b2ff&T:%s[s%d]|成为|C:0x00ff00&T:8强|之一！",
},
[344] = {
	id = 344,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服4强赛】|巅峰赛季新出捷报，|C:0x16b2ff&T:%s[s%d]|用犀利的战术击败|C:0x16b2ff&T:%s[s%d]|晋级|C:0x00ff00&T:4强|！",
},
[345] = {
	id = 345,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服半决赛】|狼烟四起，战火纷飞！电闪雷鸣之际，|C:0x16b2ff&T:%s[s%d]|击败|C:0x16b2ff&T:%s[s%d]|晋级|C:0x00ff00&T:总决赛|！",
},
[346] = {
	id = 346,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服总决赛】|经过九九八十一天的惊世激战，总决赛中|C:0x16b2ff&T:%s[s%d]|击败|C:0x16b2ff&T:%s[s%d]|，|C:0x00ff00&T:至尊第一强者|诞生！",
},
[347] = {
	id = 347,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服赛】|C:0xFFFF00&T:冠军|C:0x16b2ff&T:%s[s%d]|脚踏七彩祥云震撼登场，千秋万世，一统传奇！",
},
[348] = {
	id = 348,
	type = 1,
	content = "|C:0xff0000&T:【巅峰赛季跨服赛】|C:0xFFFF00&T:亚军|C:0x16b2ff&T:%s[s%d]|手持稀世神武华丽登场，万人膜拜，千古流传！",
},
[349] = {
	id = 349,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:金色图鉴包·倾国倾城|",
},
[350] = {
	id = 350,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:红色图鉴包·倾国倾城|",
},
[351] = {
	id = 351,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:10转宝箱|",
},
[352] = {
	id = 352,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:9转宝箱|",
},
[353] = {
	id = 353,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世头盔|",
},
[354] = {
	id = 354,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世项链|",
},
[355] = {
	id = 355,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世腰带|",
},
[356] = {
	id = 356,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世鞋子|",
},
[357] = {
	id = 357,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世戒指|",
},
[358] = {
	id = 358,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世护腕|",
},
[359] = {
	id = 359,
	type = 2,
	content = "|C:0x16b2ff&T:s%d服|玩家|C:0x16b2ff&T:%s[s%d]|C:0xff0000&T:强势进入了|C:0x00ff00&T:本服领地|，祝他好运吧！",
},
[360] = {
	id = 360,
	type = 2,
	content = "|C:0x16b2ff&T:%s[s%d]|自信地进入了|C:0x00ff00&T:s%d跨服战场|，祝他好运吧！",
},
[361] = {
	id = 361,
	type = 1,
	content = "BOSS|C:0x00ff00&T:%s|出现在|C:0x00ff00&T:s%d跨服战场|！",
},
[362] = {
	id = 362,
	type = 1,
	content = "BOSS|C:0x00ff00&T:%s|出现在|C:0x00ff00&T:跨服苍月岛神殿|！",
},
[363] = {
	id = 363,
	type = 1,
	content = "|C:0x16b2ff&T:%s[s%d]|在|C:0x00ff00&T:s%d跨服战场|击败了|C:0xffb82a&T:%s|，获得极品|C:0xff0000&T:%s|",
},
[364] = {
	id = 364,
	type = 1,
	content = "|C:0x16b2ff&T:%s[s%d]|在|C:0x00ff00&T:苍月岛|击败了|C:0xffb82a&T:%s|，获得极品|C:0xff0000&T:%s|",
},
[365] = {
	id = 365,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在战灵转盘中鸿运当头，获得了|C:0xFFFF00&T:太阳星君|",
},
[366] = {
	id = 366,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在战灵转盘中鸿运当头，获得了|C:0xFFFF00&T:海魂装备|",
},
[367] = {
	id = 367,
	type = 1,
	content = "|C:0x16b2ff&T:%s|战灵等阶达到了|C:0xFF0000&T:3阶10级|，领取了|C:0x00ff00&T:战灵竞技奖励|，傲视群雄！",
},
[368] = {
	id = 368,
	type = 1,
	content = "|C:0x16b2ff&T:%s|战灵等阶达到了|C:0xFF0000&T:3阶10级|，领取了|C:0x00ff00&T:战灵竞技奖励|，傲视群雄！",
},
[369] = {
	id = 369,
	type = 1,
	content = "|C:0x16b2ff&T:%s|战灵等阶达到了|C:0xFF0000&T:3阶10级|，领取了|C:0x00ff00&T:战灵竞技奖励|，傲视群雄！",
},
[370] = {
	id = 370,
	type = 1,
	content = "|C:0x16b2ff&T:%s|战灵等阶达到了|C:0xFF0000&T:3阶10级|，领取了|C:0x00ff00&T:战灵竞技奖励|，傲视群雄！",
},
[371] = {
	id = 371,
	type = 1,
	content = "|C:0x16b2ff&T:%s[s%d]|自信地进入了|C:0x00ff00&T:跨服苍月岛神殿|，祝他好运吧！",
},
[372] = {
	id = 372,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在幸运转盘中鸿运当头，获得了|C:0xFFFF00&T:龙翔九天|",
},
[373] = {
	id = 373,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在幸运转盘中鸿运当头，获得了|C:0xFFFF00&T:至尊3阶神羽|",
},
[374] = {
	id = 374,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在谁与争锋-限时寻宝中获得了|C:0xff00ff&T:%s|",
},
[375] = {
	id = 375,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在谁与争锋-限时寻宝中获得了|C:0xFF9900&T:%s|",
},
[376] = {
	id = 376,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在谁与争锋-限时寻宝中获得了|C:0xff0000&T:%s|",
},
[377] = {
	id = 377,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在谁与争锋-限时寻宝中获得了|C:0xFFFF00&T:%s|",
},
[378] = {
	id = 378,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了谁与争锋活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[379] = {
	id = 379,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了谁与争锋活动内的|C:0xFF0000&T:传世礼包|，战力飙升！",
},
[380] = {
	id = 380,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了谁与争锋活动内的|C:0xFF0000&T:战神礼包|，战力飙升！",
},
[381] = {
	id = 381,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了谁与争锋活动内的|C:0xFF0000&T:热血礼包|，战力飙升！",
},
[382] = {
	id = 382,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在限时寻宝中获得了|C:0xff0000&T:%s|",
},
[383] = {
	id = 383,
	type = 1,
	content = "人品爆发！|C:0x16b2ff&T:%s|在限时寻宝中获得了|C:0xFFFF00&T:%s|",
},
[384] = {
	id = 384,
	type = 1,
	content = "恭喜|C:0x16b2ff&T:%s|运气逆天，在|C:0xff00ff&T:暗之秘境|遇到|C:0xff0000&T:隐藏BOSS|，极品装备唾手可得！",
},
[385] = {
	id = 385,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开门红活动内的|C:0xFF0000&T:材料礼包|，战力飙升！",
},
[386] = {
	id = 386,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开门红活动内的|C:0xFF0000&T:兽神礼包|，战力飙升！",
},
[387] = {
	id = 387,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开门红活动内的|C:0xFF0000&T:至尊兽神|，战力飙升！",
},
[388] = {
	id = 388,
	type = 1,
	content = "|C:0x16b2ff&T:%s|领取了开门红活动内的|C:0xFF0000&T:热血礼包|，战力飙升！",
},
[400] = {
	id = 400,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:金色图鉴包·倾国倾城|",
},
[401] = {
	id = 401,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:红色图鉴包·倾国倾城|",
},
[402] = {
	id = 402,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:10转宝箱|",
},
[403] = {
	id = 403,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:9转宝箱|",
},
[404] = {
	id = 404,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世头盔|",
},
[405] = {
	id = 405,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世项链|",
},
[406] = {
	id = 406,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世腰带|",
},
[407] = {
	id = 407,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世鞋子|",
},
[408] = {
	id = 408,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世戒指|",
},
[409] = {
	id = 409,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世护腕|",
},
[410] = {
	id = 410,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:金色图鉴包·倾国倾城|",
},
[411] = {
	id = 411,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:红色图鉴包·倾国倾城|",
},
[412] = {
	id = 412,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:11转宝箱|",
},
[413] = {
	id = 413,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xf3311e&T:10转宝箱|",
},
[414] = {
	id = 414,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世头盔|",
},
[415] = {
	id = 415,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世项链|",
},
[416] = {
	id = 416,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世腰带|",
},
[417] = {
	id = 417,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世鞋子|",
},
[418] = {
	id = 418,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世戒指|",
},
[419] = {
	id = 419,
	type = 1,
	content = "|C:0x16b2ff&T:%s|在开启福袋时鸿运当头，获得了|C:0xffd93f&T:传世护腕|",
},
[420] = {
	id = 420,
	type = 1,
	content = "BOSS|C:0xff0000&T:%s|出现在|C:0xff00ff&T:魔界入侵|！",
},
[421] = {
	id = 421,
	type = 1,
	content = "|C:0x00ff00&T:%s[s%d]|行会在|C:0xff00ff&T:魔界入侵|击杀|C:0xff0000&T:%s|，获得行会拍卖品|C:0xff0000&T:%s|",
},
[422] = {
	id = 422,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在幸运转盘中鸿运当头，获得了|C:0xFFFF00&T:加持之印|",
},
[423] = {
	id = 423,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在幸运转盘中鸿运当头，获得了|C:0xFFFF00&T:迅疾之印|",
},
[424] = {
	id = 424,
	type = 1,
	content = "|C:0x16b2ff&T:%s|C:0xd1c28f&T:在幸运转盘中鸿运当头，获得了|C:0xFFFF00&T:爆裂之印|",
},
[425] = {
	id = 425,
	type = 3,
	content = "[|C:0x16B2FF&T:%s|]创建了跨服竞技场战队，急需强力队友一起开黑！|E:2,%d,&U:&C:0x00FF00&T:快速加入",
},
[426] = {
	id = 426,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xd242fb&T:一马当先，勇夺第一本|C:0xFFFF00&T:天书|C:0xd242fb&T:！|",
},
[427] = {
	id = 427,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xd242fb&T:手起刀落，击杀|C:0x16b2ff&T:s%d.%s|C:0xd242fb&T:，夺得第一滴血！|",
},
[428] = {
	id = 428,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0x00ff00&T:正在大杀特杀！|",
},
[429] = {
	id = 429,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xd242fb&T:已经主宰比赛！|",
},
[430] = {
	id = 430,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xFF00FF&T:已经杀人如麻！|",
},
[431] = {
	id = 431,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xFF9900&T:已经无人能挡！|",
},
[432] = {
	id = 432,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xFFFF00&T:已经变态杀戮！|",
},
[433] = {
	id = 433,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xFF1493&T:已经妖怪般的杀戮！|",
},
[434] = {
	id = 434,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xff0000&T:已经如同神一般！|",
},
[435] = {
	id = 435,
	type = 1,
	content = "|C:0x16b2ff&T:s%d.%s|C:0xFF9900&T:已经超越神的杀戮！！拜托谁去杀了他吧！|",
},
[436] = {
	id = 436,
	type = 1,
	content = "跨服竞技场活动将于%d分钟后开启，请各位玩家做好准备",
},
[437] = {
	id = 437,
	type = 1,
	content = "跨服竞技场活动已经开启，请大家前往参加",
},
}