--K-跨服boss.xlsx 基础配置
CrossBossBase={
	openDay = 15,
	bossBelongCount = 3,
	bossBelongMaxCount = 9,
	belongMaxCount = 9,
	flagBelongCount = 2,
	flagBelongMaxCount = 6,
	serverBossId = 1,
	rebornCd = 20,
	rebornCost = 100,
	cdTime = 30,
	flagId = 85002,
	needTime = 10,
	flagRefreshTime = 300,
	bossTitle = "跨服BOSS归属奖励",
	bossContent = "恭喜您获得跨服BOSS归属，下面是您的归属奖励，请您查收！",
	flagTitle = "跨服战旗采集奖励",
	flagContent = "恭喜您成功采集跨服战旗，附近为您的采集奖励，请您查收！",
	noticeId = 363,
	islandNoticeId = 364,
	showBestSize = 6,
	showSize = 94,
	revivalTime = 10,
	myServerEnterId = 359,
	otherServerEnterId = 360,
	islandEnterId = 371,
	bestDrops = {205004,205005,206005,206015,206025,206035,206006,206016,206026,206036},
}