--K-跨服boss.xlsx 祝福值配置
CrossBossBless={
[1] = {
	needBless = 9999,
	boss = {8},
},
[2] = {
	needBless = 9999,
	boss = {8},
},
[3] = {
	needBless = 9999,
	boss = {8},
},
[4] = {
	needBless = 9999,
	boss = {8},
},
[5] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[6] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[7] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[8] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[9] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[10] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[11] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
[12] = {
	needBless = 2000,
	boss = {1,2,3,4,5,6,7,8},
},
}