--Y-月卡.xlsx 常量配置
MonthCardConfig={
	monthCardMoney = 2800,
	monthCardDays = 30,
	monthCardFirstReward = {{type = 0,id = 2,count = 2800}},
	specialAttributes = {{type=1,value=10},{type=2,value=10}},
	monthCardOpenMailHead = "成功激活月卡",
	monthCardOpenContext = "亲爱的玩家恭喜您激活了月卡，并获得首购返利2800元宝；祝您游戏愉快",
	monthCardRewardMailHead = "月卡奖励元宝",
	monthCardRewardMailContext = "尊敬的月卡用户你好，请在附件中领取你的每日元宝福利！",
	monthCardMailAwardA = {{type = 0,id = 2,count = 5000}},
	monthCardMailAwardB = {{type = 0,id = 2,count = 200}},
	monthCardEndMailHead = "月卡到期通知",
	monthCardEndMailContext = "尊敬的月卡玩家，您的月卡已到期。再次续费可继续享有月卡的超值福利。",
	sweepPrecent = 0,
	privilegeMoney = 8800,
	privilegeOpenMailHead = "成功激活尊享特权",
	privilegeOpenMailContext = "亲爱的玩家恭喜您激活了尊享特权，并获得首购返利XXX元宝；以下是时装和称号，请注意查收",
	privilegeOpenReward = {{type = 0,id = 2,count = 10000},{type = 1,id = 200151,count = 1}},
	privilegeMailAward = {},
	privilegeRewardMailHead = "特权奖励礼包",
	privilegeRewardMailContext = "尊敬的至尊贵族用户你好，请在附件中领取你的每日元宝加成福利！",
	monthCardAttr = {},
	privilegeAttr = {{type=4,value=320}},
	expFubenPrecent = 20,
	neiGongGoldPrecent = 20,
	smeltPrecent = 30,
	monthCardNotice = 185,
}