--G-公会BOSS.xlsx 排名奖励
GuildBossRankConfig={
{
	srank = 1,
	erank = 1,
	awards = {{type=0,id=5,count=200}},
	mail_head = "公会BOSS排名奖励",
	mail_content = "公会BOSS排名第一奖励",
},
{
	srank = 2,
	erank = 2,
	awards = {{type=0,id=5,count=180}},
	mail_head = "公会BOSS排名奖励",
	mail_content = "公会BOSS排名第二奖励",
},
{
	srank = 3,
	erank = 5,
	awards = {{type=0,id=5,count=150}},
	mail_head = "公会BOSS排名奖励",
	mail_content = "公会BOSS排名第三到五奖励",
},
{
	srank = 6,
	erank = 10,
	awards = {{type=0,id=5,count=120}},
	mail_head = "公会BOSS排名奖励",
	mail_content = "公会BOSS排名奖励",
},
{
	srank = 11,
	erank = 20,
	awards = {{type=0,id=5,count=100}},
	mail_head = "公会BOSS排名奖励",
	mail_content = "公会BOSS排名奖励",
},
{
	srank = 0,
	erank = 0,
	awards = {{type=0,id=5,count=80}},
	mail_head = "公会BOSS排名奖励",
	mail_content = "公会BOSS排名奖励",
},
}