--G-公会.xlsx 修炼技能配置 
GuildPracticeSkillConfig={
[1] = {
	[1] = {
		id = 1,
		level = 1,
		contribute = 75,
		money = 450000,
		exp = 50,
		upExp = 1000,
		attrs = {{type=4,value=35000},{type=12,value=50}},
	},
	[2] = {
		id = 1,
		level = 2,
		contribute = 75,
		money = 900000,
		exp = 60,
		upExp = 1500,
		attrs = {{type=4,value=70000},{type=12,value=100}},
	},
	[3] = {
		id = 1,
		level = 3,
		contribute = 75,
		money = 1350000,
		exp = 70,
		upExp = 2100,
		attrs = {{type=4,value=105000},{type=12,value=150}},
	},
	[4] = {
		id = 1,
		level = 4,
		contribute = 75,
		money = 1800000,
		exp = 80,
		upExp = 2800,
		attrs = {{type=4,value=140000},{type=12,value=200}},
	},
	[5] = {
		id = 1,
		level = 5,
		contribute = 75,
		money = 2250000,
		exp = 90,
		upExp = 3600,
		attrs = {{type=4,value=175000},{type=12,value=250}},
	},
	[6] = {
		id = 1,
		level = 6,
		contribute = 75,
		money = 2700000,
		exp = 100,
		upExp = 4500,
		attrs = {{type=4,value=210000},{type=12,value=300}},
	},
	[7] = {
		id = 1,
		level = 7,
		contribute = 75,
		money = 3150000,
		exp = 110,
		upExp = 5500,
		attrs = {{type=4,value=245000},{type=12,value=350}},
	},
	[8] = {
		id = 1,
		level = 8,
		contribute = 75,
		money = 3600000,
		exp = 120,
		upExp = 6600,
		attrs = {{type=4,value=280000},{type=12,value=400}},
	},
	[9] = {
		id = 1,
		level = 9,
		contribute = 75,
		money = 4050000,
		exp = 130,
		upExp = 7800,
		attrs = {{type=4,value=315000},{type=12,value=450}},
	},
	[10] = {
		id = 1,
		level = 10,
		contribute = 75,
		money = 4500000,
		exp = 140,
		upExp = 9100,
		attrs = {{type=4,value=350000},{type=12,value=500}},
	},
},
[2] = {
	[1] = {
		id = 2,
		level = 1,
		contribute = 50,
		money = 300000,
		exp = 50,
		upExp = 1000,
		attrs = {{type=2,value=175000},{type=11,value=100}},
	},
	[2] = {
		id = 2,
		level = 2,
		contribute = 50,
		money = 600000,
		exp = 60,
		upExp = 1500,
		attrs = {{type=2,value=350000},{type=11,value=200}},
	},
	[3] = {
		id = 2,
		level = 3,
		contribute = 50,
		money = 900000,
		exp = 70,
		upExp = 2100,
		attrs = {{type=2,value=525000},{type=11,value=300}},
	},
	[4] = {
		id = 2,
		level = 4,
		contribute = 50,
		money = 1200000,
		exp = 80,
		upExp = 2800,
		attrs = {{type=2,value=700000},{type=11,value=400}},
	},
	[5] = {
		id = 2,
		level = 5,
		contribute = 50,
		money = 1500000,
		exp = 90,
		upExp = 3600,
		attrs = {{type=2,value=875000},{type=11,value=500}},
	},
	[6] = {
		id = 2,
		level = 6,
		contribute = 50,
		money = 1800000,
		exp = 100,
		upExp = 4500,
		attrs = {{type=2,value=1050000},{type=11,value=600}},
	},
	[7] = {
		id = 2,
		level = 7,
		contribute = 50,
		money = 2100000,
		exp = 110,
		upExp = 5500,
		attrs = {{type=2,value=1225000},{type=11,value=700}},
	},
	[8] = {
		id = 2,
		level = 8,
		contribute = 50,
		money = 2400000,
		exp = 120,
		upExp = 6600,
		attrs = {{type=2,value=1400000},{type=11,value=800}},
	},
	[9] = {
		id = 2,
		level = 9,
		contribute = 50,
		money = 2700000,
		exp = 130,
		upExp = 7800,
		attrs = {{type=2,value=1575000},{type=11,value=900}},
	},
	[10] = {
		id = 2,
		level = 10,
		contribute = 50,
		money = 3000000,
		exp = 140,
		upExp = 9100,
		attrs = {{type=2,value=1750000},{type=11,value=1000}},
	},
},
}