--G-公会商店.xlsx 等级配置
GuildStoreLevelConfig={
[1] = {
	level = 1,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[2] = {
	level = 2,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[3] = {
	level = 3,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[4] = {
	level = 4,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[5] = {
	level = 5,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[6] = {
	level = 6,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[7] = {
	level = 7,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[8] = {
	level = 8,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[9] = {
	level = 9,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[10] = {
	level = 10,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[11] = {
	level = 11,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[12] = {
	level = 12,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[13] = {
	level = 13,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[14] = {
	level = 14,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[15] = {
	level = 15,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[16] = {
	level = 16,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[17] = {
	level = 17,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[18] = {
	level = 18,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[19] = {
	level = 19,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[20] = {
	level = 20,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[21] = {
	level = 21,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[22] = {
	level = 22,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[23] = {
	level = 23,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[24] = {
	level = 24,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[25] = {
	level = 25,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[26] = {
	level = 26,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[27] = {
	level = 27,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[28] = {
	level = 28,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[29] = {
	level = 29,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[30] = {
	level = 30,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[31] = {
	level = 31,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[32] = {
	level = 32,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[33] = {
	level = 33,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[34] = {
	level = 34,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[35] = {
	level = 35,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[36] = {
	level = 36,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[37] = {
	level = 37,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[38] = {
	level = 38,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[39] = {
	level = 39,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[40] = {
	level = 40,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[41] = {
	level = 41,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[42] = {
	level = 42,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[43] = {
	level = 43,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[44] = {
	level = 44,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[45] = {
	level = 45,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[46] = {
	level = 46,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[47] = {
	level = 47,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[48] = {
	level = 48,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[49] = {
	level = 49,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[50] = {
	level = 50,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[51] = {
	level = 51,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[52] = {
	level = 52,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[53] = {
	level = 53,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[54] = {
	level = 54,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[55] = {
	level = 55,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[56] = {
	level = 56,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[57] = {
	level = 57,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[58] = {
	level = 58,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[59] = {
	level = 59,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[60] = {
	level = 60,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[61] = {
	level = 61,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[62] = {
	level = 62,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[63] = {
	level = 63,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[64] = {
	level = 64,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[65] = {
	level = 65,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[66] = {
	level = 66,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[67] = {
	level = 67,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[68] = {
	level = 68,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[69] = {
	level = 69,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[70] = {
	level = 70,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[71] = {
	level = 71,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[72] = {
	level = 72,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[73] = {
	level = 73,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[74] = {
	level = 74,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[75] = {
	level = 75,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[76] = {
	level = 76,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[77] = {
	level = 77,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[78] = {
	level = 78,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[79] = {
	level = 79,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[80] = {
	level = 80,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[81] = {
	level = 81,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[82] = {
	level = 82,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[83] = {
	level = 83,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[84] = {
	level = 84,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[85] = {
	level = 85,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[86] = {
	level = 86,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[87] = {
	level = 87,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[88] = {
	level = 88,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[89] = {
	level = 89,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[90] = {
	level = 90,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[91] = {
	level = 91,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[92] = {
	level = 92,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[93] = {
	level = 93,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[94] = {
	level = 94,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[95] = {
	level = 95,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[96] = {
	level = 96,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[97] = {
	level = 97,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[98] = {
	level = 98,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[99] = {
	level = 99,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[100] = {
	level = 100,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[101] = {
	level = 101,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[102] = {
	level = 102,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[103] = {
	level = 103,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[104] = {
	level = 104,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[105] = {
	level = 105,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[106] = {
	level = 106,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[107] = {
	level = 107,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[108] = {
	level = 108,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[109] = {
	level = 109,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[110] = {
	level = 110,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[111] = {
	level = 111,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[112] = {
	level = 112,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[113] = {
	level = 113,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[114] = {
	level = 114,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[115] = {
	level = 115,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[116] = {
	level = 116,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[117] = {
	level = 117,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[118] = {
	level = 118,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[119] = {
	level = 119,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[120] = {
	level = 120,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[121] = {
	level = 121,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[122] = {
	level = 122,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[123] = {
	level = 123,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[124] = {
	level = 124,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[125] = {
	level = 125,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[126] = {
	level = 126,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[127] = {
	level = 127,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[128] = {
	level = 128,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[129] = {
	level = 129,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[130] = {
	level = 130,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[131] = {
	level = 131,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[132] = {
	level = 132,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[133] = {
	level = 133,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[134] = {
	level = 134,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[135] = {
	level = 135,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[136] = {
	level = 136,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[137] = {
	level = 137,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[138] = {
	level = 138,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[139] = {
	level = 139,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[140] = {
	level = 140,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[141] = {
	level = 141,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[142] = {
	level = 142,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[143] = {
	level = 143,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[144] = {
	level = 144,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[145] = {
	level = 145,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[146] = {
	level = 146,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[147] = {
	level = 147,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[148] = {
	level = 148,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[149] = {
	level = 149,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[150] = {
	level = 150,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[151] = {
	level = 151,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[152] = {
	level = 152,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[153] = {
	level = 153,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[154] = {
	level = 154,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[155] = {
	level = 155,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[156] = {
	level = 156,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[157] = {
	level = 157,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[158] = {
	level = 158,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[159] = {
	level = 159,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[160] = {
	level = 160,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[161] = {
	level = 161,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[162] = {
	level = 162,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[163] = {
	level = 163,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[164] = {
	level = 164,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[165] = {
	level = 165,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[166] = {
	level = 166,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[167] = {
	level = 167,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[168] = {
	level = 168,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[169] = {
	level = 169,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[170] = {
	level = 170,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[171] = {
	level = 171,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[172] = {
	level = 172,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[173] = {
	level = 173,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[174] = {
	level = 174,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[175] = {
	level = 175,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[176] = {
	level = 176,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[177] = {
	level = 177,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[178] = {
	level = 178,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[179] = {
	level = 179,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[180] = {
	level = 180,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[181] = {
	level = 181,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[182] = {
	level = 182,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[183] = {
	level = 183,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[184] = {
	level = 184,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[185] = {
	level = 185,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[186] = {
	level = 186,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[187] = {
	level = 187,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[188] = {
	level = 188,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[189] = {
	level = 189,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[190] = {
	level = 190,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[191] = {
	level = 191,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[192] = {
	level = 192,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[193] = {
	level = 193,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[194] = {
	level = 194,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[195] = {
	level = 195,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[196] = {
	level = 196,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[197] = {
	level = 197,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[198] = {
	level = 198,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[199] = {
	level = 199,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[200] = {
	level = 200,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[1000] = {
	level = 1000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[2000] = {
	level = 2000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[3000] = {
	level = 3000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[4000] = {
	level = 4000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[5000] = {
	level = 5000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[6000] = {
	level = 6000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[7000] = {
	level = 7000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[8000] = {
	level = 8000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[9000] = {
	level = 9000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[10000] = {
	level = 10000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[11000] = {
	level = 11000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
[12000] = {
	level = 12000,
	dropGroupId = 700001,
	cumulativeDropGroupId = {{count = 20,dropGroupId =700002},{count = 200,dropGroupId =700003}},
},
}