--G-公会.xlsx 公会基本配置
GuildConfig={
	openLevel = 60,
	commonSkillLevels = {50,100,200,300,400},
	practiceSkillLevels = {2,4,6,8,10},
	commonSkillCount = 3,
	practiceSkillCount = 2,
	impeachTime = 5 * 24 * 3600,
	posCounts = {{ 1, 2, 1, 1, 1, 2 }, { 1, 2, 1, 1, 2, 3 }, { 1, 2, 2, 2, 2, 3 }, { 1, 2, 2, 2, 3, 4 }, { 1, 2, 2, 3, 3, 5 }},
	maxMember = { 30,40,50,55,60 },
	impeachMailTitle = "弹劾",
	impeachMailContext = "[%s]弹劾行会会长，成为新一任行会会长，带领所有兄弟征战传奇！",
	kickMailTitle = "行会",
	kickMailContext = "你已经被踢出行会，请重新寻找属于你的兄弟行会",
	defaultMemo = "1.捐献、完成行会任务等可以获得贡献\n2.贡献可用于升级行会技能，增加人物属性\n3.行会等级越高，可容纳人数越多",
	nameNoticeId = 3,
	nameUsedNoticeId = 4,
	joinOfflineNoticeId = 5,
	joinOtherGuildNoticeId = 6,
	guildMaxMemberNoticeId = 7,
	impeachCost = 9998,
	buildingNames = {"管理大厅","练功房","行会商店","议事堂"},
	guildGiftAward = {{type=1,id=200100,count=1}},
	guildGiftTitle = "|C:0xf8b141&T:致亲爱的朋友|",
	guildGiftContent = "恭喜您度过传奇的新手之旅，但是您的传奇之路刚刚开启，前面更强的敌人需要朋友的帮助，赶紧变强和您的朋友共创传奇。\n\n\n您可以通过以下方式变强：\n1.无兄弟不传奇，升级到60级加入|C:0x35e62b&T:行会|开启征服之路\n2.通过|C:0x35e62b&T:闯关|、|C:0x35e62b&T:经验副本|快速升级\n3.|C:0x35e62b&T:闯关|和|C:0x35e62b&T:挑战boss|等方式获得装备",
	bonfireValue = 5,
	affairMember = {10,20,30,35,40},
	guildGiftCondition = {achievementId=1000,taskId=100061},
	bonfireItem = 200060,
	bonfireReward = {{type=0,id=5,count=30}},
}