--G-公会.xlsx 公会捐献配置
GuildDonateConfig={
[1] = {
	index = 1,
	type = 0,
	id = 2,
	count = 1000,
	dayCount = {0,1,2,4,8,16,24,32,40,48,50},
	awardContri = 1000,
	awardFund = 1000,
},
[2] = {
	index = 2,
	type = 0,
	id = 1,
	count = 200000,
	dayCount = 10,
	awardContri = 100,
	awardFund = 100,
},
[3] = {
	index = 3,
	type = 1,
	id = 200105,
	count = 1,
	dayCount = 5,
	awardContri = 200,
	awardFund = 200,
},
[4] = {
	index = 4,
	type = 1,
	id = 200106,
	count = 1,
	dayCount = 5,
	awardContri = 50,
	awardFund = 50,
},
}