--C-场景配置表.xlsx 场景表
ScenesConfig={
[1] = {
	sceneid = 1,
	mapfilename = "map001",
	enterX = 56,
	enterY = 37,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[2] = {
	sceneid = 2,
	mapfilename = "map002",
	enterX = 4,
	enterY = 6,
	sizeX = 59,
	sizeY = 27,
	turn = 0,
},
[3] = {
	sceneid = 3,
	mapfilename = "map003",
	enterX = 19,
	enterY = 3,
	sizeX = 67,
	sizeY = 35,
	turn = 0,
},
[4] = {
	sceneid = 4,
	mapfilename = "map004",
	enterX = 61,
	enterY = 22,
	sizeX = 67,
	sizeY = 54,
	turn = 0,
},
[5] = {
	sceneid = 5,
	mapfilename = "map005",
	enterX = 60,
	enterY = 45,
	sizeX = 63,
	sizeY = 51,
	turn = 0,
},
[6] = {
	sceneid = 6,
	mapfilename = "map006",
	enterX = 3,
	enterY = 12,
	sizeX = 77,
	sizeY = 57,
	turn = 0,
},
[7] = {
	sceneid = 7,
	mapfilename = "map007",
	enterX = 46,
	enterY = 3,
	sizeX = 67,
	sizeY = 51,
	turn = 0,
},
[8] = {
	sceneid = 8,
	mapfilename = "map008",
	enterX = 11,
	enterY = 7,
	sizeX = 67,
	sizeY = 55,
	turn = 0,
},
[9] = {
	sceneid = 9,
	mapfilename = "map009",
	enterX = 70,
	enterY = 6,
	sizeX = 83,
	sizeY = 59,
	turn = 0,
},
[10] = {
	sceneid = 10,
	mapfilename = "map010",
	enterX = 3,
	enterY = 9,
	sizeX = 83,
	sizeY = 53,
	turn = 0,
},
[11] = {
	sceneid = 11,
	mapfilename = "map011",
	enterX = 41,
	enterY = 6,
	sizeX = 55,
	sizeY = 79,
	turn = 0,
},
[12] = {
	sceneid = 12,
	mapfilename = "map012",
	enterX = 11,
	enterY = 41,
	sizeX = 87,
	sizeY = 51,
	turn = 0,
},
[13] = {
	sceneid = 13,
	mapfilename = "map013",
	enterX = 39,
	enterY = 9,
	sizeX = 79,
	sizeY = 47,
	turn = 0,
},
[14] = {
	sceneid = 14,
	mapfilename = "map014",
	enterX = 4,
	enterY = 6,
	sizeX = 63,
	sizeY = 39,
	turn = 0,
},
[15] = {
	sceneid = 15,
	mapfilename = "map015",
	enterX = 4,
	enterY = 11,
	sizeX = 43,
	sizeY = 79,
	turn = 0,
},
[16] = {
	sceneid = 16,
	mapfilename = "map016",
	enterX = 54,
	enterY = 49,
	sizeX = 83,
	sizeY = 51,
	turn = 0,
},
[17] = {
	sceneid = 17,
	mapfilename = "map005",
	enterX = 50,
	enterY = 5,
	sizeX = 65,
	sizeY = 53,
	turn = 0,
},
[18] = {
	sceneid = 18,
	mapfilename = "map017",
	enterX = 57,
	enterY = 5,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[19] = {
	sceneid = 19,
	mapfilename = "map018",
	enterX = 8,
	enterY = 10,
	sizeX = 79,
	sizeY = 51,
	turn = 0,
},
[20] = {
	sceneid = 20,
	mapfilename = "map019",
	enterX = 5,
	enterY = 9,
	sizeX = 75,
	sizeY = 51,
	turn = 0,
},
[21] = {
	sceneid = 21,
	mapfilename = "map020",
	enterX = 24,
	enterY = 60,
	sizeX = 47,
	sizeY = 63,
	turn = 0,
},
[22] = {
	sceneid = 22,
	mapfilename = "map002",
	enterX = 3,
	enterY = 22,
	sizeX = 59,
	sizeY = 27,
	turn = 1,
},
[23] = {
	sceneid = 23,
	mapfilename = "map003",
	enterX = 6,
	enterY = 27,
	sizeX = 67,
	sizeY = 35,
	turn = 1,
},
[24] = {
	sceneid = 24,
	mapfilename = "map003",
	enterX = 61,
	enterY = 27,
	sizeX = 67,
	sizeY = 35,
	turn = 0,
},
[25] = {
	sceneid = 25,
	mapfilename = "map004",
	enterX = 62,
	enterY = 51,
	sizeX = 67,
	sizeY = 54,
	turn = 1,
},
[26] = {
	sceneid = 26,
	mapfilename = "map004",
	enterX = 2,
	enterY = 41,
	sizeX = 67,
	sizeY = 54,
	turn = 0,
},
[27] = {
	sceneid = 27,
	mapfilename = "map005",
	enterX = 57,
	enterY = 7,
	sizeX = 63,
	sizeY = 51,
	turn = 1,
},
[28] = {
	sceneid = 28,
	mapfilename = "map005",
	enterX = 4,
	enterY = 45,
	sizeX = 63,
	sizeY = 51,
	turn = 1,
},
[29] = {
	sceneid = 29,
	mapfilename = "map006",
	enterX = 72,
	enterY = 12,
	sizeX = 75,
	sizeY = 55,
	turn = 1,
},
[30] = {
	sceneid = 30,
	mapfilename = "map006",
	enterX = 71,
	enterY = 39,
	sizeX = 75,
	sizeY = 55,
	turn = 1,
},
[31] = {
	sceneid = 31,
	mapfilename = "map006",
	enterX = 68,
	enterY = 44,
	sizeX = 75,
	sizeY = 55,
	turn = 0,
},
[32] = {
	sceneid = 32,
	mapfilename = "map007",
	enterX = 2,
	enterY = 14,
	sizeX = 67,
	sizeY = 51,
	turn = 1,
},
[33] = {
	sceneid = 33,
	mapfilename = "map007",
	enterX = 64,
	enterY = 41,
	sizeX = 67,
	sizeY = 51,
	turn = 0,
},
[34] = {
	sceneid = 34,
	mapfilename = "map007",
	enterX = 65,
	enterY = 32,
	sizeX = 67,
	sizeY = 51,
	turn = 1,
},
[35] = {
	sceneid = 35,
	mapfilename = "map007",
	enterX = 65,
	enterY = 14,
	sizeX = 67,
	sizeY = 51,
	turn = 0,
},
[36] = {
	sceneid = 36,
	mapfilename = "map008",
	enterX = 56,
	enterY = 7,
	sizeX = 67,
	sizeY = 55,
	turn = 1,
},
[37] = {
	sceneid = 37,
	mapfilename = "map008",
	enterX = 63,
	enterY = 4,
	sizeX = 67,
	sizeY = 55,
	turn = 0,
},
[38] = {
	sceneid = 38,
	mapfilename = "map008",
	enterX = 46,
	enterY = 49,
	sizeX = 67,
	sizeY = 55,
	turn = 0,
},
[39] = {
	sceneid = 39,
	mapfilename = "map008",
	enterX = 4,
	enterY = 4,
	sizeX = 67,
	sizeY = 55,
	turn = 1,
},
[40] = {
	sceneid = 40,
	mapfilename = "map008",
	enterX = 10,
	enterY = 46,
	sizeX = 67,
	sizeY = 55,
	turn = 0,
},
[41] = {
	sceneid = 41,
	mapfilename = "map010",
	enterX = 77,
	enterY = 22,
	sizeX = 83,
	sizeY = 63,
	turn = 1,
},
[42] = {
	sceneid = 42,
	mapfilename = "map009",
	enterX = 13,
	enterY = 6,
	sizeX = 83,
	sizeY = 59,
	turn = 1,
},
[43] = {
	sceneid = 43,
	mapfilename = "map010",
	enterX = 6,
	enterY = 22,
	sizeX = 83,
	sizeY = 63,
	turn = 0,
},
[44] = {
	sceneid = 44,
	mapfilename = "map010",
	enterX = 80,
	enterY = 9,
	sizeX = 83,
	sizeY = 63,
	turn = 1,
},
[45] = {
	sceneid = 45,
	mapfilename = "map012",
	enterX = 75,
	enterY = 6,
	sizeX = 87,
	sizeY = 51,
	turn = 1,
},
[46] = {
	sceneid = 46,
	mapfilename = "map011",
	enterX = 9,
	enterY = 75,
	sizeX = 55,
	sizeY = 79,
	turn = 1,
},
[50] = {
	sceneid = 50,
	mapfilename = "map014",
	enterX = 2,
	enterY = 34,
	sizeX = 63,
	sizeY = 39,
	turn = 0,
},
[51] = {
	sceneid = 51,
	mapfilename = "map013",
	enterX = 40,
	enterY = 9,
	sizeX = 79,
	sizeY = 47,
	turn = 1,
},
[52] = {
	sceneid = 52,
	mapfilename = "map014",
	enterX = 59,
	enterY = 6,
	sizeX = 63,
	sizeY = 39,
	turn = 1,
},
[53] = {
	sceneid = 53,
	mapfilename = "map015",
	enterX = 39,
	enterY = 11,
	sizeX = 43,
	sizeY = 79,
	turn = 1,
},
[54] = {
	sceneid = 54,
	mapfilename = "map016",
	enterX = 78,
	enterY = 21,
	sizeX = 83,
	sizeY = 51,
	turn = 1,
},
[55] = {
	sceneid = 55,
	mapfilename = "map015",
	enterX = 5,
	enterY = 76,
	sizeX = 43,
	sizeY = 79,
	turn = 1,
},
[56] = {
	sceneid = 56,
	mapfilename = "map005",
	enterX = 10,
	enterY = 44,
	sizeX = 65,
	sizeY = 53,
	turn = 1,
},
[57] = {
	sceneid = 57,
	mapfilename = "map017",
	enterX = 6,
	enterY = 5,
	sizeX = 63,
	sizeY = 43,
	turn = 1,
},
[58] = {
	sceneid = 58,
	mapfilename = "map018",
	enterX = 5,
	enterY = 48,
	sizeX = 79,
	sizeY = 51,
	turn = 1,
},
[59] = {
	sceneid = 59,
	mapfilename = "map017",
	enterX = 5,
	enterY = 6,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[60] = {
	sceneid = 60,
	mapfilename = "map019",
	enterX = 71,
	enterY = 47,
	sizeX = 75,
	sizeY = 51,
	turn = 1,
},
[61] = {
	sceneid = 61,
	mapfilename = "map020",
	enterX = 3,
	enterY = 54,
	sizeX = 47,
	sizeY = 63,
	turn = 1,
},
[62] = {
	sceneid = 62,
	mapfilename = "map019",
	enterX = 4,
	enterY = 47,
	sizeX = 75,
	sizeY = 51,
	turn = 0,
},
[63] = {
	sceneid = 63,
	mapfilename = "map020",
	enterX = 24,
	enterY = 61,
	sizeX = 47,
	sizeY = 63,
	turn = 1,
},
[64] = {
	sceneid = 64,
	mapfilename = "map019",
	enterX = 2,
	enterY = 38,
	sizeX = 75,
	sizeY = 51,
	turn = 1,
},
[65] = {
	sceneid = 65,
	mapfilename = "map020",
	enterX = 2,
	enterY = 14,
	sizeX = 47,
	sizeY = 63,
	turn = 0,
},
[66] = {
	sceneid = 66,
	mapfilename = "map020",
	enterX = 25,
	enterY = 2,
	sizeX = 47,
	sizeY = 63,
	turn = 1,
},
[67] = {
	sceneid = 67,
	mapfilename = "map012",
	enterX = 14,
	enterY = 7,
	sizeX = 87,
	sizeY = 51,
	turn = 0,
},
[68] = {
	sceneid = 68,
	mapfilename = "map005",
	enterX = 4,
	enterY = 42,
	sizeX = 63,
	sizeY = 51,
	turn = 0,
},
[69] = {
	sceneid = 69,
	mapfilename = "map011",
	enterX = 4,
	enterY = 24,
	sizeX = 55,
	sizeY = 79,
	turn = 1,
},
[70] = {
	sceneid = 70,
	mapfilename = "map020",
	enterX = 40,
	enterY = 7,
	sizeX = 47,
	sizeY = 63,
	turn = 1,
},
[71] = {
	sceneid = 71,
	mapfilename = "map019",
	enterX = 7,
	enterY = 30,
	sizeX = 75,
	sizeY = 51,
	turn = 1,
},
[72] = {
	sceneid = 72,
	mapfilename = "map014",
	enterX = 9,
	enterY = 36,
	sizeX = 63,
	sizeY = 39,
	turn = 1,
},
[73] = {
	sceneid = 73,
	mapfilename = "map017",
	enterX = 58,
	enterY = 40,
	sizeX = 63,
	sizeY = 43,
	turn = 1,
},
[74] = {
	sceneid = 74,
	mapfilename = "map008",
	enterX = 21,
	enterY = 49,
	sizeX = 67,
	sizeY = 55,
	turn = 1,
},
[75] = {
	sceneid = 75,
	mapfilename = "map010",
	enterX = 78,
	enterY = 10,
	sizeX = 83,
	sizeY = 63,
	turn = 1,
},
[76] = {
	sceneid = 76,
	mapfilename = "map005",
	enterX = 59,
	enterY = 42,
	sizeX = 63,
	sizeY = 51,
	turn = 1,
},
[77] = {
	sceneid = 77,
	mapfilename = "map011",
	enterX = 51,
	enterY = 24,
	sizeX = 55,
	sizeY = 79,
	turn = 0,
},
[78] = {
	sceneid = 78,
	mapfilename = "map020",
	enterX = 45,
	enterY = 16,
	sizeX = 47,
	sizeY = 63,
	turn = 0,
},
[79] = {
	sceneid = 79,
	mapfilename = "map014",
	enterX = 54,
	enterY = 36,
	sizeX = 63,
	sizeY = 39,
	turn = 0,
},
[80] = {
	sceneid = 80,
	mapfilename = "map018",
	enterX = 73,
	enterY = 48,
	sizeX = 79,
	sizeY = 51,
	turn = 0,
},
[81] = {
	sceneid = 81,
	mapfilename = "map017",
	enterX = 5,
	enterY = 40,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[82] = {
	sceneid = 82,
	mapfilename = "map006",
	enterX = 7,
	enterY = 44,
	sizeX = 75,
	sizeY = 55,
	turn = 1,
},
[1001] = {
	sceneid = 1001,
	mapfilename = "map001",
	enterX = 56,
	enterY = 35,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[1002] = {
	sceneid = 1002,
	mapfilename = "map002",
	enterX = 47,
	enterY = 46,
	sizeX = 59,
	sizeY = 29,
	turn = 0,
},
[1003] = {
	sceneid = 1003,
	mapfilename = "map003",
	enterX = 28,
	enterY = 27,
	sizeX = 67,
	sizeY = 35,
	turn = 0,
},
[1004] = {
	sceneid = 1004,
	mapfilename = "map004",
	enterX = 63,
	enterY = 23,
	sizeX = 67,
	sizeY = 54,
	turn = 0,
},
[1005] = {
	sceneid = 1005,
	mapfilename = "map005",
	enterX = 63,
	enterY = 23,
	sizeX = 63,
	sizeY = 51,
	turn = 0,
},
[1006] = {
	sceneid = 1006,
	mapfilename = "map006",
	enterX = 63,
	enterY = 23,
	sizeX = 75,
	sizeY = 55,
	turn = 0,
},
[1007] = {
	sceneid = 1007,
	mapfilename = "map007",
	enterX = 12,
	enterY = 34,
	sizeX = 67,
	sizeY = 51,
	turn = 0,
},
[1008] = {
	sceneid = 1008,
	mapfilename = "map008",
	enterX = 31,
	enterY = 31,
	sizeX = 67,
	sizeY = 53,
	turn = 0,
},
[1009] = {
	sceneid = 1009,
	mapfilename = "map009",
	enterX = 68,
	enterY = 8,
	sizeX = 83,
	sizeY = 59,
	turn = 0,
},
[1010] = {
	sceneid = 1010,
	mapfilename = "map010",
	enterX = 7,
	enterY = 11,
	sizeX = 83,
	sizeY = 59,
	turn = 0,
},
[1011] = {
	sceneid = 1011,
	mapfilename = "map011",
	enterX = 41,
	enterY = 6,
	sizeX = 55,
	sizeY = 79,
	turn = 0,
},
[1012] = {
	sceneid = 1012,
	mapfilename = "map012",
	enterX = 11,
	enterY = 41,
	sizeX = 87,
	sizeY = 51,
	turn = 0,
},
[1013] = {
	sceneid = 1013,
	mapfilename = "map013",
	enterX = 17,
	enterY = 13,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[1014] = {
	sceneid = 1014,
	mapfilename = "map014",
	enterX = 23,
	enterY = 12,
	sizeX = 63,
	sizeY = 39,
	turn = 0,
},
[1015] = {
	sceneid = 1015,
	mapfilename = "map015",
	enterX = 4,
	enterY = 11,
	sizeX = 43,
	sizeY = 79,
	turn = 0,
},
[1016] = {
	sceneid = 1016,
	mapfilename = "map016",
	enterX = 54,
	enterY = 46,
	sizeX = 83,
	sizeY = 51,
	turn = 0,
},
[1017] = {
	sceneid = 1017,
	mapfilename = "map017",
	enterX = 59,
	enterY = 6,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[1018] = {
	sceneid = 1018,
	mapfilename = "map018",
	enterX = 7,
	enterY = 11,
	sizeX = 79,
	sizeY = 51,
	turn = 0,
},
[1019] = {
	sceneid = 1019,
	mapfilename = "map019",
	enterX = 18,
	enterY = 15,
	sizeX = 75,
	sizeY = 51,
	turn = 0,
},
[1020] = {
	sceneid = 1020,
	mapfilename = "map020",
	enterX = 12,
	enterY = 11,
	sizeX = 47,
	sizeY = 63,
	turn = 0,
},
[1022] = {
	sceneid = 1022,
	mapfilename = "map002",
	enterX = 6,
	enterY = 22,
	sizeX = 59,
	sizeY = 29,
	turn = 1,
},
[1023] = {
	sceneid = 1023,
	mapfilename = "map003",
	enterX = 6,
	enterY = 27,
	sizeX = 67,
	sizeY = 35,
	turn = 1,
},
[1024] = {
	sceneid = 1024,
	mapfilename = "map004",
	enterX = 62,
	enterY = 50,
	sizeX = 67,
	sizeY = 54,
	turn = 1,
},
[1025] = {
	sceneid = 1025,
	mapfilename = "map005",
	enterX = 62,
	enterY = 50,
	sizeX = 63,
	sizeY = 51,
	turn = 1,
},
[1026] = {
	sceneid = 1026,
	mapfilename = "map006",
	enterX = 62,
	enterY = 50,
	sizeX = 75,
	sizeY = 55,
	turn = 1,
},
[1027] = {
	sceneid = 1027,
	mapfilename = "map007",
	enterX = 62,
	enterY = 50,
	sizeX = 67,
	sizeY = 51,
	turn = 1,
},
[1028] = {
	sceneid = 1028,
	mapfilename = "map008",
	enterX = 62,
	enterY = 50,
	sizeX = 67,
	sizeY = 53,
	turn = 1,
},
[1029] = {
	sceneid = 1029,
	mapfilename = "map009",
	enterX = 15,
	enterY = 8,
	sizeX = 81,
	sizeY = 61,
	turn = 1,
},
[1030] = {
	sceneid = 1030,
	mapfilename = "map010",
	enterX = 76,
	enterY = 22,
	sizeX = 81,
	sizeY = 61,
	turn = 1,
},
[1031] = {
	sceneid = 1031,
	mapfilename = "map011",
	enterX = 9,
	enterY = 75,
	sizeX = 55,
	sizeY = 79,
	turn = 1,
},
[1032] = {
	sceneid = 1032,
	mapfilename = "map012",
	enterX = 75,
	enterY = 6,
	sizeX = 87,
	sizeY = 51,
	turn = 1,
},
[1033] = {
	sceneid = 1033,
	mapfilename = "map015",
	enterX = 39,
	enterY = 11,
	sizeX = 43,
	sizeY = 79,
	turn = 1,
},
[1034] = {
	sceneid = 1034,
	mapfilename = "map016",
	enterX = 78,
	enterY = 19,
	sizeX = 83,
	sizeY = 51,
	turn = 1,
},
[1035] = {
	sceneid = 1035,
	mapfilename = "map017",
	enterX = 59,
	enterY = 6,
	sizeX = 63,
	sizeY = 43,
	turn = 1,
},
[1036] = {
	sceneid = 1036,
	mapfilename = "map018",
	enterX = 7,
	enterY = 11,
	sizeX = 79,
	sizeY = 51,
	turn = 1,
},
[1037] = {
	sceneid = 1037,
	mapfilename = "map019",
	enterX = 59,
	enterY = 6,
	sizeX = 75,
	sizeY = 51,
	turn = 1,
},
[1038] = {
	sceneid = 1038,
	mapfilename = "map020",
	enterX = 7,
	enterY = 11,
	sizeX = 47,
	sizeY = 63,
	turn = 1,
},
[1039] = {
	sceneid = 1039,
	mapfilename = "map014",
	enterX = 23,
	enterY = 12,
	sizeX = 63,
	sizeY = 39,
	turn = 1,
},
[2001] = {
	sceneid = 2001,
	mapfilename = "map313",
	enterX = 17,
	enterY = 20,
	sizeX = 75,
	sizeY = 47,
	turn = 0,
},
[3001] = {
	sceneid = 3001,
	mapfilename = "map315",
	enterX = 4,
	enterY = 9,
	sizeX = 35,
	sizeY = 23,
	turn = 0,
},
[3002] = {
	sceneid = 3002,
	mapfilename = "map312",
	enterX = 11,
	enterY = 21,
	sizeX = 67,
	sizeY = 27,
	turn = 0,
},
[3003] = {
	sceneid = 3003,
	mapfilename = "map316",
	enterX = 9,
	enterY = 45,
	sizeX = 75,
	sizeY = 47,
	turn = 0,
},
[3004] = {
	sceneid = 3004,
	mapfilename = "map314",
	enterX = 40,
	enterY = 23,
	sizeX = 67,
	sizeY = 27,
	turn = 0,
},
[3005] = {
	sceneid = 3005,
	mapfilename = "map313",
	enterX = 22,
	enterY = 15,
	sizeX = 40,
	sizeY = 24,
	turn = 0,
},
[3006] = {
	sceneid = 3006,
	mapfilename = "map320",
	enterX = 16,
	enterY = 9,
	sizeX = 22,
	sizeY = 22,
	turn = 0,
},
[3101] = {
	sceneid = 3101,
	mapfilename = "map103",
	enterX = 12,
	enterY = 19,
	sizeX = 34,
	sizeY = 28,
	turn = 0,
},
[3102] = {
	sceneid = 3102,
	mapfilename = "map003",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3103] = {
	sceneid = 3103,
	mapfilename = "map004",
	enterX = 21,
	enterY = 20,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3104] = {
	sceneid = 3104,
	mapfilename = "map005",
	enterX = 20,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3105] = {
	sceneid = 3105,
	mapfilename = "map006",
	enterX = 20,
	enterY = 22,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3106] = {
	sceneid = 3106,
	mapfilename = "map007",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3107] = {
	sceneid = 3107,
	mapfilename = "map008",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3108] = {
	sceneid = 3108,
	mapfilename = "map009",
	enterX = 19,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3109] = {
	sceneid = 3109,
	mapfilename = "map010",
	enterX = 21,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3110] = {
	sceneid = 3110,
	mapfilename = "map011",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3111] = {
	sceneid = 3111,
	mapfilename = "map012",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3112] = {
	sceneid = 3112,
	mapfilename = "map006",
	enterX = 20,
	enterY = 22,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3113] = {
	sceneid = 3113,
	mapfilename = "map003",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3114] = {
	sceneid = 3114,
	mapfilename = "map004",
	enterX = 21,
	enterY = 20,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3115] = {
	sceneid = 3115,
	mapfilename = "map005",
	enterX = 20,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3116] = {
	sceneid = 3116,
	mapfilename = "map006",
	enterX = 20,
	enterY = 22,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3117] = {
	sceneid = 3117,
	mapfilename = "map007",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3118] = {
	sceneid = 3118,
	mapfilename = "map008",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3119] = {
	sceneid = 3119,
	mapfilename = "map009",
	enterX = 19,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3120] = {
	sceneid = 3120,
	mapfilename = "map010",
	enterX = 21,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[3121] = {
	sceneid = 3121,
	mapfilename = "map100",
	enterX = 11,
	enterY = 13,
	sizeX = 31,
	sizeY = 21,
	turn = 0,
},
[4101] = {
	sceneid = 4101,
	mapfilename = "map002",
	enterX = 11,
	enterY = 27,
	sizeX = 61,
	sizeY = 29,
	turn = 0,
},
[4102] = {
	sceneid = 4102,
	mapfilename = "map002",
	enterX = 18,
	enterY = 4,
	sizeX = 69,
	sizeY = 54,
	turn = 0,
},
[4103] = {
	sceneid = 4103,
	mapfilename = "map002",
	enterX = 63,
	enterY = 23,
	sizeX = 65,
	sizeY = 53,
	turn = 0,
},
[4104] = {
	sceneid = 4104,
	mapfilename = "map002",
	enterX = 5,
	enterY = 12,
	sizeX = 77,
	sizeY = 57,
	turn = 0,
},
[4105] = {
	sceneid = 4105,
	mapfilename = "map002",
	enterX = 20,
	enterY = 22,
	sizeX = 65,
	sizeY = 53,
	turn = 0,
},
[4106] = {
	sceneid = 4106,
	mapfilename = "map002",
	enterX = 20,
	enterY = 24,
	sizeX = 65,
	sizeY = 53,
	turn = 0,
},
[4107] = {
	sceneid = 4107,
	mapfilename = "map002",
	enterX = 7,
	enterY = 11,
	sizeX = 81,
	sizeY = 61,
	turn = 0,
},
[4108] = {
	sceneid = 4108,
	mapfilename = "map002",
	enterX = 11,
	enterY = 41,
	sizeX = 89,
	sizeY = 53,
	turn = 0,
},
[4109] = {
	sceneid = 4109,
	mapfilename = "map002",
	enterX = 4,
	enterY = 6,
	sizeX = 65,
	sizeY = 40,
	turn = 0,
},
[4110] = {
	sceneid = 4110,
	mapfilename = "map002",
	enterX = 54,
	enterY = 46,
	sizeX = 81,
	sizeY = 49,
	turn = 0,
},
[4111] = {
	sceneid = 4111,
	mapfilename = "map403",
	enterX = 22,
	enterY = 22,
	sizeX = 43,
	sizeY = 43,
	turn = 0,
},
[4112] = {
	sceneid = 4112,
	mapfilename = "map402",
	enterX = 21,
	enterY = 22,
	sizeX = 44,
	sizeY = 44,
	turn = 0,
},
[4113] = {
	sceneid = 4113,
	mapfilename = "map404",
	enterX = 23,
	enterY = 22,
	sizeX = 43,
	sizeY = 43,
	turn = 0,
},
[4201] = {
	sceneid = 4201,
	mapfilename = "map011",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[4301] = {
	sceneid = 4301,
	mapfilename = "map401",
	enterX = 16,
	enterY = 12,
	sizeX = 35,
	sizeY = 23,
	turn = 0,
},
[4401] = {
	sceneid = 4401,
	mapfilename = "map317",
	enterX = 15,
	enterY = 15,
	sizeX = 39,
	sizeY = 23,
	turn = 0,
},
[4501] = {
	sceneid = 4501,
	mapfilename = "map319",
	enterX = 13,
	enterY = 14,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[5101] = {
	sceneid = 5101,
	mapfilename = "map301",
	enterX = 21,
	enterY = 22,
	sizeX = 51,
	sizeY = 29,
	turn = 0,
},
[5102] = {
	sceneid = 5102,
	mapfilename = "map302",
	enterX = 28,
	enterY = 13,
	sizeX = 56,
	sizeY = 26,
	turn = 0,
},
[5103] = {
	sceneid = 5103,
	mapfilename = "map303",
	enterX = 20,
	enterY = 11,
	sizeX = 43,
	sizeY = 23,
	turn = 0,
},
[5104] = {
	sceneid = 5104,
	mapfilename = "map405",
	enterX = 21,
	enterY = 15,
	sizeX = 39,
	sizeY = 27,
	turn = 0,
},
[5105] = {
	sceneid = 5105,
	mapfilename = "map305",
	enterX = 40,
	enterY = 21,
	sizeX = 86,
	sizeY = 50,
	turn = 0,
},
[5106] = {
	sceneid = 5106,
	mapfilename = "map306",
	enterX = 22,
	enterY = 15,
	sizeX = 44,
	sizeY = 29,
	turn = 0,
},
[5107] = {
	sceneid = 5107,
	mapfilename = "map307",
	enterX = 29,
	enterY = 17,
	sizeX = 59,
	sizeY = 35,
	turn = 0,
},
[5108] = {
	sceneid = 5108,
	mapfilename = "map308",
	enterX = 22,
	enterY = 22,
	sizeX = 44,
	sizeY = 44,
	turn = 0,
},
[5109] = {
	sceneid = 5109,
	mapfilename = "map309",
	enterX = 22,
	enterY = 22,
	sizeX = 44,
	sizeY = 44,
	turn = 0,
},
[5110] = {
	sceneid = 5110,
	mapfilename = "map310",
	enterX = 22,
	enterY = 22,
	sizeX = 44,
	sizeY = 44,
	turn = 0,
},
[5111] = {
	sceneid = 5111,
	mapfilename = "map311",
	enterX = 22,
	enterY = 22,
	sizeX = 44,
	sizeY = 44,
	turn = 0,
},
[5112] = {
	sceneid = 5112,
	mapfilename = "map318",
	enterX = 17,
	enterY = 8,
	sizeX = 25,
	sizeY = 23,
	turn = 0,
},
[5113] = {
	sceneid = 5113,
	mapfilename = "map003",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5114] = {
	sceneid = 5114,
	mapfilename = "map004",
	enterX = 21,
	enterY = 20,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5115] = {
	sceneid = 5115,
	mapfilename = "map005",
	enterX = 20,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5116] = {
	sceneid = 5116,
	mapfilename = "map006",
	enterX = 20,
	enterY = 22,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5117] = {
	sceneid = 5117,
	mapfilename = "map007",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5118] = {
	sceneid = 5118,
	mapfilename = "map008",
	enterX = 20,
	enterY = 24,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5119] = {
	sceneid = 5119,
	mapfilename = "map009",
	enterX = 19,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5120] = {
	sceneid = 5120,
	mapfilename = "map010",
	enterX = 21,
	enterY = 23,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5201] = {
	sceneid = 5201,
	mapfilename = "map106",
	enterX = 4,
	enterY = 6,
	sizeX = 15,
	sizeY = 18,
	turn = 0,
},
[5211] = {
	sceneid = 5211,
	mapfilename = "map107",
	enterX = 15,
	enterY = 20,
	sizeX = 22,
	sizeY = 22,
	turn = 0,
},
[5212] = {
	sceneid = 5212,
	mapfilename = "map108",
	enterX = 25,
	enterY = 27,
	sizeX = 33,
	sizeY = 33,
	turn = 0,
},
[5213] = {
	sceneid = 5213,
	mapfilename = "map109",
	enterX = 16,
	enterY = 13,
	sizeX = 22,
	sizeY = 22,
	turn = 0,
},
[5214] = {
	sceneid = 5214,
	mapfilename = "map110",
	enterX = 25,
	enterY = 16,
	sizeX = 34,
	sizeY = 21,
	turn = 0,
},
[5215] = {
	sceneid = 5215,
	mapfilename = "map003",
	enterX = 20,
	enterY = 18,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5216] = {
	sceneid = 5216,
	mapfilename = "map003",
	enterX = 20,
	enterY = 18,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5217] = {
	sceneid = 5217,
	mapfilename = "map003",
	enterX = 20,
	enterY = 18,
	sizeX = 45,
	sizeY = 45,
	turn = 0,
},
[5301] = {
	sceneid = 5301,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5302] = {
	sceneid = 5302,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5303] = {
	sceneid = 5303,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5304] = {
	sceneid = 5304,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5305] = {
	sceneid = 5305,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5306] = {
	sceneid = 5306,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5307] = {
	sceneid = 5307,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5308] = {
	sceneid = 5308,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5309] = {
	sceneid = 5309,
	mapfilename = "map211",
	enterX = 10,
	enterY = 10,
	sizeX = 20,
	sizeY = 13,
	turn = 0,
},
[5401] = {
	sceneid = 5401,
	mapfilename = "map303",
	enterX = 28,
	enterY = 15,
	sizeX = 43,
	sizeY = 23,
	turn = 0,
},
[5402] = {
	sceneid = 5402,
	mapfilename = "map101",
	enterX = 25,
	enterY = 19,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[5403] = {
	sceneid = 5403,
	mapfilename = "map102",
	enterX = 19,
	enterY = 17,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[5404] = {
	sceneid = 5404,
	mapfilename = "map103",
	enterX = 20,
	enterY = 19,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[5405] = {
	sceneid = 5405,
	mapfilename = "map104",
	enterX = 20,
	enterY = 16,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[5406] = {
	sceneid = 5406,
	mapfilename = "map105",
	enterX = 21,
	enterY = 14,
	sizeX = 31,
	sizeY = 19,
	turn = 0,
},
[5601] = {
	sceneid = 5601,
	mapfilename = "map321",
	enterX = 31,
	enterY = 16,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5701] = {
	sceneid = 5701,
	mapfilename = "map321",
	enterX = 27,
	enterY = 15,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5702] = {
	sceneid = 5702,
	mapfilename = "map321",
	enterX = 27,
	enterY = 15,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5703] = {
	sceneid = 5703,
	mapfilename = "map321",
	enterX = 27,
	enterY = 15,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5704] = {
	sceneid = 5704,
	mapfilename = "map321",
	enterX = 27,
	enterY = 15,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5705] = {
	sceneid = 5705,
	mapfilename = "map321",
	enterX = 27,
	enterY = 15,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5706] = {
	sceneid = 5706,
	mapfilename = "map321",
	enterX = 27,
	enterY = 15,
	sizeX = 43,
	sizeY = 31,
	turn = 0,
},
[5801] = {
	sceneid = 5801,
	mapfilename = "map001",
	enterX = 56,
	enterY = 37,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[5802] = {
	sceneid = 5802,
	mapfilename = "map305",
	enterX = 51,
	enterY = 33,
	sizeX = 86,
	sizeY = 50,
	turn = 0,
},
[5803] = {
	sceneid = 5803,
	mapfilename = "map003",
	enterX = 19,
	enterY = 3,
	sizeX = 67,
	sizeY = 35,
	turn = 0,
},
[5804] = {
	sceneid = 5804,
	mapfilename = "map112",
	enterX = 9,
	enterY = 10,
	sizeX = 39,
	sizeY = 31,
	turn = 0,
},
[5805] = {
	sceneid = 5805,
	mapfilename = "map007",
	enterX = 42,
	enterY = 33,
	sizeX = 67,
	sizeY = 51,
	turn = 0,
},
[5806] = {
	sceneid = 5806,
	mapfilename = "map320",
	enterX = 4,
	enterY = 17,
	sizeX = 23,
	sizeY = 23,
	turn = 0,
},
[5807] = {
	sceneid = 5807,
	mapfilename = "map113",
	enterX = 15,
	enterY = 13,
	sizeX = 39,
	sizeY = 27,
	turn = 0,
},
[5808] = {
	sceneid = 5808,
	mapfilename = "map014",
	enterX = 12,
	enterY = 9,
	sizeX = 63,
	sizeY = 39,
	turn = 0,
},
[5809] = {
	sceneid = 5809,
	mapfilename = "map406",
	enterX = 25,
	enterY = 22,
	sizeX = 67,
	sizeY = 47,
	turn = 0,
},
[5810] = {
	sceneid = 5810,
	mapfilename = "map012",
	enterX = 78,
	enterY = 26,
	sizeX = 87,
	sizeY = 51,
	turn = 0,
},
[6000] = {
	sceneid = 6000,
	mapfilename = "map403",
	enterX = 12,
	enterY = 29,
	sizeX = 43,
	sizeY = 43,
	turn = 0,
},
[6001] = {
	sceneid = 6001,
	mapfilename = "map406",
	enterX = 57,
	enterY = 40,
	sizeX = 67,
	sizeY = 47,
	turn = 0,
},
[7000] = {
	sceneid = 7000,
	mapfilename = "map407",
	enterX = 3,
	enterY = 12,
	sizeX = 15,
	sizeY = 15,
	turn = 0,
},
[7001] = {
	sceneid = 7001,
	mapfilename = "map408",
	enterX = 16,
	enterY = 12,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[7002] = {
	sceneid = 7002,
	mapfilename = "map409",
	enterX = 36,
	enterY = 26,
	sizeX = 83,
	sizeY = 47,
	turn = 0,
	area = {{attr={{type=0}},grids={{x=37,y=18},{x=51,y=25},{x=38,y=33},{x=24,y=25}}}},
},
[7003] = {
	sceneid = 7003,
	mapfilename = "map410",
	enterX = 87,
	enterY = 63,
	sizeX = 167,
	sizeY = 115,
	turn = 0,
},
[7004] = {
	sceneid = 7004,
	mapfilename = "map411",
	enterX = 8,
	enterY = 25,
	sizeX = 39,
	sizeY = 31,
	turn = 0,
	area = {
{attr={{type=1,iparm={2}}},grids={{x=0,y=0},{x=39,y=0},{x=39,y=31},{x=0,y=31}}},
{attr={{type=0},{type=1,param={1}}},grids={{x=6,y=18},{x=17,y=25},{x=10,y=29},{x=0,y=22}}},
{attr={{type=1,iparm={3}}},grids={{x=13,y=16},{x=14,y=17},{x=15,y=16},{x=14,y=15}}},
{attr={{type=1,iparm={4}}},grids={{x=20,y=21},{x=21,y=22},{x=22,y=21},{x=21,y=20}}},
{attr={{type=1,iparm={5}}},grids={{x=31,y=14},{x=32,y=15},{x=33,y=14},{x=32,y=13}}},
{attr={{type=1,iparm={6}}},grids={{x=24,y=10},{x=25,y=11},{x=26,y=10},{x=25,y=9}}},
{attr={{type=1,iparm={7}}},grids={{x=22,y=15},{x=23,y=16},{x=24,y=15},{x=23,y=14}}}
}
,
},
[7005] = {
	sceneid = 7005,
	mapfilename = "map412",
	enterX = 22,
	enterY = 15,
	sizeX = 39,
	sizeY = 31,
	turn = 0,
},
[7006] = {
	sceneid = 7006,
	mapfilename = "map413",
	enterX = 13,
	enterY = 9,
	sizeX = 27,
	sizeY = 19,
	turn = 0,
},
[7008] = {
	sceneid = 7008,
	mapfilename = "map415",
	enterX = 15,
	enterY = 14,
	sizeX = 31,
	sizeY = 27,
	turn = 0,
},
[7009] = {
	sceneid = 7009,
	mapfilename = "map416",
	enterX = 19,
	enterY = 18,
	sizeX = 39,
	sizeY = 31,
	turn = 0,
},
[7010] = {
	sceneid = 7010,
	mapfilename = "map417",
	enterX = 23,
	enterY = 21,
	sizeX = 47,
	sizeY = 35,
	turn = 0,
},
[7011] = {
	sceneid = 7011,
	mapfilename = "map418",
	enterX = 16,
	enterY = 12,
	sizeX = 35,
	sizeY = 23,
	turn = 0,
},
[7012] = {
	sceneid = 7012,
	mapfilename = "map419",
	enterX = 33,
	enterY = 25,
	sizeX = 67,
	sizeY = 47,
	turn = 0,
},
[7013] = {
	sceneid = 7013,
	mapfilename = "map420",
	enterX = 27,
	enterY = 23,
	sizeX = 55,
	sizeY = 39,
	turn = 0,
},
[7014] = {
	sceneid = 7014,
	mapfilename = "map303",
	enterX = 40,
	enterY = 14,
	sizeX = 43,
	sizeY = 23,
	turn = 0,
},
[7015] = {
	sceneid = 7015,
	mapfilename = "map421",
	enterX = 27,
	enterY = 12,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7016] = {
	sceneid = 7016,
	mapfilename = "map422",
	enterX = 18,
	enterY = 16,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7017] = {
	sceneid = 7017,
	mapfilename = "map423",
	enterX = 18,
	enterY = 18,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7018] = {
	sceneid = 7018,
	mapfilename = "map424",
	enterX = 32,
	enterY = 15,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7019] = {
	sceneid = 7019,
	mapfilename = "map421",
	enterX = 13,
	enterY = 30,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7020] = {
	sceneid = 7020,
	mapfilename = "map422",
	enterX = 27,
	enterY = 28,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7021] = {
	sceneid = 7021,
	mapfilename = "map423",
	enterX = 27,
	enterY = 28,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7022] = {
	sceneid = 7022,
	mapfilename = "map424",
	enterX = 11,
	enterY = 26,
	sizeX = 39,
	sizeY = 39,
	turn = 0,
},
[7023] = {
	sceneid = 7023,
	mapfilename = "map425",
	enterX = 12,
	enterY = 21,
	sizeX = 35,
	sizeY = 35,
	turn = 0,
},
[7024] = {
	sceneid = 7024,
	mapfilename = "map426",
	enterX = 26,
	enterY = 20,
	sizeX = 55,
	sizeY = 39,
	turn = 0,
	area = {
{attr={{type=2,iparm={1}}},grids={{x=6,y=34},{x=6,y=35},{x=7,y=35},{x=7,y=34}}},
{attr={{type=2,iparm={2}}},grids={{x=46,y=5},{x=46,y=6},{x=47,y=6},{x=47,y=5}}}
}
,
},
[8000] = {
	sceneid = 8000,
	mapfilename = "map111",
	enterX = 12,
	enterY = 14,
	sizeX = 35,
	sizeY = 23,
	turn = 0,
},
[8001] = {
	sceneid = 8001,
	mapfilename = "map408",
	enterX = 11,
	enterY = 15,
	sizeX = 31,
	sizeY = 23,
	turn = 0,
},
[8101] = {
	sceneid = 8101,
	mapfilename = "map017",
	enterX = 41,
	enterY = 26,
	sizeX = 63,
	sizeY = 43,
	turn = 0,
},
[9999] = {
	sceneid = 9999,
	mapfilename = "map313",
	enterX = 27,
	enterY = 17,
	sizeX = 68,
	sizeY = 35,
	turn = 0,
	area = { {attr={0},x1=0,y1=0, x2=68,y2=35} },
},
}