--J-激情泡点.xlsx 区域奖励配置
PassionPointAwardConfig={
[1] = {
	id = 1,
	times = 1,
	reward = {{type=0,id=0,count=3000},{type=0,id=14,count=350}},
	hint = LAN.FUBEN.jqpd1,
	exp = 3000,
	prestigeExp = 350,
},
[2] = {
	id = 2,
	times = 2,
	reward = {{type=0,id=0,count=6000},{type=0,id=14,count=700}},
	hint = LAN.FUBEN.jqpd2,
	exp = 6000,
	prestigeExp = 700,
},
[3] = {
	id = 3,
	times = 3,
	reward = {{type=0,id=0,count=9000},{type=0,id=14,count=1050}},
	hint = LAN.FUBEN.jqpd3,
	exp = 9000,
	prestigeExp = 1050,
},
[4] = {
	id = 4,
	times = 3,
	reward = {{type=0,id=0,count=9000},{type=0,id=14,count=1050}},
	hint = LAN.FUBEN.jqpd4,
	exp = 9000,
	prestigeExp = 1050,
},
[5] = {
	id = 5,
	times = 3,
	reward = {{type=0,id=0,count=9000},{type=0,id=14,count=1050}},
	hint = LAN.FUBEN.jqpd5,
	exp = 9000,
	prestigeExp = 1050,
},
[6] = {
	id = 6,
	times = 3,
	reward = {{type=0,id=0,count=9000},{type=0,id=14,count=1050}},
	hint = LAN.FUBEN.jqpd6,
	exp = 9000,
	prestigeExp = 1050,
},
[7] = {
	id = 7,
	times = 5,
	reward = {{type=0,id=0,count=15000},{type=0,id=14,count=1750}},
	hint = LAN.FUBEN.jqpd7,
	exp = 15000,
	prestigeExp = 1750,
},
}