--J-激情泡点.xlsx 单项配置
PassionPointConfig={
	openLv = 3000,
	sendAwardSec = 10,
	lastTimes = 900,
	openDay = 2,
	advanceNotice = 165,
	openNotice = 166,
	buffId = 51000,
	birthPoint = {{x=7,y=21},{x=9,y=21},{x=6,y=22},{x=8,y=22},{x=10,y=22},{x=7,y=23},{x=9,y=23},{x=11,y=23},{x=8,y=24},{x=10,y=24},{x=12,y=24},{x=9,y=25},{x=11,y=25},{x=6,y=21},{x=7,y=22},{x=8,y=23},{x=9,y=24},{x=10,y=25},{x=8,y=21},{x=9,y=22},{x=10,y=23},{x=11,y=24},{x=12,y=25},{x=11,y=22}},
	buyRebornCdCost = 100,
	rebornCd = 10,
	sceneCd = 30,
	fbId = 50004,
	rewardAreaId = 1,
	rankingBoardSize = 5,
	saveAreaId = 1,
	doubleAreaId = 2,
	countTimes = 180,
}