--Z-组队副本配置.xlsx 副本配置
TeamFuBenConfig={
[1] = {
	id = 1,
	fbid = 33001,
	name = "边界村",
	chiv = 66,
	passReward = 1653335,
	pmaxnum = 3,
	pos = {{x=54,y=35},{x=56,y=37},{x=53,y=38}},
},
[2] = {
	id = 2,
	fbid = 33002,
	name = "骷髅洞",
	chiv = 66,
	passReward = 1653336,
	pmaxnum = 3,
	pos = {{x=51,y=33},{x=52,y=36},{x=54,y=34}},
},
[3] = {
	id = 3,
	fbid = 33003,
	name = "僵尸洞",
	chiv = 132,
	passReward = 1653337,
	pmaxnum = 3,
	pos = {{x=57,y=26},{x=59,y=25},{x=61,y=27}},
},
[4] = {
	id = 4,
	fbid = 33004,
	name = "沃玛寺庙",
	chiv = 132,
	passReward = 1653338,
	pmaxnum = 3,
	pos = {{x=10,y=11},{x=9,y=9},{x=7,y=10}},
},
[5] = {
	id = 5,
	fbid = 33005,
	name = "蜈蚣洞",
	chiv = 132,
	passReward = 1653339,
	pmaxnum = 3,
	pos = {{x=46,y=34},{x=44,y=36},{x=43,y=33}},
},
[6] = {
	id = 6,
	fbid = 33006,
	name = "石墓阵",
	chiv = 132,
	passReward = 1653340,
	pmaxnum = 3,
	pos = {{x=4,y=17},{x=4,y=20},{x=7,y=19}},
},
[7] = {
	id = 7,
	fbid = 33007,
	name = "祖玛阁",
	chiv = 198,
	passReward = 1653341,
	pmaxnum = 3,
	pos = {{x=15,y=13},{x=13,y=14},{x=17,y=12}},
},
[8] = {
	id = 8,
	fbid = 33008,
	name = "牛魔大厅",
	chiv = 198,
	passReward = 1653342,
	pmaxnum = 3,
	pos = {{x=12,y=9},{x=10,y=11},{x=9,y=8}},
},
[9] = {
	id = 9,
	fbid = 33009,
	name = "白日门",
	chiv = 198,
	passReward = 1653343,
	pmaxnum = 3,
	pos = {{x=25,y=22},{x=25,y=25},{x=28,y=23}},
},
[10] = {
	id = 10,
	fbid = 33010,
	name = "恶魔巢穴",
	chiv = 264,
	passReward = 1653344,
	pmaxnum = 3,
	pos = {{x=77,y=25},{x=80,y=24},{x=76,y=22}},
},
}