--J-经脉系统配置.xlsx 经脉阶级配置
JingMaiStageConfig={
[0] = {
	stage = 0,
	attr = {{type=2,value=0},{type=4,value=0},{type=5,value=0},{type=6,value=0}},
},
[1] = {
	stage = 1,
	attr = {{type=2,value=4387},{type=4,value=325},{type=5,value=81},{type=6,value=81}},
},
[2] = {
	stage = 2,
	attr = {{type=2,value=8774},{type=4,value=650},{type=5,value=162},{type=6,value=162}},
},
[3] = {
	stage = 3,
	attr = {{type=2,value=13161},{type=4,value=975},{type=5,value=243},{type=6,value=243}},
},
[4] = {
	stage = 4,
	attr = {{type=2,value=17548},{type=4,value=1300},{type=5,value=324},{type=6,value=324}},
},
[5] = {
	stage = 5,
	attr = {{type=2,value=21935},{type=4,value=1625},{type=5,value=405},{type=6,value=405}},
},
[6] = {
	stage = 6,
	attr = {{type=2,value=26322},{type=4,value=1950},{type=5,value=486},{type=6,value=486}},
},
[7] = {
	stage = 7,
	attr = {{type=2,value=30709},{type=4,value=2275},{type=5,value=567},{type=6,value=567}},
},
[8] = {
	stage = 8,
	attr = {{type=2,value=35096},{type=4,value=2600},{type=5,value=648},{type=6,value=648}},
},
[9] = {
	stage = 9,
	attr = {{type=2,value=39483},{type=4,value=2925},{type=5,value=729},{type=6,value=729}},
},
[10] = {
	stage = 10,
	attr = {{type=2,value=43870},{type=4,value=3250},{type=5,value=810},{type=6,value=810}},
},
[11] = {
	stage = 11,
	attr = {{type=2,value=48257},{type=4,value=3575},{type=5,value=891},{type=6,value=891}},
},
[12] = {
	stage = 12,
	attr = {{type=2,value=52644},{type=4,value=3900},{type=5,value=972},{type=6,value=972}},
},
[13] = {
	stage = 13,
	attr = {{type=2,value=57031},{type=4,value=4225},{type=5,value=1053},{type=6,value=1053}},
},
[14] = {
	stage = 14,
	attr = {{type=2,value=61418},{type=4,value=4550},{type=5,value=1134},{type=6,value=1134}},
},
[15] = {
	stage = 15,
	attr = {{type=2,value=65805},{type=4,value=4875},{type=5,value=1215},{type=6,value=1215}},
},
[16] = {
	stage = 16,
	attr = {{type=2,value=70192},{type=4,value=5200},{type=5,value=1296},{type=6,value=1296}},
},
[17] = {
	stage = 17,
	attr = {{type=2,value=74579},{type=4,value=5525},{type=5,value=1377},{type=6,value=1377}},
},
[18] = {
	stage = 18,
	attr = {{type=2,value=78966},{type=4,value=5850},{type=5,value=1458},{type=6,value=1458}},
},
[19] = {
	stage = 19,
	attr = {{type=2,value=83353},{type=4,value=6175},{type=5,value=1539},{type=6,value=1539}},
},
[20] = {
	stage = 20,
	attr = {{type=2,value=87740},{type=4,value=6500},{type=5,value=1620},{type=6,value=1620}},
},
[21] = {
	stage = 21,
	attr = {{type=2,value=92127},{type=4,value=6825},{type=5,value=1701},{type=6,value=1701}},
},
[22] = {
	stage = 22,
	attr = {{type=2,value=96514},{type=4,value=7150},{type=5,value=1782},{type=6,value=1782}},
},
[23] = {
	stage = 23,
	attr = {{type=2,value=100901},{type=4,value=7475},{type=5,value=1863},{type=6,value=1863}},
},
[24] = {
	stage = 24,
	attr = {{type=2,value=105288},{type=4,value=7800},{type=5,value=1944},{type=6,value=1944}},
},
[25] = {
	stage = 25,
	attr = {{type=2,value=109675},{type=4,value=8125},{type=5,value=2025},{type=6,value=2025}},
},
[26] = {
	stage = 26,
	attr = {{type=2,value=114062},{type=4,value=8450},{type=5,value=2106},{type=6,value=2106}},
},
[27] = {
	stage = 27,
	attr = {{type=2,value=118449},{type=4,value=8775},{type=5,value=2187},{type=6,value=2187}},
},
[28] = {
	stage = 28,
	attr = {{type=2,value=122836},{type=4,value=9100},{type=5,value=2268},{type=6,value=2268}},
},
[29] = {
	stage = 29,
	attr = {{type=2,value=127223},{type=4,value=9425},{type=5,value=2349},{type=6,value=2349}},
},
[30] = {
	stage = 30,
	attr = {{type=2,value=131610},{type=4,value=9750},{type=5,value=2430},{type=6,value=2430}},
},
[31] = {
	stage = 31,
	attr = {{type=2,value=135997},{type=4,value=10075},{type=5,value=2511},{type=6,value=2511}},
},
[32] = {
	stage = 32,
	attr = {{type=2,value=140384},{type=4,value=10400},{type=5,value=2592},{type=6,value=2592}},
},
[33] = {
	stage = 33,
	attr = {{type=2,value=144771},{type=4,value=10725},{type=5,value=2673},{type=6,value=2673}},
},
[34] = {
	stage = 34,
	attr = {{type=2,value=149158},{type=4,value=11050},{type=5,value=2754},{type=6,value=2754}},
},
[35] = {
	stage = 35,
	attr = {{type=2,value=153545},{type=4,value=11375},{type=5,value=2835},{type=6,value=2835}},
},
[36] = {
	stage = 36,
	attr = {{type=2,value=157932},{type=4,value=11700},{type=5,value=2916},{type=6,value=2916}},
},
[37] = {
	stage = 37,
	attr = {{type=2,value=162319},{type=4,value=12025},{type=5,value=2997},{type=6,value=2997}},
},
[38] = {
	stage = 38,
	attr = {{type=2,value=166706},{type=4,value=12350},{type=5,value=3078},{type=6,value=3078}},
},
[39] = {
	stage = 39,
	attr = {{type=2,value=171093},{type=4,value=12675},{type=5,value=3159},{type=6,value=3159}},
},
[40] = {
	stage = 40,
	attr = {{type=2,value=175480},{type=4,value=13000},{type=5,value=3240},{type=6,value=3240}},
},
[41] = {
	stage = 41,
	attr = {{type=2,value=179867},{type=4,value=13325},{type=5,value=3321},{type=6,value=3321}},
},
[42] = {
	stage = 42,
	attr = {{type=2,value=184254},{type=4,value=13650},{type=5,value=3402},{type=6,value=3402}},
},
[43] = {
	stage = 43,
	attr = {{type=2,value=188641},{type=4,value=13975},{type=5,value=3483},{type=6,value=3483}},
},
[44] = {
	stage = 44,
	attr = {{type=2,value=193028},{type=4,value=14300},{type=5,value=3564},{type=6,value=3564}},
},
[45] = {
	stage = 45,
	attr = {{type=2,value=197415},{type=4,value=14625},{type=5,value=3645},{type=6,value=3645}},
},
[46] = {
	stage = 46,
	attr = {{type=2,value=201802},{type=4,value=14950},{type=5,value=3726},{type=6,value=3726}},
},
[47] = {
	stage = 47,
	attr = {{type=2,value=206189},{type=4,value=15275},{type=5,value=3807},{type=6,value=3807}},
},
[48] = {
	stage = 48,
	attr = {{type=2,value=210576},{type=4,value=15600},{type=5,value=3888},{type=6,value=3888}},
},
[49] = {
	stage = 49,
	attr = {{type=2,value=214963},{type=4,value=15925},{type=5,value=3969},{type=6,value=3969}},
},
[50] = {
	stage = 50,
	attr = {{type=2,value=219350},{type=4,value=16250},{type=5,value=4050},{type=6,value=4050}},
},
[51] = {
	stage = 51,
	attr = {{type=2,value=223737},{type=4,value=16575},{type=5,value=4131},{type=6,value=4131}},
},
[52] = {
	stage = 52,
	attr = {{type=2,value=228124},{type=4,value=16900},{type=5,value=4212},{type=6,value=4212}},
},
[53] = {
	stage = 53,
	attr = {{type=2,value=232511},{type=4,value=17225},{type=5,value=4293},{type=6,value=4293}},
},
[54] = {
	stage = 54,
	attr = {{type=2,value=236898},{type=4,value=17550},{type=5,value=4374},{type=6,value=4374}},
},
[55] = {
	stage = 55,
	attr = {{type=2,value=241285},{type=4,value=17875},{type=5,value=4455},{type=6,value=4455}},
},
[56] = {
	stage = 56,
	attr = {{type=2,value=245672},{type=4,value=18200},{type=5,value=4536},{type=6,value=4536}},
},
[57] = {
	stage = 57,
	attr = {{type=2,value=250059},{type=4,value=18525},{type=5,value=4617},{type=6,value=4617}},
},
[58] = {
	stage = 58,
	attr = {{type=2,value=254446},{type=4,value=18850},{type=5,value=4698},{type=6,value=4698}},
},
[59] = {
	stage = 59,
	attr = {{type=2,value=258833},{type=4,value=19175},{type=5,value=4779},{type=6,value=4779}},
},
[60] = {
	stage = 60,
	attr = {{type=2,value=263220},{type=4,value=19500},{type=5,value=4860},{type=6,value=4860}},
},
[61] = {
	stage = 61,
	attr = {{type=2,value=267607},{type=4,value=19825},{type=5,value=4941},{type=6,value=4941}},
},
[62] = {
	stage = 62,
	attr = {{type=2,value=271994},{type=4,value=20150},{type=5,value=5022},{type=6,value=5022}},
},
[63] = {
	stage = 63,
	attr = {{type=2,value=276381},{type=4,value=20475},{type=5,value=5103},{type=6,value=5103}},
},
[64] = {
	stage = 64,
	attr = {{type=2,value=280768},{type=4,value=20800},{type=5,value=5184},{type=6,value=5184}},
},
[65] = {
	stage = 65,
	attr = {{type=2,value=285155},{type=4,value=21125},{type=5,value=5265},{type=6,value=5265}},
},
[66] = {
	stage = 66,
	attr = {{type=2,value=289542},{type=4,value=21450},{type=5,value=5346},{type=6,value=5346}},
},
[67] = {
	stage = 67,
	attr = {{type=2,value=293929},{type=4,value=21775},{type=5,value=5427},{type=6,value=5427}},
},
[68] = {
	stage = 68,
	attr = {{type=2,value=298316},{type=4,value=22100},{type=5,value=5508},{type=6,value=5508}},
},
[69] = {
	stage = 69,
	attr = {{type=2,value=302703},{type=4,value=22425},{type=5,value=5589},{type=6,value=5589}},
},
[70] = {
	stage = 70,
	attr = {{type=2,value=307090},{type=4,value=22750},{type=5,value=5670},{type=6,value=5670}},
},
[71] = {
	stage = 71,
	attr = {{type=2,value=311477},{type=4,value=23075},{type=5,value=5751},{type=6,value=5751}},
},
[72] = {
	stage = 72,
	attr = {{type=2,value=315864},{type=4,value=23400},{type=5,value=5832},{type=6,value=5832}},
},
[73] = {
	stage = 73,
	attr = {{type=2,value=320251},{type=4,value=23725},{type=5,value=5913},{type=6,value=5913}},
},
[74] = {
	stage = 74,
	attr = {{type=2,value=324638},{type=4,value=24050},{type=5,value=5994},{type=6,value=5994}},
},
[75] = {
	stage = 75,
	attr = {{type=2,value=329025},{type=4,value=24375},{type=5,value=6075},{type=6,value=6075}},
},
[76] = {
	stage = 76,
	attr = {{type=2,value=333412},{type=4,value=24700},{type=5,value=6156},{type=6,value=6156}},
},
[77] = {
	stage = 77,
	attr = {{type=2,value=337799},{type=4,value=25025},{type=5,value=6237},{type=6,value=6237}},
},
[78] = {
	stage = 78,
	attr = {{type=2,value=342186},{type=4,value=25350},{type=5,value=6318},{type=6,value=6318}},
},
[79] = {
	stage = 79,
	attr = {{type=2,value=346573},{type=4,value=25675},{type=5,value=6399},{type=6,value=6399}},
},
[80] = {
	stage = 80,
	attr = {{type=2,value=350960},{type=4,value=26000},{type=5,value=6480},{type=6,value=6480}},
},
[81] = {
	stage = 81,
	attr = {{type=2,value=355347},{type=4,value=26325},{type=5,value=6561},{type=6,value=6561}},
},
[82] = {
	stage = 82,
	attr = {{type=2,value=359734},{type=4,value=26650},{type=5,value=6642},{type=6,value=6642}},
},
[83] = {
	stage = 83,
	attr = {{type=2,value=364121},{type=4,value=26975},{type=5,value=6723},{type=6,value=6723}},
},
}