--H-护盾配置.xlsx 护盾阶数
ShieldStageConfig={
[0] = {
	stage = 0,
	icon = "lh_00",
	normalCost = 1,
	normalBaseExp = 20,
	attr = {{type=5,value=0},{type=6,value=0}},
},
[1] = {
	stage = 1,
	icon = "lh_00",
	normalCost = 1,
	normalBaseExp = 20,
	attr = {{type=5,value=875},{type=6,value=875}},
},
[2] = {
	stage = 2,
	icon = "lh_00",
	normalCost = 1,
	normalBaseExp = 20,
	attr = {{type=5,value=1575},{type=6,value=1575}},
},
[3] = {
	stage = 3,
	icon = "lh_00",
	normalCost = 2,
	normalBaseExp = 20,
	attr = {{type=5,value=2623},{type=6,value=2623}},
},
[4] = {
	stage = 4,
	icon = "lh_00",
	normalCost = 2,
	normalBaseExp = 20,
	attr = {{type=5,value=3860},{type=6,value=3860}},
},
[5] = {
	stage = 5,
	icon = "lh_00",
	normalCost = 3,
	normalBaseExp = 20,
	attr = {{type=5,value=5238},{type=6,value=5238}},
},
[6] = {
	stage = 6,
	icon = "lh_00",
	normalCost = 3,
	normalBaseExp = 20,
	attr = {{type=5,value=6733},{type=6,value=6733}},
},
[7] = {
	stage = 7,
	icon = "lh_00",
	normalCost = 4,
	normalBaseExp = 20,
	attr = {{type=5,value=8327},{type=6,value=8327}},
},
[8] = {
	stage = 8,
	icon = "lh_00",
	normalCost = 4,
	normalBaseExp = 20,
	attr = {{type=5,value=10008},{type=6,value=10008}},
},
[9] = {
	stage = 9,
	icon = "lh_00",
	normalCost = 5,
	normalBaseExp = 20,
	attr = {{type=5,value=11769},{type=6,value=11769}},
},
[10] = {
	stage = 10,
	icon = "lh_00",
	normalCost = 5,
	normalBaseExp = 20,
	attr = {{type=5,value=13601},{type=6,value=13601}},
},
[11] = {
	stage = 11,
	icon = "lh_00",
	normalCost = 6,
	normalBaseExp = 20,
	attr = {{type=5,value=15500},{type=6,value=15500}},
},
[12] = {
	stage = 12,
	icon = "lh_00",
	normalCost = 6,
	normalBaseExp = 20,
	attr = {{type=5,value=17461},{type=6,value=17461}},
},
[13] = {
	stage = 13,
	icon = "lh_00",
	normalCost = 7,
	normalBaseExp = 20,
	attr = {{type=5,value=19479},{type=6,value=19479}},
},
[14] = {
	stage = 14,
	icon = "lh_00",
	normalCost = 7,
	normalBaseExp = 20,
	attr = {{type=5,value=21553},{type=6,value=21553}},
},
[15] = {
	stage = 15,
	icon = "lh_00",
	normalCost = 8,
	normalBaseExp = 20,
	attr = {{type=5,value=23678},{type=6,value=23678}},
},
[16] = {
	stage = 16,
	icon = "lh_00",
	normalCost = 8,
	normalBaseExp = 20,
	attr = {{type=5,value=25852},{type=6,value=25852}},
},
[17] = {
	stage = 17,
	icon = "lh_00",
	normalCost = 9,
	normalBaseExp = 20,
	attr = {{type=5,value=28073},{type=6,value=28073}},
},
[18] = {
	stage = 18,
	icon = "lh_00",
	normalCost = 9,
	normalBaseExp = 20,
	attr = {{type=5,value=30339},{type=6,value=30339}},
},
[19] = {
	stage = 19,
	icon = "lh_00",
	normalCost = 10,
	normalBaseExp = 20,
	attr = {{type=5,value=32648},{type=6,value=32648}},
},
[20] = {
	stage = 20,
	icon = "lh_00",
	normalCost = 10,
	normalBaseExp = 20,
	attr = {{type=5,value=34998},{type=6,value=34998}},
},
}