--L-轮回装备锁链.xlsx 魔魂等级配置
ReincarnationSoulLevel={
[1] = {
	[9] = {
		[1] = {
			materialInfo = {id=410001,count=1},
			attrs = {{type=4,value=10800},{type=5,value=600},{type=6,value=600},{type=2,value=10800},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410001,count=2},
			attrs = {{type=4,value=27000},{type=5,value=1500},{type=6,value=1500},{type=2,value=27000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410001,count=3},
			attrs = {{type=4,value=43200},{type=5,value=2400},{type=6,value=2400},{type=2,value=43200},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410001,count=4},
			attrs = {{type=4,value=59400},{type=5,value=3300},{type=6,value=3300},{type=2,value=59400},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[10] = {
		[1] = {
			materialInfo = {id=410002,count=1},
			attrs = {{type=4,value=7200},{type=5,value=1800},{type=6,value=1800},{type=2,value=54000},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410002,count=2},
			attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=135000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410002,count=3},
			attrs = {{type=4,value=28800},{type=5,value=7200},{type=6,value=7200},{type=2,value=216000},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410002,count=4},
			attrs = {{type=4,value=39600},{type=5,value=9900},{type=6,value=9900},{type=2,value=297000},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[11] = {
		[1] = {
			materialInfo = {id=410003,count=1},
			attrs = {{type=4,value=3000},{type=5,value=600},{type=6,value=600},{type=2,value=151200},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410003,count=2},
			attrs = {{type=4,value=7500},{type=5,value=1500},{type=6,value=1500},{type=2,value=378000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410003,count=3},
			attrs = {{type=4,value=12000},{type=5,value=2400},{type=6,value=2400},{type=2,value=604800},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410003,count=4},
			attrs = {{type=4,value=16500},{type=5,value=3300},{type=6,value=3300},{type=2,value=831600},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[12] = {
		[1] = {
			materialInfo = {id=410004,count=1},
			attrs = {{type=4,value=3000},{type=5,value=3000},{type=6,value=3000},{type=2,value=108000},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410004,count=2},
			attrs = {{type=4,value=7500},{type=5,value=7500},{type=6,value=7500},{type=2,value=270000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410004,count=3},
			attrs = {{type=4,value=12000},{type=5,value=12000},{type=6,value=12000},{type=2,value=432000},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410004,count=4},
			attrs = {{type=4,value=16500},{type=5,value=16500},{type=6,value=16500},{type=2,value=594000},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
},
[2] = {
	[9] = {
		[1] = {
			materialInfo = {id=410001,count=1},
			attrs = {{type=4,value=10800},{type=5,value=600},{type=6,value=600},{type=2,value=10800},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410001,count=2},
			attrs = {{type=4,value=27000},{type=5,value=1500},{type=6,value=1500},{type=2,value=27000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410001,count=3},
			attrs = {{type=4,value=43200},{type=5,value=2400},{type=6,value=2400},{type=2,value=43200},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410001,count=4},
			attrs = {{type=4,value=59400},{type=5,value=3300},{type=6,value=3300},{type=2,value=59400},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[10] = {
		[1] = {
			materialInfo = {id=410002,count=1},
			attrs = {{type=4,value=7200},{type=5,value=1800},{type=6,value=1800},{type=2,value=54000},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410002,count=2},
			attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=135000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410002,count=3},
			attrs = {{type=4,value=28800},{type=5,value=7200},{type=6,value=7200},{type=2,value=216000},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410002,count=4},
			attrs = {{type=4,value=39600},{type=5,value=9900},{type=6,value=9900},{type=2,value=297000},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[11] = {
		[1] = {
			materialInfo = {id=410003,count=1},
			attrs = {{type=4,value=3000},{type=5,value=600},{type=6,value=600},{type=2,value=151200},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410003,count=2},
			attrs = {{type=4,value=7500},{type=5,value=1500},{type=6,value=1500},{type=2,value=378000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410003,count=3},
			attrs = {{type=4,value=12000},{type=5,value=2400},{type=6,value=2400},{type=2,value=604800},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410003,count=4},
			attrs = {{type=4,value=16500},{type=5,value=3300},{type=6,value=3300},{type=2,value=831600},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[12] = {
		[1] = {
			materialInfo = {id=410004,count=1},
			attrs = {{type=4,value=3000},{type=5,value=3000},{type=6,value=3000},{type=2,value=108000},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410004,count=2},
			attrs = {{type=4,value=7500},{type=5,value=7500},{type=6,value=7500},{type=2,value=270000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410004,count=3},
			attrs = {{type=4,value=12000},{type=5,value=12000},{type=6,value=12000},{type=2,value=432000},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410004,count=4},
			attrs = {{type=4,value=16500},{type=5,value=16500},{type=6,value=16500},{type=2,value=594000},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
},
[3] = {
	[9] = {
		[1] = {
			materialInfo = {id=410001,count=1},
			attrs = {{type=4,value=10800},{type=5,value=600},{type=6,value=600},{type=2,value=10800},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410001,count=2},
			attrs = {{type=4,value=27000},{type=5,value=1500},{type=6,value=1500},{type=2,value=27000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410001,count=3},
			attrs = {{type=4,value=43200},{type=5,value=2400},{type=6,value=2400},{type=2,value=43200},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410001,count=4},
			attrs = {{type=4,value=59400},{type=5,value=3300},{type=6,value=3300},{type=2,value=59400},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[10] = {
		[1] = {
			materialInfo = {id=410002,count=1},
			attrs = {{type=4,value=7200},{type=5,value=1800},{type=6,value=1800},{type=2,value=54000},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410002,count=2},
			attrs = {{type=4,value=18000},{type=5,value=4500},{type=6,value=4500},{type=2,value=135000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410002,count=3},
			attrs = {{type=4,value=28800},{type=5,value=7200},{type=6,value=7200},{type=2,value=216000},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410002,count=4},
			attrs = {{type=4,value=39600},{type=5,value=9900},{type=6,value=9900},{type=2,value=297000},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[11] = {
		[1] = {
			materialInfo = {id=410003,count=1},
			attrs = {{type=4,value=3000},{type=5,value=600},{type=6,value=600},{type=2,value=151200},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410003,count=2},
			attrs = {{type=4,value=7500},{type=5,value=1500},{type=6,value=1500},{type=2,value=378000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410003,count=3},
			attrs = {{type=4,value=12000},{type=5,value=2400},{type=6,value=2400},{type=2,value=604800},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410003,count=4},
			attrs = {{type=4,value=16500},{type=5,value=3300},{type=6,value=3300},{type=2,value=831600},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
	[12] = {
		[1] = {
			materialInfo = {id=410004,count=1},
			attrs = {{type=4,value=3000},{type=5,value=3000},{type=6,value=3000},{type=2,value=108000},{type=57,value=5250}},
			soulLinkLevel = 1,
			demonLevel = 1,
		},
		[2] = {
			materialInfo = {id=410004,count=2},
			attrs = {{type=4,value=7500},{type=5,value=7500},{type=6,value=7500},{type=2,value=270000},{type=57,value=13125}},
			soulLinkLevel = 2,
			demonLevel = 2,
		},
		[3] = {
			materialInfo = {id=410004,count=3},
			attrs = {{type=4,value=12000},{type=5,value=12000},{type=6,value=12000},{type=2,value=432000},{type=57,value=21000}},
			soulLinkLevel = 3,
			demonLevel = 3,
		},
		[4] = {
			materialInfo = {id=410004,count=4},
			attrs = {{type=4,value=16500},{type=5,value=16500},{type=6,value=16500},{type=2,value=594000},{type=57,value=28875}},
			soulLinkLevel = 4,
			demonLevel = 4,
		},
	},
},
}