--L-轮回装备锁链.xlsx 魔化等级配置
ReincarnationDemonLevel={
[9] = {
	[1] = {
		precent = 500,
	},
	[2] = {
		precent = 1000,
	},
	[3] = {
		precent = 2500,
	},
	[4] = {
		precent = 4000,
	},
},
[10] = {
	[1] = {
		precent = 500,
	},
	[2] = {
		precent = 1000,
	},
	[3] = {
		precent = 2500,
	},
	[4] = {
		precent = 4000,
	},
},
[11] = {
	[1] = {
		precent = 500,
	},
	[2] = {
		precent = 1000,
	},
	[3] = {
		precent = 2500,
	},
	[4] = {
		precent = 4000,
	},
},
[12] = {
	[1] = {
		precent = 500,
	},
	[2] = {
		precent = 1000,
	},
	[3] = {
		precent = 2500,
	},
	[4] = {
		precent = 4000,
	},
},
}