--L-轮回装备锁链.xlsx 灵魂锁链等级配置
ReincarnationLinkLevel={
[9] = {
	[10] = {
		[1] = {
			attrs = {{type=55,value=300}},
		},
		[2] = {
			attrs = {{type=55,value=600}},
		},
		[3] = {
			attrs = {{type=55,value=900}},
		},
		[4] = {
			attrs = {{type=55,value=1200}},
		},
	},
},
[10] = {
	[12] = {
		[1] = {
			attrs = {{type=19,value=600}},
		},
		[2] = {
			attrs = {{type=19,value=1200}},
		},
		[3] = {
			attrs = {{type=19,value=1800}},
		},
		[4] = {
			attrs = {{type=19,value=2400}},
		},
	},
},
[11] = {
	[9] = {
		[1] = {
			attrs = {{type=11,value=300}},
		},
		[2] = {
			attrs = {{type=11,value=600}},
		},
		[3] = {
			attrs = {{type=11,value=900}},
		},
		[4] = {
			attrs = {{type=11,value=1200}},
		},
	},
},
[12] = {
	[11] = {
		[1] = {
			attrs = {{type=56,value=600}},
		},
		[2] = {
			attrs = {{type=56,value=1200}},
		},
		[3] = {
			attrs = {{type=56,value=1800}},
		},
		[4] = {
			attrs = {{type=56,value=2400}},
		},
	},
},
}