--X-新语言包配置表.xlsx 总配置
LAN={
--#include "lang/character.config",
--#include "lang/monster.config",
--#include "lang/item.config",
--#include "lang/chapter.config",
--#include "lang/achieve.config",
--#include "lang/shop.config",
--#include "lang/spequip.config",
--#include "lang/mail.config",
--#include "lang/system.config",
--#include "lang/boss.config",
--#include "lang/fuben.config",
--#include "lang/scripttips.config",
--#include "lang/friend.config",
--#include "lang/fuwen.config",
}