--Z-战纹系统.xlsx 符文开启限制
RuneLockPosConfig={
[0] = {
	pos = 0,
	lockLv = 0,
},
[1] = {
	pos = 1,
	lockLv = 5,
},
[2] = {
	pos = 2,
	lockLv = 30,
},
[3] = {
	pos = 3,
	lockLv = 50,
},
[4] = {
	pos = 4,
	lockLv = 90,
},
[5] = {
	pos = 5,
	lockLv = 120,
},
[6] = {
	pos = 6,
	lockLv = 170,
},
[7] = {
	pos = 7,
	lockLv = 220,
},
}