--V-vip配置.xlsx vip配置
VipConfig={
[1] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=20},{type=1,id=200002,count=50},{type=0,id=1,count=500000}},
	attrAddition = {{type=4,value=60}},
	boss1buy = 0,
	boss2buy = 0,
},
[2] = {
	needYb = 0,
	awards = {{type=1,id=200005,count=15},{type=1,id=200002,count=400},{type=1,id=200004,count=5},{type=0,id=1,count=1000000}},
	attrAddition = {{type=4,value=120}},
	boss1buy = 0,
	boss2buy = 0,
},
[3] = {
	needYb = 0,
	awards = {{type=1,id=200013,count=1},{type=1,id=101409,count=1},{type=1,id=102409,count=1},{type=1,id=103409,count=1}},
	attrAddition = {{type=4,value=200}},
	boss1buy = 0,
	boss2buy = 0,
},
[4] = {
	needYb = 0,
	awards = {{type=1,id=200149,count=1},{type=1,id=200005,count=25},{type=1,id=200001,count=20},{type=1,id=200004,count=20}},
	attrAddition = {{type=4,value=300}},
	boss1buy = 1,
	boss2buy = 0,
},
[5] = {
	needYb = 500000,
	awards = {{type=1,id=600009,count=1},{type=1,id=200014,count=1},{type=1,id=200143,count=1},{type=1,id=200004,count=50}},
	attrAddition = {{type=4,value=420}},
	boss1buy = 1,
	boss2buy = 1,
},
[6] = {
	needYb = 1000000,
	awards = {{type=1,id=260042,count=1},{type=1,id=200147,count=1},{type=1,id=260036,count=1},{type=1,id=501401,count=1}},
	attrAddition = {{type=4,value=560}},
	boss1buy = 2,
	boss2buy = 1,
},
[7] = {
	needYb = 1500000,
	awards = {{type=1,id=260066,count=1},{type=1,id=200146,count=1},{type=1,id=200001,count=50},{type=1,id=200004,count=50}},
	attrAddition = {{type=4,value=720}},
	boss1buy = 2,
	boss2buy = 2,
},
[8] = {
	needYb = 2000000,
	awards = {{type=1,id=260046,count=1},{type=1,id=200145,count=1},{type=1,id=200001,count=200},{type=1,id=200004,count=200}},
	attrAddition = {{type=4,value=900}},
	boss1buy = 3,
	boss2buy = 2,
},
[9] = {
	needYb = 3000000,
	awards = {{type=1,id=260044,count=1},{type=1,id=200148,count=1},{type=1,id=260032,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=1100}},
	boss1buy = 3,
	boss2buy = 3,
},
[10] = {
	needYb = 4000000,
	awards = {{type=1,id=200142,count=1},{type=1,id=200144,count=1},{type=1,id=260033,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 4,
	boss2buy = 3,
},
}