--V-vip配置.xlsx vip配置 boss1buy=野外Boss boss2buy=秘境boss
VipConfig={
[1] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=50},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=60}},
	boss1buy = 0,
	boss2buy = 0,
},
[2] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=20},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=120}},
	boss1buy = 0,
	boss2buy = 0,
},
[3] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=50},{type=1,id=200004,count=20},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=200}},
	boss1buy = 0,
	boss2buy = 0,
},
[4] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=50},{type=1,id=200004,count=20},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=300}},
	boss1buy = 1,
	boss2buy = 0,
},
[5] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=50},{type=1,id=200001,count=20},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=420}},
	boss1buy = 2,
	boss2buy = 2,
},
[6] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=560}},
	boss1buy = 3,
	boss2buy = 3,
},
[7] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=720}},
	boss1buy = 5,
	boss2buy = 5,
},
[8] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=900}},
	boss1buy = 5,
	boss2buy = 5,
},
[9] = {
	needYb = 0,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=1100}},
	boss1buy = 5,
	boss2buy = 5,
},
[10] = {
	needYb = 0,
	awards = {{type=1,id=200149,count=1},{type=1,id=200005,count=25},{type=1,id=200001,count=20},{type=1,id=200004,count=20}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 5,
	boss2buy = 5,
},
[11] = {
	needYb = 0,
	awards = {{type=1,id=200007,count=48},{type=1,id=200998,count=1},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=1100}},
	boss1buy = 3,
	boss2buy = 3,
},
[12] = {
	needYb = 0,
	awards = {{type=1,id=200013,count=1},{type=1,id=101409,count=1},{type=1,id=102409,count=1},{type=1,id=103409,count=1}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 5,
	boss2buy = 5,
},
[13] = {
	needYb = 0,
	awards = {{type=1,id=600009,count=1},{type=1,id=200014,count=1},{type=1,id=200143,count=1},{type=1,id=204064,count=2}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 5,
	boss2buy = 5,
},
[14] = {
	needYb = 0,
	awards = {{type=1,id=260042,count=1},{type=1,id=200998,count=2},{type=1,id=260036,count=1},{type=1,id=501401,count=1}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 5,
	boss2buy = 5,
},
[15] = {
	needYb = 0,
	awards = {{type=1,id=260066,count=1},{type=1,id=200998,count=1},{type=1,id=204064,count=2}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 5,
	boss2buy = 5,
},
[16] = {
	needYb = 0,
	awards = {{type=1,id=260046,count=1},{type=1,id=200997,count=2},{type=1,id=200001,count=500},{type=1,id=200004,count=500}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 7,
	boss2buy = 7,
},
[17] = {
	needYb = 0,
	awards = {{type=1,id=260044,count=1},{type=1,id=200148,count=1},{type=1,id=260032,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
[18] = {
	needYb = 0,
	awards = {{type=1,id=200142,count=1},{type=1,id=200144,count=1},{type=1,id=260033,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
[19] = {
	needYb = 0,
	awards = {{type=1,id=204064,count=10},{type=1,id=200001,count=800},{type=1,id=200004,count=500}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
[20] = {
	needYb = 0,
	awards = {{type=1,id=260096,count=1},{type=1,id=200137,count=2},{type=1,id=220011,count=1}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
[21] = {
	needYb = 400000,
	awards = {{type=1,id=200329,count=20},{type=1,id=200328,count=40},{type=1,id=200150,count=4}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
[22] = {
	needYb = 5200000,
	awards = {{type=1,id=205002,count=30},{type=1,id=205000,count=40},{type=1,id=205001,count=50}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
[23] = {
	needYb = 9999999,
	awards = {{type=1,id=200997,count=2},{type=1,id=200951,count=2},{type=1,id=200332,count=300},{type=1,id=204105,count=1}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 8,
	boss2buy = 8,
},
}