--V-vip配置.xlsx vip配置
VipConfig={
[1] = {
	needYb = 500,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=50},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=60}},
	boss1buy = 0,
	boss2buy = 0,
},
[2] = {
	needYb = 1000,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=50},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=120}},
	boss1buy = 0,
	boss2buy = 0,
},
[3] = {
	needYb = 1500,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=50},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=200}},
	boss1buy = 0,
	boss2buy = 0,
},
[4] = {
	needYb = 2000,
	awards = {{type=1,id=200003,count=50},{type=1,id=200002,count=50},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=300}},
	boss1buy = 1,
	boss2buy = 0,
},
[5] = {
	needYb = 3000,
	awards = {{type=1,id=200003,count=50},{type=1,id=200001,count=20},{type=1,id=200005,count=50}},
	attrAddition = {{type=4,value=420}},
	boss1buy = 1,
	boss2buy = 1,
},
[6] = {
	needYb = 3500,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=560}},
	boss1buy = 2,
	boss2buy = 1,
},
[7] = {
	needYb = 4000,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=720}},
	boss1buy = 2,
	boss2buy = 2,
},
[8] = {
	needYb = 5000,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=900}},
	boss1buy = 3,
	boss2buy = 2,
},
[9] = {
	needYb = 5500,
	awards = {{type=1,id=200003,count=100},{type=1,id=200001,count=100},{type=1,id=200005,count=100},{type=1,id=200004,count=100}},
	attrAddition = {{type=4,value=1100}},
	boss1buy = 3,
	boss2buy = 3,
},
[10] = {
	needYb = 6000,
	awards = {{type=1,id=200149,count=1},{type=1,id=200001,count=20},{type=1,id=200005,count=25},{type=1,id=200004,count=20}},
	attrAddition = {{type=4,value=1320}},
	boss1buy = 4,
	boss2buy = 3,
},
[11] = {
	needYb = 6500,
	awards = {{type=1,id=200007,count=1},{type=1,id=200998,count=1},{type=1,id=200004,count=20}},
	attrAddition = {{type=4,value=1460}},
	boss1buy = 4,
	boss2buy = 4,
},
[12] = {
	needYb = 10000,
	awards = {{type=1,id=200013,count=1},{type=1,id=101409,count=1},{type=1,id=102409,count=1},{type=1,id=103409,count=1}},
	attrAddition = {{type=4,value=1620}},
	boss1buy = 5,
	boss2buy = 4,
},
[13] = {
	needYb = 30000,
	awards = {{type=1,id=200014,count=1},{type=1,id=200143,count=1},{type=1,id=204064,count=2}},
	attrAddition = {{type=4,value=1800}},
	boss1buy = 5,
	boss2buy = 5,
},
[14] = {
	needYb = 40000,
	awards = {{type=1,id=260042,count=1},{type=1,id=200998,count=2},{type=1,id=260036,count=1},{type=1,id=501401,count=1}},
	attrAddition = {{type=4,value=2000}},
	boss1buy = 6,
	boss2buy = 5,
},
[15] = {
	needYb = 50000,
	awards = {{type=1,id=260066,count=1},{type=1,id=200998,count=1},{type=1,id=204064,count=2}},
	attrAddition = {{type=4,value=2220}},
	boss1buy = 6,
	boss2buy = 6,
},
[16] = {
	needYb = 60000,
	awards = {{type=1,id=260046,count=1},{type=1,id=200998,count=1},{type=1,id=200001,count=500},{type=1,id=200004,count=500}},
	attrAddition = {{type=4,value=2460}},
	boss1buy = 7,
	boss2buy = 6,
},
[17] = {
	needYb = 100000,
	awards = {{type=1,id=260044,count=1},{type=1,id=200148,count=1},{type=1,id=260032,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=2720}},
	boss1buy = 7,
	boss2buy = 7,
},
[18] = {
	needYb = 120000,
	awards = {{type=1,id=200142,count=1},{type=1,id=200144,count=1},{type=1,id=260033,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=3000}},
	boss1buy = 8,
	boss2buy = 7,
},
[19] = {
	needYb = 200000,
	awards = {{type=1,id=204064,count=10},{type=1,id=200001,count=800},{type=1,id=200004,count=500}},
	attrAddition = {{type=4,value=3300}},
	boss1buy = 8,
	boss2buy = 8,
},
[20] = {
	needYb = 300000,
	awards = {{type=1,id=200142,count=1},{type=1,id=200144,count=1},{type=1,id=260033,count=1},{type=1,id=200004,count=300}},
	attrAddition = {{type=4,value=3620}},
	boss1buy = 8,
	boss2buy = 8,
},
}