--V-vip配置.xlsx vip礼包
VipGiftConfig={
[1] = {
	id = 1,
	vipLv = 21,
	needYb = 700000,
	awards = {{type=1,id=900004,count=1},{type=1,id=517499,count=1},{type=1,id=516499,count=1},{type=1,id=601602,count=1}},
},
[2] = {
	id = 2,
	vipLv = 22,
	needYb = 6000000,
	awards = {{type=1,id=900005,count=1},{type=1,id=200976,count=1},{type=1,id=204171,count=30},{type=1,id=204168,count=2}},
	cond = {1},
},
[3] = {
	id = 3,
	vipLv = 23,
	needYb = 20000000,
	awards = {{type=1,id=204161,count=3},{type=1,id=204160,count=3},{type=1,id=204159,count=3}},
	cond = {2},
},
[4] = {
	id = 4,
	vipLv = 21,
	needYb = 600000,
	hfTimes = 1,
	awards = {{type=1,id=200153,count=4},{type=1,id=205002,count=5},{type=1,id=205000,count=10},{type=1,id=205001,count=15}},
},
[5] = {
	id = 5,
	vipLv = 22,
	needYb = 1000000,
	hfTimes = 1,
	awards = {{type=1,id=101502,count=1},{type=1,id=220011,count=2},{type=1,id=200329,count=6},{type=1,id=200328,count=6}},
	cond = {4},
},
[6] = {
	id = 6,
	vipLv = 23,
	needYb = 2000000,
	hfTimes = 1,
	awards = {{type=1,id=101503,count=1},{type=1,id=200137,count=5},{type=1,id=200011,count=20},{type=1,id=201106,count=20}},
	cond = {5},
},
}