--J-精炼系统.xlsx 宝石部位开启条件配置
StoneOpenConfig={
[0] = {
	posId = 0,
	openLv = 20,
},
[1] = {
	posId = 1,
	openLv = 70,
},
[2] = {
	posId = 2,
	openLv = 80,
},
[3] = {
	posId = 3,
	openLv = 85,
},
[4] = {
	posId = 4,
	openLv = 90,
},
[5] = {
	posId = 5,
	openLv = 95,
},
[6] = {
	posId = 6,
	openLv = 105,
},
[7] = {
	posId = 7,
	openLv = 115,
},
}