--J-精炼系统.xlsx 宝石升级消耗配置
StoneLevelCostConfig={
[1] = {
	level = 1,
	soulNum = 300,
},
[2] = {
	level = 2,
	soulNum = 300,
},
[3] = {
	level = 3,
	soulNum = 300,
},
[4] = {
	level = 4,
	soulNum = 300,
},
[5] = {
	level = 5,
	soulNum = 300,
},
[6] = {
	level = 6,
	soulNum = 300,
},
[7] = {
	level = 7,
	soulNum = 300,
},
[8] = {
	level = 8,
	soulNum = 300,
},
[9] = {
	level = 9,
	soulNum = 300,
},
[10] = {
	level = 10,
	soulNum = 300,
},
[11] = {
	level = 11,
	soulNum = 600,
},
[12] = {
	level = 12,
	soulNum = 600,
},
[13] = {
	level = 13,
	soulNum = 600,
},
[14] = {
	level = 14,
	soulNum = 600,
},
[15] = {
	level = 15,
	soulNum = 600,
},
[16] = {
	level = 16,
	soulNum = 600,
},
[17] = {
	level = 17,
	soulNum = 600,
},
[18] = {
	level = 18,
	soulNum = 600,
},
[19] = {
	level = 19,
	soulNum = 600,
},
[20] = {
	level = 20,
	soulNum = 600,
},
[21] = {
	level = 21,
	soulNum = 1000,
},
[22] = {
	level = 22,
	soulNum = 1000,
},
[23] = {
	level = 23,
	soulNum = 1000,
},
[24] = {
	level = 24,
	soulNum = 1000,
},
[25] = {
	level = 25,
	soulNum = 1000,
},
[26] = {
	level = 26,
	soulNum = 1000,
},
[27] = {
	level = 27,
	soulNum = 1000,
},
[28] = {
	level = 28,
	soulNum = 1000,
},
[29] = {
	level = 29,
	soulNum = 1000,
},
[30] = {
	level = 30,
	soulNum = 1000,
},
[31] = {
	level = 31,
	soulNum = 1500,
},
[32] = {
	level = 32,
	soulNum = 1500,
},
[33] = {
	level = 33,
	soulNum = 1500,
},
[34] = {
	level = 34,
	soulNum = 1500,
},
[35] = {
	level = 35,
	soulNum = 1500,
},
[36] = {
	level = 36,
	soulNum = 1500,
},
[37] = {
	level = 37,
	soulNum = 1500,
},
[38] = {
	level = 38,
	soulNum = 1500,
},
[39] = {
	level = 39,
	soulNum = 1500,
},
[40] = {
	level = 40,
	soulNum = 1500,
},
[41] = {
	level = 41,
	soulNum = 2000,
},
[42] = {
	level = 42,
	soulNum = 2000,
},
[43] = {
	level = 43,
	soulNum = 2000,
},
[44] = {
	level = 44,
	soulNum = 2000,
},
[45] = {
	level = 45,
	soulNum = 2000,
},
[46] = {
	level = 46,
	soulNum = 2000,
},
[47] = {
	level = 47,
	soulNum = 2000,
},
[48] = {
	level = 48,
	soulNum = 2000,
},
[49] = {
	level = 49,
	soulNum = 2000,
},
[50] = {
	level = 50,
	soulNum = 2000,
},
[51] = {
	level = 51,
	soulNum = 2500,
},
[52] = {
	level = 52,
	soulNum = 2500,
},
[53] = {
	level = 53,
	soulNum = 2500,
},
[54] = {
	level = 54,
	soulNum = 2500,
},
[55] = {
	level = 55,
	soulNum = 2500,
},
[56] = {
	level = 56,
	soulNum = 2500,
},
[57] = {
	level = 57,
	soulNum = 2500,
},
[58] = {
	level = 58,
	soulNum = 2500,
},
[59] = {
	level = 59,
	soulNum = 2500,
},
[60] = {
	level = 60,
	soulNum = 2500,
},
[61] = {
	level = 61,
	soulNum = 3000,
},
[62] = {
	level = 62,
	soulNum = 3000,
},
[63] = {
	level = 63,
	soulNum = 3000,
},
[64] = {
	level = 64,
	soulNum = 3000,
},
[65] = {
	level = 65,
	soulNum = 3000,
},
[66] = {
	level = 66,
	soulNum = 3000,
},
[67] = {
	level = 67,
	soulNum = 3000,
},
[68] = {
	level = 68,
	soulNum = 3000,
},
[69] = {
	level = 69,
	soulNum = 3000,
},
[70] = {
	level = 70,
	soulNum = 3000,
},
[71] = {
	level = 71,
	soulNum = 3500,
},
[72] = {
	level = 72,
	soulNum = 3500,
},
[73] = {
	level = 73,
	soulNum = 3500,
},
[74] = {
	level = 74,
	soulNum = 3500,
},
[75] = {
	level = 75,
	soulNum = 3500,
},
[76] = {
	level = 76,
	soulNum = 3500,
},
[77] = {
	level = 77,
	soulNum = 3500,
},
[78] = {
	level = 78,
	soulNum = 3500,
},
[79] = {
	level = 79,
	soulNum = 3500,
},
[80] = {
	level = 80,
	soulNum = 3500,
},
[81] = {
	level = 81,
	soulNum = 4000,
},
[82] = {
	level = 82,
	soulNum = 4000,
},
[83] = {
	level = 83,
	soulNum = 4000,
},
[84] = {
	level = 84,
	soulNum = 4000,
},
[85] = {
	level = 85,
	soulNum = 4000,
},
[86] = {
	level = 86,
	soulNum = 4000,
},
[87] = {
	level = 87,
	soulNum = 4000,
},
[88] = {
	level = 88,
	soulNum = 4000,
},
[89] = {
	level = 89,
	soulNum = 4000,
},
[90] = {
	level = 90,
	soulNum = 4000,
},
[91] = {
	level = 91,
	soulNum = 4500,
},
[92] = {
	level = 92,
	soulNum = 4500,
},
[93] = {
	level = 93,
	soulNum = 4500,
},
[94] = {
	level = 94,
	soulNum = 4500,
},
[95] = {
	level = 95,
	soulNum = 4500,
},
[96] = {
	level = 96,
	soulNum = 4500,
},
[97] = {
	level = 97,
	soulNum = 4500,
},
[98] = {
	level = 98,
	soulNum = 4500,
},
[99] = {
	level = 99,
	soulNum = 4500,
},
[100] = {
	level = 100,
	soulNum = 4500,
},
[101] = {
	level = 101,
	soulNum = 5000,
},
[102] = {
	level = 102,
	soulNum = 5000,
},
[103] = {
	level = 103,
	soulNum = 5000,
},
[104] = {
	level = 104,
	soulNum = 5000,
},
[105] = {
	level = 105,
	soulNum = 5000,
},
[106] = {
	level = 106,
	soulNum = 5000,
},
[107] = {
	level = 107,
	soulNum = 5000,
},
[108] = {
	level = 108,
	soulNum = 5000,
},
[109] = {
	level = 109,
	soulNum = 5000,
},
[110] = {
	level = 110,
	soulNum = 5000,
},
[111] = {
	level = 111,
	soulNum = 5500,
},
[112] = {
	level = 112,
	soulNum = 5500,
},
[113] = {
	level = 113,
	soulNum = 5500,
},
[114] = {
	level = 114,
	soulNum = 5500,
},
[115] = {
	level = 115,
	soulNum = 5500,
},
[116] = {
	level = 116,
	soulNum = 5500,
},
[117] = {
	level = 117,
	soulNum = 5500,
},
[118] = {
	level = 118,
	soulNum = 5500,
},
[119] = {
	level = 119,
	soulNum = 5500,
},
[120] = {
	level = 120,
	soulNum = 5500,
},
[121] = {
	level = 121,
	soulNum = 6000,
},
[122] = {
	level = 122,
	soulNum = 6000,
},
[123] = {
	level = 123,
	soulNum = 6000,
},
[124] = {
	level = 124,
	soulNum = 6000,
},
[125] = {
	level = 125,
	soulNum = 6000,
},
[126] = {
	level = 126,
	soulNum = 6000,
},
[127] = {
	level = 127,
	soulNum = 6000,
},
[128] = {
	level = 128,
	soulNum = 6000,
},
[129] = {
	level = 129,
	soulNum = 6000,
},
[130] = {
	level = 130,
	soulNum = 6000,
},
[131] = {
	level = 131,
	soulNum = 6800,
},
[132] = {
	level = 132,
	soulNum = 6800,
},
[133] = {
	level = 133,
	soulNum = 6800,
},
[134] = {
	level = 134,
	soulNum = 6800,
},
[135] = {
	level = 135,
	soulNum = 6800,
},
[136] = {
	level = 136,
	soulNum = 6800,
},
[137] = {
	level = 137,
	soulNum = 6800,
},
[138] = {
	level = 138,
	soulNum = 6800,
},
[139] = {
	level = 139,
	soulNum = 6800,
},
[140] = {
	level = 140,
	soulNum = 6800,
},
[141] = {
	level = 141,
	soulNum = 7600,
},
[142] = {
	level = 142,
	soulNum = 7600,
},
[143] = {
	level = 143,
	soulNum = 7600,
},
[144] = {
	level = 144,
	soulNum = 7600,
},
[145] = {
	level = 145,
	soulNum = 7600,
},
[146] = {
	level = 146,
	soulNum = 7600,
},
[147] = {
	level = 147,
	soulNum = 7600,
},
[148] = {
	level = 148,
	soulNum = 7600,
},
[149] = {
	level = 149,
	soulNum = 7600,
},
[150] = {
	level = 150,
	soulNum = 7600,
},
[151] = {
	level = 151,
	soulNum = 8400,
},
[152] = {
	level = 152,
	soulNum = 8400,
},
[153] = {
	level = 153,
	soulNum = 8400,
},
[154] = {
	level = 154,
	soulNum = 8400,
},
[155] = {
	level = 155,
	soulNum = 8400,
},
[156] = {
	level = 156,
	soulNum = 8400,
},
[157] = {
	level = 157,
	soulNum = 8400,
},
[158] = {
	level = 158,
	soulNum = 8400,
},
[159] = {
	level = 159,
	soulNum = 8400,
},
[160] = {
	level = 160,
	soulNum = 8400,
},
[161] = {
	level = 161,
	soulNum = 9200,
},
[162] = {
	level = 162,
	soulNum = 9200,
},
[163] = {
	level = 163,
	soulNum = 9200,
},
[164] = {
	level = 164,
	soulNum = 9200,
},
[165] = {
	level = 165,
	soulNum = 9200,
},
[166] = {
	level = 166,
	soulNum = 9200,
},
[167] = {
	level = 167,
	soulNum = 9200,
},
[168] = {
	level = 168,
	soulNum = 9200,
},
[169] = {
	level = 169,
	soulNum = 9200,
},
[170] = {
	level = 170,
	soulNum = 9200,
},
[171] = {
	level = 171,
	soulNum = 10000,
},
[172] = {
	level = 172,
	soulNum = 10000,
},
[173] = {
	level = 173,
	soulNum = 10000,
},
[174] = {
	level = 174,
	soulNum = 10000,
},
[175] = {
	level = 175,
	soulNum = 10000,
},
[176] = {
	level = 176,
	soulNum = 10000,
},
[177] = {
	level = 177,
	soulNum = 10000,
},
[178] = {
	level = 178,
	soulNum = 10000,
},
[179] = {
	level = 179,
	soulNum = 10000,
},
[180] = {
	level = 180,
	soulNum = 10000,
},
[181] = {
	level = 181,
	soulNum = 10800,
},
[182] = {
	level = 182,
	soulNum = 10800,
},
[183] = {
	level = 183,
	soulNum = 10800,
},
[184] = {
	level = 184,
	soulNum = 10800,
},
[185] = {
	level = 185,
	soulNum = 10800,
},
[186] = {
	level = 186,
	soulNum = 10800,
},
[187] = {
	level = 187,
	soulNum = 10800,
},
[188] = {
	level = 188,
	soulNum = 10800,
},
[189] = {
	level = 189,
	soulNum = 10800,
},
[190] = {
	level = 190,
	soulNum = 10800,
},
[191] = {
	level = 191,
	soulNum = 11600,
},
[192] = {
	level = 192,
	soulNum = 11600,
},
[193] = {
	level = 193,
	soulNum = 11600,
},
[194] = {
	level = 194,
	soulNum = 11600,
},
[195] = {
	level = 195,
	soulNum = 11600,
},
[196] = {
	level = 196,
	soulNum = 11600,
},
[197] = {
	level = 197,
	soulNum = 11600,
},
[198] = {
	level = 198,
	soulNum = 11600,
},
[199] = {
	level = 199,
	soulNum = 11600,
},
[200] = {
	level = 200,
	soulNum = 11600,
},
}