--S-神兵.xlsx 基本配置
GodWeaponBaseConfig = {
	godWeaponCount = 3,
	weaponItemCount = 5,
	openLevel = {30,60,90,120,150},
	openDay = 4,
	zhuanshengLevel = 3,
	freeCount = 2,
	fubenItem = 299999,
	noticeDay = 1,
	fbGrade = {120, 140, 200, 300},
	mailData = {head = "标题", context = "邮件内容"},
	noticeOpenLv = 60,
	needLevel = 10,
	skillResetCost = 1000,
}