--S-神兵.xlsx 神兵技能路线
GodWeaponLineConfig = {
[1] = {
	[1] = {
		maxLevel = 20,
		upLevel = 5,
		attr = {{type=28,value=27000}},
	},
	[2] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[13]=1},
		attr = {{type=45,value=3000}},
	},
	[3] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[2]=3},
		skill = 13,
		exPower = 20000,
	},
	[4] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[13]=1},
		attr = {{type=45,value=3000}},
	},
	[5] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[4]=2},
		attr = {{type=48,value=3000},{type=51,value=3000}},
	},
	[6] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[5]=3},
		exattr = {{type=43,value=500}},
		exPower = 20000,
	},
	[7] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[6]=2},
		attr = {{type=28,value=54000}},
	},
	[8] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[14]=1},
		attr = {{type=48,value=6000},{type=51,value=6000}},
	},
	[9] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[8]=3},
		skill = 15,
		exPower = 20000,
	},
	[10] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[14]=1},
		attr = {{type=45,value=6000}},
	},
	[11] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[10]=2},
		attr = {{type=28,value=135000}},
	},
	[12] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[11]=2},
		attr = {{type=45,value=9000}},
	},
	[13] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[1]=3},
		skill = 14,
		exPower = 50000,
	},
	[14] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[3]=3,[7]=3},
		newskill = 16,
		exPower = 70000,
	},
	[15] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[9]=4,[12]=4},
		passiveskill = 17,
		exPower = 100000,
	},
	[16] = {
		maxLevel = 99,
		upLevel = 99,
		condition = {[1]=5,[2]=5,[3]=5,[4]=5,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5,[11]=5,[12]=5,[13]=1,[14]=1,[15]=1},
		attr = {{type=28,value=5400},{type=45,value=400},{type=48,value=100},{type=51,value=100}},
		exattr = {{type=44,value=10}},
	},
},
[2] = {
	[1] = {
		maxLevel = 20,
		upLevel = 5,
		attr = {{type=29,value=27000}},
	},
	[2] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[13]=1},
		attr = {{type=46,value=3000}},
	},
	[3] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[2]=3},
		skill = 25,
		exPower = 20000,
	},
	[4] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[13]=1},
		attr = {{type=46,value=3000}},
	},
	[5] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[4]=2},
		attr = {{type=49,value=3000},{type=52,value=3000}},
	},
	[6] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[5]=3},
		skill = 24,
		exPower = 20000,
	},
	[7] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[6]=2},
		attr = {{type=29,value=54000}},
	},
	[8] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[14]=1},
		attr = {{type=49,value=6000},{type=52,value=6000}},
	},
	[9] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[8]=3},
		skill = 22,
		exPower = 20000,
	},
	[10] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[14]=1},
		attr = {{type=46,value=6000}},
	},
	[11] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[10]=2},
		attr = {{type=29,value=135000}},
	},
	[12] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[11]=2},
		attr = {{type=46,value=9000}},
	},
	[13] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[1]=3},
		newskill = 27,
		exPower = 50000,
	},
	[14] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[3]=3,[7]=3},
		newskill = 26,
		exPower = 70000,
	},
	[15] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[9]=4,[12]=4},
		skill = 24,
		exPower = 100000,
	},
	[16] = {
		maxLevel = 99,
		upLevel = 99,
		condition = {[1]=5,[2]=5,[3]=5,[4]=5,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5,[11]=5,[12]=5,[13]=1,[14]=1,[15]=1},
		attr = {{type=29,value=5400},{type=46,value=400},{type=49,value=100},{type=52,value=100}},
		exattr = {{type=45,value=10}},
	},
},
[3] = {
	[1] = {
		maxLevel = 20,
		upLevel = 5,
		attr = {{type=30,value=27000}},
	},
	[2] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[13]=1},
		attr = {{type=47,value=3000}},
	},
	[3] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[2]=3},
		skill = 34,
		exPower = 20000,
	},
	[4] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[13]=1},
		attr = {{type=47,value=3000}},
	},
	[5] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[4]=2},
		attr = {{type=50,value=3000},{type=53,value=3000}},
	},
	[6] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[5]=3},
		skill = 32,
		exPower = 20000,
	},
	[7] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[6]=2},
		attr = {{type=30,value=54000}},
	},
	[8] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[14]=1},
		attr = {{type=50,value=6000},{type=53,value=6000}},
	},
	[9] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[8]=3},
		skill = 31,
		exPower = 20000,
	},
	[10] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[14]=1},
		attr = {{type=47,value=6000}},
	},
	[11] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[10]=2},
		attr = {{type=30,value=135000}},
	},
	[12] = {
		maxLevel = 20,
		upLevel = 5,
		condition = {[11]=2},
		attr = {{type=47,value=9000}},
	},
	[13] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[1]=3},
		skill = 35,
		exPower = 50000,
	},
	[14] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[3]=3,[7]=3},
		exattr = {{type=48,value=1000}},
		exPower = 70000,
	},
	[15] = {
		maxLevel = 10,
		upLevel = 1,
		condition = {[9]=4,[12]=4},
		exattr = {{type=47,value=1}},
		exPower = 100000,
	},
	[16] = {
		maxLevel = 99,
		upLevel = 99,
		condition = {[1]=5,[2]=5,[3]=5,[4]=5,[5]=5,[6]=5,[7]=5,[8]=5,[9]=5,[10]=5,[11]=5,[12]=5,[13]=1,[14]=1,[15]=1},
		attr = {{type=30,value=5400},{type=47,value=400},{type=50,value=100},{type=53,value=100}},
		exattr = {{type=46,value=10}},
	},
},
}