--S-神兵.xlsx 神兵任务
GodWeaponTaskConfig = {
[1] = {
	[1] = {
		weaponIdx = 1,
		taskIdx = 1,
		type = 101,
		param = 11,
		target = 2,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:无畏之心|","|C:0xe24ef9&T:魔法之心|","|C:0xe24ef9&T:狂暴元素|"},
	},
	[2] = {
		weaponIdx = 1,
		taskIdx = 2,
		type = 95,
		param = 0,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:开天神石|","|C:0xe24ef9&T:寒冰魔玉|","|C:0xe24ef9&T:白虎精魄|"},
	},
	[3] = {
		weaponIdx = 1,
		taskIdx = 3,
		type = 59,
		param = 0,
		target = 3,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:护体真元|","|C:0xe24ef9&T:火焰魔玉|","|C:0xe24ef9&T:摄魂符咒|"},
	},
	[4] = {
		weaponIdx = 1,
		taskIdx = 4,
		type = 5,
		param = 0,
		target = 3,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:雷霆战意|","|C:0xe24ef9&T:赤血战意|","|C:0xe24ef9&T:无极战意|"},
	},
	[5] = {
		weaponIdx = 1,
		taskIdx = 5,
		type = 26,
		param = 21011,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {},
		record = 1,
	},
},
[2] = {
	[1] = {
		weaponIdx = 2,
		taskIdx = 1,
		type = 98,
		param = 0,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:无畏之心|","|C:0xe24ef9&T:魔法之心|","|C:0xe24ef9&T:狂暴元素|"},
	},
	[2] = {
		weaponIdx = 2,
		taskIdx = 2,
		type = 95,
		param = 0,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:开天神石|","|C:0xe24ef9&T:寒冰魔玉|","|C:0xe24ef9&T:白虎精魄|"},
	},
	[3] = {
		weaponIdx = 2,
		taskIdx = 3,
		type = 59,
		param = 0,
		target = 3,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:护体真元|","|C:0xe24ef9&T:火焰魔玉|","|C:0xe24ef9&T:摄魂符咒|"},
	},
	[4] = {
		weaponIdx = 2,
		taskIdx = 4,
		type = 5,
		param = 0,
		target = 3,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:雷霆战意|","|C:0xe24ef9&T:赤血战意|","|C:0xe24ef9&T:无极战意|"},
	},
	[5] = {
		weaponIdx = 2,
		taskIdx = 5,
		type = 26,
		param = 21012,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {},
		record = 1,
	},
},
[3] = {
	[1] = {
		weaponIdx = 3,
		taskIdx = 1,
		type = 93,
		param = 0,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:无畏之心|","|C:0xe24ef9&T:魔法之心|","|C:0xe24ef9&T:狂暴元素|"},
	},
	[2] = {
		weaponIdx = 3,
		taskIdx = 2,
		type = 95,
		param = 0,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:开天神石|","|C:0xe24ef9&T:寒冰魔玉|","|C:0xe24ef9&T:白虎精魄|"},
	},
	[3] = {
		weaponIdx = 3,
		taskIdx = 3,
		type = 59,
		param = 0,
		target = 3,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:护体真元|","|C:0xe24ef9&T:火焰魔玉|","|C:0xe24ef9&T:摄魂符咒|"},
	},
	[4] = {
		weaponIdx = 3,
		taskIdx = 4,
		type = 5,
		param = 0,
		target = 3,
		rate = 7000,
		tips = "获得%s x 1",
		itemName = {"|C:0xe24ef9&T:雷霆战意|","|C:0xe24ef9&T:赤血战意|","|C:0xe24ef9&T:无极战意|"},
	},
	[5] = {
		weaponIdx = 3,
		taskIdx = 5,
		type = 26,
		param = 21013,
		target = 1,
		rate = 10000,
		tips = "获得%s x 1",
		itemName = {},
		record = 1,
	},
},
}